data/github-comments/apache-NiFi-60-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311436333","html_url":"https://github.com/apache/nifi/pull/1940#issuecomment-311436333","issue_url":"https://api.github.com/repos/apache/nifi/issues/1940","id":311436333,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQzNjMzMw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T17:56:55Z","updated_at":"2017-06-27T17:56:55Z","author_association":"CONTRIBUTOR","body":"Ran `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311436333/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":1,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311452207","html_url":"https://github.com/apache/nifi/pull/1950#issuecomment-311452207","issue_url":"https://api.github.com/repos/apache/nifi/issues/1950","id":311452207,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ1MjIwNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T18:56:01Z","updated_at":"2017-06-27T18:56:01Z","author_association":"CONTRIBUTOR","body":"+1, merging, thanks @trixpan ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311452207/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311454460","html_url":"https://github.com/apache/nifi/pull/1952#issuecomment-311454460","issue_url":"https://api.github.com/repos/apache/nifi/issues/1952","id":311454460,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ1NDQ2MA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T19:04:27Z","updated_at":"2017-06-27T19:04:27Z","author_association":"CONTRIBUTOR","body":"I'm not sure to see why this should need to be removed. This part ensures that the file that is created to define NiFi as a service is containing the proper header with the Apache licensing. Why would you want/need to remove that?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311454460/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311458833","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311458833","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311458833,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ1ODgzMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T19:22:34Z","updated_at":"2017-06-27T19:22:34Z","author_association":"CONTRIBUTOR","body":"Hi @ggthename, thanks for your contribution. Can you check that\r\n\r\n``mvn clean install -Pcontrib-check``\r\n\r\nis succeeding on your side? Travis builds are complaining about test failures and I've the same on my side. Once you have a succeeding build, can you rebase your PR and squash your commits.\r\n\r\nThanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311458833/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311459718","html_url":"https://github.com/apache/nifi/pull/1926#issuecomment-311459718","issue_url":"https://api.github.com/repos/apache/nifi/issues/1926","id":311459718,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ1OTcxOA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T19:25:58Z","updated_at":"2017-06-27T19:25:58Z","author_association":"CONTRIBUTOR","body":"Hey @NielsZeilemaker, thanks for your contribution! It's a +1 from me, I do see a real improvement on the size of the image but I'd appreciate if @apiri or @jdye64 could also have a quick look.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311459718/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311461005","html_url":"https://github.com/apache/nifi/pull/1926#issuecomment-311461005","issue_url":"https://api.github.com/repos/apache/nifi/issues/1926","id":311461005,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ2MTAwNQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T19:31:12Z","updated_at":"2017-06-27T19:31:12Z","author_association":"CONTRIBUTOR","body":"Actually... just realized that your work would be included by #1910.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311461005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311465234","html_url":"https://github.com/apache/nifi/pull/1903#issuecomment-311465234","issue_url":"https://api.github.com/repos/apache/nifi/issues/1903","id":311465234,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ2NTIzNA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T19:48:01Z","updated_at":"2017-06-27T19:48:01Z","author_association":"CONTRIBUTOR","body":"+1, code LGTM, build OK, event ID is correctly populated in the requests.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311465234/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311472836","html_url":"https://github.com/apache/nifi/pull/1917#issuecomment-311472836","issue_url":"https://api.github.com/repos/apache/nifi/issues/1917","id":311472836,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTQ3MjgzNg==","user":{"login":"champagst","id":6896251,"node_id":"MDQ6VXNlcjY4OTYyNTE=","avatar_url":"https://avatars.githubusercontent.com/u/6896251?v=4","gravatar_id":"","url":"https://api.github.com/users/champagst","html_url":"https://github.com/champagst","followers_url":"https://api.github.com/users/champagst/followers","following_url":"https://api.github.com/users/champagst/following{/other_user}","gists_url":"https://api.github.com/users/champagst/gists{/gist_id}","starred_url":"https://api.github.com/users/champagst/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/champagst/subscriptions","organizations_url":"https://api.github.com/users/champagst/orgs","repos_url":"https://api.github.com/users/champagst/repos","events_url":"https://api.github.com/users/champagst/events{/privacy}","received_events_url":"https://api.github.com/users/champagst/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T20:18:01Z","updated_at":"2017-06-27T20:18:01Z","author_association":"CONTRIBUTOR","body":"I figured out how this is intended to work. Sorry for the misunderstanding. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311472836/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311513263","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311513263","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311513263,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTUxMzI2Mw==","user":{"login":"ggthename","id":20106360,"node_id":"MDQ6VXNlcjIwMTA2MzYw","avatar_url":"https://avatars.githubusercontent.com/u/20106360?v=4","gravatar_id":"","url":"https://api.github.com/users/ggthename","html_url":"https://github.com/ggthename","followers_url":"https://api.github.com/users/ggthename/followers","following_url":"https://api.github.com/users/ggthename/following{/other_user}","gists_url":"https://api.github.com/users/ggthename/gists{/gist_id}","starred_url":"https://api.github.com/users/ggthename/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ggthename/subscriptions","organizations_url":"https://api.github.com/users/ggthename/orgs","repos_url":"https://api.github.com/users/ggthename/repos","events_url":"https://api.github.com/users/ggthename/events{/privacy}","received_events_url":"https://api.github.com/users/ggthename/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-27T23:23:33Z","updated_at":"2017-06-27T23:23:33Z","author_association":"NONE","body":" @pvillard31\r\nReally? I'm sorry. I'll check again. Thank you.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311513263/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311574464","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311574464","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311574464,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTU3NDQ2NA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T07:00:49Z","updated_at":"2017-06-28T07:00:49Z","author_association":"CONTRIBUTOR","body":"No worries @ggthename, I still see some issues regarding Keyspace property not evaluated with expression language:\r\n\r\n````\r\nRunning org.apache.nifi.processors.cassandra.PutCassandraQLTest\r\nTests run: 9, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.189 sec - in org.apache.nifi.processors.cassandra.PutCassandraQLTest\r\n\r\nResults :\r\n\r\nFailed tests: \r\n  QueryCassandraTest.testProcessorELConfigJsonOutput:173 java.lang.IllegalStateException: Attempting to retrieve value of PropertyDescriptor[Keyspace] without first evaluating Expressions, even though the PropertyDescriptor indicates that the Expression Language is Supported. If you realize that this is the case and do not want this error to occur, it can be disabled by calling TestRunner.setValidateExpressionUsage(false)\r\n  QueryCassandraTest.testProcessorEmptyFlowFileAndExceptions:212 java.lang.IllegalStateException: Attempting to retrieve value of PropertyDescriptor[Keyspace] without first evaluating Expressions, even though the PropertyDescriptor indicates that the Expression Language is Supported. If you realize that this is the case and do not want this error to occur, it can be disabled by calling TestRunner.setValidateExpressionUsage(false)\r\n  QueryCassandraTest.testProcessorJsonOutput:136 java.lang.IllegalStateException: Attempting to retrieve value of PropertyDescriptor[Keyspace] without first evaluating Expressions, even though the PropertyDescriptor indicates that the Expression Language is Supported. If you realize that this is the case and do not want this error to occur, it can be disabled by calling TestRunner.setValidateExpressionUsage(false)\r\n  QueryCassandraTest.testProcessorJsonOutputWithQueryTimeout:197 java.lang.IllegalStateException: Attempting to retrieve value of PropertyDescriptor[Keyspace] without first evaluating Expressions, even though the PropertyDescriptor indicates that the Expression Language is Supported. If you realize that this is the case and do not want this error to occur, it can be disabled by calling TestRunner.setValidateExpressionUsage(false)\r\n  QueryCassandraTest.testProcessorNoInputFlowFileAndExceptions:97 java.lang.IllegalStateException: Attempting to retrieve value of PropertyDescriptor[Keyspace] without first evaluating Expressions, even though the PropertyDescriptor indicates that the Expression Language is Supported. If you realize that this is the case and do not want this error to occur, it can be disabled by calling TestRunner.setValidateExpressionUsage(false)\r\n````","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311574464/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311579179","html_url":"https://github.com/apache/nifi/pull/1880#issuecomment-311579179","issue_url":"https://api.github.com/repos/apache/nifi/issues/1880","id":311579179,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTU3OTE3OQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T07:24:53Z","updated_at":"2017-06-28T07:25:06Z","author_association":"CONTRIBUTOR","body":"Hi @SreeramGarlapati, thanks for your contribution. I looked at the release notes from\r\nhttps://github.com/Azure/azure-event-hubs-java/\r\nAnd it seems there are few breaking changes between 0.9.0 and 0.14.0.\r\n\r\nIn particular:\r\n- The ``EventData.ApplicationProperties`` is now a ``Map<String, object>``. \r\n- Simplified EventData by deprecating the ``getBody*`` API's. As such, the following methods have been deprecated:\r\n    ``EventData.getBody()`` replaced with ``EventData.getBytes()``\r\n    ``EventData.getBodyOffset()``\r\n    ``EventData.getBodyLength()``\r\n\r\nI think we are only concerned by the deprecation of the ``getBody()`` that should be replaced by ``getBytes()`` in ``GetAzureEventHub``. Could you take care of that?\r\n\r\nOtherwise, I did few tests and it seems to be working as expected.\r\n\r\nThanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311579179/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311579905","html_url":"https://github.com/apache/nifi/pull/1880#issuecomment-311579905","issue_url":"https://api.github.com/repos/apache/nifi/issues/1880","id":311579905,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTU3OTkwNQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T07:28:37Z","updated_at":"2017-06-28T07:28:37Z","author_association":"CONTRIBUTOR","body":"Also, right now, 0.14.2 is available, I'd suggest to go with this version.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311579905/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311598158","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311598158","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311598158,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTU5ODE1OA==","user":{"login":"ggthename","id":20106360,"node_id":"MDQ6VXNlcjIwMTA2MzYw","avatar_url":"https://avatars.githubusercontent.com/u/20106360?v=4","gravatar_id":"","url":"https://api.github.com/users/ggthename","html_url":"https://github.com/ggthename","followers_url":"https://api.github.com/users/ggthename/followers","following_url":"https://api.github.com/users/ggthename/following{/other_user}","gists_url":"https://api.github.com/users/ggthename/gists{/gist_id}","starred_url":"https://api.github.com/users/ggthename/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ggthename/subscriptions","organizations_url":"https://api.github.com/users/ggthename/orgs","repos_url":"https://api.github.com/users/ggthename/repos","events_url":"https://api.github.com/users/ggthename/events{/privacy}","received_events_url":"https://api.github.com/users/ggthename/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T08:51:57Z","updated_at":"2017-06-28T08:52:17Z","author_association":"NONE","body":"@pvillard31 I fixed those tests. But I found the failures on other components. Is it ok?\r\n[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.\r\n18:test (default-test) on project nifi-write-ahead-log: There are test failures.\r\n\r\n[ERROR]\r\n[ERROR] Please refer to D:\\github\\nifi\\nifi-commons\\nifi-write-ahead-log\\target\\\r\nsurefire-reports for the individual test results.\r\n-------------------------------------------------------------------------------\r\nTest set: org.wali.TestMinimalLockingWriteAheadLog\r\n-------------------------------------------------------------------------------\r\nTests run: 12, Failures: 0, Errors: 1, Skipped: 2, Time elapsed: 7.56 sec <<< FAILURE! - in org.wali.TestMinimalLockingWriteAheadLog\r\ntestRecoverFileThatHasTrailingNULBytesAndTruncation(org.wali.TestMinimalLockingWriteAheadLog)  Time elapsed: 0.032 sec  <<< ERROR!\r\njava.nio.channels.OverlappingFileLockException: null\r\n\tat sun.nio.ch.SharedFileLockTable.checkList(FileLockTable.java:255)\r\n\tat sun.nio.ch.SharedFileLockTable.add(FileLockTable.java:152)\r\n\tat sun.nio.ch.FileChannelImpl.lock(FileChannelImpl.java:1063)\r\n\tat java.nio.channels.FileChannel.lock(FileChannel.java:1053)\r\n\tat org.wali.MinimalLockingWriteAheadLog.<init>(MinimalLockingWriteAheadLog.java:187)\r\n\tat org.wali.MinimalLockingWriteAheadLog.<init>(MinimalLockingWriteAheadLog.java:108)\r\n\tat org.wali.TestMinimalLockingWriteAheadLog.testRecoverFileThatHasTrailingNULBytesAndTruncation(TestMinimalLockingWriteAheadLog.java:472)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311598158/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311600367","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311600367","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311600367,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTYwMDM2Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T09:00:42Z","updated_at":"2017-06-28T09:00:42Z","author_association":"CONTRIBUTOR","body":"@ggthename, yes you can ignore this test failure, we are aware that this test intermittently fails. If you prefer you can do a ``mvn clean install -Pcontrib-check`` only in the Cassandra bundle directory for now.\r\n\r\nThe tests are now OK but the build still fails because of checkstyle issues (you need to run the ``contrib-check`` maven profile for that):\r\n\r\n````\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[38] (imports) AvoidStarImport: Using the '.*' form of import should be avoided - org.apache.nifi.annotation.behavior.*.\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[62] (imports) AvoidStarImport: Using the '.*' form of import should be avoided - java.util.*.\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[442:13] (blocks) RightCurly: '}' should be on the same line.\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[451:9] (blocks) RightCurly: '}' should be on the same line.\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[483:13] (blocks) RightCurly: '}' should be on the same line.\r\n[WARNING] src/main/java/org/apache/nifi/processors/cassandra/QueryCassandra.java[721:9] (blocks) RightCurly: '}' should be on the same line.\r\n````","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311600367/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311623192","html_url":"https://github.com/apache/nifi/pull/1952#issuecomment-311623192","issue_url":"https://api.github.com/repos/apache/nifi/issues/1952","id":311623192,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTYyMzE5Mg==","user":{"login":"zhengsg","id":24541431,"node_id":"MDQ6VXNlcjI0NTQxNDMx","avatar_url":"https://avatars.githubusercontent.com/u/24541431?v=4","gravatar_id":"","url":"https://api.github.com/users/zhengsg","html_url":"https://github.com/zhengsg","followers_url":"https://api.github.com/users/zhengsg/followers","following_url":"https://api.github.com/users/zhengsg/following{/other_user}","gists_url":"https://api.github.com/users/zhengsg/gists{/gist_id}","starred_url":"https://api.github.com/users/zhengsg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhengsg/subscriptions","organizations_url":"https://api.github.com/users/zhengsg/orgs","repos_url":"https://api.github.com/users/zhengsg/repos","events_url":"https://api.github.com/users/zhengsg/events{/privacy}","received_events_url":"https://api.github.com/users/zhengsg/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T10:39:40Z","updated_at":"2017-06-28T10:39:40Z","author_association":"NONE","body":"@pvillard31 I'm sorry，I have neglected that  is to created nifi init script file as a service。","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311623192/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311641476","html_url":"https://github.com/apache/nifi/pull/1863#issuecomment-311641476","issue_url":"https://api.github.com/repos/apache/nifi/issues/1863","id":311641476,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTY0MTQ3Ng==","user":{"login":"michaelandrepearce","id":1387822,"node_id":"MDQ6VXNlcjEzODc4MjI=","avatar_url":"https://avatars.githubusercontent.com/u/1387822?v=4","gravatar_id":"","url":"https://api.github.com/users/michaelandrepearce","html_url":"https://github.com/michaelandrepearce","followers_url":"https://api.github.com/users/michaelandrepearce/followers","following_url":"https://api.github.com/users/michaelandrepearce/following{/other_user}","gists_url":"https://api.github.com/users/michaelandrepearce/gists{/gist_id}","starred_url":"https://api.github.com/users/michaelandrepearce/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michaelandrepearce/subscriptions","organizations_url":"https://api.github.com/users/michaelandrepearce/orgs","repos_url":"https://api.github.com/users/michaelandrepearce/repos","events_url":"https://api.github.com/users/michaelandrepearce/events{/privacy}","received_events_url":"https://api.github.com/users/michaelandrepearce/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T12:12:16Z","updated_at":"2017-06-28T12:17:42Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak many thanks for the reviews and testing, really appreciated. I have committed the last changes (try catch), and squashed the commits into one single commit.\r\n\r\nThanks again for your time.\r\n\r\none small question, when roughly would next tag be due that would include this PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311641476/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311666824","html_url":"https://github.com/apache/nifi/pull/1956#issuecomment-311666824","issue_url":"https://api.github.com/repos/apache/nifi/issues/1956","id":311666824,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTY2NjgyNA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T13:53:59Z","updated_at":"2017-06-28T13:53:59Z","author_association":"CONTRIBUTOR","body":"@bbende would appreciate if you could review.  Thanks in advance!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311666824/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311673874","html_url":"https://github.com/apache/nifi/pull/1945#issuecomment-311673874","issue_url":"https://api.github.com/repos/apache/nifi/issues/1945","id":311673874,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTY3Mzg3NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T14:18:42Z","updated_at":"2017-06-28T14:18:42Z","author_association":"CONTRIBUTOR","body":"@markap14 I'm testing the change locally and will push the commit that addresses these once I'm satisfied it works.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311673874/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311689457","html_url":"https://github.com/apache/nifi/pull/1948#issuecomment-311689457","issue_url":"https://api.github.com/repos/apache/nifi/issues/1948","id":311689457,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTY4OTQ1Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T15:08:11Z","updated_at":"2017-06-28T15:08:11Z","author_association":"CONTRIBUTOR","body":"reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311689457/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311690358","html_url":"https://github.com/apache/nifi/pull/1956#issuecomment-311690358","issue_url":"https://api.github.com/repos/apache/nifi/issues/1956","id":311690358,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTY5MDM1OA==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T15:10:57Z","updated_at":"2017-06-28T15:10:57Z","author_association":"CONTRIBUTOR","body":"Sure, I'll take a look as soon as I wrap up a couple of things.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311690358/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311703438","html_url":"https://github.com/apache/nifi/pull/1948#issuecomment-311703438","issue_url":"https://api.github.com/repos/apache/nifi/issues/1948","id":311703438,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTcwMzQzOA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T15:52:07Z","updated_at":"2017-06-28T15:52:07Z","author_association":"CONTRIBUTOR","body":"Thanks @pvillard31. I'll get to these shortly.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311703438/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311727674","html_url":"https://github.com/apache/nifi/pull/1957#issuecomment-311727674","issue_url":"https://api.github.com/repos/apache/nifi/issues/1957","id":311727674,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTcyNzY3NA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T17:16:57Z","updated_at":"2017-06-28T17:16:57Z","author_association":"CONTRIBUTOR","body":"@mattyb149 will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311727674/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311758863","html_url":"https://github.com/apache/nifi/pull/1957#issuecomment-311758863","issue_url":"https://api.github.com/repos/apache/nifi/issues/1957","id":311758863,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTc1ODg2Mw==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T19:12:16Z","updated_at":"2017-06-28T19:12:16Z","author_association":"CONTRIBUTOR","body":"Ran tests using FileZilla on Windows 10 Server with flow containing GetFTP -> UpdateAttributes (for filename append) -> PutFTP.  Worked as expected with the below use cases:\r\n\r\nBelow demonstrates cases where UTF-8 was disabled then enabled\r\n\r\n![image](https://user-images.githubusercontent.com/1371858/27655615-fa8e1c02-5c13-11e7-8728-cd327bc8cf04.png)\r\n\r\nFiles were stored as expected on FTP server:\r\n\r\n![image](https://user-images.githubusercontent.com/1371858/27655598-ec13d52c-5c13-11e7-94c6-16b87a65637c.png)\r\n\r\n+1  will merge shortly\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311758863/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311774093","html_url":"https://github.com/apache/nifi/pull/1946#issuecomment-311774093","issue_url":"https://api.github.com/repos/apache/nifi/issues/1946","id":311774093,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTc3NDA5Mw==","user":{"login":"yuri1969","id":13468636,"node_id":"MDQ6VXNlcjEzNDY4NjM2","avatar_url":"https://avatars.githubusercontent.com/u/13468636?v=4","gravatar_id":"","url":"https://api.github.com/users/yuri1969","html_url":"https://github.com/yuri1969","followers_url":"https://api.github.com/users/yuri1969/followers","following_url":"https://api.github.com/users/yuri1969/following{/other_user}","gists_url":"https://api.github.com/users/yuri1969/gists{/gist_id}","starred_url":"https://api.github.com/users/yuri1969/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yuri1969/subscriptions","organizations_url":"https://api.github.com/users/yuri1969/orgs","repos_url":"https://api.github.com/users/yuri1969/repos","events_url":"https://api.github.com/users/yuri1969/events{/privacy}","received_events_url":"https://api.github.com/users/yuri1969/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T20:10:00Z","updated_at":"2017-06-28T20:10:00Z","author_association":"CONTRIBUTOR","body":"Reverted back to turned on by default.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311774093/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311790514","html_url":"https://github.com/apache/nifi/pull/1880#issuecomment-311790514","issue_url":"https://api.github.com/repos/apache/nifi/issues/1880","id":311790514,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTc5MDUxNA==","user":{"login":"SreeramGarlapati","id":11813428,"node_id":"MDQ6VXNlcjExODEzNDI4","avatar_url":"https://avatars.githubusercontent.com/u/11813428?v=4","gravatar_id":"","url":"https://api.github.com/users/SreeramGarlapati","html_url":"https://github.com/SreeramGarlapati","followers_url":"https://api.github.com/users/SreeramGarlapati/followers","following_url":"https://api.github.com/users/SreeramGarlapati/following{/other_user}","gists_url":"https://api.github.com/users/SreeramGarlapati/gists{/gist_id}","starred_url":"https://api.github.com/users/SreeramGarlapati/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SreeramGarlapati/subscriptions","organizations_url":"https://api.github.com/users/SreeramGarlapati/orgs","repos_url":"https://api.github.com/users/SreeramGarlapati/repos","events_url":"https://api.github.com/users/SreeramGarlapati/events{/privacy}","received_events_url":"https://api.github.com/users/SreeramGarlapati/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T21:04:58Z","updated_at":"2017-06-28T21:04:58Z","author_association":"NONE","body":"@pvillard31 - appreciate your feedback...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311790514/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311806963","html_url":"https://github.com/apache/nifi/pull/1946#issuecomment-311806963","issue_url":"https://api.github.com/repos/apache/nifi/issues/1946","id":311806963,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTgwNjk2Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T22:11:32Z","updated_at":"2017-06-28T22:11:32Z","author_association":"CONTRIBUTOR","body":"Upon testing this feature, I'm not sure it's necessary. Java SE 5+ has a [restriction on entity expansion to 64,000 elements enabled by default](https://docs.oracle.com/javase/1.5.0/docs/guide/xml/jaxp/JAXP-Compatibility_150.html#JAXP_security) ([more information from Blaise Doughan here](http://blog.bdoughan.com/2011/03/preventing-entity-expansion-attacks-in.html)), so if I try to ingest the following XXE file, I get an appropriate error response:\r\n\r\n```\r\n<!DOCTYPE foo [ \r\n<!ENTITY a \"1234567890\" > \r\n<!ENTITY b \"&a;&a;&a;&a;&a;&a;&a;&a;&a;&a;\" > \r\n<!ENTITY c \"&b;&b;&b;&b;&b;&b;&b;&b;&b;&b;\" > \r\n<!ENTITY d \"&c;&c;&c;&c;&c;&c;&c;&c;&c;&c;\" > \r\n<!ENTITY e \"&d;&d;&d;&d;&d;&d;&d;&d;&d;&d;\" > \r\n<!ENTITY f \"&e;&e;&e;&e;&e;&e;&e;&e;&e;&e;\" > \r\n<!ENTITY g \"&f;&f;&f;&f;&f;&f;&f;&f;&f;&f;\" > \r\n<!ENTITY h \"&g;&g;&g;&g;&g;&g;&g;&g;&g;&g;\" > \r\n<!ENTITY i \"&h;&h;&h;&h;&h;&h;&h;&h;&h;&h;\" > \r\n<!ENTITY j \"&i;&i;&i;&i;&i;&i;&i;&i;&i;&i;\" > \r\n]> \r\n<foo>&j;</foo>\r\n```\r\n\r\nError when trying to view flowfile content in \"formatted\" view (current master):\r\n\r\n`2017-06-28 15:02:40,226 ERROR [NiFi Web Server-18] o.a.nifi.web.ContentViewerController Unable to generate view of data: Unable to transform content as XML: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.`\r\n\r\nWhen routed to a `TransformXML` processor, I get an identical stacktrace in all three of the following scenarios:\r\n\r\n1. Current master\r\n2. This patch applied with \"Secure processing\" `false`\r\n3. This patch applied with \"Secure processing\" `true`\r\n\r\nStacktrace:\r\n\r\n```\r\n2017-06-28 15:04:49,456 ERROR [Timer-Driven Process Thread-9] o.a.n.processors.standard.TransformXml TransformXml[id=efe47d1c-015c-1000-7bae-719994808e8a] Unable to transform StandardFlowFileRecord[uuid=9f91546e-f7b4-4113-97fa-6abb1006b8c9,claim=StandardContentClaim [resourceClaim=StandardResourceClaim[id=1498687343214-1, container=default, section=1], offset=485, length=485],offset=0,name=xxe.xml,size=485] due to org.apache.nifi.processor.exception.ProcessException: IOException thrown from TransformXml[id=efe47d1c-015c-1000-7bae-719994808e8a]: java.io.IOException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.: {}\r\norg.apache.nifi.processor.exception.ProcessException: IOException thrown from TransformXml[id=efe47d1c-015c-1000-7bae-719994808e8a]: java.io.IOException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.\r\n\tat org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:2806)\r\n\tat org.apache.nifi.processors.standard.TransformXml.onTrigger(TransformXml.java:234)\r\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1120)\r\n\tat org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:147)\r\n\tat org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:47)\r\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:132)\r\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\r\n\tat java.lang.Thread.run(Thread.java:745)\r\nCaused by: java.io.IOException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.\r\n\tat org.apache.nifi.processors.standard.TransformXml$2.process(TransformXml.java:261)\r\n\tat org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:2785)\r\n\t... 13 common frames omitted\r\nCaused by: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.\r\n\tat net.sf.saxon.event.Sender.sendSAXSource(Sender.java:460)\r\n\tat net.sf.saxon.event.Sender.send(Sender.java:171)\r\n\tat net.sf.saxon.Controller.transform(Controller.java:1692)\r\n\tat net.sf.saxon.s9api.XsltTransformer.transform(XsltTransformer.java:547)\r\n\tat net.sf.saxon.jaxp.TransformerImpl.transform(TransformerImpl.java:179)\r\n\tat org.apache.nifi.processors.standard.TransformXml$2.process(TransformXml.java:259)\r\n\t... 14 common frames omitted\r\nCaused by: org.xml.sax.SAXParseException: JAXP00010001: The parser has encountered more than \"64000\" entity expansions in this document; this is the limit imposed by the JDK.\r\n\tat com.sun.org.apache.xerces.internal.util.ErrorHandlerWrapper.createSAXParseException(ErrorHandlerWrapper.java:203)\r\n\tat com.sun.org.apache.xerces.internal.util.ErrorHandlerWrapper.fatalError(ErrorHandlerWrapper.java:177)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLErrorReporter.reportError(XMLErrorReporter.java:400)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLErrorReporter.reportError(XMLErrorReporter.java:327)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLErrorReporter.reportError(XMLErrorReporter.java:284)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLEntityManager.startEntity(XMLEntityManager.java:1317)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLEntityManager.startEntity(XMLEntityManager.java:1241)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLDocumentFragmentScannerImpl.scanEntityReference(XMLDocumentFragmentScannerImpl.java:1902)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLDocumentFragmentScannerImpl$FragmentContentDriver.next(XMLDocumentFragmentScannerImpl.java:3058)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLDocumentScannerImpl.next(XMLDocumentScannerImpl.java:606)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLNSDocumentScannerImpl.next(XMLNSDocumentScannerImpl.java:118)\r\n\tat com.sun.org.apache.xerces.internal.impl.XMLDocumentFragmentScannerImpl.scanDocument(XMLDocumentFragmentScannerImpl.java:504)\r\n\tat com.sun.org.apache.xerces.internal.parsers.XML11Configuration.parse(XML11Configuration.java:848)\r\n\tat com.sun.org.apache.xerces.internal.parsers.XML11Configuration.parse(XML11Configuration.java:777)\r\n\tat com.sun.org.apache.xerces.internal.parsers.XMLParser.parse(XMLParser.java:141)\r\n\tat com.sun.org.apache.xerces.internal.parsers.AbstractSAXParser.parse(AbstractSAXParser.java:1213)\r\n\tat com.sun.org.apache.xerces.internal.jaxp.SAXParserImpl$JAXPSAXParser.parse(SAXParserImpl.java:643)\r\n\tat net.sf.saxon.event.Sender.sendSAXSource(Sender.java:440)\r\n\t... 19 common frames omitted\r\n```\r\n\r\nIf this protection is enabled by the JRE, and disabling \"Secure processing\" doesn't affect it, what does this feature provide?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311806963/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311814238","html_url":"https://github.com/apache/nifi/pull/1947#issuecomment-311814238","issue_url":"https://api.github.com/repos/apache/nifi/issues/1947","id":311814238,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTgxNDIzOA==","user":{"login":"m-hogue","id":7054178,"node_id":"MDQ6VXNlcjcwNTQxNzg=","avatar_url":"https://avatars.githubusercontent.com/u/7054178?v=4","gravatar_id":"","url":"https://api.github.com/users/m-hogue","html_url":"https://github.com/m-hogue","followers_url":"https://api.github.com/users/m-hogue/followers","following_url":"https://api.github.com/users/m-hogue/following{/other_user}","gists_url":"https://api.github.com/users/m-hogue/gists{/gist_id}","starred_url":"https://api.github.com/users/m-hogue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-hogue/subscriptions","organizations_url":"https://api.github.com/users/m-hogue/orgs","repos_url":"https://api.github.com/users/m-hogue/repos","events_url":"https://api.github.com/users/m-hogue/events{/privacy}","received_events_url":"https://api.github.com/users/m-hogue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-28T22:52:38Z","updated_at":"2017-06-28T22:52:38Z","author_association":"MEMBER","body":"Okay, I think i've got the nar and assembly LICENSE and NOTICE files set. \r\n\r\n@trkurc : I can squash these commits if you'd like. Just let me know.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311814238/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311829270","html_url":"https://github.com/apache/nifi/pull/1937#issuecomment-311829270","issue_url":"https://api.github.com/repos/apache/nifi/issues/1937","id":311829270,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTgyOTI3MA==","user":{"login":"ggthename","id":20106360,"node_id":"MDQ6VXNlcjIwMTA2MzYw","avatar_url":"https://avatars.githubusercontent.com/u/20106360?v=4","gravatar_id":"","url":"https://api.github.com/users/ggthename","html_url":"https://github.com/ggthename","followers_url":"https://api.github.com/users/ggthename/followers","following_url":"https://api.github.com/users/ggthename/following{/other_user}","gists_url":"https://api.github.com/users/ggthename/gists{/gist_id}","starred_url":"https://api.github.com/users/ggthename/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ggthename/subscriptions","organizations_url":"https://api.github.com/users/ggthename/orgs","repos_url":"https://api.github.com/users/ggthename/repos","events_url":"https://api.github.com/users/ggthename/events{/privacy}","received_events_url":"https://api.github.com/users/ggthename/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T00:33:34Z","updated_at":"2017-06-29T00:33:34Z","author_association":"NONE","body":"@pvillard31 I also solved checkstyle issues after doing a mvn clean install -Pcontrib-check.\r\nDo you have still issues? Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311829270/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311837036","html_url":"https://github.com/apache/nifi/pull/1863#issuecomment-311837036","issue_url":"https://api.github.com/repos/apache/nifi/issues/1863","id":311837036,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTgzNzAzNg==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T01:30:06Z","updated_at":"2017-06-29T01:30:06Z","author_association":"MEMBER","body":"@michaelandrepearce The latest commits had a checkstyle issue (whitespacing) but I fixed it and confirmed contrib check passed locally. All LGTM +1!\r\n\r\nI'm not aware of discussion on the time estimate for next release yet. Please keep your eye on Apache NiFi dev ML.\r\n\r\nThanks again for your great contribution!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311837036/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311868862","html_url":"https://github.com/apache/nifi/pull/1946#issuecomment-311868862","issue_url":"https://api.github.com/repos/apache/nifi/issues/1946","id":311868862,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTg2ODg2Mg==","user":{"login":"yuri1969","id":13468636,"node_id":"MDQ6VXNlcjEzNDY4NjM2","avatar_url":"https://avatars.githubusercontent.com/u/13468636?v=4","gravatar_id":"","url":"https://api.github.com/users/yuri1969","html_url":"https://github.com/yuri1969","followers_url":"https://api.github.com/users/yuri1969/followers","following_url":"https://api.github.com/users/yuri1969/following{/other_user}","gists_url":"https://api.github.com/users/yuri1969/gists{/gist_id}","starred_url":"https://api.github.com/users/yuri1969/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yuri1969/subscriptions","organizations_url":"https://api.github.com/users/yuri1969/orgs","repos_url":"https://api.github.com/users/yuri1969/repos","events_url":"https://api.github.com/users/yuri1969/events{/privacy}","received_events_url":"https://api.github.com/users/yuri1969/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T05:49:30Z","updated_at":"2017-06-29T05:52:34Z","author_association":"CONTRIBUTOR","body":"The `transformXml` uses Saxon HE implementation of a XSLT Processor. So Saxon implements the features.\r\n\r\n- `FEATURE_SECURE_PROCESSING` is a XSLT Processor feature that restricts XSLT functionality like `system-property()` to access Java system properties, using relative URIs in `xsl:result-document`, etc. So it should mitigate some threats coming from using non-trusted XSLTs.\r\n\r\n- both `http://xml.org/sax/features/external` are XML Parser features that restrict using `<!ENTITY` of `<!DOCTYPE` in a XML file. An attacker can use entities to obtain access to your FS. \r\n\r\nFor example a malicious non-trusted input XML:\r\n```\r\n<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!DOCTYPE foo [\r\n        <!ELEMENT foo ANY >\r\n        <!ENTITY xxe SYSTEM \"file:///etc/passwd\" >]>\r\n<foo>&xxe;</foo>\r\n```\r\nThen a XSLT output containing element `foo` leaks content of your /etc/passwd file.\r\n\r\n- Billion laughs/LOL bomb/Entity expansion DoS is trully secured by JRE default as you showed. So no need for a feature here.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311868862/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311868994","html_url":"https://github.com/apache/nifi/pull/1891#issuecomment-311868994","issue_url":"https://api.github.com/repos/apache/nifi/issues/1891","id":311868994,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTg2ODk5NA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T05:50:32Z","updated_at":"2017-06-29T05:50:32Z","author_association":"MEMBER","body":"Rebased and solved conflicts. @markap14 Would you take a look on it again?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311868994/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311884842","html_url":"https://github.com/apache/nifi/pull/1880#issuecomment-311884842","issue_url":"https://api.github.com/repos/apache/nifi/issues/1880","id":311884842,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTg4NDg0Mg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T07:25:27Z","updated_at":"2017-06-29T07:25:27Z","author_association":"CONTRIBUTOR","body":"+1, merging, thanks @SreeramGarlapati ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311884842/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311926556","html_url":"https://github.com/apache/nifi/pull/1926#issuecomment-311926556","issue_url":"https://api.github.com/repos/apache/nifi/issues/1926","id":311926556,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTkyNjU1Ng==","user":{"login":"NielsZeilemaker","id":3777585,"node_id":"MDQ6VXNlcjM3Nzc1ODU=","avatar_url":"https://avatars.githubusercontent.com/u/3777585?v=4","gravatar_id":"","url":"https://api.github.com/users/NielsZeilemaker","html_url":"https://github.com/NielsZeilemaker","followers_url":"https://api.github.com/users/NielsZeilemaker/followers","following_url":"https://api.github.com/users/NielsZeilemaker/following{/other_user}","gists_url":"https://api.github.com/users/NielsZeilemaker/gists{/gist_id}","starred_url":"https://api.github.com/users/NielsZeilemaker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NielsZeilemaker/subscriptions","organizations_url":"https://api.github.com/users/NielsZeilemaker/orgs","repos_url":"https://api.github.com/users/NielsZeilemaker/repos","events_url":"https://api.github.com/users/NielsZeilemaker/events{/privacy}","received_events_url":"https://api.github.com/users/NielsZeilemaker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T10:26:34Z","updated_at":"2017-06-29T10:26:34Z","author_association":"CONTRIBUTOR","body":"@pvillard31 I'll close this one, because it is indeed included by #1910\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311926556/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311929681","html_url":"https://github.com/apache/nifi/pull/1948#issuecomment-311929681","issue_url":"https://api.github.com/repos/apache/nifi/issues/1948","id":311929681,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTkyOTY4MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T10:42:01Z","updated_at":"2017-06-29T10:42:01Z","author_association":"CONTRIBUTOR","body":"+1, thanks @MikeThomsen \r\nI'll revert the change on ``@Ignore`` while merging to master (it's needed to keep a valid build, this test class being more an integration test).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311929681/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311964279","html_url":"https://github.com/apache/nifi/pull/1942#issuecomment-311964279","issue_url":"https://api.github.com/repos/apache/nifi/issues/1942","id":311964279,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTk2NDI3OQ==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T13:21:38Z","updated_at":"2017-06-29T13:21:38Z","author_association":"CONTRIBUTOR","body":"Hey Folks:\r\n\r\nCan you please give me your feedback on this RethinkDB Put processor ?\r\n\r\nThanks\r\n\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311964279/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311969473","html_url":"https://github.com/apache/nifi/pull/1906#issuecomment-311969473","issue_url":"https://api.github.com/repos/apache/nifi/issues/1906","id":311969473,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMTk2OTQ3Mw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T13:39:56Z","updated_at":"2017-06-29T13:39:56Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak that's a great catch! Pushed a new commit to address. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/311969473/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312000246","html_url":"https://github.com/apache/nifi/pull/1959#issuecomment-312000246","issue_url":"https://api.github.com/repos/apache/nifi/issues/1959","id":312000246,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjAwMDI0Ng==","user":{"login":"scottyaslan","id":6797571,"node_id":"MDQ6VXNlcjY3OTc1NzE=","avatar_url":"https://avatars.githubusercontent.com/u/6797571?v=4","gravatar_id":"","url":"https://api.github.com/users/scottyaslan","html_url":"https://github.com/scottyaslan","followers_url":"https://api.github.com/users/scottyaslan/followers","following_url":"https://api.github.com/users/scottyaslan/following{/other_user}","gists_url":"https://api.github.com/users/scottyaslan/gists{/gist_id}","starred_url":"https://api.github.com/users/scottyaslan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scottyaslan/subscriptions","organizations_url":"https://api.github.com/users/scottyaslan/orgs","repos_url":"https://api.github.com/users/scottyaslan/repos","events_url":"https://api.github.com/users/scottyaslan/events{/privacy}","received_events_url":"https://api.github.com/users/scottyaslan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T15:21:04Z","updated_at":"2017-06-29T15:21:04Z","author_association":"CONTRIBUTOR","body":"Reviewing....","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312000246/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312011398","html_url":"https://github.com/apache/nifi/pull/1959#issuecomment-312011398","issue_url":"https://api.github.com/repos/apache/nifi/issues/1959","id":312011398,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjAxMTM5OA==","user":{"login":"scottyaslan","id":6797571,"node_id":"MDQ6VXNlcjY3OTc1NzE=","avatar_url":"https://avatars.githubusercontent.com/u/6797571?v=4","gravatar_id":"","url":"https://api.github.com/users/scottyaslan","html_url":"https://github.com/scottyaslan","followers_url":"https://api.github.com/users/scottyaslan/followers","following_url":"https://api.github.com/users/scottyaslan/following{/other_user}","gists_url":"https://api.github.com/users/scottyaslan/gists{/gist_id}","starred_url":"https://api.github.com/users/scottyaslan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scottyaslan/subscriptions","organizations_url":"https://api.github.com/users/scottyaslan/orgs","repos_url":"https://api.github.com/users/scottyaslan/repos","events_url":"https://api.github.com/users/scottyaslan/events{/privacy}","received_events_url":"https://api.github.com/users/scottyaslan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T15:57:07Z","updated_at":"2017-06-29T15:57:07Z","author_association":"CONTRIBUTOR","body":"Thanks @andrewmlim this has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312011398/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312054365","html_url":"https://github.com/apache/nifi/pull/1946#issuecomment-312054365","issue_url":"https://api.github.com/repos/apache/nifi/issues/1946","id":312054365,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjA1NDM2NQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T18:26:39Z","updated_at":"2017-06-29T18:26:39Z","author_association":"CONTRIBUTOR","body":"Thanks for that detailed explanation. I updated the commit message to fit our format. \r\n\r\nRan `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312054365/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":1,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312070028","html_url":"https://github.com/apache/nifi/pull/1958#issuecomment-312070028","issue_url":"https://api.github.com/repos/apache/nifi/issues/1958","id":312070028,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjA3MDAyOA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-29T19:08:00Z","updated_at":"2017-06-29T19:08:00Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312070028/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312214412","html_url":"https://github.com/apache/nifi/pull/1906#issuecomment-312214412","issue_url":"https://api.github.com/repos/apache/nifi/issues/1906","id":312214412,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjIxNDQxMg==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T08:56:53Z","updated_at":"2017-06-30T08:56:53Z","author_association":"MEMBER","body":"@markap14 Thanks for the updates. All LGTM, +1! Merging to master..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312214412/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312246752","html_url":"https://github.com/apache/nifi/pull/1960#issuecomment-312246752","issue_url":"https://api.github.com/repos/apache/nifi/issues/1960","id":312246752,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjI0Njc1Mg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T11:45:53Z","updated_at":"2017-06-30T11:45:53Z","author_association":"CONTRIBUTOR","body":"+1, merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312246752/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312324202","html_url":"https://github.com/apache/nifi/pull/1965#issuecomment-312324202","issue_url":"https://api.github.com/repos/apache/nifi/issues/1965","id":312324202,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjMyNDIwMg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T17:16:42Z","updated_at":"2017-06-30T17:16:42Z","author_association":"CONTRIBUTOR","body":"Thanks @andrewmlim, this looks great. Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312324202/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312350731","html_url":"https://github.com/apache/nifi/pull/1954#issuecomment-312350731","issue_url":"https://api.github.com/repos/apache/nifi/issues/1954","id":312350731,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjM1MDczMQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T19:11:59Z","updated_at":"2017-06-30T19:11:59Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the fix!  I wish we had the ability to check connections upon validation, so we could prevent the user from starting the processor in this situation, but an error message / bulletin will work just fine until that happens.\r\nMerging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312350731/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312358616","html_url":"https://github.com/apache/nifi/pull/1956#issuecomment-312358616","issue_url":"https://api.github.com/repos/apache/nifi/issues/1956","id":312358616,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjM1ODYxNg==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T19:51:28Z","updated_at":"2017-06-30T19:51:28Z","author_association":"CONTRIBUTOR","body":"This looks good! Made sure existing config can run without the new classpath element, and then verified I could start the Ranger authorizer with it.\r\n\r\nMy only comment, and I know this is super picky, but can we switch the order of `class` and `classpath` in the XSD so that it would be identifier, class, classpath? \r\n\r\nI think it just reads a little cleaner to know which authorizer we are talking about before reading the classpath.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312358616/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312379510","html_url":"https://github.com/apache/nifi/pull/1965#issuecomment-312379510","issue_url":"https://api.github.com/repos/apache/nifi/issues/1965","id":312379510,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjM3OTUxMA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T21:44:23Z","updated_at":"2017-06-30T21:44:23Z","author_association":"CONTRIBUTOR","body":"I made some minor formatting changes for readability and consistency (these were inconsistent in the source `help` output for the tools, so that should be fixed in a separate ticket). \r\n\r\nMy changes are available [here - 8ef28be](https://github.com/alopresto/nifi/commit/8ef28bef9e11c0772784abf7f53b542e300a5f31). ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312379510/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312383633","html_url":"https://github.com/apache/nifi/pull/1965#issuecomment-312383633","issue_url":"https://api.github.com/repos/apache/nifi/issues/1965","id":312383633,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjM4MzYzMw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T22:09:42Z","updated_at":"2017-06-30T22:09:42Z","author_association":"CONTRIBUTOR","body":"Ran `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312383633/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312384991","html_url":"https://github.com/apache/nifi/pull/1964#issuecomment-312384991","issue_url":"https://api.github.com/repos/apache/nifi/issues/1964","id":312384991,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjM4NDk5MQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-06-30T22:18:50Z","updated_at":"2017-06-30T22:18:50Z","author_association":"CONTRIBUTOR","body":"Hi,\r\n\r\nWith the release of Apache NiFi 1.2.0 and 1.3.0, the *record* paradigm has been introduced to better support protocol/format/schema conversion. This moves away from the `ConvertXToY` type processors in favor of providing custom *record reader* and *recordset writer* controller service implementations which can be leveraged and re-used by `LookupRecord`, `ConvertRecord`, `PartitionRecord`, `QueryRecord`, `MergeRecord`, `UpdateRecord`, etc. There is already a `JsonTreeReader`, `JsonPathReader`, and `JsonRecordSetWriter` available, so if you were to provide an `OrcReader` and `OrcRecordSetWriter`, you would be able to perform bidirectional conversion of JSON to/from Orc, along with Grok, CSV, Avro, freeform text, and scripted implementations. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312384991/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312431258","html_url":"https://github.com/apache/nifi/pull/1941#issuecomment-312431258","issue_url":"https://api.github.com/repos/apache/nifi/issues/1941","id":312431258,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQzMTI1OA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-01T13:06:39Z","updated_at":"2017-07-01T13:06:39Z","author_association":"CONTRIBUTOR","body":"started reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312431258/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312435107","html_url":"https://github.com/apache/nifi/pull/1941#issuecomment-312435107","issue_url":"https://api.github.com/repos/apache/nifi/issues/1941","id":312435107,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQzNTEwNw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-01T14:29:22Z","updated_at":"2017-07-01T14:29:22Z","author_association":"CONTRIBUTOR","body":"Still working through the non-style changes and working on test scenario. @lfrancke - did you have an integration test \"environment\" you used?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312435107/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312452580","html_url":"https://github.com/apache/nifi/pull/1941#issuecomment-312452580","issue_url":"https://api.github.com/repos/apache/nifi/issues/1941","id":312452580,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQ1MjU4MA==","user":{"login":"lfrancke","id":122850,"node_id":"MDQ6VXNlcjEyMjg1MA==","avatar_url":"https://avatars.githubusercontent.com/u/122850?v=4","gravatar_id":"","url":"https://api.github.com/users/lfrancke","html_url":"https://github.com/lfrancke","followers_url":"https://api.github.com/users/lfrancke/followers","following_url":"https://api.github.com/users/lfrancke/following{/other_user}","gists_url":"https://api.github.com/users/lfrancke/gists{/gist_id}","starred_url":"https://api.github.com/users/lfrancke/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lfrancke/subscriptions","organizations_url":"https://api.github.com/users/lfrancke/orgs","repos_url":"https://api.github.com/users/lfrancke/repos","events_url":"https://api.github.com/users/lfrancke/events{/privacy}","received_events_url":"https://api.github.com/users/lfrancke/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-01T19:56:42Z","updated_at":"2017-07-01T19:56:42Z","author_association":"MEMBER","body":"@trkurc Thank you for taking the time for your thorough review!\r\n\r\nI'll go through everything you raised separately and will amend the pull request.\r\n\r\nYou are totally correct that I forgot about backwards compatibility. In that case I would add deprecation notices to the affected methods instead so they can be removed in a later version. I did a quick search just now but didn't see a policy on this.\r\n\r\nAssuming this makes the 1.4 release could the removal happen in 1.5 or does it need to wait until 2.0 or do you have any other policy?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312452580/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312453325","html_url":"https://github.com/apache/nifi/pull/1941#issuecomment-312453325","issue_url":"https://api.github.com/repos/apache/nifi/issues/1941","id":312453325,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQ1MzMyNQ==","user":{"login":"lfrancke","id":122850,"node_id":"MDQ6VXNlcjEyMjg1MA==","avatar_url":"https://avatars.githubusercontent.com/u/122850?v=4","gravatar_id":"","url":"https://api.github.com/users/lfrancke","html_url":"https://github.com/lfrancke","followers_url":"https://api.github.com/users/lfrancke/followers","following_url":"https://api.github.com/users/lfrancke/following{/other_user}","gists_url":"https://api.github.com/users/lfrancke/gists{/gist_id}","starred_url":"https://api.github.com/users/lfrancke/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lfrancke/subscriptions","organizations_url":"https://api.github.com/users/lfrancke/orgs","repos_url":"https://api.github.com/users/lfrancke/repos","events_url":"https://api.github.com/users/lfrancke/events{/privacy}","received_events_url":"https://api.github.com/users/lfrancke/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-01T20:12:50Z","updated_at":"2017-07-01T20:12:50Z","author_association":"MEMBER","body":"Regarding your question about the tests:\r\n\r\nI did the same as in [NIFI-1537](https://issues.apache.org/jira/browse/NIFI-1537): I tried this with [snmpsim](https://github.com/etingof/snmpsim). That's how I stumbled across the original bug and it's how I tested this patch.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312453325/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312465052","html_url":"https://github.com/apache/nifi/pull/1941#issuecomment-312465052","issue_url":"https://api.github.com/repos/apache/nifi/issues/1941","id":312465052,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQ2NTA1Mg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-02T01:28:54Z","updated_at":"2017-07-02T01:28:54Z","author_association":"CONTRIBUTOR","body":"@lfrancke - you can find the versioning scheme here: https://cwiki.apache.org/confluence/display/NIFI/Version+Scheme+and+API+Compatibility\r\n\r\nMy interpretation would be wait until a major revision (i.e. 2.x) because this is an extension, and hence part of the NiFi API, and there is paragraph about issues changing method signatures later in the guide\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312465052/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312496954","html_url":"https://github.com/apache/nifi/pull/1967#issuecomment-312496954","issue_url":"https://api.github.com/repos/apache/nifi/issues/1967","id":312496954,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjQ5Njk1NA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-02T15:00:51Z","updated_at":"2017-07-02T15:00:51Z","author_association":"CONTRIBUTOR","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312496954/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312500239","html_url":"https://github.com/apache/nifi/pull/1967#issuecomment-312500239","issue_url":"https://api.github.com/repos/apache/nifi/issues/1967","id":312500239,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjUwMDIzOQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-02T16:00:22Z","updated_at":"2017-07-02T16:00:22Z","author_association":"CONTRIBUTOR","body":"contrib-check passed, tested flow before and after the change. successfully tested some Charsets like UTF-32. will merge in.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312500239/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312615395","html_url":"https://github.com/apache/nifi/pull/1970#issuecomment-312615395","issue_url":"https://api.github.com/repos/apache/nifi/issues/1970","id":312615395,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjYxNTM5NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-03T10:55:50Z","updated_at":"2017-07-03T10:55:50Z","author_association":"CONTRIBUTOR","body":"Hey @joewitt, hopefully this should allow to remove some ``@Ignore`` (I believe I removed the Windows-specific ones). Also I added a reference in the top-level NOTICE. Since it's just a code dependency, I assume this is the only place where it's needed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312615395/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312634346","html_url":"https://github.com/apache/nifi/pull/1877#issuecomment-312634346","issue_url":"https://api.github.com/repos/apache/nifi/issues/1877","id":312634346,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjYzNDM0Ng==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-03T12:37:19Z","updated_at":"2017-07-03T12:37:19Z","author_association":"MEMBER","body":"@markap14 I've refactored getSchema methods from using FlowFile to using Map<String, String>. Does it look better now?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312634346/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312741172","html_url":"https://github.com/apache/nifi/pull/1945#issuecomment-312741172","issue_url":"https://api.github.com/repos/apache/nifi/issues/1945","id":312741172,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjc0MTE3Mg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-03T22:05:04Z","updated_at":"2017-07-03T22:05:04Z","author_association":"CONTRIBUTOR","body":"@markap14  @bbende Everything looks good. Do you want to commit?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312741172/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312871721","html_url":"https://github.com/apache/nifi/pull/1975#issuecomment-312871721","issue_url":"https://api.github.com/repos/apache/nifi/issues/1975","id":312871721,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjg3MTcyMQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T12:58:57Z","updated_at":"2017-07-04T12:58:57Z","author_association":"MEMBER","body":"As #1915 changes the same files and these two are related, I created this PR based on #1915.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312871721/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312872012","html_url":"https://github.com/apache/nifi/pull/1966#issuecomment-312872012","issue_url":"https://api.github.com/repos/apache/nifi/issues/1966","id":312872012,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjg3MjAxMg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T13:00:19Z","updated_at":"2017-07-04T13:00:19Z","author_association":"CONTRIBUTOR","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312872012/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312873112","html_url":"https://github.com/apache/nifi/pull/1915#issuecomment-312873112","issue_url":"https://api.github.com/repos/apache/nifi/issues/1915","id":312873112,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjg3MzExMg==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T13:05:09Z","updated_at":"2017-07-04T13:05:09Z","author_association":"MEMBER","body":"Travis still fails occasionally, but with different projects. I believe this PR is now ready to be reviewed. It's strongly encourage to read [this dev ML](http://apache-nifi-developer-list.39713.n7.nabble.com/processors-ListFile-ListSFTP-do-not-store-milliseconds-in-timestamp-td16037.html#a16059) thread before testing or reviewing this PR to understand backgrounds. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312873112/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312913370","html_url":"https://github.com/apache/nifi/pull/1966#issuecomment-312913370","issue_url":"https://api.github.com/repos/apache/nifi/issues/1966","id":312913370,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjkxMzM3MA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T16:15:10Z","updated_at":"2017-07-04T16:15:10Z","author_association":"CONTRIBUTOR","body":"@trkurc I just pushed a commit that should address your comments, let me know if not.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312913370/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312934562","html_url":"https://github.com/apache/nifi/pull/1942#issuecomment-312934562","issue_url":"https://api.github.com/repos/apache/nifi/issues/1942","id":312934562,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjkzNDU2Mg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T18:51:37Z","updated_at":"2017-07-04T18:51:37Z","author_association":"CONTRIBUTOR","body":"Reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312934562/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312963612","html_url":"https://github.com/apache/nifi/pull/1942#issuecomment-312963612","issue_url":"https://api.github.com/repos/apache/nifi/issues/1942","id":312963612,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjk2MzYxMg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-04T22:46:22Z","updated_at":"2017-07-04T22:46:22Z","author_association":"CONTRIBUTOR","body":"@mans2singh, thanks for contributing this!  I have a few general comments from a first pass:\r\n\r\n* The notice information for RethinkDB should be included in the nifi-assembly/NOTICE file.\r\n* The RethinkDB project styles it's name as \"RethinkDB\" with capitalized R, D, and B.  I recommend we do the same in all of the user-visible processor naming, docs, property descriptions, etc.\r\n* The processor docs should include a link to the RethinkDB project.\r\n* Thanks for including a comprehensive test suite with solid code coverage.  The integration tests also ran fine for me.\r\n\r\nAnd I have a question about connection management.  I don't have any experience with RethinkDB.  A brief search for documentation suggests that the Java connection might be thread safe ([RethinkDB Issue #1041](https://github.com/rethinkdb/docs/issues/1041)).  Is that your understanding?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312963612/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312988825","html_url":"https://github.com/apache/nifi/pull/1942#issuecomment-312988825","issue_url":"https://api.github.com/repos/apache/nifi/issues/1942","id":312988825,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMjk4ODgyNQ==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T03:37:57Z","updated_at":"2017-07-07T02:40:21Z","author_association":"CONTRIBUTOR","body":"Hi @jvwing - \r\n\r\nThanks for your comments and feedback.  I've updated the code (added RethinkDB site link to the description, renamed classes to match RethinkDB conventions, updated notice files and corrected the relation) based on your review.  \r\n\r\nRegarding thread safety of the driver - as you pointed out, it is thread safe. Here is thread safety issue closed (https://github.com/rethinkdb/rethinkdb/issues/5166) and the closed pull request (https://github.com/rethinkdb/rethinkdb/pull/5292).\r\n\r\nPlease let me know if you have any additional observations/recommendations.\r\n\r\nThanks again for your thorough review.  \r\n\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/312988825/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313023595","html_url":"https://github.com/apache/nifi/pull/1976#issuecomment-313023595","issue_url":"https://api.github.com/repos/apache/nifi/issues/1976","id":313023595,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzAyMzU5NQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T07:23:44Z","updated_at":"2017-07-05T07:23:44Z","author_association":"MEMBER","body":"This PR contains commits from #293 which has been closed due to being inactive, but the change was reasonable. I've cherry picked commits from the PR, the 1st commit in this PR is a squashed ones those are made by @ToivoAdams . Thanks for your contribution Toivo!\r\n\r\nI also added the 2nd commit, in order to update the proposed change with the latest codebase, as well as few modification.\r\n\r\nWe now have JsonTreeReader and PutDatabaseRecord those can handle type coercing better, so I think it's not necessary to handle DATE/TIME conversion at ConvertJSONToSQL. However, without this fix, it can truncate numeric values wrongly and lose part of user data, and that should be fixed at least.\r\n\r\nThis PR is ready for review, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313023595/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313023905","html_url":"https://github.com/apache/nifi/pull/293#issuecomment-313023905","issue_url":"https://api.github.com/repos/apache/nifi/issues/293","id":313023905,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzAyMzkwNQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T07:25:15Z","updated_at":"2017-07-05T07:25:15Z","author_association":"MEMBER","body":"I've taken over the proposed change into #1976 ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313023905/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313111017","html_url":"https://github.com/apache/nifi/pull/1956#issuecomment-313111017","issue_url":"https://api.github.com/repos/apache/nifi/issues/1956","id":313111017,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzExMTAxNw==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T13:58:38Z","updated_at":"2017-07-05T13:58:38Z","author_association":"CONTRIBUTOR","body":"@bbende sorry for the delay (was away on vacation). Not a picky request at all; the weirdness I ran into was that the xsd could not resolve the property value if classpath was just before it. It is weird but I think it has something to do with property being unlimited and classpath being not required.  I'll give it a try to see if I can resolve or at least recreate it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313111017/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313115560","html_url":"https://github.com/apache/nifi/pull/1977#issuecomment-313115560","issue_url":"https://api.github.com/repos/apache/nifi/issues/1977","id":313115560,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzExNTU2MA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T14:14:20Z","updated_at":"2017-07-05T14:14:20Z","author_association":"CONTRIBUTOR","body":"@jzonthemtn - I just pushed a commit to address your comment. Basically, I parse the request results to split failures and success. I also added a unit test for that case.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313115560/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313119503","html_url":"https://github.com/apache/nifi/pull/1977#issuecomment-313119503","issue_url":"https://api.github.com/repos/apache/nifi/issues/1977","id":313119503,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzExOTUwMw==","user":{"login":"jzonthemtn","id":13176962,"node_id":"MDQ6VXNlcjEzMTc2OTYy","avatar_url":"https://avatars.githubusercontent.com/u/13176962?v=4","gravatar_id":"","url":"https://api.github.com/users/jzonthemtn","html_url":"https://github.com/jzonthemtn","followers_url":"https://api.github.com/users/jzonthemtn/followers","following_url":"https://api.github.com/users/jzonthemtn/following{/other_user}","gists_url":"https://api.github.com/users/jzonthemtn/gists{/gist_id}","starred_url":"https://api.github.com/users/jzonthemtn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jzonthemtn/subscriptions","organizations_url":"https://api.github.com/users/jzonthemtn/orgs","repos_url":"https://api.github.com/users/jzonthemtn/repos","events_url":"https://api.github.com/users/jzonthemtn/events{/privacy}","received_events_url":"https://api.github.com/users/jzonthemtn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T14:26:57Z","updated_at":"2017-07-05T14:26:57Z","author_association":"NONE","body":"@pvillard31 That sounds great!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313119503/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313126877","html_url":"https://github.com/apache/nifi/pull/1971#issuecomment-313126877","issue_url":"https://api.github.com/repos/apache/nifi/issues/1971","id":313126877,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzEyNjg3Nw==","user":{"login":"m-hogue","id":7054178,"node_id":"MDQ6VXNlcjcwNTQxNzg=","avatar_url":"https://avatars.githubusercontent.com/u/7054178?v=4","gravatar_id":"","url":"https://api.github.com/users/m-hogue","html_url":"https://github.com/m-hogue","followers_url":"https://api.github.com/users/m-hogue/followers","following_url":"https://api.github.com/users/m-hogue/following{/other_user}","gists_url":"https://api.github.com/users/m-hogue/gists{/gist_id}","starred_url":"https://api.github.com/users/m-hogue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-hogue/subscriptions","organizations_url":"https://api.github.com/users/m-hogue/orgs","repos_url":"https://api.github.com/users/m-hogue/repos","events_url":"https://api.github.com/users/m-hogue/events{/privacy}","received_events_url":"https://api.github.com/users/m-hogue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T14:51:28Z","updated_at":"2017-07-05T14:51:28Z","author_association":"MEMBER","body":"@pvillard31 : Thanks for the review! After wrestling with IntelliJ formatting rules following the import of the nifi style config i think it's good. Please let me know if you'd like any more changes made.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313126877/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313133796","html_url":"https://github.com/apache/nifi/pull/1971#issuecomment-313133796","issue_url":"https://api.github.com/repos/apache/nifi/issues/1971","id":313133796,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzEzMzc5Ng==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T15:14:59Z","updated_at":"2017-07-05T15:14:59Z","author_association":"CONTRIBUTOR","body":"@m-hogue if you can fix that description in the html, I can merge in.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313133796/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313134407","html_url":"https://github.com/apache/nifi/pull/1971#issuecomment-313134407","issue_url":"https://api.github.com/repos/apache/nifi/issues/1971","id":313134407,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzEzNDQwNw==","user":{"login":"m-hogue","id":7054178,"node_id":"MDQ6VXNlcjcwNTQxNzg=","avatar_url":"https://avatars.githubusercontent.com/u/7054178?v=4","gravatar_id":"","url":"https://api.github.com/users/m-hogue","html_url":"https://github.com/m-hogue","followers_url":"https://api.github.com/users/m-hogue/followers","following_url":"https://api.github.com/users/m-hogue/following{/other_user}","gists_url":"https://api.github.com/users/m-hogue/gists{/gist_id}","starred_url":"https://api.github.com/users/m-hogue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-hogue/subscriptions","organizations_url":"https://api.github.com/users/m-hogue/orgs","repos_url":"https://api.github.com/users/m-hogue/repos","events_url":"https://api.github.com/users/m-hogue/events{/privacy}","received_events_url":"https://api.github.com/users/m-hogue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T15:16:55Z","updated_at":"2017-07-05T15:22:10Z","author_association":"MEMBER","body":"Fixed in 02956f8bda6af5fb043ab4b32a885a48357b5780.\r\n\r\nShould be gtg. Let me know if there are any other changes needed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313134407/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313159171","html_url":"https://github.com/apache/nifi/pull/1938#issuecomment-313159171","issue_url":"https://api.github.com/repos/apache/nifi/issues/1938","id":313159171,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzE1OTE3MQ==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T16:42:28Z","updated_at":"2017-07-05T16:42:28Z","author_association":"CONTRIBUTOR","body":"@markap14 I can try this out as well","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313159171/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313167183","html_url":"https://github.com/apache/nifi/pull/1979#issuecomment-313167183","issue_url":"https://api.github.com/repos/apache/nifi/issues/1979","id":313167183,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzE2NzE4Mw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T17:11:50Z","updated_at":"2017-07-05T17:11:50Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313167183/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313175497","html_url":"https://github.com/apache/nifi/pull/1971#issuecomment-313175497","issue_url":"https://api.github.com/repos/apache/nifi/issues/1971","id":313175497,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzE3NTQ5Nw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T17:43:51Z","updated_at":"2017-07-05T17:43:51Z","author_association":"CONTRIBUTOR","body":"looks good, I'll work on merging it in","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313175497/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313208874","html_url":"https://github.com/apache/nifi/pull/1962#issuecomment-313208874","issue_url":"https://api.github.com/repos/apache/nifi/issues/1962","id":313208874,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzIwODg3NA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T19:54:44Z","updated_at":"2017-07-05T19:54:44Z","author_association":"CONTRIBUTOR","body":"@pvillard31 Just started reviewing this PR. I'm wondering if the property should be associated with the cluster section instead of the web properties. This property is only relevant when clustered and am concerned it may be confusing being colocated with the jetty thread configuration. Since that thread pool drives the size of the thread pool that Jetty uses it could be confused with the maximum number of concurrent requests. It might make sense to associate this property with other request replication properties. \r\n\r\nFor instance the replication thread pool size:\r\n\r\n```\r\nnifi.cluster.node.protocol.threads=${nifi.cluster.node.protocol.threads}\r\nnifi.cluster.node.protocol.max.threads=${nifi.cluster.node.protocol.max.threads}\r\n```\r\n\r\nOr the replication timeouts:\r\n\r\n```\r\nnifi.cluster.node.connection.timeout=${nifi.cluster.node.connection.timeout}\r\nnifi.cluster.node.read.timeout=${nifi.cluster.node.read.timeout}\r\n```\r\n\r\nThoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313208874/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313223010","html_url":"https://github.com/apache/nifi/pull/1980#issuecomment-313223010","issue_url":"https://api.github.com/repos/apache/nifi/issues/1980","id":313223010,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzIyMzAxMA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T20:50:48Z","updated_at":"2017-07-05T20:50:48Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313223010/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313224346","html_url":"https://github.com/apache/nifi/pull/1979#issuecomment-313224346","issue_url":"https://api.github.com/repos/apache/nifi/issues/1979","id":313224346,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzIyNDM0Ng==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-05T20:56:13Z","updated_at":"2017-07-05T20:56:13Z","author_association":"CONTRIBUTOR","body":"@markap14 Looks like the proposed changes are causing unit test failures.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313224346/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313265348","html_url":"https://github.com/apache/nifi/pull/1981#issuecomment-313265348","issue_url":"https://api.github.com/repos/apache/nifi/issues/1981","id":313265348,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzI2NTM0OA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T00:50:45Z","updated_at":"2017-07-06T00:50:45Z","author_association":"CONTRIBUTOR","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313265348/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313279428","html_url":"https://github.com/apache/nifi/pull/1956#issuecomment-313279428","issue_url":"https://api.github.com/repos/apache/nifi/issues/1956","id":313279428,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzI3OTQyOA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T02:38:16Z","updated_at":"2017-07-06T02:38:16Z","author_association":"CONTRIBUTOR","body":"@bbende did add the change to order (couldn't recreate the issue).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313279428/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313298124","html_url":"https://github.com/apache/nifi/pull/1963#issuecomment-313298124","issue_url":"https://api.github.com/repos/apache/nifi/issues/1963","id":313298124,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzI5ODEyNA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T05:23:18Z","updated_at":"2017-07-06T05:23:18Z","author_association":"MEMBER","body":"@pvillard31 I tried this PR, but still see '2017-07-06 12:05:54,092 INFO [main] org.apache.nifi.bootstrap.Command Waiting for Apache NiFi to finish shutting down...' logs.\r\n\r\nWhen I take a thread dump, few threads are sleeping as reported at NIFI-4111:\r\n```\r\n\"Site-to-Site Worker Thread-2@11975\" prio=5 tid=0x73 nid=NA sleeping\r\n  java.lang.Thread.State: TIMED_WAITING\r\n\t  at java.lang.Thread.sleep(Thread.java:-1)\r\n\t  at java.lang.Thread.sleep(Thread.java:340)\r\n\t  at java.util.concurrent.TimeUnit.sleep(TimeUnit.java:386)\r\n\t  at org.apache.nifi.remote.io.socket.SocketChannelInputStream.read(SocketChannelInputStream.java:120)\r\n\t  at org.apache.nifi.stream.io.ByteCountingInputStream.read(ByteCountingInputStream.java:51)\r\n\t  at java.io.BufferedInputStream.fill(BufferedInputStream.java:246)\r\n\t  at java.io.BufferedInputStream.read(BufferedInputStream.java:265)\r\n\t  - locked <merged>(a org.apache.nifi.stream.io.BufferedInputStream)\r\n\t  at org.apache.nifi.remote.io.InterruptableInputStream.read(InterruptableInputStream.java:39)\r\n\t  at java.io.DataInputStream.readUnsignedShort(DataInputStream.java:337)\r\n\t  at java.io.DataInputStream.readUTF(DataInputStream.java:589)\r\n\t  at java.io.DataInputStream.readUTF(DataInputStream.java:564)\r\n\t  at org.apache.nifi.remote.protocol.RequestType.readRequestType(RequestType.java:36)\r\n\t  at org.apache.nifi.remote.protocol.socket.SocketFlowFileServerProtocol.getRequestType(SocketFlowFileServerProtocol.java:147)\r\n\t  at org.apache.nifi.remote.SocketRemoteSiteListener$1$1.run(SocketRemoteSiteListener.java:249)\r\n\t  at java.lang.Thread.run(Thread.java:745)\r\n```\r\n\r\nThis PR doesn't do anything to change SocketRemoteSiteListener behavior, is it correct?\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313298124/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313304255","html_url":"https://github.com/apache/nifi/pull/1983#issuecomment-313304255","issue_url":"https://api.github.com/repos/apache/nifi/issues/1983","id":313304255,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzMwNDI1NQ==","user":{"login":"yjhyjhyjh0","id":4414486,"node_id":"MDQ6VXNlcjQ0MTQ0ODY=","avatar_url":"https://avatars.githubusercontent.com/u/4414486?v=4","gravatar_id":"","url":"https://api.github.com/users/yjhyjhyjh0","html_url":"https://github.com/yjhyjhyjh0","followers_url":"https://api.github.com/users/yjhyjhyjh0/followers","following_url":"https://api.github.com/users/yjhyjhyjh0/following{/other_user}","gists_url":"https://api.github.com/users/yjhyjhyjh0/gists{/gist_id}","starred_url":"https://api.github.com/users/yjhyjhyjh0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yjhyjhyjh0/subscriptions","organizations_url":"https://api.github.com/users/yjhyjhyjh0/orgs","repos_url":"https://api.github.com/users/yjhyjhyjh0/repos","events_url":"https://api.github.com/users/yjhyjhyjh0/events{/privacy}","received_events_url":"https://api.github.com/users/yjhyjhyjh0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T06:04:18Z","updated_at":"2017-07-06T06:04:18Z","author_association":"CONTRIBUTOR","body":"Well, lesson learned.\r\nLast build fail with Travis-CI is trailing whitespace problem.\r\nJust fix that and retry the PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313304255/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313390027","html_url":"https://github.com/apache/nifi/pull/1963#issuecomment-313390027","issue_url":"https://api.github.com/repos/apache/nifi/issues/1963","id":313390027,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzM5MDAyNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T13:04:33Z","updated_at":"2017-07-06T13:04:33Z","author_association":"CONTRIBUTOR","body":"Thanks for the review @ijokarumawak, you're absolutely right... In my test instance it was not shutting down nicely because of other threads not being interrupted (that's what my first commit is for) and I missed the one originally spotted in the JIRA when RAW S2S is used. I just pushed a commit that should address this part. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313390027/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313400120","html_url":"https://github.com/apache/nifi/pull/1938#issuecomment-313400120","issue_url":"https://api.github.com/repos/apache/nifi/issues/1938","id":313400120,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQwMDEyMA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T13:44:21Z","updated_at":"2017-07-06T13:44:21Z","author_association":"CONTRIBUTOR","body":"@markap14 I’m not quite sure if I ran into a configuration problem on my part or if this is truly an issue. I’m testing the ConfluentSchemaRegistry and do have it set up in NiFi with two small flows that places data onto a kafka topic and reads from that same topic then saves data into the filesystem.  I did confirm that the Controller Service itself appears to work since I was able to register a schema and get an AvroReader/RecordSetWriter and a JsonTreeReader to refer to the schema within that registry.  However when I wanted to use the option to write the Schema using the Confluent Schema Registry Reference (specifically within the AvroRecordSetWriter in my test) I’m getting a NullPointerException:\r\n\r\n`2017-07-06 05:48:35,364 ERROR [Timer-Driven Process Thread-8] o.a.n.p.k.pubsub.PublishKafkaRecord_0_10 PublishKafkaRecord_0_10[id=16230624-015d-1000-7474-292c6c453e5a] Failed to send all message for StandardFlowFileRecord[uuid=007abeb3-5d2e-4c11-b9ef-e279b7822348,claim=StandardContentClaim [resourceClaim=StandardResourceClaim[id=149931562458\r\n4-1, container=default, section=1], offset=683586, length=20],offset=0,name=11741764036465,size=20] to Kafka; routing to failure due to java.lang.NullPointerException: {}\r\njava.lang.NullPointerException: null\r\n        at org.apache.nifi.serialization.SchemaRegistryRecordSetWriter.getSchemaAccessWriter(SchemaRegistryRecordSetWriter.java:136)\r\n        at org.apache.nifi.avro.AvroRecordSetWriter.createWriter(AvroRecordSetWriter.java:107)\r\n        at sun.reflect.GeneratedMethodAccessor374.invoke(Unknown Source)\r\n        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\r\n        at java.lang.reflect.Method.invoke(Method.java:498)\r\n        at org.apache.nifi.controller.service.StandardControllerServiceInvocationHandler.invoke(StandardControllerServiceInvocationHandler.java:89)\r\n        at com.sun.proxy.$Proxy131.createWriter(Unknown Source)\r\n        at org.apache.nifi.processors.kafka.pubsub.PublisherLease.publish(PublisherLease.java:109)\r\n        at org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10$1.process(PublishKafkaRecord_0_10.java:338)\r\n        at org.apache.nifi.controller.repository.StandardProcessSession.read(StandardProcessSession.java:2136)\r\n        at org.apache.nifi.controller.repository.StandardProcessSession.read(StandardProcessSession.java:2106)\r\n        at org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10.onTrigger(PublishKafkaRecord_0_10.java:330)\r\n        at org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n        at org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1120)\r\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:147)\r\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:47)\r\n        at org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:132)\r\n        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n        at java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)\r\n        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)\r\n        at java.lang.Thread.run(Thread.java:745)`\r\n\r\nI did see a note about potentially experiencing an exception if the schema didn’t include the identifier and version however I wasn’t quite expecting the exception to be a Nullpointer.  Is this expected behavior?  I did confirm that if I used another option (e.g. Set schema.name or Do Not Write Schema) that I did not encounter this problem.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313400120/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313408021","html_url":"https://github.com/apache/nifi/pull/1980#issuecomment-313408021","issue_url":"https://api.github.com/repos/apache/nifi/issues/1980","id":313408021,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQwODAyMQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T14:12:32Z","updated_at":"2017-07-06T14:12:32Z","author_association":"CONTRIBUTOR","body":"Thanks @markap14! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313408021/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313410163","html_url":"https://github.com/apache/nifi/pull/1962#issuecomment-313410163","issue_url":"https://api.github.com/repos/apache/nifi/issues/1962","id":313410163,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQxMDE2Mw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T14:20:12Z","updated_at":"2017-07-06T14:20:12Z","author_association":"CONTRIBUTOR","body":"Thanks for your feedback @mcgilman. You're right, let me know if this new naming is better.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313410163/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313422865","html_url":"https://github.com/apache/nifi/pull/1938#issuecomment-313422865","issue_url":"https://api.github.com/repos/apache/nifi/issues/1938","id":313422865,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQyMjg2NQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T15:01:43Z","updated_at":"2017-07-06T15:01:43Z","author_association":"CONTRIBUTOR","body":"@YolandaMDavis sorry about that - i think i must have goofed up the merge conflict. Pushed another commit, so hopefully all is good now. Thanks for reviewing & for catching that!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313422865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313450649","html_url":"https://github.com/apache/nifi/pull/1973#issuecomment-313450649","issue_url":"https://api.github.com/repos/apache/nifi/issues/1973","id":313450649,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ1MDY0OQ==","user":{"login":"m-hogue","id":7054178,"node_id":"MDQ6VXNlcjcwNTQxNzg=","avatar_url":"https://avatars.githubusercontent.com/u/7054178?v=4","gravatar_id":"","url":"https://api.github.com/users/m-hogue","html_url":"https://github.com/m-hogue","followers_url":"https://api.github.com/users/m-hogue/followers","following_url":"https://api.github.com/users/m-hogue/following{/other_user}","gists_url":"https://api.github.com/users/m-hogue/gists{/gist_id}","starred_url":"https://api.github.com/users/m-hogue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-hogue/subscriptions","organizations_url":"https://api.github.com/users/m-hogue/orgs","repos_url":"https://api.github.com/users/m-hogue/repos","events_url":"https://api.github.com/users/m-hogue/events{/privacy}","received_events_url":"https://api.github.com/users/m-hogue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T16:37:06Z","updated_at":"2017-07-06T16:37:06Z","author_association":"MEMBER","body":"Hey @ijokarumawak : LGTM. Just had a single comment.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313450649/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313452295","html_url":"https://github.com/apache/nifi/pull/1974#issuecomment-313452295","issue_url":"https://api.github.com/repos/apache/nifi/issues/1974","id":313452295,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ1MjI5NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T16:43:25Z","updated_at":"2017-07-06T16:43:25Z","author_association":"CONTRIBUTOR","body":"Thanks @m-hogue and @joewitt for your feedback, I just pushed a commit that should address your comments: retrieve the boolean returned by ``completePendingCommand()`` and, if false, send the FF to ``REL_COMMS_FAILURE`` relationship. Also added a unit test for ``ListFTP`` to check attributes being written on flow files.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313452295/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313456261","html_url":"https://github.com/apache/nifi/pull/1974#issuecomment-313456261","issue_url":"https://api.github.com/repos/apache/nifi/issues/1974","id":313456261,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ1NjI2MQ==","user":{"login":"m-hogue","id":7054178,"node_id":"MDQ6VXNlcjcwNTQxNzg=","avatar_url":"https://avatars.githubusercontent.com/u/7054178?v=4","gravatar_id":"","url":"https://api.github.com/users/m-hogue","html_url":"https://github.com/m-hogue","followers_url":"https://api.github.com/users/m-hogue/followers","following_url":"https://api.github.com/users/m-hogue/following{/other_user}","gists_url":"https://api.github.com/users/m-hogue/gists{/gist_id}","starred_url":"https://api.github.com/users/m-hogue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/m-hogue/subscriptions","organizations_url":"https://api.github.com/users/m-hogue/orgs","repos_url":"https://api.github.com/users/m-hogue/repos","events_url":"https://api.github.com/users/m-hogue/events{/privacy}","received_events_url":"https://api.github.com/users/m-hogue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T16:57:58Z","updated_at":"2017-07-06T16:57:58Z","author_association":"MEMBER","body":"LGTM. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313456261/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313461498","html_url":"https://github.com/apache/nifi/pull/1938#issuecomment-313461498","issue_url":"https://api.github.com/repos/apache/nifi/issues/1938","id":313461498,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ2MTQ5OA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T17:18:02Z","updated_at":"2017-07-06T17:18:02Z","author_association":"CONTRIBUTOR","body":"@markap14 thanks will check it out","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313461498/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313468345","html_url":"https://github.com/apache/nifi/pull/1978#issuecomment-313468345","issue_url":"https://api.github.com/repos/apache/nifi/issues/1978","id":313468345,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ2ODM0NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T17:43:21Z","updated_at":"2017-07-06T17:43:21Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313468345/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313468855","html_url":"https://github.com/apache/nifi/pull/1979#issuecomment-313468855","issue_url":"https://api.github.com/repos/apache/nifi/issues/1979","id":313468855,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ2ODg1NQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T17:45:16Z","updated_at":"2017-07-06T17:45:16Z","author_association":"CONTRIBUTOR","body":"Thanks @markap14! The update has addressed the test failures and this has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313468855/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313490520","html_url":"https://github.com/apache/nifi/pull/1984#issuecomment-313490520","issue_url":"https://api.github.com/repos/apache/nifi/issues/1984","id":313490520,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ5MDUyMA==","user":{"login":"JPercivall","id":11302527,"node_id":"MDQ6VXNlcjExMzAyNTI3","avatar_url":"https://avatars.githubusercontent.com/u/11302527?v=4","gravatar_id":"","url":"https://api.github.com/users/JPercivall","html_url":"https://github.com/JPercivall","followers_url":"https://api.github.com/users/JPercivall/followers","following_url":"https://api.github.com/users/JPercivall/following{/other_user}","gists_url":"https://api.github.com/users/JPercivall/gists{/gist_id}","starred_url":"https://api.github.com/users/JPercivall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPercivall/subscriptions","organizations_url":"https://api.github.com/users/JPercivall/orgs","repos_url":"https://api.github.com/users/JPercivall/repos","events_url":"https://api.github.com/users/JPercivall/events{/privacy}","received_events_url":"https://api.github.com/users/JPercivall/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T19:07:44Z","updated_at":"2017-07-06T19:07:44Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak while we are still using ZooKeeper as the only cluster state provider and using it for  the cluster coordinator, are we sure we want to add this option? This goes hand-in-hand with the work to add state to UpdateAttribute, specifically this comment[1]. \r\n\r\n@markap14 do you have opinions on this? \r\n\r\n[1] https://issues.apache.org/jira/browse/NIFI-1582","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313490520/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313496803","html_url":"https://github.com/apache/nifi/pull/1938#issuecomment-313496803","issue_url":"https://api.github.com/repos/apache/nifi/issues/1938","id":313496803,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ5NjgwMw==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T19:34:05Z","updated_at":"2017-07-06T19:34:05Z","author_association":"CONTRIBUTOR","body":"@markap14 that now looks fixed.  I was able to use the Confluence schema write strategy without issue. All is working as expected.\r\n\r\n+1 \r\n\r\nwill merge in shortly","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313496803/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313498237","html_url":"https://github.com/apache/nifi/pull/1962#issuecomment-313498237","issue_url":"https://api.github.com/repos/apache/nifi/issues/1962","id":313498237,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzQ5ODIzNw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-06T19:40:15Z","updated_at":"2017-07-06T19:40:15Z","author_association":"CONTRIBUTOR","body":"Thanks @pvillard31! Most recent update looks great. This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313498237/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313586941","html_url":"https://github.com/apache/nifi/pull/1984#issuecomment-313586941","issue_url":"https://api.github.com/repos/apache/nifi/issues/1984","id":313586941,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzU4Njk0MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-07T04:57:37Z","updated_at":"2017-07-07T04:57:37Z","author_association":"MEMBER","body":"@JPercivall Thanks for your comment. Yes, I concerned about it may hammer Zk, too. But now we have [Redis backed state manager](https://github.com/apache/nifi/tree/master/nifi-nar-bundles/nifi-redis-bundle/nifi-redis-extensions/src/main/java/org/apache/nifi/redis/state) too. That can perform well compared to Zk. Also I wrote [doc for Cluster scope](https://github.com/apache/nifi/pull/1984/files#diff-64bdb3d4f3927cdfb538dd95975af65aR189) to use it only if necessary, it wouldn't be enough, though..\r\n\r\nI think 'being able to do something if they know what they're doing' is better than not providing that option.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313586941/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313589528","html_url":"https://github.com/apache/nifi/pull/1963#issuecomment-313589528","issue_url":"https://api.github.com/repos/apache/nifi/issues/1963","id":313589528,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzU4OTUyOA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-07T05:21:31Z","updated_at":"2017-07-07T05:21:31Z","author_association":"MEMBER","body":"@pvillard31 Confirmed that NiFi shutdowns immediately. LGTM +1, thanks @pvillard31 ! merging to master..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313589528/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313645713","html_url":"https://github.com/apache/nifi/pull/1992#issuecomment-313645713","issue_url":"https://api.github.com/repos/apache/nifi/issues/1992","id":313645713,"node_id":"MDEyOklzc3VlQ29tbWVudDMxMzY0NTcxMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-07-07T10:25:31Z","updated_at":"2017-07-07T10:25:31Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @ijokarumawak ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/313645713/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]