data/github-comments/apache-NiFi-132-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625475256","html_url":"https://github.com/apache/nifi/pull/4258#issuecomment-625475256","issue_url":"https://api.github.com/repos/apache/nifi/issues/4258","id":625475256,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTQ3NTI1Ng==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-07T20:18:11Z","updated_at":"2020-05-07T20:18:11Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625475256/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625753662","html_url":"https://github.com/apache/nifi/pull/4261#issuecomment-625753662","issue_url":"https://api.github.com/repos/apache/nifi/issues/4261","id":625753662,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTc1MzY2Mg==","user":{"login":"ashish0mittal0","id":42000617,"node_id":"MDQ6VXNlcjQyMDAwNjE3","avatar_url":"https://avatars.githubusercontent.com/u/42000617?v=4","gravatar_id":"","url":"https://api.github.com/users/ashish0mittal0","html_url":"https://github.com/ashish0mittal0","followers_url":"https://api.github.com/users/ashish0mittal0/followers","following_url":"https://api.github.com/users/ashish0mittal0/following{/other_user}","gists_url":"https://api.github.com/users/ashish0mittal0/gists{/gist_id}","starred_url":"https://api.github.com/users/ashish0mittal0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ashish0mittal0/subscriptions","organizations_url":"https://api.github.com/users/ashish0mittal0/orgs","repos_url":"https://api.github.com/users/ashish0mittal0/repos","events_url":"https://api.github.com/users/ashish0mittal0/events{/privacy}","received_events_url":"https://api.github.com/users/ashish0mittal0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-08T10:36:59Z","updated_at":"2020-05-08T10:36:59Z","author_association":"NONE","body":"**ci-workflow / Ubuntu - JDK 1.8 FR (pull_request)** Failed, because of the following error\r\n```\r\n[ERROR] COMPILATION ERROR : \r\n[ERROR] error: error reading /home/runner/.m2/repository/org/apache/sis/core/sis-utility/1.0/sis-utility-1.0.jar; error in opening zip file\r\n[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project nifi-media-processors: Compilation failure\r\n[ERROR] error: error reading /home/runner/.m2/repository/org/apache/sis/core/sis-utility/1.0/sis-utility-1.0.jar; error in opening zip file\r\n[ERROR] -> [Help 1]\r\n[ERROR] \r\n[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.\r\n[ERROR] Re-run Maven using the -X switch to enable full debug logging.\r\n[ERROR] \r\n[ERROR] For more information about the errors and possible solutions, please read the following articles:\r\n[ERROR] [Help 1] http://cwiki.apache.org/confluence/display/MAVEN/MojoFailureException\r\n[ERROR] \r\n[ERROR] After correcting the problems, you can resume the build with the command\r\n[ERROR]   mvn <args> -rf :nifi-media-processors\r\n##[error]Process completed with exit code 1.\r\n```\r\n\r\nAfter inspecting **Check Maven Org Cache** the following errors with warning was identified-\r\n```\r\ngzip: stdin: unexpected end of file\r\n/bin/tar: Unexpected EOF in archive\r\n/bin/tar: Unexpected EOF in archive\r\n/bin/tar: Error is not recoverable: exiting now\r\n[warning]Tar failed with error: The process '/bin/tar' failed with exit code 2\r\n```\r\n\r\nIt seems like an issue with loading repository. And the code changes also doesn't relatewith this issue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625753662/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625789213","html_url":"https://github.com/apache/nifi/pull/4261#issuecomment-625789213","issue_url":"https://api.github.com/repos/apache/nifi/issues/4261","id":625789213,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTc4OTIxMw==","user":{"login":"ashish0mittal0","id":42000617,"node_id":"MDQ6VXNlcjQyMDAwNjE3","avatar_url":"https://avatars.githubusercontent.com/u/42000617?v=4","gravatar_id":"","url":"https://api.github.com/users/ashish0mittal0","html_url":"https://github.com/ashish0mittal0","followers_url":"https://api.github.com/users/ashish0mittal0/followers","following_url":"https://api.github.com/users/ashish0mittal0/following{/other_user}","gists_url":"https://api.github.com/users/ashish0mittal0/gists{/gist_id}","starred_url":"https://api.github.com/users/ashish0mittal0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ashish0mittal0/subscriptions","organizations_url":"https://api.github.com/users/ashish0mittal0/orgs","repos_url":"https://api.github.com/users/ashish0mittal0/repos","events_url":"https://api.github.com/users/ashish0mittal0/events{/privacy}","received_events_url":"https://api.github.com/users/ashish0mittal0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-08T12:21:08Z","updated_at":"2020-05-08T12:21:08Z","author_association":"NONE","body":"Please suggest how may I get the pull request merged into the master, since the failure of the workflow is not related to the code change.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625789213/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625920588","html_url":"https://github.com/apache/nifi/pull/4256#issuecomment-625920588","issue_url":"https://api.github.com/repos/apache/nifi/issues/4256","id":625920588,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTkyMDU4OA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-08T17:11:57Z","updated_at":"2020-05-08T17:11:57Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran contrib-check and a few tests on a live NiFi (with ValidateRecord and ConvertRecord). Thanks for the fix! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625920588/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625922140","html_url":"https://github.com/apache/nifi/pull/4258#issuecomment-625922140","issue_url":"https://api.github.com/repos/apache/nifi/issues/4258","id":625922140,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTkyMjE0MA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-08T17:15:21Z","updated_at":"2020-05-08T17:15:21Z","author_association":"CONTRIBUTOR","body":"Thanks for the PR @mtien-apache! Thanks for the review @andrewmlim! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625922140/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625922802","html_url":"https://github.com/apache/nifi/pull/4243#issuecomment-625922802","issue_url":"https://api.github.com/repos/apache/nifi/issues/4243","id":625922802,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNTkyMjgwMg==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-08T17:16:45Z","updated_at":"2020-05-08T17:16:45Z","author_association":"NONE","body":"> Is there a way to add a unit test for this? Maybe inserting Chinese characters into a Derby table with a CLOB column and reading the results?\r\n\r\nThanks for reply. I will add a unit test for this situation.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/625922802/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626427812","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-626427812","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":626427812,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNjQyNzgxMg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-11T01:40:27Z","updated_at":"2020-05-11T01:40:57Z","author_association":"CONTRIBUTOR","body":"High level description of changes:\r\n* Previously there were `SslContextFactory` implementations in multiple modules. I enhanced the one in `nifi-security-utils` which is now used throughout the project, and removed the implementations in `nifi-framework` and `nifi-socket-utils`. \r\n  * Part of this refactoring was removing `public static` methods which created an `SSLContext` object from various combinations of explicit keystore and truststore properties. These were being used in an inconsistent manner. I introduced a container object called `TlsConfiguration` which wraps the state of the configuration and provides internal validation checks. This encapsulates the need to check for different combinations of configuration presence/validity in each use case (components, framework, etc.) and relieves the calling developer of re-implementing this logic every time. \r\n  * I also provided static convenience methods like `getX509TrustManager()` and `createSSLSocketFactory()` because in most cases that is what the calling code needs, rather than an intermediate `SSLContext` object they need to further configure. This reduced the need for `Tuple<>` return values throughout the code. \r\n  * Duplicate code to transform the various return values and configure the `OkHttpClient` and its `Builder` were refactored to utility methods. \r\n* Duplicate enums were refactored. \r\n* Unnecessary code dealing with client authentication settings when creating a client connection/socket were removed (these settings would be ignored, as only an SSL/TLS server can decide to enforce/request client authentication). \r\n* Some tests were refactored to make mocking easier. \r\n* Removed extraneous file loading during `NiFiProperties` construction in many tests. \r\n* Enforced modern TLS protocol versions in various internal socket creations. \r\n\r\nThe easiest way to test these changes is to configure and deploy a secured cluster (see [Apache NiFi Walkthroughs: Creating and Securing a NiFi Cluster with the TLS Toolkit](https://nifi.apache.org/docs/nifi-docs/html/walkthroughs.html#creating-and-securing-a-nifi-cluster-with-the-tls-toolkit)) and run a flow which handles incoming secured connections such as `ListenHTTP`, `HandleHttpRequest`, etc. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626427812/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626682191","html_url":"https://github.com/apache/nifi/pull/3906#issuecomment-626682191","issue_url":"https://api.github.com/repos/apache/nifi/issues/3906","id":626682191,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNjY4MjE5MQ==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-11T12:51:36Z","updated_at":"2020-05-11T12:51:36Z","author_association":"CONTRIBUTOR","body":"@jfrazee Thanks for listing the options and also for pointing out that the `${filename}` solution (option 2) might break existing flows. So it is not backward compatible.\r\nI feel option 3 a bit complicated.\r\nOption 1 vs 4: I would rather vote for 4 (that is leaving it as it is now), but we can go with this PR and it can be merged if you like this solution.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626682191/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626718146","html_url":"https://github.com/apache/nifi/pull/4232#issuecomment-626718146","issue_url":"https://api.github.com/repos/apache/nifi/issues/4232","id":626718146,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNjcxODE0Ng==","user":{"login":"r65535","id":56300962,"node_id":"MDQ6VXNlcjU2MzAwOTYy","avatar_url":"https://avatars.githubusercontent.com/u/56300962?v=4","gravatar_id":"","url":"https://api.github.com/users/r65535","html_url":"https://github.com/r65535","followers_url":"https://api.github.com/users/r65535/followers","following_url":"https://api.github.com/users/r65535/following{/other_user}","gists_url":"https://api.github.com/users/r65535/gists{/gist_id}","starred_url":"https://api.github.com/users/r65535/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/r65535/subscriptions","organizations_url":"https://api.github.com/users/r65535/orgs","repos_url":"https://api.github.com/users/r65535/repos","events_url":"https://api.github.com/users/r65535/events{/privacy}","received_events_url":"https://api.github.com/users/r65535/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-11T13:57:55Z","updated_at":"2020-05-11T13:57:55Z","author_association":"CONTRIBUTOR","body":"@markap14 - Thanks for reviewing and your suggestions! I've made the changes, but left the licensing out until I've dug deeper.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626718146/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626810341","html_url":"https://github.com/apache/nifi/pull/4092#issuecomment-626810341","issue_url":"https://api.github.com/repos/apache/nifi/issues/4092","id":626810341,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNjgxMDM0MQ==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-11T16:29:06Z","updated_at":"2020-05-11T16:29:06Z","author_association":"MEMBER","body":"@alopresto In some sense this is no longer going to be relevant given the other work that's happened subsequently. But, I think it might still make sense to work this in for the benefit of people who want to use ZK TLS on versions that'll be older than whenever the other stuff gets merged.\r\n\r\nAny thoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626810341/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626897971","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-626897971","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":626897971,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNjg5Nzk3MQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-11T19:06:42Z","updated_at":"2020-05-11T19:06:42Z","author_association":"CONTRIBUTOR","body":"Still some failures because the Java 8 on the GitHub Actions containers does not support `TLSv1.3`. Will resolve. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/626897971/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627060159","html_url":"https://github.com/apache/nifi/pull/4243#issuecomment-627060159","issue_url":"https://api.github.com/repos/apache/nifi/issues/4243","id":627060159,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzA2MDE1OQ==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-12T01:51:56Z","updated_at":"2020-05-12T01:51:56Z","author_association":"NONE","body":"> Is there a way to add a unit test for this? Maybe inserting Chinese characters into a Derby table with a CLOB column and reading the results?\r\n\r\nHi @mattyb149 I have added one unit test.Clould you help me to check the PR of the `NIFI-7403 - PutSQL's transactions support #4239` if you have time? Thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627060159/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627125780","html_url":"https://github.com/apache/nifi/pull/4239#issuecomment-627125780","issue_url":"https://api.github.com/repos/apache/nifi/issues/4239","id":627125780,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzEyNTc4MA==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-12T05:52:52Z","updated_at":"2020-05-12T05:53:20Z","author_association":"NONE","body":"Hi @EdisonArango   I think this PR has changed too many files, And I see now ` Put.java can extract the RelationShips of the processors those use the Put.java` is not  right exactly. So I want to cancel this PR and request a new PR of NIFI-7403 which is implemented by annother method:\r\n```\r\nI think, just like PartialFunctions.OnCompleted , \r\nmaybe I can define a new function , \r\nsuch as PartialFunctions.CheckTranactionSupport...\r\nat the step3 above, \r\ntry apply this new function，\r\nso we don't have to tie up with the property and relationShip\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627125780/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627127388","html_url":"https://github.com/apache/nifi/pull/4239#issuecomment-627127388","issue_url":"https://api.github.com/repos/apache/nifi/issues/4239","id":627127388,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzEyNzM4OA==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-12T05:58:10Z","updated_at":"2020-05-12T05:58:10Z","author_association":"NONE","body":"Hi @EdisonArango   I think this PR has changed too many files, And I see now ` Put.java can extract the RelationShips of the processors those use the Put.java` is not  right exactly. So I want to cancel this PR and request a new PR of NIFI-7403 which is implemented by annother method:\r\n```\r\nI think, just like PartialFunctions.OnCompleted , maybe I can define a new function , such as PartialFunctions.CheckTranactionSupport...\r\nat the step3 above, try apply this new function，so we don't have to tie up with the property and relationShip\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627127388/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627561989","html_url":"https://github.com/apache/nifi/pull/4267#issuecomment-627561989","issue_url":"https://api.github.com/repos/apache/nifi/issues/4267","id":627561989,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzU2MTk4OQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-12T20:01:07Z","updated_at":"2020-05-12T20:01:07Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the improvement! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627561989/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627616435","html_url":"https://github.com/apache/nifi/pull/4266#issuecomment-627616435","issue_url":"https://api.github.com/repos/apache/nifi/issues/4266","id":627616435,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzYxNjQzNQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-12T21:48:21Z","updated_at":"2020-05-12T21:48:21Z","author_association":"CONTRIBUTOR","body":"We should add documentation on the Support Fragmented Transactions property to indicate the behavior","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627616435/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627707373","html_url":"https://github.com/apache/nifi/pull/4266#issuecomment-627707373","issue_url":"https://api.github.com/repos/apache/nifi/issues/4266","id":627707373,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzcwNzM3Mw==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-13T02:30:53Z","updated_at":"2020-05-13T02:30:53Z","author_association":"NONE","body":"> We should add documentation on the Support Fragmented Transactions property to indicate the behavior\r\n\r\n@mattyb149 Thanks! I have updated documentation for the Support Fragmented Transactions property \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627707373/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627729849","html_url":"https://github.com/apache/nifi/pull/4261#issuecomment-627729849","issue_url":"https://api.github.com/repos/apache/nifi/issues/4261","id":627729849,"node_id":"MDEyOklzc3VlQ29tbWVudDYyNzcyOTg0OQ==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-13T03:57:05Z","updated_at":"2020-05-13T03:57:05Z","author_association":"NONE","body":"> Please suggest how may I get the pull request merged into the master, since the failure of the workflow is not related to the code change.\r\n\r\nYou can commit anything again for this PR recheck. Sometimes it's checks are not successful, but try again, checks will be successful","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/627729849/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628057040","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-628057040","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":628057040,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODA1NzA0MA==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-13T15:12:13Z","updated_at":"2020-05-13T15:12:13Z","author_association":"CONTRIBUTOR","body":"Reviewing..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628057040/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628346097","html_url":"https://github.com/apache/nifi/pull/4271#issuecomment-628346097","issue_url":"https://api.github.com/repos/apache/nifi/issues/4271","id":628346097,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODM0NjA5Nw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T02:21:54Z","updated_at":"2020-05-14T02:21:54Z","author_association":"CONTRIBUTOR","body":"I put my changes up on a new branch that includes Nathan's original PR (I can't push to his remote): https://github.com/alopresto/nifi/tree/NIFI-7385-from-ngough. The specific commit is here: https://github.com/alopresto/nifi/commit/44ed5de21a3451606c64962596e35dfb6d82d499. @thenatog please review these changes and if you're ok, I'll merge them in. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628346097/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628346278","html_url":"https://github.com/apache/nifi/pull/4254#issuecomment-628346278","issue_url":"https://api.github.com/repos/apache/nifi/issues/4254","id":628346278,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODM0NjI3OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T02:22:37Z","updated_at":"2020-05-14T02:22:37Z","author_association":"CONTRIBUTOR","body":"I opened a new PR which includes these changes here: https://github.com/apache/nifi/pull/4271 because I can't modify this one directly and I don't want to merge code that isn't in an active PR. I suggest closing this PR though. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628346278/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628523817","html_url":"https://github.com/apache/nifi/pull/4220#issuecomment-628523817","issue_url":"https://api.github.com/repos/apache/nifi/issues/4220","id":628523817,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODUyMzgxNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T09:46:13Z","updated_at":"2020-05-14T09:46:13Z","author_association":"CONTRIBUTOR","body":"Closing this one in favor of #4264.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628523817/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628748972","html_url":"https://github.com/apache/nifi/pull/4265#issuecomment-628748972","issue_url":"https://api.github.com/repos/apache/nifi/issues/4265","id":628748972,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODc0ODk3Mg==","user":{"login":"esecules","id":5402229,"node_id":"MDQ6VXNlcjU0MDIyMjk=","avatar_url":"https://avatars.githubusercontent.com/u/5402229?v=4","gravatar_id":"","url":"https://api.github.com/users/esecules","html_url":"https://github.com/esecules","followers_url":"https://api.github.com/users/esecules/followers","following_url":"https://api.github.com/users/esecules/following{/other_user}","gists_url":"https://api.github.com/users/esecules/gists{/gist_id}","starred_url":"https://api.github.com/users/esecules/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/esecules/subscriptions","organizations_url":"https://api.github.com/users/esecules/orgs","repos_url":"https://api.github.com/users/esecules/repos","events_url":"https://api.github.com/users/esecules/events{/privacy}","received_events_url":"https://api.github.com/users/esecules/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T16:33:28Z","updated_at":"2020-05-14T23:51:18Z","author_association":"CONTRIBUTOR","body":"Will this solve https://jira.apache.org/jira/browse/NIFI-7386?filter=-2 ?\r\n(Connection to the [Azurite storage emulator](https://hub.docker.com/_/microsoft-azure-storage-azurite))\r\n\r\nDoesn't look like it. To connect to the azurite emulator you'd need to use a connection string like this one [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#connect-to-the-emulator-account-using-the-well-known-account-name-and-key)\r\n\r\n```DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;\r\nAccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;\r\nBlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;\r\nTableEndpoint=http://127.0.0.1:10002/devstoreaccount1;\r\nQueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;``` ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628748972/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628794810","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-628794810","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":628794810,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODc5NDgxMA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T17:57:28Z","updated_at":"2020-05-14T17:58:48Z","author_association":"CONTRIBUTOR","body":"I made the dropdown for `RestrictedSSLContextService` more explicit where it now provides `TLS, TLSv1.2` on Java 8 and `TLS, TLSv1.2, TLSv1.3` on Java 11. Selecting `TLS` will allow connections over `TLSv1.2` _and_ `TLSv1.3` (on Java 11 _only_. Java 8 does not support `TLSv1.3`). \r\n\r\n### With `TLSv1.2` selected:\r\n\r\n```\r\n\r\n# TLSv1.2 is successful\r\n\r\n ..oolkit-1.11.4   master ●  echo Q | openssl s_client -connect node1.nifi:9999 -key nifi-key.key -cert nifi-cert.pem -CAfile nifi-cert.pem -tls1_2\r\nCONNECTED(00000003)\r\ndepth=1 OU = NIFI, CN = ca.nifi\r\nverify return:1\r\ndepth=0 OU = NIFI, CN = node1.nifi\r\nverify return:1\r\n---\r\nCertificate chain\r\n 0 s:OU = NIFI, CN = node1.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n 1 s:OU = NIFI, CN = ca.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n---\r\n...\r\n---\r\nSSL handshake has read 2289 bytes and written 1464 bytes\r\nVerification: OK\r\n---\r\nNew, TLSv1.2, Cipher is ECDHE-RSA-AES256-GCM-SHA384\r\nServer public key is 2048 bit\r\nSecure Renegotiation IS supported\r\nCompression: NONE\r\nExpansion: NONE\r\nNo ALPN negotiated\r\nSSL-Session:\r\n    Protocol  : TLSv1.2\r\n    Cipher    : ECDHE-RSA-AES256-GCM-SHA384\r\n    Session-ID: BA2FC4...0D2790\r\n    Session-ID-ctx:\r\n    Master-Key: C773AC...A85A19\r\n    PSK identity: None\r\n    PSK identity hint: None\r\n    SRP username: None\r\n    Start Time: 1589478477\r\n    Timeout   : 7200 (sec)\r\n    Verify return code: 0 (ok)\r\n    Extended master secret: yes\r\n---\r\nDONE\r\n\r\n# TLSv1.3 fails\r\n\r\n ..oolkit-1.11.4   master ●  echo Q | openssl s_client -connect node1.nifi:9999 -key nifi-key.key -cert nifi-cert.pem -CAfile nifi-cert.pem -tls1_3\r\nCONNECTED(00000003)\r\n4570201536:error:1409442E:SSL routines:ssl3_read_bytes:tlsv1 alert protocol version:ssl/record/rec_layer_s3.c:1544:SSL alert number 70\r\n---\r\nno peer certificate available\r\n---\r\nNo client certificate CA names sent\r\n---\r\nSSL handshake has read 7 bytes and written 234 bytes\r\nVerification: OK\r\n---\r\nNew, (NONE), Cipher is (NONE)\r\nSecure Renegotiation IS NOT supported\r\nCompression: NONE\r\nExpansion: NONE\r\nNo ALPN negotiated\r\nEarly data was not sent\r\nVerify return code: 0 (ok)\r\n---\r\n ✘  ..oolkit-1.11.4   master ● \r\n```\r\n\r\n# With `TLS` selected:\r\n\r\n```\r\n\r\n### TLSv1.3 is successful\r\n\r\n ..oolkit-1.11.4   master ●  echo Q | openssl s_client -connect node1.nifi:9999 -key nifi-key.key -cert nifi-cert.pem -CAfile nifi-cert.pem -tls1_3\r\nCONNECTED(00000003)\r\ndepth=1 OU = NIFI, CN = ca.nifi\r\nverify return:1\r\ndepth=0 OU = NIFI, CN = node1.nifi\r\nverify return:1\r\n---\r\nCertificate chain\r\n 0 s:OU = NIFI, CN = node1.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n 1 s:OU = NIFI, CN = ca.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n---\r\n...\r\n---\r\nSSL handshake has read 2510 bytes and written 1800 bytes\r\nVerification: OK\r\n---\r\nNew, TLSv1.3, Cipher is TLS_AES_128_GCM_SHA256\r\nServer public key is 2048 bit\r\nSecure Renegotiation IS NOT supported\r\nCompression: NONE\r\nExpansion: NONE\r\nNo ALPN negotiated\r\nEarly data was not sent\r\nVerify return code: 0 (ok)\r\n---\r\nDONE\r\n\r\n# TLSv1.2 is successful\r\n\r\n ..oolkit-1.11.4   master ●  echo Q | openssl s_client -connect node1.nifi:9999 -key nifi-key.key -cert nifi-cert.pem -CAfile nifi-cert.pem -tls1_2\r\nCONNECTED(00000003)\r\ndepth=1 OU = NIFI, CN = ca.nifi\r\nverify return:1\r\ndepth=0 OU = NIFI, CN = node1.nifi\r\nverify return:1\r\n---\r\nCertificate chain\r\n 0 s:OU = NIFI, CN = node1.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n 1 s:OU = NIFI, CN = ca.nifi\r\n   i:OU = NIFI, CN = ca.nifi\r\n---\r\n...\r\n---\r\nSSL handshake has read 2293 bytes and written 1464 bytes\r\nVerification: OK\r\n---\r\nNew, TLSv1.2, Cipher is ECDHE-RSA-AES256-GCM-SHA384\r\nServer public key is 2048 bit\r\nSecure Renegotiation IS supported\r\nCompression: NONE\r\nExpansion: NONE\r\nNo ALPN negotiated\r\nSSL-Session:\r\n    Protocol  : TLSv1.2\r\n    Cipher    : ECDHE-RSA-AES256-GCM-SHA384\r\n    Session-ID: 7E5D46...1F4E63\r\n    Session-ID-ctx:\r\n    Master-Key: AB80DE...4FCC9A\r\n    PSK identity: None\r\n    PSK identity hint: None\r\n    SRP username: None\r\n    Start Time: 1589478427\r\n    Timeout   : 7200 (sec)\r\n    Verify return code: 0 (ok)\r\n    Extended master secret: yes\r\n---\r\nDONE\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628794810/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628824851","html_url":"https://github.com/apache/nifi/pull/4274#issuecomment-628824851","issue_url":"https://api.github.com/repos/apache/nifi/issues/4274","id":628824851,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODgyNDg1MQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T18:53:28Z","updated_at":"2020-05-14T18:53:28Z","author_association":"CONTRIBUTOR","body":"I'd ask you both to consider NOT having configurable properties if we can avoid it.  If we can pick a good - albeit maybe too conservative default that might be enough for now.  Then if we find tuning is desirable we add the property.      I'm not against it - just recommending we try to avoid it","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628824851/reactions","total_count":2,"+1":2,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628832930","html_url":"https://github.com/apache/nifi/pull/4274#issuecomment-628832930","issue_url":"https://api.github.com/repos/apache/nifi/issues/4274","id":628832930,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODgzMjkzMA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T19:09:07Z","updated_at":"2020-05-14T19:09:07Z","author_association":"CONTRIBUTOR","body":"> I'd ask you both to consider NOT having configurable properties if we can avoid it. If we can pick a good - albeit maybe too conservative default that might be enough for now. Then if we find tuning is desirable we add the property. I'm not against it - just recommending we try to avoid it\r\n\r\nOk I'll see what's the furthest we can reduce timing which will offer optimal performance for larger flow scenarios.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628832930/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628883444","html_url":"https://github.com/apache/nifi/pull/4274#issuecomment-628883444","issue_url":"https://api.github.com/repos/apache/nifi/issues/4274","id":628883444,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODg4MzQ0NA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T20:58:49Z","updated_at":"2020-05-14T20:58:49Z","author_association":"CONTRIBUTOR","body":"Sounds good, I think if we can get under 15 (even @ 14 sec) then we should be able to retain the UI responsiveness / update rate for small flows, and moving this to its own thread should improve the responsiveness (although maybe not update rate) for larger flows","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628883444/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628899529","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-628899529","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":628899529,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODg5OTUyOQ==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-14T21:36:42Z","updated_at":"2020-05-15T01:42:32Z","author_association":"CONTRIBUTOR","body":"Looks like there's currently a test error for JDK11.\r\n\r\nMy testing:\r\n\r\nJava 8\r\n- Secure cluster\r\n- ListenHTTP\r\n- InvokeHTTP\r\n- Checked TLS negotiation for cluster comms data (cluster.node.protocol.port) with Wireshark which was TLSv1.2\r\n- Clustered Site to Site back to the same cluster (had errors)\r\n- openssl s_client protocol version tests:\r\nhttps://docs.google.com/spreadsheets/d/1Vm17iqMdaPkqKtIYjGBUxG_TtRcdzhFRBnr_kaVTBVg/edit?usp=sharing\r\n\r\nJava 11\r\n- Secure cluster\r\n- ListenHTTP\r\n- InvokeHTTP\r\n- Checked TLS negotiation for cluster comms data (cluster.node.protocol.port) with Wireshark which was TLSv1.2\r\n- Clustered Site to Site back to the same cluster (had errors)\r\n- openssl s_client protocol version tests: https://docs.google.com/spreadsheets/d/1Vm17iqMdaPkqKtIYjGBUxG_TtRcdzhFRBnr_kaVTBVg/edit?usp=sharing\r\n\r\nSaw errors with site to site when using the HTTP protocol. I'm not certain if it's related to these changes or not:\r\n`\"2020-05-14 15:16:06,799 WARN [Timer-Driven Process Thread-9] o.apache.nifi.remote.client.PeerSelector Could not communicate with node0.com:9551 to determine which nodes exist in the remote NiFi cluster, due to javax.net.ssl.SSLPeerUnverifiedException: Certificate for <node0.com> doesn't match any of the subject alternative names: [node1.com]\"`\r\nIt's possible these errors only happen for a cluster hosted on the same machine/localhost.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628899529/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628981634","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-628981634","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":628981634,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODk4MTYzNA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T02:01:21Z","updated_at":"2020-05-15T02:01:21Z","author_association":"CONTRIBUTOR","body":"Thanks @markap14 and @thenatog for the extensive testing. I pushed another commit which enables TLSv1.3 for the Java 11 UI/API port and should resolve the test error. \r\n\r\nI can reproduce the S2S issue mentioned above on a secure 3 node cluster pointing back to itself when all nodes are hosted on the same machine. I don't think the PR changed how this worked, so I suspect this existed previously, but I'll try to address it here as well. I also encountered trouble retrieving S2S peers so I will add some unit tests there to see what I can isolate and fix. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628981634/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628984876","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-628984876","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":628984876,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODk4NDg3Ng==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T02:13:19Z","updated_at":"2020-05-15T02:13:19Z","author_association":"CONTRIBUTOR","body":"Force pushed as I had to fix the referenced Jira number in the recent commit messages. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628984876/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628990831","html_url":"https://github.com/apache/nifi/pull/4274#issuecomment-628990831","issue_url":"https://api.github.com/repos/apache/nifi/issues/4274","id":628990831,"node_id":"MDEyOklzc3VlQ29tbWVudDYyODk5MDgzMQ==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T02:33:32Z","updated_at":"2020-05-15T02:33:32Z","author_association":"CONTRIBUTOR","body":"@mattyb149 updates are available","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/628990831/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629249439","html_url":"https://github.com/apache/nifi/pull/4153#issuecomment-629249439","issue_url":"https://api.github.com/repos/apache/nifi/issues/4153","id":629249439,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTI0OTQzOQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T13:54:56Z","updated_at":"2020-05-15T13:54:56Z","author_association":"MEMBER","body":"@MikeThomsen it's been a while for me to review NiFi processors.. So please forgive my ignorance . But what did you mean by the \"REST API Bundle processors\"?? https://github.com/apache/nifi/pull/4153#issuecomment-603790123","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629249439/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629253346","html_url":"https://github.com/apache/nifi/pull/3556#issuecomment-629253346","issue_url":"https://api.github.com/repos/apache/nifi/issues/3556","id":629253346,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTI1MzM0Ng==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T14:02:06Z","updated_at":"2020-05-15T14:02:06Z","author_association":"MEMBER","body":"Thanks for your contribution @wietze !\r\nThere is another PR trying to address the same issue and which covers a little bit more issues with the recent Elasticsearch versions. Would you join the review process at #4153 ? To see if that resolves your problem. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629253346/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629364058","html_url":"https://github.com/apache/nifi/pull/3556#issuecomment-629364058","issue_url":"https://api.github.com/repos/apache/nifi/issues/3556","id":629364058,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTM2NDA1OA==","user":{"login":"wietze","id":2811785,"node_id":"MDQ6VXNlcjI4MTE3ODU=","avatar_url":"https://avatars.githubusercontent.com/u/2811785?v=4","gravatar_id":"","url":"https://api.github.com/users/wietze","html_url":"https://github.com/wietze","followers_url":"https://api.github.com/users/wietze/followers","following_url":"https://api.github.com/users/wietze/following{/other_user}","gists_url":"https://api.github.com/users/wietze/gists{/gist_id}","starred_url":"https://api.github.com/users/wietze/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wietze/subscriptions","organizations_url":"https://api.github.com/users/wietze/orgs","repos_url":"https://api.github.com/users/wietze/repos","events_url":"https://api.github.com/users/wietze/events{/privacy}","received_events_url":"https://api.github.com/users/wietze/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T16:45:54Z","updated_at":"2020-05-15T16:45:54Z","author_association":"CONTRIBUTOR","body":"It does indeed, will close this one. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629364058/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629461035","html_url":"https://github.com/apache/nifi/pull/4277#issuecomment-629461035","issue_url":"https://api.github.com/repos/apache/nifi/issues/4277","id":629461035,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTQ2MTAzNQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T20:16:27Z","updated_at":"2020-05-15T20:16:27Z","author_association":"CONTRIBUTOR","body":"Looks good, going to merge, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629461035/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629478813","html_url":"https://github.com/apache/nifi/pull/4268#issuecomment-629478813","issue_url":"https://api.github.com/repos/apache/nifi/issues/4268","id":629478813,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTQ3ODgxMw==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T20:55:47Z","updated_at":"2020-05-15T20:55:47Z","author_association":"MEMBER","body":"reviewin'","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629478813/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629552001","html_url":"https://github.com/apache/nifi/pull/3720#issuecomment-629552001","issue_url":"https://api.github.com/repos/apache/nifi/issues/3720","id":629552001,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTU1MjAwMQ==","user":{"login":"matthew-formosa-gig","id":48676894,"node_id":"MDQ6VXNlcjQ4Njc2ODk0","avatar_url":"https://avatars.githubusercontent.com/u/48676894?v=4","gravatar_id":"","url":"https://api.github.com/users/matthew-formosa-gig","html_url":"https://github.com/matthew-formosa-gig","followers_url":"https://api.github.com/users/matthew-formosa-gig/followers","following_url":"https://api.github.com/users/matthew-formosa-gig/following{/other_user}","gists_url":"https://api.github.com/users/matthew-formosa-gig/gists{/gist_id}","starred_url":"https://api.github.com/users/matthew-formosa-gig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matthew-formosa-gig/subscriptions","organizations_url":"https://api.github.com/users/matthew-formosa-gig/orgs","repos_url":"https://api.github.com/users/matthew-formosa-gig/repos","events_url":"https://api.github.com/users/matthew-formosa-gig/events{/privacy}","received_events_url":"https://api.github.com/users/matthew-formosa-gig/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-15T23:50:22Z","updated_at":"2020-05-15T23:50:50Z","author_association":"CONTRIBUTOR","body":"#4278 includes this change.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629552001/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629648804","html_url":"https://github.com/apache/nifi/pull/4278#issuecomment-629648804","issue_url":"https://api.github.com/repos/apache/nifi/issues/4278","id":629648804,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTY0ODgwNA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-16T13:49:51Z","updated_at":"2020-05-16T13:49:51Z","author_association":"CONTRIBUTOR","body":"@matthew-formosa-gig the tests all pass and the effort put into this looks really good.  I left a comment on a concern for test failures based on static ports.  Otherwise my only remaining concern is whether we've reviewed all of the transitive dependency changes/updates to ensure the License and Notice files are properly updated.  This is critical.  have you conducted that review of the dependencies before and after this change?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629648804/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629654039","html_url":"https://github.com/apache/nifi/pull/4278#issuecomment-629654039","issue_url":"https://api.github.com/repos/apache/nifi/issues/4278","id":629654039,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTY1NDAzOQ==","user":{"login":"matthew-formosa-gig","id":48676894,"node_id":"MDQ6VXNlcjQ4Njc2ODk0","avatar_url":"https://avatars.githubusercontent.com/u/48676894?v=4","gravatar_id":"","url":"https://api.github.com/users/matthew-formosa-gig","html_url":"https://github.com/matthew-formosa-gig","followers_url":"https://api.github.com/users/matthew-formosa-gig/followers","following_url":"https://api.github.com/users/matthew-formosa-gig/following{/other_user}","gists_url":"https://api.github.com/users/matthew-formosa-gig/gists{/gist_id}","starred_url":"https://api.github.com/users/matthew-formosa-gig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/matthew-formosa-gig/subscriptions","organizations_url":"https://api.github.com/users/matthew-formosa-gig/orgs","repos_url":"https://api.github.com/users/matthew-formosa-gig/repos","events_url":"https://api.github.com/users/matthew-formosa-gig/events{/privacy}","received_events_url":"https://api.github.com/users/matthew-formosa-gig/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-16T14:25:11Z","updated_at":"2020-05-16T17:20:09Z","author_association":"CONTRIBUTOR","body":"@joewitt Thanks for your feedback! The only dependency changes introduced are related to the Apache Ignite version bump from 1.6.0 to 2.8.0 where all transitive dependencies which changed are either related to Spring, Apache Commons or Apache Ignite itself. All of these were already included in the Notice files in previous commits. As for the static ports, I have commented in the thread above. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629654039/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629681317","html_url":"https://github.com/apache/nifi/pull/4278#issuecomment-629681317","issue_url":"https://api.github.com/repos/apache/nifi/issues/4278","id":629681317,"node_id":"MDEyOklzc3VlQ29tbWVudDYyOTY4MTMxNw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-16T17:37:16Z","updated_at":"2020-05-16T17:37:16Z","author_association":"CONTRIBUTOR","body":"cool.  nice work on this - i'll take a look soon hopefully.  want to verify the dependency set/licensing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/629681317/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630263219","html_url":"https://github.com/apache/nifi/pull/4280#issuecomment-630263219","issue_url":"https://api.github.com/repos/apache/nifi/issues/4280","id":630263219,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDI2MzIxOQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T15:35:36Z","updated_at":"2020-05-18T15:35:36Z","author_association":"CONTRIBUTOR","body":"Will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630263219/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630338743","html_url":"https://github.com/apache/nifi/pull/4280#issuecomment-630338743","issue_url":"https://api.github.com/repos/apache/nifi/issues/4280","id":630338743,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDMzODc0Mw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T17:48:09Z","updated_at":"2020-05-18T17:48:09Z","author_association":"CONTRIBUTOR","body":"Hey @pcgrenier thanks for putting this PR up. I do think that it addresses the case when all of the values coming in have the same type. But if your schema says that field 'num' can be either an int or a float, this solutions forces the user to cast all values to either int or float. It stands to reason that with such a schema, you could have a mix of both ints and floats. And depending on the query, we may want to keep these values as such.\r\n\r\nI also would like to avoid adding our own custom \"cast\" functions when cast functions already exist in SQL. I definitely feel like that's a red flag that we're not doing something quite right.\r\n\r\nSo I have a proposal that I think addresses this well but does so very differently. In the `FlowFileTable` class, we define the data types that Calcite should use internally for each of the types. For the CHOICE data type, we just blindly return `typeFactory.createJavaType(Object.class)` and that's why it fails - you can't cast an Object to a float, double, int, etc. So I think the better solution is to refine what we return for CHOICE types. Specifically, if we have a choice between two types of numbers where one is wider than the other, we should return the wider type (e.g., for a double/float we should return double). For two numbers where one is not wider than the other (e.g., double/int) we should return a String, as String is considered wider than both of these. For other cases, (e.g., double/Record) we should return Object as we do now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630338743/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630356879","html_url":"https://github.com/apache/nifi/pull/4280#issuecomment-630356879","issue_url":"https://api.github.com/repos/apache/nifi/issues/4280","id":630356879,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDM1Njg3OQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T18:23:34Z","updated_at":"2020-05-18T18:23:34Z","author_association":"CONTRIBUTOR","body":"@pcgrenier I created a new PR based off of yours - https://github.com/apache/nifi/pull/4282. Can you review that and make sure that it gives you what you need? This will allow the table schema to be more intelligent for CHOICE types and in cases like this it will allow you to use proper SQL CAST functions and also allows you to perform functions like SUM() without the need to explicitly cast them, which is important if your data does have mixed data types.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630356879/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630383140","html_url":"https://github.com/apache/nifi/pull/4275#issuecomment-630383140","issue_url":"https://api.github.com/repos/apache/nifi/issues/4275","id":630383140,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDM4MzE0MA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T19:12:45Z","updated_at":"2020-05-18T19:12:45Z","author_association":"CONTRIBUTOR","body":"Thanks @mattyb149 . Code looks good to me, all tests pass. And thanks @ottobackwards for verifying behavior! +1 have merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630383140/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630410521","html_url":"https://github.com/apache/nifi/pull/4264#issuecomment-630410521","issue_url":"https://api.github.com/repos/apache/nifi/issues/4264","id":630410521,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDQxMDUyMQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T20:12:37Z","updated_at":"2020-05-18T20:12:37Z","author_association":"CONTRIBUTOR","body":"Thanks for the PR @matcauf ! Code looks good. Was able to verify validation was taking place now. +1 merged to masteR!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630410521/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630446175","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630446175","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630446175,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDQ0NjE3NQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T21:31:23Z","updated_at":"2020-05-18T21:31:23Z","author_association":"CONTRIBUTOR","body":"I decided to do the S2S refactor in a separate Jira as it grew larger than anticipated. @thenatog if you're satisfied with what's here, please give a +1 and I'll merge. Thanks. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630446175/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630447798","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630447798","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630447798,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDQ0Nzc5OA==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T21:35:21Z","updated_at":"2020-05-18T21:35:21Z","author_association":"CONTRIBUTOR","body":"Looks like there might be a small issue with JDK11 tests, if we can fix that I'll +1. Thanks for the huge contribution, Andy! Definitely valuable changes here - the SSL Contexts have needed this improvement for a long time.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630447798/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630447908","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630447908","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630447908,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDQ0NzkwOA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T21:35:33Z","updated_at":"2020-05-18T21:35:33Z","author_association":"CONTRIBUTOR","body":"There was another Java 11 unit test failure. Resolved that. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630447908/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630485289","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630485289","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630485289,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDQ4NTI4OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-18T23:22:15Z","updated_at":"2020-05-18T23:22:15Z","author_association":"CONTRIBUTOR","body":"Running a full build this time because some of the tests were failing on ordering. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630485289/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630562444","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630562444","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630562444,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDU2MjQ0NA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T03:49:57Z","updated_at":"2020-05-19T03:49:57Z","author_association":"CONTRIBUTOR","body":"Thanks for finding all the edge cases @thenatog & @markap14. I think this is ready for your +1. I'll then merge. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630562444/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630666271","html_url":"https://github.com/apache/nifi/pull/4272#issuecomment-630666271","issue_url":"https://api.github.com/repos/apache/nifi/issues/4272","id":630666271,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDY2NjI3MQ==","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T08:23:10Z","updated_at":"2020-05-19T08:23:10Z","author_association":"CONTRIBUTOR","body":"Thank you @turcsanyip! Fixed them in the next commit.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630666271/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630675991","html_url":"https://github.com/apache/nifi/pull/4283#issuecomment-630675991","issue_url":"https://api.github.com/repos/apache/nifi/issues/4283","id":630675991,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDY3NTk5MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T08:40:46Z","updated_at":"2020-05-19T08:40:46Z","author_association":"CONTRIBUTOR","body":"Merged to master, thanks @mtien-apache ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630675991/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630830638","html_url":"https://github.com/apache/nifi/pull/4280#issuecomment-630830638","issue_url":"https://api.github.com/repos/apache/nifi/issues/4280","id":630830638,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDgzMDYzOA==","user":{"login":"pcgrenier","id":4166010,"node_id":"MDQ6VXNlcjQxNjYwMTA=","avatar_url":"https://avatars.githubusercontent.com/u/4166010?v=4","gravatar_id":"","url":"https://api.github.com/users/pcgrenier","html_url":"https://github.com/pcgrenier","followers_url":"https://api.github.com/users/pcgrenier/followers","following_url":"https://api.github.com/users/pcgrenier/following{/other_user}","gists_url":"https://api.github.com/users/pcgrenier/gists{/gist_id}","starred_url":"https://api.github.com/users/pcgrenier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pcgrenier/subscriptions","organizations_url":"https://api.github.com/users/pcgrenier/orgs","repos_url":"https://api.github.com/users/pcgrenier/repos","events_url":"https://api.github.com/users/pcgrenier/events{/privacy}","received_events_url":"https://api.github.com/users/pcgrenier/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T13:47:42Z","updated_at":"2020-05-19T13:47:42Z","author_association":"CONTRIBUTOR","body":"Closing in favor of #4282","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630830638/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630997583","html_url":"https://github.com/apache/nifi/pull/4263#issuecomment-630997583","issue_url":"https://api.github.com/repos/apache/nifi/issues/4263","id":630997583,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMDk5NzU4Mw==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T18:23:35Z","updated_at":"2020-05-19T18:23:35Z","author_association":"CONTRIBUTOR","body":"+1, looks good. Thanks Andy!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/630997583/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631023807","html_url":"https://github.com/apache/nifi/pull/4285#issuecomment-631023807","issue_url":"https://api.github.com/repos/apache/nifi/issues/4285","id":631023807,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTAyMzgwNw==","user":{"login":"IlyaKovalev","id":37645879,"node_id":"MDQ6VXNlcjM3NjQ1ODc5","avatar_url":"https://avatars.githubusercontent.com/u/37645879?v=4","gravatar_id":"","url":"https://api.github.com/users/IlyaKovalev","html_url":"https://github.com/IlyaKovalev","followers_url":"https://api.github.com/users/IlyaKovalev/followers","following_url":"https://api.github.com/users/IlyaKovalev/following{/other_user}","gists_url":"https://api.github.com/users/IlyaKovalev/gists{/gist_id}","starred_url":"https://api.github.com/users/IlyaKovalev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/IlyaKovalev/subscriptions","organizations_url":"https://api.github.com/users/IlyaKovalev/orgs","repos_url":"https://api.github.com/users/IlyaKovalev/repos","events_url":"https://api.github.com/users/IlyaKovalev/events{/privacy}","received_events_url":"https://api.github.com/users/IlyaKovalev/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-19T19:08:02Z","updated_at":"2020-05-19T19:08:02Z","author_association":"CONTRIBUTOR","body":"In createStateProvider() ValidationContext always try to validate default values not actual.\r\nso if property is required and does not have default value error occurs \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631023807/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631205319","html_url":"https://github.com/apache/nifi/pull/4286#issuecomment-631205319","issue_url":"https://api.github.com/repos/apache/nifi/issues/4286","id":631205319,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTIwNTMxOQ==","user":{"login":"sjyang18","id":41694933,"node_id":"MDQ6VXNlcjQxNjk0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/41694933?v=4","gravatar_id":"","url":"https://api.github.com/users/sjyang18","html_url":"https://github.com/sjyang18","followers_url":"https://api.github.com/users/sjyang18/followers","following_url":"https://api.github.com/users/sjyang18/following{/other_user}","gists_url":"https://api.github.com/users/sjyang18/gists{/gist_id}","starred_url":"https://api.github.com/users/sjyang18/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sjyang18/subscriptions","organizations_url":"https://api.github.com/users/sjyang18/orgs","repos_url":"https://api.github.com/users/sjyang18/repos","events_url":"https://api.github.com/users/sjyang18/events{/privacy}","received_events_url":"https://api.github.com/users/sjyang18/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T02:58:21Z","updated_at":"2020-05-20T02:58:21Z","author_association":"CONTRIBUTOR","body":"@esecules, @jfrazee This is the approach I suggest we go to support Azurite emulator. \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631205319/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631241948","html_url":"https://github.com/apache/nifi/pull/2724#issuecomment-631241948","issue_url":"https://api.github.com/repos/apache/nifi/issues/2724","id":631241948,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTI0MTk0OA==","user":{"login":"AnujJain7","id":15700320,"node_id":"MDQ6VXNlcjE1NzAwMzIw","avatar_url":"https://avatars.githubusercontent.com/u/15700320?v=4","gravatar_id":"","url":"https://api.github.com/users/AnujJain7","html_url":"https://github.com/AnujJain7","followers_url":"https://api.github.com/users/AnujJain7/followers","following_url":"https://api.github.com/users/AnujJain7/following{/other_user}","gists_url":"https://api.github.com/users/AnujJain7/gists{/gist_id}","starred_url":"https://api.github.com/users/AnujJain7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AnujJain7/subscriptions","organizations_url":"https://api.github.com/users/AnujJain7/orgs","repos_url":"https://api.github.com/users/AnujJain7/repos","events_url":"https://api.github.com/users/AnujJain7/events{/privacy}","received_events_url":"https://api.github.com/users/AnujJain7/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T05:16:52Z","updated_at":"2020-05-20T05:16:52Z","author_association":"NONE","body":"We are facing issue in PublishGCPubSub operator , some threads are going in hang state\r\nchecking on thread dump get following error for those thread\r\n`{\"stackTrace\":\"\\\"Timer-Driven Process Thread-50\\\" Id=8466 TIMED_WAITING  on null\\n\\tat java.lang.Thread.sleep(Native Method)\\n\\tat org.apache.nifi.processors.gcp.pubsub.PublishGCPubSub.onTrigger(PublishGCPubSub.java:166)\\n\\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\\n\\tat `\r\n\r\nLooking into code of PublishGCPubSub.java at line number 166\r\nhttps://github.com/apache/nifi/blob/master/nifi-nar-bundles/nifi-gcp-bundle/nifi-gcp-processors/src/main/java/org/apache/nifi/processors/gcp/pubsub/PublishGCPubSub.java#L166\r\n\r\nthere is use of Thread.sleep with condition that messageIdFuture.isDone, seems like an issue \r\n why we need to sleep the thread when the task is completed ?\r\n_```\r\nwhile (messageIdFuture.isDone()) {\r\n                        Thread.sleep(500L);\r\n                    }\r\n```_\r\n\r\nLooking forward to get response on this","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631241948/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631523161","html_url":"https://github.com/apache/nifi/pull/4285#issuecomment-631523161","issue_url":"https://api.github.com/repos/apache/nifi/issues/4285","id":631523161,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTUyMzE2MQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T14:50:14Z","updated_at":"2020-05-20T14:50:14Z","author_association":"CONTRIBUTOR","body":"That's a great catch @IlyaKovalev! Thanks for the fix - +1 merged it to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631523161/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631588369","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-631588369","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":631588369,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTU4ODM2OQ==","user":{"login":"pcgrenier","id":4166010,"node_id":"MDQ6VXNlcjQxNjYwMTA=","avatar_url":"https://avatars.githubusercontent.com/u/4166010?v=4","gravatar_id":"","url":"https://api.github.com/users/pcgrenier","html_url":"https://github.com/pcgrenier","followers_url":"https://api.github.com/users/pcgrenier/followers","following_url":"https://api.github.com/users/pcgrenier/following{/other_user}","gists_url":"https://api.github.com/users/pcgrenier/gists{/gist_id}","starred_url":"https://api.github.com/users/pcgrenier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pcgrenier/subscriptions","organizations_url":"https://api.github.com/users/pcgrenier/orgs","repos_url":"https://api.github.com/users/pcgrenier/repos","events_url":"https://api.github.com/users/pcgrenier/events{/privacy}","received_events_url":"https://api.github.com/users/pcgrenier/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T16:36:22Z","updated_at":"2020-05-20T16:36:22Z","author_association":"CONTRIBUTOR","body":"I do agree, but there are other functions like concat, that do make more\nsense. I also think taking this choice out of the hands of the flow\ndeveloper is bad. I think you are correct in that it is a bad idea to allow\nthe sum of strings and ints but also not allowing it at all if the\ndeveloper needs to do it is worse. Really I'm cool with it either way and\nhappy to see the fix.\n\nOn Wed, May 20, 2020, 12:16 PM markap14 <notifications@github.com> wrote:\n\n> *@markap14* commented on this pull request.\n> ------------------------------\n>\n> In\n> nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/main/java/org/apache/nifi/queryrecord/FlowFileTable.java\n> <https://github.com/apache/nifi/pull/4282#discussion_r428138798>:\n>\n> > +                    return getRelDataType(widestDataType, typeFactory);\n> +                }\n> +\n> +                // None of the data types is strictly the widest. Check if all data types are numeric.\n> +                // This would happen, for instance, if the data type is a choice between float and integer.\n> +                // If that is the case, we can use a String type for the table schema because all values will fit\n> +                // into a String. This will still allow for casting, etc. if the query requires it.\n> +                boolean allNumeric = true;\n> +                for (final DataType possibleType : choiceDataType.getPossibleSubTypes()) {\n> +                    if (!isNumeric(possibleType)) {\n> +                        allNumeric = false;\n> +                        break;\n> +                    }\n> +                }\n> +\n> +                if (allNumeric) {\n>\n> @pcgrenier <https://github.com/pcgrenier> I do see your argument. But I\n> think I disagree. Let's say that we have the following CSV then:\n>\n> name, other\n> markap14, 48\n> pcgrenier, 19\n>\n> And the data's schema indicates that \"other\" is a CHOICE between STRING or\n> INT. Fundamentally, it comes down to one question: in this case, should we\n> allow the user to run a query like SELECT SUM(other) as total FROM\n> FLOWFILE.\n>\n> Your argument is yes, because I happen to know that for this particular\n> FlowFile it will succeed.\n>\n> My argument, though, is that we should not allow it. Yes, it would succeed\n> for this FlowFile, but what will happen is that it will fail for other\n> FlowFiles. Other FlowFiles that have the same schema and other FlowFiles\n> for which the data is exactly correct according to the schema. This makes\n> things more confusing because some FlowFiles succeed and others fail. All\n> the while, the schema clearly indicates that the data may be a STRING, and\n> you shouldn't really be able to sum together STRING data. If you do sort\n> out all the number values, it makes sense to use a schema that reflects\n> that. Otherwise, if we allow summing together a CHOICE[int, string] we're\n> not really honoring the schema, in my point of view.\n>\n> —\n> You are receiving this because you were mentioned.\n> Reply to this email directly, view it on GitHub\n> <https://github.com/apache/nifi/pull/4282#discussion_r428138798>, or\n> unsubscribe\n> <https://github.com/notifications/unsubscribe-auth/AA7ZC6TSH6KKCGHPIA4BY63RSP65RANCNFSM4NEKANRA>\n> .\n>\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631588369/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631621679","html_url":"https://github.com/apache/nifi/pull/4286#issuecomment-631621679","issue_url":"https://api.github.com/repos/apache/nifi/issues/4286","id":631621679,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTYyMTY3OQ==","user":{"login":"sjyang18","id":41694933,"node_id":"MDQ6VXNlcjQxNjk0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/41694933?v=4","gravatar_id":"","url":"https://api.github.com/users/sjyang18","html_url":"https://github.com/sjyang18","followers_url":"https://api.github.com/users/sjyang18/followers","following_url":"https://api.github.com/users/sjyang18/following{/other_user}","gists_url":"https://api.github.com/users/sjyang18/gists{/gist_id}","starred_url":"https://api.github.com/users/sjyang18/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sjyang18/subscriptions","organizations_url":"https://api.github.com/users/sjyang18/orgs","repos_url":"https://api.github.com/users/sjyang18/repos","events_url":"https://api.github.com/users/sjyang18/events{/privacy}","received_events_url":"https://api.github.com/users/sjyang18/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T17:38:02Z","updated_at":"2020-05-20T17:38:02Z","author_association":"CONTRIBUTOR","body":"reference documentation in implementing the support for azurite emulator. \r\n\r\nhttps://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#connect-to-the-emulator-account-using-a-shortcut\r\n\r\nhttps://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#specify-an-http-proxy","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631621679/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631647205","html_url":"https://github.com/apache/nifi/pull/4278#issuecomment-631647205","issue_url":"https://api.github.com/repos/apache/nifi/issues/4278","id":631647205,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTY0NzIwNQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T18:28:45Z","updated_at":"2020-05-20T18:28:45Z","author_association":"CONTRIBUTOR","body":"i didnt get to this in time and will need to come back to it in a couple weeks if nobody has.  just putting this here in case someone else can pick it up.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631647205/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631695622","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-631695622","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":631695622,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTY5NTYyMg==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T20:02:31Z","updated_at":"2020-05-20T20:02:31Z","author_association":"CONTRIBUTOR","body":"I tried `LISTAGG` and the concat operator `||` with the current PR and they work on choice (int,string) fields. @pcgrenier do you have an example of a query that doesn't work with the current PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631695622/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631697641","html_url":"https://github.com/apache/nifi/pull/4268#issuecomment-631697641","issue_url":"https://api.github.com/repos/apache/nifi/issues/4268","id":631697641,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTY5NzY0MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T20:06:39Z","updated_at":"2020-05-20T20:06:39Z","author_association":"CONTRIBUTOR","body":"Definitely pros and cons to both. If we incrementally bring over code from MiNiFi, we need to keep up to date with any commits that are happening in the MINIFI repo, plus there's the duplication as you mentioned. Working in a branch until MiNiFi is fully in NiFi means we have to keep up with commits in NiFi master on the branch, some of which may be fairly invasive.\r\n\r\nIf I had to pick, I think the branch strategy is the better of the two, as the code can be brought over \"all at once\" so to speak, and we don't have to worry about refactoring code that we bring in piecemeal. The final PR will be a beast but as you said we'll have to pay the price someday, better to only pay it once.\r\n\r\nIf you agree, I can close this PR and continuing working in my branch.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631697641/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631713164","html_url":"https://github.com/apache/nifi/pull/4268#issuecomment-631713164","issue_url":"https://api.github.com/repos/apache/nifi/issues/4268","id":631713164,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTcxMzE2NA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T20:38:24Z","updated_at":"2020-05-20T20:38:24Z","author_association":"MEMBER","body":"I think it is fair to do this piecewise.  Maybe make this a branch against our core repo and iteratively feed in PRs along the way?  Might help in striking the balance of getting the refactoring/inclusion correct without dropping a massive PR in there?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631713164/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631720302","html_url":"https://github.com/apache/nifi/pull/3659#issuecomment-631720302","issue_url":"https://api.github.com/repos/apache/nifi/issues/3659","id":631720302,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTcyMDMwMg==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T20:52:24Z","updated_at":"2020-05-20T20:52:24Z","author_association":"MEMBER","body":"@pvillard31 Getting this in is probably more useful than just adding more tests. This LGTM and I've checked it a few times.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631720302/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631724090","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-631724090","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":631724090,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTcyNDA5MA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T21:00:19Z","updated_at":"2020-05-20T21:00:30Z","author_association":"CONTRIBUTOR","body":"Yeah, I think those should work fine. For something like \"concat\" it should work with both numbers and strings - and it does. In that case, what gets returned to calcite for the table's schema is an Object for that column, and concat will work against any type of object.\r\n\r\n> I also think taking this choice out of the hands of the flow developer is bad.\r\n\r\nI don't believe we are taking the choice out of the hands of the flow developer. We're simply saying that if you want to do some sort of numeric-only aggregate function, your schema must indicate that the field is a number. I think this is fair game. The user can, in this case, simply use a schema that indicates that field is numeric.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631724090/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631729598","html_url":"https://github.com/apache/nifi/pull/4268#issuecomment-631729598","issue_url":"https://api.github.com/repos/apache/nifi/issues/4268","id":631729598,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTcyOTU5OA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T21:12:28Z","updated_at":"2020-05-20T21:12:28Z","author_association":"CONTRIBUTOR","body":"Ah you were talking about the middle ground the whole time, went right over my head :) So, I can push a branch called `MINIFI-422` up to the Apache repo, then we can do PRs against that branch until it's ready as a single PR against master?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631729598/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631730497","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-631730497","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":631730497,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTczMDQ5Nw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-20T21:14:26Z","updated_at":"2020-05-20T21:14:26Z","author_association":"CONTRIBUTOR","body":"That's a good point, if an inferred schema is being handed around but the flow file changes (partitioned, filtered, e.g.) such that the desired fields are all numeric, then even the inference stuff can pick up the more specific schema (without having to necessarily and manually update it)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631730497/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631800420","html_url":"https://github.com/apache/nifi/pull/4231#issuecomment-631800420","issue_url":"https://api.github.com/repos/apache/nifi/issues/4231","id":631800420,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTgwMDQyMA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T00:03:04Z","updated_at":"2020-05-21T00:03:04Z","author_association":"CONTRIBUTOR","body":"@karthik-kadajji It would be easier to apply this change to the Mongo controller service. If you look at all of the processors, you'll see that they have \"client service\" as an option. In the long run, I'm planning to start deprecating the current configuration options and have the Mongo processors use that because it matches our design patterns better.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631800420/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631815567","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-631815567","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":631815567,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTgxNTU2Nw==","user":{"login":"pcgrenier","id":4166010,"node_id":"MDQ6VXNlcjQxNjYwMTA=","avatar_url":"https://avatars.githubusercontent.com/u/4166010?v=4","gravatar_id":"","url":"https://api.github.com/users/pcgrenier","html_url":"https://github.com/pcgrenier","followers_url":"https://api.github.com/users/pcgrenier/followers","following_url":"https://api.github.com/users/pcgrenier/following{/other_user}","gists_url":"https://api.github.com/users/pcgrenier/gists{/gist_id}","starred_url":"https://api.github.com/users/pcgrenier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pcgrenier/subscriptions","organizations_url":"https://api.github.com/users/pcgrenier/orgs","repos_url":"https://api.github.com/users/pcgrenier/repos","events_url":"https://api.github.com/users/pcgrenier/events{/privacy}","received_events_url":"https://api.github.com/users/pcgrenier/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T00:57:50Z","updated_at":"2020-05-21T00:57:50Z","author_association":"CONTRIBUTOR","body":"> Yeah, I think those should work fine. For something like \"concat\" it should work with both numbers and strings - and it does. In that case, what gets returned to calcite for the table's schema is an Object for that column, and concat will work against any type of object.\r\n> \r\n> > I also think taking this choice out of the hands of the flow developer is bad.\r\n> \r\n> I don't believe we are taking the choice out of the hands of the flow developer. We're simply saying that if you want to do some sort of numeric-only aggregate function, your schema must indicate that the field is a number. I think this is fair game. The user can, in this case, simply use a schema that indicates that field is numeric.\r\n\r\nMy bad, I did test a few other string based aggregations like the LISTAGG functions and they all seem to work as intended. I just assumed if the number based functions failed on Choice returning an Object type so would the String based ones. So yeah if calcite, which it looks to be doing, is properly calling the toString on objects then yeah. This is awesome thanks for following up on this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631815567/reactions","total_count":2,"+1":2,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631885146","html_url":"https://github.com/apache/nifi/pull/2724#issuecomment-631885146","issue_url":"https://api.github.com/repos/apache/nifi/issues/2724","id":631885146,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMTg4NTE0Ng==","user":{"login":"AnujJain7","id":15700320,"node_id":"MDQ6VXNlcjE1NzAwMzIw","avatar_url":"https://avatars.githubusercontent.com/u/15700320?v=4","gravatar_id":"","url":"https://api.github.com/users/AnujJain7","html_url":"https://github.com/AnujJain7","followers_url":"https://api.github.com/users/AnujJain7/followers","following_url":"https://api.github.com/users/AnujJain7/following{/other_user}","gists_url":"https://api.github.com/users/AnujJain7/gists{/gist_id}","starred_url":"https://api.github.com/users/AnujJain7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AnujJain7/subscriptions","organizations_url":"https://api.github.com/users/AnujJain7/orgs","repos_url":"https://api.github.com/users/AnujJain7/repos","events_url":"https://api.github.com/users/AnujJain7/events{/privacy}","received_events_url":"https://api.github.com/users/AnujJain7/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T05:12:55Z","updated_at":"2020-05-21T05:12:55Z","author_association":"NONE","body":"Found that there is already a bug raised in NIFI since Sep'19\r\nhttps://issues.apache.org/jira/browse/NIFI-6701\r\n\r\n\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/631885146/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632126722","html_url":"https://github.com/apache/nifi/pull/4268#issuecomment-632126722","issue_url":"https://api.github.com/repos/apache/nifi/issues/4268","id":632126722,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjEyNjcyMg==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T14:45:51Z","updated_at":"2020-05-21T14:45:51Z","author_association":"MEMBER","body":"@mattyb149 Yeah, it seems to make sense.  If you are onboard with that approach, maybe we leave the lower commits as squashed items for each item we are tracking.  We can build on top of those with one or more commits for a given issue being worked.  Does that sound like a reasonable approach?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632126722/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632232135","html_url":"https://github.com/apache/nifi/pull/4282#issuecomment-632232135","issue_url":"https://api.github.com/repos/apache/nifi/issues/4282","id":632232135,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjIzMjEzNQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T17:13:51Z","updated_at":"2020-05-21T17:13:51Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the improvement! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632232135/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632311149","html_url":"https://github.com/apache/nifi/pull/4289#issuecomment-632311149","issue_url":"https://api.github.com/repos/apache/nifi/issues/4289","id":632311149,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjMxMTE0OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T19:55:48Z","updated_at":"2020-05-21T19:55:48Z","author_association":"CONTRIBUTOR","body":"@thenatog I believe this PR resolves the error you and I both got during testing of PR 4263 where if a secure cluster had multiple nodes running on the same physical/virtual server using different ports, Site-to-site would fail to retrieve the peers because the certificate SAN did not match. What was happening was the request for S2S details was being replicated to all nodes, and whichever answered first used its ports, but often did not match the specific node which was queried. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632311149/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632323680","html_url":"https://github.com/apache/nifi/pull/4289#issuecomment-632323680","issue_url":"https://api.github.com/repos/apache/nifi/issues/4289","id":632323680,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjMyMzY4MA==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T20:23:14Z","updated_at":"2020-05-21T20:23:14Z","author_association":"CONTRIBUTOR","body":"Very cool, will review soon","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632323680/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632336433","html_url":"https://github.com/apache/nifi/pull/4233#issuecomment-632336433","issue_url":"https://api.github.com/repos/apache/nifi/issues/4233","id":632336433,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjMzNjQzMw==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T20:46:19Z","updated_at":"2020-05-21T20:46:19Z","author_association":"MEMBER","body":"@Woutifier Other than my comment on validating that the time period is > 0 the code looks good. Is there an easy way to test this (not necessarily a unit test)?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632336433/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632366081","html_url":"https://github.com/apache/nifi/pull/4289#issuecomment-632366081","issue_url":"https://api.github.com/repos/apache/nifi/issues/4289","id":632366081,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjM2NjA4MQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-21T21:54:20Z","updated_at":"2020-05-21T21:54:20Z","author_association":"CONTRIBUTOR","body":"I ran the GitHub Actions checks twice. The problem is with downloading a dependency for another module from a remote repository. Running the build on my local machine completes successfully. \r\n\r\n```\r\n[ERROR] Exception calling reference $projectsSortedByOrganization at META-INF/DEPENDENCIES.vm[line 34, column 33]\r\n[ERROR] Failed to execute goal org.apache.maven.plugins:maven-remote-resources-plugin:1.7.0:process (process-resource-bundles) on project nifi-hive_1_1-processors: Execution process-resource-bundles of goal org.apache.maven.plugins:maven-remote-resources-plugin:1.7.0:process failed: Error resolving project artifact: Failure to transfer eigenbase:eigenbase-properties:pom:1.1.4 from https://repository.apache.org/content/repositories/releases was cached in the local repository, resolution will not be reattempted until the update interval of apache-repo has elapsed or updates are forced. Original error: Could not transfer artifact eigenbase:eigenbase-properties:pom:1.1.4 from/to apache-repo (https://repository.apache.org/content/repositories/releases): Transfer failed for https://repository.apache.org/content/repositories/releases/eigenbase/eigenbase-properties/1.1.4/eigenbase-properties-1.1.4.pom 503 Service Unavailable for project eigenbase:eigenbase-properties:jar:1.1.4 -> [Help 1]\r\n[ERROR] \r\n[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.\r\n[ERROR] Re-run Maven using the -X switch to enable full debug logging.\r\n[ERROR] \r\n[ERROR] For more information about the errors and possible solutions, please read the following articles:\r\n[ERROR] [Help 1] http://cwiki.apache.org/confluence/display/MAVEN/PluginExecutionException\r\n[ERROR] \r\n[ERROR] After correcting the problems, you can resume the build with the command\r\n[ERROR]   mvn <args> -rf :nifi-hive_1_1-processors\r\n##[error]Process completed with exit code 1.\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632366081/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632761026","html_url":"https://github.com/apache/nifi/pull/2724#issuecomment-632761026","issue_url":"https://api.github.com/repos/apache/nifi/issues/2724","id":632761026,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjc2MTAyNg==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-22T15:43:05Z","updated_at":"2020-05-22T15:43:05Z","author_association":"CONTRIBUTOR","body":"@AnujJain7 Yes, it seems to be a miss from my side. I will raise a PR to get this addressed but a word of caution, these processors were created long back and the SDK used must have been outdated by now, I guess. I cannot work on getting these processors revamped since I no longer have any running GCP subscriptions.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632761026/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632842869","html_url":"https://github.com/apache/nifi/pull/4286#issuecomment-632842869","issue_url":"https://api.github.com/repos/apache/nifi/issues/4286","id":632842869,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjg0Mjg2OQ==","user":{"login":"esecules","id":5402229,"node_id":"MDQ6VXNlcjU0MDIyMjk=","avatar_url":"https://avatars.githubusercontent.com/u/5402229?v=4","gravatar_id":"","url":"https://api.github.com/users/esecules","html_url":"https://github.com/esecules","followers_url":"https://api.github.com/users/esecules/followers","following_url":"https://api.github.com/users/esecules/following{/other_user}","gists_url":"https://api.github.com/users/esecules/gists{/gist_id}","starred_url":"https://api.github.com/users/esecules/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/esecules/subscriptions","organizations_url":"https://api.github.com/users/esecules/orgs","repos_url":"https://api.github.com/users/esecules/repos","events_url":"https://api.github.com/users/esecules/events{/privacy}","received_events_url":"https://api.github.com/users/esecules/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-22T18:32:15Z","updated_at":"2020-05-22T18:32:15Z","author_association":"CONTRIBUTOR","body":"LGTM! what about you, @jfrazee ?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632842869/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632848422","html_url":"https://github.com/apache/nifi/pull/4291#issuecomment-632848422","issue_url":"https://api.github.com/repos/apache/nifi/issues/4291","id":632848422,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjg0ODQyMg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-22T18:41:50Z","updated_at":"2020-05-22T18:41:50Z","author_association":"CONTRIBUTOR","body":"Thanks Arpad. Merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632848422/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632985702","html_url":"https://github.com/apache/nifi/pull/2724#issuecomment-632985702","issue_url":"https://api.github.com/repos/apache/nifi/issues/2724","id":632985702,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMjk4NTcwMg==","user":{"login":"AnujJain7","id":15700320,"node_id":"MDQ6VXNlcjE1NzAwMzIw","avatar_url":"https://avatars.githubusercontent.com/u/15700320?v=4","gravatar_id":"","url":"https://api.github.com/users/AnujJain7","html_url":"https://github.com/AnujJain7","followers_url":"https://api.github.com/users/AnujJain7/followers","following_url":"https://api.github.com/users/AnujJain7/following{/other_user}","gists_url":"https://api.github.com/users/AnujJain7/gists{/gist_id}","starred_url":"https://api.github.com/users/AnujJain7/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AnujJain7/subscriptions","organizations_url":"https://api.github.com/users/AnujJain7/orgs","repos_url":"https://api.github.com/users/AnujJain7/repos","events_url":"https://api.github.com/users/AnujJain7/events{/privacy}","received_events_url":"https://api.github.com/users/AnujJain7/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-23T04:58:09Z","updated_at":"2020-05-23T04:58:09Z","author_association":"NONE","body":"@zenfenan,\r\nThanks for code fix,\r\nI have raised this issue to nifi development team as well and they have concern for testing(as you said these processor were create long back).\r\nI am using 1.9.2 version of this processor so I suggest them to change and create a newer version for this like 1.9.3 or something like this, so it will not impact latest versions and we can check this in our environment.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/632985702/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633073098","html_url":"https://github.com/apache/nifi/pull/4288#issuecomment-633073098","issue_url":"https://api.github.com/repos/apache/nifi/issues/4288","id":633073098,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzA3MzA5OA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-23T15:11:02Z","updated_at":"2020-05-23T15:11:02Z","author_association":"CONTRIBUTOR","body":"Hey @dml872 - thanks a lot for this contribution. I was thinking about it (as I need something very similar at the moment) and I was wondering if it really makes sense to do that based on the flow file content.\r\n\r\nMy thought process is the following: a user is making a request that is received through a ListenHttp or HandleHttpRequest processors. The HTTP request contains the `Authorization: Bearer <JWT>` header. I would then use the `UnsignJWT` processor to validate the JWT and retrieve the claims from the JWT payload. In my mind the `UnsignJWT` processor would have a property saying in which flow file attribute we have the `Bearer <JWT>` data, would unsign it, and would update the flow file by adding attributes to it with the claims contained in the JWT. If the JWT cannot be unsigned, the flow file would go to a failure relationship.\r\n\r\nDoes it make sense? Do you have another use case in mind?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633073098/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633225635","html_url":"https://github.com/apache/nifi/pull/4011#issuecomment-633225635","issue_url":"https://api.github.com/repos/apache/nifi/issues/4011","id":633225635,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzIyNTYzNQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-24T12:43:54Z","updated_at":"2020-05-24T12:44:10Z","author_association":"CONTRIBUTOR","body":"I agree with @pvillard31. While it's fine most of the time, there are NiFi users such as government agencies and healthcare providers where most of the NiFi users should not have minimal ability to inspect the data for legal and policy reasons.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633225635/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633509289","html_url":"https://github.com/apache/nifi/pull/3624#issuecomment-633509289","issue_url":"https://api.github.com/repos/apache/nifi/issues/3624","id":633509289,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzUwOTI4OQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T10:43:54Z","updated_at":"2020-05-25T10:43:54Z","author_association":"CONTRIBUTOR","body":"Sorry about missing your request. I get so many alerts from GitHub it fell through the cracks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633509289/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633536990","html_url":"https://github.com/apache/nifi/pull/4295#issuecomment-633536990","issue_url":"https://api.github.com/repos/apache/nifi/issues/4295","id":633536990,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzUzNjk5MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T11:58:42Z","updated_at":"2020-05-25T11:58:42Z","author_association":"CONTRIBUTOR","body":"@pvillard31 @mtien-apache @alopresto I just pushed his requested change.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633536990/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633565751","html_url":"https://github.com/apache/nifi/pull/3624#issuecomment-633565751","issue_url":"https://api.github.com/repos/apache/nifi/issues/3624","id":633565751,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzU2NTc1MQ==","user":{"login":"pcgrenier","id":4166010,"node_id":"MDQ6VXNlcjQxNjYwMTA=","avatar_url":"https://avatars.githubusercontent.com/u/4166010?v=4","gravatar_id":"","url":"https://api.github.com/users/pcgrenier","html_url":"https://github.com/pcgrenier","followers_url":"https://api.github.com/users/pcgrenier/followers","following_url":"https://api.github.com/users/pcgrenier/following{/other_user}","gists_url":"https://api.github.com/users/pcgrenier/gists{/gist_id}","starred_url":"https://api.github.com/users/pcgrenier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pcgrenier/subscriptions","organizations_url":"https://api.github.com/users/pcgrenier/orgs","repos_url":"https://api.github.com/users/pcgrenier/repos","events_url":"https://api.github.com/users/pcgrenier/events{/privacy}","received_events_url":"https://api.github.com/users/pcgrenier/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T13:12:17Z","updated_at":"2020-05-25T13:12:17Z","author_association":"CONTRIBUTOR","body":"> \r\n> \r\n> Sorry about missing your request. I get so many alerts from GitHub it fell through the cracks.\r\n\r\nAll good, Thanks for the review and the merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633565751/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633566852","html_url":"https://github.com/apache/nifi/pull/4173#issuecomment-633566852","issue_url":"https://api.github.com/repos/apache/nifi/issues/4173","id":633566852,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzU2Njg1Mg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T13:14:50Z","updated_at":"2020-05-25T13:14:50Z","author_association":"CONTRIBUTOR","body":"@pvillard31 do you have any time to do a review for this? I'd like to get this merged in so I can pivot to being able to integrate it with InvokeHttp and other HTTP clients we have.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633566852/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633572508","html_url":"https://github.com/apache/nifi/pull/4101#issuecomment-633572508","issue_url":"https://api.github.com/repos/apache/nifi/issues/4101","id":633572508,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzU3MjUwOA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T13:27:29Z","updated_at":"2020-05-25T13:27:29Z","author_association":"CONTRIBUTOR","body":"NIFI-7212 was already addressed with an Ignore annotation. I've got a PR up that does the same thing for 7211 and will merge that in once it passes the build.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633572508/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633576225","html_url":"https://github.com/apache/nifi/pull/4161#issuecomment-633576225","issue_url":"https://api.github.com/repos/apache/nifi/issues/4161","id":633576225,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzU3NjIyNQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T13:35:49Z","updated_at":"2020-05-25T13:35:49Z","author_association":"CONTRIBUTOR","body":"@wanghongqi on top of what @joewitt said, bear in mind also that the design philosophy of NiFi here is a lot like the traditional Unix philosophy of \"many little good tools chained together\" instead of a swiss army knife tool that excels at nothing in particular.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633576225/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633583708","html_url":"https://github.com/apache/nifi/pull/4161#issuecomment-633583708","issue_url":"https://api.github.com/repos/apache/nifi/issues/4161","id":633583708,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzU4MzcwOA==","user":{"login":"tonykoval","id":1135652,"node_id":"MDQ6VXNlcjExMzU2NTI=","avatar_url":"https://avatars.githubusercontent.com/u/1135652?v=4","gravatar_id":"","url":"https://api.github.com/users/tonykoval","html_url":"https://github.com/tonykoval","followers_url":"https://api.github.com/users/tonykoval/followers","following_url":"https://api.github.com/users/tonykoval/following{/other_user}","gists_url":"https://api.github.com/users/tonykoval/gists{/gist_id}","starred_url":"https://api.github.com/users/tonykoval/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tonykoval/subscriptions","organizations_url":"https://api.github.com/users/tonykoval/orgs","repos_url":"https://api.github.com/users/tonykoval/repos","events_url":"https://api.github.com/users/tonykoval/events{/privacy}","received_events_url":"https://api.github.com/users/tonykoval/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T13:52:58Z","updated_at":"2020-05-25T13:52:58Z","author_association":"NONE","body":"I created a custom processor [SplitRecordToAttributes,](https://tonykoval.github.io/nifi-vub-scala-bundle/SplitRecordToAttributes.html) check https://github.com/tonykoval/nifi-vub-scala-bundle","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633583708/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633622977","html_url":"https://github.com/apache/nifi/pull/4276#issuecomment-633622977","issue_url":"https://api.github.com/repos/apache/nifi/issues/4276","id":633622977,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzYyMjk3Nw==","user":{"login":"tpalfy","id":53442425,"node_id":"MDQ6VXNlcjUzNDQyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/53442425?v=4","gravatar_id":"","url":"https://api.github.com/users/tpalfy","html_url":"https://github.com/tpalfy","followers_url":"https://api.github.com/users/tpalfy/followers","following_url":"https://api.github.com/users/tpalfy/following{/other_user}","gists_url":"https://api.github.com/users/tpalfy/gists{/gist_id}","starred_url":"https://api.github.com/users/tpalfy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tpalfy/subscriptions","organizations_url":"https://api.github.com/users/tpalfy/orgs","repos_url":"https://api.github.com/users/tpalfy/repos","events_url":"https://api.github.com/users/tpalfy/events{/privacy}","received_events_url":"https://api.github.com/users/tpalfy/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T15:28:40Z","updated_at":"2020-05-25T15:28:40Z","author_association":"CONTRIBUTOR","body":"@granthenke @turcsanyip \r\nThanks for the feedback!\r\nI added a change for safely closing the old client when creating a new one.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633622977/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633628531","html_url":"https://github.com/apache/nifi/pull/4284#issuecomment-633628531","issue_url":"https://api.github.com/repos/apache/nifi/issues/4284","id":633628531,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzYyODUzMQ==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T15:43:49Z","updated_at":"2020-05-25T15:43:49Z","author_association":"NONE","body":"Clould you add some unit tests after you changed the to compatible with previous versions of ES?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633628531/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633731476","html_url":"https://github.com/apache/nifi/pull/2901#issuecomment-633731476","issue_url":"https://api.github.com/repos/apache/nifi/issues/2901","id":633731476,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzczMTQ3Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T22:23:52Z","updated_at":"2020-05-25T22:23:52Z","author_association":"CONTRIBUTOR","body":"Was a really a good PR, but unfortunately Oltu is in the Apache Attic so I don't think we can safely use it at this point for security reasons. Going to close now because of that. If any other committer or PMC member disagrees, feel free to reopen.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633731476/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":1,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633742354","html_url":"https://github.com/apache/nifi/pull/2085#issuecomment-633742354","issue_url":"https://api.github.com/repos/apache/nifi/issues/2085","id":633742354,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzc0MjM1NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T23:32:29Z","updated_at":"2020-05-25T23:32:29Z","author_association":"CONTRIBUTOR","body":"Apache Oltu has been moved to the Apache Attic, so unfortunately we cannot use this PR. Much appreciated, but its dependencies are no longer safe for building a new product. If any committer or PMC member disagrees, they should reopen and continue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633742354/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633743619","html_url":"https://github.com/apache/nifi/pull/2085#issuecomment-633743619","issue_url":"https://api.github.com/repos/apache/nifi/issues/2085","id":633743619,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzc0MzYxOQ==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T23:40:42Z","updated_at":"2020-05-25T23:40:42Z","author_association":"CONTRIBUTOR","body":"Mike - I originally opened the PR and agree its time to close them. I very\nstrongly feel this is something a lot of people want, however but this\nparticular PR is just too old and no longer relevant. Maybe I will write a\nmore modern implementation.\n\nOn Mon, May 25, 2020 at 7:32 PM Mike <notifications@github.com> wrote:\n\n> Apache Oltu has been moved to the Apache Attic, so unfortunately we cannot\n> use this PR. Much appreciated, but its dependencies are no longer safe for\n> building a new product. If any committer or PMC member disagrees, they\n> should reopen and continue.\n>\n> —\n> You are receiving this because you were mentioned.\n> Reply to this email directly, view it on GitHub\n> <https://github.com/apache/nifi/pull/2085#issuecomment-633742354>, or\n> unsubscribe\n> <https://github.com/notifications/unsubscribe-auth/AAQHLAZG7ZD2JGXFIB6ECVLRTL5ZVANCNFSM4DW4HY5A>\n> .\n>\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633743619/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633744412","html_url":"https://github.com/apache/nifi/pull/2085#issuecomment-633744412","issue_url":"https://api.github.com/repos/apache/nifi/issues/2085","id":633744412,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzc0NDQxMg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T23:46:16Z","updated_at":"2020-05-25T23:46:16Z","author_association":"CONTRIBUTOR","body":"@jdye64 I wrote a light-weight version for my client that we're using with an internal, proprietary bundle. Take a look if you're interested:\r\n\r\nhttps://github.com/apache/nifi/pull/4173\r\n\r\nIt doesn't validate JWTs or anything like that. It's just meant to provide a controller service that can follow the API calls for client_credentials and refresh flows to get a JWT and enable another service to hand that off as a bearer token.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633744412/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633745118","html_url":"https://github.com/apache/nifi/pull/2085#issuecomment-633745118","issue_url":"https://api.github.com/repos/apache/nifi/issues/2085","id":633745118,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzc0NTExOA==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-25T23:50:48Z","updated_at":"2020-05-25T23:50:48Z","author_association":"CONTRIBUTOR","body":"Even better! I'll review that tomorrow. I do think it is time we had\nsomething in that department. Been an ask for over 3 years.\n\nOn Mon, May 25, 2020 at 7:46 PM Mike <notifications@github.com> wrote:\n\n> @jdye64 <https://github.com/jdye64> I wrote a light-weight version for my\n> client that we're using with an internal, proprietary bundle. Take a look\n> if you're interested:\n>\n> #4173 <https://github.com/apache/nifi/pull/4173>\n>\n> It doesn't validate JWTs or anything like that. It's just meant to provide\n> a controller service that can follow the API calls for client_credentials\n> and refresh flows to get a JWT and enable another service to hand that off\n> as a bearer token.\n>\n> —\n> You are receiving this because you were mentioned.\n> Reply to this email directly, view it on GitHub\n> <https://github.com/apache/nifi/pull/2085#issuecomment-633744412>, or\n> unsubscribe\n> <https://github.com/notifications/unsubscribe-auth/AAQHLAYEJAGW4OO76MNYEQDRTL7NJANCNFSM4DW4HY5A>\n> .\n>\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633745118/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633860926","html_url":"https://github.com/apache/nifi/pull/4233#issuecomment-633860926","issue_url":"https://api.github.com/repos/apache/nifi/issues/4233","id":633860926,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzg2MDkyNg==","user":{"login":"Woutifier","id":3931297,"node_id":"MDQ6VXNlcjM5MzEyOTc=","avatar_url":"https://avatars.githubusercontent.com/u/3931297?v=4","gravatar_id":"","url":"https://api.github.com/users/Woutifier","html_url":"https://github.com/Woutifier","followers_url":"https://api.github.com/users/Woutifier/followers","following_url":"https://api.github.com/users/Woutifier/following{/other_user}","gists_url":"https://api.github.com/users/Woutifier/gists{/gist_id}","starred_url":"https://api.github.com/users/Woutifier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Woutifier/subscriptions","organizations_url":"https://api.github.com/users/Woutifier/orgs","repos_url":"https://api.github.com/users/Woutifier/repos","events_url":"https://api.github.com/users/Woutifier/events{/privacy}","received_events_url":"https://api.github.com/users/Woutifier/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-26T07:34:51Z","updated_at":"2020-05-26T07:34:51Z","author_association":"NONE","body":"> @Woutifier Other than my comment on validating that the time period is > 0 the code looks good. Is there an easy way to test this (not necessarily a unit test)?\r\n\r\nHey @jfrazee thanks for your review. I'll add the >0 check. I'll see if I can come up with some way to verify that this actually does something (I did test it locally against one of our servers but would be nice to have a small test scenario).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633860926/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633897227","html_url":"https://github.com/apache/nifi/pull/4036#issuecomment-633897227","issue_url":"https://api.github.com/repos/apache/nifi/issues/4036","id":633897227,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzg5NzIyNw==","user":{"login":"davidvoit","id":12702,"node_id":"MDQ6VXNlcjEyNzAy","avatar_url":"https://avatars.githubusercontent.com/u/12702?v=4","gravatar_id":"","url":"https://api.github.com/users/davidvoit","html_url":"https://github.com/davidvoit","followers_url":"https://api.github.com/users/davidvoit/followers","following_url":"https://api.github.com/users/davidvoit/following{/other_user}","gists_url":"https://api.github.com/users/davidvoit/gists{/gist_id}","starred_url":"https://api.github.com/users/davidvoit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/davidvoit/subscriptions","organizations_url":"https://api.github.com/users/davidvoit/orgs","repos_url":"https://api.github.com/users/davidvoit/repos","events_url":"https://api.github.com/users/davidvoit/events{/privacy}","received_events_url":"https://api.github.com/users/davidvoit/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-26T08:52:55Z","updated_at":"2020-05-26T08:52:55Z","author_association":"NONE","body":"Instead of patching SimpleDatabaseLookupService maybe create an own CustomSQLLookupService?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633897227/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633956533","html_url":"https://github.com/apache/nifi/pull/3734#issuecomment-633956533","issue_url":"https://api.github.com/repos/apache/nifi/issues/3734","id":633956533,"node_id":"MDEyOklzc3VlQ29tbWVudDYzMzk1NjUzMw==","user":{"login":"nielsbasjes","id":240096,"node_id":"MDQ6VXNlcjI0MDA5Ng==","avatar_url":"https://avatars.githubusercontent.com/u/240096?v=4","gravatar_id":"","url":"https://api.github.com/users/nielsbasjes","html_url":"https://github.com/nielsbasjes","followers_url":"https://api.github.com/users/nielsbasjes/followers","following_url":"https://api.github.com/users/nielsbasjes/following{/other_user}","gists_url":"https://api.github.com/users/nielsbasjes/gists{/gist_id}","starred_url":"https://api.github.com/users/nielsbasjes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nielsbasjes/subscriptions","organizations_url":"https://api.github.com/users/nielsbasjes/orgs","repos_url":"https://api.github.com/users/nielsbasjes/repos","events_url":"https://api.github.com/users/nielsbasjes/events{/privacy}","received_events_url":"https://api.github.com/users/nielsbasjes/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-05-26T11:01:33Z","updated_at":"2020-05-26T11:01:33Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen \r\nI did a rebase onto the latest master branch.\r\nI changed the way the values are stored in the properties.\r\n\r\nJust now I noticed that the BUILD_TIMESTAMP is incorrect so I'm going to fix that later today.\r\n \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/633956533/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]