data/github-comments/apache-NiFi-49-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283669606","html_url":"https://github.com/apache/nifi/pull/1550#issuecomment-283669606","issue_url":"https://api.github.com/repos/apache/nifi/issues/1550","id":283669606,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY2OTYwNg==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T14:36:06Z","updated_at":"2017-03-02T14:36:06Z","author_association":"CONTRIBUTOR","body":"@apiri hmmm.... that's odd... perhaps I missed a file in the 'git add' before i did the 'git commit'?? Will look into it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283669606/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283677879","html_url":"https://github.com/apache/nifi/pull/1550#issuecomment-283677879","issue_url":"https://api.github.com/repos/apache/nifi/issues/1550","id":283677879,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY3Nzg3OQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:04:48Z","updated_at":"2017-03-02T15:04:48Z","author_association":"CONTRIBUTOR","body":"@apiri I have pushed a new commit that adds in just that file. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283677879/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283679842","html_url":"https://github.com/apache/nifi/pull/1547#issuecomment-283679842","issue_url":"https://api.github.com/repos/apache/nifi/issues/1547","id":283679842,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY3OTg0Mg==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:11:41Z","updated_at":"2017-03-02T15:11:41Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran unit tests and tried on a live NiFi with SQL Server, MySQL, Oracle, and Postgres connections.  Thank you for the fix!  Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283679842/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283681508","html_url":"https://github.com/apache/nifi/pull/1548#issuecomment-283681508","issue_url":"https://api.github.com/repos/apache/nifi/issues/1548","id":283681508,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY4MTUwOA==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:17:17Z","updated_at":"2017-03-02T15:17:17Z","author_association":"CONTRIBUTOR","body":"@ShellyLC also, please amend your commit message preceding it with the JIRA number so it could be automatically linked in JIRA (i.e., \"NIFI-3543 Fixed a bug that nifi. . .\"). Also, please read my comments on the differences between BUG and IMPROVEMENT.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283681508/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283686459","html_url":"https://github.com/apache/nifi/pull/1554#issuecomment-283686459","issue_url":"https://api.github.com/repos/apache/nifi/issues/1554","id":283686459,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY4NjQ1OQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:33:48Z","updated_at":"2017-03-02T15:33:48Z","author_association":"MEMBER","body":"Dear reviewer,\r\n\r\nI've tested this PR with different use-cases. Templates and screenshots are available at this [Gist](https://gist.github.com/ijokarumawak/ab6487801c636628ddedd5f025f84f9c).\r\n\r\nThanks in advance!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283686459/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283686937","html_url":"https://github.com/apache/nifi/pull/1528#issuecomment-283686937","issue_url":"https://api.github.com/repos/apache/nifi/issues/1528","id":283686937,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY4NjkzNw==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:35:28Z","updated_at":"2017-03-02T15:35:28Z","author_association":"CONTRIBUTOR","body":"FYI, some issues have been noticed with Hadoop and Kerberos in the NiFi HDFS processors.  There's JIRA that I'm working on to fix a scenario where Kerberos principals end up getting switched between multiple processors.  It's due to the UserGroupInformation class being shared by two instances of processors from the same NAR.  The fix involves not depending on nifi-hadoop-libraries-nar, and including the hadoop-client dependency directly in the nifi-hdfs-processors pom.  \r\n\r\nOnce the Kite processors support Kerberos, they'll most likely have the same issue, and a similar change will have to be made to the POMs.\r\n\r\nFor reference, the JIRA is: https://issues.apache.org/jira/browse/NIFI-3520","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283686937/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283692183","html_url":"https://github.com/apache/nifi/pull/1510#issuecomment-283692183","issue_url":"https://api.github.com/repos/apache/nifi/issues/1510","id":283692183,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY5MjE4Mw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T15:53:13Z","updated_at":"2017-03-02T15:53:13Z","author_association":"CONTRIBUTOR","body":"Related to the discussion above, I am using SQL Server 2000 with GenerateTableFetch and am getting errors with the generated SQL. GTF does pagination, so it skips the \"TOP\" logic above and generates something like the following:\r\n\r\n`SELECT * FROM t1 ORDER BY id OFFSET 2 ROWS FETCH NEXT 2 ROWS ONLY`\r\n\r\nWhich does not work. With respect to the new keywords in MSSQL 2012, I would think either this adapter should require 2012 (updating the name, description, and leverage the new commands), or use the aforementioned (yet awkward like Oracle's) query for offset/limit/pagination to support more users.  Thoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283692183/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283699574","html_url":"https://github.com/apache/nifi/pull/1517#issuecomment-283699574","issue_url":"https://api.github.com/repos/apache/nifi/issues/1517","id":283699574,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzY5OTU3NA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T16:17:47Z","updated_at":"2017-03-02T16:17:47Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran unit tests and contrib-check, ran on live NiFi against Oracle, MySQL, and Postgres DBs. Thank you for the contribution! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283699574/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283706244","html_url":"https://github.com/apache/nifi/pull/1510#issuecomment-283706244","issue_url":"https://api.github.com/repos/apache/nifi/issues/1510","id":283706244,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzcwNjI0NA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T16:39:13Z","updated_at":"2017-03-02T16:39:13Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I put the 2012 part in the description. If you have a suggestion for a new name just let me know.\r\n\r\nCurrent Description: Generates MS SQL Compatible SQL, for version 2012 or greater","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283706244/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283706852","html_url":"https://github.com/apache/nifi/pull/1510#issuecomment-283706852","issue_url":"https://api.github.com/repos/apache/nifi/issues/1510","id":283706852,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzcwNjg1Mg==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T16:41:12Z","updated_at":"2017-03-02T16:41:12Z","author_association":"CONTRIBUTOR","body":"Maybe \"MS SQL 2012+\" or something?  The name itself should make it obvious that the adapter won't work on previous versions.  Are most people using 2012 or greater these days? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283706852/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283745008","html_url":"https://github.com/apache/nifi/pull/1555#issuecomment-283745008","issue_url":"https://api.github.com/repos/apache/nifi/issues/1555","id":283745008,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc0NTAwOA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T18:56:26Z","updated_at":"2017-03-02T18:56:26Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283745008/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283748555","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-283748555","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":283748555,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc0ODU1NQ==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T19:09:11Z","updated_at":"2017-03-02T19:09:11Z","author_association":"CONTRIBUTOR","body":"@ambud - Welcome to NiFi!  Thank you for contributing this, I will review.  In the future, please keep the PR boilerplate comment and fill out the checklist.  It has some helpful tips on the PR  and commit naming conventions and info for reviewers.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283748555/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283772580","html_url":"https://github.com/apache/nifi/pull/1556#issuecomment-283772580","issue_url":"https://api.github.com/repos/apache/nifi/issues/1556","id":283772580,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc3MjU4MA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T20:36:59Z","updated_at":"2017-03-02T20:36:59Z","author_association":"MEMBER","body":"change looks good, will get this merged.  thanks for adjusting!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283772580/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283782082","html_url":"https://github.com/apache/nifi/pull/1550#issuecomment-283782082","issue_url":"https://api.github.com/repos/apache/nifi/issues/1550","id":283782082,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc4MjA4Mg==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T21:12:51Z","updated_at":"2017-03-02T21:12:51Z","author_association":"MEMBER","body":"@markap14 code looks good and I was able to test the anticipated functionality.  I think we likely need to get some doc additions to the System Admin guide that covers this functionality, how to use it, and the caveats (it is my understanding that not all systems will adhere to the suggested guidance on what interface to use).  ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283782082/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283786371","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-283786371","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":283786371,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc4NjM3MQ==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T21:23:50Z","updated_at":"2017-03-02T21:23:50Z","author_association":"CONTRIBUTOR","body":"I also recommend running a full build with `mvn clean install -Pcontrib-check`.  It looks like several of the QueryDatabaseTableTest unit tests are failing:\r\n\r\n>Tests run: 11, Failures: 8, Errors: 0, Skipped: 0, Time elapsed: 1.006 sec <<< FAILURE! - in org.apache.nifi.processors.standard.QueryDatabaseTableTest\r\ntestWithRuntimeException(org.apache.nifi.processors.standard.QueryDatabaseTableTest)  Time elapsed: 0.388 sec  <<< FAILURE!\r\njava.lang.AssertionError: org.apache.nifi.processor.exception.FlowFileHandlingException: Cannot commit session because the following FlowFiles have not been removed or transferred: [0]\r\n\r\nMy quick take is that the happy-path works fine with your code, but paths that do not result in a flowfile output are failing because the session is not cleaned up.  How about moving the call to `session.putAttribute` down to line ~300 by where RESULT_ROW_COUNT is added?  A viable output flowfile is being formatted here, and being in the same neighborhood with other attribute assignments might be easier to understand.  What do you think?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283786371/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283787701","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-283787701","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":283787701,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc4NzcwMQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T21:29:00Z","updated_at":"2017-03-02T21:29:00Z","author_association":"CONTRIBUTOR","body":"Hey guys, hopefully I've addressed all your comments, thanks for the review!\r\n- changed the option to SAN\r\n- refactored code as suggested by @olegz ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283787701/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283788512","html_url":"https://github.com/apache/nifi/pull/1554#issuecomment-283788512","issue_url":"https://api.github.com/repos/apache/nifi/issues/1554","id":283788512,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc4ODUxMg==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T21:32:06Z","updated_at":"2017-03-02T21:32:06Z","author_association":"MEMBER","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283788512/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283789000","html_url":"https://github.com/apache/nifi/pull/1510#issuecomment-283789000","issue_url":"https://api.github.com/repos/apache/nifi/issues/1510","id":283789000,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzc4OTAwMA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T21:33:49Z","updated_at":"2017-03-02T21:33:49Z","author_association":"CONTRIBUTOR","body":"I don't really know what the stats are; I looked around online but most of the stats were from 2012... I know 2008R2 is still popular.  I updated it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283789000/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283812356","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-283812356","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":283812356,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzgxMjM1Ng==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T23:08:19Z","updated_at":"2017-03-02T23:08:19Z","author_association":"CONTRIBUTOR","body":"Thanks @pvillard31 . For the record, I know some people prefer the Java 8 lambdas, and I come from a Ruby/Groovy background where I use closures and chained collection operations for everything, but there can be pitfalls to replacing concise traditional Java for:each loops with lambdas (see [performance issues](http://blog.takipi.com/benchmark-how-java-8-lambdas-and-streams-can-make-your-code-5-times-slower/) and [other concerns](https://stackoverflow.com/questions/16635398/java-8-iterable-foreach-vs-foreach-loop/20177092#20177092)) in addition to providing a learning curve for future developers who are not familiar with the construct. \r\n\r\nI'm not going to request changing this back, and after I do a final review & smoke test, I'll merge this, but in the future I don't think we need to be *as* aggressive about ensuring new code always uses the newest feature when the existing process is fine. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283812356/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283819482","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-283819482","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":283819482,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzgxOTQ4Mg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-02T23:44:34Z","updated_at":"2017-03-02T23:44:34Z","author_association":"CONTRIBUTOR","body":"@pvillard31 I think I was a little unclear -- I didn't expect both `-SAN` and `--subjectAlternativeNames`, but just the long flag `--subjectAlternativeNames`. Some commands stack their short flags (i.e. `-S` and `-A` run on the same command could also be expressed `-SA` so all short flags must only be one character). \r\n\r\nI ran the standalone tool with both `-S` and `-SAN` on the same line and it worked but it strikes me as potentially confusing for users. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283819482/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283825488","html_url":"https://github.com/apache/nifi/pull/1558#issuecomment-283825488","issue_url":"https://api.github.com/repos/apache/nifi/issues/1558","id":283825488,"node_id":"MDEyOklzc3VlQ29tbWVudDI4MzgyNTQ4OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T00:17:20Z","updated_at":"2017-03-03T00:17:20Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283825488/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283840565","html_url":"https://github.com/apache/nifi/pull/1543#issuecomment-283840565","issue_url":"https://api.github.com/repos/apache/nifi/issues/1543","id":283840565,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzg0MDU2NQ==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T01:45:52Z","updated_at":"2017-03-03T01:45:52Z","author_association":"CONTRIBUTOR","body":"@joetrite is there a chance you can squash this commit into a single commit?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283840565/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283955867","html_url":"https://github.com/apache/nifi/pull/1559#issuecomment-283955867","issue_url":"https://api.github.com/repos/apache/nifi/issues/1559","id":283955867,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzk1NTg2Nw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T13:43:03Z","updated_at":"2017-03-03T13:43:03Z","author_association":"CONTRIBUTOR","body":"Will Review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283955867/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283956274","html_url":"https://github.com/apache/nifi/pull/1560#issuecomment-283956274","issue_url":"https://api.github.com/repos/apache/nifi/issues/1560","id":283956274,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzk1NjI3NA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T13:44:45Z","updated_at":"2017-03-03T13:44:45Z","author_association":"CONTRIBUTOR","body":"Will Review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283956274/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283963434","html_url":"https://github.com/apache/nifi/pull/1555#issuecomment-283963434","issue_url":"https://api.github.com/repos/apache/nifi/issues/1555","id":283963434,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzk2MzQzNA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T14:14:41Z","updated_at":"2017-03-03T14:14:41Z","author_association":"CONTRIBUTOR","body":"Thanks @markap14. This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283963434/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283963618","html_url":"https://github.com/apache/nifi/pull/1555#issuecomment-283963618","issue_url":"https://api.github.com/repos/apache/nifi/issues/1555","id":283963618,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzk2MzYxOA==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T14:15:27Z","updated_at":"2017-03-03T14:15:27Z","author_association":"CONTRIBUTOR","body":"Wow!, I was just about to hit merge myself ;) Race condition ;)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283963618/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283969802","html_url":"https://github.com/apache/nifi/pull/1560#issuecomment-283969802","issue_url":"https://api.github.com/repos/apache/nifi/issues/1560","id":283969802,"node_id":"MDEyOklzc3VlQ29tbWVudDI4Mzk2OTgwMg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T14:39:08Z","updated_at":"2017-03-03T14:39:08Z","author_association":"CONTRIBUTOR","body":"Thanks @scottyaslan! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/283969802/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284000536","html_url":"https://github.com/apache/nifi/pull/1548#issuecomment-284000536","issue_url":"https://api.github.com/repos/apache/nifi/issues/1548","id":284000536,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDAwMDUzNg==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T16:27:58Z","updated_at":"2017-03-03T16:27:58Z","author_association":"CONTRIBUTOR","body":"Thanks you @ShellyLC , will review and merge.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284000536/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284103798","html_url":"https://github.com/apache/nifi/pull/1543#issuecomment-284103798","issue_url":"https://api.github.com/repos/apache/nifi/issues/1543","id":284103798,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDEwMzc5OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-03T23:58:11Z","updated_at":"2017-03-03T23:58:11Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284103798/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284115751","html_url":"https://github.com/apache/nifi/pull/1543#issuecomment-284115751","issue_url":"https://api.github.com/repos/apache/nifi/issues/1543","id":284115751,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDExNTc1MQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T01:37:33Z","updated_at":"2017-03-04T01:37:33Z","author_association":"CONTRIBUTOR","body":"I cleaned up the git history and merged this change to master. Thanks for submitting. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284115751/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284123405","html_url":"https://github.com/apache/nifi/pull/1553#issuecomment-284123405","issue_url":"https://api.github.com/repos/apache/nifi/issues/1553","id":284123405,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDEyMzQwNQ==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T03:22:41Z","updated_at":"2017-03-04T03:22:41Z","author_association":"CONTRIBUTOR","body":"Thanks for the assistance previously, it should be ready for review.  ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284123405/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284167537","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-284167537","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":284167537,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDE2NzUzNw==","user":{"login":"ambud","id":9707358,"node_id":"MDQ6VXNlcjk3MDczNTg=","avatar_url":"https://avatars.githubusercontent.com/u/9707358?v=4","gravatar_id":"","url":"https://api.github.com/users/ambud","html_url":"https://github.com/ambud","followers_url":"https://api.github.com/users/ambud/followers","following_url":"https://api.github.com/users/ambud/following{/other_user}","gists_url":"https://api.github.com/users/ambud/gists{/gist_id}","starred_url":"https://api.github.com/users/ambud/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ambud/subscriptions","organizations_url":"https://api.github.com/users/ambud/orgs","repos_url":"https://api.github.com/users/ambud/repos","events_url":"https://api.github.com/users/ambud/events{/privacy}","received_events_url":"https://api.github.com/users/ambud/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T17:41:10Z","updated_at":"2017-03-04T17:41:10Z","author_association":"CONTRIBUTOR","body":"@jvwing thanks for the input, changed and fixed. The issue was i didn't reassign the flow file variable fromt the put attribute statement.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284167537/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284168931","html_url":"https://github.com/apache/nifi/pull/1536#issuecomment-284168931","issue_url":"https://api.github.com/repos/apache/nifi/issues/1536","id":284168931,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDE2ODkzMQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T18:01:03Z","updated_at":"2017-03-04T18:01:03Z","author_association":"CONTRIBUTOR","body":"@joetrite it would be good to get a clean master, create a branch, put your changes on it, then submit that PR.  This one has a couple merge commits now and they're probably not needed (rebase would likely have done the trick).  Can you clean up the commit history for this PR?  Definitely appreciate the work you're putting in and don't want to put you through hoops but would like to keep the commit clean.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284168931/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284178354","html_url":"https://github.com/apache/nifi/pull/1536#issuecomment-284178354","issue_url":"https://api.github.com/repos/apache/nifi/issues/1536","id":284178354,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDE3ODM1NA==","user":{"login":"joetrite","id":9666540,"node_id":"MDQ6VXNlcjk2NjY1NDA=","avatar_url":"https://avatars.githubusercontent.com/u/9666540?v=4","gravatar_id":"","url":"https://api.github.com/users/joetrite","html_url":"https://github.com/joetrite","followers_url":"https://api.github.com/users/joetrite/followers","following_url":"https://api.github.com/users/joetrite/following{/other_user}","gists_url":"https://api.github.com/users/joetrite/gists{/gist_id}","starred_url":"https://api.github.com/users/joetrite/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joetrite/subscriptions","organizations_url":"https://api.github.com/users/joetrite/orgs","repos_url":"https://api.github.com/users/joetrite/repos","events_url":"https://api.github.com/users/joetrite/events{/privacy}","received_events_url":"https://api.github.com/users/joetrite/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T20:25:04Z","updated_at":"2017-03-04T20:25:04Z","author_association":"CONTRIBUTOR","body":"created new pull request #1564 with single commit. closing this.  thanks @joewitt @alopresto for all the help and advise.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284178354/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284192321","html_url":"https://github.com/apache/nifi/pull/1563#issuecomment-284192321","issue_url":"https://api.github.com/repos/apache/nifi/issues/1563","id":284192321,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDE5MjMyMQ==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-04T23:22:00Z","updated_at":"2017-03-04T23:22:00Z","author_association":"CONTRIBUTOR","body":"merged pere's patch ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284192321/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284231207","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-284231207","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":284231207,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDIzMTIwNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T14:25:00Z","updated_at":"2017-03-05T14:25:00Z","author_association":"CONTRIBUTOR","body":"Sorry for the misunderstanding @alopresto, agreed that it could be confusing. Updated the PR as per your comments. Should be good now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284231207/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284232131","html_url":"https://github.com/apache/nifi/pull/1528#issuecomment-284232131","issue_url":"https://api.github.com/repos/apache/nifi/issues/1528","id":284232131,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDIzMjEzMQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T14:40:05Z","updated_at":"2017-03-05T14:40:05Z","author_association":"CONTRIBUTOR","body":"Hey @WilliamNouet, sorry for the late answer. I'd try to update this one to keep track of the comments already posted by others. The perfect situation when opening a PR is to only have one commit with only the changes related to the associated JIRA. If you feel more comfortable with opening a new PR, please do so and close this one. Keep in mind the comment from @jtstorck though.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284232131/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284241296","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284241296","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284241296,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0MTI5Ng==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T16:30:29Z","updated_at":"2017-03-05T16:30:29Z","author_association":"CONTRIBUTOR","body":"@joetrite left a series of comments and highlighted a thread safety issue.  Some refactoring will be needed to overcome that.  Also, can you please add a unit test that covers multi hit scenarios?  Thanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284241296/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284241654","html_url":"https://github.com/apache/nifi/pull/1551#issuecomment-284241654","issue_url":"https://api.github.com/repos/apache/nifi/issues/1551","id":284241654,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0MTY1NA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T16:36:07Z","updated_at":"2017-03-05T16:36:07Z","author_association":"CONTRIBUTOR","body":"@trixpan we cannot do this.  Several of these directories are configurable by the users and are subject to the selection of specific repository implementations.  We must avoid setting these.  Restricting the base install dir, the conf dir, license/notice is fine.  But the rest of these is a bridge too far.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284241654/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284242552","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284242552","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284242552,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0MjU1Mg==","user":{"login":"joetrite","id":9666540,"node_id":"MDQ6VXNlcjk2NjY1NDA=","avatar_url":"https://avatars.githubusercontent.com/u/9666540?v=4","gravatar_id":"","url":"https://api.github.com/users/joetrite","html_url":"https://github.com/joetrite","followers_url":"https://api.github.com/users/joetrite/followers","following_url":"https://api.github.com/users/joetrite/following{/other_user}","gists_url":"https://api.github.com/users/joetrite/gists{/gist_id}","starred_url":"https://api.github.com/users/joetrite/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joetrite/subscriptions","organizations_url":"https://api.github.com/users/joetrite/orgs","repos_url":"https://api.github.com/users/joetrite/repos","events_url":"https://api.github.com/users/joetrite/events{/privacy}","received_events_url":"https://api.github.com/users/joetrite/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T16:49:32Z","updated_at":"2017-03-05T16:49:32Z","author_association":"CONTRIBUTOR","body":"@joewitt thx for the feedback.  will work on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284242552/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284242830","html_url":"https://github.com/apache/nifi/pull/1561#issuecomment-284242830","issue_url":"https://api.github.com/repos/apache/nifi/issues/1561","id":284242830,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0MjgzMA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T16:53:29Z","updated_at":"2017-03-05T16:53:29Z","author_association":"CONTRIBUTOR","body":"The more I look at this processor the more I think the mistake was in allowing it to have wildcards and to run without incoming flow files.  Had it been restricted to simply deleting the content of a path specified by a given flowfile it would be much more clear.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284242830/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284243784","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284243784","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284243784,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0Mzc4NA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T17:07:06Z","updated_at":"2017-03-05T17:07:06Z","author_association":"CONTRIBUTOR","body":"no problem and thank you - really appreciate your attitude on this.  It is not fun going through the review process the first time.  Definitely takes courage to take the first jump!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284243784/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284248502","html_url":"https://github.com/apache/nifi/pull/1561#issuecomment-284248502","issue_url":"https://api.github.com/repos/apache/nifi/issues/1561","id":284248502,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI0ODUwMg==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T18:15:29Z","updated_at":"2017-03-05T18:15:29Z","author_association":"CONTRIBUTOR","body":"@francoisprunier @pvillard31 Hello.  I've attached a patch file to the JIRA https://issues.apache.org/jira/browse/NIFI-3204.  The documentation of the processor did not declare its behavior one way or another though tests suggested it created flowfiles for things it deleted.  Instead, I have made the behavior and logic more explicit and simplified and updated to the documentation and tests to align to that.  For more detailed knowledge of what was deleted/etc.. users should take advantage of this processor in combination with ListHDFS.\r\n\r\nThe patch file I provided applies overtop this PR as of commit aeab1feeb3c5f47858793e00425b26cc9f2d5b0b.  You can apply the patch on top of your PR and advise if this takes care of the problem and you agree with the fix.\r\n\r\nThanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284248502/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284268174","html_url":"https://github.com/apache/nifi/pull/1551#issuecomment-284268174","issue_url":"https://api.github.com/repos/apache/nifi/issues/1551","id":284268174,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI2ODE3NA==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-05T22:23:29Z","updated_at":"2017-03-05T22:23:29Z","author_association":"CONTRIBUTOR","body":"@joewitt thanks for your comments. \r\n\r\nI understand your concerns but isn't the user change of the default settings (we do ship with default location settings after all)  a voluntary action that implies further changes? \r\n\r\nThe way I see is a bit like: should Microsoft not ship Windows with default folder structures and permission just because someone may decide to install an application straight into c:\\? \r\n\r\nWe by now know many users will not read the administration guide before playing with the platform (and sometimes rolling it to prod), what I am trying here is to help those users from harm caused by setting up what is for all intends and purposes a remote execution environment.\r\n\r\nThe scenario I am trying to address here is: Think of someone who install NiFi in AWS instance, using the default settings as a linux service. That user went far enough to create a nifi user. Any attackers could:\r\n\r\n- Find instance\r\n- Add ExecuteScript processor\r\n- Change `$NIFI_HOME/bin/nifi.sh` to obtain persistent control over the node (note that when running as a service, this is still run as root, with the privilege drop happening WITHIN the script, not before)\r\n- Use the machine to launch DDoS against users.\r\n\r\nA normal answer would be: Just change the permissions of `$NIFI_HOME/bin`. Fair enough! But the challenge is that due to to the way Unix/Linux ACLs work, in order to truly change the settings of `$NIFI_HOME/bin` you must change the settings of `$NIFI_HOME`, otherwise you can always:\r\n\r\n- Move the `bin` to `bin.old`\r\n- Create a new `bin` directory\r\n- Copy all content from `bin.old` the new `bin`\r\n- Modify `nifi.sh`\r\n- Wait for system to restart\r\nSource: [1]\r\n\r\nTo prevent the simple 3 steps above, we must change the permissions of $HOME_NIFI\r\n\r\nAnd the problem is: We cannot change the permissions of $HOME_NIFI without creating the directories representing the default settings, otherwise would crash on start, unable to start (due to permissions).\r\n\r\nSo long history short, the idea here isn't to randomly create things where we don't need them, I am just trying to avoid we fall into the MongoDB track of \"shipping with insecure default settings\" as this can easily tarnish a project reputation (my LinkedIn feed was full of sales rep from competitors spreading the word about MongoDBs ransomware woes).\r\n\r\nHope this helps to clarify what the objective of this PR is.\r\n\r\n[1]The first 3 steps of this technique is so old that I can't find references to it anymore, but IIRC, affected the good old SunOS 4.1.3. The two other steps have been used by me many times in PenTests.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284268174/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284291213","html_url":"https://github.com/apache/nifi/pull/1328#issuecomment-284291213","issue_url":"https://api.github.com/repos/apache/nifi/issues/1328","id":284291213,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI5MTIxMw==","user":{"login":"JPercivall","id":11302527,"node_id":"MDQ6VXNlcjExMzAyNTI3","avatar_url":"https://avatars.githubusercontent.com/u/11302527?v=4","gravatar_id":"","url":"https://api.github.com/users/JPercivall","html_url":"https://github.com/JPercivall","followers_url":"https://api.github.com/users/JPercivall/followers","following_url":"https://api.github.com/users/JPercivall/following{/other_user}","gists_url":"https://api.github.com/users/JPercivall/gists{/gist_id}","starred_url":"https://api.github.com/users/JPercivall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JPercivall/subscriptions","organizations_url":"https://api.github.com/users/JPercivall/orgs","repos_url":"https://api.github.com/users/JPercivall/repos","events_url":"https://api.github.com/users/JPercivall/events{/privacy}","received_events_url":"https://api.github.com/users/JPercivall/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T02:58:39Z","updated_at":"2017-03-06T02:58:39Z","author_association":"CONTRIBUTOR","body":"Hey @trixpan, sorry for the delay but I just rebased it again.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284291213/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284293799","html_url":"https://github.com/apache/nifi/pull/1551#issuecomment-284293799","issue_url":"https://api.github.com/repos/apache/nifi/issues/1551","id":284293799,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI5Mzc5OQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T03:22:18Z","updated_at":"2017-03-06T03:22:18Z","author_association":"CONTRIBUTOR","body":"It is prudent to restrict the ACLs of the files and directories we ship with to their most conservative level possible.  I'll refer to these as 'SA' (shipped artifacts) for my comments below.\r\n\r\nIt is also prudent to ensure we restrict the ACLs of the files and directories our code creates to their most conservative level possible.  I'll refer to these as 'CA' (created artifacts) for my comments below.\r\n\r\nWe control the permissions of SA through our build process which specifically is our maven assembly.  Your PR shows we have a few areas to tighten and we should.  These include, for example, the base install directory, the bin directory, the conf directory, NOTICE, LICENSE, etc..\r\n\r\nWe do not, until this PR, control the permissions of our CA through our build process/maven assembly.  Our CA items should be controlled by the code creating these items in the most restrictive way possible and through honoring operating system settings for things like umask, etc..  And we should have clearly documented and allocated area(s) where CA items under default settings would go in the event that they are actually invoked/created.\r\n\r\nFor cases where you'd like to make the base directory (an SA) more restrictive than it can presently be due to common/default settings that result in CA of things like flowfile/content/prov repositories then consider changing the default storage location of those CAs to a specifically controlled subdirectory like 'state' or something else.  We can then document this 'state' directory as the location accessible to the NiFi process to write to.  Keeping in mind of course that we have common practices today such as using conf directory for things like the flow.xml.gz and a directory under it for backup flows and so on.  There are some things to think through there.\r\n\r\nI think the mongodb lesson is important.  We have to continually revisit tradeoffs and decisions we've made regarding out of the box usability to support onboarding new users and the effort required to have a secured system.  We need to continually make 'out of the box ease' and 'security' come closer together.  I think we're all in agreement there.\r\n\r\nIn summary, I'm supportive of us finding the most restrictive SA configuration we can.  I think we should adjust our code that generates CAs to create things as restrictive as possible.  I do think we should avoid pre-generating CA artifacts.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284293799/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284297099","html_url":"https://github.com/apache/nifi/pull/1551#issuecomment-284297099","issue_url":"https://api.github.com/repos/apache/nifi/issues/1551","id":284297099,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDI5NzA5OQ==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T03:55:20Z","updated_at":"2017-03-06T03:55:20Z","author_association":"CONTRIBUTOR","body":"@joewitt. Thanks for the comment. I will go through your notes and adjust the PR accordingly. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284297099/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284320521","html_url":"https://github.com/apache/nifi/pull/1551#issuecomment-284320521","issue_url":"https://api.github.com/repos/apache/nifi/issues/1551","id":284320521,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDMyMDUyMQ==","user":{"login":"PuspenduBanerjee","id":5090152,"node_id":"MDQ6VXNlcjUwOTAxNTI=","avatar_url":"https://avatars.githubusercontent.com/u/5090152?v=4","gravatar_id":"","url":"https://api.github.com/users/PuspenduBanerjee","html_url":"https://github.com/PuspenduBanerjee","followers_url":"https://api.github.com/users/PuspenduBanerjee/followers","following_url":"https://api.github.com/users/PuspenduBanerjee/following{/other_user}","gists_url":"https://api.github.com/users/PuspenduBanerjee/gists{/gist_id}","starred_url":"https://api.github.com/users/PuspenduBanerjee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PuspenduBanerjee/subscriptions","organizations_url":"https://api.github.com/users/PuspenduBanerjee/orgs","repos_url":"https://api.github.com/users/PuspenduBanerjee/repos","events_url":"https://api.github.com/users/PuspenduBanerjee/events{/privacy}","received_events_url":"https://api.github.com/users/PuspenduBanerjee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T07:21:31Z","updated_at":"2017-03-06T07:22:52Z","author_association":"CONTRIBUTOR","body":"Additionally, can we provide a script, that a sysadmin can use to audit and report any discrepancy in permissions ?\r\nFor the bin directory, I am still in favor of using sticky bit if possible. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284320521/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284407473","html_url":"https://github.com/apache/nifi/pull/1554#issuecomment-284407473","issue_url":"https://api.github.com/repos/apache/nifi/issues/1554","id":284407473,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDQwNzQ3Mw==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T14:17:05Z","updated_at":"2017-03-06T14:17:05Z","author_association":"MEMBER","body":"Was able to test this in a variety of situations and using your supplied templates.  Works as anticipated and thanks for all the tests.  Will get this merged in!  Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284407473/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284430484","html_url":"https://github.com/apache/nifi/pull/1550#issuecomment-284430484","issue_url":"https://api.github.com/repos/apache/nifi/issues/1550","id":284430484,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDQzMDQ4NA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T15:32:53Z","updated_at":"2017-03-06T15:32:53Z","author_association":"CONTRIBUTOR","body":"@apiri that's a good call. I just pushed a new commit that updates the User Guide, where these properties are explained. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284430484/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284485725","html_url":"https://github.com/apache/nifi/pull/1565#issuecomment-284485725","issue_url":"https://api.github.com/repos/apache/nifi/issues/1565","id":284485725,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDQ4NTcyNQ==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T18:26:37Z","updated_at":"2017-03-06T18:26:37Z","author_association":"NONE","body":"From @jtstorck:\r\nFYI, some issues have been noticed with Hadoop and Kerberos in the NiFi HDFS processors. There's JIRA that I'm working on to fix a scenario where Kerberos principals end up getting switched between multiple processors. It's due to the UserGroupInformation class being shared by two instances of processors from the same NAR. The fix involves not depending on nifi-hadoop-libraries-nar, and including the hadoop-client dependency directly in the nifi-hdfs-processors pom.\r\n\r\nOnce the Kite processors support Kerberos, they'll most likely have the same issue, and a similar change will have to be made to the POMs.\r\n\r\nFor reference, the JIRA is: https://issues.apache.org/jira/browse/NIFI-3520","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284485725/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284485799","html_url":"https://github.com/apache/nifi/pull/1528#issuecomment-284485799","issue_url":"https://api.github.com/repos/apache/nifi/issues/1528","id":284485799,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDQ4NTc5OQ==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T18:26:54Z","updated_at":"2017-03-06T18:26:54Z","author_association":"NONE","body":"Closing this PR and opening a cleaner one at https://github.com/apache/nifi/pull/1565","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284485799/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284489761","html_url":"https://github.com/apache/nifi/pull/1328#issuecomment-284489761","issue_url":"https://api.github.com/repos/apache/nifi/issues/1328","id":284489761,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDQ4OTc2MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T18:39:43Z","updated_at":"2017-03-06T18:39:43Z","author_association":"CONTRIBUTOR","body":"I'm a , will merge @JPercivall ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284489761/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284500926","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-284500926","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":284500926,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDUwMDkyNg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T19:15:17Z","updated_at":"2017-03-06T19:15:17Z","author_association":"CONTRIBUTOR","body":"Thanks for the update @ambud, the tests are passing.  I have two other comments:\r\n\r\n1.) Similar attributes, like RESULT_ROW_COUNT are defined as static final member variables, so they can be referenced consistently (mostly in tests).  I recommend we do the same for table.name.\r\n\r\n2.) I looked for an established attribute naming convention that would apply to `table.name`.  \r\n* The ListDatabaseTables processor uses `db.table.name`, but it has a consistent `db.*` pattern for all of its attributes that QueryDatabaseTable does not.  \r\n* QueryDatabaseTable has `querydbtable.row.count`, which might suggest a `querydbtable.*` pattern like `querydbtable.table.name`, except that there is only one such attribute (the fragment attributes are idiomatic and might not apply, `maxvalue.*` is the only other existing attribute written).  \r\n\r\nHaving done this research, I'm now more confused than when I started :), so I don't have the concrete recommendation I was hoping to arrive at.  Have you looked into this, and how did you arrive at `table.name`?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284500926/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284553573","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-284553573","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":284553573,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU1MzU3Mw==","user":{"login":"ambud","id":9707358,"node_id":"MDQ6VXNlcjk3MDczNTg=","avatar_url":"https://avatars.githubusercontent.com/u/9707358?v=4","gravatar_id":"","url":"https://api.github.com/users/ambud","html_url":"https://github.com/ambud","followers_url":"https://api.github.com/users/ambud/followers","following_url":"https://api.github.com/users/ambud/following{/other_user}","gists_url":"https://api.github.com/users/ambud/gists{/gist_id}","starred_url":"https://api.github.com/users/ambud/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ambud/subscriptions","organizations_url":"https://api.github.com/users/ambud/orgs","repos_url":"https://api.github.com/users/ambud/repos","events_url":"https://api.github.com/users/ambud/events{/privacy}","received_events_url":"https://api.github.com/users/ambud/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T22:23:24Z","updated_at":"2017-03-06T22:23:24Z","author_association":"CONTRIBUTOR","body":"1) Agreed, I overlooked it and will add that\r\n\r\n2) Ideally I would just do tablename (one word) without delimiters for simplicity of downstream processing. Let me know if there's another preferred convention here.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284553573/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284562112","html_url":"https://github.com/apache/nifi/pull/1537#issuecomment-284562112","issue_url":"https://api.github.com/repos/apache/nifi/issues/1537","id":284562112,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU2MjExMg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-06T22:57:16Z","updated_at":"2017-03-06T22:57:16Z","author_association":"CONTRIBUTOR","body":"No, there doesn't seem to be a convention to guide us.  If you prefer `tablename`, I'm OK with it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284562112/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284577161","html_url":"https://github.com/apache/nifi/pull/1332#issuecomment-284577161","issue_url":"https://api.github.com/repos/apache/nifi/issues/1332","id":284577161,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU3NzE2MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T00:09:30Z","updated_at":"2017-03-07T00:10:27Z","author_association":"MEMBER","body":"@markap14 Would you be able to review this PR? It's there for a while and I had to update this PR couple of times to resolve conflicts with the latest master. This PR is required to move NIFI-1202 (#1306) forward which adds batch related configurations at RPG Port for better control over load distribution. Thanks a lot in advance!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284577161/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284584201","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-284584201","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":284584201,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU4NDIwMQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T00:48:18Z","updated_at":"2017-03-07T00:48:18Z","author_association":"CONTRIBUTOR","body":"@pvillard31 I reviewed this again. I like it; my only concern is that if you run with `-SAN` it will still process, it won't show any error and a user might expect it to generate a SAN in the keystore though it won't. As no one other than the commenters on this PR have experienced this, however, I do not think it should stop the inclusion of this feature. \r\n\r\n```\r\nhw12203:...assembly/target/nifi-toolkit-1.2.0-SNAPSHOT-bin/nifi-toolkit-1.2.0-SNAPSHOT (pr1530) alopresto\r\n 1224747s @ 16:32:49 $ ./bin/tls-toolkit.sh standalone -n localhost -O -S password -SAN hostname.com\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandaloneCommandLine: No nifiPropertiesFile specified, using embedded one.\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: Running standalone certificate generation with output directory ../nifi-toolkit-1.2.0-SNAPSHOT\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: Using existing CA certificate ../nifi-toolkit-1.2.0-SNAPSHOT/nifi-cert.pem and key ../nifi-toolkit-1.2.0-SNAPSHOT/nifi-key.key\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: Overwriting any existing ssl configuration in ../nifi-toolkit-1.2.0-SNAPSHOT/localhost\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: Successfully generated TLS configuration for localhost 1 in ../nifi-toolkit-1.2.0-SNAPSHOT/localhost\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: No clientCertDn specified, not generating any client certificates.\r\n2017/03/06 16:33:04 INFO [main] org.apache.nifi.toolkit.tls.standalone.TlsToolkitStandalone: tls-toolkit standalone completed successfully\r\nhw12203:...assembly/target/nifi-toolkit-1.2.0-SNAPSHOT-bin/nifi-toolkit-1.2.0-SNAPSHOT (pr1530) alopresto\r\n 1224763s @ 16:33:05 $ keytool -list -v -keystore localhost/keystore.jks -storepass password\r\n\r\nKeystore type: JKS\r\nKeystore provider: SUN\r\n\r\nYour keystore contains 1 entry\r\n\r\nAlias name: nifi-key\r\nCreation date: Mar 6, 2017\r\nEntry type: PrivateKeyEntry\r\nCertificate chain length: 2\r\nCertificate[1]:\r\nOwner: CN=localhost, OU=NIFI\r\nIssuer: CN=localhost, OU=NIFI\r\nSerial number: 15aa62f097a00000000\r\nValid from: Mon Mar 06 16:33:04 PST 2017 until: Thu Mar 05 16:33:04 PST 2020\r\nCertificate fingerprints:\r\n\t MD5:  52:CF:22:54:02:AB:22:8E:DE:AC:C8:2E:3F:8C:1B:2C\r\n\t SHA1: 55:87:B5:20:8F:1F:03:F3:D2:68:85:F5:4E:49:85:D5:53:6A:27:11\r\n\t SHA256: E1:6E:F6:89:73:70:26:31:57:CB:8B:E6:44:DA:32:0B:77:39:22:1D:EA:5E:B8:3E:2D:4F:24:4C:68:2A:A4:3F\r\n\t Signature algorithm name: SHA256withRSA\r\n\t Version: 3\r\n\r\nExtensions:\r\n\r\n#1: ObjectId: 2.5.29.35 Criticality=false\r\nAuthorityKeyIdentifier [\r\nKeyIdentifier [\r\n0000: D0 B6 50 54 15 F2 64 EA   AA EB D4 82 A0 07 B4 2D  ..PT..d........-\r\n0010: 28 AC 66 CF                                        (.f.\r\n]\r\n]\r\n\r\n#2: ObjectId: 2.5.29.19 Criticality=false\r\nBasicConstraints:[\r\n  CA:false\r\n  PathLen: undefined\r\n]\r\n\r\n#3: ObjectId: 2.5.29.37 Criticality=false\r\nExtendedKeyUsages [\r\n  clientAuth\r\n  serverAuth\r\n]\r\n\r\n#4: ObjectId: 2.5.29.15 Criticality=true\r\nKeyUsage [\r\n  DigitalSignature\r\n  Non_repudiation\r\n  Key_Encipherment\r\n  Data_Encipherment\r\n  Key_Agreement\r\n]\r\n\r\n#5: ObjectId: 2.5.29.14 Criticality=false\r\nSubjectKeyIdentifier [\r\nKeyIdentifier [\r\n0000: D0 DC A2 03 C9 18 03 B8   B1 1B 0E 11 BC A5 A7 CF  ................\r\n0010: 1F 68 3A 63                                        .h:c\r\n]\r\n]\r\n\r\nCertificate[2]:\r\nOwner: CN=localhost, OU=NIFI\r\nIssuer: CN=localhost, OU=NIFI\r\nSerial number: 15aa62eb59a00000000\r\nValid from: Mon Mar 06 16:32:43 PST 2017 until: Thu Mar 05 16:32:43 PST 2020\r\nCertificate fingerprints:\r\n\t MD5:  44:15:FC:42:BE:A3:A5:7E:C3:86:AF:82:50:51:E3:E4\r\n\t SHA1: 38:D3:42:19:6C:71:5C:02:BF:8E:A1:02:DE:A3:D8:0C:D4:73:8D:B7\r\n\t SHA256: 13:71:F8:1A:22:A3:43:93:29:1D:2F:41:F8:C0:1E:25:79:E2:D7:5D:28:53:5C:21:97:A0:68:6C:AD:39:18:62\r\n\t Signature algorithm name: SHA256withRSA\r\n\t Version: 3\r\n\r\nExtensions:\r\n\r\n#1: ObjectId: 2.5.29.35 Criticality=false\r\nAuthorityKeyIdentifier [\r\nKeyIdentifier [\r\n0000: D0 B6 50 54 15 F2 64 EA   AA EB D4 82 A0 07 B4 2D  ..PT..d........-\r\n0010: 28 AC 66 CF                                        (.f.\r\n]\r\n]\r\n\r\n#2: ObjectId: 2.5.29.19 Criticality=false\r\nBasicConstraints:[\r\n  CA:true\r\n  PathLen:2147483647\r\n]\r\n\r\n#3: ObjectId: 2.5.29.37 Criticality=false\r\nExtendedKeyUsages [\r\n  clientAuth\r\n  serverAuth\r\n]\r\n\r\n#4: ObjectId: 2.5.29.15 Criticality=true\r\nKeyUsage [\r\n  DigitalSignature\r\n  Non_repudiation\r\n  Key_Encipherment\r\n  Data_Encipherment\r\n  Key_Agreement\r\n  Key_CertSign\r\n  Crl_Sign\r\n]\r\n\r\n#5: ObjectId: 2.5.29.14 Criticality=false\r\nSubjectKeyIdentifier [\r\nKeyIdentifier [\r\n0000: D0 B6 50 54 15 F2 64 EA   AA EB D4 82 A0 07 B4 2D  ..PT..d........-\r\n0010: 28 AC 66 CF                                        (.f.\r\n]\r\n]\r\n\r\n\r\n\r\n*******************************************\r\n*******************************************\r\n\r\n\r\nhw12203:...assembly/target/nifi-toolkit-1.2.0-SNAPSHOT-bin/nifi-toolkit-1.2.0-SNAPSHOT (pr1530) alopresto\r\n 1224775s @ 16:33:17 $\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284584201/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284584779","html_url":"https://github.com/apache/nifi/pull/1530#issuecomment-284584779","issue_url":"https://api.github.com/repos/apache/nifi/issues/1530","id":284584779,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU4NDc3OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T00:51:23Z","updated_at":"2017-03-07T00:51:23Z","author_association":"CONTRIBUTOR","body":"Reviewed, verified contrib-check and all tests, and ran tool. Merged. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284584779/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284597608","html_url":"https://github.com/apache/nifi/pull/1332#issuecomment-284597608","issue_url":"https://api.github.com/repos/apache/nifi/issues/1332","id":284597608,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDU5NzYwOA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T02:02:10Z","updated_at":"2017-03-07T02:02:10Z","author_association":"CONTRIBUTOR","body":"I have a question about this process (may be beyond the scope of this PR though) -- why not allow the DFM to remove the flow.xml.gz from the node with outdated flow via the REST API and UI from any connected node? The issue is not limited or blocked connectivity between the nodes, so there could be logic on the node itself to remove its flow definition when given a properly-authorized command from a remote node that it knows is connected to the cluster. The authentication should not be an issue as the DFM permissions should be the same across the cluster. \r\n\r\nI at first considered allowing the node to perform this logic on its own by archiving its current flow and then deleting it to attempt to rejoin the cluster, but I can understand how admins would be uncomfortable that the level of autonomous activity could lead to data loss. \r\n\r\nThoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284597608/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284645005","html_url":"https://github.com/apache/nifi/pull/1332#issuecomment-284645005","issue_url":"https://api.github.com/repos/apache/nifi/issues/1332","id":284645005,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDY0NTAwNQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T07:37:38Z","updated_at":"2017-03-07T07:37:38Z","author_association":"MEMBER","body":"@alopresto It'd be convenient if a node can fix stale flow.xml.gz automatically and join a cluster by removing its flow.xml.gz and fetch the latest one from primary node. I think we need to add a nifi.property to enable that logic (disable by default). As you wrote, that is beyond the scope of this PR. It may be worth for another JIRA to keep discussion going on.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284645005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284685372","html_url":"https://github.com/apache/nifi/pull/1332#issuecomment-284685372","issue_url":"https://api.github.com/repos/apache/nifi/issues/1332","id":284685372,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDY4NTM3Mg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T10:39:59Z","updated_at":"2017-03-07T10:39:59Z","author_association":"CONTRIBUTOR","body":"@alopresto @ijokarumawak I'm a +1 on this idea, it'd make a lot of sense to me.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284685372/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284718423","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284718423","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284718423,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDcxODQyMw==","user":{"login":"joetrite","id":9666540,"node_id":"MDQ6VXNlcjk2NjY1NDA=","avatar_url":"https://avatars.githubusercontent.com/u/9666540?v=4","gravatar_id":"","url":"https://api.github.com/users/joetrite","html_url":"https://github.com/joetrite","followers_url":"https://api.github.com/users/joetrite/followers","following_url":"https://api.github.com/users/joetrite/following{/other_user}","gists_url":"https://api.github.com/users/joetrite/gists{/gist_id}","starred_url":"https://api.github.com/users/joetrite/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joetrite/subscriptions","organizations_url":"https://api.github.com/users/joetrite/orgs","repos_url":"https://api.github.com/users/joetrite/repos","events_url":"https://api.github.com/users/joetrite/events{/privacy}","received_events_url":"https://api.github.com/users/joetrite/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T13:17:29Z","updated_at":"2017-03-07T13:17:29Z","author_association":"CONTRIBUTOR","body":"@joewitt i'm made most of these changes, still testings things but one thing i want to note/raise (maybe by design?) in the original code is that if the ff does not contain any attributes that match the attribute pattern regex, then the ff is automatically going to the matched relationship.  I would think that if I specify an attribute pattern and none of the attributes match the pattern then the ff would go to unmatched.  I'm not planning to change this functionality as it would def break existing flows, just want to note it in case it is a bug/not working as expected.  ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284718423/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284725647","html_url":"https://github.com/apache/nifi/pull/1569#issuecomment-284725647","issue_url":"https://api.github.com/repos/apache/nifi/issues/1569","id":284725647,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDcyNTY0Nw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T13:48:27Z","updated_at":"2017-03-07T13:48:27Z","author_association":"MEMBER","body":"Confirmed contrib check passed locally. Merged into master.\r\nhttps://git-wip-us.apache.org/repos/asf?p=nifi.git\r\n\r\nHowever, the commit is not synched to Github thus this PR is still open. I believe once it gets synchronized, this PR is automatically closed..\r\n\r\nThanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284725647/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284743310","html_url":"https://github.com/apache/nifi/pull/1312#issuecomment-284743310","issue_url":"https://api.github.com/repos/apache/nifi/issues/1312","id":284743310,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDc0MzMxMA==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T14:52:48Z","updated_at":"2017-03-07T14:52:48Z","author_association":"MEMBER","body":"@kedarchitale We're getting pretty close. In addition to the per-line comments I noticed that you have DOS-style CRLF endings. Can you changes these to newlines only using dos2unix or something similar?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284743310/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284765810","html_url":"https://github.com/apache/nifi/pull/1566#issuecomment-284765810","issue_url":"https://api.github.com/repos/apache/nifi/issues/1566","id":284765810,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDc2NTgxMA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T16:04:37Z","updated_at":"2017-03-07T16:04:37Z","author_association":"MEMBER","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284765810/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284766505","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284766505","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284766505,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDc2NjUwNQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T16:06:50Z","updated_at":"2017-03-07T16:06:50Z","author_association":"CONTRIBUTOR","body":"@joetrite that sounds like a good catch then and it should be fixed.  The docs say \"at least one must match\" or \"all must match\" so there is no cause for 'none matched (even if no attributes)' going to matched.  It should go to unmatched.  That is probably good for another JIRA/PR but if you want to do that in here I'm ok with that too personally.  Or if you just want to raise the JIRA/PR but not tackle that this is ok too.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284766505/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284817977","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284817977","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284817977,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDgxNzk3Nw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T18:48:17Z","updated_at":"2017-03-07T18:48:17Z","author_association":"CONTRIBUTOR","body":"@joetrite actually looks like the logic bug causing things to route to success when no attributes match at all would only apply to the 'allMatch' case and it is because it returns true if it never returns false.  If line 228 took into account that the attribute matcher had more than one hit it would do the job.  something like 'return howeverManyHitsWeSaw > 0'","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284817977/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284859402","html_url":"https://github.com/apache/nifi/pull/1566#issuecomment-284859402","issue_url":"https://api.github.com/repos/apache/nifi/issues/1566","id":284859402,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDg1OTQwMg==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T21:07:57Z","updated_at":"2017-03-07T21:07:57Z","author_association":"MEMBER","body":"Hey @pvillard31, I was able to verify the changes worked.  Will take into account the way @jtstorck recommended and get this merged.  Thanks both for fixing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284859402/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284868433","html_url":"https://github.com/apache/nifi/pull/1566#issuecomment-284868433","issue_url":"https://api.github.com/repos/apache/nifi/issues/1566","id":284868433,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDg2ODQzMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-07T21:41:03Z","updated_at":"2017-03-07T21:41:03Z","author_association":"CONTRIBUTOR","body":"@apiri @jtstorck \r\nThanks guys, I'll try to remember the GString solution when doing some Groovy.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284868433/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284908730","html_url":"https://github.com/apache/nifi/pull/1564#issuecomment-284908730","issue_url":"https://api.github.com/repos/apache/nifi/issues/1564","id":284908730,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDkwODczMA==","user":{"login":"joetrite","id":9666540,"node_id":"MDQ6VXNlcjk2NjY1NDA=","avatar_url":"https://avatars.githubusercontent.com/u/9666540?v=4","gravatar_id":"","url":"https://api.github.com/users/joetrite","html_url":"https://github.com/joetrite","followers_url":"https://api.github.com/users/joetrite/followers","following_url":"https://api.github.com/users/joetrite/following{/other_user}","gists_url":"https://api.github.com/users/joetrite/gists{/gist_id}","starred_url":"https://api.github.com/users/joetrite/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joetrite/subscriptions","organizations_url":"https://api.github.com/users/joetrite/orgs","repos_url":"https://api.github.com/users/joetrite/repos","events_url":"https://api.github.com/users/joetrite/events{/privacy}","received_events_url":"https://api.github.com/users/joetrite/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T00:41:55Z","updated_at":"2017-03-08T00:41:55Z","author_association":"CONTRIBUTOR","body":"@joewitt fixed routing, simplified code + thread safety issue and spelling of tomato :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284908730/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284912994","html_url":"https://github.com/apache/nifi/pull/1573#issuecomment-284912994","issue_url":"https://api.github.com/repos/apache/nifi/issues/1573","id":284912994,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDkxMjk5NA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T01:05:35Z","updated_at":"2017-03-08T01:05:35Z","author_association":"CONTRIBUTOR","body":"Thanks for the quick verification. I need a committer but I think @apiri is on it. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284912994/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284913214","html_url":"https://github.com/apache/nifi/pull/1573#issuecomment-284913214","issue_url":"https://api.github.com/repos/apache/nifi/issues/1573","id":284913214,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDkxMzIxNA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T01:06:44Z","updated_at":"2017-03-08T01:06:44Z","author_association":"MEMBER","body":"Yeah, sorry about this.  Serves me right for trying to eyeball the merge.  Will get this in.  Thanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284913214/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284913848","html_url":"https://github.com/apache/nifi/pull/1573#issuecomment-284913848","issue_url":"https://api.github.com/repos/apache/nifi/issues/1573","id":284913848,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NDkxMzg0OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T01:10:21Z","updated_at":"2017-03-08T01:10:21Z","author_association":"CONTRIBUTOR","body":"Aldrin's having a long day. The merge was successful but did not include the magic incantation to close the PR. Closing manually. Thanks all for the quick response. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/284913848/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285004143","html_url":"https://github.com/apache/nifi/pull/1450#issuecomment-285004143","issue_url":"https://api.github.com/repos/apache/nifi/issues/1450","id":285004143,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTAwNDE0Mw==","user":{"login":"ToivoAdams","id":11006968,"node_id":"MDQ6VXNlcjExMDA2OTY4","avatar_url":"https://avatars.githubusercontent.com/u/11006968?v=4","gravatar_id":"","url":"https://api.github.com/users/ToivoAdams","html_url":"https://github.com/ToivoAdams","followers_url":"https://api.github.com/users/ToivoAdams/followers","following_url":"https://api.github.com/users/ToivoAdams/following{/other_user}","gists_url":"https://api.github.com/users/ToivoAdams/gists{/gist_id}","starred_url":"https://api.github.com/users/ToivoAdams/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ToivoAdams/subscriptions","organizations_url":"https://api.github.com/users/ToivoAdams/orgs","repos_url":"https://api.github.com/users/ToivoAdams/repos","events_url":"https://api.github.com/users/ToivoAdams/events{/privacy}","received_events_url":"https://api.github.com/users/ToivoAdams/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T10:25:12Z","updated_at":"2017-03-08T10:25:12Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak @mattyb149\r\n\r\nWe could add example how to use String JDBC to wiki.\r\nNo need to be part of NiFi codebase.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285004143/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285026307","html_url":"https://github.com/apache/nifi/pull/1567#issuecomment-285026307","issue_url":"https://api.github.com/repos/apache/nifi/issues/1567","id":285026307,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTAyNjMwNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T12:17:59Z","updated_at":"2017-03-08T12:17:59Z","author_association":"CONTRIBUTOR","body":"+1, full build with contrib check, change LGTM, merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285026307/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285031817","html_url":"https://github.com/apache/nifi/pull/1572#issuecomment-285031817","issue_url":"https://api.github.com/repos/apache/nifi/issues/1572","id":285031817,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTAzMTgxNw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T12:47:46Z","updated_at":"2017-03-08T12:47:46Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285031817/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285049657","html_url":"https://github.com/apache/nifi/pull/1450#issuecomment-285049657","issue_url":"https://api.github.com/repos/apache/nifi/issues/1450","id":285049657,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTA0OTY1Nw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T14:08:25Z","updated_at":"2017-03-08T14:08:25Z","author_association":"CONTRIBUTOR","body":"Agreed, sounds good thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285049657/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285103912","html_url":"https://github.com/apache/nifi/pull/1570#issuecomment-285103912","issue_url":"https://api.github.com/repos/apache/nifi/issues/1570","id":285103912,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTEwMzkxMg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T17:11:54Z","updated_at":"2017-03-08T17:11:54Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285103912/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285125733","html_url":"https://github.com/apache/nifi/pull/1574#issuecomment-285125733","issue_url":"https://api.github.com/repos/apache/nifi/issues/1574","id":285125733,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTEyNTczMw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T18:29:06Z","updated_at":"2017-03-08T18:29:06Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285125733/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285146865","html_url":"https://github.com/apache/nifi/pull/1570#issuecomment-285146865","issue_url":"https://api.github.com/repos/apache/nifi/issues/1570","id":285146865,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE0Njg2NQ==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T19:43:13Z","updated_at":"2017-03-08T19:43:13Z","author_association":"CONTRIBUTOR","body":"@pvillard31, this PR looks pretty good to me:\r\n\r\n* Passes full build with contrib-check\r\n* Unit test exercises the schema parsing issue\r\n* Processor change fixes the schema parsing issue\r\n\r\nOne thing I would mention is that the unit test captures the complete context of the user experience from Jinli Liang, but it is more than necessary for the underlying issue.  A smaller unit test would still cover the issue and be clearer about the focus:\r\n\r\n    @Test\r\n    public void testParseSchemaCommaBoundary() {\r\n        final TestRunner runner = TestRunners.newTestRunner(new ValidateCsv());\r\n        runner.setProperty(ValidateCsv.SCHEMA, \"Null(),Null\");\r\n        runner.assertValid();\r\n    }\r\n    \r\nWhat do you think?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285146865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285151629","html_url":"https://github.com/apache/nifi/pull/1570#issuecomment-285151629","issue_url":"https://api.github.com/repos/apache/nifi/issues/1570","id":285151629,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE1MTYyOQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T20:00:03Z","updated_at":"2017-03-08T20:00:03Z","author_association":"CONTRIBUTOR","body":"Hey @jvwing, thanks for the review! I agree with you, let me update the PR, should be OK in a minute.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285151629/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285166387","html_url":"https://github.com/apache/nifi/pull/1576#issuecomment-285166387","issue_url":"https://api.github.com/repos/apache/nifi/issues/1576","id":285166387,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE2NjM4Nw==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T20:56:06Z","updated_at":"2017-03-08T20:56:06Z","author_association":"NONE","body":"This follows the work done on https://github.com/apache/nifi/pull/1529. Opened a new PR for cleaner work.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285166387/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285166477","html_url":"https://github.com/apache/nifi/pull/1529#issuecomment-285166477","issue_url":"https://api.github.com/repos/apache/nifi/issues/1529","id":285166477,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE2NjQ3Nw==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T20:56:28Z","updated_at":"2017-03-08T20:56:28Z","author_association":"NONE","body":"Opened cleaner PR for this work: https://github.com/apache/nifi/pull/1576","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285166477/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285172545","html_url":"https://github.com/apache/nifi/pull/1323#issuecomment-285172545","issue_url":"https://api.github.com/repos/apache/nifi/issues/1323","id":285172545,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE3MjU0NQ==","user":{"login":"speddy93","id":4601977,"node_id":"MDQ6VXNlcjQ2MDE5Nzc=","avatar_url":"https://avatars.githubusercontent.com/u/4601977?v=4","gravatar_id":"","url":"https://api.github.com/users/speddy93","html_url":"https://github.com/speddy93","followers_url":"https://api.github.com/users/speddy93/followers","following_url":"https://api.github.com/users/speddy93/following{/other_user}","gists_url":"https://api.github.com/users/speddy93/gists{/gist_id}","starred_url":"https://api.github.com/users/speddy93/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/speddy93/subscriptions","organizations_url":"https://api.github.com/users/speddy93/orgs","repos_url":"https://api.github.com/users/speddy93/repos","events_url":"https://api.github.com/users/speddy93/events{/privacy}","received_events_url":"https://api.github.com/users/speddy93/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T21:19:23Z","updated_at":"2017-03-08T21:19:23Z","author_association":"NONE","body":"@joewitt Just wanted to confirm whether this was good to go? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285172545/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285191480","html_url":"https://github.com/apache/nifi/pull/1332#issuecomment-285191480","issue_url":"https://api.github.com/repos/apache/nifi/issues/1332","id":285191480,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE5MTQ4MA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T22:32:09Z","updated_at":"2017-03-08T22:32:09Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak all looks good to me. Code looks fine, and i verified behavior. Thanks for addressing this. A good catch. +1 merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285191480/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285198079","html_url":"https://github.com/apache/nifi/pull/1570#issuecomment-285198079","issue_url":"https://api.github.com/repos/apache/nifi/issues/1570","id":285198079,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTE5ODA3OQ==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-08T22:59:49Z","updated_at":"2017-03-08T22:59:49Z","author_association":"CONTRIBUTOR","body":"Looks great, @pvillard31, thanks for fixing this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285198079/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285229328","html_url":"https://github.com/apache/nifi/pull/1579#issuecomment-285229328","issue_url":"https://api.github.com/repos/apache/nifi/issues/1579","id":285229328,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTIyOTMyOA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T01:48:23Z","updated_at":"2017-03-09T01:48:23Z","author_association":"MEMBER","body":"@alopresto I have an environment that can reproduce insufficient entropy blocking NiFi to startup. Will try to review..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285229328/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285241356","html_url":"https://github.com/apache/nifi/pull/1579#issuecomment-285241356","issue_url":"https://api.github.com/repos/apache/nifi/issues/1579","id":285241356,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTI0MTM1Ng==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T03:04:54Z","updated_at":"2017-03-09T03:04:54Z","author_association":"MEMBER","body":"@alopresto LGTM +1. Thanks for fixing this!\r\n\r\nPlease merge if my test result is sufficient.\r\n\r\n## Confirmed that I can reproduce the issue\r\n\r\nI had been using a workaround by mapping hosts `/dev/urandom` to Docker containers `/dev/random` before. To confirm the issue happens, I removed that workaround and started 7 NiFi containers using docker-compose.\r\n\r\nWithout the workaround, NiFi start-up was blocked exactly the same point as expected, and here is the stacktrace of main method:\r\n\r\n```\r\nWithout workaround main thread blocks here:\r\n\"main\" Id=1 RUNNABLE  (in native code)\r\n        at java.io.FileInputStream.readBytes(Native Method)\r\n        at java.io.FileInputStream.read(FileInputStream.java:255)\r\n        at sun.security.provider.SeedGenerator$URLSeedGenerator.getSeedBytes(SeedGenerator.java:539)\r\n        at sun.security.provider.SeedGenerator.generateSeed(SeedGenerator.java:144)\r\n        at sun.security.provider.SecureRandom$SeederHolder.<clinit>(SecureRandom.java:203)\r\n        at sun.security.provider.SecureRandom.engineNextBytes(SecureRandom.java:221)\r\n        - waiting on sun.security.provider.SecureRandom@39c08111\r\n        at java.security.SecureRandom.nextBytes(SecureRandom.java:468)\r\n        - waiting on java.security.SecureRandom@5cc41bea\r\n        at org.jasypt.salt.RandomSaltGenerator.generateSalt(RandomSaltGenerator.java:92)\r\n        - waiting on java.security.SecureRandom@5cc41bea\r\n        at org.jasypt.encryption.pbe.StandardPBEByteEncryptor.encrypt(StandardPBEByteEncryptor.java:891)\r\n        at org.jasypt.encryption.pbe.StandardPBEStringEncryptor.encrypt(StandardPBEStringEncryptor.java:642)\r\n        at org.apache.nifi.encrypt.StringEncryptor.encrypt(StringEncryptor.java:130)\r\n        at org.apache.nifi.encrypt.StringEncryptor.createEncryptor(StringEncryptor.java:108)\r\n        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\r\n```\r\n\r\nIt took about 10 minutes to start-up. Usually it takes 10 - 15 min without workaround in my environment.\r\n\r\n## Confirmed that this PR addresses the issue\r\n\r\nAfter reproducing the issue, I replaced bootstrap.conf in my NiFi container image. Then started 7 NiFi containers using docker-compose. Did the same thing 3 times. The blocking issue didn't happen, and NiFi can startup in about 1-2 minutes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285241356/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285243689","html_url":"https://github.com/apache/nifi/pull/1579#issuecomment-285243689","issue_url":"https://api.github.com/repos/apache/nifi/issues/1579","id":285243689,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTI0MzY4OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T03:23:14Z","updated_at":"2017-03-09T03:23:14Z","author_association":"CONTRIBUTOR","body":"Awesome @ijokarumawak . Thanks for the extensive testing. I'll merge this and hopefully it will help people who have been experiencing long delays in startup but didn't know why. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285243689/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285255153","html_url":"https://github.com/apache/nifi/pull/1474#issuecomment-285255153","issue_url":"https://api.github.com/repos/apache/nifi/issues/1474","id":285255153,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTI1NTE1Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T05:00:19Z","updated_at":"2017-03-09T05:00:19Z","author_association":"CONTRIBUTOR","body":"I verified contrib-check, ran the tests (as mentioned, one failed but I resolved it), and built the project. I made a sample flow which generated a flowfile, updated a `username` attribute with \"anonymous\", and then used a `PutFTP` processor with the **username** value having the expression `${username}`. This worked successfully. \r\n\r\n+1, merging. \r\n![screen shot 2017-03-08 at 8 48 23 pm](https://cloud.githubusercontent.com/assets/798465/23736589/284dd634-0442-11e7-8424-6a4330aad443.png)\r\n![screen shot 2017-03-08 at 8 48 08 pm](https://cloud.githubusercontent.com/assets/798465/23736590/284e4b0a-0442-11e7-943f-412d152c4a20.png)\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285255153/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285348008","html_url":"https://github.com/apache/nifi/pull/1572#issuecomment-285348008","issue_url":"https://api.github.com/repos/apache/nifi/issues/1572","id":285348008,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTM0ODAwOA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T13:14:36Z","updated_at":"2017-03-09T13:14:36Z","author_association":"CONTRIBUTOR","body":"Thanks @jvwing! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285348008/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285350101","html_url":"https://github.com/apache/nifi/pull/1574#issuecomment-285350101","issue_url":"https://api.github.com/repos/apache/nifi/issues/1574","id":285350101,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTM1MDEwMQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T13:24:30Z","updated_at":"2017-03-09T13:24:30Z","author_association":"CONTRIBUTOR","body":"Thanks @apiri! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285350101/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285375469","html_url":"https://github.com/apache/nifi/pull/1578#issuecomment-285375469","issue_url":"https://api.github.com/repos/apache/nifi/issues/1578","id":285375469,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTM3NTQ2OQ==","user":{"login":"brosander","id":596137,"node_id":"MDQ6VXNlcjU5NjEzNw==","avatar_url":"https://avatars.githubusercontent.com/u/596137?v=4","gravatar_id":"","url":"https://api.github.com/users/brosander","html_url":"https://github.com/brosander","followers_url":"https://api.github.com/users/brosander/followers","following_url":"https://api.github.com/users/brosander/following{/other_user}","gists_url":"https://api.github.com/users/brosander/gists{/gist_id}","starred_url":"https://api.github.com/users/brosander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brosander/subscriptions","organizations_url":"https://api.github.com/users/brosander/orgs","repos_url":"https://api.github.com/users/brosander/repos","events_url":"https://api.github.com/users/brosander/events{/privacy}","received_events_url":"https://api.github.com/users/brosander/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T15:02:30Z","updated_at":"2017-03-09T15:02:30Z","author_association":"CONTRIBUTOR","body":"contrib-check build working on linux, from root nifi folder, on OSX I've been having issues with kafka tests so I just ran the changed modules and those are checking out","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285375469/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285416298","html_url":"https://github.com/apache/nifi/pull/1582#issuecomment-285416298","issue_url":"https://api.github.com/repos/apache/nifi/issues/1582","id":285416298,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTQxNjI5OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T17:13:15Z","updated_at":"2017-03-09T17:13:15Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285416298/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285418940","html_url":"https://github.com/apache/nifi/pull/1582#issuecomment-285418940","issue_url":"https://api.github.com/repos/apache/nifi/issues/1582","id":285418940,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTQxODk0MA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T17:22:55Z","updated_at":"2017-03-09T17:22:55Z","author_association":"CONTRIBUTOR","body":"I left this guidance on the JIRA for anyone testing/reviewing... \r\n\r\n> Feel free to apply the server side changes first. This should prevent NiFi from getting into this state. You should see an error indicating that you cannot move a Process Group into itself. Then applying the UI changes, it should make this sort of request impossible from the UI.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285418940/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285449807","html_url":"https://github.com/apache/nifi/pull/1290#issuecomment-285449807","issue_url":"https://api.github.com/repos/apache/nifi/issues/1290","id":285449807,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTQ0OTgwNw==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T19:12:00Z","updated_at":"2017-03-09T19:12:00Z","author_association":"MEMBER","body":"@klinvill Do you know what version of NiFi you were running against? The NumberFormatException error was fixed in 1.1.0 by [NIFI-2887](https://issues.apache.org/jira/browse/NIFI-2887) and a relevant segment added to the unit tests. [NIFI-3142](https://issues.apache.org/jira/browse/NIFI-3142) suggests you ran into this against 1.0.0, and given the time you reported it at NiFi 1.1.0 had only been out for a short time so I wouldn't be surprised if you hadn't upgraded yet. Is this right? As for the NPE, I'll see if I can reproduce it but I don't know if I exactly follow the scenario. Is it an unrecognized segment name as in it's just bad HL7 or a segment that's unsupported for a particular version?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285449807/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285453007","html_url":"https://github.com/apache/nifi/pull/854#issuecomment-285453007","issue_url":"https://api.github.com/repos/apache/nifi/issues/854","id":285453007,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTQ1MzAwNw==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-09T19:23:49Z","updated_at":"2017-03-09T19:23:49Z","author_association":"MEMBER","body":"@joewitt It's rebased against master again.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285453007/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285684750","html_url":"https://github.com/apache/nifi/pull/1583#issuecomment-285684750","issue_url":"https://api.github.com/repos/apache/nifi/issues/1583","id":285684750,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTY4NDc1MA==","user":{"login":"josephxsxn","id":2395496,"node_id":"MDQ6VXNlcjIzOTU0OTY=","avatar_url":"https://avatars.githubusercontent.com/u/2395496?v=4","gravatar_id":"","url":"https://api.github.com/users/josephxsxn","html_url":"https://github.com/josephxsxn","followers_url":"https://api.github.com/users/josephxsxn/followers","following_url":"https://api.github.com/users/josephxsxn/following{/other_user}","gists_url":"https://api.github.com/users/josephxsxn/gists{/gist_id}","starred_url":"https://api.github.com/users/josephxsxn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/josephxsxn/subscriptions","organizations_url":"https://api.github.com/users/josephxsxn/orgs","repos_url":"https://api.github.com/users/josephxsxn/repos","events_url":"https://api.github.com/users/josephxsxn/events{/privacy}","received_events_url":"https://api.github.com/users/josephxsxn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-10T14:38:44Z","updated_at":"2017-03-10T14:38:44Z","author_association":"CONTRIBUTOR","body":"Trival change in names didnt impact tests. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285684750/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285706544","html_url":"https://github.com/apache/nifi/pull/1578#issuecomment-285706544","issue_url":"https://api.github.com/repos/apache/nifi/issues/1578","id":285706544,"node_id":"MDEyOklzc3VlQ29tbWVudDI4NTcwNjU0NA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2017-03-10T15:57:59Z","updated_at":"2017-03-10T15:57:59Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran unit tests and contrib-check, thank you for the fix! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/285706544/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]