data/github-comments/apache-NiFi-74-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357941254","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-357941254","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":357941254,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk0MTI1NA==","user":{"login":"sbouchex","id":2684878,"node_id":"MDQ6VXNlcjI2ODQ4Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/2684878?v=4","gravatar_id":"","url":"https://api.github.com/users/sbouchex","html_url":"https://github.com/sbouchex","followers_url":"https://api.github.com/users/sbouchex/followers","following_url":"https://api.github.com/users/sbouchex/following{/other_user}","gists_url":"https://api.github.com/users/sbouchex/gists{/gist_id}","starred_url":"https://api.github.com/users/sbouchex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbouchex/subscriptions","organizations_url":"https://api.github.com/users/sbouchex/orgs","repos_url":"https://api.github.com/users/sbouchex/repos","events_url":"https://api.github.com/users/sbouchex/events{/privacy}","received_events_url":"https://api.github.com/users/sbouchex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T12:09:27Z","updated_at":"2018-01-16T12:10:52Z","author_association":"CONTRIBUTOR","body":"org.apache.nifi.controller.status.RunStatus contains lowercase characters but org.apache.nifi.web.api.dto.status.ProcessorStatusSnapshotDTO (and probably other classes) are defining UPPERCASE statuses... Looks strange... no ?\r\n\r\nand `snapshot.setRunStatus(procStatus.getRunStatus().toString());` in DtoFactory.java","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357941254/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357942102","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-357942102","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":357942102,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk0MjEwMg==","user":{"login":"sbouchex","id":2684878,"node_id":"MDQ6VXNlcjI2ODQ4Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/2684878?v=4","gravatar_id":"","url":"https://api.github.com/users/sbouchex","html_url":"https://github.com/sbouchex","followers_url":"https://api.github.com/users/sbouchex/followers","following_url":"https://api.github.com/users/sbouchex/following{/other_user}","gists_url":"https://api.github.com/users/sbouchex/gists{/gist_id}","starred_url":"https://api.github.com/users/sbouchex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbouchex/subscriptions","organizations_url":"https://api.github.com/users/sbouchex/orgs","repos_url":"https://api.github.com/users/sbouchex/repos","events_url":"https://api.github.com/users/sbouchex/events{/privacy}","received_events_url":"https://api.github.com/users/sbouchex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T12:13:30Z","updated_at":"2018-01-16T12:13:30Z","author_association":"CONTRIBUTOR","body":"`.toUpperCase()` is probably missing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357942102/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357977227","html_url":"https://github.com/apache/nifi/pull/2310#issuecomment-357977227","issue_url":"https://api.github.com/repos/apache/nifi/issues/2310","id":357977227,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk3NzIyNw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T14:30:30Z","updated_at":"2018-01-16T14:30:30Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @pvillard31 am a +1 on L&N so please feel free to merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357977227/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357981406","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-357981406","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":357981406,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk4MTQwNg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T14:43:24Z","updated_at":"2018-01-16T14:43:24Z","author_association":"CONTRIBUTOR","body":"In some cases, human-readable labels are generated and other cases not. Often times we defer to the `toString` of the enum to drive the resulting value.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357981406/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357986705","html_url":"https://github.com/apache/nifi/pull/2213#issuecomment-357986705","issue_url":"https://api.github.com/repos/apache/nifi/issues/2213","id":357986705,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk4NjcwNQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T14:59:25Z","updated_at":"2018-01-16T14:59:25Z","author_association":"CONTRIBUTOR","body":"@Senthilannaswamy I just double check the specification and the suggested changes make sense. \r\n\r\n> token_endpoint_auth_methods_supported\r\n> OPTIONAL. JSON array containing a list of Client Authentication methods supported by this Token Endpoint. The options are client_secret_post, client_secret_basic, client_secret_jwt, and private_key_jwt, as described in Section 9 of OpenID Connect Core 1.0 [OpenID.Core]. Other authentication methods MAY be defined by extensions. If omitted, the default is client_secret_basic -- the HTTP Basic Authentication Scheme specified in Section 2.3.1 of OAuth 2.0 [RFC6749].\r\n\r\nBefore we accept the PR, can you please file a JIRA [1] and update your commit message to reference the ticket. Take a peek at another PR for an example.\r\n\r\nThanks! I can also file the JIRA for you if you prefer.\r\n\r\n[1] https://issues.apache.org/jira/projects/NIFI","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357986705/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357997037","html_url":"https://github.com/apache/nifi/pull/2213#issuecomment-357997037","issue_url":"https://api.github.com/repos/apache/nifi/issues/2213","id":357997037,"node_id":"MDEyOklzc3VlQ29tbWVudDM1Nzk5NzAzNw==","user":{"login":"Senthilannaswamy","id":9284726,"node_id":"MDQ6VXNlcjkyODQ3MjY=","avatar_url":"https://avatars.githubusercontent.com/u/9284726?v=4","gravatar_id":"","url":"https://api.github.com/users/Senthilannaswamy","html_url":"https://github.com/Senthilannaswamy","followers_url":"https://api.github.com/users/Senthilannaswamy/followers","following_url":"https://api.github.com/users/Senthilannaswamy/following{/other_user}","gists_url":"https://api.github.com/users/Senthilannaswamy/gists{/gist_id}","starred_url":"https://api.github.com/users/Senthilannaswamy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Senthilannaswamy/subscriptions","organizations_url":"https://api.github.com/users/Senthilannaswamy/orgs","repos_url":"https://api.github.com/users/Senthilannaswamy/repos","events_url":"https://api.github.com/users/Senthilannaswamy/events{/privacy}","received_events_url":"https://api.github.com/users/Senthilannaswamy/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T15:27:52Z","updated_at":"2018-01-16T15:27:52Z","author_association":"NONE","body":"@mcgilman\r\nI had created a Jira NIFI-4781 and updated the message. Hope its suffice.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/357997037/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358002246","html_url":"https://github.com/apache/nifi/pull/2113#issuecomment-358002246","issue_url":"https://api.github.com/repos/apache/nifi/issues/2113","id":358002246,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAwMjI0Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T15:39:25Z","updated_at":"2018-01-16T15:39:25Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I've been thinking about what to do with this PR, and I think it needs to be put into a new NAR. I'm thinking \"nifi-elasticsearch-restapi.nar\" or something like that. What I'd ideally like to do is position this to be a new package that does full CRUD using only the official REST API from Elastic Co.\r\n\r\nIt might also help with the issue that @joewitt raised about the sizing because the current mix of ElasticSearch processors use different toolkits which needlessly raises the size of the NARs.\r\n\r\nThoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358002246/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358010261","html_url":"https://github.com/apache/nifi/pull/2113#issuecomment-358010261","issue_url":"https://api.github.com/repos/apache/nifi/issues/2113","id":358010261,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAxMDI2MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:00:06Z","updated_at":"2018-01-16T16:00:06Z","author_association":"CONTRIBUTOR","body":"Makes sense to me, we had to do the same with Elasticsearch 2.x and 5.x because of the difference in transport client versions. As folks move exclusively to ES5+, it would be nice to deprecate the other NARs and go forward with versions of all the processors (Get,Put,Search, etc.) using the new Java client.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358010261/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358021563","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-358021563","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":358021563,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAyMTU2Mw==","user":{"login":"sbouchex","id":2684878,"node_id":"MDQ6VXNlcjI2ODQ4Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/2684878?v=4","gravatar_id":"","url":"https://api.github.com/users/sbouchex","html_url":"https://github.com/sbouchex","followers_url":"https://api.github.com/users/sbouchex/followers","following_url":"https://api.github.com/users/sbouchex/following{/other_user}","gists_url":"https://api.github.com/users/sbouchex/gists{/gist_id}","starred_url":"https://api.github.com/users/sbouchex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbouchex/subscriptions","organizations_url":"https://api.github.com/users/sbouchex/orgs","repos_url":"https://api.github.com/users/sbouchex/repos","events_url":"https://api.github.com/users/sbouchex/events{/privacy}","received_events_url":"https://api.github.com/users/sbouchex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:34:13Z","updated_at":"2018-01-16T16:34:13Z","author_association":"CONTRIBUTOR","body":"Yes, but the problem is the toString() which is not good : \r\n\r\nProcessorStatusSnapshotDTO is defining RUNNING but the call in DtoFactory is setting \"Running\"\r\n\r\nSo the value is *not* consistent with the API definition (as it defines RUNNING)\r\n\r\nDo you want a separate ticket or do you reopen this one ?\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358021563/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358022997","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-358022997","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":358022997,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAyMjk5Nw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:38:23Z","updated_at":"2018-01-16T16:38:23Z","author_association":"CONTRIBUTOR","body":"I see. So the issue is with this annotation?\r\n\r\n    @ApiModelProperty(\r\n            value = \"The state of the processor.\",\r\n            allowableValues = \"RUNNING, STOPPED, DISABLED, INVALID\"\r\n    )\r\n\r\nPlease open a new ticket. This ticket has already been released and cannot be re-opened now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358022997/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358027552","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-358027552","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":358027552,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAyNzU1Mg==","user":{"login":"sbouchex","id":2684878,"node_id":"MDQ6VXNlcjI2ODQ4Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/2684878?v=4","gravatar_id":"","url":"https://api.github.com/users/sbouchex","html_url":"https://github.com/sbouchex","followers_url":"https://api.github.com/users/sbouchex/followers","following_url":"https://api.github.com/users/sbouchex/following{/other_user}","gists_url":"https://api.github.com/users/sbouchex/gists{/gist_id}","starred_url":"https://api.github.com/users/sbouchex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbouchex/subscriptions","organizations_url":"https://api.github.com/users/sbouchex/orgs","repos_url":"https://api.github.com/users/sbouchex/repos","events_url":"https://api.github.com/users/sbouchex/events{/privacy}","received_events_url":"https://api.github.com/users/sbouchex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:52:04Z","updated_at":"2018-01-16T16:52:04Z","author_association":"CONTRIBUTOR","body":"Well... Changing the API is not good, so I would change the RunStatus class instead by changing the constants to uppercase.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358027552/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358029150","html_url":"https://github.com/apache/nifi/pull/2393#issuecomment-358029150","issue_url":"https://api.github.com/repos/apache/nifi/issues/2393","id":358029150,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAyOTE1MA==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:56:52Z","updated_at":"2018-01-16T16:56:52Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358029150/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358029719","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-358029719","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":358029719,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAyOTcxOQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T16:58:39Z","updated_at":"2018-01-16T16:58:39Z","author_association":"CONTRIBUTOR","body":"We only use swagger for documentation generation. Changing the resulting value would break the current API that existing clients expect. I believe the best path forward would be to fix the documentation by adjusting the annotation value. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358029719/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358033841","html_url":"https://github.com/apache/nifi/pull/2405#issuecomment-358033841","issue_url":"https://api.github.com/repos/apache/nifi/issues/2405","id":358033841,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODAzMzg0MQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T17:11:38Z","updated_at":"2018-01-16T17:11:38Z","author_association":"CONTRIBUTOR","body":"@adfel70 thanks for the contribution! I'm a bit concerned about the ramifications of this change as-is, though. If I'm understanding the code change, it appears to be removing all caching from the controller service. I don't think that's what we want to do, as network problems or having the Confluent Schema Registry go down would cause the dataflow to stop. I think if we want to avoid the caching mechanism, then we would need to expose a property to allow the user to choose whether or not they want to do so - or how long they want to cache the schema.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358033841/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":1,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358040111","html_url":"https://github.com/apache/nifi/pull/2276#issuecomment-358040111","issue_url":"https://api.github.com/repos/apache/nifi/issues/2276","id":358040111,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODA0MDExMQ==","user":{"login":"sbouchex","id":2684878,"node_id":"MDQ6VXNlcjI2ODQ4Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/2684878?v=4","gravatar_id":"","url":"https://api.github.com/users/sbouchex","html_url":"https://github.com/sbouchex","followers_url":"https://api.github.com/users/sbouchex/followers","following_url":"https://api.github.com/users/sbouchex/following{/other_user}","gists_url":"https://api.github.com/users/sbouchex/gists{/gist_id}","starred_url":"https://api.github.com/users/sbouchex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbouchex/subscriptions","organizations_url":"https://api.github.com/users/sbouchex/orgs","repos_url":"https://api.github.com/users/sbouchex/repos","events_url":"https://api.github.com/users/sbouchex/events{/privacy}","received_events_url":"https://api.github.com/users/sbouchex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T17:30:47Z","updated_at":"2018-01-16T17:30:47Z","author_association":"CONTRIBUTOR","body":"Ok fine for me. I'll do thé ticket + PR soon","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358040111/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358045865","html_url":"https://github.com/apache/nifi/pull/2393#issuecomment-358045865","issue_url":"https://api.github.com/repos/apache/nifi/issues/2393","id":358045865,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODA0NTg2NQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T17:47:33Z","updated_at":"2018-01-16T17:47:33Z","author_association":"CONTRIBUTOR","body":"+1 looks good and verified behavior, merging","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358045865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358047714","html_url":"https://github.com/apache/nifi/pull/2406#issuecomment-358047714","issue_url":"https://api.github.com/repos/apache/nifi/issues/2406","id":358047714,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODA0NzcxNA==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T17:52:54Z","updated_at":"2018-01-16T17:52:54Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358047714/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358071727","html_url":"https://github.com/apache/nifi/pull/2406#issuecomment-358071727","issue_url":"https://api.github.com/repos/apache/nifi/issues/2406","id":358071727,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODA3MTcyNw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T19:10:52Z","updated_at":"2018-01-16T19:10:52Z","author_association":"CONTRIBUTOR","body":"+1 looks good and verified that versioned flows can roll back required properties to be empty, merging","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358071727/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358095489","html_url":"https://github.com/apache/nifi/pull/2396#issuecomment-358095489","issue_url":"https://api.github.com/repos/apache/nifi/issues/2396","id":358095489,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODA5NTQ4OQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T20:31:50Z","updated_at":"2018-01-16T20:31:50Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358095489/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358110945","html_url":"https://github.com/apache/nifi/pull/2396#issuecomment-358110945","issue_url":"https://api.github.com/repos/apache/nifi/issues/2396","id":358110945,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODExMDk0NQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T21:24:12Z","updated_at":"2018-01-16T21:24:12Z","author_association":"CONTRIBUTOR","body":"+1 looks good, verified 0.11 and 1.0 processors send attributes in headers correctly, there was a minor check-style error that i am fixing while merging","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358110945/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358113803","html_url":"https://github.com/apache/nifi/pull/2407#issuecomment-358113803","issue_url":"https://api.github.com/repos/apache/nifi/issues/2407","id":358113803,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODExMzgwMw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-16T21:33:04Z","updated_at":"2018-01-16T21:33:04Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358113803/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358273242","html_url":"https://github.com/apache/nifi/pull/2405#issuecomment-358273242","issue_url":"https://api.github.com/repos/apache/nifi/issues/2405","id":358273242,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODI3MzI0Mg==","user":{"login":"adfel70","id":6029334,"node_id":"MDQ6VXNlcjYwMjkzMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/6029334?v=4","gravatar_id":"","url":"https://api.github.com/users/adfel70","html_url":"https://github.com/adfel70","followers_url":"https://api.github.com/users/adfel70/followers","following_url":"https://api.github.com/users/adfel70/following{/other_user}","gists_url":"https://api.github.com/users/adfel70/gists{/gist_id}","starred_url":"https://api.github.com/users/adfel70/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adfel70/subscriptions","organizations_url":"https://api.github.com/users/adfel70/orgs","repos_url":"https://api.github.com/users/adfel70/repos","events_url":"https://api.github.com/users/adfel70/events{/privacy}","received_events_url":"https://api.github.com/users/adfel70/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T11:12:42Z","updated_at":"2018-01-17T11:13:58Z","author_association":"NONE","body":"@markap14,\r\nThe schema registry still has a cache in [here](https://github.com/apache/nifi/blob/7c1ce172232d5fd8ab2a1c1649a9dcbf1a9d08d7/nifi-nar-bundles/nifi-confluent-platform-bundle/nifi-confluent-schema-registry-service/src/main/java/org/apache/nifi/confluent/schemaregistry/client/CachingSchemaRegistryClient.java#L28).\r\nThere were previously 2 caches, that was the reason i removed the ones in the rest client.\r\nInstead the code runs and gets the schema at the particular id, instead of the latest, since it created a bug in our nifi workflow.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358273242/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358331787","html_url":"https://github.com/apache/nifi/pull/2408#issuecomment-358331787","issue_url":"https://api.github.com/repos/apache/nifi/issues/2408","id":358331787,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODMzMTc4Nw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T15:03:38Z","updated_at":"2018-01-17T15:03:38Z","author_association":"CONTRIBUTOR","body":"@ns7381 Thanks for the PR! I plan to start reviewing this soon. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358331787/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358349006","html_url":"https://github.com/apache/nifi/pull/2213#issuecomment-358349006","issue_url":"https://api.github.com/repos/apache/nifi/issues/2213","id":358349006,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODM0OTAwNg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T15:55:59Z","updated_at":"2018-01-17T15:55:59Z","author_association":"CONTRIBUTOR","body":"Thanks @Senthilannaswamy! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358349006/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358350516","html_url":"https://github.com/apache/nifi/pull/2407#issuecomment-358350516","issue_url":"https://api.github.com/repos/apache/nifi/issues/2407","id":358350516,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODM1MDUxNg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T16:00:18Z","updated_at":"2018-01-17T16:00:18Z","author_association":"CONTRIBUTOR","body":"Thanks @sbouchex! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358350516/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358382689","html_url":"https://github.com/apache/nifi/pull/2157#issuecomment-358382689","issue_url":"https://api.github.com/repos/apache/nifi/issues/2157","id":358382689,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODM4MjY4OQ==","user":{"login":"yuri1969","id":13468636,"node_id":"MDQ6VXNlcjEzNDY4NjM2","avatar_url":"https://avatars.githubusercontent.com/u/13468636?v=4","gravatar_id":"","url":"https://api.github.com/users/yuri1969","html_url":"https://github.com/yuri1969","followers_url":"https://api.github.com/users/yuri1969/followers","following_url":"https://api.github.com/users/yuri1969/following{/other_user}","gists_url":"https://api.github.com/users/yuri1969/gists{/gist_id}","starred_url":"https://api.github.com/users/yuri1969/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yuri1969/subscriptions","organizations_url":"https://api.github.com/users/yuri1969/orgs","repos_url":"https://api.github.com/users/yuri1969/repos","events_url":"https://api.github.com/users/yuri1969/events{/privacy}","received_events_url":"https://api.github.com/users/yuri1969/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T17:38:53Z","updated_at":"2018-01-17T17:39:29Z","author_association":"CONTRIBUTOR","body":"@mcgilman This PR was created solely in order to speed up the connection creation. There was a follow-up discussion at https://issues.apache.org/jira/browse/NIFI-4390.\r\n\r\nSo I'm not sure if this particular PR is still valid in the given context.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358382689/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358438100","html_url":"https://github.com/apache/nifi/pull/2399#issuecomment-358438100","issue_url":"https://api.github.com/repos/apache/nifi/issues/2399","id":358438100,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODQzODEwMA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T20:41:02Z","updated_at":"2018-01-17T20:41:02Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @jfrazee ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358438100/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358439865","html_url":"https://github.com/apache/nifi/pull/2401#issuecomment-358439865","issue_url":"https://api.github.com/repos/apache/nifi/issues/2401","id":358439865,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODQzOTg2NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T20:47:35Z","updated_at":"2018-01-17T20:47:35Z","author_association":"CONTRIBUTOR","body":"+1, LGTM, thanks for the PR @MikeThomsen and thanks for the review @mgaido91","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358439865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358443088","html_url":"https://github.com/apache/nifi/pull/2336#issuecomment-358443088","issue_url":"https://api.github.com/repos/apache/nifi/issues/2336","id":358443088,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODQ0MzA4OA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-17T20:59:16Z","updated_at":"2018-01-17T20:59:16Z","author_association":"CONTRIBUTOR","body":"Hey @panelladavide - I think the last version of your PR is missing some parts of your code. Can you take a look? Could you rebase it against master and squash commits into a single one?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358443088/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358526103","html_url":"https://github.com/apache/nifi/pull/2408#issuecomment-358526103","issue_url":"https://api.github.com/repos/apache/nifi/issues/2408","id":358526103,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODUyNjEwMw==","user":{"login":"ns7381","id":5730585,"node_id":"MDQ6VXNlcjU3MzA1ODU=","avatar_url":"https://avatars.githubusercontent.com/u/5730585?v=4","gravatar_id":"","url":"https://api.github.com/users/ns7381","html_url":"https://github.com/ns7381","followers_url":"https://api.github.com/users/ns7381/followers","following_url":"https://api.github.com/users/ns7381/following{/other_user}","gists_url":"https://api.github.com/users/ns7381/gists{/gist_id}","starred_url":"https://api.github.com/users/ns7381/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ns7381/subscriptions","organizations_url":"https://api.github.com/users/ns7381/orgs","repos_url":"https://api.github.com/users/ns7381/repos","events_url":"https://api.github.com/users/ns7381/events{/privacy}","received_events_url":"https://api.github.com/users/ns7381/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T03:24:01Z","updated_at":"2018-01-18T03:24:01Z","author_association":"NONE","body":"@mcgilman OK. If have any problem, please timely communicate","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358526103/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358544228","html_url":"https://github.com/apache/nifi/pull/2409#issuecomment-358544228","issue_url":"https://api.github.com/repos/apache/nifi/issues/2409","id":358544228,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODU0NDIyOA==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T05:44:50Z","updated_at":"2018-01-18T05:44:50Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358544228/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358630466","html_url":"https://github.com/apache/nifi/pull/2251#issuecomment-358630466","issue_url":"https://api.github.com/repos/apache/nifi/issues/2251","id":358630466,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODYzMDQ2Ng==","user":{"login":"peter-gergely-horvath","id":15800802,"node_id":"MDQ6VXNlcjE1ODAwODAy","avatar_url":"https://avatars.githubusercontent.com/u/15800802?v=4","gravatar_id":"","url":"https://api.github.com/users/peter-gergely-horvath","html_url":"https://github.com/peter-gergely-horvath","followers_url":"https://api.github.com/users/peter-gergely-horvath/followers","following_url":"https://api.github.com/users/peter-gergely-horvath/following{/other_user}","gists_url":"https://api.github.com/users/peter-gergely-horvath/gists{/gist_id}","starred_url":"https://api.github.com/users/peter-gergely-horvath/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/peter-gergely-horvath/subscriptions","organizations_url":"https://api.github.com/users/peter-gergely-horvath/orgs","repos_url":"https://api.github.com/users/peter-gergely-horvath/repos","events_url":"https://api.github.com/users/peter-gergely-horvath/events{/privacy}","received_events_url":"https://api.github.com/users/peter-gergely-horvath/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T12:20:36Z","updated_at":"2018-01-18T12:20:36Z","author_association":"CONTRIBUTOR","body":"@patricker, @joewitt Would it be possible for you to perform the merge? Based on my understanding, the changes have been approved by @alopresto.\r\n\r\nI have some additional pull requests that depend on this one: it would be awesome to have this in the code base.\r\n\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358630466/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358656670","html_url":"https://github.com/apache/nifi/pull/2402#issuecomment-358656670","issue_url":"https://api.github.com/repos/apache/nifi/issues/2402","id":358656670,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODY1NjY3MA==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T14:08:22Z","updated_at":"2018-01-18T14:08:22Z","author_association":"CONTRIBUTOR","body":"Took care of the checkstyle errors and rebased into one commit.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358656670/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358677113","html_url":"https://github.com/apache/nifi/pull/2402#issuecomment-358677113","issue_url":"https://api.github.com/repos/apache/nifi/issues/2402","id":358677113,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODY3NzExMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T15:15:07Z","updated_at":"2018-01-18T15:15:07Z","author_association":"CONTRIBUTOR","body":"Thanks @zenfenan, +1, merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358677113/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358786072","html_url":"https://github.com/apache/nifi/pull/2403#issuecomment-358786072","issue_url":"https://api.github.com/repos/apache/nifi/issues/2403","id":358786072,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODc4NjA3Mg==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-18T21:23:39Z","updated_at":"2018-01-18T21:23:39Z","author_association":"CONTRIBUTOR","body":"@joewitt i agree. I did push another commit that addresses that.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358786072/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358860755","html_url":"https://github.com/apache/nifi/pull/2410#issuecomment-358860755","issue_url":"https://api.github.com/repos/apache/nifi/issues/2410","id":358860755,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODg2MDc1NQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T04:01:48Z","updated_at":"2018-01-19T04:01:48Z","author_association":"CONTRIBUTOR","body":"@alopresto Thanks for the feedback. The PR has been updated accordingly.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358860755/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358861337","html_url":"https://github.com/apache/nifi/pull/2410#issuecomment-358861337","issue_url":"https://api.github.com/repos/apache/nifi/issues/2410","id":358861337,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODg2MTMzNw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T04:07:08Z","updated_at":"2018-01-19T04:07:08Z","author_association":"CONTRIBUTOR","body":"Thanks Matt. Looks good to me; +1. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358861337/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358971660","html_url":"https://github.com/apache/nifi/pull/2415#issuecomment-358971660","issue_url":"https://api.github.com/repos/apache/nifi/issues/2415","id":358971660,"node_id":"MDEyOklzc3VlQ29tbWVudDM1ODk3MTY2MA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T13:52:32Z","updated_at":"2018-01-19T13:52:32Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/358971660/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359007865","html_url":"https://github.com/apache/nifi/pull/2415#issuecomment-359007865","issue_url":"https://api.github.com/repos/apache/nifi/issues/2415","id":359007865,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAwNzg2NQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T16:00:13Z","updated_at":"2018-01-19T16:00:13Z","author_association":"CONTRIBUTOR","body":"Thanks @alopresto! This has been merged to master. I updated the items you pointed out.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359007865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359015940","html_url":"https://github.com/apache/nifi/pull/2416#issuecomment-359015940","issue_url":"https://api.github.com/repos/apache/nifi/issues/2416","id":359015940,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAxNTk0MA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T16:24:34Z","updated_at":"2018-01-19T16:24:34Z","author_association":"CONTRIBUTOR","body":"This implementation is not complete yet. However, creating a PR so that it can be reviewed and tested for performance to ensure that we do not cause poor performance if switching flowfile repo to this implementation.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359015940/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359016289","html_url":"https://github.com/apache/nifi/pull/2092#issuecomment-359016289","issue_url":"https://api.github.com/repos/apache/nifi/issues/2092","id":359016289,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAxNjI4OQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T16:25:51Z","updated_at":"2018-01-19T16:25:51Z","author_association":"CONTRIBUTOR","body":"Looks good, merging","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359016289/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359019120","html_url":"https://github.com/apache/nifi/pull/2416#issuecomment-359019120","issue_url":"https://api.github.com/repos/apache/nifi/issues/2416","id":359019120,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAxOTEyMA==","user":{"login":"devriesb","id":1944264,"node_id":"MDQ6VXNlcjE5NDQyNjQ=","avatar_url":"https://avatars.githubusercontent.com/u/1944264?v=4","gravatar_id":"","url":"https://api.github.com/users/devriesb","html_url":"https://github.com/devriesb","followers_url":"https://api.github.com/users/devriesb/followers","following_url":"https://api.github.com/users/devriesb/following{/other_user}","gists_url":"https://api.github.com/users/devriesb/gists{/gist_id}","starred_url":"https://api.github.com/users/devriesb/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/devriesb/subscriptions","organizations_url":"https://api.github.com/users/devriesb/orgs","repos_url":"https://api.github.com/users/devriesb/repos","events_url":"https://api.github.com/users/devriesb/events{/privacy}","received_events_url":"https://api.github.com/users/devriesb/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T16:33:52Z","updated_at":"2018-01-19T16:33:52Z","author_association":"CONTRIBUTOR","body":"while i in no way object to a new implementation, I'm not sure that is the correct solution to the bug described in NIFI-4774[1].  A new implementation would need to be tested to a degree that a tweak to the existing implementation would not, and fixing this bug in a timely fashion would seem to be a worthy goal.\r\n\r\n[1] https://issues.apache.org/jira/browse/NIFI-4774","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359019120/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359030624","html_url":"https://github.com/apache/nifi/pull/2416#issuecomment-359030624","issue_url":"https://api.github.com/repos/apache/nifi/issues/2416","id":359030624,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAzMDYyNA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T17:13:06Z","updated_at":"2018-01-19T17:13:06Z","author_association":"CONTRIBUTOR","body":"@devriesb that was the approach that I started with. However, to ensure correctness, it turned not to be a tweak to the existing implementation. Initially, my thoughts were along the lines of:\r\n\r\nMultiple Partitions\r\n- Each FlowFile must be sticky to a partition.\r\n- PartitionId = Hash<Record ID> % numPartitions.\r\n\r\nBut now consider the following scenario:\r\n\r\nMergeContent merges 2 FlowFiles (A and B) to create a new FlowFile (C).\r\nRequires updates to Partition 1, 2 for transfer to 'original'; Partition 3 for new FlowFile.\r\nIf Partitions 1 & 2 are flushed to disk but not 3, then on restart we have transferred FlowFiles\r\n   to 'original' relationship without the newly created FlowFile, so we have data loss. This is not OK.\r\n\r\nTo avoid this, we can consider that the transaction is not complete unless all partitions in the transaction agree.\r\nNow consider, though, that Partitions 1 & 2 are flushed to disk. Partition 3 is not. Then FlowFile A is updated again, this time by itself.\r\nPartition 1 is flushed to disk but not Partition 3.\r\nNow on restart, we throw out the 'merge' transaction because Partition 3 was not flushed to disk. But we carry on with the subsequent transaction\r\nfor FlowFile A, effectively missing one of the updates to the FlowFile. *same situation we are in now*.\r\n\r\nTo avoid this from happening, we have to consider that since our 'merge' transaction didn't complete (encountered EOF), then all subsequent\r\ntransactions for the FlowFiles involved in the 'merge' transaction have to be rolled back. This still leaves us with the following possibility, though:\r\n\r\n    FlowFile A and B were merged into C. A and B were transferred to original.\r\n    This transaction failed as described above because Partition 3 was not flushed to disk.\r\n    Now, FlowFile A was forked into 5 children. These 5 children were written to Partitions 4 and 5.\r\n    Partitions 1, 4, and 5 are flushed to disk, but not Partition 3.\r\n\r\n    On restart, we now see that Partition 3 was not flushed, so we discard the 'merge' transaction and\r\n    the FlowFiles are placed back on the queue for MergeContent. But now we have children of FlowFile A\r\n    running through the flow, and we will now re-merge A with other data.\r\n\r\nAdditionally, in such a case, we have the overhead of not only writing to potentially many files for a single update to the repository but also having to write to a transaction log that is a single point through which all updates must go, and this can amount to quite an expensive update. This amounts to more than tweak to the code, unfortunately.\r\n\r\nGiven the criticality this branch of the code, correctness is definitely more important than performance, but performance is still critical and we should strive to be both correct and high performance.\r\n\r\nGiven that, I started looking at an alternative, to serialize the data to byte arrays outside of any lock contention, then performing only the write of that data to a file within the contended portion of code.\r\n\r\nThe good news is that a lot of the serialization and error handling is copied & pasted from the existing implementation and then modified to fit a cleaner software design. So while it is a new implementation, there is still a large amount of reuse.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359030624/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359039347","html_url":"https://github.com/apache/nifi/pull/2418#issuecomment-359039347","issue_url":"https://api.github.com/repos/apache/nifi/issues/2418","id":359039347,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAzOTM0Nw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T17:45:57Z","updated_at":"2018-01-19T17:45:57Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359039347/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359039859","html_url":"https://github.com/apache/nifi/pull/2418#issuecomment-359039859","issue_url":"https://api.github.com/repos/apache/nifi/issues/2418","id":359039859,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTAzOTg1OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T17:48:12Z","updated_at":"2018-01-19T17:48:12Z","author_association":"CONTRIBUTOR","body":"This resolves the test failure. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359039859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359042156","html_url":"https://github.com/apache/nifi/pull/2414#issuecomment-359042156","issue_url":"https://api.github.com/repos/apache/nifi/issues/2414","id":359042156,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTA0MjE1Ng==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T17:57:03Z","updated_at":"2018-01-19T17:57:03Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359042156/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359042661","html_url":"https://github.com/apache/nifi/pull/2414#issuecomment-359042661","issue_url":"https://api.github.com/repos/apache/nifi/issues/2414","id":359042661,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTA0MjY2MQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T17:59:03Z","updated_at":"2018-01-19T17:59:03Z","author_association":"CONTRIBUTOR","body":"Thanks @sbouchex! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359042661/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359083251","html_url":"https://github.com/apache/nifi/pull/2416#issuecomment-359083251","issue_url":"https://api.github.com/repos/apache/nifi/issues/2416","id":359083251,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTA4MzI1MQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T20:41:51Z","updated_at":"2018-01-19T20:41:51Z","author_association":"CONTRIBUTOR","body":"@markap14 my observations of running a build just before this PR and with this PR is that for a bencmharking/ff repo stressing flow their is effectively no change in performance.\r\n\r\nBasic GenerateFF to UpdateAttr with 25 ms batching, 4 generation thread, 6 update thread, 6000 as queue limiter\r\n\r\nThe rate was steady at 25M/5mins or roughly 83K events/sec end to end.  WALI then was dealing with at least 170Kevents/sec.  After switching to the new implementation it leveled off slightly higher .  GC, system load, io utilization in both cases was very consistent and very similar.\r\n\r\nThe write rate to the now single partition was around 20MB/sec.  I had a 15 sec checkpoint window.\r\n\r\nThis is heading in a nice direction in terms of simplicity and closing the window over which different partition checkpoints could be susceptible to different OS flush timing.  Encouraging stuff.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359083251/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359093514","html_url":"https://github.com/apache/nifi/pull/2416#issuecomment-359093514","issue_url":"https://api.github.com/repos/apache/nifi/issues/2416","id":359093514,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTA5MzUxNA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-19T21:26:14Z","updated_at":"2018-01-19T21:26:14Z","author_association":"CONTRIBUTOR","body":"also of interest am now running both before PR and after PR codebases on otherwise identical configurations and the new one continues to have a very slight but consistent performance advantage.  Of note is that there is less GC time on the new one compared to the old one by about 50 young gen sweeps and 7 seconds of total time.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359093514/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359174487","html_url":"https://github.com/apache/nifi/pull/2413#issuecomment-359174487","issue_url":"https://api.github.com/repos/apache/nifi/issues/2413","id":359174487,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTE3NDQ4Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-20T14:14:26Z","updated_at":"2018-01-20T14:14:26Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @andrewmlim ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359174487/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359214232","html_url":"https://github.com/apache/nifi/pull/2409#issuecomment-359214232","issue_url":"https://api.github.com/repos/apache/nifi/issues/2409","id":359214232,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTIxNDIzMg==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-21T00:47:00Z","updated_at":"2018-01-21T00:47:00Z","author_association":"CONTRIBUTOR","body":"@SunSatION , thanks for submitting this PR, it looks like good stuff.\r\n\r\nMay I ask how you tested the changes?  For PutKinesisFirehose, I was able to run the integration test suite successfully, and I was able to manually build and run a simple flow sending data to Kinesis Firehose.  For PutKinesisStream, the manual flow building worked, but I get exceptions running the integration test suite (ITPutKinesisStream.testIntegrationSuccess) as it calls `putRecords()`:\r\n\r\n```\r\ncom.amazonaws.SdkClientException: Unable to marshall request to JSON: \r\ncom.fasterxml.jackson.dataformat.cbor.CBORGenerator.getOutputContext()Lcom/fasterxml/jackson/core/json/JsonWriteContext;\r\n```\r\n\r\nDid you try the integration tests, and did they work for you?  I don't believe your change introduced this issue.  A quick check of the master branch suggests it was already there, but it complicated testing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359214232/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359226057","html_url":"https://github.com/apache/nifi/pull/2405#issuecomment-359226057","issue_url":"https://api.github.com/repos/apache/nifi/issues/2405","id":359226057,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTIyNjA1Nw==","user":{"login":"adfel70","id":6029334,"node_id":"MDQ6VXNlcjYwMjkzMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/6029334?v=4","gravatar_id":"","url":"https://api.github.com/users/adfel70","html_url":"https://github.com/adfel70","followers_url":"https://api.github.com/users/adfel70/followers","following_url":"https://api.github.com/users/adfel70/following{/other_user}","gists_url":"https://api.github.com/users/adfel70/gists{/gist_id}","starred_url":"https://api.github.com/users/adfel70/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adfel70/subscriptions","organizations_url":"https://api.github.com/users/adfel70/orgs","repos_url":"https://api.github.com/users/adfel70/repos","events_url":"https://api.github.com/users/adfel70/events{/privacy}","received_events_url":"https://api.github.com/users/adfel70/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-21T05:54:39Z","updated_at":"2018-01-21T05:54:39Z","author_association":"NONE","body":"Hey could anyone else help me with this?\r\nif it is compulsory i can return the second cache","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359226057/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359284151","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-359284151","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":359284151,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTI4NDE1MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-21T21:51:07Z","updated_at":"2018-01-21T21:57:32Z","author_association":"CONTRIBUTOR","body":"@mans2singh Do you have an example of valid JSON input I can use to test this? I grabbed an example from here: https://github.com/influxdata/influxdb-python\r\n\r\nThat's the Python client. I'm using this in a GenerateFlowFile processor:\r\n\r\n```\r\n    {\r\n        \"measurement\": \"cpu_load_short\",\r\n        \"tags\": {\r\n            \"host\": \"server01\",\r\n            \"region\": \"us-west\"\r\n        },\r\n        \"time\": \"${now():toString()}\",\r\n        \"fields\": {\r\n            \"value\": 0.64\r\n        }\r\n    }\r\n```\r\n\r\nIt doesn't like that (it also doesn't like it wrapped in an array like the Python example). Throws this exception:\r\n\r\n```\r\norg.influxdb.InfluxDBException: {\"error\":\"unable to parse '{': missing fields\\nunable to parse '\\\"measurement\\\": \\\"cpu_load_short\\\",': invalid field format\\nunable to parse '\\\"tags\\\": {': invalid field format\\nunable to parse '\\\"host\\\": \\\"server01\\\",': invalid field format\\nunable to parse '\\\"region\\\": \\\"us-west\\\"': invalid field format\\nunable to parse '},': missing tag key\\nunable to parse '\\\"time\\\": \\\"Sun Jan 21 16:48:12 EST 2018\\\",': invalid field format\\nunable to parse '\\\"fields\\\": {': invalid field format\\nunable to parse '\\\"value\\\": 0.64': invalid field format\\nunable to parse '}': missing fields\\nunable to parse '}': missing fields\"}\r\n\r\n\tat org.influxdb.impl.InfluxDBImpl.execute(InfluxDBImpl.java:511)\r\n\tat org.influxdb.impl.InfluxDBImpl.write(InfluxDBImpl.java:325)\r\n\tat org.apache.nifi.processors.influxdb.PutInfluxDB.writeToInfluxDB(PutInfluxDB.java:169)\r\n\tat org.apache.nifi.processors.influxdb.PutInfluxDB.onTrigger(PutInfluxDB.java:149)\r\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1122)\r\n\tat org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:147)\r\n\tat org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:47)\r\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:128)\r\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\n```\r\n\r\nIf you can help me out with the test data, I can keep going with the review.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359284151/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359298041","html_url":"https://github.com/apache/nifi/pull/2016#issuecomment-359298041","issue_url":"https://api.github.com/repos/apache/nifi/issues/2016","id":359298041,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTI5ODA0MQ==","user":{"login":"trixpan","id":3108527,"node_id":"MDQ6VXNlcjMxMDg1Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/3108527?v=4","gravatar_id":"","url":"https://api.github.com/users/trixpan","html_url":"https://github.com/trixpan","followers_url":"https://api.github.com/users/trixpan/followers","following_url":"https://api.github.com/users/trixpan/following{/other_user}","gists_url":"https://api.github.com/users/trixpan/gists{/gist_id}","starred_url":"https://api.github.com/users/trixpan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trixpan/subscriptions","organizations_url":"https://api.github.com/users/trixpan/orgs","repos_url":"https://api.github.com/users/trixpan/repos","events_url":"https://api.github.com/users/trixpan/events{/privacy}","received_events_url":"https://api.github.com/users/trixpan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T00:55:19Z","updated_at":"2018-01-22T00:55:19Z","author_association":"CONTRIBUTOR","body":"@pvillard31 will rebase and resubmit...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359298041/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359426785","html_url":"https://github.com/apache/nifi/pull/2113#issuecomment-359426785","issue_url":"https://api.github.com/repos/apache/nifi/issues/2113","id":359426785,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTQyNjc4NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T13:43:48Z","updated_at":"2018-01-22T13:43:48Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I moved it to a new NAR and rebased against the latest master last night. So once this is committed, I'll start working on the new processors and service methods.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359426785/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359427570","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-359427570","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":359427570,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTQyNzU3MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T13:46:58Z","updated_at":"2018-01-22T13:46:58Z","author_association":"CONTRIBUTOR","body":"@nologic Log said you have 164 checkstyle violations in nifi-gcp-processors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359427570/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359441035","html_url":"https://github.com/apache/nifi/pull/2180#issuecomment-359441035","issue_url":"https://api.github.com/repos/apache/nifi/issues/2180","id":359441035,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTQ0MTAzNQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T14:36:07Z","updated_at":"2018-01-22T14:36:07Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @alopresto I think all of the changes are in now. Any chance I could get this merged?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359441035/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359443572","html_url":"https://github.com/apache/nifi/pull/2419#issuecomment-359443572","issue_url":"https://api.github.com/repos/apache/nifi/issues/2419","id":359443572,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTQ0MzU3Mg==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T14:44:36Z","updated_at":"2018-01-22T14:44:36Z","author_association":"CONTRIBUTOR","body":"Looks good, mergin","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359443572/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359508546","html_url":"https://github.com/apache/nifi/pull/2421#issuecomment-359508546","issue_url":"https://api.github.com/repos/apache/nifi/issues/2421","id":359508546,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTUwODU0Ng==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T17:53:53Z","updated_at":"2018-01-22T17:53:53Z","author_association":"CONTRIBUTOR","body":"@mcgilman was able to verify that this fixes the described behavior. +1 merged to master. Thanks for knocking that out!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359508546/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359520999","html_url":"https://github.com/apache/nifi/pull/2251#issuecomment-359520999","issue_url":"https://api.github.com/repos/apache/nifi/issues/2251","id":359520999,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTUyMDk5OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T18:35:40Z","updated_at":"2018-01-22T18:35:40Z","author_association":"CONTRIBUTOR","body":"@peter-gergely-horvath I will merge this today. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359520999/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359546911","html_url":"https://github.com/apache/nifi/pull/2251#issuecomment-359546911","issue_url":"https://api.github.com/repos/apache/nifi/issues/2251","id":359546911,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTU0NjkxMQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T20:01:13Z","updated_at":"2018-01-22T20:01:13Z","author_association":"CONTRIBUTOR","body":"Ran `contrib-check` and all tests pass. Fired up an instance of the application and it performed normally. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359546911/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359556643","html_url":"https://github.com/apache/nifi/pull/2423#issuecomment-359556643","issue_url":"https://api.github.com/repos/apache/nifi/issues/2423","id":359556643,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTU1NjY0Mw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T20:37:12Z","updated_at":"2018-01-22T20:37:12Z","author_association":"CONTRIBUTOR","body":"Looks good, will merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359556643/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359566253","html_url":"https://github.com/apache/nifi/pull/2408#issuecomment-359566253","issue_url":"https://api.github.com/repos/apache/nifi/issues/2408","id":359566253,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTU2NjI1Mw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T21:12:12Z","updated_at":"2018-01-22T21:12:48Z","author_association":"CONTRIBUTOR","body":"@ns7381 I've started reviewing the PR. This is a great addition. Thank you for taking the time to post it. Before we merge it in, I have a couple requests.\r\n\r\n- The changes appear to cause the icons in the toolbar at the top to become disable with a vanilla unsecured instance. I haven't been able to continue verifying functionality as I'm blocked on this issue.\r\n\r\n- The client-side code is structured in a modular format. Each module has any dependent modules passed into it. Rather than directly referencing nf._ on the global scope throughout the code base, can you please pass in a reference to nf._ in each module that references it? See the top of any nf-[module-name].js for an example.\r\n\r\n- The Messages-[county-code].properties are under src/main/java. Can these be moved to src/main/resources?\r\n\r\n- Some of the keys in resources.js have generic names like Message11. Can we use meaningful names throughout?\r\n\r\n- I think we may need to introduce some defensive programming in some cases now that the values which were previously string literals have been abstracted and accessed via a lookup. Since there is no intention to support markup in the values, we should not pass them into functions that support interpreting markup. Instead that should only be set via `.text(...)` or escaped prior to passing in to `.html(...)`, `.append(...)`, etc. You should see other instances of this throughout the codebase, but I am happy to help identify specific cases as the review progresses.\r\n\r\n- What strategies are available for applying localization to messages returned from the server? Should a follow-on JIRA be filed to help in this area?\r\n\r\nThanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359566253/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359594400","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-359594400","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":359594400,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTU5NDQwMA==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T22:36:39Z","updated_at":"2018-01-23T20:28:01Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen - \r\n\r\nThanks for your review comments.\r\n\r\nI've updated the version and rebased the code.  \r\n\r\nRegarding the error - InfluxDB uses line protocol for writing data (I've mentioned that in the capabilities section of the processor) - (https://docs.influxdata.com/influxdb/v1.4/write_protocols/line_protocol_tutorial/). \r\n\r\nI have integration/unit test that use the line protocol for good and bad measurement format scenarios:\r\n\r\n- [integration tests](https://github.com/apache/nifi/pull/2101/files#diff-6aa4a2accea7ae7b489e2a219fb777f2)\r\n- [unit tests](https://github.com/apache/nifi/pull/2101/files#diff-9f4273a51b147a9e22085ef842726664)\r\n\r\nIf you are using the flow file generator with the line protocol - the timestamp (last field) is a number - so please use `${now():toNumber()}` rather than `${now():toString()}` as shown in the sample measurement below:\r\n\r\n`water,country=US,city=sf rain=1,humidity=0.6 ${now():toNumber()}`\r\n\r\nPlease let me know of you have any additional comments/recommendations or if there is anything else required.\r\n\r\nThanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359594400/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359608175","html_url":"https://github.com/apache/nifi/pull/2028#issuecomment-359608175","issue_url":"https://api.github.com/repos/apache/nifi/issues/2028","id":359608175,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTYwODE3NQ==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-22T23:21:31Z","updated_at":"2018-01-22T23:21:31Z","author_association":"NONE","body":"@joewitt, did you get a chance to review the latest commit?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359608175/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359782051","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-359782051","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":359782051,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTc4MjA1MQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-23T12:55:54Z","updated_at":"2018-01-23T12:55:54Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen sorry may you please address the last comment? And add the charset parameter? Thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359782051/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359795610","html_url":"https://github.com/apache/nifi/pull/2424#issuecomment-359795610","issue_url":"https://api.github.com/repos/apache/nifi/issues/2424","id":359795610,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTc5NTYxMA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-23T13:48:13Z","updated_at":"2018-01-23T13:48:13Z","author_association":"CONTRIBUTOR","body":"Code LGTM @ijokarumawak. I'm a +1 on this PR but will wait a bit in case @mattyb149 or someone else wants to double check.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359795610/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359802216","html_url":"https://github.com/apache/nifi/pull/2422#issuecomment-359802216","issue_url":"https://api.github.com/repos/apache/nifi/issues/2422","id":359802216,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTgwMjIxNg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-23T14:11:58Z","updated_at":"2018-01-23T14:11:58Z","author_association":"CONTRIBUTOR","body":"+1, merging to master. Build failed on travis because it took too long but local build with contrib check is OK.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359802216/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359834385","html_url":"https://github.com/apache/nifi/pull/2428#issuecomment-359834385","issue_url":"https://api.github.com/repos/apache/nifi/issues/2428","id":359834385,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTgzNDM4NQ==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-23T15:52:35Z","updated_at":"2018-01-23T15:52:35Z","author_association":"CONTRIBUTOR","body":"The following command produces [this new output](https://github.com/apache/nifi/files/1656609/swagger.json.txt) as part of the build:\r\n\r\n    mvn -T 2C clean install -Pcontrib-check -pl :nifi-web-api\r\n\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359834385/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359882534","html_url":"https://github.com/apache/nifi/pull/2424#issuecomment-359882534","issue_url":"https://api.github.com/repos/apache/nifi/issues/2424","id":359882534,"node_id":"MDEyOklzc3VlQ29tbWVudDM1OTg4MjUzNA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-23T18:20:46Z","updated_at":"2018-01-23T18:20:46Z","author_association":"CONTRIBUTOR","body":"Another approach, rather than \"unwrapping\" column names that are specified with dialect-specific characters in the properties, is to have them specified without the characters in the property, and the generated SQL would \"wrap\" them with the characters. This is the way I've seen it done before, by adding \"getStartQuote\" and \"getEndQuote\" methods to the DatabaseAdapter (possibly one set for table/DB names and one for column names in case they are specified differently in the dialect, I think at least one DB has different quotes for tables vs columns but I can't think of which one offhand). With the \"wrap\" approach, there are two downsides:\r\n\r\n1) Users will have to change their properties to remove the special characters. However if this bug is saying that the special-character approach already doesn't work, then perhaps this is a non-issue.\r\n2) We won't support column names that have commas in them. Again, we don't currently support this unless it happens to work with the special characters.\r\n\r\nThe upside is that the property values would be more \"natural\", just a comma-separated list of column names (possibly with spaces or other values in them), and we don't have to rely on a regex to \"unwrap\" them, rather we would only \"wrap\" them internally when needed for the generated SQL.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/359882534/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360036566","html_url":"https://github.com/apache/nifi/pull/2409#issuecomment-360036566","issue_url":"https://api.github.com/repos/apache/nifi/issues/2409","id":360036566,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDAzNjU2Ng==","user":{"login":"SunSatION","id":3832557,"node_id":"MDQ6VXNlcjM4MzI1NTc=","avatar_url":"https://avatars.githubusercontent.com/u/3832557?v=4","gravatar_id":"","url":"https://api.github.com/users/SunSatION","html_url":"https://github.com/SunSatION","followers_url":"https://api.github.com/users/SunSatION/followers","following_url":"https://api.github.com/users/SunSatION/following{/other_user}","gists_url":"https://api.github.com/users/SunSatION/gists{/gist_id}","starred_url":"https://api.github.com/users/SunSatION/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SunSatION/subscriptions","organizations_url":"https://api.github.com/users/SunSatION/orgs","repos_url":"https://api.github.com/users/SunSatION/repos","events_url":"https://api.github.com/users/SunSatION/events{/privacy}","received_events_url":"https://api.github.com/users/SunSatION/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T06:45:56Z","updated_at":"2018-01-24T06:45:56Z","author_association":"NONE","body":"Hi @jvwing \r\n\r\nThanks for the PR review. I've amended some changes to follow NIFI's `if`s convention. \r\n\r\nI'll try having a look at the integration tests in the evening. I've performed the manual tests as you did and used `mvn -Pcontrib-check clean install` in the nifi-aws-bundle folder where now I've realised that it didn't perform the integration testing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360036566/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360102333","html_url":"https://github.com/apache/nifi/pull/2424#issuecomment-360102333","issue_url":"https://api.github.com/repos/apache/nifi/issues/2424","id":360102333,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEwMjMzMw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T11:28:40Z","updated_at":"2018-01-24T11:28:40Z","author_association":"MEMBER","body":"@mattyb149 Thanks for your suggestion. I considered that path, too. But I did it this way as it seems simpler to the objective to address the issue. However, I think your comment is a good point. And I prefer having wrap method in DatabaseAdapters instead of unwrap.\r\n\r\nLet's discuss a bit more. I noticed that table and column names are spilled into few places. I think we should define how we want those to be set.\r\n\r\n- Processor properties:\r\n    - Columns to Return\r\n    - Maximum Value Columns\r\n    - Additional WHERE clause\r\n    - Custom SQL (to be added by #2162)\r\n    - Additional WHERE clause and Custom SQL might be challenging to wrap problematic identifies by Processor automatically.\r\n- Processor State: Stored with a key in `{tableName}!@!{columnName}` format. Do we want to keep database specific characters here?\r\n- Output FlowFile Attributes:\r\n    - max.{columnName} = {maxValue}\r\n    - tableName = {tableName]\r\n    - Do we want to keep database specific characters here?\r\n\r\nEven if we change DatabaseAdapter method from unwrap to wrap, it's still possible to use wrap character to unwrap. But we need to make a consensus on how above listed variables are written.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360102333/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360105929","html_url":"https://github.com/apache/nifi/pull/2426#issuecomment-360105929","issue_url":"https://api.github.com/repos/apache/nifi/issues/2426","id":360105929,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEwNTkyOQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T11:44:57Z","updated_at":"2018-01-24T11:44:57Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak thanks, added the EL support.\r\nI am not sure why Appveyor is failing. The failure seems not related to the PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360105929/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360106346","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-360106346","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":360106346,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEwNjM0Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T11:46:54Z","updated_at":"2018-01-24T11:46:54Z","author_association":"CONTRIBUTOR","body":"@mgaido91 I added the charset. I can't believe I missed that...\r\n\r\nWRT the batching, I stand by my opinion that we need to have a sane default there because there needs to be a way to ensure someone doesn't accidentally (or on purpose) send an operation that is too big to HBase at once.\r\n\r\nTo me this is not a theoretical issue because I ran into something like this with PutHBaseRecord doing genomic data ingestion w/ NiFi. The data set would generate easily 10B, if not 20-25B tiny (like few dozen byte) writes. I had to really scale back the size of each record set I was sending to PutHBaseRecord because it was easily to generate so many Puts that it would hammer a region offline unexpectedly.\r\n\r\nI'm not a HBase expert by any means, but it seems like a recipe for trouble based on my experience with putting a lot of small writes (and Delete objects are tiny writes).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360106346/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360108240","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-360108240","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":360108240,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEwODI0MA==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T11:55:38Z","updated_at":"2018-01-24T11:55:38Z","author_association":"CONTRIBUTOR","body":"thanks @MikeThomsen. Actually I was referring at [this comment](https://github.com/apache/nifi/pull/2294#discussion_r160140592). I think that is my last comment. Overall it LGTM.\r\n\r\nOn the batch size, I think that the committers who will have to review this before merging can express their opinion. Your opinion makes sense, but it involves a consistency issue: we need a tradeoff and I think only committers can decide what to do.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360108240/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360114661","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-360114661","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":360114661,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDExNDY2MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T12:25:03Z","updated_at":"2018-01-24T12:25:03Z","author_association":"CONTRIBUTOR","body":"@mgaido91 That loop, incidentally, is being eliminated now because I decided to follow the same practice that was used in PutHBaseRecord where on failure it adds \"restart.index\" which is roughly where in the loop it failed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360114661/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360128373","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-360128373","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":360128373,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEyODM3Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T13:14:18Z","updated_at":"2018-01-24T13:14:18Z","author_association":"CONTRIBUTOR","body":"That restart.index change is in place. I put a unit test in there that tests it out and it works just fine.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360128373/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360129521","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-360129521","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":360129521,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDEyOTUyMQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T13:17:28Z","updated_at":"2018-01-24T13:17:28Z","author_association":"CONTRIBUTOR","body":"LGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360129521/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360168573","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360168573","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360168573,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDE2ODU3Mw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T15:21:15Z","updated_at":"2018-01-24T15:21:15Z","author_association":"CONTRIBUTOR","body":"I'll need to update this PR if #2430 is merged first.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360168573/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360168671","html_url":"https://github.com/apache/nifi/pull/2430#issuecomment-360168671","issue_url":"https://api.github.com/repos/apache/nifi/issues/2430","id":360168671,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDE2ODY3MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T15:21:34Z","updated_at":"2018-01-24T15:21:34Z","author_association":"CONTRIBUTOR","body":"I'll need to update this PR if #2431 is merged first.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360168671/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360198973","html_url":"https://github.com/apache/nifi/pull/2426#issuecomment-360198973","issue_url":"https://api.github.com/repos/apache/nifi/issues/2426","id":360198973,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDE5ODk3Mw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-24T16:51:52Z","updated_at":"2018-01-24T16:51:52Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @mgaido91 @ijokarumawak ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360198973/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360448265","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-360448265","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":360448265,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDQ0ODI2NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T12:07:28Z","updated_at":"2018-01-25T12:07:28Z","author_association":"CONTRIBUTOR","body":"I'm going to try to get some time today and tomorrow to go through the code itself, but I was able to build a flow that uses the line protocol as described, and it successfully inserted multiple entries into InfluxDB. So... so far, so good.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360448265/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360485368","html_url":"https://github.com/apache/nifi/pull/2428#issuecomment-360485368","issue_url":"https://api.github.com/repos/apache/nifi/issues/2428","id":360485368,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDQ4NTM2OA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T14:39:44Z","updated_at":"2018-01-25T14:39:44Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360485368/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360492731","html_url":"https://github.com/apache/nifi/pull/2428#issuecomment-360492731","issue_url":"https://api.github.com/repos/apache/nifi/issues/2428","id":360492731,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDQ5MjczMQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T15:04:43Z","updated_at":"2018-01-25T15:04:43Z","author_association":"CONTRIBUTOR","body":"Thanks @kevdoran! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360492731/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360497120","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-360497120","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":360497120,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDQ5NzEyMA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T15:18:24Z","updated_at":"2018-01-25T15:18:24Z","author_association":"CONTRIBUTOR","body":"@yuri1969 There appears to be a merge conflict with this branch and the current state of master. I'll be unavailable for a couple days but should have some time to devote to this review later next week.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360497120/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360504619","html_url":"https://github.com/apache/nifi/pull/2430#issuecomment-360504619","issue_url":"https://api.github.com/repos/apache/nifi/issues/2430","id":360504619,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDUwNDYxOQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T15:40:54Z","updated_at":"2018-01-25T15:40:54Z","author_association":"CONTRIBUTOR","body":"Reusing the Ambari format certainly makes this one easier to implement, and as you said the user can convert later with a record processor, but I'm thinking it might be best to be able to specify the RecordWriter in the reporting task. That way the conversion, filtering, etc. can be done while the records are already in object format (i.e. parsed), which would save the step of re-parsing and re-writing. Using a JsonRecordSetWriter with \"Inherit Record Schema\" would result in the same behavior as you propose here, or you could provide a different format and/or filter out the fields, etc. by using a configured RecordSetWriter.\r\n\r\n@markap14 suggested to encode the \"input\" schema as a file in src/main/resources and read it in when the class/instance is created, using the available util method to convert it to a RecordSchema. To be honest I would like to have the S2S Provenance reporting task do this as well, but that's a bit more invasive since it already exists. Since the one in this PR is new, would be nice to have it be the exemplar for creating reporting services in the future. What do you think?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360504619/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360507314","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360507314","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360507314,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDUwNzMxNA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T15:48:55Z","updated_at":"2018-01-25T15:48:55Z","author_association":"CONTRIBUTOR","body":"Should we add the ID as well? The name may not be unique, which although that can be used strategically to \"group\" things with RouteOnAttribute, it's not exactly \"distinct\". The onus could be on the user to uniquely name their reporting tasks, but if they had access to both attributes, they could do different levels of grouping, filtering, etc.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360507314/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360526984","html_url":"https://github.com/apache/nifi/pull/2430#issuecomment-360526984","issue_url":"https://api.github.com/repos/apache/nifi/issues/2430","id":360526984,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDUyNjk4NA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T16:48:57Z","updated_at":"2018-01-25T16:48:57Z","author_association":"CONTRIBUTOR","body":"That's a great idea! I'll have a look.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360526984/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360527455","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360527455","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360527455,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDUyNzQ1NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T16:50:21Z","updated_at":"2018-01-25T16:50:21Z","author_association":"CONTRIBUTOR","body":"Yes you're right, I'll add the UUID as well!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360527455/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360553517","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360553517","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360553517,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDU1MzUxNw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T18:18:27Z","updated_at":"2018-01-25T18:18:27Z","author_association":"CONTRIBUTOR","body":"Also, not required but it might be a good idea to add the type as well. Either way, let me know and I'll merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360553517/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360568155","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360568155","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360568155,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDU2ODE1NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T19:09:15Z","updated_at":"2018-01-25T19:09:15Z","author_association":"CONTRIBUTOR","body":"Yep, there could be some situations where it would be useful. Added! Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360568155/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360573581","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-360573581","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":360573581,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDU3MzU4MQ==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T19:28:18Z","updated_at":"2018-01-25T19:28:18Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen - Thanks for your feedback.  Please let me know if I can assist in anyway.  Mans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360573581/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360594442","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360594442","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360594442,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDU5NDQ0Mg==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T20:43:41Z","updated_at":"2018-01-25T20:43:41Z","author_association":"CONTRIBUTOR","body":"Ugh, bad news. The Reporting Task name, although available in the UI, is only set on the ReportingTask itself during initialize(), which is only called the first time the ReportingTask is instantiated. This means if you change the name of the ReportingTask and restart it, it is the original name that is reported in your name attribute above. However if you restart NiFi it will pick up the new name.  That's not your fault, it's a bug; but I wonder if we should bring this in before or after any fix for that part?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360594442/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360595386","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360595386","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360595386,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDU5NTM4Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T20:47:10Z","updated_at":"2018-01-25T20:47:10Z","author_association":"CONTRIBUTOR","body":"Good catch, I didn't try that. Probably best to fix the issue before, otherwise it could be confusing if users change the reporting task name after they created it. Do you want to raise a JIRA or should I do it?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360595386/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360606983","html_url":"https://github.com/apache/nifi/pull/2431#issuecomment-360606983","issue_url":"https://api.github.com/repos/apache/nifi/issues/2431","id":360606983,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDYwNjk4Mw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T21:31:06Z","updated_at":"2018-01-25T21:31:06Z","author_association":"CONTRIBUTOR","body":"I've written [NIFI-4816](https://issues.apache.org/jira/browse/NIFI-4816) to cover the name issue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360606983/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360614402","html_url":"https://github.com/apache/nifi/pull/2409#issuecomment-360614402","issue_url":"https://api.github.com/repos/apache/nifi/issues/2409","id":360614402,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDYxNDQwMg==","user":{"login":"SunSatION","id":3832557,"node_id":"MDQ6VXNlcjM4MzI1NTc=","avatar_url":"https://avatars.githubusercontent.com/u/3832557?v=4","gravatar_id":"","url":"https://api.github.com/users/SunSatION","html_url":"https://github.com/SunSatION","followers_url":"https://api.github.com/users/SunSatION/followers","following_url":"https://api.github.com/users/SunSatION/following{/other_user}","gists_url":"https://api.github.com/users/SunSatION/gists{/gist_id}","starred_url":"https://api.github.com/users/SunSatION/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SunSatION/subscriptions","organizations_url":"https://api.github.com/users/SunSatION/orgs","repos_url":"https://api.github.com/users/SunSatION/repos","events_url":"https://api.github.com/users/SunSatION/events{/privacy}","received_events_url":"https://api.github.com/users/SunSatION/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T21:58:53Z","updated_at":"2018-01-25T21:58:53Z","author_association":"NONE","body":"Hi @jvwing \r\n\r\nThe problem is caused by an unsupported version of Jackson databind defined in the parent NIFI POM (2.9.3) file compared to the used by AWS Java SDK (2.6.6)\r\n\r\nI've included the old version with scope set to `test` in the `nifi-aws-bundle` POM file, however I'm not sure whether this is the right approach. Any suggestions?\r\n\r\nThe tests were executed successfully. \r\n\r\n[Test Results - ITPutKinesisStream.log](https://github.com/apache/nifi/files/1665817/Test.Results.-.ITPutKinesisStream.log)\r\n\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360614402/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360620178","html_url":"https://github.com/apache/nifi/pull/2365#issuecomment-360620178","issue_url":"https://api.github.com/repos/apache/nifi/issues/2365","id":360620178,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDYyMDE3OA==","user":{"login":"ravipapisetti","id":16073165,"node_id":"MDQ6VXNlcjE2MDczMTY1","avatar_url":"https://avatars.githubusercontent.com/u/16073165?v=4","gravatar_id":"","url":"https://api.github.com/users/ravipapisetti","html_url":"https://github.com/ravipapisetti","followers_url":"https://api.github.com/users/ravipapisetti/followers","following_url":"https://api.github.com/users/ravipapisetti/following{/other_user}","gists_url":"https://api.github.com/users/ravipapisetti/gists{/gist_id}","starred_url":"https://api.github.com/users/ravipapisetti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ravipapisetti/subscriptions","organizations_url":"https://api.github.com/users/ravipapisetti/orgs","repos_url":"https://api.github.com/users/ravipapisetti/repos","events_url":"https://api.github.com/users/ravipapisetti/events{/privacy}","received_events_url":"https://api.github.com/users/ravipapisetti/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T22:21:25Z","updated_at":"2018-01-25T22:21:25Z","author_association":"NONE","body":"Hi, We are hitting the same issue with NiFi 1.3. Any workaround how this could be solved. Interesting to know this happens only in one of the node in the cluster, even though all nodes are identical. Appreciate any help.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360620178/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360621280","html_url":"https://github.com/apache/nifi/pull/2365#issuecomment-360621280","issue_url":"https://api.github.com/repos/apache/nifi/issues/2365","id":360621280,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDYyMTI4MA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-25T22:25:36Z","updated_at":"2018-01-25T22:25:36Z","author_association":"CONTRIBUTOR","body":"@ravipapisetti it has been resolved and is in the nifi 1.5.0 release.  You'll need to upgrade to that version. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360621280/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360899767","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-360899767","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":360899767,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDg5OTc2Nw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-26T20:46:14Z","updated_at":"2018-01-26T20:46:14Z","author_association":"CONTRIBUTOR","body":"Everything I insert gets defaulted to some time around the epoch. I tried your sample, but it doesn't seem to work for me at least (data gets written, but it doesn't have the appropriate timestamp):\r\n\r\n```\r\nwater,country=US,city=sf rain=1,humidity=0.6 ${now():toNumber()}\r\n```\r\n\r\nEx output:\r\n\r\n```\r\nwater,country=US,city=sf rain=1,humidity=0.6 1516999446718\r\n```\r\n\r\nUsing this query in Chronograf, I get the following results:\r\n\r\n```\r\nSELECT * FROM \"test_data\".\"autogen\".\"water\"\r\n```\r\n\r\n<img width=\"1032\" alt=\"screen shot 2018-01-26 at 3 40 27 pm\" src=\"https://user-images.githubusercontent.com/108184/35459708-4ccb9ba6-02af-11e8-852f-7aeabd1806dc.png\">\r\n\r\nSo overall LGTM on code quality, but we need to figure out if this is just something wrong on my end or with the processor before someone merges it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360899767/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360933088","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-360933088","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":360933088,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDkzMzA4OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-26T23:25:59Z","updated_at":"2018-01-26T23:25:59Z","author_association":"CONTRIBUTOR","body":"@mans2singh Figured out the issue, it's a time conversion. I added ```:multiply(1000000)``` to the EL and it worked. InfluxDB uses nanoseconds; I was supplying milliseconds.\r\n\r\n@joewitt FWIW +1 LGTM on merging.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360933088/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]