data/github-comments/apache-NiFi-170-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085605871","html_url":"https://github.com/apache/nifi/pull/5895#issuecomment-1085605871","issue_url":"https://api.github.com/repos/apache/nifi/issues/5895","id":1085605871,"node_id":"IC_kwDOAanjsM5AtQfv","user":{"login":"simonbence","id":61191107,"node_id":"MDQ6VXNlcjYxMTkxMTA3","avatar_url":"https://avatars.githubusercontent.com/u/61191107?v=4","gravatar_id":"","url":"https://api.github.com/users/simonbence","html_url":"https://github.com/simonbence","followers_url":"https://api.github.com/users/simonbence/followers","following_url":"https://api.github.com/users/simonbence/following{/other_user}","gists_url":"https://api.github.com/users/simonbence/gists{/gist_id}","starred_url":"https://api.github.com/users/simonbence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simonbence/subscriptions","organizations_url":"https://api.github.com/users/simonbence/orgs","repos_url":"https://api.github.com/users/simonbence/repos","events_url":"https://api.github.com/users/simonbence/events{/privacy}","received_events_url":"https://api.github.com/users/simonbence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T08:33:12Z","updated_at":"2022-04-01T08:33:12Z","author_association":"CONTRIBUTOR","body":"I tried it and checked the good. Removing only a couple of lines looks kind of suspicious but I found that it works good. LGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085605871/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085761148","html_url":"https://github.com/apache/nifi/pull/5918#issuecomment-1085761148","issue_url":"https://api.github.com/repos/apache/nifi/issues/5918","id":1085761148,"node_id":"IC_kwDOAanjsM5At2Z8","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T11:01:32Z","updated_at":"2022-04-01T11:01:32Z","author_association":"CONTRIBUTOR","body":"for:\r\n\r\n1.  I think that should be mentioned in the property documentation explicitly\r\n2.  I think that it is fine to do this as a follow on\r\n3.  Maybe we can log the matching pattern or something to start?  At some debug level","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085761148/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085761980","html_url":"https://github.com/apache/nifi/pull/5918#issuecomment-1085761980","issue_url":"https://api.github.com/repos/apache/nifi/issues/5918","id":1085761980,"node_id":"IC_kwDOAanjsM5At2m8","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T11:02:25Z","updated_at":"2022-04-01T11:02:25Z","author_association":"CONTRIBUTOR","body":"Also, should it be an error if any of the grok patterns do not produce something matching the schema during validation?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085761980/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085929525","html_url":"https://github.com/apache/nifi/pull/5918#issuecomment-1085929525","issue_url":"https://api.github.com/repos/apache/nifi/issues/5918","id":1085929525,"node_id":"IC_kwDOAanjsM5Aufg1","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T13:54:14Z","updated_at":"2022-04-01T13:54:14Z","author_association":"CONTRIBUTOR","body":"Thanks for the reply! The current documentation for the `STRING_FIELDS_FROM_GROK_EXPRESSION` strategy notes that the fields will be derived from the Grok Expression, so I will update it to mention that this includes fields from all configured expressions.\r\n\r\nAs far as the matching pattern, logging the match could be verbose given the potential volume of information processed. Although this might make sense at the trace level, it could still result in hundreds or thousands of log per FlowFile. It seems better to avoid logging for now, and consider a separate task to optionally include the matching pattern index on the record.\r\n\r\nGiven the different schema strategies and the ability to configure different behavior when there are no matching expressions, it does not seem like it should be an error if the patterns do not produce something matching the schema.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085929525/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085985509","html_url":"https://github.com/apache/nifi/pull/5918#issuecomment-1085985509","issue_url":"https://api.github.com/repos/apache/nifi/issues/5918","id":1085985509,"node_id":"IC_kwDOAanjsM5AutLl","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T14:40:28Z","updated_at":"2022-04-01T14:40:28Z","author_association":"CONTRIBUTOR","body":"I updated the schema strategy @ottobackwards, please let me know if you have any additional feedback.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1085985509/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086037641","html_url":"https://github.com/apache/nifi/pull/5923#issuecomment-1086037641","issue_url":"https://api.github.com/repos/apache/nifi/issues/5923","id":1086037641,"node_id":"IC_kwDOAanjsM5Au56J","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T15:25:45Z","updated_at":"2022-04-01T15:25:45Z","author_association":"CONTRIBUTOR","body":"I will review/test","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086037641/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086094322","html_url":"https://github.com/apache/nifi/pull/5923#issuecomment-1086094322","issue_url":"https://api.github.com/repos/apache/nifi/issues/5923","id":1086094322,"node_id":"IC_kwDOAanjsM5AvHvy","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T16:06:23Z","updated_at":"2022-04-01T16:06:23Z","author_association":"CONTRIBUTOR","body":"Tested this out with a secure 3 node cluster and a secure external ZK. Looks good to me, will merge!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086094322/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086195494","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1086195494","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1086195494,"node_id":"IC_kwDOAanjsM5Avgcm","user":{"login":"patalwell","id":14829023,"node_id":"MDQ6VXNlcjE0ODI5MDIz","avatar_url":"https://avatars.githubusercontent.com/u/14829023?v=4","gravatar_id":"","url":"https://api.github.com/users/patalwell","html_url":"https://github.com/patalwell","followers_url":"https://api.github.com/users/patalwell/followers","following_url":"https://api.github.com/users/patalwell/following{/other_user}","gists_url":"https://api.github.com/users/patalwell/gists{/gist_id}","starred_url":"https://api.github.com/users/patalwell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patalwell/subscriptions","organizations_url":"https://api.github.com/users/patalwell/orgs","repos_url":"https://api.github.com/users/patalwell/repos","events_url":"https://api.github.com/users/patalwell/events{/privacy}","received_events_url":"https://api.github.com/users/patalwell/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T18:10:42Z","updated_at":"2022-04-01T18:10:42Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen wonder why the MAC JDK8 is ok on some runs and others it fails. Do we just rerun in this case? Maybe I should pull changes from main into my commit?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086195494/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086198079","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1086198079","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1086198079,"node_id":"IC_kwDOAanjsM5AvhE_","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T18:14:00Z","updated_at":"2022-04-01T18:14:00Z","author_association":"CONTRIBUTOR","body":"> @MikeThomsen wonder why the MAC JDK8 is ok on some runs and others it fails. Do we just rerun in this case? Maybe I should pull changes from main into my commit?\r\n\r\nI have seen some intermittent failures related to that particular test method, but the most recent commits in main should resolve those issues. For now, I restarted the macOS build.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086198079/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086280411","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1086280411","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1086280411,"node_id":"IC_kwDOAanjsM5Av1Lb","user":{"login":"patalwell","id":14829023,"node_id":"MDQ6VXNlcjE0ODI5MDIz","avatar_url":"https://avatars.githubusercontent.com/u/14829023?v=4","gravatar_id":"","url":"https://api.github.com/users/patalwell","html_url":"https://github.com/patalwell","followers_url":"https://api.github.com/users/patalwell/followers","following_url":"https://api.github.com/users/patalwell/following{/other_user}","gists_url":"https://api.github.com/users/patalwell/gists{/gist_id}","starred_url":"https://api.github.com/users/patalwell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patalwell/subscriptions","organizations_url":"https://api.github.com/users/patalwell/orgs","repos_url":"https://api.github.com/users/patalwell/repos","events_url":"https://api.github.com/users/patalwell/events{/privacy}","received_events_url":"https://api.github.com/users/patalwell/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T20:06:52Z","updated_at":"2022-04-01T20:06:52Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen I probably just screwed this all up, but rebased from master. Sigh, may have to revert.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086280411/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086325414","html_url":"https://github.com/apache/nifi/pull/5895#issuecomment-1086325414","issue_url":"https://api.github.com/repos/apache/nifi/issues/5895","id":1086325414,"node_id":"IC_kwDOAanjsM5AwAKm","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-01T21:07:44Z","updated_at":"2022-04-01T21:07:44Z","author_association":"CONTRIBUTOR","body":"Thank you @simonbence for reviewing it!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086325414/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086623865","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1086623865","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1086623865,"node_id":"IC_kwDOAanjsM5AxJB5","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-02T11:55:06Z","updated_at":"2022-04-02T11:55:06Z","author_association":"CONTRIBUTOR","body":"Thank you @simonbence for reviewing this PR. While working on another XMLReader-related improvement, I found a better solution to this problem than my previous solution. I force-pushed my modifications to this branch. I managed to eliminate the hidden dependency between XMLRecordSource and XMLRecordReader by not using the hard-coded \"value\" field.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086623865/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086687253","html_url":"https://github.com/apache/nifi/pull/5918#issuecomment-1086687253","issue_url":"https://api.github.com/repos/apache/nifi/issues/5918","id":1086687253,"node_id":"IC_kwDOAanjsM5AxYgV","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-02T17:39:21Z","updated_at":"2022-04-02T17:39:21Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory if you could spare some time to look at https://issues.apache.org/jira/browse/NIFI-9863 and maybe suggest any ideas or corrects, that would be super cool","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086687253/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086762510","html_url":"https://github.com/apache/nifi/pull/5845#issuecomment-1086762510","issue_url":"https://api.github.com/repos/apache/nifi/issues/5845","id":1086762510,"node_id":"IC_kwDOAanjsM5Axq4O","user":{"login":"MarcyGO","id":76516091,"node_id":"MDQ6VXNlcjc2NTE2MDkx","avatar_url":"https://avatars.githubusercontent.com/u/76516091?v=4","gravatar_id":"","url":"https://api.github.com/users/MarcyGO","html_url":"https://github.com/MarcyGO","followers_url":"https://api.github.com/users/MarcyGO/followers","following_url":"https://api.github.com/users/MarcyGO/following{/other_user}","gists_url":"https://api.github.com/users/MarcyGO/gists{/gist_id}","starred_url":"https://api.github.com/users/MarcyGO/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MarcyGO/subscriptions","organizations_url":"https://api.github.com/users/MarcyGO/orgs","repos_url":"https://api.github.com/users/MarcyGO/repos","events_url":"https://api.github.com/users/MarcyGO/events{/privacy}","received_events_url":"https://api.github.com/users/MarcyGO/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-03T02:24:32Z","updated_at":"2022-04-03T02:24:32Z","author_association":"NONE","body":"I've edited the PR description.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1086762510/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087177114","html_url":"https://github.com/apache/nifi/pull/4528#issuecomment-1087177114","issue_url":"https://api.github.com/repos/apache/nifi/issues/4528","id":1087177114,"node_id":"IC_kwDOAanjsM5AzQGa","user":{"login":"vi-russovich","id":55669135,"node_id":"MDQ6VXNlcjU1NjY5MTM1","avatar_url":"https://avatars.githubusercontent.com/u/55669135?v=4","gravatar_id":"","url":"https://api.github.com/users/vi-russovich","html_url":"https://github.com/vi-russovich","followers_url":"https://api.github.com/users/vi-russovich/followers","following_url":"https://api.github.com/users/vi-russovich/following{/other_user}","gists_url":"https://api.github.com/users/vi-russovich/gists{/gist_id}","starred_url":"https://api.github.com/users/vi-russovich/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vi-russovich/subscriptions","organizations_url":"https://api.github.com/users/vi-russovich/orgs","repos_url":"https://api.github.com/users/vi-russovich/repos","events_url":"https://api.github.com/users/vi-russovich/events{/privacy}","received_events_url":"https://api.github.com/users/vi-russovich/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T06:46:20Z","updated_at":"2022-04-04T06:46:20Z","author_association":"NONE","body":" Hello! Should we expect this improvement in the next update?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087177114/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087199742","html_url":"https://github.com/apache/nifi/pull/5303#issuecomment-1087199742","issue_url":"https://api.github.com/repos/apache/nifi/issues/5303","id":1087199742,"node_id":"IC_kwDOAanjsM5AzVn-","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T07:15:47Z","updated_at":"2022-04-04T07:15:47Z","author_association":"CONTRIBUTOR","body":"@jfrazee @turcsanyip - what do you think about the current state of this pull request?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087199742/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087430191","html_url":"https://github.com/apache/nifi/pull/5916#issuecomment-1087430191","issue_url":"https://api.github.com/repos/apache/nifi/issues/5916","id":1087430191,"node_id":"IC_kwDOAanjsM5A0N4v","user":{"login":"timeabarna","id":38653567,"node_id":"MDQ6VXNlcjM4NjUzNTY3","avatar_url":"https://avatars.githubusercontent.com/u/38653567?v=4","gravatar_id":"","url":"https://api.github.com/users/timeabarna","html_url":"https://github.com/timeabarna","followers_url":"https://api.github.com/users/timeabarna/followers","following_url":"https://api.github.com/users/timeabarna/following{/other_user}","gists_url":"https://api.github.com/users/timeabarna/gists{/gist_id}","starred_url":"https://api.github.com/users/timeabarna/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/timeabarna/subscriptions","organizations_url":"https://api.github.com/users/timeabarna/orgs","repos_url":"https://api.github.com/users/timeabarna/repos","events_url":"https://api.github.com/users/timeabarna/events{/privacy}","received_events_url":"https://api.github.com/users/timeabarna/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T11:18:41Z","updated_at":"2022-04-04T11:18:41Z","author_association":"CONTRIBUTOR","body":"Thanks @turcsanyip for your review. I've modified the code accordingly.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087430191/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087458996","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1087458996","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1087458996,"node_id":"IC_kwDOAanjsM5A0U60","user":{"login":"simonbence","id":61191107,"node_id":"MDQ6VXNlcjYxMTkxMTA3","avatar_url":"https://avatars.githubusercontent.com/u/61191107?v=4","gravatar_id":"","url":"https://api.github.com/users/simonbence","html_url":"https://github.com/simonbence","followers_url":"https://api.github.com/users/simonbence/followers","following_url":"https://api.github.com/users/simonbence/following{/other_user}","gists_url":"https://api.github.com/users/simonbence/gists{/gist_id}","starred_url":"https://api.github.com/users/simonbence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simonbence/subscriptions","organizations_url":"https://api.github.com/users/simonbence/orgs","repos_url":"https://api.github.com/users/simonbence/repos","events_url":"https://api.github.com/users/simonbence/events{/privacy}","received_events_url":"https://api.github.com/users/simonbence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T11:51:44Z","updated_at":"2022-04-04T11:51:44Z","author_association":"CONTRIBUTOR","body":"> Thank you @simonbence for reviewing this PR. While working on another XMLReader-related improvement, I found a better solution to this problem than my previous solution. I force-pushed my modifications to this branch. I managed to eliminate the hidden dependency between XMLRecordSource and XMLRecordReader by not using the hard-coded \"value\" field.\r\n\r\nChecking","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087458996/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087843708","html_url":"https://github.com/apache/nifi/pull/5924#issuecomment-1087843708","issue_url":"https://api.github.com/repos/apache/nifi/issues/5924","id":1087843708,"node_id":"IC_kwDOAanjsM5A1y18","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T17:51:11Z","updated_at":"2022-04-04T17:51:11Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, no regressions detected, thanks for the upgrade! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1087843708/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088068455","html_url":"https://github.com/apache/nifi/pull/5904#issuecomment-1088068455","issue_url":"https://api.github.com/repos/apache/nifi/issues/5904","id":1088068455,"node_id":"IC_kwDOAanjsM5A2ptn","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-04T22:19:22Z","updated_at":"2022-04-04T22:19:22Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen, I created a separate pull request #5929 upgrading the Microsoft Azure dependencies in `nifi-property-protection-azure` using the bill of materials dependency. Based on some initial testing, that seems to work better with the latest version of Jackson, without having to include the `woodstox-core` dependency. Upgrading the Microsoft Azure dependencies for that module might be a helpful prerequisite to this pull request updating Jackson.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088068455/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088139236","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1088139236","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1088139236,"node_id":"IC_kwDOAanjsM5A26_k","user":{"login":"senderic","id":5004148,"node_id":"MDQ6VXNlcjUwMDQxNDg=","avatar_url":"https://avatars.githubusercontent.com/u/5004148?v=4","gravatar_id":"","url":"https://api.github.com/users/senderic","html_url":"https://github.com/senderic","followers_url":"https://api.github.com/users/senderic/followers","following_url":"https://api.github.com/users/senderic/following{/other_user}","gists_url":"https://api.github.com/users/senderic/gists{/gist_id}","starred_url":"https://api.github.com/users/senderic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/senderic/subscriptions","organizations_url":"https://api.github.com/users/senderic/orgs","repos_url":"https://api.github.com/users/senderic/repos","events_url":"https://api.github.com/users/senderic/events{/privacy}","received_events_url":"https://api.github.com/users/senderic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T00:09:02Z","updated_at":"2022-04-05T00:09:02Z","author_association":"NONE","body":"I noticed that only a few of the build options for SNMP are utilized:\r\n\r\nhttps://github.com/apache/nifi/blob/b019a9191f1c83bc7f547dc02c1b679b8936acee/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/main/java/org/apache/nifi/snmp/processors/ListenTrapSNMP.java#L110-L115\r\n\r\nBut there are many other configuration settings including host which seems foundational:\r\n\r\nhttps://github.com/apache/nifi/blob/b019a9191f1c83bc7f547dc02c1b679b8936acee/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/main/java/org/apache/nifi/snmp/configuration/SNMPConfiguration.java#L119-L133\r\n\r\nI guess this question is two fold:\r\n\r\n1. How were the other parameters missed for snmp traps? Hosts is definitely needed.\r\n2. How are others using ListenTrapSNMP? Are they actually using it without specifying a host? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088139236/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088168861","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1088168861","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1088168861,"node_id":"IC_kwDOAanjsM5A3COd","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T01:04:25Z","updated_at":"2022-04-05T01:06:23Z","author_association":"CONTRIBUTOR","body":"Hi,\r\n\r\nCan you please send an email to the NiFi mailing list with further questions? https://nifi.apache.org/mailing_lists.html\r\n\r\n  1.  The parameters weren't missed, ListenTrapSNMP has exactly this many parameters. The ListenTrap processor runs on the same host where the NiFi instance does. How would you like to use it?\r\n  3.  For the time being that's the only way.\r\n\r\n\r\nYou can check the processor \"usage\" and the additional details on the NiFi UI for v3 authentication for instance.\r\n\r\nRegards,\r\nLehel Boér\r\n________________________________\r\nFrom: Eric K. Sender ***@***.***>\r\nSent: Tuesday, April 5, 2022 2:09\r\nTo: apache/nifi ***@***.***>\r\nCc: Lehel Boér ***@***.***>; Mention ***@***.***>\r\nSubject: Re: [apache/nifi] NIFI-3320: SendTrapSNMP and ListenTrapSNMP processors added. (#5088)\r\n\r\n\r\nI noticed that only a few of the build options for SNMP are utilized:\r\n\r\nhttps://github.com/apache/nifi/blob/b019a9191f1c83bc7f547dc02c1b679b8936acee/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/main/java/org/apache/nifi/snmp/processors/ListenTrapSNMP.java#L110-L115\r\n\r\nBut there are many other configuration settings including host which seems foundational:\r\n\r\nhttps://github.com/apache/nifi/blob/b019a9191f1c83bc7f547dc02c1b679b8936acee/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/main/java/org/apache/nifi/snmp/configuration/SNMPConfiguration.java#L119-L133\r\n\r\nI guess this question is two fold:\r\n\r\n  1.  How were the other parameters missed for snmp traps? Hosts is definitely needed.\r\n  2.  How are others using ListenTrapSNMP? Are they actually using it without specifying a host?\r\n\r\n—\r\nReply to this email directly, view it on GitHub<https://github.com/apache/nifi/pull/5088#issuecomment-1088139236>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ABZGY2LN7MYA76ZS3LRXCVLVDOACTANCNFSM45HHPWTA>.\r\nYou are receiving this because you were mentioned.Message ID: ***@***.***>\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088168861/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088182381","html_url":"https://github.com/apache/nifi/pull/5906#issuecomment-1088182381","issue_url":"https://api.github.com/repos/apache/nifi/issues/5906","id":1088182381,"node_id":"IC_kwDOAanjsM5A3Fht","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T01:33:18Z","updated_at":"2022-04-05T01:33:18Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory any parts you want to salvage from this PR then?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088182381/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088184414","html_url":"https://github.com/apache/nifi/pull/5906#issuecomment-1088184414","issue_url":"https://api.github.com/repos/apache/nifi/issues/5906","id":1088184414,"node_id":"IC_kwDOAanjsM5A3GBe","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T01:38:29Z","updated_at":"2022-04-05T01:38:29Z","author_association":"CONTRIBUTOR","body":"> @exceptionfactory any parts you want to salvage from this PR then?\r\n\r\nThanks @MikeThomsen, with PR #5927 upgrading Apache POI to 5.2.2, I don't think any of the other changes are necessary. The work outlined in [NIFI-9849](https://issues.apache.org/jira/browse/NIFI-9849) will remove the the `spring-security-saml2-core` dependency entirely, so it does not seem that the direct reference to `xmlsec` will be necessary after that work is completed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088184414/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088694700","html_url":"https://github.com/apache/nifi/pull/5895#issuecomment-1088694700","issue_url":"https://api.github.com/repos/apache/nifi/issues/5895","id":1088694700,"node_id":"IC_kwDOAanjsM5A5Cms","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T13:19:14Z","updated_at":"2022-04-05T13:19:14Z","author_association":"CONTRIBUTOR","body":"@pgyori Thanks for the fix!\r\n@simonbence Thanks for the review!\r\n\r\nMerging to main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1088694700/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089015559","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1089015559","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1089015559,"node_id":"IC_kwDOAanjsM5A6Q8H","user":{"login":"senderic","id":5004148,"node_id":"MDQ6VXNlcjUwMDQxNDg=","avatar_url":"https://avatars.githubusercontent.com/u/5004148?v=4","gravatar_id":"","url":"https://api.github.com/users/senderic","html_url":"https://github.com/senderic","followers_url":"https://api.github.com/users/senderic/followers","following_url":"https://api.github.com/users/senderic/following{/other_user}","gists_url":"https://api.github.com/users/senderic/gists{/gist_id}","starred_url":"https://api.github.com/users/senderic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/senderic/subscriptions","organizations_url":"https://api.github.com/users/senderic/orgs","repos_url":"https://api.github.com/users/senderic/repos","events_url":"https://api.github.com/users/senderic/events{/privacy}","received_events_url":"https://api.github.com/users/senderic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T16:42:05Z","updated_at":"2022-04-06T00:28:51Z","author_association":"NONE","body":"For example, the GetSNMP has a field for hostname and I can validate it:\r\n\r\n![image](https://user-images.githubusercontent.com/5004148/161803747-e930f37c-f580-4829-82a9-cbb49c4130cc.png)\r\n\r\nBut with ListenTrapSNMP I am unable to specify a hostname and it does not validate:\r\n\r\n![image](https://user-images.githubusercontent.com/5004148/161803886-053055ef-7853-4594-b24a-5cba09cd35e6.png)\r\n\r\nMy SNMP is running on localhost anyway, so I am wondering how others use ListenTrapSNMP and validate its connection? \r\n\r\nUpdate: It looks like adding in a Users File Path may be a JSON which can allow for hostnames to be specified, however I am not picking up trap events even with the following:\r\n```.json\r\n{\r\n  \"agentAddress\" : {\r\n    \"hostname\" : \"localhost\",\r\n    \"port\" : 2161,\r\n    \"ipProtocol\" : \"udp\"\r\n  },\r\n  \"trapAddress\" : {\r\n    \"hostname\" : \"localhost\",\r\n    \"port\" : 2162,\r\n    \"ipProtocol\" : \"udp\",\r\n    \"securityName\" : \"unsec\"\r\n  },\r\n  \"user\" : {\r\n    \"name\" : \"unsec\"\r\n  }\r\n}\r\n```\r\n\r\nThose same values work when I use it manually. \r\nIs there an example of this Users File somewhere I can base my work off of? I don't see it in the docs: https://nifi.apache.org/docs/nifi-docs/components/org.apache.nifi/nifi-snmp-nar/1.16.0/org.apache.nifi.snmp.processors.ListenTrapSNMP/index.html\r\n\r\nUpdate-2:\r\nI found an example of a conf file here: https://github.com/apache/nifi/blob/bd7536b257907d9012084c27dc5cc3595e5dba3d/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/test/resources/users.json#L1-L16\r\n\r\nHowever I also see I am limited to the following parameters in the json:\r\n```\r\nUnrecognizedPropertyException: Unrecognized field \"securityLevel\" (class org.apache.nifi.snmp.dto.UserDetails), not marked as ignorable (5 known properties: \"authProtocol\", \"privPassphrase\", \"authPassphrase\", \"securityName\", \"privProtocol\"])\r\n```\r\n\r\nSo I am back to square 1. How do I tell NiFi what the hostname is for the source of the TRAP events? (Also, I am equally puzzled how suppling a hostname is not foundational to connecting to an SNMP source - even GetSNMP wants a hostname. How do others use this module if they don't supply a hostname. I am thinking I am missing something fundamental here...)\r\n\r\nI noticed in the tests, the runner sets the hostname properties:\r\nhttps://github.com/apache/nifi/blob/bd7536b257907d9012084c27dc5cc3595e5dba3d/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/test/java/org/apache/nifi/snmp/helper/testrunners/SNMPV3TestRunnerFactory.java#L79-L83 So it looks like in the test realm hostnames are covered. When running live, it's not as clear. \r\n\r\nUpdate-3:\r\n\r\nI am experimenting with an update: https://github.com/esend7881/nifi/commit/007c24adbc401ec5bf8fe121c07ea19263e645f2 (If this link is dead, it could be that I amended it before I could update this. Here is a [link to my branch commits](https://github.com/esend7881/nifi/commits/hotfix/nifi-1.16.0/listentrapsnmp-hostname).)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089015559/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089073420","html_url":"https://github.com/apache/nifi/pull/5303#issuecomment-1089073420","issue_url":"https://api.github.com/repos/apache/nifi/issues/5303","id":1089073420,"node_id":"IC_kwDOAanjsM5A6fEM","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T17:18:04Z","updated_at":"2022-04-05T17:18:04Z","author_association":"MEMBER","body":"Re-testing right now (with change adding '.' back in).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089073420/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089187305","html_url":"https://github.com/apache/nifi/pull/5900#issuecomment-1089187305","issue_url":"https://api.github.com/repos/apache/nifi/issues/5900","id":1089187305,"node_id":"IC_kwDOAanjsM5A663p","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-05T18:52:50Z","updated_at":"2022-04-05T18:52:50Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory rebased and ready for review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089187305/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089922798","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1089922798","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1089922798,"node_id":"IC_kwDOAanjsM5A9ubu","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T07:31:15Z","updated_at":"2022-04-06T07:31:15Z","author_association":"CONTRIBUTOR","body":"@esend7881 - I think there is a confusion here.\r\n\r\n- GetSNMP/SetSNMP processors are meant to be used for interacting with an external SNMP server to retrieve/set values for given OIDs.\r\n- ListenSNMPTrap does not connect to anything. It's starting a listener on the NiFi node so that external systems can send SNMP traps to the NiFi node. NiFi is playing the role of an SNMP server in some ways.\r\n\r\nThere is no way to specify the host for ListenSNMPTrap simply because it's a listener processor. It's just like ListenHTTP or ListenTCP processors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1089922798/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090123941","html_url":"https://github.com/apache/nifi/pull/5933#issuecomment-1090123941","issue_url":"https://api.github.com/repos/apache/nifi/issues/5933","id":1090123941,"node_id":"IC_kwDOAanjsM5A-fil","user":{"login":"timeabarna","id":38653567,"node_id":"MDQ6VXNlcjM4NjUzNTY3","avatar_url":"https://avatars.githubusercontent.com/u/38653567?v=4","gravatar_id":"","url":"https://api.github.com/users/timeabarna","html_url":"https://github.com/timeabarna","followers_url":"https://api.github.com/users/timeabarna/followers","following_url":"https://api.github.com/users/timeabarna/following{/other_user}","gists_url":"https://api.github.com/users/timeabarna/gists{/gist_id}","starred_url":"https://api.github.com/users/timeabarna/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/timeabarna/subscriptions","organizations_url":"https://api.github.com/users/timeabarna/orgs","repos_url":"https://api.github.com/users/timeabarna/repos","events_url":"https://api.github.com/users/timeabarna/events{/privacy}","received_events_url":"https://api.github.com/users/timeabarna/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T10:43:48Z","updated_at":"2022-04-06T10:43:48Z","author_association":"CONTRIBUTOR","body":"Hello @turcsanyip,\r\n\r\nCan you please help reviewing this PR?\r\n\r\nThanks in advance.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090123941/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090178119","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1090178119","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1090178119,"node_id":"IC_kwDOAanjsM5A-sxH","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T11:49:51Z","updated_at":"2022-04-06T11:49:51Z","author_association":"CONTRIBUTOR","body":"@simonbence , @markap14 , @exceptionfactory \r\nThanks to all of you for reviewing this PR. I followed your comments and pushed new commits to this PR. Please check and let me know if there is something else to fix.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090178119/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090311387","html_url":"https://github.com/apache/nifi/pull/5696#issuecomment-1090311387","issue_url":"https://api.github.com/repos/apache/nifi/issues/5696","id":1090311387,"node_id":"IC_kwDOAanjsM5A_NTb","user":{"login":"simonbence","id":61191107,"node_id":"MDQ6VXNlcjYxMTkxMTA3","avatar_url":"https://avatars.githubusercontent.com/u/61191107?v=4","gravatar_id":"","url":"https://api.github.com/users/simonbence","html_url":"https://github.com/simonbence","followers_url":"https://api.github.com/users/simonbence/followers","following_url":"https://api.github.com/users/simonbence/following{/other_user}","gists_url":"https://api.github.com/users/simonbence/gists{/gist_id}","starred_url":"https://api.github.com/users/simonbence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simonbence/subscriptions","organizations_url":"https://api.github.com/users/simonbence/orgs","repos_url":"https://api.github.com/users/simonbence/repos","events_url":"https://api.github.com/users/simonbence/events{/privacy}","received_events_url":"https://api.github.com/users/simonbence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T14:03:14Z","updated_at":"2022-04-06T14:03:14Z","author_association":"CONTRIBUTOR","body":"> Thanks for the updates @simonbence! I noted what I think is a typo. Otherwise, I think all of my concerns have been addressed. I will want to do some testing to verify behavior but in terms of code review, things look good.\r\n> \r\n> I did notice one new file, though, that was empty: `nifi-nar-bundles/nifi-framework-bundle/nifi-framework-external-resource-utils/src/test/resources/resource.json` - given that it's an empty file and it's under `src/test/resources` it may well be intended to be there but just wanted to make sure.\r\n> \r\n> There were also some updates to `pom.xml` files that reference `1.16.0-SNAPSHOT` that I think need to be updated.\r\n\r\nThanks, I updated the dependencies. The resource.json is deliberately emtpy, but if you think it is less misleading, I can add some content.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090311387/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090333990","html_url":"https://github.com/apache/nifi/pull/5932#issuecomment-1090333990","issue_url":"https://api.github.com/repos/apache/nifi/issues/5932","id":1090333990,"node_id":"IC_kwDOAanjsM5A_S0m","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T14:24:16Z","updated_at":"2022-04-06T14:24:16Z","author_association":"CONTRIBUTOR","body":"Not sure.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090333990/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090338724","html_url":"https://github.com/apache/nifi/pull/5932#issuecomment-1090338724","issue_url":"https://api.github.com/repos/apache/nifi/issues/5932","id":1090338724,"node_id":"IC_kwDOAanjsM5A_T-k","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T14:28:43Z","updated_at":"2022-04-06T14:28:43Z","author_association":"CONTRIBUTOR","body":"Thanks for the reply. The associated Jira seems to describe an environment-specific issue. For that reason, it seems best to avoid adjusting the default log level until there is problem that applies to all connections to MongoDB.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090338724/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090433523","html_url":"https://github.com/apache/nifi/pull/5696#issuecomment-1090433523","issue_url":"https://api.github.com/repos/apache/nifi/issues/5696","id":1090433523,"node_id":"IC_kwDOAanjsM5A_rHz","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T15:55:22Z","updated_at":"2022-04-06T15:55:22Z","author_association":"CONTRIBUTOR","body":"Thanks for the updates @simonbence. All looks good to me +1 merged to main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090433523/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090499587","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1090499587","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1090499587,"node_id":"IC_kwDOAanjsM5A_7QD","user":{"login":"senderic","id":5004148,"node_id":"MDQ6VXNlcjUwMDQxNDg=","avatar_url":"https://avatars.githubusercontent.com/u/5004148?v=4","gravatar_id":"","url":"https://api.github.com/users/senderic","html_url":"https://github.com/senderic","followers_url":"https://api.github.com/users/senderic/followers","following_url":"https://api.github.com/users/senderic/following{/other_user}","gists_url":"https://api.github.com/users/senderic/gists{/gist_id}","starred_url":"https://api.github.com/users/senderic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/senderic/subscriptions","organizations_url":"https://api.github.com/users/senderic/orgs","repos_url":"https://api.github.com/users/senderic/repos","events_url":"https://api.github.com/users/senderic/events{/privacy}","received_events_url":"https://api.github.com/users/senderic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T17:04:27Z","updated_at":"2022-04-06T19:53:15Z","author_association":"NONE","body":"> @esend7881 - I think there is a confusion here.\r\n> \r\n> * GetSNMP/SetSNMP processors are meant to be used for interacting with an external SNMP server to retrieve/set values for given OIDs.\r\n> * ListenSNMPTrap does not connect to anything. It's starting a listener on the NiFi node so that external systems can send SNMP traps to the NiFi node. NiFi is playing the role of an SNMP server in some ways.\r\n> \r\n> There is no way to specify the host for ListenSNMPTrap simply because it's a listener processor. It's just like ListenHTTP or ListenTCP processors.\r\n\r\n@pvillard31 - I follow the logic. I am also learning about SNMP, but now I realize the SNMP Traps listen to the udp 162 port on its own localhost. \r\n\r\nUpdate:\r\nOkay I think I see what is wrong here. In short, I have an unsecured SNMP user set up, but it looks like when using an unsecured user, the SnmpUtils class throws a runtime exception:\r\n```\r\n2022-04-06 12:43:57,060 WARN [Timer-Driven Process Thread-6] o.a.n.controller.tasks.ConnectableTask Administratively Yielding ListenTrapSNMP[id=001d380e-0180-1000-f108-ee3dda6b5dff] due to uncaught Exception: org.apache.nifi.snmp.exception.InvalidAuthProtocolException: Invalid authentication protocol provided.\r\norg.apache.nifi.snmp.exception.InvalidAuthProtocolException: Invalid authentication protocol provided.\r\n\tat org.apache.nifi.snmp.utils.SNMPUtils.getAuth(SNMPUtils.java:166)\r\n\tat org.apache.nifi.snmp.operations.SNMPTrapReceiverHandler.convertToUsmUser(SNMPTrapReceiverHandler.java:113)\r\n\tat java.base/java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:195)\r\n```\r\n\r\nhttps://github.com/apache/nifi/blob/b019a9191f1c83bc7f547dc02c1b679b8936acee/nifi-nar-bundles/nifi-snmp-bundle/nifi-snmp-processors/src/main/java/org/apache/nifi/snmp/utils/SNMPUtils.java#L162-L167\r\n\r\nWhere my user conf file was:\r\n```.json\r\n[\r\n  {\r\n    \"securityName\":\"unsec\"\r\n  }\r\n]\r\n```\r\n\r\nBut when I changed it to this, it works:\r\n```.json\r\n[\r\n  {\r\n    \"securityName\":\"cdl_agent\",\r\n    \"authProtocol\":\"SHA\",\r\n    \"authPassphrase\":\"Password123\",\r\n    \"privProtocol\":\"AES128\",\r\n    \"privPassphrase\":\"Password123\"\r\n  }\r\n]\r\n```\r\n\r\nI may look into finding a way around that RuntimeException for the unsecured username, but as of now, I'll move forward knowing I need to setup the authProtocol and such","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090499587/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090575993","html_url":"https://github.com/apache/nifi/pull/5897#issuecomment-1090575993","issue_url":"https://api.github.com/repos/apache/nifi/issues/5897","id":1090575993,"node_id":"IC_kwDOAanjsM5BAN55","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T18:08:05Z","updated_at":"2022-04-06T18:08:05Z","author_association":"CONTRIBUTOR","body":"Thanks for the contribution @gresockj. Can you provide some additional details on how the change improves performance? It seems like there is more work involved in unpacking to a temporary directory and moving, as opposed to just unpacking directly to the working directory. This impacts more than Stateless, so it would be helpful to understand the implications for all deployment form-factors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090575993/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090589253","html_url":"https://github.com/apache/nifi/pull/5935#issuecomment-1090589253","issue_url":"https://api.github.com/repos/apache/nifi/issues/5935","id":1090589253,"node_id":"IC_kwDOAanjsM5BARJF","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T18:22:18Z","updated_at":"2022-04-06T18:22:18Z","author_association":"CONTRIBUTOR","body":"The maven build was successful on Windows. Appears to just be hung up on the completion-cleanup task. Going to merge now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090589253/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090600295","html_url":"https://github.com/apache/nifi/pull/5897#issuecomment-1090600295","issue_url":"https://api.github.com/repos/apache/nifi/issues/5897","id":1090600295,"node_id":"IC_kwDOAanjsM5BAT1n","user":{"login":"gresockj","id":423565,"node_id":"MDQ6VXNlcjQyMzU2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/423565?v=4","gravatar_id":"","url":"https://api.github.com/users/gresockj","html_url":"https://github.com/gresockj","followers_url":"https://api.github.com/users/gresockj/followers","following_url":"https://api.github.com/users/gresockj/following{/other_user}","gists_url":"https://api.github.com/users/gresockj/gists{/gist_id}","starred_url":"https://api.github.com/users/gresockj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gresockj/subscriptions","organizations_url":"https://api.github.com/users/gresockj/orgs","repos_url":"https://api.github.com/users/gresockj/repos","events_url":"https://api.github.com/users/gresockj/events{/privacy}","received_events_url":"https://api.github.com/users/gresockj/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T18:34:50Z","updated_at":"2022-04-06T18:34:50Z","author_association":"CONTRIBUTOR","body":"> Can you provide some additional details on how the change improves performance?\r\n\r\nSure -- in some use cases if the unpacking is interrupted, the working directory may be incomplete.  Previously, the only way around this was to delete the working directory prior to running stateless, regardless of whether the working directory was incomplete, in which case the NAR must be unpacked each time stateless starts.  This change allows us to be confident that the working directory is complete, and thus remove the unnecessary working directory cleanup before each stateless startup.\r\n\r\nWhile we could add some additional conditional code that only activates this mode in stateless, I don't think it has enough of a performance impact to warrant that complexity.\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090600295/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090650442","html_url":"https://github.com/apache/nifi/pull/5900#issuecomment-1090650442","issue_url":"https://api.github.com/repos/apache/nifi/issues/5900","id":1090650442,"node_id":"IC_kwDOAanjsM5BAgFK","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T19:05:34Z","updated_at":"2022-04-06T19:05:34Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I think we're good to go now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090650442/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090673448","html_url":"https://github.com/apache/nifi/pull/5897#issuecomment-1090673448","issue_url":"https://api.github.com/repos/apache/nifi/issues/5897","id":1090673448,"node_id":"IC_kwDOAanjsM5BAlso","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T19:23:57Z","updated_at":"2022-04-06T19:23:57Z","author_association":"CONTRIBUTOR","body":"Thanks for the additional background @gresockj, that is helpful to know.  Would it make more sense to check the contents of the working directory and unpack as needed? It seems like this change could have a larger impact in some cases.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090673448/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090771263","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1090771263","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1090771263,"node_id":"IC_kwDOAanjsM5BA9k_","user":{"login":"patalwell","id":14829023,"node_id":"MDQ6VXNlcjE0ODI5MDIz","avatar_url":"https://avatars.githubusercontent.com/u/14829023?v=4","gravatar_id":"","url":"https://api.github.com/users/patalwell","html_url":"https://github.com/patalwell","followers_url":"https://api.github.com/users/patalwell/followers","following_url":"https://api.github.com/users/patalwell/following{/other_user}","gists_url":"https://api.github.com/users/patalwell/gists{/gist_id}","starred_url":"https://api.github.com/users/patalwell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patalwell/subscriptions","organizations_url":"https://api.github.com/users/patalwell/orgs","repos_url":"https://api.github.com/users/patalwell/repos","events_url":"https://api.github.com/users/patalwell/events{/privacy}","received_events_url":"https://api.github.com/users/patalwell/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T20:39:17Z","updated_at":"2022-04-06T20:39:17Z","author_association":"CONTRIBUTOR","body":"> \r\n@nandorsoma right on! I'll work on these changes. Yeah, I tried to rebase and git threw a fit. Let me find some time to review the changes and rebase main off of my commit.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090771263/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090785541","html_url":"https://github.com/apache/nifi/pull/5940#issuecomment-1090785541","issue_url":"https://api.github.com/repos/apache/nifi/issues/5940","id":1090785541,"node_id":"IC_kwDOAanjsM5BBBEF","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T20:53:34Z","updated_at":"2022-04-06T20:53:34Z","author_association":"CONTRIBUTOR","body":"Thanks for the upgrade @lkinley-rythmos! This looks like a straightforward improvement. Can you create a NiFi Jira issue and update the PR to reference the number? The Jira issue is necessary for release tracking.\r\n\r\nhttps://issues.apache.org/jira/projects/NIFI/issues","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090785541/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090804595","html_url":"https://github.com/apache/nifi/pull/5900#issuecomment-1090804595","issue_url":"https://api.github.com/repos/apache/nifi/issues/5900","id":1090804595,"node_id":"IC_kwDOAanjsM5BBFtz","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T21:03:01Z","updated_at":"2022-04-06T21:03:01Z","author_association":"CONTRIBUTOR","body":"Thanks for addressing the feedback @MikeThomsen, the current version looks good. I will defer to @mattyb149 for additional review, given the question on null handling for schema values.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090804595/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090811437","html_url":"https://github.com/apache/nifi/pull/5940#issuecomment-1090811437","issue_url":"https://api.github.com/repos/apache/nifi/issues/5940","id":1090811437,"node_id":"IC_kwDOAanjsM5BBHYt","user":{"login":"lkinley-rythmos","id":30356845,"node_id":"MDQ6VXNlcjMwMzU2ODQ1","avatar_url":"https://avatars.githubusercontent.com/u/30356845?v=4","gravatar_id":"","url":"https://api.github.com/users/lkinley-rythmos","html_url":"https://github.com/lkinley-rythmos","followers_url":"https://api.github.com/users/lkinley-rythmos/followers","following_url":"https://api.github.com/users/lkinley-rythmos/following{/other_user}","gists_url":"https://api.github.com/users/lkinley-rythmos/gists{/gist_id}","starred_url":"https://api.github.com/users/lkinley-rythmos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lkinley-rythmos/subscriptions","organizations_url":"https://api.github.com/users/lkinley-rythmos/orgs","repos_url":"https://api.github.com/users/lkinley-rythmos/repos","events_url":"https://api.github.com/users/lkinley-rythmos/events{/privacy}","received_events_url":"https://api.github.com/users/lkinley-rythmos/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T21:10:45Z","updated_at":"2022-04-06T21:10:45Z","author_association":"CONTRIBUTOR","body":"Done!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090811437/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090824709","html_url":"https://github.com/apache/nifi/pull/5940#issuecomment-1090824709","issue_url":"https://api.github.com/repos/apache/nifi/issues/5940","id":1090824709,"node_id":"IC_kwDOAanjsM5BBKoF","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T21:26:40Z","updated_at":"2022-04-06T21:26:40Z","author_association":"CONTRIBUTOR","body":"https://www.mongodb.com/docs/drivers/java/sync/current/compatibility/\r\n\r\nLGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090824709/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090830697","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1090830697","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1090830697,"node_id":"IC_kwDOAanjsM5BBMFp","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-06T21:34:05Z","updated_at":"2022-04-06T21:34:05Z","author_association":"CONTRIBUTOR","body":"Thanks @pgyori. Looks like there's a conflict now. Can you rebase?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090830697/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090948557","html_url":"https://github.com/apache/nifi/pull/5579#issuecomment-1090948557","issue_url":"https://api.github.com/repos/apache/nifi/issues/5579","id":1090948557,"node_id":"IC_kwDOAanjsM5BBo3N","user":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2022-04-07T00:14:52Z","updated_at":"2022-04-07T00:14:52Z","author_association":"NONE","body":"We're marking this PR as stale due to lack of updates in the past few months. If after another couple of weeks the stale label has not been removed this PR will be closed. This stale marker and eventual auto close does not indicate a judgement of the PR just lack of reviewer bandwidth and helps us keep the PR queue more manageable.  If you would like this PR re-opened you can do so and a committer can remove the stale tag.  Or you can open a new PR.  Try to help review other PRs to increase PR review bandwidth which in turn helps yours.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1090948557/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1091686272","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1091686272","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1091686272,"node_id":"IC_kwDOAanjsM5BEc-A","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-07T12:41:15Z","updated_at":"2022-04-07T12:41:15Z","author_association":"CONTRIBUTOR","body":"@markap14 I rebased, resolved the conflict, force pushed my modifications.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1091686272/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1091899299","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1091899299","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1091899299,"node_id":"IC_kwDOAanjsM5BFQ-j","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-07T15:46:18Z","updated_at":"2022-04-07T15:46:18Z","author_association":"CONTRIBUTOR","body":"@esend7881 Thanks for the feedback. I can see that the user conf file is required with SNMPv3 even if the security level is changed to _noAuthNoPriv_ which might be unintentional. I'll have a look and get back to you soon.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1091899299/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1092901429","html_url":"https://github.com/apache/nifi/pull/5931#issuecomment-1092901429","issue_url":"https://api.github.com/repos/apache/nifi/issues/5931","id":1092901429,"node_id":"IC_kwDOAanjsM5BJFo1","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-08T14:08:26Z","updated_at":"2022-04-08T14:08:26Z","author_association":"CONTRIBUTOR","body":"OK I was able to run through the tests and verify that the integration tests that were modified to use name instead of ID still work and make sense. The change to the synchronizer looks good. I'm a +1 will merge.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1092901429/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1092923767","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1092923767","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1092923767,"node_id":"IC_kwDOAanjsM5BJLF3","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-08T14:29:24Z","updated_at":"2022-04-08T14:29:24Z","author_association":"CONTRIBUTOR","body":"Thanks for updating @pgyori . I don't have any further concerns. @simonbence @exceptionfactory any concerns?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1092923767/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093089854","html_url":"https://github.com/apache/nifi/pull/5944#issuecomment-1093089854","issue_url":"https://api.github.com/repos/apache/nifi/issues/5944","id":1093089854,"node_id":"IC_kwDOAanjsM5BJzo-","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-08T16:59:42Z","updated_at":"2022-04-08T16:59:42Z","author_association":"MEMBER","body":"@markap14 I looked these through and they all look like good changes (which you probably don't need to be told). There's one thing I wanted to call out that I think might be relevant with changing the default to `${filename}`. I think it will break a quick creation of List -> Fetch without a user having to edit Fetch. The gist is that `azure.blobname` and `filename` aren't the same. The former includes the full path and the latter is just the basename (or it was that way).\r\n\r\nSee https://github.com/apache/nifi/pull/3906#issuecomment-623016616","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093089854/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093108582","html_url":"https://github.com/apache/nifi/pull/5941#issuecomment-1093108582","issue_url":"https://api.github.com/repos/apache/nifi/issues/5941","id":1093108582,"node_id":"IC_kwDOAanjsM5BJ4Nm","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-08T17:21:03Z","updated_at":"2022-04-08T17:21:03Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the fix! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093108582/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093284125","html_url":"https://github.com/apache/nifi/pull/5944#issuecomment-1093284125","issue_url":"https://api.github.com/repos/apache/nifi/issues/5944","id":1093284125,"node_id":"IC_kwDOAanjsM5BKjEd","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-08T19:30:08Z","updated_at":"2022-04-08T19:30:08Z","author_association":"MEMBER","body":"> Overall, great updates, @markap14! Using the processors felt much more internally consistent now.\r\n> \r\n> I noted that while `ListAzureBlobStorage` does set the `filename` attribute, it doesn't set it to a value that can be directly used by `FetchAzureBlobStorage`. Instead, the `azure.blobname` contains what would be the usable value. For example, `filename` contained `test.txt` and `azure.blobname` contained `resources/test.txt` in my test, and it's the latter that is needed by `FetchAzureBlobStorage`. Additionally, `path` was set to `./`, which I think is not consistent. What do you think about setting `path` to the value before the filename, and defaulting the `FetchAzureBlobStorage` `Blob Name` property to `${path}/${filename}`? Not sure how this would work at the root level, however.\r\n> \r\n> Same issue for the `*_12` processors. I have not exercised the ADLS processors yet.\r\n\r\nOops. Overlapping replies.\r\n\r\n`${path}/${filename}` is not inconsistent with some of the other Fetch processors so I think it's a reasonable default. The behavior of `${path}` is also weird enough to call broken so it'd seem ok to change.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093284125/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093743848","html_url":"https://github.com/apache/nifi/pull/5947#issuecomment-1093743848","issue_url":"https://api.github.com/repos/apache/nifi/issues/5947","id":1093743848,"node_id":"IC_kwDOAanjsM5BMTTo","user":{"login":"emiliosetiadarma","id":51312775,"node_id":"MDQ6VXNlcjUxMzEyNzc1","avatar_url":"https://avatars.githubusercontent.com/u/51312775?v=4","gravatar_id":"","url":"https://api.github.com/users/emiliosetiadarma","html_url":"https://github.com/emiliosetiadarma","followers_url":"https://api.github.com/users/emiliosetiadarma/followers","following_url":"https://api.github.com/users/emiliosetiadarma/following{/other_user}","gists_url":"https://api.github.com/users/emiliosetiadarma/gists{/gist_id}","starred_url":"https://api.github.com/users/emiliosetiadarma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/emiliosetiadarma/subscriptions","organizations_url":"https://api.github.com/users/emiliosetiadarma/orgs","repos_url":"https://api.github.com/users/emiliosetiadarma/repos","events_url":"https://api.github.com/users/emiliosetiadarma/events{/privacy}","received_events_url":"https://api.github.com/users/emiliosetiadarma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-09T06:34:52Z","updated_at":"2022-04-09T06:35:23Z","author_association":"CONTRIBUTOR","body":"Awaiting further discussion on `TestConsumeTwitter` before making this PR ready for review. Have done all the required testing and checks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1093743848/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1094034650","html_url":"https://github.com/apache/nifi/pull/5900#issuecomment-1094034650","issue_url":"https://api.github.com/repos/apache/nifi/issues/5900","id":1094034650,"node_id":"IC_kwDOAanjsM5BNaTa","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-09T13:45:30Z","updated_at":"2022-04-09T13:45:30Z","author_association":"CONTRIBUTOR","body":"@mattyb149 can we close this out or do you need more time to test with Hive and such?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1094034650/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1094044248","html_url":"https://github.com/apache/nifi/pull/5944#issuecomment-1094044248","issue_url":"https://api.github.com/repos/apache/nifi/issues/5944","id":1094044248,"node_id":"IC_kwDOAanjsM5BNcpY","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-09T14:32:33Z","updated_at":"2022-04-09T14:32:33Z","author_association":"CONTRIBUTOR","body":"Great catches @jfrazee and @gresockj . You are both indeed right - I did overlook the necessity of including the `path` attribute. Will update the Fetch processors to use `${path}/${filename}` and ensure that the List processors are properly populating the `path` attribute.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1094044248/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095069965","html_url":"https://github.com/apache/nifi/pull/5945#issuecomment-1095069965","issue_url":"https://api.github.com/repos/apache/nifi/issues/5945","id":1095069965,"node_id":"IC_kwDOAanjsM5BRXEN","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-11T13:43:02Z","updated_at":"2022-04-11T13:43:02Z","author_association":"CONTRIBUTOR","body":"I tested this by forcing a processor to generate an error. I used GenerateFlowFile to generate a FlowFile with the content \"hello\" and then sent to CompressContent. Configured CompressContent to decompress gzip. This should fail since the content is not gzipped, it's just the text \"hello\". But the error message written to the logs was:\r\n\r\n```\r\n2022-04-11 09:39:24,963 ERROR [Timer-Driven Process Thread-5] o.a.n.p.standard.CompressContent [CompressContent[id=33f515be-1000-1180-fa23-4e3424088fe0], decompress, StandardFlowFileRecord[uuid=770a869d-a200-4eb4-bd6d-093a75ad3fb8,claim=StandardContentClaim [resourceClaim=StandardResourceClaim[id=1649684358971-1, container=default, section=1], offset=0, length=58],offset=0,name=770a869d-a200-4eb4-bd6d-093a75ad3fb8,size=58], gzip] Unable to {} {} using {} compression format due to {}; routing to failure\r\norg.apache.nifi.processor.exception.ProcessException: IOException thrown from CompressContent[id=33f515be-1000-1180-fa23-4e3424088fe0]: java.io.IOException: java.io.IOException: Input is not in the .gz format\r\n\tat org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:3437)\r\n\tat org.apache.nifi.processors.standard.CompressContent.onTrigger(CompressContent.java:282)\r\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1283)\r\n\tat org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:214)\r\n\tat org.apache.nifi.controller.scheduling.AbstractTimeBasedSchedulingAgent.lambda$doScheduleOnce$0(AbstractTimeBasedSchedulingAgent.java:63)\r\n\tat org.apache.nifi.engine.FlowEngine$2.run(FlowEngine.java:110)\r\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n\tat java.util.concurrent.FutureTask.run(FutureTask.java:266)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$201(ScheduledThreadPoolExecutor.java:180)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:293)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\nCaused by: java.io.IOException: java.io.IOException: Input is not in the .gz format\r\n\tat org.apache.nifi.processors.standard.CompressContent$1.process(CompressContent.java:373)\r\n\tat org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:3416)\r\n\t... 13 common frames omitted\r\nCaused by: java.io.IOException: Input is not in the .gz format\r\n\tat org.apache.commons.compress.compressors.gzip.GzipCompressorInputStream.init(GzipCompressorInputStream.java:193)\r\n\tat org.apache.commons.compress.compressors.gzip.GzipCompressorInputStream.<init>(GzipCompressorInputStream.java:167)\r\n\tat org.apache.nifi.processors.standard.CompressContent$1.process(CompressContent.java:351)\r\n\t... 14 common frames omitted\r\n```\r\n\r\nSo some variables didn't get substituted in:\r\n```\r\nUnable to {} {} using {} compression format due to {}; routing to failure\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095069965/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095548660","html_url":"https://github.com/apache/nifi/pull/5939#issuecomment-1095548660","issue_url":"https://api.github.com/repos/apache/nifi/issues/5939","id":1095548660,"node_id":"IC_kwDOAanjsM5BTL70","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-11T20:44:31Z","updated_at":"2022-04-11T20:44:31Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095548660/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095668415","html_url":"https://github.com/apache/nifi/pull/5945#issuecomment-1095668415","issue_url":"https://api.github.com/repos/apache/nifi/issues/5945","id":1095668415,"node_id":"IC_kwDOAanjsM5BTpK_","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-11T22:54:16Z","updated_at":"2022-04-11T22:54:16Z","author_association":"CONTRIBUTOR","body":"Thanks for the feedback @markap14! I pushed an update to correct the handling of `Throwable` references in `Object[]` parameters passed to log methods. I also updated the unit tests to increase of amount of argument verification.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095668415/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095688865","html_url":"https://github.com/apache/nifi/pull/5939#issuecomment-1095688865","issue_url":"https://api.github.com/repos/apache/nifi/issues/5939","id":1095688865,"node_id":"IC_kwDOAanjsM5BTuKh","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-11T23:26:40Z","updated_at":"2022-04-11T23:26:40Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, verified the parameter context change is no longer recognized as a Local Modification. Thanks for the fix! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1095688865/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096688606","html_url":"https://github.com/apache/nifi/pull/5957#issuecomment-1096688606","issue_url":"https://api.github.com/repos/apache/nifi/issues/5957","id":1096688606,"node_id":"IC_kwDOAanjsM5BXiPe","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T12:52:03Z","updated_at":"2022-04-12T12:52:03Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, verified the NPE does not appear when the authority is missing. Thanks for the fix! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096688606/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096861929","html_url":"https://github.com/apache/nifi/pull/5945#issuecomment-1096861929","issue_url":"https://api.github.com/repos/apache/nifi/issues/5945","id":1096861929,"node_id":"IC_kwDOAanjsM5BYMjp","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T15:15:51Z","updated_at":"2022-04-12T15:15:51Z","author_association":"CONTRIBUTOR","body":"Thanks @exceptionfactory changes look good. As do the logs. :) +1 merged to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096861929/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096878173","html_url":"https://github.com/apache/nifi/pull/5951#issuecomment-1096878173","issue_url":"https://api.github.com/repos/apache/nifi/issues/5951","id":1096878173,"node_id":"IC_kwDOAanjsM5BYQhd","user":{"login":"scottyaslan","id":6797571,"node_id":"MDQ6VXNlcjY3OTc1NzE=","avatar_url":"https://avatars.githubusercontent.com/u/6797571?v=4","gravatar_id":"","url":"https://api.github.com/users/scottyaslan","html_url":"https://github.com/scottyaslan","followers_url":"https://api.github.com/users/scottyaslan/followers","following_url":"https://api.github.com/users/scottyaslan/following{/other_user}","gists_url":"https://api.github.com/users/scottyaslan/gists{/gist_id}","starred_url":"https://api.github.com/users/scottyaslan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scottyaslan/subscriptions","organizations_url":"https://api.github.com/users/scottyaslan/orgs","repos_url":"https://api.github.com/users/scottyaslan/repos","events_url":"https://api.github.com/users/scottyaslan/events{/privacy}","received_events_url":"https://api.github.com/users/scottyaslan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T15:29:33Z","updated_at":"2022-04-12T15:29:33Z","author_association":"CONTRIBUTOR","body":"reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096878173/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096878349","html_url":"https://github.com/apache/nifi/pull/5952#issuecomment-1096878349","issue_url":"https://api.github.com/repos/apache/nifi/issues/5952","id":1096878349,"node_id":"IC_kwDOAanjsM5BYQkN","user":{"login":"scottyaslan","id":6797571,"node_id":"MDQ6VXNlcjY3OTc1NzE=","avatar_url":"https://avatars.githubusercontent.com/u/6797571?v=4","gravatar_id":"","url":"https://api.github.com/users/scottyaslan","html_url":"https://github.com/scottyaslan","followers_url":"https://api.github.com/users/scottyaslan/followers","following_url":"https://api.github.com/users/scottyaslan/following{/other_user}","gists_url":"https://api.github.com/users/scottyaslan/gists{/gist_id}","starred_url":"https://api.github.com/users/scottyaslan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scottyaslan/subscriptions","organizations_url":"https://api.github.com/users/scottyaslan/orgs","repos_url":"https://api.github.com/users/scottyaslan/repos","events_url":"https://api.github.com/users/scottyaslan/events{/privacy}","received_events_url":"https://api.github.com/users/scottyaslan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T15:29:42Z","updated_at":"2022-04-12T15:29:42Z","author_association":"CONTRIBUTOR","body":"reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096878349/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096892351","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1096892351","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1096892351,"node_id":"IC_kwDOAanjsM5BYT-_","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T15:42:00Z","updated_at":"2022-04-12T15:42:00Z","author_association":"CONTRIBUTOR","body":"Thanks @pgyori all looks good to me. +1 merged to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096892351/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096894435","html_url":"https://github.com/apache/nifi/pull/5896#issuecomment-1096894435","issue_url":"https://api.github.com/repos/apache/nifi/issues/5896","id":1096894435,"node_id":"IC_kwDOAanjsM5BYUfj","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T15:43:56Z","updated_at":"2022-04-12T15:43:56Z","author_association":"CONTRIBUTOR","body":"Thank you.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1096894435/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1097176761","html_url":"https://github.com/apache/nifi/pull/5949#issuecomment-1097176761","issue_url":"https://api.github.com/repos/apache/nifi/issues/5949","id":1097176761,"node_id":"IC_kwDOAanjsM5BZZa5","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T20:19:39Z","updated_at":"2022-04-12T20:19:39Z","author_association":"CONTRIBUTOR","body":"Will review..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1097176761/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1097194459","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1097194459","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1097194459,"node_id":"IC_kwDOAanjsM5BZdvb","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-12T20:38:27Z","updated_at":"2022-04-12T20:38:27Z","author_association":"CONTRIBUTOR","body":"@esend7881 I created a ticket for the issue which you can follow here.\r\nhttps://issues.apache.org/jira/browse/NIFI-9916","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1097194459/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098016608","html_url":"https://github.com/apache/nifi/pull/5958#issuecomment-1098016608","issue_url":"https://api.github.com/repos/apache/nifi/issues/5958","id":1098016608,"node_id":"IC_kwDOAanjsM5Bcmdg","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-13T12:55:14Z","updated_at":"2022-04-13T12:55:14Z","author_association":"CONTRIBUTOR","body":"Thanks @tpalfy , will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098016608/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098320355","html_url":"https://github.com/apache/nifi/pull/5946#issuecomment-1098320355","issue_url":"https://api.github.com/repos/apache/nifi/issues/5946","id":1098320355,"node_id":"IC_kwDOAanjsM5Bdwnj","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-13T17:44:38Z","updated_at":"2022-04-13T17:44:38Z","author_association":"CONTRIBUTOR","body":"Thanks @greyp9 changes look good to me. +1 merged to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098320355/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098442359","html_url":"https://github.com/apache/nifi/pull/5962#issuecomment-1098442359","issue_url":"https://api.github.com/repos/apache/nifi/issues/5962","id":1098442359,"node_id":"IC_kwDOAanjsM5BeOZ3","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-13T20:13:05Z","updated_at":"2022-04-13T20:13:05Z","author_association":"CONTRIBUTOR","body":"Thanks for the initial feedback @greyp9! Will plan on updating the one exception message noted, as well as anything else, following additional feedback from testing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098442359/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098457832","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1098457832","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1098457832,"node_id":"IC_kwDOAanjsM5BeSLo","user":{"login":"patalwell","id":14829023,"node_id":"MDQ6VXNlcjE0ODI5MDIz","avatar_url":"https://avatars.githubusercontent.com/u/14829023?v=4","gravatar_id":"","url":"https://api.github.com/users/patalwell","html_url":"https://github.com/patalwell","followers_url":"https://api.github.com/users/patalwell/followers","following_url":"https://api.github.com/users/patalwell/following{/other_user}","gists_url":"https://api.github.com/users/patalwell/gists{/gist_id}","starred_url":"https://api.github.com/users/patalwell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patalwell/subscriptions","organizations_url":"https://api.github.com/users/patalwell/orgs","repos_url":"https://api.github.com/users/patalwell/repos","events_url":"https://api.github.com/users/patalwell/events{/privacy}","received_events_url":"https://api.github.com/users/patalwell/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-13T20:27:59Z","updated_at":"2022-04-13T20:27:59Z","author_association":"CONTRIBUTOR","body":"@nandorsoma ok made the changes, if you like them I'll rebase. Forgive my ignorance here, but everytime i attempt to rebase I get a boatload of commits from other folks. What's the best way to keep this clean?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1098457832/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099020548","html_url":"https://github.com/apache/nifi/pull/5745#issuecomment-1099020548","issue_url":"https://api.github.com/repos/apache/nifi/issues/5745","id":1099020548,"node_id":"IC_kwDOAanjsM5BgbkE","user":{"login":"jynolen","id":1485801,"node_id":"MDQ6VXNlcjE0ODU4MDE=","avatar_url":"https://avatars.githubusercontent.com/u/1485801?v=4","gravatar_id":"","url":"https://api.github.com/users/jynolen","html_url":"https://github.com/jynolen","followers_url":"https://api.github.com/users/jynolen/followers","following_url":"https://api.github.com/users/jynolen/following{/other_user}","gists_url":"https://api.github.com/users/jynolen/gists{/gist_id}","starred_url":"https://api.github.com/users/jynolen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jynolen/subscriptions","organizations_url":"https://api.github.com/users/jynolen/orgs","repos_url":"https://api.github.com/users/jynolen/repos","events_url":"https://api.github.com/users/jynolen/events{/privacy}","received_events_url":"https://api.github.com/users/jynolen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-14T10:22:34Z","updated_at":"2022-04-14T10:22:34Z","author_association":"NONE","body":"Any updates on this case ?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099020548/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099230066","html_url":"https://github.com/apache/nifi/pull/5937#issuecomment-1099230066","issue_url":"https://api.github.com/repos/apache/nifi/issues/5937","id":1099230066,"node_id":"IC_kwDOAanjsM5BhOty","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-14T14:12:54Z","updated_at":"2022-04-14T14:12:54Z","author_association":"CONTRIBUTOR","body":"Thank you for the review!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099230066/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099289283","html_url":"https://github.com/apache/nifi/pull/5964#issuecomment-1099289283","issue_url":"https://api.github.com/repos/apache/nifi/issues/5964","id":1099289283,"node_id":"IC_kwDOAanjsM5BhdLD","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-14T15:14:05Z","updated_at":"2022-04-14T15:14:05Z","author_association":"CONTRIBUTOR","body":"Does XmlReader's additionalDetails.html needs to be extended as a new property has been introduced?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099289283/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099388809","html_url":"https://github.com/apache/nifi/pull/5949#issuecomment-1099388809","issue_url":"https://api.github.com/repos/apache/nifi/issues/5949","id":1099388809,"node_id":"IC_kwDOAanjsM5Bh1eJ","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-14T16:41:01Z","updated_at":"2022-04-14T16:41:01Z","author_association":"CONTRIBUTOR","body":"Sorry Nathan.  Didnt see your note.  But looks good and merged.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099388809/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099691252","html_url":"https://github.com/apache/nifi/pull/5969#issuecomment-1099691252","issue_url":"https://api.github.com/repos/apache/nifi/issues/5969","id":1099691252,"node_id":"IC_kwDOAanjsM5Bi_T0","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-14T22:38:09Z","updated_at":"2022-04-14T22:38:09Z","author_association":"CONTRIBUTOR","body":"This initial commit is intended as a WIP commit.  I plan to have another that follows.  But the next one is more adventurous/dangerous so wanted to keep it separate for now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1099691252/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1100975622","html_url":"https://github.com/apache/nifi/pull/5518#issuecomment-1100975622","issue_url":"https://api.github.com/repos/apache/nifi/issues/5518","id":1100975622,"node_id":"IC_kwDOAanjsM5Bn44G","user":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2022-04-18T00:15:04Z","updated_at":"2022-04-18T00:15:04Z","author_association":"NONE","body":"We're marking this PR as stale due to lack of updates in the past few months. If after another couple of weeks the stale label has not been removed this PR will be closed. This stale marker and eventual auto close does not indicate a judgement of the PR just lack of reviewer bandwidth and helps us keep the PR queue more manageable.  If you would like this PR re-opened you can do so and a committer can remove the stale tag.  Or you can open a new PR.  Try to help review other PRs to increase PR review bandwidth which in turn helps yours.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1100975622/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101593040","html_url":"https://github.com/apache/nifi/pull/5972#issuecomment-1101593040","issue_url":"https://api.github.com/repos/apache/nifi/issues/5972","id":1101593040,"node_id":"IC_kwDOAanjsM5BqPnQ","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-18T17:34:08Z","updated_at":"2022-04-18T17:34:08Z","author_association":"CONTRIBUTOR","body":"Cool PR, will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101593040/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101792688","html_url":"https://github.com/apache/nifi/pull/5972#issuecomment-1101792688","issue_url":"https://api.github.com/repos/apache/nifi/issues/5972","id":1101792688,"node_id":"IC_kwDOAanjsM5BrAWw","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-18T21:44:23Z","updated_at":"2022-04-18T21:44:23Z","author_association":"CONTRIBUTOR","body":"I've noticed that I had an issue running a secure cluster and NiFi cannot start successfully with my existing configurations (appears related to identity providers):\r\n\r\n`2022-04-18 16:50:35,325 ERROR [main] o.s.web.context.ContextLoader Context initialization failed\r\norg.springframework.beans.factory.BeanCreationException: Error creating bean with name 'loginIdentityProvider' defined in org.apache.nifi.web.security.configuration.AuthenticationSecurityConfiguration: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [java.lang.Object]: Factory method 'loginIdentityProvider' threw exception; nested exception is java.lang.ClassCastException: org.springframework.beans.factory.support.NullBean cannot be cast to org.apache.nifi.authentication.LoginIdentityProvider\r\n\tat org.springframework.beans.factory.support.ConstructorResolver.instantiate(ConstructorResolver.java:658)\r\n\tat org.springframework.beans.factory.support.ConstructorResolver.instantiateUsingFactoryMethod(ConstructorResolver.java:486)\r\n\tat org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.instantiateUsingFactoryMethod(AbstractAutowireCapableBeanFactory.java:1352)\r\n\tat org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBeanInstance(AbstractAutowireCapableBeanFactory.java:1195)\r\n\tat org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:582)\r\n\tat org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:542)\r\n\tat org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:335)\r\n\tat org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:234)\r\n\tat org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:333)\r\n\tat org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:208)\r\n\tat org.springframework.beans.factory.support.DefaultListableBeanFactory.preInstantiateSingletons(DefaultListableBeanFactory.java:953)\r\n\tat org.springframework.context.support.AbstractApplicationContext.finishBeanFactoryInitialization(AbstractApplicationContext.java:918)\r\n\tat org.springframework.context.support.AbstractApplicationContext.refresh(AbstractApplicationContext.java:583)\r\n\tat org.springframework.web.context.ContextLoader.configureAndRefreshWebApplicationContext(ContextLoader.java:401)\r\n\tat org.springframework.web.context.ContextLoader.initWebApplicationContext(ContextLoader.java:292)\r\n\tat org.springframework.web.context.ContextLoaderListener.contextInitialized(ContextLoaderListener.java:103)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.callContextInitialized(ContextHandler.java:1073)\r\n\tat org.eclipse.jetty.servlet.ServletContextHandler.callContextInitialized(ServletContextHandler.java:572)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.contextInitialized(ContextHandler.java:1002)\r\n\tat org.eclipse.jetty.servlet.ServletHandler.initialize(ServletHandler.java:746)\r\n\tat org.eclipse.jetty.servlet.ServletContextHandler.startContext(ServletContextHandler.java:379)\r\n\tat org.eclipse.jetty.webapp.WebAppContext.startWebapp(WebAppContext.java:1449)\r\n\tat org.eclipse.jetty.webapp.WebAppContext.startContext(WebAppContext.java:1414)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.doStart(ContextHandler.java:916)\r\n\tat org.eclipse.jetty.servlet.ServletContextHandler.doStart(ServletContextHandler.java:288)\r\n\tat org.eclipse.jetty.webapp.WebAppContext.doStart(WebAppContext.java:524)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:117)\r\n\tat org.eclipse.jetty.server.handler.AbstractHandler.doStart(AbstractHandler.java:97)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:110)\r\n\tat org.eclipse.jetty.server.handler.AbstractHandler.doStart(AbstractHandler.java:97)\r\n\tat org.eclipse.jetty.server.handler.gzip.GzipHandler.doStart(GzipHandler.java:426)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:117)\r\n\tat org.eclipse.jetty.server.handler.AbstractHandler.doStart(AbstractHandler.java:97)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:117)\r\n\tat org.eclipse.jetty.server.handler.AbstractHandler.doStart(AbstractHandler.java:97)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.start(ContainerLifeCycle.java:169)\r\n\tat org.eclipse.jetty.server.Server.start(Server.java:423)\r\n\tat org.eclipse.jetty.util.component.ContainerLifeCycle.doStart(ContainerLifeCycle.java:110)\r\n\tat org.eclipse.jetty.server.handler.AbstractHandler.doStart(AbstractHandler.java:97)\r\n\tat org.eclipse.jetty.server.Server.doStart(Server.java:387)\r\n\tat org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:73)\r\n\tat org.apache.nifi.web.server.JettyServer.start(JettyServer.java:1052)\r\n\tat org.apache.nifi.NiFi.<init>(NiFi.java:170)\r\n\tat org.apache.nifi.NiFi.<init>(NiFi.java:82)\r\n\tat org.apache.nifi.NiFi.main(NiFi.java:330)\r\nCaused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [java.lang.Object]: Factory method 'loginIdentityProvider' threw exception; nested exception is java.lang.ClassCastException: org.springframework.beans.factory.support.NullBean cannot be cast to org.apache.nifi.authentication.LoginIdentityProvider\r\n\tat org.springframework.beans.factory.support.SimpleInstantiationStrategy.instantiate(SimpleInstantiationStrategy.java:185)\r\n\tat org.springframework.beans.factory.support.ConstructorResolver.instantiate(ConstructorResolver.java:653)\r\n\t... 53 common frames omitted\r\nCaused by: java.lang.ClassCastException: org.springframework.beans.factory.support.NullBean cannot be cast to org.apache.nifi.authentication.LoginIdentityProvider\r\n\tat org.apache.nifi.web.security.spring.LoginIdentityProviderFactoryBean$$EnhancerBySpringCGLIB$$3e2a6f6e.getObject(<generated>)\r\n\tat org.apache.nifi.web.security.configuration.AuthenticationSecurityConfiguration.loginIdentityProvider(AuthenticationSecurityConfiguration.java:70)\r\n\tat org.apache.nifi.web.security.configuration.AuthenticationSecurityConfiguration$$EnhancerBySpringCGLIB$$a97fddc8.CGLIB$loginIdentityProvider$3(<generated>)\r\n\tat org.apache.nifi.web.security.configuration.AuthenticationSecurityConfiguration$$EnhancerBySpringCGLIB$$a97fddc8$$FastClassBySpringCGLIB$$6dfd4e89.invoke(<generated>)\r\n\tat org.springframework.cglib.proxy.MethodProxy.invokeSuper(MethodProxy.java:244)\r\n\tat org.springframework.context.annotation.ConfigurationClassEnhancer$BeanMethodInterceptor.intercept(ConfigurationClassEnhancer.java:331)\r\n\tat org.apache.nifi.web.security.configuration.AuthenticationSecurityConfiguration$$EnhancerBySpringCGLIB$$a97fddc8.loginIdentityProvider(<generated>)\r\n\tat sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\r\n\tat sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)\r\n\tat sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\r\n\tat java.lang.reflect.Method.invoke(Method.java:498)\r\n\tat org.springframework.beans.factory.support.SimpleInstantiationStrategy.instantiate(SimpleInstantiationStrategy.java:154)\r\n\t... 54 common frames omitted`","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101792688/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101795848","html_url":"https://github.com/apache/nifi/pull/5972#issuecomment-1101795848","issue_url":"https://api.github.com/repos/apache/nifi/issues/5972","id":1101795848,"node_id":"IC_kwDOAanjsM5BrBII","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-18T21:49:38Z","updated_at":"2022-04-18T21:49:38Z","author_association":"CONTRIBUTOR","body":"Thanks for catching that issue @thenatog! The problem is the result of having no Login Identity Providers configured, which makes sense when NiFi is deployed using Client Certificate authentication. It looks like the Factory Bean for the Login Identity Provider should retain the `Object` as the return type for the `getObject()` method in order to handle a `null` provider.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101795848/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101974229","html_url":"https://github.com/apache/nifi/pull/5972#issuecomment-1101974229","issue_url":"https://api.github.com/repos/apache/nifi/issues/5972","id":1101974229,"node_id":"IC_kwDOAanjsM5BrsrV","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-19T04:11:43Z","updated_at":"2022-04-19T04:11:43Z","author_association":"CONTRIBUTOR","body":"I've tested this with the single user provider and encrypted nifi.properties and flow.xml.gz, and with a 3 node secure cluster using X509. Also tested with LDAP which uses the LDAP login identity provider though the config was not encrypted. Also tested with Google OIDC (not sure if this would have been affected..)\r\n\r\nI'll leave this open for now if we have further feedback from others.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1101974229/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1103329859","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1103329859","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1103329859,"node_id":"IC_kwDOAanjsM5Bw3pD","user":{"login":"senderic","id":5004148,"node_id":"MDQ6VXNlcjUwMDQxNDg=","avatar_url":"https://avatars.githubusercontent.com/u/5004148?v=4","gravatar_id":"","url":"https://api.github.com/users/senderic","html_url":"https://github.com/senderic","followers_url":"https://api.github.com/users/senderic/followers","following_url":"https://api.github.com/users/senderic/following{/other_user}","gists_url":"https://api.github.com/users/senderic/gists{/gist_id}","starred_url":"https://api.github.com/users/senderic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/senderic/subscriptions","organizations_url":"https://api.github.com/users/senderic/orgs","repos_url":"https://api.github.com/users/senderic/repos","events_url":"https://api.github.com/users/senderic/events{/privacy}","received_events_url":"https://api.github.com/users/senderic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T01:20:29Z","updated_at":"2022-04-20T01:20:29Z","author_association":"NONE","body":"I proposed some code to fix this #5981","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1103329859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1103956119","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1103956119","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1103956119,"node_id":"IC_kwDOAanjsM5BzQiX","user":{"login":"nandorsoma","id":11146937,"node_id":"MDQ6VXNlcjExMTQ2OTM3","avatar_url":"https://avatars.githubusercontent.com/u/11146937?v=4","gravatar_id":"","url":"https://api.github.com/users/nandorsoma","html_url":"https://github.com/nandorsoma","followers_url":"https://api.github.com/users/nandorsoma/followers","following_url":"https://api.github.com/users/nandorsoma/following{/other_user}","gists_url":"https://api.github.com/users/nandorsoma/gists{/gist_id}","starred_url":"https://api.github.com/users/nandorsoma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nandorsoma/subscriptions","organizations_url":"https://api.github.com/users/nandorsoma/orgs","repos_url":"https://api.github.com/users/nandorsoma/repos","events_url":"https://api.github.com/users/nandorsoma/events{/privacy}","received_events_url":"https://api.github.com/users/nandorsoma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T13:49:27Z","updated_at":"2022-04-20T13:49:27Z","author_association":"CONTRIBUTOR","body":"Hey @patalwell ! Sorry for the delay, I'll review this today or in worst case tomorrow!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1103956119/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104061751","html_url":"https://github.com/apache/nifi/pull/5980#issuecomment-1104061751","issue_url":"https://api.github.com/repos/apache/nifi/issues/5980","id":1104061751,"node_id":"IC_kwDOAanjsM5BzqU3","user":{"login":"greyp9","id":14890693,"node_id":"MDQ6VXNlcjE0ODkwNjkz","avatar_url":"https://avatars.githubusercontent.com/u/14890693?v=4","gravatar_id":"","url":"https://api.github.com/users/greyp9","html_url":"https://github.com/greyp9","followers_url":"https://api.github.com/users/greyp9/followers","following_url":"https://api.github.com/users/greyp9/following{/other_user}","gists_url":"https://api.github.com/users/greyp9/gists{/gist_id}","starred_url":"https://api.github.com/users/greyp9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/greyp9/subscriptions","organizations_url":"https://api.github.com/users/greyp9/orgs","repos_url":"https://api.github.com/users/greyp9/repos","events_url":"https://api.github.com/users/greyp9/events{/privacy}","received_events_url":"https://api.github.com/users/greyp9/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T15:23:02Z","updated_at":"2022-04-20T15:23:02Z","author_association":"CONTRIBUTOR","body":"Put this in the ticket; I'll also put it here.  Useful one-liner to test new module behavior:\r\n\r\n```\r\nexport NIFI_CI_LOCALE=\"-Duser.language=ja -Duser.country=JP\" && export SUREFIRE_OPTS=\"-Duser.language=ja -Duser.country=JP -Duser.region=JP -Duser.timezone=Asia/Tokyo\" && export MAVEN_OPTS=\"-DargLine=\\${env.SUREFIRE_OPTS}\" && mvn clean install -pl :nifi-build\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104061751/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104130808","html_url":"https://github.com/apache/nifi/pull/5980#issuecomment-1104130808","issue_url":"https://api.github.com/repos/apache/nifi/issues/5980","id":1104130808,"node_id":"IC_kwDOAanjsM5Bz7L4","user":{"login":"szaszm","id":1170582,"node_id":"MDQ6VXNlcjExNzA1ODI=","avatar_url":"https://avatars.githubusercontent.com/u/1170582?v=4","gravatar_id":"","url":"https://api.github.com/users/szaszm","html_url":"https://github.com/szaszm","followers_url":"https://api.github.com/users/szaszm/followers","following_url":"https://api.github.com/users/szaszm/following{/other_user}","gists_url":"https://api.github.com/users/szaszm/gists{/gist_id}","starred_url":"https://api.github.com/users/szaszm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/szaszm/subscriptions","organizations_url":"https://api.github.com/users/szaszm/orgs","repos_url":"https://api.github.com/users/szaszm/repos","events_url":"https://api.github.com/users/szaszm/events{/privacy}","received_events_url":"https://api.github.com/users/szaszm/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T16:20:34Z","updated_at":"2022-04-20T16:20:34Z","author_association":"MEMBER","body":"I can confirm that nifi now builds on Ubuntu 20.04 LTS with Java 8 and `LANG=C.UTF-8`.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104130808/reactions","total_count":2,"+1":0,"-1":0,"laugh":0,"hooray":2,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104168355","html_url":"https://github.com/apache/nifi/pull/5983#issuecomment-1104168355","issue_url":"https://api.github.com/repos/apache/nifi/issues/5983","id":1104168355,"node_id":"IC_kwDOAanjsM5B0EWj","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T16:47:35Z","updated_at":"2022-04-20T16:47:35Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104168355/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104209602","html_url":"https://github.com/apache/nifi/pull/5802#issuecomment-1104209602","issue_url":"https://api.github.com/repos/apache/nifi/issues/5802","id":1104209602,"node_id":"IC_kwDOAanjsM5B0ObC","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T17:20:45Z","updated_at":"2022-04-20T17:20:45Z","author_association":"CONTRIBUTOR","body":"Thank you for the review @exceptionfactory !","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104209602/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104241015","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1104241015","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1104241015,"node_id":"IC_kwDOAanjsM5B0WF3","user":{"login":"senderic","id":5004148,"node_id":"MDQ6VXNlcjUwMDQxNDg=","avatar_url":"https://avatars.githubusercontent.com/u/5004148?v=4","gravatar_id":"","url":"https://api.github.com/users/senderic","html_url":"https://github.com/senderic","followers_url":"https://api.github.com/users/senderic/followers","following_url":"https://api.github.com/users/senderic/following{/other_user}","gists_url":"https://api.github.com/users/senderic/gists{/gist_id}","starred_url":"https://api.github.com/users/senderic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/senderic/subscriptions","organizations_url":"https://api.github.com/users/senderic/orgs","repos_url":"https://api.github.com/users/senderic/repos","events_url":"https://api.github.com/users/senderic/events{/privacy}","received_events_url":"https://api.github.com/users/senderic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T17:49:14Z","updated_at":"2022-04-20T17:49:14Z","author_association":"NONE","body":"By the way, I notice the GetSNMP has us fill out the user information in the config directly like this:\r\n\r\n![image](https://user-images.githubusercontent.com/5004148/164291489-a1a94c3f-7ebd-4d91-99c7-b04d652a7e11.png)\r\n\r\nSo, my question is why do the ListenTrapSNMP require a user conf file? Why the different method?\r\n\r\n![image](https://user-images.githubusercontent.com/5004148/164291802-59ca069d-2039-4ec1-a64e-d13b24aa5fb5.png)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104241015/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104248945","html_url":"https://github.com/apache/nifi/pull/5925#issuecomment-1104248945","issue_url":"https://api.github.com/repos/apache/nifi/issues/5925","id":1104248945,"node_id":"IC_kwDOAanjsM5B0YBx","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T17:56:42Z","updated_at":"2022-04-20T17:56:42Z","author_association":"CONTRIBUTOR","body":"Thanks @turcsanyip . That's a good catch. We can't really add the classes found in .class files because we don't know what the fully qualified class name is. We do know if it's found in a .jar or a .jmod file. Good news is that it doesn't really matter, as it's only used to detect classes that are part of Java itself, and Java packages all of their classes uses the appropriate packing mechanisms (.jmod / .jar) - at least in every case I've found. Hard to imagine that they wouldn't.\r\n\r\nSo I removed the .class from the list of things we add to the 'loadable files'. I think this is fine and addresses the mismatch between the two. I also rebased as there was a conflict with main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104248945/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104363344","html_url":"https://github.com/apache/nifi/pull/5088#issuecomment-1104363344","issue_url":"https://api.github.com/repos/apache/nifi/issues/5088","id":1104363344,"node_id":"IC_kwDOAanjsM5B0z9Q","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T19:15:06Z","updated_at":"2022-04-20T19:15:06Z","author_association":"CONTRIBUTOR","body":"Hi @esend7881 ,\r\nThanks for the PR, I'll take a look at it next week. In case of snmpv3 a USM (User-based Security Model) is associated with an snmp4j Snmp instance.\r\n* GetSNMP queries information from an agent so it provides a single username/security name for authentication. This will be verified by the agent's SNMP engine (users must be set in the agent's configuration in case of v3)\r\n* ListenTrapSNMP listens to SNMP Trap messages which can be received from several agents/snmp applications, so the USM can be defined in a json since you can add several users with different security settings.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104363344/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104366019","html_url":"https://github.com/apache/nifi/pull/5981#issuecomment-1104366019","issue_url":"https://api.github.com/repos/apache/nifi/issues/5981","id":1104366019,"node_id":"IC_kwDOAanjsM5B00nD","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T19:17:51Z","updated_at":"2022-04-20T19:17:51Z","author_association":"CONTRIBUTOR","body":"Will review.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104366019/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104540705","html_url":"https://github.com/apache/nifi/pull/5905#issuecomment-1104540705","issue_url":"https://api.github.com/repos/apache/nifi/issues/5905","id":1104540705,"node_id":"IC_kwDOAanjsM5B1fQh","user":{"login":"patalwell","id":14829023,"node_id":"MDQ6VXNlcjE0ODI5MDIz","avatar_url":"https://avatars.githubusercontent.com/u/14829023?v=4","gravatar_id":"","url":"https://api.github.com/users/patalwell","html_url":"https://github.com/patalwell","followers_url":"https://api.github.com/users/patalwell/followers","following_url":"https://api.github.com/users/patalwell/following{/other_user}","gists_url":"https://api.github.com/users/patalwell/gists{/gist_id}","starred_url":"https://api.github.com/users/patalwell/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patalwell/subscriptions","organizations_url":"https://api.github.com/users/patalwell/orgs","repos_url":"https://api.github.com/users/patalwell/repos","events_url":"https://api.github.com/users/patalwell/events{/privacy}","received_events_url":"https://api.github.com/users/patalwell/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-20T23:14:05Z","updated_at":"2022-04-20T23:14:05Z","author_association":"CONTRIBUTOR","body":"@nandorsoma wicked! no worries!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1104540705/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105189333","html_url":"https://github.com/apache/nifi/pull/5979#issuecomment-1105189333","issue_url":"https://api.github.com/repos/apache/nifi/issues/5979","id":1105189333,"node_id":"IC_kwDOAanjsM5B39nV","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-21T13:12:16Z","updated_at":"2022-04-21T13:12:16Z","author_association":"CONTRIBUTOR","body":"THanks @ravinarayansingh looks good, merged to main. Thanks for fixing that!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105189333/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105290433","html_url":"https://github.com/apache/nifi/pull/5983#issuecomment-1105290433","issue_url":"https://api.github.com/repos/apache/nifi/issues/5983","id":1105290433,"node_id":"IC_kwDOAanjsM5B4WTB","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-21T14:27:01Z","updated_at":"2022-04-21T14:27:01Z","author_association":"CONTRIBUTOR","body":"Looks good, going to merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105290433/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105598619","html_url":"https://github.com/apache/nifi/pull/5985#issuecomment-1105598619","issue_url":"https://api.github.com/repos/apache/nifi/issues/5985","id":1105598619,"node_id":"IC_kwDOAanjsM5B5hib","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-21T18:19:17Z","updated_at":"2022-04-21T18:19:17Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the fix! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105598619/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105653075","html_url":"https://github.com/apache/nifi/pull/5988#issuecomment-1105653075","issue_url":"https://api.github.com/repos/apache/nifi/issues/5988","id":1105653075,"node_id":"IC_kwDOAanjsM5B5u1T","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-21T19:10:31Z","updated_at":"2022-04-21T19:10:31Z","author_association":"CONTRIBUTOR","body":"reviewed code changes and all very welcome.  Running a full clean build/contrib check now","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105653075/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105922280","html_url":"https://github.com/apache/nifi/pull/5989#issuecomment-1105922280","issue_url":"https://api.github.com/repos/apache/nifi/issues/5989","id":1105922280,"node_id":"IC_kwDOAanjsM5B6wjo","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-04-22T01:49:35Z","updated_at":"2022-04-22T01:49:35Z","author_association":"CONTRIBUTOR","body":"Will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1105922280/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]