data/github-comments/apache-NiFi-96-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416244384","html_url":"https://github.com/apache/nifi/pull/2948#issuecomment-416244384","issue_url":"https://api.github.com/repos/apache/nifi/issues/2948","id":416244384,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI0NDM4NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T14:25:17Z","updated_at":"2018-08-27T14:25:17Z","author_association":"CONTRIBUTOR","body":"If we haven't already, we might want to mark the 0.8 support as `@Deprecated` so we can end of life it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416244384/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416247589","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-416247589","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":416247589,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI0NzU4OQ==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T14:34:48Z","updated_at":"2018-08-27T14:34:48Z","author_association":"CONTRIBUTOR","body":"@mans2singh I'm not sure how to test this.  I don't use/have neo4j.  If you know a reviewer who does, you may want to tag them.  I won't be able to review without some testing instructions in the PR, including simple running of neo4j with data to test statements against.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416247589/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416253018","html_url":"https://github.com/apache/nifi/pull/2964#issuecomment-416253018","issue_url":"https://api.github.com/repos/apache/nifi/issues/2964","id":416253018,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI1MzAxOA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T14:51:13Z","updated_at":"2018-08-27T14:51:13Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @markap14 ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416253018/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416264499","html_url":"https://github.com/apache/nifi/pull/2957#issuecomment-416264499","issue_url":"https://api.github.com/repos/apache/nifi/issues/2957","id":416264499,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI2NDQ5OQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T15:25:03Z","updated_at":"2018-08-27T15:25:03Z","author_association":"CONTRIBUTOR","body":"Thanks @markobean! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416264499/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416267623","html_url":"https://github.com/apache/nifi/pull/2138#issuecomment-416267623","issue_url":"https://api.github.com/repos/apache/nifi/issues/2138","id":416267623,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI2NzYyMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T15:34:46Z","updated_at":"2018-08-27T15:34:46Z","author_association":"CONTRIBUTOR","body":"finally got time to get back on this one... if you want to have another look @mattyb149 \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416267623/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416296908","html_url":"https://github.com/apache/nifi/pull/2968#issuecomment-416296908","issue_url":"https://api.github.com/repos/apache/nifi/issues/2968","id":416296908,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjI5NjkwOA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-27T17:09:55Z","updated_at":"2018-08-27T17:09:55Z","author_association":"CONTRIBUTOR","body":"I tested to make sure it didn't regress normal working with the Web Api Gateway processor, but that processor doesn't modify the endpoint post client creation anyway.  Works fine, no regression from this, as expected.\r\n\r\nI'm afraid I don't have a setup for testing the rest :(\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416296908/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416466029","html_url":"https://github.com/apache/nifi/pull/2961#issuecomment-416466029","issue_url":"https://api.github.com/repos/apache/nifi/issues/2961","id":416466029,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjQ2NjAyOQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-28T06:26:47Z","updated_at":"2018-08-28T06:26:47Z","author_association":"MEMBER","body":"@mcgilman I've confirmed that NiFi Websocket component uses the updated Jetty version and works without issue. I'm a +1 on this, too. Thanks for this fix, merging!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416466029/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416608496","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416608496","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416608496,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjYwODQ5Ng==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-28T14:33:41Z","updated_at":"2018-08-28T14:33:41Z","author_association":"CONTRIBUTOR","body":"@pepov @mcgilman new PR where we authorize the node group rather than its users. Please take a look when you get a chance.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416608496/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416630343","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416630343","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416630343,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjYzMDM0Mw==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-28T15:27:08Z","updated_at":"2018-08-28T15:27:08Z","author_association":"CONTRIBUTOR","body":"+1 looks good to me now","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416630343/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416650455","html_url":"https://github.com/apache/nifi/pull/2971#issuecomment-416650455","issue_url":"https://api.github.com/repos/apache/nifi/issues/2971","id":416650455,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjY1MDQ1NQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-28T16:23:22Z","updated_at":"2018-08-28T16:23:22Z","author_association":"CONTRIBUTOR","body":"@ekovacs thanks for your contribution.  Are we sure there is no other course for us than to parse the exception cause for this case?  If not, that is unfortunate but ok.  The other question then is if this is a particular case we need the HDFS client to tell us have we asked the Hadoop community to improve this or filed a JIRA to that effect?  If not we definitely should so that we can check this in the future in a way that is safer/more reliable.  Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416650455/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416694077","html_url":"https://github.com/apache/nifi/pull/2833#issuecomment-416694077","issue_url":"https://api.github.com/repos/apache/nifi/issues/2833","id":416694077,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjY5NDA3Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-28T18:33:31Z","updated_at":"2018-08-28T18:33:31Z","author_association":"CONTRIBUTOR","body":"@mattyb149  thanks for the updates! This is looking much better now. Was able to run through some simple test cases and everything appears to work as expected. +1 merged to master!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416694077/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416808425","html_url":"https://github.com/apache/nifi/pull/2972#issuecomment-416808425","issue_url":"https://api.github.com/repos/apache/nifi/issues/2972","id":416808425,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjgwODQyNQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T03:03:42Z","updated_at":"2018-08-29T03:03:42Z","author_association":"CONTRIBUTOR","body":"The issue that was encountered by some users was that the previous mechanism for creating a test `NiFiProperties` instance was `NiFiProperties.createBasicNiFiProperties(String filePath, Map<String, String> additionalProperties)`. When provided a `null` file path, the code tried to use `System.getProperty(\"nifi.properties.file.path\")` to locate the `nifi.properties` file. On my machine, the test code which was evaluating the _empty key_ scenario returned an empty `NiFiProperties` instance with only the overridden properties populated, but on other machines, this code was loading the properties from `src/test/resources/conf/nifi.properties` where the `nifi.sensitive.props.key=key`. Because of this, the two passwords were not equal, and the keys derived from them were different. When you attempt to decrypt data with the wrong key, a `pad block corrupted` error is common. \r\n\r\nThe tests still work for me in the following scenarios, so I need a user who encountered the error to validate that this fixes the issue on their system. \r\n\r\n* via IntelliJ Run/Debug\r\n* via IntelliJ Maven execution\r\n* via command-line Maven execution\r\n  * specific test using `mvn clean test -Dtest=PopularVoteFlowElectionFactoryBeanTest`\r\n  * module using `.../nifi-framework-cluster $ mvn clean test`\r\n  * full build from root\r\n* with JCE Unlimited Strength Jurisdiction Policies\r\n* without JCE USJP","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416808425/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416871369","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416871369","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416871369,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjg3MTM2OQ==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T08:33:17Z","updated_at":"2018-08-29T08:33:17Z","author_association":"CONTRIBUTOR","body":"Thanks for pointing this out! Of course we need identity here, but if I'm right `identity` is called `name` in case of groups. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416871369/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416914709","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-416914709","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":416914709,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjkxNDcwOQ==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T11:09:07Z","updated_at":"2018-08-29T11:09:07Z","author_association":"CONTRIBUTOR","body":"@alopresto, just a ping.  It has been a while","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416914709/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416932093","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416932093","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416932093,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjkzMjA5Mw==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T12:19:38Z","updated_at":"2018-08-29T12:19:38Z","author_association":"CONTRIBUTOR","body":"Ok, thanks @pepov -- that clears up the intention of these changes to me. \r\n\r\nFor naming of variables/properties I'm good with either _identity_ or _name_, as you suggest - both are clear to me and distinct from _identifier_. I was more concerned with the usage of the method `UserGroupProvider.getGroup(String groupIdentifier)`, which will  will have to change if the value is not actually an identifier. \r\n\r\nFor accessing users, the [UserGroupProvider](https://github.com/apache/nifi/blob/master/nifi-framework-api/src/main/java/org/apache/nifi/authorization/UserGroupProvider.java) interface provides both `getUser(String identifier)` and `getUserByIdentity(String identity)` methods. I don't see an equivalent method for groups that is a lookup by name/identity, so you'll have to work around that.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416932093/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416937324","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416937324","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416937324,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjkzNzMyNA==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T12:38:32Z","updated_at":"2018-08-29T12:38:32Z","author_association":"CONTRIBUTOR","body":"I'm not trying to suggest naming just to point out that the Group has the `name` property instead of the `identity` that the User has. The workaround should be as simple as looping through the groups and finding the one with a matching name, am I right?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416937324/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416954120","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416954120","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416954120,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjk1NDEyMA==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T13:31:00Z","updated_at":"2018-08-29T13:31:00Z","author_association":"CONTRIBUTOR","body":"Yes, that should work fine to lookup group by name. Good point regarding the field name of the Group object. Thanks for looking into this!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416954120/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416978988","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-416978988","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":416978988,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjk3ODk4OA==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T14:41:13Z","updated_at":"2018-08-29T14:41:13Z","author_association":"CONTRIBUTOR","body":"@pepov @kevdoran thanks for the feedback. I'll update the docs to reflect the property change, and update the code to reflect that the group name is provided and look up the group identifier accordingly.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416978988/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416982522","html_url":"https://github.com/apache/nifi/pull/2972#issuecomment-416982522","issue_url":"https://api.github.com/repos/apache/nifi/issues/2972","id":416982522,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjk4MjUyMg==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T14:50:54Z","updated_at":"2018-08-29T14:50:54Z","author_association":"CONTRIBUTOR","body":"./nifi-framework-cluster\r\nmvn clean test -Dtest=PopularVoteFlowElectionFactoryBeanTest\r\n\r\n[INFO] Results:\r\n[INFO] \r\n[INFO] Tests run: 2, Failures: 0, Errors: 0, Skipped: 0\r\n\r\n./nifi-framework-cluster mvn clean test\r\n\r\n[INFO] Results:\r\n[INFO] \r\n[INFO] Tests run: 94, Failures: 0, Errors: 0, Skipped: 0\r\n\r\n./nifi\r\nmvn clean install -T4 -Pinclude-grpc\r\n\r\n[INFO] ------------------------------------------------------------------------\r\n[INFO] BUILD SUCCESS\r\n[INFO] ------------------------------------------------------------------------\r\n[INFO] Total time: 10:49 min (Wall Clock)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416982522/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416990977","html_url":"https://github.com/apache/nifi/pull/2966#issuecomment-416990977","issue_url":"https://api.github.com/repos/apache/nifi/issues/2966","id":416990977,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNjk5MDk3Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T15:14:26Z","updated_at":"2018-08-29T15:14:26Z","author_association":"CONTRIBUTOR","body":"Hey @pvillard31 thanks for putting up a PR! I looked through it, and I do believe that it would resolve the issue that is being described in NIFI-5552. However, I'm not entirely sure that this is the best approach. This approach is adding property to the CSV Reader that are very much tailored toward Avro. I think the better approach would be to instead update the WriteAvroSchemaAttributeStrategy and AvroTypeUtil classes to normalize the names as necessary, so that Avro-related concerns are confined to the Avro-specific strategy.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/416990977/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417038945","html_url":"https://github.com/apache/nifi/pull/2971#issuecomment-417038945","issue_url":"https://api.github.com/repos/apache/nifi/issues/2971","id":417038945,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzAzODk0NQ==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T17:33:26Z","updated_at":"2018-08-29T17:33:26Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417038945/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417080734","html_url":"https://github.com/apache/nifi/pull/2881#issuecomment-417080734","issue_url":"https://api.github.com/repos/apache/nifi/issues/2881","id":417080734,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzA4MDczNA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T19:44:22Z","updated_at":"2018-08-29T19:44:22Z","author_association":"CONTRIBUTOR","body":"@zenfenan @mattyb149 can we close this?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417080734/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417081786","html_url":"https://github.com/apache/nifi/pull/2615#issuecomment-417081786","issue_url":"https://api.github.com/repos/apache/nifi/issues/2615","id":417081786,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzA4MTc4Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T19:47:40Z","updated_at":"2018-08-29T19:47:40Z","author_association":"CONTRIBUTOR","body":"@mattyb149 can we merge?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417081786/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417117776","html_url":"https://github.com/apache/nifi/pull/2972#issuecomment-417117776","issue_url":"https://api.github.com/repos/apache/nifi/issues/2972","id":417117776,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzExNzc3Ng==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T21:49:36Z","updated_at":"2018-08-29T21:49:36Z","author_association":"CONTRIBUTOR","body":"Merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417117776/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417120217","html_url":"https://github.com/apache/nifi/pull/2975#issuecomment-417120217","issue_url":"https://api.github.com/repos/apache/nifi/issues/2975","id":417120217,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzEyMDIxNw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T21:59:01Z","updated_at":"2018-08-29T21:59:01Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417120217/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417131666","html_url":"https://github.com/apache/nifi/pull/2975#issuecomment-417131666","issue_url":"https://api.github.com/repos/apache/nifi/issues/2975","id":417131666,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzEzMTY2Ng==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-29T22:47:16Z","updated_at":"2018-08-29T22:47:16Z","author_association":"CONTRIBUTOR","body":"Ran `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417131666/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417185477","html_url":"https://github.com/apache/nifi/pull/2973#issuecomment-417185477","issue_url":"https://api.github.com/repos/apache/nifi/issues/2973","id":417185477,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzE4NTQ3Nw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T04:22:53Z","updated_at":"2018-08-30T04:22:53Z","author_association":"CONTRIBUTOR","body":"I created a flow which uses 3 `GenerateFlowFile` processors (named _Component A_, _Component A_, and _Component A (B)_) to evaluate the new filtering behavior. Each generates a flowfile with the content and _source_ attribute indicating the source (for the 2nd processor, the message & attribute refer to _Component A (2)_). I exercised the `SiteToSiteProvenanceReportingTask` with no accept/deny list, then only an accept value, then both. The functionality worked as expected; explicit deny overrode allow (see screenshot). \r\n\r\n![Accept and Deny values](https://user-images.githubusercontent.com/798465/44829414-99b39d80-abd1-11e8-8d60-50205d951ce6.png)\r\n\r\nThe template is [available here](https://gist.github.com/alopresto/b78ec5da5482f4af7f88faf7eeefd3b7). ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417185477/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417257737","html_url":"https://github.com/apache/nifi/pull/2966#issuecomment-417257737","issue_url":"https://api.github.com/repos/apache/nifi/issues/2966","id":417257737,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzI1NzczNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T09:40:58Z","updated_at":"2018-08-30T09:40:58Z","author_association":"CONTRIBUTOR","body":"Hey @markap14 - thanks for the review. You're right, it's much better to address it when creating the Avro schema. That would prevent this error to happen again if one day we add a Reader for a format that would accept non Avro compatible field names.\r\n\r\nJust a quick remark. Initially in ``AvroTypeUtil`` I just wanted to change L123 from:\r\n````java\r\nfinal Field field = new Field(recordField.getFieldName(), schema, null, recordField.getDefaultValue());\r\n````\r\nto\r\n````java\r\nfinal Field field = new Field(normalizeNameForAvro(recordField.getFieldName()), schema, null, recordField.getDefaultValue());\r\n````\r\n\r\nBut not sure changing the name just here is really a good idea and if it's not going to break some things in other places. In the end, I changed all the occurrences of ``recordField.getFieldName()`` to normalize the name. Thoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417257737/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417275936","html_url":"https://github.com/apache/nifi/pull/2915#issuecomment-417275936","issue_url":"https://api.github.com/repos/apache/nifi/issues/2915","id":417275936,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzI3NTkzNg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T10:47:45Z","updated_at":"2018-08-30T10:47:45Z","author_association":"CONTRIBUTOR","body":"@zenfenan the consumer one has input forbidden on it, so you won't get flowfiles there. For the publisher, my guess is it's probably being conservative about reconfiguring the producers, which isn't a bad call IMO.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417275936/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417286541","html_url":"https://github.com/apache/nifi/pull/2973#issuecomment-417286541","issue_url":"https://api.github.com/repos/apache/nifi/issues/2973","id":417286541,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzI4NjU0MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T11:29:40Z","updated_at":"2018-08-30T11:29:40Z","author_association":"CONTRIBUTOR","body":"Added VR scope on properties and fixed indentation to have the same everywhere. To see the changes and masking the indentation changes: https://github.com/apache/nifi/pull/2973/files?w=1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417286541/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417296077","html_url":"https://github.com/apache/nifi/pull/2948#issuecomment-417296077","issue_url":"https://api.github.com/repos/apache/nifi/issues/2948","id":417296077,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzI5NjA3Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T12:07:39Z","updated_at":"2018-08-30T12:07:39Z","author_association":"CONTRIBUTOR","body":"Now #2915 is merged, the same should probably be included in this PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417296077/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417313680","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417313680","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417313680,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzMxMzY4MA==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T13:10:35Z","updated_at":"2018-08-30T13:10:35Z","author_association":"CONTRIBUTOR","body":"@kevdoran @pepov it's now looking up group ID from the given name. Unit test updated to reflect such, and docs updated to reflect the new property.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417313680/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417325733","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417325733","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417325733,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzMyNTczMw==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T13:48:16Z","updated_at":"2018-08-30T13:48:16Z","author_association":"CONTRIBUTOR","body":"Some unit tests are failing according to the travis build that are relevant:\r\n```\r\n[ERROR] testOnConfiguredWhenInitialAdminAndLegacyUsersProvided(org.apache.nifi.authorization.FileAccessPolicyProviderTest)  Time elapsed: 0.114 s  <<< ERROR!\r\njava.lang.Exception: Unexpected exception, expected<org.apache.nifi.authorization.exception.AuthorizerCreationException> but was<java.lang.NullPointerException>\r\n\tat org.apache.nifi.authorization.FileAccessPolicyProviderTest.testOnConfiguredWhenInitialAdminAndLegacyUsersProvided(FileAccessPolicyProviderTest.java:523)\r\n\r\n[ERROR] testOnConfiguredWhenBadLegacyUsersFileProvided(org.apache.nifi.authorization.FileAccessPolicyProviderTest)  Time elapsed: 0.036 s  <<< ERROR!\r\njava.lang.Exception: Unexpected exception, expected<org.apache.nifi.authorization.exception.AuthorizerCreationException> but was<java.lang.NullPointerException>\r\n\tat org.apache.nifi.authorization.FileAccessPolicyProviderTest.testOnConfiguredWhenBadLegacyUsersFileProvided(FileAccessPolicyProviderTest.java:509)\r\n```\r\nhttps://api.travis-ci.org/v3/job/422545351/log.txt","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417325733/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417326935","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417326935","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417326935,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzMyNjkzNQ==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T13:51:53Z","updated_at":"2018-08-30T13:51:53Z","author_association":"CONTRIBUTOR","body":"The group id lookup logic was running even if group name was not specified. Fixed that. All tests are passing locally.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417326935/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417382292","html_url":"https://github.com/apache/nifi/pull/2976#issuecomment-417382292","issue_url":"https://api.github.com/repos/apache/nifi/issues/2976","id":417382292,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzM4MjI5Mg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T16:30:14Z","updated_at":"2018-08-30T16:30:14Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417382292/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417392957","html_url":"https://github.com/apache/nifi/pull/2973#issuecomment-417392957","issue_url":"https://api.github.com/repos/apache/nifi/issues/2973","id":417392957,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzM5Mjk1Nw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T17:02:12Z","updated_at":"2018-08-30T17:02:12Z","author_association":"CONTRIBUTOR","body":"Thanks Pierre. Running a final check and will merge. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417392957/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417408211","html_url":"https://github.com/apache/nifi/pull/2966#issuecomment-417408211","issue_url":"https://api.github.com/repos/apache/nifi/issues/2966","id":417408211,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzQwODIxMQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T17:48:31Z","updated_at":"2018-08-30T17:48:31Z","author_association":"CONTRIBUTOR","body":"@pvillard31 we don't want to change `recordField.getFieldName()` - that is the NiFi class and has nothing to do with Avro. We really want to avoid enforcing any Avro naming peculiarities on NiFi - we should only enforce them for Avro, so I think the `AvroTypeUtil` is the right place to put this. You should not need to worry about breaking backward compatibility, because the `normalizeNameForAvro` method should make no changes to the name unless the name is invalid - in which case it would have thrown an Exception previously.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417408211/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417436021","html_url":"https://github.com/apache/nifi/pull/2976#issuecomment-417436021","issue_url":"https://api.github.com/repos/apache/nifi/issues/2976","id":417436021,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzQzNjAyMQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T19:18:18Z","updated_at":"2018-08-30T19:18:18Z","author_association":"CONTRIBUTOR","body":"Ran `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417436021/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417444698","html_url":"https://github.com/apache/nifi/pull/2968#issuecomment-417444698","issue_url":"https://api.github.com/repos/apache/nifi/issues/2968","id":417444698,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzQ0NDY5OA==","user":{"login":"qhisky9","id":6655255,"node_id":"MDQ6VXNlcjY2NTUyNTU=","avatar_url":"https://avatars.githubusercontent.com/u/6655255?v=4","gravatar_id":"","url":"https://api.github.com/users/qhisky9","html_url":"https://github.com/qhisky9","followers_url":"https://api.github.com/users/qhisky9/followers","following_url":"https://api.github.com/users/qhisky9/following{/other_user}","gists_url":"https://api.github.com/users/qhisky9/gists{/gist_id}","starred_url":"https://api.github.com/users/qhisky9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/qhisky9/subscriptions","organizations_url":"https://api.github.com/users/qhisky9/orgs","repos_url":"https://api.github.com/users/qhisky9/repos","events_url":"https://api.github.com/users/qhisky9/events{/privacy}","received_events_url":"https://api.github.com/users/qhisky9/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-30T19:46:54Z","updated_at":"2018-08-30T19:47:12Z","author_association":"NONE","body":"Great, I'll give this patch a try this weekend. Thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417444698/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417559219","html_url":"https://github.com/apache/nifi/pull/2943#issuecomment-417559219","issue_url":"https://api.github.com/repos/apache/nifi/issues/2943","id":417559219,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzU1OTIxOQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T05:51:28Z","updated_at":"2018-08-31T05:51:28Z","author_association":"MEMBER","body":"Hello @jugi92 , thank you very much for your contribution. I stumble upon the same needs and wanted to merged this urgently. Currently, GCP processors do not work if they run on a server which doesn't have direct internet connection and requires forward proxy to go out. Because GCPCredentialControllerService doesn't support proxy configuration.\r\n\r\nI am going to create my own PR based on your commit to fix the conflict. I will review your change at the same time and make change if necessary. I hope this approach helps the PR to get merged quickly. Will update you once the new PR is ready. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417559219/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417576762","html_url":"https://github.com/apache/nifi/pull/2980#issuecomment-417576762","issue_url":"https://api.github.com/repos/apache/nifi/issues/2980","id":417576762,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzU3Njc2Mg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T07:23:43Z","updated_at":"2018-08-31T07:23:43Z","author_association":"CONTRIBUTOR","body":"This encapsulates the changes @ottobackwards made in [PR 2836](https://github.com/apache/nifi/pull/2836), but also:\r\n* Adds the *SHA-224, SHA-512/224, SHA-512/256, SHA-3 (SHA3-224, SHA3-256, SHA3-384, SHA3-512)*, and *BLAKE2 (BLAKE2-160, BLAKE2-256, BLAKE2-384, BLAKE2-512)* functions\r\n* Moves the hashing functionality into an enum and service which can be reused by `HashContent`\r\n* Clearly marks cryptographically broken algorithms as such\r\n* Adds unit tests\r\n\r\nI will open follow-on issues to:\r\n1. Add documentation to `HashAttribute` to explain the different scenarios where these processors are used\r\n1. Refactor `HashContent` to use the `HashService`","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417576762/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417647722","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-417647722","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":417647722,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY0NzcyMg==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T12:24:11Z","updated_at":"2018-08-31T12:24:11Z","author_association":"CONTRIBUTOR","body":"Rebased on master, and fixed typos","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417647722/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417650180","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417650180","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417650180,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY1MDE4MA==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T12:34:57Z","updated_at":"2018-08-31T12:34:57Z","author_association":"CONTRIBUTOR","body":"Nitpicking but now we do 2 lookups. First we look up the group to get the identifier then we lookup the same group using that identifier. I beleive it would be enough to store the group name property and look it up in the populateNodes method only, but this is nitpicking, since there is no performance or memory penalty in it, so overall this looks good to me.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417650180/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417661014","html_url":"https://github.com/apache/nifi/pull/2966#issuecomment-417661014","issue_url":"https://api.github.com/repos/apache/nifi/issues/2966","id":417661014,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY2MTAxNA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T13:17:57Z","updated_at":"2018-08-31T13:17:57Z","author_association":"CONTRIBUTOR","body":"> we don't want to change recordField.getFieldName() - that is the NiFi class and has nothing to do with Avro. We really want to avoid enforcing any Avro naming peculiarities on NiFi - we should only enforce them for Avro, so I think the AvroTypeUtil is the right place to put this.\r\n\r\nYeah totally agree here.\r\n\r\nI didn't change ``recordField.getFieldName()``, I just wrapped it, in ``AvroTypeUtil``, to ensure the name is normalized. My concern was more about methods like ``lookupField`` where we assign the field name to the record field object. Just want to ensure that this pair/map is not used outside of the ``AvroTypeUtil`` where we would try to access the record field object with a non-normalized field name. Does that make sense?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417661014/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417670294","html_url":"https://github.com/apache/nifi/pull/2861#issuecomment-417670294","issue_url":"https://api.github.com/repos/apache/nifi/issues/2861","id":417670294,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY3MDI5NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T13:50:15Z","updated_at":"2018-08-31T13:50:15Z","author_association":"CONTRIBUTOR","body":"@mattyb149 Made the requested changes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417670294/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417686859","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417686859","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417686859,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY4Njg1OQ==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T14:46:16Z","updated_at":"2018-08-31T14:46:16Z","author_association":"CONTRIBUTOR","body":"@pepov is the second lookup you're referring to this line?\r\n\r\n```java\r\n\r\n            Group nodeGroup = userGroupProvider.getGroup(nodeGroupIdentifier);\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417686859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417690120","html_url":"https://github.com/apache/nifi/pull/2981#issuecomment-417690120","issue_url":"https://api.github.com/repos/apache/nifi/issues/2981","id":417690120,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY5MDEyMA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T14:56:35Z","updated_at":"2018-08-31T14:56:35Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417690120/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417693108","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417693108","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417693108,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY5MzEwOA==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T15:05:05Z","updated_at":"2018-08-31T15:05:05Z","author_association":"CONTRIBUTOR","body":"yes","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417693108/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417694134","html_url":"https://github.com/apache/nifi/pull/2981#issuecomment-417694134","issue_url":"https://api.github.com/repos/apache/nifi/issues/2981","id":417694134,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY5NDEzNA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T15:08:14Z","updated_at":"2018-08-31T15:08:14Z","author_association":"CONTRIBUTOR","body":"Thanks @ijokarumawak! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417694134/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417694508","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-417694508","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":417694508,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzY5NDUwOA==","user":{"login":"ai-christianson","id":24681233,"node_id":"MDQ6VXNlcjI0NjgxMjMz","avatar_url":"https://avatars.githubusercontent.com/u/24681233?v=4","gravatar_id":"","url":"https://api.github.com/users/ai-christianson","html_url":"https://github.com/ai-christianson","followers_url":"https://api.github.com/users/ai-christianson/followers","following_url":"https://api.github.com/users/ai-christianson/following{/other_user}","gists_url":"https://api.github.com/users/ai-christianson/gists{/gist_id}","starred_url":"https://api.github.com/users/ai-christianson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ai-christianson/subscriptions","organizations_url":"https://api.github.com/users/ai-christianson/orgs","repos_url":"https://api.github.com/users/ai-christianson/repos","events_url":"https://api.github.com/users/ai-christianson/events{/privacy}","received_events_url":"https://api.github.com/users/ai-christianson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T15:09:24Z","updated_at":"2018-08-31T15:09:24Z","author_association":"CONTRIBUTOR","body":"@pepov I took that lookup out. It appeared to be completely unnecessary.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417694508/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417718363","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-417718363","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":417718363,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzcxODM2Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T16:29:53Z","updated_at":"2018-08-31T16:29:53Z","author_association":"CONTRIBUTOR","body":"I started reviewing this PR but realized it did not implement many of the behaviors I had needed in the original ticket. I opened [PR 2980](https://github.com/apache/nifi/pull/2980) which includes this foundation instead. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417718363/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417721049","html_url":"https://github.com/apache/nifi/pull/2982#issuecomment-417721049","issue_url":"https://api.github.com/repos/apache/nifi/issues/2982","id":417721049,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzcyMTA0OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T16:37:37Z","updated_at":"2018-08-31T16:37:37Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417721049/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417723968","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-417723968","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":417723968,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzcyMzk2OA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T16:46:06Z","updated_at":"2018-08-31T16:46:06Z","author_association":"CONTRIBUTOR","body":"Ok, that is great.  Did I miss something that _was_ in the jira?\r\nShould I just close this PR now then?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417723968/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417724607","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-417724607","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":417724607,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzcyNDYwNw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T16:47:55Z","updated_at":"2018-08-31T16:47:55Z","author_association":"CONTRIBUTOR","body":"I didn't capture every detail of the issue in the Jira because I planned on writing it myself. However, some of the behavior (empty input should still return a hash, etc.) was standard. Yes, please close this PR and review 2980. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417724607/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417727847","html_url":"https://github.com/apache/nifi/pull/2836#issuecomment-417727847","issue_url":"https://api.github.com/repos/apache/nifi/issues/2836","id":417727847,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzcyNzg0Nw==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T16:57:58Z","updated_at":"2018-08-31T16:57:58Z","author_association":"CONTRIBUTOR","body":"Sure.  For Jira's when you want to do it yourself, I suggest assigning it.  That is my habit on the other Apache things I work with, and it will help guard against eager beavers ;)\r\n\r\nThanks for using the work as much as you did.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417727847/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417737609","html_url":"https://github.com/apache/nifi/pull/2982#issuecomment-417737609","issue_url":"https://api.github.com/repos/apache/nifi/issues/2982","id":417737609,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzczNzYwOQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T17:34:46Z","updated_at":"2018-08-31T17:34:46Z","author_association":"CONTRIBUTOR","body":"Verified that this sets the defaults to \"JKS\" for both keystore and truststore on `StandardSSLContextService` and `StandardRestrictedSSLContextService`. \r\n\r\nRan `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417737609/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417757954","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-417757954","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":417757954,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzc1Nzk1NA==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T18:49:48Z","updated_at":"2018-08-31T18:49:48Z","author_association":"NONE","body":"Any update on this? Am I safe to assume we are going to make the 1.8 release?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417757954/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417758988","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-417758988","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":417758988,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzc1ODk4OA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T18:53:54Z","updated_at":"2018-08-31T18:53:54Z","author_association":"CONTRIBUTOR","body":"not clear when we'll be cutting a 1.8 release so i'm not sure about safety\r\n\r\nbut this is clearly a cool capability and it is just a matter of finding a committer to review it with sufficient bandwidth and expertise. things impacting security are super important and not being record oriented makes it less useful for sure.  I haven't looked at the details in a while to see if you added that.  I'd go so far as to recommend not offering a non record approach but i wouldnt say that is a rule - just a recommendation","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417758988/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417766456","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-417766456","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":417766456,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzc2NjQ1Ng==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T19:25:27Z","updated_at":"2018-08-31T19:25:27Z","author_association":"NONE","body":"FWIW, this PR includes the following Record-Oriented processors:\r\n\r\norg.apache.nifi.processors.pulsar.pubsub.ConsumePulsarRecord\r\norg.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord \r\n\r\nAs for the security issue you mentioned, we are actually adding an additional layer of security between Pulsar and NiFi by enabling connections to be secured with user supplied TLS certificates","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417766456/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417773673","html_url":"https://github.com/apache/nifi/pull/2969#issuecomment-417773673","issue_url":"https://api.github.com/repos/apache/nifi/issues/2969","id":417773673,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzc3MzY3Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T19:57:55Z","updated_at":"2018-08-31T19:57:55Z","author_association":"CONTRIBUTOR","body":"@zenfenan @mattyb149 can one of you review?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417773673/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417774344","html_url":"https://github.com/apache/nifi/pull/2896#issuecomment-417774344","issue_url":"https://api.github.com/repos/apache/nifi/issues/2896","id":417774344,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzc3NDM0NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T20:00:38Z","updated_at":"2018-08-31T20:00:38Z","author_association":"CONTRIBUTOR","body":"@zenfenan @mattyb149 can one of you review?\r\n\r\nThe goal here, btw, is to make it so that admins are able to easily share a `MongoClient` between multiple processors. Per the [docs](http://mongodb.github.io/mongo-java-driver/3.5/driver/getting-started/quick-start/#make-a-connection) `MongoClient` is thread-safe and you should limit how many of them your application creates:\r\n\r\n> The MongoClient instance represents a pool of connections to the database; you will only need one instance of class MongoClient even with multiple threads.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417774344/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417811252","html_url":"https://github.com/apache/nifi/pull/2872#issuecomment-417811252","issue_url":"https://api.github.com/repos/apache/nifi/issues/2872","id":417811252,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzgxMTI1Mg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-08-31T23:13:09Z","updated_at":"2018-08-31T23:13:09Z","author_association":"CONTRIBUTOR","body":"@peter-gergely-horvath can you push that commit?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417811252/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417825801","html_url":"https://github.com/apache/nifi/pull/2820#issuecomment-417825801","issue_url":"https://api.github.com/repos/apache/nifi/issues/2820","id":417825801,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzgyNTgwMQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-01T02:16:13Z","updated_at":"2018-09-01T02:16:13Z","author_association":"CONTRIBUTOR","body":"@PrashanthVenkatesan you also have a merge conflict. That'll need to be resolved as well.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417825801/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417825971","html_url":"https://github.com/apache/nifi/pull/2977#issuecomment-417825971","issue_url":"https://api.github.com/repos/apache/nifi/issues/2977","id":417825971,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzgyNTk3MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-01T02:19:28Z","updated_at":"2018-09-01T02:19:28Z","author_association":"CONTRIBUTOR","body":"@joewitt just checked the license on google/guava and it's still ASL so I think L&N is clear on this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417825971/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417826356","html_url":"https://github.com/apache/nifi/pull/2977#issuecomment-417826356","issue_url":"https://api.github.com/repos/apache/nifi/issues/2977","id":417826356,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzgyNjM1Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-01T02:27:56Z","updated_at":"2018-09-01T02:27:56Z","author_association":"CONTRIBUTOR","body":"Saw @bbende's jira comment:\r\n\r\n> We should only update Guava dependencies that we directly use in our own code, but not transitive dependencies used by client libraries (i.e. do not change the Guava version for things like Hadoop processors, or HBase processors, etc.).\r\n\r\nI saw Kudu, Kite and Ignite get updated, but according to `mvn dependency:tree` they're not transitive. So I'm putting this here for documentation purposes. Overall LGTM but will take another look tomorrow.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417826356/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417831300","html_url":"https://github.com/apache/nifi/pull/2977#issuecomment-417831300","issue_url":"https://api.github.com/repos/apache/nifi/issues/2977","id":417831300,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzgzMTMwMA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-01T04:14:00Z","updated_at":"2018-09-01T04:14:00Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417831300/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417875240","html_url":"https://github.com/apache/nifi/pull/2813#issuecomment-417875240","issue_url":"https://api.github.com/repos/apache/nifi/issues/2813","id":417875240,"node_id":"MDEyOklzc3VlQ29tbWVudDQxNzg3NTI0MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-01T17:33:47Z","updated_at":"2018-09-01T17:33:47Z","author_association":"CONTRIBUTOR","body":"Per the discussion on the mailing list, I am moving the code [here](https://github.com/MikeThomsen/nifi-datageneration-bundle) and closing this PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/417875240/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418045727","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-418045727","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":418045727,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODA0NTcyNw==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-03T08:47:38Z","updated_at":"2018-09-03T08:47:38Z","author_association":"CONTRIBUTOR","body":"Even better, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418045727/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418111864","html_url":"https://github.com/apache/nifi/pull/2968#issuecomment-418111864","issue_url":"https://api.github.com/repos/apache/nifi/issues/2968","id":418111864,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODExMTg2NA==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-03T13:14:09Z","updated_at":"2018-09-03T13:14:09Z","author_association":"CONTRIBUTOR","body":"@Mermadi Had a chance to test it out?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418111864/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418140729","html_url":"https://github.com/apache/nifi/pull/2896#issuecomment-418140729","issue_url":"https://api.github.com/repos/apache/nifi/issues/2896","id":418140729,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODE0MDcyOQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-03T15:06:29Z","updated_at":"2018-09-03T15:06:29Z","author_association":"CONTRIBUTOR","body":"Thanks, will get to this today unless something comes up!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418140729/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418190788","html_url":"https://github.com/apache/nifi/pull/2968#issuecomment-418190788","issue_url":"https://api.github.com/repos/apache/nifi/issues/2968","id":418190788,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODE5MDc4OA==","user":{"login":"qhisky9","id":6655255,"node_id":"MDQ6VXNlcjY2NTUyNTU=","avatar_url":"https://avatars.githubusercontent.com/u/6655255?v=4","gravatar_id":"","url":"https://api.github.com/users/qhisky9","html_url":"https://github.com/qhisky9","followers_url":"https://api.github.com/users/qhisky9/followers","following_url":"https://api.github.com/users/qhisky9/following{/other_user}","gists_url":"https://api.github.com/users/qhisky9/gists{/gist_id}","starred_url":"https://api.github.com/users/qhisky9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/qhisky9/subscriptions","organizations_url":"https://api.github.com/users/qhisky9/orgs","repos_url":"https://api.github.com/users/qhisky9/repos","events_url":"https://api.github.com/users/qhisky9/events{/privacy}","received_events_url":"https://api.github.com/users/qhisky9/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-03T20:46:28Z","updated_at":"2018-09-03T20:46:28Z","author_association":"NONE","body":"@zenfenan Yep, I tested this on NiFi 1.7.1 and it worked","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418190788/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418218929","html_url":"https://github.com/apache/nifi/pull/2983#issuecomment-418218929","issue_url":"https://api.github.com/repos/apache/nifi/issues/2983","id":418218929,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODIxODkyOQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T01:57:52Z","updated_at":"2018-09-04T02:00:39Z","author_association":"CONTRIBUTOR","body":"I created two templates that should help with testing the new behavior and ensuring that upgrading a flow that uses the old components doesn't break it. \r\n\r\n![Hash components (new) flow](https://user-images.githubusercontent.com/798465/45006010-99d5e380-afab-11e8-9a09-b2f951f54366.png)\r\n![Hash components (legacy) flow](https://user-images.githubusercontent.com/798465/45006011-99d5e380-afab-11e8-98ba-5c1ab756f2e0.png)\r\n\r\n\r\n* [Hash Components (Legacy)](https://gist.github.com/alopresto/80fcabb78be26a04b894721c4f382300)\r\n* [Hash Components (New)](https://gist.github.com/alopresto/93ed6907037dce8bf855c9cb4354ea9d)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418218929/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418394218","html_url":"https://github.com/apache/nifi/pull/2806#issuecomment-418394218","issue_url":"https://api.github.com/repos/apache/nifi/issues/2806","id":418394218,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODM5NDIxOA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T14:44:29Z","updated_at":"2018-09-04T14:44:29Z","author_association":"CONTRIBUTOR","body":"closing, not much demand I guess.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418394218/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418397138","html_url":"https://github.com/apache/nifi/pull/2985#issuecomment-418397138","issue_url":"https://api.github.com/repos/apache/nifi/issues/2985","id":418397138,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODM5NzEzOA==","user":{"login":"lfrancke","id":122850,"node_id":"MDQ6VXNlcjEyMjg1MA==","avatar_url":"https://avatars.githubusercontent.com/u/122850?v=4","gravatar_id":"","url":"https://api.github.com/users/lfrancke","html_url":"https://github.com/lfrancke","followers_url":"https://api.github.com/users/lfrancke/followers","following_url":"https://api.github.com/users/lfrancke/following{/other_user}","gists_url":"https://api.github.com/users/lfrancke/gists{/gist_id}","starred_url":"https://api.github.com/users/lfrancke/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lfrancke/subscriptions","organizations_url":"https://api.github.com/users/lfrancke/orgs","repos_url":"https://api.github.com/users/lfrancke/repos","events_url":"https://api.github.com/users/lfrancke/events{/privacy}","received_events_url":"https://api.github.com/users/lfrancke/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T14:51:55Z","updated_at":"2018-09-04T14:51:55Z","author_association":"MEMBER","body":"The errors seem unrelated. It complains about a timeout but one of the jobs succeeded.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418397138/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418454989","html_url":"https://github.com/apache/nifi/pull/2987#issuecomment-418454989","issue_url":"https://api.github.com/repos/apache/nifi/issues/2987","id":418454989,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODQ1NDk4OQ==","user":{"login":"nalewis","id":22083562,"node_id":"MDQ6VXNlcjIyMDgzNTYy","avatar_url":"https://avatars.githubusercontent.com/u/22083562?v=4","gravatar_id":"","url":"https://api.github.com/users/nalewis","html_url":"https://github.com/nalewis","followers_url":"https://api.github.com/users/nalewis/followers","following_url":"https://api.github.com/users/nalewis/following{/other_user}","gists_url":"https://api.github.com/users/nalewis/gists{/gist_id}","starred_url":"https://api.github.com/users/nalewis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nalewis/subscriptions","organizations_url":"https://api.github.com/users/nalewis/orgs","repos_url":"https://api.github.com/users/nalewis/repos","events_url":"https://api.github.com/users/nalewis/events{/privacy}","received_events_url":"https://api.github.com/users/nalewis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T17:37:02Z","updated_at":"2018-09-04T17:37:02Z","author_association":"CONTRIBUTOR","body":"I have yet to be able to successfully build the Nifi master branch without skipping tests on either my windows and CentOS machines. I built with -DskipTests=true and validated the processor there.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418454989/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418471841","html_url":"https://github.com/apache/nifi/pull/2987#issuecomment-418471841","issue_url":"https://api.github.com/repos/apache/nifi/issues/2987","id":418471841,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODQ3MTg0MQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T18:30:46Z","updated_at":"2018-09-04T18:30:46Z","author_association":"CONTRIBUTOR","body":"What errors are you encountering when building with tests?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418471841/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418478210","html_url":"https://github.com/apache/nifi/pull/2987#issuecomment-418478210","issue_url":"https://api.github.com/repos/apache/nifi/issues/2987","id":418478210,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODQ3ODIxMA==","user":{"login":"nalewis","id":22083562,"node_id":"MDQ6VXNlcjIyMDgzNTYy","avatar_url":"https://avatars.githubusercontent.com/u/22083562?v=4","gravatar_id":"","url":"https://api.github.com/users/nalewis","html_url":"https://github.com/nalewis","followers_url":"https://api.github.com/users/nalewis/followers","following_url":"https://api.github.com/users/nalewis/following{/other_user}","gists_url":"https://api.github.com/users/nalewis/gists{/gist_id}","starred_url":"https://api.github.com/users/nalewis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nalewis/subscriptions","organizations_url":"https://api.github.com/users/nalewis/orgs","repos_url":"https://api.github.com/users/nalewis/repos","events_url":"https://api.github.com/users/nalewis/events{/privacy}","received_events_url":"https://api.github.com/users/nalewis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T18:52:08Z","updated_at":"2018-09-04T18:52:08Z","author_association":"CONTRIBUTOR","body":"At the moment my windows installs fail on this NifiGroovyTest, where it tries to generate and reference a linux style path. I saw a recent email discussion that seemed to bring up a similar issue [here](http://apache-nifi.1125220.n5.nabble.com/Build-Failure-for-project-nifi-toolkit-cli-td24180.html).\r\n\r\n*mvn -version*\r\n```\r\nApache Maven 3.5.2 (138edd61fd100ec658bfa2d307c43b76940a5d7d; 2017-10-18T02:58:13-05:00)\r\n`Maven` home: C:\\Program Files\\apache-maven-3.5.2\r\nJava version: 1.8.0_151, vendor: Oracle Corporation\r\nJava home: C:\\Program Files\\Java\\jdk1.8.0_151\\jre\r\nDefault locale: en_US, platform encoding: Cp1252\r\nOS name: \"windows 10\", version: \"10.0\", arch: \"amd64\", family: `\"windows\"`\r\n```\r\n\r\n```\r\n[INFO] -------------------------------------------------------\r\n[INFO]  T E S T S\r\n[INFO] -------------------------------------------------------\r\n[INFO] Running org.apache.nifi.NiFiGroovyTest\r\n[ERROR] Tests run: 8, Failures: 0, Errors: 2, Skipped: 0, Time elapsed: 1.667 s <<< FAILURE! - in org.apache.nifi.NiFiGroovyTest\r\n[ERROR] testInitializePropertiesShouldSetBootstrapKeyFromFile(org.apache.nifi.NiFiGroovyTest)  Time elapsed: 0.495 s  <<< ERROR!\r\njava.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/nlewis/Desktop/Projects/NIFI/nickOfficialNifi/nifi/nifi-nar-bundles/nifi-framework-bundle/nifi-framework/nifi-runtime/target/test-classes/\\NiFiProperties\\password-testInitializePropertiesShouldSetBootstrapKeyFromFile.txt\r\n        at org.apache.nifi.NiFiGroovyTest.testInitializePropertiesShouldSetBootstrapKeyFromFile(NiFiGroovyTest.groovy:161)\r\n\r\n[ERROR] testMainShouldHandleMalformedBootstrapKeyFromFile(org.apache.nifi.NiFiGroovyTest)  Time elapsed: 0.001 s  <<< ERROR!\r\njava.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/nlewis/Desktop/Projects/NIFI/nickOfficialNifi/nifi/nifi-nar-bundles/nifi-framework-bundle/nifi-framework/nifi-runtime/target/test-classes/\\NiFiProperties\\password-testMainShouldHandleMalformedBootstrapKeyFromFile.txt\r\n        at org.apache.nifi.NiFiGroovyTest.testMainShouldHandleMalformedBootstrapKeyFromFile(NiFiGroovyTest.groovy:141)\r\n\r\n[INFO]\r\n[INFO] Results:\r\n[INFO]\r\n[ERROR] Errors:\r\n[ERROR]   NiFiGroovyTest.testInitializePropertiesShouldSetBootstrapKeyFromFile:161 ▒ InvalidPath\r\n[ERROR]   NiFiGroovyTest.testMainShouldHandleMalformedBootstrapKeyFromFile:141 ▒ InvalidPath\r\n[INFO]\r\n[ERROR] Tests run: 8, Failures: 0, Errors: 2, Skipped: 0\r\n```\r\n\r\nIt is to be noted that I am very new to developing on this project and could just be environment issues! :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418478210/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418497788","html_url":"https://github.com/apache/nifi/pull/2987#issuecomment-418497788","issue_url":"https://api.github.com/repos/apache/nifi/issues/2987","id":418497788,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODQ5Nzc4OA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T19:57:17Z","updated_at":"2018-09-04T19:57:17Z","author_association":"CONTRIBUTOR","body":"Thanks for reporting the context around that. If you're comfortable doing it, you can open a Jira to resolve that problem [here](https://issues.apache.org/jira/secure/CreateIssue!default.jspa). If not, let me know and I can do it in a bit. It is probably environment-specific in that the test was not verified on Windows before being re-enabled in [PR 2821](https://github.com/apache/nifi/pull/2821), but not *your environment*-specific in that other Windows users may have the same issue. Either way, I believe it's a legitimate thing to report and we can fix it. Thanks. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418497788/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418501568","html_url":"https://github.com/apache/nifi/pull/2987#issuecomment-418501568","issue_url":"https://api.github.com/repos/apache/nifi/issues/2987","id":418501568,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODUwMTU2OA==","user":{"login":"nalewis","id":22083562,"node_id":"MDQ6VXNlcjIyMDgzNTYy","avatar_url":"https://avatars.githubusercontent.com/u/22083562?v=4","gravatar_id":"","url":"https://api.github.com/users/nalewis","html_url":"https://github.com/nalewis","followers_url":"https://api.github.com/users/nalewis/followers","following_url":"https://api.github.com/users/nalewis/following{/other_user}","gists_url":"https://api.github.com/users/nalewis/gists{/gist_id}","starred_url":"https://api.github.com/users/nalewis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nalewis/subscriptions","organizations_url":"https://api.github.com/users/nalewis/orgs","repos_url":"https://api.github.com/users/nalewis/repos","events_url":"https://api.github.com/users/nalewis/events{/privacy}","received_events_url":"https://api.github.com/users/nalewis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T20:10:11Z","updated_at":"2018-09-04T20:10:11Z","author_association":"CONTRIBUTOR","body":"Went ahead and made the issue based on our discussion. Thanks @alopresto .\r\nhttps://issues.apache.org/jira/browse/NIFI-5574","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418501568/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418526967","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418526967","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418526967,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODUyNjk2Nw==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T21:39:33Z","updated_at":"2018-09-04T21:39:33Z","author_association":"CONTRIBUTOR","body":"I'll be testing this on my Windows machine tonight, but wanted to get the PR up ASAP for those that want to test this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418526967/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418545290","html_url":"https://github.com/apache/nifi/pull/2989#issuecomment-418545290","issue_url":"https://api.github.com/repos/apache/nifi/issues/2989","id":418545290,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODU0NTI5MA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T23:03:21Z","updated_at":"2018-09-04T23:03:21Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418545290/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418552420","html_url":"https://github.com/apache/nifi/pull/2989#issuecomment-418552420","issue_url":"https://api.github.com/repos/apache/nifi/issues/2989","id":418552420,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODU1MjQyMA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-04T23:42:41Z","updated_at":"2018-09-04T23:42:41Z","author_association":"CONTRIBUTOR","body":"Verified that the header is present on responses. \r\n\r\nRan `contrib-check` and all tests pass. +1 if you re-order the dependencies. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418552420/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418585867","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418585867","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418585867,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODU4NTg2Nw==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T03:13:53Z","updated_at":"2018-09-05T03:13:53Z","author_association":"CONTRIBUTOR","body":"I created a Windows 10 VM via VirtualBox on my mac.  With a fresh install of:\r\n\r\n- java\r\n```\r\njava version \"1.8.0_181\"\r\nJava(TM) SE Runtime Environment (build 1.8.0_181-b13)\r\nJava HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)\r\n```\r\n- maven\r\n```\r\nApache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T11:33:14-07:00)\r\nMaven home: C:\\Users\\Jeff\\dev\\apache-maven-3.5.4\r\nJava version: 1.8.0_181, vendor: Oracle Corporation, runtime: C:\\Program Files\\Java\\jre1.8.0_181\r\nDefault locale: en_US, platform encoding: Cp1252\r\nOS name: \"windows 10\", version: \"10.0\", arch: \"amd64\", family: \"windows\"\r\n```\r\nI'm running into a build issue, with some failing tests:\r\n```\r\n[ERROR]   TestStandardProcessSession.testBatchQueuedHaveSameQueuedTime:1690 Queued times should not be equal.. Actual: 1536116092889\r\n```\r\nand quite a few `TestFileSystemRepository` tests due to issues in setup/shutdown like the following:\r\n```\r\n[ERROR] org.apache.nifi.controller.repository.TestFileSystemRepository.testBogusFile(org.apache.nifi.controller.repository.TestFileSystemRepository)\r\n[ERROR]   Run 1: TestFileSystemRepository.setup:84 Unable to delete target\\content_repository\\1\\1536116075082-1 expected null, but was:<target\\content_repository\\1\\1536116075082-1>\r\n[ERROR]   Run 2: TestFileSystemRepository.shutdown:94 NullPointer\r\n```\r\nThis is probably due something related to running Windows in a VM and how I created it and/or the virtual disk.  Tomorrow morning I'll try building on my Windows desktop to see if the same failures occur.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418585867/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418602071","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-418602071","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":418602071,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODYwMjA3MQ==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T05:16:05Z","updated_at":"2018-09-05T11:16:12Z","author_association":"CONTRIBUTOR","body":"Hello @ottobackwards \r\n\r\nI've documented the steps for setting up neo4j and testing this processor in a project [nifi-neo4j-examples](https://github.com/mans2singh/nifi-flow-examples/tree/nifi-neo4j-examples) (branch nifi-neo4j-examples).  The project's [README.md](https://github.com/mans2singh/nifi-flow-examples/blob/nifi-neo4j-examples/README.md) has the steps, along with input sample files (creating a node, select all the nodes, delete nodes, etc) and a NIFI Neo4J sample template.\r\n\r\nThe nifi-neo4j-processors project also has full suite of integration tests which can be executed after setting up neo4j.\r\n\r\nPlease let me know if this helps. If you have any feedback or advice for me, please let me know.\r\n\r\nThanks again.\r\n\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418602071/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418689024","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-418689024","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":418689024,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODY4OTAyNA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T10:56:48Z","updated_at":"2018-09-05T10:56:48Z","author_association":"CONTRIBUTOR","body":"Thanks @mans2singh.  I'll definitely try to run through this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418689024/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418692166","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-418692166","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":418692166,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODY5MjE2Ng==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T11:09:13Z","updated_at":"2018-09-05T11:09:13Z","author_association":"CONTRIBUTOR","body":"One question I have, do we have to be concerned with which version of neo4j works with the driver version we are using?  Does that need to be documented?  \"Known to work with versions .....\"?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418692166/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418719299","html_url":"https://github.com/apache/nifi/pull/2990#issuecomment-418719299","issue_url":"https://api.github.com/repos/apache/nifi/issues/2990","id":418719299,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODcxOTI5OQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T12:53:04Z","updated_at":"2018-09-05T12:53:04Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418719299/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418720452","html_url":"https://github.com/apache/nifi/pull/2983#issuecomment-418720452","issue_url":"https://api.github.com/repos/apache/nifi/issues/2983","id":418720452,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODcyMDQ1Mg==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T12:56:54Z","updated_at":"2018-09-05T12:56:54Z","author_association":"CONTRIBUTOR","body":"[INFO] Running org.apache.nifi.security.util.crypto.HashServiceTest\r\n[ERROR] Tests run: 9, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.179 s <<< FAILURE! - in org.apache.nifi.security.util.crypto.HashServiceTest\r\n[ERROR] testShouldHashValueFromStream(org.apache.nifi.security.util.crypto.HashServiceTest)  Time elapsed: 0.022 s  <<< ERROR!\r\njava.io.FileNotFoundException: src/test/resources/HashServiceTest/largefile.txt (No such file or directory)\r\n\tat org.apache.nifi.security.util.crypto.HashServiceTest.testShouldHashValueFromStream(HashServiceTest.groovy:320)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418720452/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418762199","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418762199","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418762199,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODc2MjE5OQ==","user":{"login":"nalewis","id":22083562,"node_id":"MDQ6VXNlcjIyMDgzNTYy","avatar_url":"https://avatars.githubusercontent.com/u/22083562?v=4","gravatar_id":"","url":"https://api.github.com/users/nalewis","html_url":"https://github.com/nalewis","followers_url":"https://api.github.com/users/nalewis/followers","following_url":"https://api.github.com/users/nalewis/following{/other_user}","gists_url":"https://api.github.com/users/nalewis/gists{/gist_id}","starred_url":"https://api.github.com/users/nalewis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nalewis/subscriptions","organizations_url":"https://api.github.com/users/nalewis/orgs","repos_url":"https://api.github.com/users/nalewis/repos","events_url":"https://api.github.com/users/nalewis/events{/privacy}","received_events_url":"https://api.github.com/users/nalewis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T14:56:53Z","updated_at":"2018-09-05T14:56:53Z","author_association":"CONTRIBUTOR","body":"I grabbed the branch and attempted a clean install this morning. It failed with the following:\r\n\r\nmvn --version\r\n\r\n```\r\nApache Maven 3.5.2 (138edd61fd100ec658bfa2d307c43b76940a5d7d; 2017-10-18T02:58:13-05:00)\r\nMaven home: C:\\Program Files\\apache-maven-3.5.2\r\nJava version: 1.8.0_151, vendor: Oracle Corporation\r\nJava home: C:\\Program Files\\Java\\jdk1.8.0_151\\jre\r\nDefault locale: en_US, platform encoding: Cp1252\r\nOS name: \"windows 10\", version: \"10.0\", arch: \"amd64\", family: \"windows\"\r\n```\r\n```\r\n-------------------------------------------------------\r\n T E S T S\r\n-------------------------------------------------------\r\nRunning org.wali.TestMinimalLockingWriteAheadLog\r\nTests run: 12, Failures: 0, Errors: 1, Skipped: 2, Time elapsed: 6.653 sec <<< FAILURE! - in org.wali.TestMinimalLockingWriteAheadLog\r\ntestRecoverFileThatHasTrailingNULBytesAndTruncation(org.wali.TestMinimalLockingWriteAheadLog)  Time elapsed: 0.014 sec  <<< ERROR!\r\njava.nio.channels.OverlappingFileLockException\r\n        at org.wali.TestMinimalLockingWriteAheadLog.testRecoverFileThatHasTrailingNULBytesAndTruncation(TestMinimalLockingWriteAheadLog.java:472)\r\n\r\n\r\nResults :\r\n\r\nTests in error:\r\n  TestMinimalLockingWriteAheadLog.testRecoverFileThatHasTrailingNULBytesAndTruncation:472 ▒ OverlappingFileLock\r\n\r\nTests run: 12, Failures: 0, Errors: 1, Skipped: 2\r\n```\r\n\r\nI'm seeing [this](https://github.com/apache/nifi/pull/2819) PR that had attempted to fix this issue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418762199/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418817318","html_url":"https://github.com/apache/nifi/pull/2969#issuecomment-418817318","issue_url":"https://api.github.com/repos/apache/nifi/issues/2969","id":418817318,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODgxNzMxOA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T17:39:25Z","updated_at":"2018-09-05T17:39:25Z","author_association":"CONTRIBUTOR","body":"@zenfenan Made that change. Seemed reasonable.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418817318/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418833500","html_url":"https://github.com/apache/nifi/pull/2969#issuecomment-418833500","issue_url":"https://api.github.com/repos/apache/nifi/issues/2969","id":418833500,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODgzMzUwMA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T18:29:45Z","updated_at":"2018-09-05T18:29:45Z","author_association":"CONTRIBUTOR","body":"2/3 passed...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418833500/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418877278","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418877278","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418877278,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODg3NzI3OA==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T20:51:50Z","updated_at":"2018-09-05T22:16:10Z","author_association":"CONTRIBUTOR","body":"Regarding this PR, on my Windows 7 desktop, the NiFiGroovyTest in nifi-runtime passes:\r\n```\r\n[INFO] -------------------------------------------------------\r\n[INFO]  T E S T S\r\n[INFO] -------------------------------------------------------\r\n[INFO] Running org.apache.nifi.NiFiGroovyTest\r\n[INFO] Tests run: 8, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 2.103 s - in org.apache.nifi.NiFiGroovyTest\r\n[INFO]\r\n[INFO] Results:\r\n[INFO]\r\n[INFO] Tests run: 8, Failures: 0, Errors: 0, Skipped: 0\r\n[INFO]\r\n[INFO] ------------------------------------------------------------------------\r\n[INFO] BUILD SUCCESS\r\n[INFO] ------------------------------------------------------------------------\r\n```\r\nGiven that the changes made in this PR are only in the nifi-runtime module, **I think this PR can be merged**.\r\n\r\nThe full build, skipping tests and no contrib-check (`mvn clean install -T C2 -DskipTests`) is successful.\r\n\r\nHowever, the full build with contrib-check on, and tests skipped (`mvn clean install -T C2 -Pcontrib-check`), or running Apache RAT exclusively (`mvn apache-rat:check`) fails the RAT check in nifi-poi-processors.\r\n```\r\nFiles with unapproved licenses:\r\n\r\n  C:/Users/Jeff/dev/git-repos/nifi/nifi-nar-bundles/nifi-poi-bundle/nifi-poi-processors/src/test/resources/Unsupported.xls\r\n```\r\nAlso, some tests are failing when I'm running the full build.  For instance, in the nifi-file-authorizer module, some FileAuthorizer tests fail, but they pass if I run those tests by invoking the tests in nifi-file-authorizer specifically (from the nifi-file-authorizer module, running `mvn test -Dtest=FileAuthorizerTest`).\r\n\r\nThere are also Toolkit CLI tests that are failing:\r\n```\r\n[ERROR] testWhenAllDescriptionsAreEmpty(org.apache.nifi.toolkit.cli.impl.result.writer.TestDynamicTableWriter)  Time elapsed: 0 s  <<< FAILURE!\r\norg.junit.ComparisonFailure:\r\nexpected:<[\r\n#   Name       Id                                    Description\r\n-   --------   -----------------------------------   -----------\r\n1   Bucket 1   12345-12345-12345-12345-12345-12345   (empty)\r\n2   Bucket 2   12345-12345-12345-12345-12345-12345   (empty)\r\n]\r\n> but was:<[\r\n#   Name       Id                                    Description\r\n-   --------   -----------------------------------   -----------\r\n1   Bucket 1   12345-12345-12345-12345-12345-12345   (empty)\r\n2   Bucket 2   12345-12345-12345-12345-12345-12345   (empty)\r\n]\r\n>\r\n```\r\nThe output looks the same to the eye, but the actual value tested against the expected value fails because the EOL characters are different.  In TestDynamicTableWriter.java, the expected values in the tests use \"\\n\" for EOL, and if they are changed to \"\\r\\n\", the test passes on Windows.  JIRAs will have to be filed to go through the tests and updated them to use File.separator instead of explicitly using \"\\n\".\r\n\r\n@nalewis [PR 2819](https://github.com/apache/nifi/pull/2819) was merged to master on June 28, 2018, and this PR is branched off of master from yesterday.  Those changes are already incorporated.  What version of Windows are you running?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418877278/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418881251","html_url":"https://github.com/apache/nifi/pull/2992#issuecomment-418881251","issue_url":"https://api.github.com/repos/apache/nifi/issues/2992","id":418881251,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODg4MTI1MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T21:05:32Z","updated_at":"2018-09-05T21:05:32Z","author_association":"CONTRIBUTOR","body":"Been meaning to kick the tires on Cassandra a bit. Would a vanilla Docker image do or is there more setup required to work this?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418881251/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418882456","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418882456","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418882456,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODg4MjQ1Ng==","user":{"login":"nalewis","id":22083562,"node_id":"MDQ6VXNlcjIyMDgzNTYy","avatar_url":"https://avatars.githubusercontent.com/u/22083562?v=4","gravatar_id":"","url":"https://api.github.com/users/nalewis","html_url":"https://github.com/nalewis","followers_url":"https://api.github.com/users/nalewis/followers","following_url":"https://api.github.com/users/nalewis/following{/other_user}","gists_url":"https://api.github.com/users/nalewis/gists{/gist_id}","starred_url":"https://api.github.com/users/nalewis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nalewis/subscriptions","organizations_url":"https://api.github.com/users/nalewis/orgs","repos_url":"https://api.github.com/users/nalewis/repos","events_url":"https://api.github.com/users/nalewis/events{/privacy}","received_events_url":"https://api.github.com/users/nalewis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T21:09:40Z","updated_at":"2018-09-05T21:09:40Z","author_association":"CONTRIBUTOR","body":"I'm on Windows 10.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418882456/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418900194","html_url":"https://github.com/apache/nifi/pull/2988#issuecomment-418900194","issue_url":"https://api.github.com/repos/apache/nifi/issues/2988","id":418900194,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODkwMDE5NA==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-05T22:19:43Z","updated_at":"2018-09-05T22:19:43Z","author_association":"CONTRIBUTOR","body":"@nalewis We'd have to investigate if the cause for the TestMinimalLockingWriteAheadLog.testRecoverFileThatHasTrailingNULBytesAndTruncation test failing is the same as what's documented in [NIFI-5344](https://issues.apache.org/jira/browse/NIFI-5344) or if it's a new issue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418900194/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418920628","html_url":"https://github.com/apache/nifi/pull/2983#issuecomment-418920628","issue_url":"https://api.github.com/repos/apache/nifi/issues/2983","id":418920628,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODkyMDYyOA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-06T00:09:01Z","updated_at":"2018-09-06T00:09:27Z","author_association":"CONTRIBUTOR","body":"@ottobackwards I've run this branch with the full build and all tests enabled multiple times and I have not encountered that error (just did it again from scratch with no `.m2` to be sure; 41:24 minute process). Can you manually verify if that directory and file exist on your machine?\r\n\r\nThe logic in the test should populate the file when the test is run and delete the file when the test suite is complete (so we don't just have an unnecessary 1 MB file checked in to the source). \r\n\r\n```\r\n     File inputFile = new File(LARGE_FILE_PATH)\r\n\r\n        // Generates a file with \"apachenifi\" 10 times per line for 10_000 lines (11 bytes * 10 * 10_000 ~= 1 MiB)\r\n        if (!inputFile.exists() || inputFile.length() == 0) {\r\n            10_000.times { int i ->\r\n                inputFile << \"${i.toString().padLeft(5)}: ${\"apachenifi \" * 10}\\n\"\r\n            }\r\n        }\r\n```\r\n\r\n```\r\n    @AfterClass\r\n    static void tearDownOnce() throws Exception {\r\n        File largeFile = new File(LARGE_FILE_PATH)\r\n        if (largeFile.exists()) {\r\n            largeFile.deleteOnExit()\r\n        }\r\n    }\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418920628/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418925785","html_url":"https://github.com/apache/nifi/pull/2989#issuecomment-418925785","issue_url":"https://api.github.com/repos/apache/nifi/issues/2989","id":418925785,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODkyNTc4NQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-06T00:40:47Z","updated_at":"2018-09-06T00:40:47Z","author_association":"CONTRIBUTOR","body":"Thanks for making the requested changes. In general, please try to avoid rebasing in PRs as it loses the history of the interactions. The reviewer/committer should handle that when merging to master. \r\n\r\n+1, merged. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418925785/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418939924","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-418939924","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":418939924,"node_id":"MDEyOklzc3VlQ29tbWVudDQxODkzOTkyNA==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-06T02:07:10Z","updated_at":"2018-09-06T02:07:10Z","author_association":"CONTRIBUTOR","body":"@ottobackwards - I've update the code/documentation based on your feedback.  Please let me know if you have any additional advice for me.\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/418939924/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/419051655","html_url":"https://github.com/apache/nifi/pull/2983#issuecomment-419051655","issue_url":"https://api.github.com/repos/apache/nifi/issues/2983","id":419051655,"node_id":"MDEyOklzc3VlQ29tbWVudDQxOTA1MTY1NQ==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-06T10:54:23Z","updated_at":"2018-09-06T10:54:23Z","author_association":"CONTRIBUTOR","body":"```\r\n ottofowler@Winterfell  ~/tmp/apache-nifi-pr-2983/nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test   pr-2983  ls resources\r\nCharacterSetConversionSamples TestEncryptContent            TestJson                      TestSplitText                 localhost-ts.jks\r\nCompressedData                TestExtractGrok               TestMergeContent              TestTransformXml              localhost.cer\r\nExecuteCommand                TestForkRecord                TestModifyBytes               TestUnpackContent             logback-test.xml\r\nMETA-INF                      TestGetHTTP                   TestPostHTTP                  TestUpdateRecord              randombytes-1\r\nScanAttribute                 TestIdentifyMimeType          TestReplaceTextLineByLine     TestXml                       simple.jpg\r\nTestConvertJSONToSQL          TestInvokeHttp                TestReplaceTextWithMapping    hello.txt                     xxe_from_report.xml\r\nTestCountText                 TestJoltTransformJson         TestScanContent               localhost-ks.jks              xxe_template.xml\r\n ottofowler@Winterfell  ~/tmp/apache-nifi-pr-2983/nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test   pr-2983  git status\r\nOn branch pr-2983\r\nnothing to commit, working tree clean\r\n ottofowler@Winterfell  ~/tmp/apache-nifi-pr-2983/nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test   pr-2983 \r\n```\r\n\r\nI do a clean checkout in my tmp directory using : https://github.com/ottobackwards/Metron-and-Nifi-Scripts/blob/master/nifi/checkout-nifi-pr","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/419051655/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/419052790","html_url":"https://github.com/apache/nifi/pull/2983#issuecomment-419052790","issue_url":"https://api.github.com/repos/apache/nifi/issues/2983","id":419052790,"node_id":"MDEyOklzc3VlQ29tbWVudDQxOTA1Mjc5MA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-09-06T10:58:21Z","updated_at":"2018-09-06T10:58:21Z","author_association":"CONTRIBUTOR","body":"https://github.com/alopresto/nifi/tree/NIFI-5566/nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test/resources  doesn't have that directory either.  Isn't there something with git and empty directories?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/419052790/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]