data/github-comments/apache-NiFi-75-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360940104","html_url":"https://github.com/apache/nifi/pull/2180#issuecomment-360940104","issue_url":"https://api.github.com/repos/apache/nifi/issues/2180","id":360940104,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDk0MDEwNA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-27T00:12:53Z","updated_at":"2018-01-27T00:12:53Z","author_association":"CONTRIBUTOR","body":"@mattyb149 We should be good to go now. I just checked in a change that addresses the few minor points left over.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360940104/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360974588","html_url":"https://github.com/apache/nifi/pull/2432#issuecomment-360974588","issue_url":"https://api.github.com/repos/apache/nifi/issues/2432","id":360974588,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MDk3NDU4OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-27T10:07:37Z","updated_at":"2018-01-27T10:07:37Z","author_association":"CONTRIBUTOR","body":"+1 LGTM Ran it, and it worked fine.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/360974588/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361025124","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361025124","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361025124,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTAyNTEyNA==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-27T23:44:59Z","updated_at":"2018-01-28T00:13:28Z","author_association":"CONTRIBUTOR","body":"Hello @MikeThomsen \r\n\r\nThanks for your comments. Based on your feedback I've update the code (added braces, corrected logging, removed state variables not required from the put processor and added default profile to exclude integration tests).\r\n\r\nRegarding the timestamp issue - I forgot to mention that InfluxDB requires timestamp in nano-seconds resolution so we need to multiply the timestamp with million (I've updated the documentation also).  I've tested with the following template in generate processor:\r\n\r\n`water,country=US,city=sf rain=1,humidity=0.6 ${now():toNumber():multiply(1000000) }`\r\n\r\nand I see the following in the influx shell:\r\n\r\n```\r\ntime                     city country humidity rain\r\n----                     ---- ------- -------- ----\r\n2018-01-27T23:31:46.331Z sf   US      0.6      1\r\n```\r\nI see that you also found the same issue regarding timestamp.\r\n\r\nRegarding using `StandardValidators.NON_BLANK_VALIDATOR` - When I use that the tests with blank username and password fail, so I've kept the `Validator.VALID` validator for those two fields.\r\n\r\nPlease let me know if you have any additional advice/comments for me.\r\n\r\nThanks again.\r\n\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361025124/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361026557","html_url":"https://github.com/apache/nifi/pull/2409#issuecomment-361026557","issue_url":"https://api.github.com/repos/apache/nifi/issues/2409","id":361026557,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTAyNjU1Nw==","user":{"login":"jvwing","id":3151078,"node_id":"MDQ6VXNlcjMxNTEwNzg=","avatar_url":"https://avatars.githubusercontent.com/u/3151078?v=4","gravatar_id":"","url":"https://api.github.com/users/jvwing","html_url":"https://github.com/jvwing","followers_url":"https://api.github.com/users/jvwing/followers","following_url":"https://api.github.com/users/jvwing/following{/other_user}","gists_url":"https://api.github.com/users/jvwing/gists{/gist_id}","starred_url":"https://api.github.com/users/jvwing/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jvwing/subscriptions","organizations_url":"https://api.github.com/users/jvwing/orgs","repos_url":"https://api.github.com/users/jvwing/repos","events_url":"https://api.github.com/users/jvwing/events{/privacy}","received_events_url":"https://api.github.com/users/jvwing/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T00:08:57Z","updated_at":"2018-01-28T00:08:57Z","author_association":"CONTRIBUTOR","body":"@SunSatION, this is nice work.  Thanks for the new Kinesis expression language features.  And double thanks for fixing the if statements and the integration tests, I think your Jackson test dependency fix is a good approach.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361026557/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361026693","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361026693","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361026693,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTAyNjY5Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T00:11:04Z","updated_at":"2018-01-28T00:11:04Z","author_association":"CONTRIBUTOR","body":"@mattyb149 Do you have a recommendation for the validator [to use here]( https://github.com/apache/nifi/pull/2101#issuecomment-361025124)?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361026693/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361027291","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361027291","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361027291,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTAyNzI5MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T00:21:46Z","updated_at":"2018-01-28T00:21:46Z","author_association":"CONTRIBUTOR","body":"Probably NON_EMPTY_VALIDATOR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361027291/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361034403","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361034403","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361034403,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTAzNDQwMw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T03:02:29Z","updated_at":"2018-01-28T03:02:29Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @MikeThomsen \r\n\r\nIf I use `NON_EMPTY_VALIDATOR` - I get the validation exception. I am including the exception, property definition and unit test snippets below.  Please let me know if I am missing anything.\r\n\r\nThanks.\r\n\r\nHere is the unit test validation exception with `NON_EMPTY_VALIDATOR`:\r\n\r\n`\r\njava.lang.AssertionError: Processor has 1 validation failures:\r\n'influxdb-username' validated against '' is invalid because influxdb-username cannot be empty\r\n`\r\n\r\nHere is how I am defining the property\r\n\r\n```\r\n    public static final PropertyDescriptor USERNAME = new PropertyDescriptor.Builder()\r\n            .name(\"influxdb-username\")\r\n            .displayName(\"Username\")\r\n            .required(false)\r\n            .description(\"Username for accessing InfluxDB\")\r\n            .addValidator(StandardValidators.NON_EMPTY_VALIDATOR)\r\n            .build();\r\n```\r\nand here is the unit test:\r\n\r\n```\r\n    @Test\r\n    public void testEmptyUsername() {\r\n        runner.setProperty(PutInfluxDB.USERNAME,\"\");\r\n        runner.assertValid();\r\n    }\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361034403/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361052517","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361052517","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361052517,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA1MjUxNw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T10:25:00Z","updated_at":"2018-01-28T10:25:00Z","author_association":"CONTRIBUTOR","body":"@mattyb149 That sounds like the validator is being called even when it's not a required property. Is there a good reason for NiFi to do that?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361052517/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361071480","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-361071480","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":361071480,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA3MTQ4MA==","user":{"login":"yuri1969","id":13468636,"node_id":"MDQ6VXNlcjEzNDY4NjM2","avatar_url":"https://avatars.githubusercontent.com/u/13468636?v=4","gravatar_id":"","url":"https://api.github.com/users/yuri1969","html_url":"https://github.com/yuri1969","followers_url":"https://api.github.com/users/yuri1969/followers","following_url":"https://api.github.com/users/yuri1969/following{/other_user}","gists_url":"https://api.github.com/users/yuri1969/gists{/gist_id}","starred_url":"https://api.github.com/users/yuri1969/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yuri1969/subscriptions","organizations_url":"https://api.github.com/users/yuri1969/orgs","repos_url":"https://api.github.com/users/yuri1969/repos","events_url":"https://api.github.com/users/yuri1969/events{/privacy}","received_events_url":"https://api.github.com/users/yuri1969/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T15:33:27Z","updated_at":"2018-01-28T15:33:27Z","author_association":"CONTRIBUTOR","body":"@mcgilman The merge conflict should be resolved now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361071480/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361073879","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361073879","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361073879,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA3Mzg3OQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T16:07:27Z","updated_at":"2018-01-28T16:07:27Z","author_association":"CONTRIBUTOR","body":"By setting the NON_BLANK or NON_EMPTY validator, you are prohibiting someone from using an empty string as a username or password, which is what you want, right? So that unit test should fail because you are setting an empty string on USERNAME and then asserting that it is valid, when it is not.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361073879/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361074798","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361074798","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361074798,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA3NDc5OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T16:20:09Z","updated_at":"2018-01-28T16:21:38Z","author_association":"CONTRIBUTOR","body":"@mans2singh This works in the unit test per @mattyb149 's point:\r\n\r\n```\r\n     runner.assertValid();\r\n     runner.setProperty(PutInfluxDB.PASSWORD, \"\");\r\n     runner.assertNotValid();\r\n```\r\n\r\nAnd that's with `NON_EMPTY_VALIDATOR` being used.\r\n\r\nSo I would go ahead and apply that validation rule to both fields and make sure that PutInfluxDb can handle empty/null usernames as anonymous authentication.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361074798/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361079913","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361079913","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361079913,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA3OTkxMw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T17:29:12Z","updated_at":"2018-01-28T17:29:12Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen @mattyb149 \r\n\r\nI've changed the validator and updated the unit test cases for empty username and password.\r\n\r\nPlease let me know if you have any other comments/recommendations.\r\n\r\nThanks\r\n\r\nMans","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361079913/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083348","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361083348","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361083348,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA4MzM0OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T18:16:08Z","updated_at":"2018-01-28T18:16:08Z","author_association":"CONTRIBUTOR","body":"Testing it out now. Will let you know if actually using it I observe anything weird.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083348/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083556","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361083556","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361083556,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA4MzU1Ng==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T18:18:44Z","updated_at":"2018-01-28T18:18:44Z","author_association":"CONTRIBUTOR","body":"+1 LGTM.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083556/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083921","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361083921","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361083921,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTA4MzkyMQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-28T18:23:37Z","updated_at":"2018-01-28T18:23:37Z","author_association":"CONTRIBUTOR","body":"Here's a simple test that generates a new write every 3 seconds.\r\n\r\n[PutInfluxDb_Test.xml.gz](https://github.com/apache/nifi/files/1671417/PutInfluxDb_Test.xml.gz)\r\n\r\nThis is the query I am using in Chronograf:\r\n\r\n```\r\nSELECT mean(\"humidity\") AS \"mean_humidity\" FROM \"test_data\".\"autogen\".\"water\" WHERE time > now() - 1h GROUP BY :interval: FILL(null)\r\n```\r\n\r\nAnd here is a docker-compose file you can use to set up the backend:\r\n\r\n```\r\nversion: '2'\r\n\r\nservices:\r\n  influxdb:\r\n    image: influxdb:latest\r\n    #volumes:\r\n    #  - ./data/influxdb:/var/lib/influxdb\r\n    ports:\r\n      - \"8086:8086\"\r\n      - \"8083:8083\"\r\n      - \"2003:2003\"\r\n    environment:\r\n      INFLUXDB_GRAPHITE_ENABLED: \"true\"\r\n      INFLUXDB_ADMIN_ENABLED: \"true\"\r\n  # Define a Chronograf service\r\n  chronograf:\r\n    image: chronograf\r\n    #volumes:\r\n    #  - ./data/chronograf:/var/lib/chronograf\r\n    ports:\r\n      - \"10000:10000\"\r\n      - \"8888:8888\"\r\n    links:\r\n      - influxdb\r\n```\r\n\r\nWeb UI on port 8888 for testing.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361083921/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361221365","html_url":"https://github.com/apache/nifi/pull/2201#issuecomment-361221365","issue_url":"https://api.github.com/repos/apache/nifi/issues/2201","id":361221365,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTIyMTM2NQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T11:46:19Z","updated_at":"2018-01-29T11:46:19Z","author_association":"CONTRIBUTOR","body":"@frett27 I did some more checks and it seems to work. Are you ok if I send a PR on your branch to improve the UT? Or can you please update this PR according to the comments (and in order to make it passing the tests)? Thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361221365/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361276337","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361276337","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361276337,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTI3NjMzNw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T15:14:16Z","updated_at":"2018-01-29T15:14:16Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen \r\n\r\nThanks for the test file and docker-compose.  Let me know if there is anything else required.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361276337/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361293134","html_url":"https://github.com/apache/nifi/pull/2438#issuecomment-361293134","issue_url":"https://api.github.com/repos/apache/nifi/issues/2438","id":361293134,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTI5MzEzNA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T16:03:16Z","updated_at":"2018-01-29T16:03:16Z","author_association":"CONTRIBUTOR","body":"@jlwt90 thanks for fixing this! Definitely a good find and I appreciate you tackling it and even providing unit tests. +1 merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361293134/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361338715","html_url":"https://github.com/apache/nifi/pull/2133#issuecomment-361338715","issue_url":"https://api.github.com/repos/apache/nifi/issues/2133","id":361338715,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTMzODcxNQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T18:24:53Z","updated_at":"2018-01-29T18:24:53Z","author_association":"CONTRIBUTOR","body":"@gresockj Sorry I must have not seen your comment on here. This PR has been around for quite a while. However, I wonder if https://github.com/apache/nifi/pull/2416 makes this no longer relevant? I recently implemented a new version of the write-ahead log due to an issue that was discovered (NIFI-4774). The new implementation actually avoids using multiple partitions at all so this, I believe, becomes a non-issue. If you agree, then is it okay for you to close the PR? If you don't agree, can you help me understand?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361338715/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361339569","html_url":"https://github.com/apache/nifi/pull/2441#issuecomment-361339569","issue_url":"https://api.github.com/repos/apache/nifi/issues/2441","id":361339569,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTMzOTU2OQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T18:27:47Z","updated_at":"2018-01-29T18:27:47Z","author_association":"CONTRIBUTOR","body":"@markap14 Thanks for the feedback. I merged them into the commit and also found along the way a bug in how I was handling it. So should be good to go now once the build finishes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361339569/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361358926","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361358926","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361358926,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTM1ODkyNg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-29T19:30:13Z","updated_at":"2018-01-29T19:30:13Z","author_association":"CONTRIBUTOR","body":"@mans2singh LGTM, but we need a committer to sign off now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361358926/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361464997","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-361464997","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":361464997,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTQ2NDk5Nw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-30T03:23:41Z","updated_at":"2018-01-30T20:59:06Z","author_association":"CONTRIBUTOR","body":"@mattyb149 \r\n\r\nI've updated the code based on your review feedback (added MIT license,  updated property description, moved connection code out of onSchedule method, added expression language support for db name and size properties, added connection timeout property, updated documentation regarding line protocol reference). I've also added retry relation (for handling socket timeout), and max size exceed relation to handle if records size exceeds limit.  Unit/integration tests are also updated for these changes.\r\n\r\nRegarding max size limit - this is limit on the size of records being posted to InfluxDB.  The processor can push a batch of records separated by new line to InfluxDB. I wanted to give the admin some control over how much data is being posted to InfluxDB.  If the size is exceeded, the size exceed relation can be used to handle this scenario.\r\n\r\nPlease let me know if you have any additional recommendations.\r\n\r\nThanks again for your feedback.\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361464997/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361599064","html_url":"https://github.com/apache/nifi/pull/2028#issuecomment-361599064","issue_url":"https://api.github.com/repos/apache/nifi/issues/2028","id":361599064,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTU5OTA2NA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-30T13:52:01Z","updated_at":"2018-01-30T13:52:01Z","author_association":"CONTRIBUTOR","body":"Bill,\r\n\r\nSome feedback after reviewing in more detail.\r\n\r\n1. There are no unit tests.  I can see why they'd be non-portable given it is executing a process but it does seem like a good candidate for an integration-test at least.  We should definitely have something.  We do have a naming convention for integration tests to execute.\r\n2. The nar is not connected to the nifi-nar-bundles pom\r\n3. The nar is not connected to the nifi-assembly.  This is perfectly fine though if you dont want the nar to be available in the build by default but rather something someone opts into.  I'm ok either way just pointing this out.\r\n4. The L&N updates within the nar are a good start but are incomplete with regard to the totality of the jars present within the nar.\r\n5. The L&N updates in the nar will also need to be validated to see if any need to be carried forward into the nifi-assembly nar.\r\n6. There are unused imports which cause checkstyle/rat failures which is why travis failed on all builds.\r\n7. I'm not an expert on morphlines but it seems like it could be used to do dangerous things on the filesystem.  We have a RestrictedComponent annotation for this purpose so it is probably best to add that to the processor.\r\n8. The processor name for a 'users point of view' should probably be 'ExecuteMorphline'\r\n9. You'll probably want to provide some documentation/additional documentation as many other processors do helping the user (and reviewer to evaluate).\r\n10. Can you update to latest nifi version which is 1.6.0-SNAPSHOT in your next commit.  Not a big deal as I can do that easily enough but it helps.\r\n\r\nThis looks like a lot but for the L&N we have tons of examples.  The rest are pretty straightforward to sort out.\r\n\r\nLet me know if you plan to tackle these.\r\n\r\nThanks\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361599064/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361600601","html_url":"https://github.com/apache/nifi/pull/2028#issuecomment-361600601","issue_url":"https://api.github.com/repos/apache/nifi/issues/2028","id":361600601,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTYwMDYwMQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-30T13:57:37Z","updated_at":"2018-01-30T13:57:37Z","author_association":"CONTRIBUTOR","body":"i added a file to the JIRA which is a patch you can apply for the simple pom updates for version","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361600601/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361717427","html_url":"https://github.com/apache/nifi/pull/2443#issuecomment-361717427","issue_url":"https://api.github.com/repos/apache/nifi/issues/2443","id":361717427,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTcxNzQyNw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-30T20:04:25Z","updated_at":"2018-01-30T20:04:25Z","author_association":"CONTRIBUTOR","body":"Ok. I just pushed some changes that should fix things with the query location issue. I took your advice on following the SQL approach. Unit tests are there and batter the heck out of it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361717427/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361904978","html_url":"https://github.com/apache/nifi/pull/2294#issuecomment-361904978","issue_url":"https://api.github.com/repos/apache/nifi/issues/2294","id":361904978,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTkwNDk3OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T11:29:20Z","updated_at":"2018-01-31T11:29:20Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak @bbende The user who posted on nifi-dev asking for a copy of this confirmed that he's using it in production and is happy with it. If you have any time, could you take a quick look and see if you think it's ready for merge?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361904978/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361905155","html_url":"https://github.com/apache/nifi/pull/2180#issuecomment-361905155","issue_url":"https://api.github.com/repos/apache/nifi/issues/2180","id":361905155,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTkwNTE1NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T11:30:09Z","updated_at":"2018-01-31T11:30:09Z","author_association":"CONTRIBUTOR","body":"@mattyb149 Any chance we can get this merged?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361905155/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361908347","html_url":"https://github.com/apache/nifi/pull/1016#issuecomment-361908347","issue_url":"https://api.github.com/repos/apache/nifi/issues/1016","id":361908347,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTkwODM0Nw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T11:44:26Z","updated_at":"2018-01-31T11:44:26Z","author_association":"CONTRIBUTOR","body":"@brianburnett You didn't respond to the feedback from @pvillard31. Do you need help getting this pushed through?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361908347/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361915475","html_url":"https://github.com/apache/nifi/pull/1016#issuecomment-361915475","issue_url":"https://api.github.com/repos/apache/nifi/issues/1016","id":361915475,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTkxNTQ3NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T12:17:23Z","updated_at":"2018-01-31T12:17:23Z","author_association":"CONTRIBUTOR","body":"@pvillard31 If he doesn't respond, I can take a stab at addressing the feedback so this can be closed out.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361915475/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361950170","html_url":"https://github.com/apache/nifi/pull/1016#issuecomment-361950170","issue_url":"https://api.github.com/repos/apache/nifi/issues/1016","id":361950170,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTk1MDE3MA==","user":{"login":"brianburnett","id":22099886,"node_id":"MDQ6VXNlcjIyMDk5ODg2","avatar_url":"https://avatars.githubusercontent.com/u/22099886?v=4","gravatar_id":"","url":"https://api.github.com/users/brianburnett","html_url":"https://github.com/brianburnett","followers_url":"https://api.github.com/users/brianburnett/followers","following_url":"https://api.github.com/users/brianburnett/following{/other_user}","gists_url":"https://api.github.com/users/brianburnett/gists{/gist_id}","starred_url":"https://api.github.com/users/brianburnett/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brianburnett/subscriptions","organizations_url":"https://api.github.com/users/brianburnett/orgs","repos_url":"https://api.github.com/users/brianburnett/repos","events_url":"https://api.github.com/users/brianburnett/events{/privacy}","received_events_url":"https://api.github.com/users/brianburnett/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T14:34:46Z","updated_at":"2018-01-31T14:34:46Z","author_association":"NONE","body":"It was my intent to finish pushing this through.  I can make the recommended changes but may need some assistance rebasing to the current version.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361950170/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":1},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361986376","html_url":"https://github.com/apache/nifi/pull/2441#issuecomment-361986376","issue_url":"https://api.github.com/repos/apache/nifi/issues/2441","id":361986376,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MTk4NjM3Ng==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T16:24:11Z","updated_at":"2018-01-31T16:24:11Z","author_association":"CONTRIBUTOR","body":"+1 looks good to me. Will merge now","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/361986376/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362002350","html_url":"https://github.com/apache/nifi/pull/1016#issuecomment-362002350","issue_url":"https://api.github.com/repos/apache/nifi/issues/1016","id":362002350,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjAwMjM1MA==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T17:11:34Z","updated_at":"2018-01-31T17:11:34Z","author_association":"CONTRIBUTOR","body":"@brianburnett once you make the recommended changes I can help you with the rebasing effort.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362002350/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":1,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362046203","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-362046203","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":362046203,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA0NjIwMw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T19:38:15Z","updated_at":"2018-01-31T19:38:15Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362046203/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362054894","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-362054894","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":362054894,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA1NDg5NA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T20:07:58Z","updated_at":"2018-01-31T20:07:58Z","author_association":"CONTRIBUTOR","body":"@yuri1969 Thanks! Will start reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362054894/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362064365","html_url":"https://github.com/apache/nifi/pull/2439#issuecomment-362064365","issue_url":"https://api.github.com/repos/apache/nifi/issues/2439","id":362064365,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA2NDM2NQ==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T20:43:40Z","updated_at":"2018-01-31T20:43:40Z","author_association":"CONTRIBUTOR","body":"+1 everything built and ran well for me. Merging now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362064365/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":1,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362067693","html_url":"https://github.com/apache/nifi/pull/2085#issuecomment-362067693","issue_url":"https://api.github.com/repos/apache/nifi/issues/2085","id":362067693,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA2NzY5Mw==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T20:56:22Z","updated_at":"2018-01-31T20:56:22Z","author_association":"CONTRIBUTOR","body":"@alopresto Is there anything I can do to help move this along?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362067693/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362076497","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-362076497","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":362076497,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA3NjQ5Nw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T21:28:29Z","updated_at":"2018-01-31T21:28:29Z","author_association":"CONTRIBUTOR","body":"@yuri1969 The introduction of the Parent group makes a lot of sense. However, I thought the idea of the Top level group was a little confusing. Technically, the Top level group is the Root group we just do not support navigating out of it. As an alternative, I wanted to suggest maybe changing that part to return the nearest versioned group (if applicable) that was just released in 1.5.0. This would be helpful in identifying which versioned flow the component exists in. \r\n\r\nThoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362076497/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362081835","html_url":"https://github.com/apache/nifi/pull/2439#issuecomment-362081835","issue_url":"https://api.github.com/repos/apache/nifi/issues/2439","id":362081835,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjA4MTgzNQ==","user":{"login":"Chaffelson","id":11668664,"node_id":"MDQ6VXNlcjExNjY4NjY0","avatar_url":"https://avatars.githubusercontent.com/u/11668664?v=4","gravatar_id":"","url":"https://api.github.com/users/Chaffelson","html_url":"https://github.com/Chaffelson","followers_url":"https://api.github.com/users/Chaffelson/followers","following_url":"https://api.github.com/users/Chaffelson/following{/other_user}","gists_url":"https://api.github.com/users/Chaffelson/gists{/gist_id}","starred_url":"https://api.github.com/users/Chaffelson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Chaffelson/subscriptions","organizations_url":"https://api.github.com/users/Chaffelson/orgs","repos_url":"https://api.github.com/users/Chaffelson/repos","events_url":"https://api.github.com/users/Chaffelson/events{/privacy}","received_events_url":"https://api.github.com/users/Chaffelson/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T21:47:38Z","updated_at":"2018-01-31T21:47:38Z","author_association":"NONE","body":"Thanks @jdye64 I think this is my first official contribution too","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362081835/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362111654","html_url":"https://github.com/apache/nifi/pull/2439#issuecomment-362111654","issue_url":"https://api.github.com/repos/apache/nifi/issues/2439","id":362111654,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjExMTY1NA==","user":{"login":"jdye64","id":2127235,"node_id":"MDQ6VXNlcjIxMjcyMzU=","avatar_url":"https://avatars.githubusercontent.com/u/2127235?v=4","gravatar_id":"","url":"https://api.github.com/users/jdye64","html_url":"https://github.com/jdye64","followers_url":"https://api.github.com/users/jdye64/followers","following_url":"https://api.github.com/users/jdye64/following{/other_user}","gists_url":"https://api.github.com/users/jdye64/gists{/gist_id}","starred_url":"https://api.github.com/users/jdye64/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdye64/subscriptions","organizations_url":"https://api.github.com/users/jdye64/orgs","repos_url":"https://api.github.com/users/jdye64/repos","events_url":"https://api.github.com/users/jdye64/events{/privacy}","received_events_url":"https://api.github.com/users/jdye64/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-01-31T23:57:22Z","updated_at":"2018-01-31T23:57:22Z","author_association":"CONTRIBUTOR","body":"Alright!! Congratulations! Thank you for the effort and keep up the good work!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362111654/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362213881","html_url":"https://github.com/apache/nifi/pull/2446#issuecomment-362213881","issue_url":"https://api.github.com/repos/apache/nifi/issues/2446","id":362213881,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjIxMzg4MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T09:49:18Z","updated_at":"2018-02-01T09:49:18Z","author_association":"CONTRIBUTOR","body":"I'll take a stab at reviewing, but you should git cherry pick this onto a git branch and not do it off your master branch.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362213881/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362261294","html_url":"https://github.com/apache/nifi/pull/2446#issuecomment-362261294","issue_url":"https://api.github.com/repos/apache/nifi/issues/2446","id":362261294,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjI2MTI5NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T13:11:28Z","updated_at":"2018-02-01T13:11:28Z","author_association":"CONTRIBUTOR","body":"I have a patch that I've been working on for adding support for HBase visibility labels to the existing processors. Might want to think about how to integrate that into this processor.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362261294/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362262255","html_url":"https://github.com/apache/nifi/pull/2181#issuecomment-362262255","issue_url":"https://api.github.com/repos/apache/nifi/issues/2181","id":362262255,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjI2MjI1NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T13:14:56Z","updated_at":"2018-02-01T13:14:56Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @joewitt PutDruid exists now. Should this PR be closed?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362262255/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362292175","html_url":"https://github.com/apache/nifi/pull/2175#issuecomment-362292175","issue_url":"https://api.github.com/repos/apache/nifi/issues/2175","id":362292175,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjI5MjE3NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T15:01:58Z","updated_at":"2018-02-01T15:01:58Z","author_association":"CONTRIBUTOR","body":"@mattyb149 Do you want to keep reviewing this or close it out?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362292175/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362294901","html_url":"https://github.com/apache/nifi/pull/2175#issuecomment-362294901","issue_url":"https://api.github.com/repos/apache/nifi/issues/2175","id":362294901,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjI5NDkwMQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T15:10:59Z","updated_at":"2018-02-01T15:10:59Z","author_association":"CONTRIBUTOR","body":"This is my PR. If you give it a +1 we can have a committer merge it, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362294901/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362295335","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-362295335","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":362295335,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjI5NTMzNQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T15:12:17Z","updated_at":"2018-02-01T15:16:33Z","author_association":"CONTRIBUTOR","body":"@mattyb149 there is a test failure, sorry, my bad. The failing tests are not valid anymore, since we cannot validate the schema since we have it only when we get the flow files. May you please remove `testValidateWithEL` and `testValidate` then please? Thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362295335/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362347451","html_url":"https://github.com/apache/nifi/pull/2175#issuecomment-362347451","issue_url":"https://api.github.com/repos/apache/nifi/issues/2175","id":362347451,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjM0NzQ1MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T17:50:11Z","updated_at":"2018-02-01T17:50:11Z","author_association":"CONTRIBUTOR","body":"Ok. I just went back and tried out PutElasticSearchHttp (don't have time to retry the record one right now), and the behavior was as expected. It treats any delete that doesn't result in a server-side exception as a success. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362347451/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362347550","html_url":"https://github.com/apache/nifi/pull/2175#issuecomment-362347550","issue_url":"https://api.github.com/repos/apache/nifi/issues/2175","id":362347550,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjM0NzU1MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-01T17:50:32Z","updated_at":"2018-02-01T17:50:32Z","author_association":"CONTRIBUTOR","body":"So yeah, +1 on merge.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362347550/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362480601","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-362480601","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":362480601,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjQ4MDYwMQ==","user":{"login":"nologic","id":6311849,"node_id":"MDQ6VXNlcjYzMTE4NDk=","avatar_url":"https://avatars.githubusercontent.com/u/6311849?v=4","gravatar_id":"","url":"https://api.github.com/users/nologic","html_url":"https://github.com/nologic","followers_url":"https://api.github.com/users/nologic/followers","following_url":"https://api.github.com/users/nologic/following{/other_user}","gists_url":"https://api.github.com/users/nologic/gists{/gist_id}","starred_url":"https://api.github.com/users/nologic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nologic/subscriptions","organizations_url":"https://api.github.com/users/nologic/orgs","repos_url":"https://api.github.com/users/nologic/repos","events_url":"https://api.github.com/users/nologic/events{/privacy}","received_events_url":"https://api.github.com/users/nologic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T04:07:37Z","updated_at":"2018-02-02T04:07:37Z","author_association":"NONE","body":"@MikeThomsen seems like a lot of violations, what's the best way to clear these up?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362480601/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362483319","html_url":"https://github.com/apache/nifi/pull/2180#issuecomment-362483319","issue_url":"https://api.github.com/repos/apache/nifi/issues/2180","id":362483319,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjQ4MzMxOQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T04:29:54Z","updated_at":"2018-02-02T04:29:54Z","author_association":"CONTRIBUTOR","body":"There's a conflict now, can you rebase? I will try to take a look as soon as I can afterwards...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362483319/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362544507","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-362544507","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":362544507,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjU0NDUwNw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T10:12:45Z","updated_at":"2018-02-02T10:13:05Z","author_association":"CONTRIBUTOR","body":"It's whack-a-mole. To see many/all of them at once do this from the source root:\r\n\r\n`mvn clean install -Pcontrib-check -pl :nifi-gcp-processors`\r\n\r\n(I didn't look closely. I'm assuming `nifi-gcp-processors` was the maven module that was failing. It needs to be the failing maven module's maven name + `:` at the start to tell Maven to only build that one module w/ the full contrib-check profile)\r\n\r\nThen you just keep changing until you make stylecheck happy.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362544507/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362588011","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-362588011","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":362588011,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjU4ODAxMQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T13:36:08Z","updated_at":"2018-02-02T13:36:08Z","author_association":"CONTRIBUTOR","body":"It is 164 violations but all very easy things to fix.  It is possible there was some newline issues in generating the PR or just some IDE formatting thing can be run.  But it should be super easy to fixup","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362588011/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362603223","html_url":"https://github.com/apache/nifi/pull/2447#issuecomment-362603223","issue_url":"https://api.github.com/repos/apache/nifi/issues/2447","id":362603223,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYwMzIyMw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T14:37:04Z","updated_at":"2018-02-02T14:37:04Z","author_association":"CONTRIBUTOR","body":"I tried out this branch with a table that had about 800k rows (int, varchar(64), timestamp) and it worked smoothly for me.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362603223/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362603859","html_url":"https://github.com/apache/nifi/pull/2432#issuecomment-362603859","issue_url":"https://api.github.com/repos/apache/nifi/issues/2432","id":362603859,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYwMzg1OQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T14:39:27Z","updated_at":"2018-02-02T14:39:27Z","author_association":"CONTRIBUTOR","body":"@markap14 @alopresto @joewitt When I ran this branch it worked fine for me. I think it's OK to sign off for merge.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362603859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362609097","html_url":"https://github.com/apache/nifi/pull/2440#issuecomment-362609097","issue_url":"https://api.github.com/repos/apache/nifi/issues/2440","id":362609097,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYwOTA5Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T14:58:54Z","updated_at":"2018-02-02T14:58:54Z","author_association":"CONTRIBUTOR","body":"LGTM, merging to master, thanks @zenfenan ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362609097/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362613511","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-362613511","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":362613511,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYxMzUxMQ==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T15:14:25Z","updated_at":"2018-02-02T15:14:25Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @MikeThomsen \r\n\r\nPlease let me know if you have any addiional comments/recommendations for this processor.\r\n\r\nThanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362613511/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362625627","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-362625627","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":362625627,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYyNTYyNw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T15:57:53Z","updated_at":"2018-02-02T15:57:53Z","author_association":"CONTRIBUTOR","body":"I ran this with an ActiveMQ instance in Docker and a [simple flow](https://gist.github.com/alopresto/aec7eadd2ed8affd7be8e4056699e5f4) which published JMS messages to a queue and then consumed them. It ran very well at first, and I saw 10 threads on the ConsumeJMS once I configured it that way. But after starting and stopping a few times, the ActiveMQ admin panel showed 30 consumers (3 times start/stopping 10 consumers) and no messages were being consumed anymore. I have attached the bootstrap log which should have the thread dump contents. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362625627/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362626018","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-362626018","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":362626018,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYyNjAxOA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T15:59:15Z","updated_at":"2018-02-02T15:59:15Z","author_association":"CONTRIBUTOR","body":"\r\n\r\n\r\n[thread_dump.txt](https://github.com/apache/nifi/files/1689929/thread_dump.txt)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362626018/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362631000","html_url":"https://github.com/apache/nifi/pull/2442#issuecomment-362631000","issue_url":"https://api.github.com/repos/apache/nifi/issues/2442","id":362631000,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjYzMTAwMA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T16:16:40Z","updated_at":"2018-02-02T16:16:40Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran the unit tests and tried on a live NiFi instance, verified the issue with the \"underpopulated\" column type map is resolved. Thanks for the fix! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362631000/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362645523","html_url":"https://github.com/apache/nifi/pull/2028#issuecomment-362645523","issue_url":"https://api.github.com/repos/apache/nifi/issues/2028","id":362645523,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjY0NTUyMw==","user":{"login":"williampn","id":8635491,"node_id":"MDQ6VXNlcjg2MzU0OTE=","avatar_url":"https://avatars.githubusercontent.com/u/8635491?v=4","gravatar_id":"","url":"https://api.github.com/users/williampn","html_url":"https://github.com/williampn","followers_url":"https://api.github.com/users/williampn/followers","following_url":"https://api.github.com/users/williampn/following{/other_user}","gists_url":"https://api.github.com/users/williampn/gists{/gist_id}","starred_url":"https://api.github.com/users/williampn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/williampn/subscriptions","organizations_url":"https://api.github.com/users/williampn/orgs","repos_url":"https://api.github.com/users/williampn/repos","events_url":"https://api.github.com/users/williampn/events{/privacy}","received_events_url":"https://api.github.com/users/williampn/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T17:09:58Z","updated_at":"2018-02-02T17:09:58Z","author_association":"NONE","body":"@joewitt thanks for the feedback! That was quite a bit of changes to make on my side, but hopefully the latest commit captures everything. I will need to work on the rebase a bit later though.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362645523/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362660556","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-362660556","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":362660556,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjY2MDU1Ng==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T18:08:06Z","updated_at":"2018-02-02T18:08:06Z","author_association":"CONTRIBUTOR","body":"@alopresto thanks, that's a great catch! I pushed a new commit that should address both of these issues. We were not properly shutting down the connections on the Processor was stopped. As a result, those Consumers were also not closed and so any prefetched messages were not rolled back. This caused you to also receive no more messages because the messages were all prefetched by the unclosed Consumers.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362660556/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362707454","html_url":"https://github.com/apache/nifi/pull/2180#issuecomment-362707454","issue_url":"https://api.github.com/repos/apache/nifi/issues/2180","id":362707454,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjcwNzQ1NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T21:06:25Z","updated_at":"2018-02-02T21:06:25Z","author_association":"CONTRIBUTOR","body":"Ok. Did the merge and both GetMongoTest and RunMongoAggregationTest passed (didn't forget to comment out the @ignore statements...)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362707454/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362709149","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-362709149","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":362709149,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjcwOTE0OQ==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T21:13:06Z","updated_at":"2018-02-02T21:13:06Z","author_association":"CONTRIBUTOR","body":"With the fix Mark provided, everything looks great. \r\n\r\nRan `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362709149/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362730549","html_url":"https://github.com/apache/nifi/pull/2434#issuecomment-362730549","issue_url":"https://api.github.com/repos/apache/nifi/issues/2434","id":362730549,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjczMDU0OQ==","user":{"login":"mosermw","id":10587698,"node_id":"MDQ6VXNlcjEwNTg3Njk4","avatar_url":"https://avatars.githubusercontent.com/u/10587698?v=4","gravatar_id":"","url":"https://api.github.com/users/mosermw","html_url":"https://github.com/mosermw","followers_url":"https://api.github.com/users/mosermw/followers","following_url":"https://api.github.com/users/mosermw/following{/other_user}","gists_url":"https://api.github.com/users/mosermw/gists{/gist_id}","starred_url":"https://api.github.com/users/mosermw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosermw/subscriptions","organizations_url":"https://api.github.com/users/mosermw/orgs","repos_url":"https://api.github.com/users/mosermw/repos","events_url":"https://api.github.com/users/mosermw/events{/privacy}","received_events_url":"https://api.github.com/users/mosermw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-02T22:45:36Z","updated_at":"2018-02-02T22:45:36Z","author_association":"MEMBER","body":"Hi @m-hogue I got an error when trying to test PostHTTP sending to a ListenHTTP with this PR.\r\n\r\n2018-02-02 22:15:43,007 ERROR [Timer-Driven Process Thread-7] o.a.nifi.processors.standard.PostHTTP PostHTTP[id=01611004-47b6-1aa6-0836-08b0dc270fae] Failed to Post StandardFlowFileRecord[uuid=ac9ba210-264f-43\r\nb3-bfcf-34bc4c566932,claim=StandardContentClaim [resourceClaim=StandardResourceClaim[id=1517609573204-1, container=default, section=1], offset=364938, length=121646],offset=0,name=nifi-app.log.txt,size=121646]\r\n to http://localhost:7777/contentListener: sent content and received status code 303:See Other but no Hold URI\r\n2018-02-02 22:15:43,020 ERROR [Timer-Driven Process Thread-7] o.a.nifi.processors.standard.PostHTTP PostHTTP[id=01611004-47b6-1aa6-0836-08b0dc270fae] PostHTTP[id=01611004-47b6-1aa6-0836-08b0dc270fae] failed to\r\n process due to java.lang.IllegalStateException: Connection pool shut down; rolling back session: {}\r\njava.lang.IllegalStateException: Connection pool shut down\r\n        at org.apache.http.util.Asserts.check(Asserts.java:34)\r\n        at org.apache.http.pool.AbstractConnPool.lease(AbstractConnPool.java:184)\r\n        at org.apache.http.impl.conn.PoolingHttpClientConnectionManager.requestConnection(PoolingHttpClientConnectionManager.java:257)\r\n        at org.apache.http.impl.execchain.MainClientExec.execute(MainClientExec.java:176)\r\n        at org.apache.http.impl.execchain.ProtocolExec.execute(ProtocolExec.java:185)\r\n        at org.apache.http.impl.execchain.RedirectExec.execute(RedirectExec.java:111)\r\n        at org.apache.http.impl.client.InternalHttpClient.doExecute(InternalHttpClient.java:185)\r\n        at org.apache.http.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:83)\r\n        at org.apache.http.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:108)\r\n        at org.apache.nifi.processors.standard.PostHTTP.onTrigger(PostHTTP.java:643)\r\n        at org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n        at org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1122)\r\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:147)\r\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:47)\r\n        at org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:128)\r\n        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n        at java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n        at java.lang.Thread.run(Thread.java:748)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362730549/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362826833","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-362826833","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":362826833,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MjgyNjgzMw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-03T16:06:24Z","updated_at":"2018-02-03T16:08:34Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen - \r\n\r\nIf the fields, tags and timestamp for a measurement are the same, they are considered to be the same record. \r\n\r\nRegarding size limit - I did not find any mention of size limit for posting data in the influxDB docs. I think this all depends on use cases and with the size limit processor property and relation available, the NIFI admin configure the values based on their influx db cluster and load.\r\n\r\nLet me know if I have missed anything or anything else required.\r\n\r\nThanks again for your advice/comments.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362826833/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362847654","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-362847654","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":362847654,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mjg0NzY1NA==","user":{"login":"yuri1969","id":13468636,"node_id":"MDQ6VXNlcjEzNDY4NjM2","avatar_url":"https://avatars.githubusercontent.com/u/13468636?v=4","gravatar_id":"","url":"https://api.github.com/users/yuri1969","html_url":"https://github.com/yuri1969","followers_url":"https://api.github.com/users/yuri1969/followers","following_url":"https://api.github.com/users/yuri1969/following{/other_user}","gists_url":"https://api.github.com/users/yuri1969/gists{/gist_id}","starred_url":"https://api.github.com/users/yuri1969/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yuri1969/subscriptions","organizations_url":"https://api.github.com/users/yuri1969/orgs","repos_url":"https://api.github.com/users/yuri1969/repos","events_url":"https://api.github.com/users/yuri1969/events{/privacy}","received_events_url":"https://api.github.com/users/yuri1969/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-03T19:33:23Z","updated_at":"2018-02-03T19:33:53Z","author_association":"CONTRIBUTOR","body":"@mcgilman In my experience, the top level group information was not really as useful as the parent one. So I don't mind the change you proposed.\r\n\r\nI guess @mattyb149 should be asked since he had created the original request.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362847654/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362944964","html_url":"https://github.com/apache/nifi/pull/1997#issuecomment-362944964","issue_url":"https://api.github.com/repos/apache/nifi/issues/1997","id":362944964,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mjk0NDk2NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-04T22:18:48Z","updated_at":"2018-02-04T22:18:48Z","author_association":"CONTRIBUTOR","body":"@cherrera2001 Do you have any updates?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362944964/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362956671","html_url":"https://github.com/apache/nifi/pull/1997#issuecomment-362956671","issue_url":"https://api.github.com/repos/apache/nifi/issues/1997","id":362956671,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mjk1NjY3MQ==","user":{"login":"cherrera2001","id":5923087,"node_id":"MDQ6VXNlcjU5MjMwODc=","avatar_url":"https://avatars.githubusercontent.com/u/5923087?v=4","gravatar_id":"","url":"https://api.github.com/users/cherrera2001","html_url":"https://github.com/cherrera2001","followers_url":"https://api.github.com/users/cherrera2001/followers","following_url":"https://api.github.com/users/cherrera2001/following{/other_user}","gists_url":"https://api.github.com/users/cherrera2001/gists{/gist_id}","starred_url":"https://api.github.com/users/cherrera2001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cherrera2001/subscriptions","organizations_url":"https://api.github.com/users/cherrera2001/orgs","repos_url":"https://api.github.com/users/cherrera2001/repos","events_url":"https://api.github.com/users/cherrera2001/events{/privacy}","received_events_url":"https://api.github.com/users/cherrera2001/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-05T01:08:25Z","updated_at":"2018-02-05T01:08:25Z","author_association":"NONE","body":"Should be done by Tuesday night CST","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362956671/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362995029","html_url":"https://github.com/apache/nifi/pull/2162#issuecomment-362995029","issue_url":"https://api.github.com/repos/apache/nifi/issues/2162","id":362995029,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mjk5NTAyOQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-05T06:42:24Z","updated_at":"2018-02-05T06:42:24Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak Updated. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/362995029/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363051461","html_url":"https://github.com/apache/nifi/pull/2113#issuecomment-363051461","issue_url":"https://api.github.com/repos/apache/nifi/issues/2113","id":363051461,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzA1MTQ2MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-05T11:00:15Z","updated_at":"2018-02-05T11:00:15Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I think all of the change requests are done.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363051461/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363292769","html_url":"https://github.com/apache/nifi/pull/2231#issuecomment-363292769","issue_url":"https://api.github.com/repos/apache/nifi/issues/2231","id":363292769,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzI5Mjc2OQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T02:45:52Z","updated_at":"2018-02-06T02:45:52Z","author_association":"CONTRIBUTOR","body":"@mattyb149 Code updated.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363292769/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363302630","html_url":"https://github.com/apache/nifi/pull/2243#issuecomment-363302630","issue_url":"https://api.github.com/repos/apache/nifi/issues/2243","id":363302630,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzMwMjYzMA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T03:50:12Z","updated_at":"2018-02-06T03:50:12Z","author_association":"CONTRIBUTOR","body":"Updated","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363302630/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363485341","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-363485341","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":363485341,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzQ4NTM0MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T16:44:38Z","updated_at":"2018-02-06T16:44:38Z","author_association":"CONTRIBUTOR","body":"We don't need to get rid of those tests; rather I think if no EL is present, then we should try parsing the schema for validity. It will be reparsed in onTrigger() anyway (whether it has EL or not).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363485341/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363521031","html_url":"https://github.com/apache/nifi/pull/2452#issuecomment-363521031","issue_url":"https://api.github.com/repos/apache/nifi/issues/2452","id":363521031,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzUyMTAzMQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T18:36:25Z","updated_at":"2018-02-06T18:36:25Z","author_association":"CONTRIBUTOR","body":"@mattyb149 thanks for the update. This is definitely something that I think we should have added at the start. I'm curious about why the update to all of the reporting tasks, though. None of them make use of the name, as far as I can tell, so why both storing it off? Moreover, if we do want to store it off, then why not just have the setName() method have an @OnScheduled annotation and take in the ConfigurationContext. Then the abstract impl will automatically have the name set. It would not necessarily be available if being called from other @OnScheduled methods, but I think that's okay as long as it is documented - in such a case, you should call the method on the ReportingContext itself.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363521031/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363557230","html_url":"https://github.com/apache/nifi/pull/1755#issuecomment-363557230","issue_url":"https://api.github.com/repos/apache/nifi/issues/1755","id":363557230,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzU1NzIzMA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T20:37:39Z","updated_at":"2018-02-06T20:37:39Z","author_association":"CONTRIBUTOR","body":"I wonder if this was done on Windows with the Git options not being set to \"checkout w/ Windows line encoding, check in with Unix.\"","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363557230/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363569766","html_url":"https://github.com/apache/nifi/pull/2452#issuecomment-363569766","issue_url":"https://api.github.com/repos/apache/nifi/issues/2452","id":363569766,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzU2OTc2Ng==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-06T21:26:01Z","updated_at":"2018-02-06T21:26:01Z","author_association":"CONTRIBUTOR","body":"The idea for storing off the name for all reporting tasks is to support #2431 , in fact that's where this behavior was discovered.\r\n\r\nI like the @OnScheduled setName() idea, I may call it something more specific (rather than a bean method) since it will take a context. Will make the change, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363569766/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363705849","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-363705849","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":363705849,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzcwNTg0OQ==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T09:17:28Z","updated_at":"2018-02-07T09:17:28Z","author_association":"CONTRIBUTOR","body":"thanks @mattyb149. The test failures are not related to this PR. They are caused by 3ca7c3e7a19c7f496a214d9b93ace43b1507c9ec. I am investigating them. I am not sure if it is possible to re-trigger a build for this PR, thanks.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363705849/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363718806","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-363718806","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":363718806,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzcxODgwNg==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T10:05:11Z","updated_at":"2018-02-07T10:05:11Z","author_association":"CONTRIBUTOR","body":"this is causing some test failures on travis, but I am not able to reproduce the failures locally (https://api.travis-ci.org/v3/job/338096661/log.txt). Maybe we can revert it for the moment and merge it again after understanding and fixing the issue?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363718806/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363774586","html_url":"https://github.com/apache/nifi/pull/2435#issuecomment-363774586","issue_url":"https://api.github.com/repos/apache/nifi/issues/2435","id":363774586,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzc3NDU4Ng==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T13:50:49Z","updated_at":"2018-02-07T13:50:49Z","author_association":"CONTRIBUTOR","body":"Thanks @ijokarumawak! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363774586/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363774980","html_url":"https://github.com/apache/nifi/pull/2453#issuecomment-363774980","issue_url":"https://api.github.com/repos/apache/nifi/issues/2453","id":363774980,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzc3NDk4MA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T13:52:16Z","updated_at":"2018-02-07T13:52:16Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363774980/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363776223","html_url":"https://github.com/apache/nifi/pull/2453#issuecomment-363776223","issue_url":"https://api.github.com/repos/apache/nifi/issues/2453","id":363776223,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzc3NjIyMw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T13:56:42Z","updated_at":"2018-02-07T13:56:42Z","author_association":"CONTRIBUTOR","body":"Thanks @ijokarumawak! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363776223/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363797653","html_url":"https://github.com/apache/nifi/pull/2101#issuecomment-363797653","issue_url":"https://api.github.com/repos/apache/nifi/issues/2101","id":363797653,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzc5NzY1Mw==","user":{"login":"mans2singh","id":8467404,"node_id":"MDQ6VXNlcjg0Njc0MDQ=","avatar_url":"https://avatars.githubusercontent.com/u/8467404?v=4","gravatar_id":"","url":"https://api.github.com/users/mans2singh","html_url":"https://github.com/mans2singh","followers_url":"https://api.github.com/users/mans2singh/followers","following_url":"https://api.github.com/users/mans2singh/following{/other_user}","gists_url":"https://api.github.com/users/mans2singh/gists{/gist_id}","starred_url":"https://api.github.com/users/mans2singh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mans2singh/subscriptions","organizations_url":"https://api.github.com/users/mans2singh/orgs","repos_url":"https://api.github.com/users/mans2singh/repos","events_url":"https://api.github.com/users/mans2singh/events{/privacy}","received_events_url":"https://api.github.com/users/mans2singh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T15:06:52Z","updated_at":"2018-02-07T15:06:52Z","author_association":"CONTRIBUTOR","body":"Hi @MikeThomsen @mattyb149 @joewitt \r\n\r\nI believe I have implemented all the review changes.  Please let me know if there is anything I have missed or you have any additional recommendations.\r\n\r\nThanks for your feedback.\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363797653/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363808265","html_url":"https://github.com/apache/nifi/pull/2450#issuecomment-363808265","issue_url":"https://api.github.com/repos/apache/nifi/issues/2450","id":363808265,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzgwODI2NQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T15:39:03Z","updated_at":"2018-02-07T15:39:03Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran build with contrib-check and unit tests, also tried with a live NiFi, using QueryDatabaseTable -> ConvertRecord. Reproduced the issue then verified the correct behavior. Thanks for this fix! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363808265/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363810354","html_url":"https://github.com/apache/nifi/pull/2451#issuecomment-363810354","issue_url":"https://api.github.com/repos/apache/nifi/issues/2451","id":363810354,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzgxMDM1NA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T15:45:16Z","updated_at":"2018-02-07T15:45:16Z","author_association":"CONTRIBUTOR","body":"There's a merge conflict now that #2450 is merged, I'm guessing it's because you built this PR with your other commit from 2450 as well. Can you rebase / replace your NIFI-4844 commit with the one from master? Please and thanks :) In the meantime I will cherry-pick the NIFI-4846 commit into master for testing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363810354/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363821204","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-363821204","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":363821204,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzgyMTIwNA==","user":{"login":"mosermw","id":10587698,"node_id":"MDQ6VXNlcjEwNTg3Njk4","avatar_url":"https://avatars.githubusercontent.com/u/10587698?v=4","gravatar_id":"","url":"https://api.github.com/users/mosermw","html_url":"https://github.com/mosermw","followers_url":"https://api.github.com/users/mosermw/followers","following_url":"https://api.github.com/users/mosermw/following{/other_user}","gists_url":"https://api.github.com/users/mosermw/gists{/gist_id}","starred_url":"https://api.github.com/users/mosermw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosermw/subscriptions","organizations_url":"https://api.github.com/users/mosermw/orgs","repos_url":"https://api.github.com/users/mosermw/repos","events_url":"https://api.github.com/users/mosermw/events{/privacy}","received_events_url":"https://api.github.com/users/mosermw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T16:14:31Z","updated_at":"2018-02-07T16:14:31Z","author_association":"MEMBER","body":"I get the exact same unit test failures on Ubuntu 16.04.  I was working on NIFI-2630, so I thought it was my code changes, but the test failure happens when I build master without any changes.  Interestingly, when I build master on Windows 10, these unit tests pass.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363821204/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363827954","html_url":"https://github.com/apache/nifi/pull/2445#issuecomment-363827954","issue_url":"https://api.github.com/repos/apache/nifi/issues/2445","id":363827954,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzgyNzk1NA==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T16:34:48Z","updated_at":"2018-02-07T16:34:48Z","author_association":"CONTRIBUTOR","body":"on OSX they are passing too, so it may be a platform related error","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363827954/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363831861","html_url":"https://github.com/apache/nifi/pull/2451#issuecomment-363831861","issue_url":"https://api.github.com/repos/apache/nifi/issues/2451","id":363831861,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzgzMTg2MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T16:46:08Z","updated_at":"2018-02-07T16:46:08Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran a build with contrib-check and unit tests, also tried with a live NiFi with various schema conversions. Once the rebase has been performed, I will merge this to master. Thanks for the improvement!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363831861/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363878167","html_url":"https://github.com/apache/nifi/pull/2456#issuecomment-363878167","issue_url":"https://api.github.com/repos/apache/nifi/issues/2456","id":363878167,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzg3ODE2Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T19:14:23Z","updated_at":"2018-02-07T19:14:23Z","author_association":"CONTRIBUTOR","body":"This PR exists solely to check that it addresses a build failure that occurs on Travis CI. I have been unable to replicate locally but believe that I understand the issue. If this addresses the build failure, I will handle merging to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363878167/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363888003","html_url":"https://github.com/apache/nifi/pull/2456#issuecomment-363888003","issue_url":"https://api.github.com/repos/apache/nifi/issues/2456","id":363888003,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzg4ODAwMw==","user":{"login":"mosermw","id":10587698,"node_id":"MDQ6VXNlcjEwNTg3Njk4","avatar_url":"https://avatars.githubusercontent.com/u/10587698?v=4","gravatar_id":"","url":"https://api.github.com/users/mosermw","html_url":"https://github.com/mosermw","followers_url":"https://api.github.com/users/mosermw/followers","following_url":"https://api.github.com/users/mosermw/following{/other_user}","gists_url":"https://api.github.com/users/mosermw/gists{/gist_id}","starred_url":"https://api.github.com/users/mosermw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosermw/subscriptions","organizations_url":"https://api.github.com/users/mosermw/orgs","repos_url":"https://api.github.com/users/mosermw/repos","events_url":"https://api.github.com/users/mosermw/events{/privacy}","received_events_url":"https://api.github.com/users/mosermw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T19:46:05Z","updated_at":"2018-02-07T19:46:05Z","author_association":"MEMBER","body":"@markap14  I tried your change locally and it does fix one of the two test failures.  The validateConsumeWithCustomHeadersAndProperties() is fixed but validateFailOnUnsupportedMessageType() still fails.  I haven't been able to figure out why, yet.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363888003/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363894329","html_url":"https://github.com/apache/nifi/pull/2456#issuecomment-363894329","issue_url":"https://api.github.com/repos/apache/nifi/issues/2456","id":363894329,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzg5NDMyOQ==","user":{"login":"mosermw","id":10587698,"node_id":"MDQ6VXNlcjEwNTg3Njk4","avatar_url":"https://avatars.githubusercontent.com/u/10587698?v=4","gravatar_id":"","url":"https://api.github.com/users/mosermw","html_url":"https://github.com/mosermw","followers_url":"https://api.github.com/users/mosermw/followers","following_url":"https://api.github.com/users/mosermw/following{/other_user}","gists_url":"https://api.github.com/users/mosermw/gists{/gist_id}","starred_url":"https://api.github.com/users/mosermw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosermw/subscriptions","organizations_url":"https://api.github.com/users/mosermw/orgs","repos_url":"https://api.github.com/users/mosermw/repos","events_url":"https://api.github.com/users/mosermw/events{/privacy}","received_events_url":"https://api.github.com/users/mosermw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T20:07:51Z","updated_at":"2018-02-07T20:07:51Z","author_association":"MEMBER","body":"Nevermind my last comment.  It looks like this is going to resolve both unit test failures.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363894329/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363895047","html_url":"https://github.com/apache/nifi/pull/2456#issuecomment-363895047","issue_url":"https://api.github.com/repos/apache/nifi/issues/2456","id":363895047,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzg5NTA0Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T20:10:28Z","updated_at":"2018-02-07T20:10:28Z","author_association":"CONTRIBUTOR","body":"@mosermw thanks for confirming that you were able to replicate and see the correct results. Was able to confirm that Travis now builds properly as well. Pushed fix to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363895047/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363895723","html_url":"https://github.com/apache/nifi/pull/2455#issuecomment-363895723","issue_url":"https://api.github.com/repos/apache/nifi/issues/2455","id":363895723,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzg5NTcyMw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T20:13:08Z","updated_at":"2018-02-07T20:13:08Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363895723/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363903511","html_url":"https://github.com/apache/nifi/pull/2364#issuecomment-363903511","issue_url":"https://api.github.com/repos/apache/nifi/issues/2364","id":363903511,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzkwMzUxMQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T20:41:11Z","updated_at":"2018-02-07T20:41:11Z","author_association":"CONTRIBUTOR","body":"@mcgilman 's suggestion makes sense to me and should prove useful in the search results.  Make it so! :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363903511/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363904971","html_url":"https://github.com/apache/nifi/pull/2444#issuecomment-363904971","issue_url":"https://api.github.com/repos/apache/nifi/issues/2444","id":363904971,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzkwNDk3MQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T20:46:32Z","updated_at":"2018-02-07T20:46:32Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak thanks for addressing! Code review looks good. All unit tests pass (including the ones that were @ignored previously!) and some local testing all worked out exactly as expected. +1 merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363904971/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363919565","html_url":"https://github.com/apache/nifi/pull/2455#issuecomment-363919565","issue_url":"https://api.github.com/repos/apache/nifi/issues/2455","id":363919565,"node_id":"MDEyOklzc3VlQ29tbWVudDM2MzkxOTU2NQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-07T21:39:05Z","updated_at":"2018-02-07T21:39:05Z","author_association":"CONTRIBUTOR","body":"+1 Looks good, tested the scenario in the JIRA and verified the thread count longer continues to increase, will merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363919565/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363958543","html_url":"https://github.com/apache/nifi/pull/2451#issuecomment-363958543","issue_url":"https://api.github.com/repos/apache/nifi/issues/2451","id":363958543,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzk1ODU0Mw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T00:20:32Z","updated_at":"2018-02-08T00:20:32Z","author_association":"MEMBER","body":"@mattyb149 Rebased with the latest master. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363958543/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363963278","html_url":"https://github.com/apache/nifi/pull/2451#issuecomment-363963278","issue_url":"https://api.github.com/repos/apache/nifi/issues/2451","id":363963278,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzk2MzI3OA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T00:43:08Z","updated_at":"2018-02-08T00:43:08Z","author_association":"CONTRIBUTOR","body":"Thank you sir, merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363963278/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363963796","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-363963796","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":363963796,"node_id":"MDEyOklzc3VlQ29tbWVudDM2Mzk2Mzc5Ng==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T00:45:53Z","updated_at":"2018-02-08T00:45:53Z","author_association":"CONTRIBUTOR","body":"Are you comfortable giving a +1 without the other test failures? If so we can get a committer to merge. Thanks to both @mgaido91 and @patricker for improvements.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/363963796/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364064228","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-364064228","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":364064228,"node_id":"MDEyOklzc3VlQ29tbWVudDM2NDA2NDIyOA==","user":{"login":"mgaido91","id":8821783,"node_id":"MDQ6VXNlcjg4MjE3ODM=","avatar_url":"https://avatars.githubusercontent.com/u/8821783?v=4","gravatar_id":"","url":"https://api.github.com/users/mgaido91","html_url":"https://github.com/mgaido91","followers_url":"https://api.github.com/users/mgaido91/followers","following_url":"https://api.github.com/users/mgaido91/following{/other_user}","gists_url":"https://api.github.com/users/mgaido91/gists{/gist_id}","starred_url":"https://api.github.com/users/mgaido91/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mgaido91/subscriptions","organizations_url":"https://api.github.com/users/mgaido91/orgs","repos_url":"https://api.github.com/users/mgaido91/repos","events_url":"https://api.github.com/users/mgaido91/events{/privacy}","received_events_url":"https://api.github.com/users/mgaido91/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T10:11:21Z","updated_at":"2018-02-08T10:11:21Z","author_association":"CONTRIBUTOR","body":"+1, locally it builds and passes all the tests","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364064228/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364076127","html_url":"https://github.com/apache/nifi/pull/2226#issuecomment-364076127","issue_url":"https://api.github.com/repos/apache/nifi/issues/2226","id":364076127,"node_id":"MDEyOklzc3VlQ29tbWVudDM2NDA3NjEyNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T10:55:19Z","updated_at":"2018-02-08T10:55:19Z","author_association":"CONTRIBUTOR","body":"+1 as well, merging to master, thanks guys","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364076127/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364137180","html_url":"https://github.com/apache/nifi/pull/2457#issuecomment-364137180","issue_url":"https://api.github.com/repos/apache/nifi/issues/2457","id":364137180,"node_id":"MDEyOklzc3VlQ29tbWVudDM2NDEzNzE4MA==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-02-08T14:58:06Z","updated_at":"2018-02-08T14:58:06Z","author_association":"CONTRIBUTOR","body":"Ran fine on my end. LGTM. Thanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/364137180/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]