data/github-comments/apache-NiFi-3-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/144783629","html_url":"https://github.com/apache/nifi/pull/94#issuecomment-144783629","issue_url":"https://api.github.com/repos/apache/nifi/issues/94","id":144783629,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NDc4MzYyOQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-01T16:46:19Z","updated_at":"2015-10-01T16:46:19Z","author_association":"CONTRIBUTOR","body":"@joemeszaros the concern that I have with the notion of the ExtendedDistributedMapCacheClient is that once that is released, it will have the same caveats as the DistributedMapCacheClient - others can extend it, so we cannot change the interface in a non-backward-compatible way once we release it.\n\nI think if there are specific methods that we think will be added, then we need to implement those before we release the service. Otherwise, in order to add new methods to the ExtendedDistributedMapCacheClient we would need to create yet another interface that extends that one. This is all done because we consider the Standard Services API to be \"public interfaces\" so that once they are out there, we have no idea who has implemented them. As a result, if we change them, even if we update all of the code in Apache NiFi, we may be breaking someone else's \"private\" implementation.\n\nIn theory, though, this will become a lot less painful once we move to 1.0.0 because I believe the intent is to move to Java 8, which means that we can include default implementations in the interfaces. As a result, we could potentially add new methods to interfaces as long as they can be implemented using existing methods.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/144783629/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/145168859","html_url":"https://github.com/apache/nifi/pull/93#issuecomment-145168859","issue_url":"https://api.github.com/repos/apache/nifi/issues/93","id":145168859,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NTE2ODg1OQ==","user":{"login":"randerzander","id":1692914,"node_id":"MDQ6VXNlcjE2OTI5MTQ=","avatar_url":"https://avatars.githubusercontent.com/u/1692914?v=4","gravatar_id":"","url":"https://api.github.com/users/randerzander","html_url":"https://github.com/randerzander","followers_url":"https://api.github.com/users/randerzander/followers","following_url":"https://api.github.com/users/randerzander/following{/other_user}","gists_url":"https://api.github.com/users/randerzander/gists{/gist_id}","starred_url":"https://api.github.com/users/randerzander/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/randerzander/subscriptions","organizations_url":"https://api.github.com/users/randerzander/orgs","repos_url":"https://api.github.com/users/randerzander/repos","events_url":"https://api.github.com/users/randerzander/events{/privacy}","received_events_url":"https://api.github.com/users/randerzander/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-02T22:17:40Z","updated_at":"2015-10-02T22:17:40Z","author_association":"CONTRIBUTOR","body":"closing after suggestion to use existing processor in input mode with a downstream ReplaceText Processor(replace \"INSERT\" with \"UPSERT\".\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/145168859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/145549989","html_url":"https://github.com/apache/nifi/pull/99#issuecomment-145549989","issue_url":"https://api.github.com/repos/apache/nifi/issues/99","id":145549989,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NTU0OTk4OQ==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-05T14:40:56Z","updated_at":"2015-10-05T14:40:56Z","author_association":"MEMBER","body":"Looks good.  Did some testing to confirm Get/Put continued to work as anticipated.  Thanks!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/145549989/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557410","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147557410","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147557410,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU1NzQxMA==","user":{"login":"joey","id":249392,"node_id":"MDQ6VXNlcjI0OTM5Mg==","avatar_url":"https://avatars.githubusercontent.com/u/249392?v=4","gravatar_id":"","url":"https://api.github.com/users/joey","html_url":"https://github.com/joey","followers_url":"https://api.github.com/users/joey/followers","following_url":"https://api.github.com/users/joey/following{/other_user}","gists_url":"https://api.github.com/users/joey/gists{/gist_id}","starred_url":"https://api.github.com/users/joey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joey/subscriptions","organizations_url":"https://api.github.com/users/joey/orgs","repos_url":"https://api.github.com/users/joey/repos","events_url":"https://api.github.com/users/joey/events{/privacy}","received_events_url":"https://api.github.com/users/joey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:32:40Z","updated_at":"2015-10-13T00:32:40Z","author_association":"CONTRIBUTOR","body":"+1, lgtm\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557410/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557461","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147557461","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147557461,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU1NzQ2MQ==","user":{"login":"joey","id":249392,"node_id":"MDQ6VXNlcjI0OTM5Mg==","avatar_url":"https://avatars.githubusercontent.com/u/249392?v=4","gravatar_id":"","url":"https://api.github.com/users/joey","html_url":"https://github.com/joey","followers_url":"https://api.github.com/users/joey/followers","following_url":"https://api.github.com/users/joey/following{/other_user}","gists_url":"https://api.github.com/users/joey/gists{/gist_id}","starred_url":"https://api.github.com/users/joey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joey/subscriptions","organizations_url":"https://api.github.com/users/joey/orgs","repos_url":"https://api.github.com/users/joey/repos","events_url":"https://api.github.com/users/joey/events{/privacy}","received_events_url":"https://api.github.com/users/joey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:32:57Z","updated_at":"2015-10-13T00:32:57Z","author_association":"CONTRIBUTOR","body":"Is there a JIRA associated with this?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557461/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557510","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147557510","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147557510,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU1NzUxMA==","user":{"login":"jackowaya","id":450988,"node_id":"MDQ6VXNlcjQ1MDk4OA==","avatar_url":"https://avatars.githubusercontent.com/u/450988?v=4","gravatar_id":"","url":"https://api.github.com/users/jackowaya","html_url":"https://github.com/jackowaya","followers_url":"https://api.github.com/users/jackowaya/followers","following_url":"https://api.github.com/users/jackowaya/following{/other_user}","gists_url":"https://api.github.com/users/jackowaya/gists{/gist_id}","starred_url":"https://api.github.com/users/jackowaya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jackowaya/subscriptions","organizations_url":"https://api.github.com/users/jackowaya/orgs","repos_url":"https://api.github.com/users/jackowaya/repos","events_url":"https://api.github.com/users/jackowaya/events{/privacy}","received_events_url":"https://api.github.com/users/jackowaya/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:33:25Z","updated_at":"2015-10-13T00:33:25Z","author_association":"NONE","body":"Yes. I screwed up making the commit message. It's https://issues.apache.org/jira/browse/NIFI-1035\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557510/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557634","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147557634","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147557634,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU1NzYzNA==","user":{"login":"jackowaya","id":450988,"node_id":"MDQ6VXNlcjQ1MDk4OA==","avatar_url":"https://avatars.githubusercontent.com/u/450988?v=4","gravatar_id":"","url":"https://api.github.com/users/jackowaya","html_url":"https://github.com/jackowaya","followers_url":"https://api.github.com/users/jackowaya/followers","following_url":"https://api.github.com/users/jackowaya/following{/other_user}","gists_url":"https://api.github.com/users/jackowaya/gists{/gist_id}","starred_url":"https://api.github.com/users/jackowaya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jackowaya/subscriptions","organizations_url":"https://api.github.com/users/jackowaya/orgs","repos_url":"https://api.github.com/users/jackowaya/repos","events_url":"https://api.github.com/users/jackowaya/events{/privacy}","received_events_url":"https://api.github.com/users/jackowaya/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:34:44Z","updated_at":"2015-10-13T00:34:44Z","author_association":"NONE","body":"Just force pushed with a message that has the jira ID in it. Hopefully that doesn't screw anything up.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557634/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557969","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147557969","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147557969,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU1Nzk2OQ==","user":{"login":"joey","id":249392,"node_id":"MDQ6VXNlcjI0OTM5Mg==","avatar_url":"https://avatars.githubusercontent.com/u/249392?v=4","gravatar_id":"","url":"https://api.github.com/users/joey","html_url":"https://github.com/joey","followers_url":"https://api.github.com/users/joey/followers","following_url":"https://api.github.com/users/joey/following{/other_user}","gists_url":"https://api.github.com/users/joey/gists{/gist_id}","starred_url":"https://api.github.com/users/joey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joey/subscriptions","organizations_url":"https://api.github.com/users/joey/orgs","repos_url":"https://api.github.com/users/joey/repos","events_url":"https://api.github.com/users/joey/events{/privacy}","received_events_url":"https://api.github.com/users/joey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:37:47Z","updated_at":"2015-10-13T00:37:47Z","author_association":"CONTRIBUTOR","body":"No worries, it still looks good to me :)\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147557969/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147560797","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-147560797","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":147560797,"node_id":"MDEyOklzc3VlQ29tbWVudDE0NzU2MDc5Nw==","user":{"login":"rdblue","id":87915,"node_id":"MDQ6VXNlcjg3OTE1","avatar_url":"https://avatars.githubusercontent.com/u/87915?v=4","gravatar_id":"","url":"https://api.github.com/users/rdblue","html_url":"https://github.com/rdblue","followers_url":"https://api.github.com/users/rdblue/followers","following_url":"https://api.github.com/users/rdblue/following{/other_user}","gists_url":"https://api.github.com/users/rdblue/gists{/gist_id}","starred_url":"https://api.github.com/users/rdblue/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rdblue/subscriptions","organizations_url":"https://api.github.com/users/rdblue/orgs","repos_url":"https://api.github.com/users/rdblue/repos","events_url":"https://api.github.com/users/rdblue/events{/privacy}","received_events_url":"https://api.github.com/users/rdblue/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-13T00:53:36Z","updated_at":"2015-10-13T00:53:36Z","author_association":"CONTRIBUTOR","body":"+1, thanks for fixing this @jackowaya!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/147560797/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148152423","html_url":"https://github.com/apache/nifi/pull/80#issuecomment-148152423","issue_url":"https://api.github.com/repos/apache/nifi/issues/80","id":148152423,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODE1MjQyMw==","user":{"login":"yu-iskw","id":1523515,"node_id":"MDQ6VXNlcjE1MjM1MTU=","avatar_url":"https://avatars.githubusercontent.com/u/1523515?v=4","gravatar_id":"","url":"https://api.github.com/users/yu-iskw","html_url":"https://github.com/yu-iskw","followers_url":"https://api.github.com/users/yu-iskw/followers","following_url":"https://api.github.com/users/yu-iskw/following{/other_user}","gists_url":"https://api.github.com/users/yu-iskw/gists{/gist_id}","starred_url":"https://api.github.com/users/yu-iskw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yu-iskw/subscriptions","organizations_url":"https://api.github.com/users/yu-iskw/orgs","repos_url":"https://api.github.com/users/yu-iskw/repos","events_url":"https://api.github.com/users/yu-iskw/events{/privacy}","received_events_url":"https://api.github.com/users/yu-iskw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-14T18:42:38Z","updated_at":"2015-10-14T18:42:38Z","author_association":"CONTRIBUTOR","body":"Thank you for merging it!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148152423/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148871554","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-148871554","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":148871554,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODg3MTU1NA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T00:41:30Z","updated_at":"2015-10-17T00:41:52Z","author_association":"CONTRIBUTOR","body":"One issue. The property will validate, but the processor will not run under certain input. I set the URI to 'content5000', but this causes errors like these\n\n```\n2015-10-16 20:37:08,755 ERROR [pool-28-thread-2] o.a.n.c.s.StandardProcessScheduler Failed to invoke @OnScheduled method due to java.lang.IllegalArgumentException: PathSpec contentListener5000/holds/*. must start with '/' or '*.'\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148871554/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148874072","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-148874072","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":148874072,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODg3NDA3Mg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T01:20:01Z","updated_at":"2015-10-17T01:20:27Z","author_association":"CONTRIBUTOR","body":"Aside from the property validation, it works as expected. I confirmed POSTs and DELETEs on HOLDs work (using Poster)\n\nJust a quick style question, did you give any thought to not removing the annotation below and maybe instead changing it to 'Path(\"*\")'?\n\n```\n-@Path(ListenHTTP.URI)\n```\n\nThe reason I ask, I was trying to reason through the loop below, and thought your change may be an opportunity to remove the 'path == null' condition\n\n```\n   for (final Class<? extends Servlet> cls : getServerClasses()) {\n            final Path path = cls.getAnnotation(Path.class);\n            if (path == null) {\n                contextHandler.addServlet(cls, uri + \"/*\");\n            } else {\n                contextHandler.addServlet(cls, uri + \"/\" + path.value());\n            }\n        }\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148874072/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148893113","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-148893113","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":148893113,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODg5MzExMw==","user":{"login":"vs186031","id":15037675,"node_id":"MDQ6VXNlcjE1MDM3Njc1","avatar_url":"https://avatars.githubusercontent.com/u/15037675?v=4","gravatar_id":"","url":"https://api.github.com/users/vs186031","html_url":"https://github.com/vs186031","followers_url":"https://api.github.com/users/vs186031/followers","following_url":"https://api.github.com/users/vs186031/following{/other_user}","gists_url":"https://api.github.com/users/vs186031/gists{/gist_id}","starred_url":"https://api.github.com/users/vs186031/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vs186031/subscriptions","organizations_url":"https://api.github.com/users/vs186031/orgs","repos_url":"https://api.github.com/users/vs186031/repos","events_url":"https://api.github.com/users/vs186031/events{/privacy}","received_events_url":"https://api.github.com/users/vs186031/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T07:32:36Z","updated_at":"2015-10-17T07:32:36Z","author_association":"CONTRIBUTOR","body":"\"I set the URI to 'content5000', but this causes errors like these...\" \n- That's a good catch , i suspect this is due to the standard URI validator \n\n\"Just a quick style question, did you give any thought to not removing the annotation below and maybe instead changing it to 'Path(\"*\")'?\"\n- I did and then backed off to keep the first commit change minimal, however i agree this is a good opportunity to change the (if path==null) condition. \n\nOne question : \"I confirmed POSTs and DELETEs on HOLDs work (using Poster)\" \n- What exactly is Poster ? \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148893113/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148907545","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-148907545","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":148907545,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODkwNzU0NQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T11:03:03Z","updated_at":"2015-10-17T11:03:11Z","author_association":"CONTRIBUTOR","body":">  What exactly is Poster ?\n\nAh, sorry, it is a firefox browser extension I like to use that makes it easy to do do arbitrary HTTP requests.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148907545/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148913652","html_url":"https://github.com/apache/nifi/pull/100#issuecomment-148913652","issue_url":"https://api.github.com/repos/apache/nifi/issues/100","id":148913652,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODkxMzY1Mg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T12:31:56Z","updated_at":"2015-10-17T12:31:56Z","author_association":"CONTRIBUTOR","body":"looks good, applies cleanly, and yes, the tabs stuck out like a sore thumb in that file\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148913652/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148921603","html_url":"https://github.com/apache/nifi/pull/95#issuecomment-148921603","issue_url":"https://api.github.com/repos/apache/nifi/issues/95","id":148921603,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODkyMTYwMw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T14:55:30Z","updated_at":"2015-10-17T14:55:30Z","author_association":"CONTRIBUTOR","body":"Nice catch and cool patch! \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148921603/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148938140","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-148938140","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":148938140,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODkzODE0MA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T17:58:01Z","updated_at":"2015-10-17T17:58:01Z","author_association":"CONTRIBUTOR","body":"out of curiosity, I noticed you moved unescapeString to a method between pull requests - is there a reason you pulled it out?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148938140/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148940719","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-148940719","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":148940719,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODk0MDcxOQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T18:35:37Z","updated_at":"2015-10-17T18:35:37Z","author_association":"CONTRIBUTOR","body":"It looks good, with the exception of a couple issues. First off, adding the allowableValues on the HAS_HEADER property descriptor actually could break flows already using this processor - e.g. If I have the value \"False\", which validated previously, it breaks with this change. I added a ticket (NIFI-1044) which sort of addresses this issue as a whole, if there is a compatibility break, we may want to hold that change. \n\nSecondly, there should probably be some sanity checking on the delimiter value now. It is pretty cool that I can use \\t, or even \\u0009, and I used \\u0555 which totally worked. However, I can also use \\n, which probably shouldn't be allowed (I'm not even sure what would be expected)\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148940719/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148951828","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-148951828","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":148951828,"node_id":"MDEyOklzc3VlQ29tbWVudDE0ODk1MTgyOA==","user":{"login":"vs186031","id":15037675,"node_id":"MDQ6VXNlcjE1MDM3Njc1","avatar_url":"https://avatars.githubusercontent.com/u/15037675?v=4","gravatar_id":"","url":"https://api.github.com/users/vs186031","html_url":"https://github.com/vs186031","followers_url":"https://api.github.com/users/vs186031/followers","following_url":"https://api.github.com/users/vs186031/following{/other_user}","gists_url":"https://api.github.com/users/vs186031/gists{/gist_id}","starred_url":"https://api.github.com/users/vs186031/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vs186031/subscriptions","organizations_url":"https://api.github.com/users/vs186031/orgs","repos_url":"https://api.github.com/users/vs186031/repos","events_url":"https://api.github.com/users/vs186031/events{/privacy}","received_events_url":"https://api.github.com/users/vs186031/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-17T21:11:00Z","updated_at":"2015-10-17T21:11:00Z","author_association":"CONTRIBUTOR","body":"> Aside from the property validation, it works as expected. I confirmed POSTs and DELETEs on HOLDs work (using Poster)\n\nAdded a small Regex to ensure that the Property Validation works.\n\n> Just a quick style question, did you give any thought to not removing the annotation below and maybe instead changing it to 'Path(\"*\")'?\n\nMade this change as well.\n\nI did the changes as two separate change-sets, just in case.\n\n> Ah, sorry, it is a firefox browser extension I like to use that makes it easy to do do arbitrary HTTP requests.\n\nThis is actually quite cool , thanks for that.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/148951828/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149058751","html_url":"https://github.com/apache/nifi/pull/102#issuecomment-149058751","issue_url":"https://api.github.com/repos/apache/nifi/issues/102","id":149058751,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA1ODc1MQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-18T22:43:05Z","updated_at":"2015-10-18T22:43:05Z","author_association":"CONTRIBUTOR","body":"Just a brief update.  I will have a chance to speak in person with Oleg on this PR this weekend.  Will post the results of that discussion here.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149058751/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149059384","html_url":"https://github.com/apache/nifi/pull/101#issuecomment-149059384","issue_url":"https://api.github.com/repos/apache/nifi/issues/101","id":149059384,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA1OTM4NA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-18T22:47:32Z","updated_at":"2015-10-18T22:47:32Z","author_association":"CONTRIBUTOR","body":"looks good - am merging.  Sorry for the delay Alan\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149059384/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149060879","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149060879","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149060879,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA2MDg3OQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-18T23:11:18Z","updated_at":"2015-10-18T23:11:18Z","author_association":"CONTRIBUTOR","body":"Ricky,\n\nSorry for the delay in providing feedback.  Can you look into why the branch has conflicts?  Perhaps I'm misunderstanding what I'm seeing from github.  Also, the PR doesn't appear to address the necessary changes to the nifi-assembly/NOTICE and provide one for the nar itself so that we ensure the EPL 1.0 dependency is properly annotated.  I haven't checked what dependencies it pulls in yet but wanted to put that out there first.\n\nThanks\nJoe\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149060879/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149062356","html_url":"https://github.com/apache/nifi/pull/81#issuecomment-149062356","issue_url":"https://api.github.com/repos/apache/nifi/issues/81","id":149062356,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA2MjM1Ng==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-18T23:14:50Z","updated_at":"2015-10-18T23:14:50Z","author_association":"CONTRIBUTOR","body":"+1 merged\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149062356/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149064407","html_url":"https://github.com/apache/nifi/pull/98#issuecomment-149064407","issue_url":"https://api.github.com/repos/apache/nifi/issues/98","id":149064407,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA2NDQwNw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-18T23:31:28Z","updated_at":"2015-10-18T23:31:28Z","author_association":"CONTRIBUTOR","body":"Nice catch and completely agree!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149064407/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149066148","html_url":"https://github.com/apache/nifi/pull/104#issuecomment-149066148","issue_url":"https://api.github.com/repos/apache/nifi/issues/104","id":149066148,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA2NjE0OA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-19T00:11:57Z","updated_at":"2015-10-19T00:11:57Z","author_association":"CONTRIBUTOR","body":"@vs186031  - I merged in your changes with some edits - please take a look at the final squashed commit (https://github.com/apache/nifi/commit/88b1b844fba5e4dded6242bb17f2096ff4172ed3). As @joewitt  mentioned on Jira, this ticket probably was mislabeled as a newbie ticket. Nice work!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149066148/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149072290","html_url":"https://github.com/apache/nifi/pull/88#issuecomment-149072290","issue_url":"https://api.github.com/repos/apache/nifi/issues/88","id":149072290,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA3MjI5MA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-19T01:12:42Z","updated_at":"2015-10-19T01:12:42Z","author_association":"CONTRIBUTOR","body":"I'm having a heck of a time getting this to merge clean due to whitespace issues (^M newlines)\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149072290/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149082304","html_url":"https://github.com/apache/nifi/pull/88#issuecomment-149082304","issue_url":"https://api.github.com/repos/apache/nifi/issues/88","id":149082304,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTA4MjMwNA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-19T02:49:07Z","updated_at":"2015-10-19T02:49:07Z","author_association":"CONTRIBUTOR","body":"I commented on https://issues.apache.org/jira/browse/NIFI-945 - looks good, modulo some minor tweaks\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149082304/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149375130","html_url":"https://github.com/apache/nifi/pull/106#issuecomment-149375130","issue_url":"https://api.github.com/repos/apache/nifi/issues/106","id":149375130,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTM3NTEzMA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-19T23:24:42Z","updated_at":"2015-10-19T23:24:42Z","author_association":"CONTRIBUTOR","body":"7f3b383 looks good.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149375130/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149375547","html_url":"https://github.com/apache/nifi/pull/106#issuecomment-149375547","issue_url":"https://api.github.com/repos/apache/nifi/issues/106","id":149375547,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTM3NTU0Nw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-19T23:26:40Z","updated_at":"2015-10-19T23:26:40Z","author_association":"CONTRIBUTOR","body":"5dcebf3 looks great\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149375547/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149380661","html_url":"https://github.com/apache/nifi/pull/106#issuecomment-149380661","issue_url":"https://api.github.com/repos/apache/nifi/issues/106","id":149380661,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTM4MDY2MQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T00:02:55Z","updated_at":"2015-10-20T00:02:55Z","author_association":"CONTRIBUTOR","body":"909faa5 fixes several bugs in the sh script, notably when the directory being run out of has a space in it. \n\nConfirmed code looks good and it works as expected in linux. working on cygwin now.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149380661/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149424193","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-149424193","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":149424193,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTQyNDE5Mw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T03:49:38Z","updated_at":"2015-10-20T03:49:38Z","author_association":"CONTRIBUTOR","body":"I've started digging into this. Testing is the major challenge\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149424193/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149458834","html_url":"https://github.com/apache/nifi/pull/92#issuecomment-149458834","issue_url":"https://api.github.com/repos/apache/nifi/issues/92","id":149458834,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTQ1ODgzNA==","user":{"login":"joemeszaros","id":1064211,"node_id":"MDQ6VXNlcjEwNjQyMTE=","avatar_url":"https://avatars.githubusercontent.com/u/1064211?v=4","gravatar_id":"","url":"https://api.github.com/users/joemeszaros","html_url":"https://github.com/joemeszaros","followers_url":"https://api.github.com/users/joemeszaros/followers","following_url":"https://api.github.com/users/joemeszaros/following{/other_user}","gists_url":"https://api.github.com/users/joemeszaros/gists{/gist_id}","starred_url":"https://api.github.com/users/joemeszaros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joemeszaros/subscriptions","organizations_url":"https://api.github.com/users/joemeszaros/orgs","repos_url":"https://api.github.com/users/joemeszaros/repos","events_url":"https://api.github.com/users/joemeszaros/events{/privacy}","received_events_url":"https://api.github.com/users/joemeszaros/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T07:16:14Z","updated_at":"2015-10-20T07:16:14Z","author_association":"NONE","body":"@markap14 Do you have any concern with this new processor? It is still open for a while and it would be grateful, if we could finish it by merging or closing the PR.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149458834/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149570327","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-149570327","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":149570327,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTU3MDMyNw==","user":{"login":"joemeszaros","id":1064211,"node_id":"MDQ6VXNlcjEwNjQyMTE=","avatar_url":"https://avatars.githubusercontent.com/u/1064211?v=4","gravatar_id":"","url":"https://api.github.com/users/joemeszaros","html_url":"https://github.com/joemeszaros","followers_url":"https://api.github.com/users/joemeszaros/followers","following_url":"https://api.github.com/users/joemeszaros/following{/other_user}","gists_url":"https://api.github.com/users/joemeszaros/gists{/gist_id}","starred_url":"https://api.github.com/users/joemeszaros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joemeszaros/subscriptions","organizations_url":"https://api.github.com/users/joemeszaros/orgs","repos_url":"https://api.github.com/users/joemeszaros/repos","events_url":"https://api.github.com/users/joemeszaros/events{/privacy}","received_events_url":"https://api.github.com/users/joemeszaros/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T13:36:27Z","updated_at":"2015-10-20T13:36:27Z","author_association":"NONE","body":"Updated the code according to your comment. \n\nFor your second issue: I do not think, that manual restriction of special characters is a good idea, because we can not take into account many-many use cases.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149570327/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149616531","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149616531","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149616531,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTYxNjUzMQ==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T16:03:15Z","updated_at":"2015-10-20T16:03:15Z","author_association":"CONTRIBUTOR","body":"Hey Joe -\n\nNot a problem on the delay! I'll take a look when I get a chance. Thanks!\n\nThanks,\nRicky \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149616531/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149617912","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-149617912","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":149617912,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTYxNzkxMg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T16:08:05Z","updated_at":"2015-10-20T16:08:05Z","author_association":"CONTRIBUTOR","body":"@joemeszaros  - I'm not sure I disagree with you... however I was a bit troubled by the \\n case when testing, and unicode is full of control characters (e.g. LRM (U+200E)) and I'm not sure what the behavior should be if one of those is chosen. My concern is having behavior that we're not expecting, but someone builds a flow that depends on the unexpected behavior and when we \"fix\" it, their flow breaks. We could write a unit/regression test that exhausts the character set for consistent behavior, but I'm not sure how I feel about that either.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149617912/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149621632","html_url":"https://github.com/apache/nifi/pull/102#issuecomment-149621632","issue_url":"https://api.github.com/repos/apache/nifi/issues/102","id":149621632,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTYyMTYzMg==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T16:22:53Z","updated_at":"2015-10-20T16:22:53Z","author_association":"CONTRIBUTOR","body":"Closing after discussing it with Joe. Will resubmit once proposed implementation is realized within the context of the ReportingTask\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149621632/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149624628","html_url":"https://github.com/apache/nifi/pull/102#issuecomment-149624628","issue_url":"https://api.github.com/repos/apache/nifi/issues/102","id":149624628,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTYyNDYyOA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T16:33:08Z","updated_at":"2015-10-20T16:33:08Z","author_association":"CONTRIBUTOR","body":"Oleg and I had a nice discussion about NiFi, EIP, FBP, and other concepts.  His idea for enabling very low latency/real-time streaming access to provenance data is excellent.  I think we as a community need to work with Oleg and others interested in doing this to enable such features in a way that aligns with NiFi features and intended user-focused/application experience.  Oleg's idea likely means we should update or enable ReportingTasks to have immediate access to live streams of provenance data rather than once it is indexed as it is today.  There are likely many ways to tackle this.  Oleg's first PR demonstrated the idea.  We now need to take that and ensure it is fully available but through the same managed classloader/lifecycle as other extension points.\n\nThanks Oleg!  Look forward to working with you and the community to fold this in.  Let's use the JIRA to keep the discussion going.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149624628/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149631055","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149631055","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149631055,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTYzMTA1NQ==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T16:52:35Z","updated_at":"2015-10-20T16:52:35Z","author_association":"CONTRIBUTOR","body":"The conflict was inside of the `pom.xml` inside the `nifi-nar-bundles` module. The new couchbase module was conflicting with the new riemann module inside the `<modules>` stanza. I made sure both modules are in there, and rebased the branch on the current upstream master. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149631055/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149670303","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149670303","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149670303,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTY3MDMwMw==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T19:06:57Z","updated_at":"2015-10-20T19:06:57Z","author_association":"CONTRIBUTOR","body":"Please edit commit message to start with JIRA key and brief summary. i.e.:\n\n``` commit\nNIFI-987 Add Reimann monitoring\n\n- Introduced nifi-riemann-bundle for future Riemann backed monitoring\n\n- Added initial PutRiemann processor for writing events to Riemann\n  using the Riemann batch client.\n\n    - Values for events are provided using the NiFi expression language\n        e.g. Metric -> ${latency.milliseconds:divide(1000)}\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149670303/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149672053","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149672053","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149672053,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTY3MjA1Mw==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T19:11:09Z","updated_at":"2015-10-20T19:11:09Z","author_association":"CONTRIBUTOR","body":"Why do this as a processor rather than as a reporting task?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149672053/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149677321","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149677321","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149677321,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTY3NzMyMQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-20T19:34:29Z","updated_at":"2015-10-20T19:34:29Z","author_association":"CONTRIBUTOR","body":"just speculation, but if you have a bunch of metrics in a file from somewhere and want to post it to Riemann, a processor would be useful. Granted, when I think of people using Riemann, I think of a bunch of distributed processes all sending out live metrics/monitoring information.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149677321/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149767800","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-149767800","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":149767800,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTc2NzgwMA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T02:56:53Z","updated_at":"2015-10-21T02:56:53Z","author_association":"CONTRIBUTOR","body":"I wrote a test which exhausts the unicode code points. \\^@ is the most problematic as it threw exceptions\n\n```\njava.lang.UnsupportedOperationException: The separator character must be defined!\n        at au.com.bytecode.opencsv.CSVParser.<init>(CSVParser.java:149) ~[na:na]\n        at au.com.bytecode.opencsv.CSVReader.<init>(CSVReader.java:194) ~[na:na]\n        at org.kitesdk.data.spi.filesystem.CSVUtil.newReader(CSVUtil.java:54) ~[na:na]\n        at org.kitesdk.data.spi.filesystem.CSVFileReader.initialize(CSVFileReader.java:120) ~[na:na]\n        at org.apache.nifi.processors.kite.ConvertCSVToAvro$2.process(ConvertCSVToAvro.java:244) ~[na:na]\n        at org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:2155) ~[nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.processors.kite.ConvertCSVToAvro.onTrigger(ConvertCSVToAvro.java:239) ~[na:na]\n        at org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27) ~[nifi-api-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1077) ~[nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:127) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:49) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:119) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511) [na:1.8.0_45]\n        at java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308) [na:1.8.0_45]\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180) [na:1.8.0_45]\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294) [na:1.8.0_45]\n        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142) [na:1.8.0_45]\n        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617) [na:1.8.0_45]\n        at java.lang.Thread.run(Thread.java:745) [na:1.8.0_45]\n```\n\nAlso noted is a problem existing in the current implementation in 0.3.0, the processor doesn't validate that the escape character, delimiter and quote characters are different. \n\n```\njava.lang.UnsupportedOperationException: The separator, quote, and escape characters must be different!\n        at au.com.bytecode.opencsv.CSVParser.<init>(CSVParser.java:146) ~[na:na]\n        at au.com.bytecode.opencsv.CSVReader.<init>(CSVReader.java:194) ~[na:na]\n        at org.kitesdk.data.spi.filesystem.CSVUtil.newReader(CSVUtil.java:54) ~[na:na]\n        at org.kitesdk.data.spi.filesystem.CSVFileReader.initialize(CSVFileReader.java:120) ~[na:na]\n        at org.apache.nifi.processors.kite.ConvertCSVToAvro$2.process(ConvertCSVToAvro.java:244) ~[na:na]\n        at org.apache.nifi.controller.repository.StandardProcessSession.write(StandardProcessSession.java:2155) ~[nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.processors.kite.ConvertCSVToAvro.onTrigger(ConvertCSVToAvro.java:239) ~[na:na]\n        at org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27) ~[nifi-api-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1077) ~[nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:127) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.tasks.ContinuallyRunProcessorTask.call(ContinuallyRunProcessorTask.java:49) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:119) [nifi-framework-core-0.3.1-SNAPSHOT.jar:0.3.1-SNAPSHOT]\n        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511) [na:1.8.0_45]\n        at java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308) [na:1.8.0_45]\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180) [na:1.8.0_45]\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294) [na:1.8.0_45]\n        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142) [na:1.8.0_45]\n        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617) [na:1.8.0_45]\n        at java.lang.Thread.run(Thread.java:745) [na:1.8.0_45]\n```\n\nI had a very challenging time programatically creating test data between \\ud800 and \\udffff of all things due to TestUtil when I did this (and delimiterCodePoint was in that range):\n\n``` java\n                s.setLength(0);\n                s.append(\"1\").appendCodePoint(delimiterCodePoint).append(\"green\").append('\\n');\n                s.appendCodePoint(delimiterCodePoint).append(\"blue\").appendCodePoint(delimiterCodePoint).append('\\n');\n                s.append(\"2\").appendCodePoint(delimiterCodePoint).append(\"grey\").appendCodePoint(delimiterCodePoint).append(\"12.95\");\n\n                logger.info(StringEscapeUtils.escapeJava(s.toString()));\n                runner.enqueue(streamFor(s.toString()));\n```\n\nand got this stack trace:\n\n```\njava.nio.charset.MalformedInputException: Input length = 1\n    at java.nio.charset.CoderResult.throwException(CoderResult.java:281)\n    at java.nio.charset.CharsetEncoder.encode(CharsetEncoder.java:816)\n    at org.apache.nifi.processors.kite.TestUtil.bytesFor(TestUtil.java:97)\n    at org.apache.nifi.processors.kite.TestUtil.streamFor(TestUtil.java:91)\n    at org.apache.nifi.processors.kite.TestUtil.streamFor(TestUtil.java:87)\n    at org.apache.nifi.processors.kite.TestCSVToAvroProcessor.testAllCharacterSeparatedConversion(TestCSVToAvroProcessor.java:130)\n    at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n    at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)\n    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n    at java.lang.reflect.Method.invoke(Method.java:497)\n    at org.junit.runners.model.FrameworkMethod$1.runReflectiveCall(FrameworkMethod.java:50)\n    at org.junit.internal.runners.model.ReflectiveCallable.run(ReflectiveCallable.java:12)\n    at org.junit.runners.model.FrameworkMethod.invokeExplosively(FrameworkMethod.java:47)\n    at org.junit.internal.runners.statements.InvokeMethod.evaluate(InvokeMethod.java:17)\n    at org.junit.runners.ParentRunner.runLeaf(ParentRunner.java:325)\n    at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:78)\n    at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:57)\n    at org.junit.runners.ParentRunner$3.run(ParentRunner.java:290)\n    at org.junit.runners.ParentRunner$1.schedule(ParentRunner.java:71)\n    at org.junit.runners.ParentRunner.runChildren(ParentRunner.java:288)\n    at org.junit.runners.ParentRunner.access$000(ParentRunner.java:58)\n    at org.junit.runners.ParentRunner$2.evaluate(ParentRunner.java:268)\n    at org.junit.runners.ParentRunner.run(ParentRunner.java:363)\n    at org.eclipse.jdt.internal.junit4.runner.JUnit4TestReference.run(JUnit4TestReference.java:86)\n    at org.eclipse.jdt.internal.junit.runner.TestExecution.run(TestExecution.java:38)\n    at org.eclipse.jdt.internal.junit.runner.RemoteTestRunner.runTests(RemoteTestRunner.java:459)\n    at org.eclipse.jdt.internal.junit.runner.RemoteTestRunner.runTests(RemoteTestRunner.java:675)\n    at org.eclipse.jdt.internal.junit.runner.RemoteTestRunner.run(RemoteTestRunner.java:382)\n    at org.eclipse.jdt.internal.junit.runner.RemoteTestRunner.main(RemoteTestRunner.java:192)\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149767800/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149768870","html_url":"https://github.com/apache/nifi/pull/87#issuecomment-149768870","issue_url":"https://api.github.com/repos/apache/nifi/issues/87","id":149768870,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTc2ODg3MA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T03:08:04Z","updated_at":"2015-10-21T03:08:04Z","author_association":"CONTRIBUTOR","body":"@joemeszaros I am going to open a bug ticket which sanity checks across the properties. I don't believe your pr exacerbates the issue, so should not be blocked by it.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149768870/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149861434","html_url":"https://github.com/apache/nifi/pull/88#issuecomment-149861434","issue_url":"https://api.github.com/repos/apache/nifi/issues/88","id":149861434,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTg2MTQzNA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T11:34:34Z","updated_at":"2015-10-21T11:34:34Z","author_association":"CONTRIBUTOR","body":"@joemeszaros - I amended your changes to get it to merge clean and for some consistency with other processors in that thread (see commit d1acd152). I just noticed a the getBytes on 140 needs a charset though. Hoping you can look it over and confirm the amendments are representative of your intent?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149861434/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149875162","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-149875162","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":149875162,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTg3NTE2Mg==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T12:18:20Z","updated_at":"2015-10-21T12:18:20Z","author_association":"CONTRIBUTOR","body":"@busbey good question. I envision that we can later extend the Riemann bundle to allow internal NiFi reporting to Riemann, similar to how Ambari was recently added. For now, there are plenty of situations where it would be useful to allow reporting of a flowfile's existence and/or attributes to Riemann for basic data flow reporting and monitoring. \n\nLet me give you a few examples:\n- Send a notification to Riemann for each flowfile passed through a specific processor.  This not only allows for monitoring, but also alerting if desired. \n- Each node in the NiFi cluster can periodically send a message with a TTL that if expires would indicate that the node in the cluster is no longer running. \n- Immediate alerting when specific data flow scenarios are met (e.g. failed to extract archive, failed to hit an API). \n- To extend on what @trkurc said, you could very easily report metrics from files if desired. Or - you could use the ExecuteProcess to collect metrics using arbitrary commands. \n\nI'm sure there are other use cases that can be applied. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149875162/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149919219","html_url":"https://github.com/apache/nifi/pull/92#issuecomment-149919219","issue_url":"https://api.github.com/repos/apache/nifi/issues/92","id":149919219,"node_id":"MDEyOklzc3VlQ29tbWVudDE0OTkxOTIxOQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T14:46:30Z","updated_at":"2015-10-21T14:46:30Z","author_association":"CONTRIBUTOR","body":"@joemeszaros I very much appreciate the contribution back to the NiFi community. Very sorry it took so long. I have now merged it into master.\n\nThanks again!\n-Mark\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/149919219/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150018325","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-150018325","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":150018325,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDAxODMyNQ==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T20:41:10Z","updated_at":"2015-10-21T20:41:10Z","author_association":"CONTRIBUTOR","body":"that all sounds reasonable to me, thanks for the explanation!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150018325/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150028829","html_url":"https://github.com/apache/nifi/pull/92#issuecomment-150028829","issue_url":"https://api.github.com/repos/apache/nifi/issues/92","id":150028829,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDAyODgyOQ==","user":{"login":"joemeszaros","id":1064211,"node_id":"MDQ6VXNlcjEwNjQyMTE=","avatar_url":"https://avatars.githubusercontent.com/u/1064211?v=4","gravatar_id":"","url":"https://api.github.com/users/joemeszaros","html_url":"https://github.com/joemeszaros","followers_url":"https://api.github.com/users/joemeszaros/followers","following_url":"https://api.github.com/users/joemeszaros/following{/other_user}","gists_url":"https://api.github.com/users/joemeszaros/gists{/gist_id}","starred_url":"https://api.github.com/users/joemeszaros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joemeszaros/subscriptions","organizations_url":"https://api.github.com/users/joemeszaros/orgs","repos_url":"https://api.github.com/users/joemeszaros/repos","events_url":"https://api.github.com/users/joemeszaros/events{/privacy}","received_events_url":"https://api.github.com/users/joemeszaros/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T21:26:31Z","updated_at":"2015-10-21T21:26:31Z","author_association":"NONE","body":"Thanks for merging!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150028829/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150033007","html_url":"https://github.com/apache/nifi/pull/88#issuecomment-150033007","issue_url":"https://api.github.com/repos/apache/nifi/issues/88","id":150033007,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDAzMzAwNw==","user":{"login":"joemeszaros","id":1064211,"node_id":"MDQ6VXNlcjEwNjQyMTE=","avatar_url":"https://avatars.githubusercontent.com/u/1064211?v=4","gravatar_id":"","url":"https://api.github.com/users/joemeszaros","html_url":"https://github.com/joemeszaros","followers_url":"https://api.github.com/users/joemeszaros/followers","following_url":"https://api.github.com/users/joemeszaros/following{/other_user}","gists_url":"https://api.github.com/users/joemeszaros/gists{/gist_id}","starred_url":"https://api.github.com/users/joemeszaros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joemeszaros/subscriptions","organizations_url":"https://api.github.com/users/joemeszaros/orgs","repos_url":"https://api.github.com/users/joemeszaros/repos","events_url":"https://api.github.com/users/joemeszaros/events{/privacy}","received_events_url":"https://api.github.com/users/joemeszaros/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-21T21:39:42Z","updated_at":"2015-10-21T21:39:42Z","author_association":"NONE","body":"I can confirm the amendments, please find my inline comments at the referenced commit.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150033007/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150132380","html_url":"https://github.com/apache/nifi/pull/88#issuecomment-150132380","issue_url":"https://api.github.com/repos/apache/nifi/issues/88","id":150132380,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDEzMjM4MA==","user":{"login":"joemeszaros","id":1064211,"node_id":"MDQ6VXNlcjEwNjQyMTE=","avatar_url":"https://avatars.githubusercontent.com/u/1064211?v=4","gravatar_id":"","url":"https://api.github.com/users/joemeszaros","html_url":"https://github.com/joemeszaros","followers_url":"https://api.github.com/users/joemeszaros/followers","following_url":"https://api.github.com/users/joemeszaros/following{/other_user}","gists_url":"https://api.github.com/users/joemeszaros/gists{/gist_id}","starred_url":"https://api.github.com/users/joemeszaros/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joemeszaros/subscriptions","organizations_url":"https://api.github.com/users/joemeszaros/orgs","repos_url":"https://api.github.com/users/joemeszaros/repos","events_url":"https://api.github.com/users/joemeszaros/events{/privacy}","received_events_url":"https://api.github.com/users/joemeszaros/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T07:36:25Z","updated_at":"2015-10-22T07:36:25Z","author_association":"NONE","body":"Thanks for your help!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150132380/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150260104","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-150260104","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":150260104,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDI2MDEwNA==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T15:21:52Z","updated_at":"2015-10-22T15:21:52Z","author_association":"CONTRIBUTOR","body":"@bbende I updated the review with a different approach to sending events. After I started doing a lot of random disconnect testing, it appeared that the `RiemannBatchClient` had some really odd behavior when it came to detecting a down connection. Instead of using that, I'm using the regular `RiemannClient` and batching them together myself. This way I can call the `deref()` on the `IPromise` in order to detect connection failures, or timeouts. \n\nIf the connection drops while sending events, the processor will `yield()` and attempt to re-connect on the next trigger until it can do so successfully. I also added a test (`testFailedDeref`) to verify that this works, as well as tested it internally with both `TCP` and `UDP`. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150260104/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150322439","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150322439","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150322439,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDMyMjQzOQ==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T18:56:36Z","updated_at":"2015-10-22T18:56:36Z","author_association":"CONTRIBUTOR","body":"Is there a specific reason for depending on Hadoop 2.7? I'm not entirely certain how we should approach upgrading Hadoop packages (or other dependencies for that matter). Take other projects for instance (i.e. Spark, Flink), they have separate builds for major Hadoop version (e.g. 2.4, 2.6). I wonder if this is an option we should consider...\n\nPreferably, I would like some sort of class loader isolation in place where you can decide which version of the library to use on a processor by processor basis. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150322439/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150340867","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150340867","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150340867,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDM0MDg2Nw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T20:05:27Z","updated_at":"2015-10-22T20:05:27Z","author_association":"CONTRIBUTOR","body":"Totally with you on this Ricky.  As far as the contrib goes that is legit.  We should keep it up to date.  However, you're right that we need a better model for things like Hadoop.  It should be braindead easy for folks to plugin different Hadoop versions/providers and the user just get to select from a list.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150340867/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150361061","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150361061","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150361061,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDM2MTA2MQ==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T21:26:22Z","updated_at":"2015-10-22T21:26:22Z","author_association":"CONTRIBUTOR","body":"Yeah I agree, keeping libraries up to date is a good thing. We should definitely discuss strategies on how we can achieve multi-version support for libraries, eventually. There's currently a JIRA ([NIFI-710](https://issues.apache.org/jira/browse/NIFI-710)) which talks about this in the context of Hadoop. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150361061/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150367325","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150367325","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150367325,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDM2NzMyNQ==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T21:55:54Z","updated_at":"2015-10-22T21:55:54Z","author_association":"CONTRIBUTOR","body":"The problem with keeping client libraries up to date is that often times they don't work with older servers. YCSB hits this pretty hard for Cassandra, ElasticSearch, and HBase. The only real solution is something like NIFI-710.\n\nFor the specific case of Hadoop, I'd look to see if the project makes any promises about newer clients talking to older servers. Absent that, I would presume we shouldn't update the client without a big notice to downstream users. Despite that, the Hadoop 2.6.0 client library is particularly bad so if we could update to 2.6.1 in the short term, that'd be good.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150367325/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150368632","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150368632","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150368632,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDM2ODYzMg==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-22T22:02:35Z","updated_at":"2015-10-22T22:02:35Z","author_association":"CONTRIBUTOR","body":"i am comfortable with the idea of 2.6.1 with our current approach.  Once we have NIFI-710 in play then we should support 2.6, 2.7, X.Y, whatever.  We need to do that in conjunction with having a registry model.  So many good plays to work with here.  Mark Payne was talking about some cool ideas he had to pull this off recently.  We need to get him to write those down!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150368632/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150413539","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150413539","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150413539,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDQxMzUzOQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T02:16:50Z","updated_at":"2015-10-23T02:16:50Z","author_association":"CONTRIBUTOR","body":"The good news. It seems to work when I tested it.\n\nOne comment on style:\nHaving a tuple in a tuple for what I think is a triple for hdfsResources was a little bit hard to read. Has it gotten big enough to be its own class with getters for readability?\n\nI really had to think about what this was doing, and whether the first getValue could return null\n\n```\nhdfsResources.get().getValue().getValue())\n```\n\nthis is very evident here where you created a method to read the usergroupinfo and then replicate the work of the method the line below. \n\n```\n    if (getUserGroupInformation() != null && isTicketOld()) {\n        renewKerberosTicket(hdfsResources.get().getValue().getValue());\n    }\n...\n\n    protected UserGroupInformation getUserGroupInformation() {\n        return hdfsResources.get().getValue().getValue();\n    }\n```\n\nOther comments:\n\nI was trying to reason about your error handling if ugi.checkTGTAndReloginFromKeytab threw an IOException. If this was greenfield code, I'd say that behavior I'd expect is that getFileSystem should throw an IOException, but that would change the method signature and change all the processors that use it (and be a breaking api change). Swallowing the exception, then exponentially backing off on a retry almost seems more logical, but I think it is worth discussing.\n\nIs there a reason you divide the millisecond times by 1000 for comparisons with seconds instead of multiplying the seconds by 1? You're losing precision on the time stamp.\n\nDid you think about trying to get the retry interval be a property instead of being hardcoded?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150413539/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150415690","html_url":"https://github.com/apache/nifi/pull/77#issuecomment-150415690","issue_url":"https://api.github.com/repos/apache/nifi/issues/77","id":150415690,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDQxNTY5MA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T02:29:38Z","updated_at":"2015-10-23T02:29:38Z","author_association":"CONTRIBUTOR","body":"@apiri  - should I make this a patch and attach it to the ticket to decrease likelyhood of missing this for into 1.x?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150415690/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150415884","html_url":"https://github.com/apache/nifi/pull/77#issuecomment-150415884","issue_url":"https://api.github.com/repos/apache/nifi/issues/77","id":150415884,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDQxNTg4NA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T02:31:54Z","updated_at":"2015-10-23T02:31:54Z","author_association":"MEMBER","body":"that sounds fair. this is a nice reminder that we certainly need to revive the talk about our versioning process and support schedule on the mailing list so we can establish a path forward in handling these types of items\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150415884/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150573514","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150573514","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150573514,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU3MzUxNA==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T13:32:16Z","updated_at":"2015-10-23T13:32:16Z","author_association":"CONTRIBUTOR","body":"I'm also a **+1** for upgrading to 2.6.1. I was also thinking that this would need to play into the [template registry](https://cwiki.apache.org/confluence/display/NIFI/Extension+and+Template+Registry) proposal. We should definitely continue to iron out the details so we can get that feature into a not too distant release. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150573514/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150577581","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150577581","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150577581,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU3NzU4MQ==","user":{"login":"asfbot","id":5243949,"node_id":"MDQ6VXNlcjUyNDM5NDk=","avatar_url":"https://avatars.githubusercontent.com/u/5243949?v=4","gravatar_id":"","url":"https://api.github.com/users/asfbot","html_url":"https://github.com/asfbot","followers_url":"https://api.github.com/users/asfbot/followers","following_url":"https://api.github.com/users/asfbot/following{/other_user}","gists_url":"https://api.github.com/users/asfbot/gists{/gist_id}","starred_url":"https://api.github.com/users/asfbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asfbot/subscriptions","organizations_url":"https://api.github.com/users/asfbot/orgs","repos_url":"https://api.github.com/users/asfbot/repos","events_url":"https://api.github.com/users/asfbot/events{/privacy}","received_events_url":"https://api.github.com/users/asfbot/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T13:45:57Z","updated_at":"2015-10-23T13:45:57Z","author_association":"NONE","body":"Tony Kurc  on dev@nifi.apache.org replies:\nIf i recall correctly, 2.6.2 is in in release candidate stage. For 0.4\nwould that be a better target? I haven't had a chance to look at client\ncode changes\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150577581/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150578022","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150578022","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150578022,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU3ODAyMg==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T13:48:18Z","updated_at":"2015-10-23T13:48:18Z","author_association":"CONTRIBUTOR","body":"I agree with you on the tuple within a tuple, it is pretty confusing. I'll work on getting these moved into its own class. You're right, error handling is a bit tricky in this area of the code in order to avoid breaking API changes. I did the division by 1000 since the threshold is in seconds, but I could change that. Precision isn't a big deal here since the renewal isn't millisecond (or even second) time sensitive. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150578022/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150578536","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-150578536","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":150578536,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU3ODUzNg==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T13:50:52Z","updated_at":"2015-10-23T13:50:52Z","author_association":"CONTRIBUTOR","body":"On the one hand, I prefer to engage hadoop-as-it-is rather than waiting for changes.\n\nOn the other hand, 2.6.2 RC0 closes in 5 days, so figure about a week for there to be artifacts presuming it passes?\n\n2.6.1 has the critical problems fixed (like corrupting data when writing to HDFS encrypted directories), so I'd rather upgrade to it now and then go to 2.6.2 if/when it gets released.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150578536/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150593630","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150593630","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150593630,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU5MzYzMA==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T14:40:12Z","updated_at":"2015-10-23T14:40:12Z","author_association":"CONTRIBUTOR","body":"@trkurc would you mind testing this latest commit, as it makes the renewal period configurable now. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150593630/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150593718","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150593718","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150593718,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDU5MzcxOA==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T14:40:36Z","updated_at":"2015-10-23T14:40:36Z","author_association":"CONTRIBUTOR","body":"I will squash these changes before we commit. Keeping a revision history in this pull request for clarity. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150593718/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150673073","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150673073","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150673073,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDY3MzA3Mw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T19:46:18Z","updated_at":"2015-10-23T19:46:18Z","author_association":"CONTRIBUTOR","body":"@rickysaltzer - I don't have my kerberos hadoop running atm, but here are some comments:\n\nThis variable should be camelCase, rather than ALL_CAPS.\n\n```\nprivate long TICKET_RENEWAL_THRESHOLD_SEC;\n```\n\nI think `hdfsResources.set(null);` should probably be `hdfsResources.set(new HdfsResources(null, null, null);` .. Walking through the code by hand...won't  getUserGroupInformation in getFileSystem NPE when you're not using kerberos?\n\nWill send more when I have a chance to build and run.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150673073/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150674086","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150674086","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150674086,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDY3NDA4Ng==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T19:51:42Z","updated_at":"2015-10-23T19:51:42Z","author_association":"CONTRIBUTOR","body":"Good catch, I'll fix that. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150674086/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150675281","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150675281","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150675281,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDY3NTI4MQ==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-23T19:57:59Z","updated_at":"2015-10-23T19:57:59Z","author_association":"CONTRIBUTOR","body":"I don't think we would have NPE'd because of the order that getFileSystem() ends up being called, but it's good to take care of anyway just in case. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150675281/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150736369","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150736369","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150736369,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDczNjM2OQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-24T01:44:21Z","updated_at":"2015-10-24T01:44:21Z","author_association":"CONTRIBUTOR","body":"My kerberos hadoop vm has gone south. I've got to rebuild it.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150736369/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150826350","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150826350","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150826350,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDgyNjM1MA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-24T15:25:42Z","updated_at":"2015-10-24T15:25:42Z","author_association":"CONTRIBUTOR","body":"well, think I discovered an (unrelated) bug in the hdfs PutFile processor that will pass a flow file on to success even if the write fails due to SASL problems. \n\nhttps://issues.apache.org/jira/browse/NIFI-1062\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150826350/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150826424","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150826424","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150826424,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDgyNjQyNA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-24T15:27:03Z","updated_at":"2015-10-24T15:27:03Z","author_association":"CONTRIBUTOR","body":"@rickysaltzer  one thing I missed is that the HDFSResources class should be static\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150826424/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150882926","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150882926","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150882926,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDg4MjkyNg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-25T02:17:08Z","updated_at":"2015-10-25T02:26:19Z","author_association":"CONTRIBUTOR","body":"It looks like due to a bug in hadoop 2.6.0 client code (on a java 8 JVM only?) your code doesn't try to reload the ticket:\n\nWhat `checkTGTAndReloginFromKeytab()` does:\n\n```\n  public synchronized void checkTGTAndReloginFromKeytab() throws IOException {\n    if (!isSecurityEnabled()\n        || user.getAuthenticationMethod() != AuthenticationMethod.KERBEROS\n        || !isKeytab)\n      return;\n```\n\nHere is how isKeytab is set in 2.6.0\nhttps://github.com/apache/hadoop/blob/release-2.6.0/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/security/UserGroupInformation.java#L597\n\nThis returns false for me, always!\n\nHere is what 2.6.1 is doing\nhttps://github.com/apache/hadoop/blob/e286512a7143427f2975ec92cdc4fad0a093a456/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/security/UserGroupInformation.java#L623\n\nI'm going to try a java 7 vm.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150882926/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150883155","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150883155","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150883155,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDg4MzE1NQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-25T02:24:42Z","updated_at":"2015-10-25T02:24:42Z","author_association":"CONTRIBUTOR","body":"And it totally works in java 7.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150883155/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150889085","html_url":"https://github.com/apache/nifi/pull/97#issuecomment-150889085","issue_url":"https://api.github.com/repos/apache/nifi/issues/97","id":150889085,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MDg4OTA4NQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-25T03:19:56Z","updated_at":"2015-10-25T03:19:56Z","author_association":"CONTRIBUTOR","body":"Also of note, hadoop 2.6 really doesn't like when (max_life < 10m) in your kdc.conf (looks like 2.7 may be better). \nhttps://github.com/apache/hadoop/blob/release-2.6.1/hadoop-common-project/hadoop-common/src/main/java/org/apache/hadoop/security/UserGroupInformation.java#L1154\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/150889085/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152341713","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-152341713","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":152341713,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjM0MTcxMw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-29T22:06:21Z","updated_at":"2015-10-29T22:06:21Z","author_association":"CONTRIBUTOR","body":"My preference would be to shoot for 2.6.2 in 0.4. If it isn't done, go with 2.6.1. I do not believe 0.4 should be released with hadoop 2.6.0 client libs. \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152341713/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152348193","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-152348193","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":152348193,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjM0ODE5Mw==","user":{"login":"busbey","id":44891,"node_id":"MDQ6VXNlcjQ0ODkx","avatar_url":"https://avatars.githubusercontent.com/u/44891?v=4","gravatar_id":"","url":"https://api.github.com/users/busbey","html_url":"https://github.com/busbey","followers_url":"https://api.github.com/users/busbey/followers","following_url":"https://api.github.com/users/busbey/following{/other_user}","gists_url":"https://api.github.com/users/busbey/gists{/gist_id}","starred_url":"https://api.github.com/users/busbey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/busbey/subscriptions","organizations_url":"https://api.github.com/users/busbey/orgs","repos_url":"https://api.github.com/users/busbey/repos","events_url":"https://api.github.com/users/busbey/events{/privacy}","received_events_url":"https://api.github.com/users/busbey/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-29T22:42:36Z","updated_at":"2015-10-29T22:42:36Z","author_association":"CONTRIBUTOR","body":":+1: the 2.6.2 vote just passed last night, so I'd expect artifacts to be published with plenty of time for 0.4.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152348193/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152395013","html_url":"https://github.com/apache/nifi/pull/112#issuecomment-152395013","issue_url":"https://api.github.com/repos/apache/nifi/issues/112","id":152395013,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjM5NTAxMw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-30T02:41:08Z","updated_at":"2015-10-30T02:41:08Z","author_association":"CONTRIBUTOR","body":"Was this closed or submitted erroneously?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152395013/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152395146","html_url":"https://github.com/apache/nifi/pull/112#issuecomment-152395146","issue_url":"https://api.github.com/repos/apache/nifi/issues/112","id":152395146,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjM5NTE0Ng==","user":{"login":"jskora","id":181587,"node_id":"MDQ6VXNlcjE4MTU4Nw==","avatar_url":"https://avatars.githubusercontent.com/u/181587?v=4","gravatar_id":"","url":"https://api.github.com/users/jskora","html_url":"https://github.com/jskora","followers_url":"https://api.github.com/users/jskora/followers","following_url":"https://api.github.com/users/jskora/following{/other_user}","gists_url":"https://api.github.com/users/jskora/gists{/gist_id}","starred_url":"https://api.github.com/users/jskora/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jskora/subscriptions","organizations_url":"https://api.github.com/users/jskora/orgs","repos_url":"https://api.github.com/users/jskora/repos","events_url":"https://api.github.com/users/jskora/events{/privacy}","received_events_url":"https://api.github.com/users/jskora/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-30T02:42:29Z","updated_at":"2015-10-30T02:42:29Z","author_association":"CONTRIBUTOR","body":"Sorry about that.  I thought I had to delete it and resubmit it to fix the title, but realized I could change the title and reopen it.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152395146/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152697600","html_url":"https://github.com/apache/nifi/pull/112#issuecomment-152697600","issue_url":"https://api.github.com/repos/apache/nifi/issues/112","id":152697600,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjY5NzYwMA==","user":{"login":"mpetronic","id":6632334,"node_id":"MDQ6VXNlcjY2MzIzMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/6632334?v=4","gravatar_id":"","url":"https://api.github.com/users/mpetronic","html_url":"https://github.com/mpetronic","followers_url":"https://api.github.com/users/mpetronic/followers","following_url":"https://api.github.com/users/mpetronic/following{/other_user}","gists_url":"https://api.github.com/users/mpetronic/gists{/gist_id}","starred_url":"https://api.github.com/users/mpetronic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mpetronic/subscriptions","organizations_url":"https://api.github.com/users/mpetronic/orgs","repos_url":"https://api.github.com/users/mpetronic/repos","events_url":"https://api.github.com/users/mpetronic/events{/privacy}","received_events_url":"https://api.github.com/users/mpetronic/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-31T05:45:32Z","updated_at":"2015-10-31T06:49:13Z","author_association":"NONE","body":"Joe, thanks for getting this processor going. I need it. :) I've pulled this in and am giving it a try. I have some additional thoughts on functionality.\n1. Should it have a \"Recurse sub-directories <yes|no>\" option? Reason I mention this is because, in my setup, I have to scan files from an NFS share and it actually is not so fast, especially if you recurse many levels of subdirs that you don't really need to look at. That's special case, I know, but it is a valid use case and we could eliminate some latency by not requiring a full recursive scan all the time.\n2. Should it have the option to specify a seeded last modified time? Say there is a directory full of files from days or weeks but you only want to start pulling them in from say, one day ago or some specific date/time, and not pick up all the previous files\n3. If there are empty directories in the path you are scanning, they get listed in the \"filename\", just like an actual file would be listed. I think it would be nice to have another attribute that indicated whether the leaf node was a file or directory as that could more easily be use by downstream processors to decide how to act on that value.\n4. Should it expose each files actual last modified timestamp in the FlowFile Attribute Map Content? \n5. How would you reset the last modified state if you wanted to rerun the processor from a place back in time, like when testing? I guess item 2 could do that.\n\nI guess for all other types of filtering, like wildcards and such, the right 'Nifi' thing to do is use a downstream \"UpdateAttribute\" processor to massage the list. Correct? Maybe this also applies to item 2 above, then?\n\nMaybe the following should/work be part of the code review process but I will note here just in case. I'm new to this OSS process but, since I see this as a pull request, it made me think it was ready to go but seems some stuff is missing?\n1. There is no description of the processor\n2. The 'path' attribute description of \"The path on the system from which to pull or push files\" is misleading, IMO. Maybe \"The path on the system where this processor will scan files and directories to build the file list.\"\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152697600/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152734921","html_url":"https://github.com/apache/nifi/pull/110#issuecomment-152734921","issue_url":"https://api.github.com/repos/apache/nifi/issues/110","id":152734921,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MjczNDkyMQ==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-10-31T13:19:24Z","updated_at":"2015-10-31T13:19:24Z","author_association":"CONTRIBUTOR","body":"Pushed to the trunk\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152734921/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152998024","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-152998024","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":152998024,"node_id":"MDEyOklzc3VlQ29tbWVudDE1Mjk5ODAyNA==","user":{"login":"jbonofre","id":158903,"node_id":"MDQ6VXNlcjE1ODkwMw==","avatar_url":"https://avatars.githubusercontent.com/u/158903?v=4","gravatar_id":"","url":"https://api.github.com/users/jbonofre","html_url":"https://github.com/jbonofre","followers_url":"https://api.github.com/users/jbonofre/followers","following_url":"https://api.github.com/users/jbonofre/following{/other_user}","gists_url":"https://api.github.com/users/jbonofre/gists{/gist_id}","starred_url":"https://api.github.com/users/jbonofre/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jbonofre/subscriptions","organizations_url":"https://api.github.com/users/jbonofre/orgs","repos_url":"https://api.github.com/users/jbonofre/repos","events_url":"https://api.github.com/users/jbonofre/events{/privacy}","received_events_url":"https://api.github.com/users/jbonofre/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-02T11:56:18Z","updated_at":"2015-11-02T11:56:18Z","author_association":"MEMBER","body":"Allright, I will update this PR accordingly. Thanks guys !\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/152998024/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153553020","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-153553020","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":153553020,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzU1MzAyMA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T02:38:49Z","updated_at":"2015-11-04T02:38:49Z","author_association":"CONTRIBUTOR","body":"I'm looking through the code. I'm wondering if you considered trying to convert these unit tests which require network calls to use mock services. It dawned on me as I was checking this through that these changes are all in @Ignore's\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153553020/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153554654","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-153554654","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":153554654,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzU1NDY1NA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T02:49:09Z","updated_at":"2015-11-04T02:49:09Z","author_association":"MEMBER","body":"You are not including your nar in the nifi-assembly pom (and would want to include this in the root pom.xml as a managed dependency for versioning) and it was not getting included in the generated assemblies.\n\nAdditionally, it seems as though your nifi-riemann-processors does not have the requisite META-INF/services/org.apache.nifi.processor.Processor file for SPI.  Accordingly, it was not getting loaded on NiFi startup as an available processor.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153554654/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153562693","html_url":"https://github.com/apache/nifi/pull/113#issuecomment-153562693","issue_url":"https://api.github.com/repos/apache/nifi/issues/113","id":153562693,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzU2MjY5Mw==","user":{"login":"jskora","id":181587,"node_id":"MDQ6VXNlcjE4MTU4Nw==","avatar_url":"https://avatars.githubusercontent.com/u/181587?v=4","gravatar_id":"","url":"https://api.github.com/users/jskora","html_url":"https://github.com/jskora","followers_url":"https://api.github.com/users/jskora/followers","following_url":"https://api.github.com/users/jskora/following{/other_user}","gists_url":"https://api.github.com/users/jskora/gists{/gist_id}","starred_url":"https://api.github.com/users/jskora/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jskora/subscriptions","organizations_url":"https://api.github.com/users/jskora/orgs","repos_url":"https://api.github.com/users/jskora/repos","events_url":"https://api.github.com/users/jskora/events{/privacy}","received_events_url":"https://api.github.com/users/jskora/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T03:47:32Z","updated_at":"2015-11-04T03:47:32Z","author_association":"CONTRIBUTOR","body":"Ok, cleanup is now incorporated from today's review.\n1. logs exceptions caught in `createAttributes()`, since normal processing should prevent attribute calls from throwing the \"unsupported operation\" exceptions.\n2. filtering in `scanDirectory()` is consolidated.\n3. debug `println()` and `flush()` calls remove from ListFile and TestListFile.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153562693/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153591624","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-153591624","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":153591624,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzU5MTYyNA==","user":{"login":"vs186031","id":15037675,"node_id":"MDQ6VXNlcjE1MDM3Njc1","avatar_url":"https://avatars.githubusercontent.com/u/15037675?v=4","gravatar_id":"","url":"https://api.github.com/users/vs186031","html_url":"https://github.com/vs186031","followers_url":"https://api.github.com/users/vs186031/followers","following_url":"https://api.github.com/users/vs186031/following{/other_user}","gists_url":"https://api.github.com/users/vs186031/gists{/gist_id}","starred_url":"https://api.github.com/users/vs186031/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vs186031/subscriptions","organizations_url":"https://api.github.com/users/vs186031/orgs","repos_url":"https://api.github.com/users/vs186031/repos","events_url":"https://api.github.com/users/vs186031/events{/privacy}","received_events_url":"https://api.github.com/users/vs186031/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T06:21:02Z","updated_at":"2015-11-04T06:21:02Z","author_association":"CONTRIBUTOR","body":"@trkurc : Indeed they are all actual Network calls and have been annotated with _@Ignore_. I suspect ideally we want both Mock Services and _real_ network calls, with the real services being more important.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153591624/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153848048","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-153848048","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":153848048,"node_id":"MDEyOklzc3VlQ29tbWVudDE1Mzg0ODA0OA==","user":{"login":"rickysaltzer","id":347356,"node_id":"MDQ6VXNlcjM0NzM1Ng==","avatar_url":"https://avatars.githubusercontent.com/u/347356?v=4","gravatar_id":"","url":"https://api.github.com/users/rickysaltzer","html_url":"https://github.com/rickysaltzer","followers_url":"https://api.github.com/users/rickysaltzer/followers","following_url":"https://api.github.com/users/rickysaltzer/following{/other_user}","gists_url":"https://api.github.com/users/rickysaltzer/gists{/gist_id}","starred_url":"https://api.github.com/users/rickysaltzer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rickysaltzer/subscriptions","organizations_url":"https://api.github.com/users/rickysaltzer/orgs","repos_url":"https://api.github.com/users/rickysaltzer/repos","events_url":"https://api.github.com/users/rickysaltzer/events{/privacy}","received_events_url":"https://api.github.com/users/rickysaltzer/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T20:06:31Z","updated_at":"2015-11-04T20:06:31Z","author_association":"CONTRIBUTOR","body":"Thanks for all of the comments, I'll address them as soon as I get a chance. As @apiri pointed out, If the connection fails, then we need to call `client.close()` (if not null) in order for the Riemann library to clean up its netty threads. Otherwise, it endlessly spawns threads which eventually causes the OOM exception. \n\nI don't particularly like the way I'm backing off when failing to connect, as it seems to retry very quickly. This is why the OOM surfaces minutes after killing Riemann. What is the best practice here for yielding for a longer period of time?  \n\n```\n    catch (IOException e) {\n      if (client != null) {\n        client.close();\n      }\n      context.yield();\n      throw new ProcessException(String.format(\"Unable to connect to Riemann [%s:%d] (%s)\\n%s\", host, port, transport, e.getMessage()));\n     }\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153848048/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153901833","html_url":"https://github.com/apache/nifi/pull/114#issuecomment-153901833","issue_url":"https://api.github.com/repos/apache/nifi/issues/114","id":153901833,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzkwMTgzMw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T23:20:10Z","updated_at":"2015-11-04T23:20:10Z","author_association":"CONTRIBUTOR","body":"well, this is a fairly easy one. I'll start working on it.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153901833/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153904645","html_url":"https://github.com/apache/nifi/pull/114#issuecomment-153904645","issue_url":"https://api.github.com/repos/apache/nifi/issues/114","id":153904645,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzkwNDY0NQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-04T23:34:34Z","updated_at":"2015-11-04T23:34:34Z","author_association":"CONTRIBUTOR","body":"Pushed the change (f1bd3d4). Accidentally neglected to append the comment that would autoclose this PR\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153904645/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153924808","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-153924808","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":153924808,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzkyNDgwOA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-05T01:29:10Z","updated_at":"2015-11-05T01:29:10Z","author_association":"CONTRIBUTOR","body":"A couple of comments:\n\nI recommend changing S3Setup to something like AbstractS3Test and making it an abstract class (if for nothing else, because it doesn't contain test code and is the base class for the other tests)\n\nWhat this method did was a bit misleading. I expected that the parameter was the filename. I'd rather see it with two parameters, key and filename, to make it a bit more general purpose. If these tests are extended with multiple files, having that second parameter would be helpful. Also, should it throw an AmazonS3Exception?\n\n```\n    protected void uploadTestFile(String key) throws IOException  {\n```\n\nIn the following code, rather than printing to System.err, would Asserting make more sense? Or did you intend for the doesBucketExist be a catchall for these problems?\n\n```\n        } catch (final AmazonS3Exception e) {\n            System.err.println(\"Can't create the key \" + BUCKET_NAME + \":\" + e.toString());\n        } catch (final IOException e) {\n            System.err.println(CREDENTIALS_FILE + \" doesn't exist.\");\n        }\n\n        if (!client.doesBucketExist(BUCKET_NAME)) {\n            Assert.fail(\"Setup incomplete, tests will fail\");\n        }\n```\n\nThis one confused me a bit in TestDeleteS3Object.testSimpleDelete. I doesn't quite match what the old testSimpleDelete method did, which was upload with key of hello.txt, with file hello.txt. I think you're uploading with key \"folder\" and with file \"/hello.txt\". I reasonably believe this does the same thing, but it was hard to read\n\n```\n    public void testSimpleDelete() throws IOException {\n        // Prepares for this test\n        uploadTestFile(\"folder\");\n\n        final TestRunner runner = TestRunners.newTestRunner(new DeleteS3Object());\n\n        runner.setProperty(DeleteS3Object.CREDENTAILS_FILE, CREDENTIALS_FILE);\n        runner.setProperty(DeleteS3Object.REGION, REGION);\n        runner.setProperty(DeleteS3Object.BUCKET, BUCKET_NAME);\n        runner.setProperty(DeleteS3Object.KEY, \"folder\");\n```\n\nOn a similar note I think TestDeleteS3Object.testSimpleDeleteFolder was intended to delete with a key with a slash in it, as it was in the original test\n\n```\n    @Test\n    public void testDeleteFolder() throws IOException {\n        // Prepares for this test\n        uploadTestFile(\"folder\");\n```\n\nI think that you may have propagated a bug from TestDeleteS3Object.testTryToDeleteNotExistingFile [1]. I think the original test that second setting of BUCKET was erroneous. I think this should be BUCKET_NAME instead of \"no-such-a-key\".\n\n```\n        runner.setProperty(DeleteS3Object.BUCKET, \"no-such-a-key\");\n```\n\nAlso, any thought to trying to exercise the Attribute Evaluation of the KEY in the tests? All the KEY properties were set explicitly. \n\n[1] https://github.com/apache/nifi/blob/master/nifi-nar-bundles/nifi-aws-bundle/nifi-aws-processors/src/test/java/org/apache/nifi/processors/aws/s3/TestDeleteS3Object.java#L122\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153924808/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153925206","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-153925206","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":153925206,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzkyNTIwNg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-05T01:31:46Z","updated_at":"2015-11-05T01:31:46Z","author_association":"CONTRIBUTOR","body":"Also, as I mentioned inline in the commit, this really isn't a unit test as much as an informational log. \n\n```\n    @Test\n    /**\n     * Run this test to check what version of Joda-time is actually being linked.\n     *\n     * @see: https://issues.apache.org/jira/browse/NIFI-1025\n     * @see: https://github.com/aws/aws-sdk-java/issues/444\n     */\n    public void testJodaTime() {\n        System.out.println(new DateTime().getClass().getProtectionDomain().getCodeSource());\n    }\n```\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153925206/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153927816","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-153927816","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":153927816,"node_id":"MDEyOklzc3VlQ29tbWVudDE1MzkyNzgxNg==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-05T01:47:44Z","updated_at":"2015-11-05T01:47:44Z","author_association":"CONTRIBUTOR","body":"In TestFetchS3Object.testSimpleGet(), the key, \"folder/\" is a bit confusing. I'm not intensely familiar with the S3 java API, but I'm not sure how this fits with their \"folder\" concept [1]. \n\n```\n    public void testSimpleGet() throws IOException {\n        String key = \"folder/\";\n        uploadTestFile(key);\n```\n\nSame issue with TestFetchS3Object.testTryToFetchNotExistingFile as TestDeleteS3Object.testTryToDeleteNotExistingFile. I think this tests for a non-existent bucket, not file.\n\n[1] http://docs.aws.amazon.com/AmazonS3/latest/UG/FolderOperations.html\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153927816/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153940555","html_url":"https://github.com/apache/nifi/pull/114#issuecomment-153940555","issue_url":"https://api.github.com/repos/apache/nifi/issues/114","id":153940555,"node_id":"MDEyOklzc3VlQ29tbWVudDE1Mzk0MDU1NQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-05T02:59:40Z","updated_at":"2015-11-05T02:59:40Z","author_association":"CONTRIBUTOR","body":"@aperepel - you comfortable closing this pr?\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153940555/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153957610","html_url":"https://github.com/apache/nifi/pull/91#issuecomment-153957610","issue_url":"https://api.github.com/repos/apache/nifi/issues/91","id":153957610,"node_id":"MDEyOklzc3VlQ29tbWVudDE1Mzk1NzYxMA==","user":{"login":"apiri","id":502889,"node_id":"MDQ6VXNlcjUwMjg4OQ==","avatar_url":"https://avatars.githubusercontent.com/u/502889?v=4","gravatar_id":"","url":"https://api.github.com/users/apiri","html_url":"https://github.com/apiri","followers_url":"https://api.github.com/users/apiri/followers","following_url":"https://api.github.com/users/apiri/following{/other_user}","gists_url":"https://api.github.com/users/apiri/gists{/gist_id}","starred_url":"https://api.github.com/users/apiri/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/apiri/subscriptions","organizations_url":"https://api.github.com/users/apiri/orgs","repos_url":"https://api.github.com/users/apiri/repos","events_url":"https://api.github.com/users/apiri/events{/privacy}","received_events_url":"https://api.github.com/users/apiri/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-05T04:56:26Z","updated_at":"2015-11-05T04:56:26Z","author_association":"MEMBER","body":"That context.yield is what is controlled by the processor configuration so that the user can choose how often this retry should happen, which I think is the right fit.  However, it could be interesting to have different yield strategies as options; as an example, an exponential backoff among them.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/153957610/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154240043","html_url":"https://github.com/apache/nifi/pull/115#issuecomment-154240043","issue_url":"https://api.github.com/repos/apache/nifi/issues/115","id":154240043,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDI0MDA0Mw==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-06T00:10:58Z","updated_at":"2015-11-06T00:10:58Z","author_association":"CONTRIBUTOR","body":"For those interested, I recommend reading Java Concurrency in Practice section 7.1.3 \n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154240043/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154244035","html_url":"https://github.com/apache/nifi/pull/115#issuecomment-154244035","issue_url":"https://api.github.com/repos/apache/nifi/issues/115","id":154244035,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDI0NDAzNQ==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-06T00:29:35Z","updated_at":"2015-11-06T00:29:35Z","author_association":"CONTRIBUTOR","body":"I started reviewing this. I'm not entirely sure blanket calling interrupt() is necessarily the right approach. I think some of the InterruptedException swallowing may be legitimate (e.g. the ShutdownHook). I think @markap14 wrote a decent part of RunNiFi and the Bootstrap code, he may have thought of the potential side effects of swallowing those exceptions.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154244035/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154248804","html_url":"https://github.com/apache/nifi/pull/115#issuecomment-154248804","issue_url":"https://api.github.com/repos/apache/nifi/issues/115","id":154248804,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDI0ODgwNA==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-06T00:47:14Z","updated_at":"2015-11-06T00:47:14Z","author_association":"CONTRIBUTOR","body":"Great book, great guy and if you can't get a book here is his writeup on the subject - http://www.ibm.com/developerworks/library/j-jtp05236/.\n\nThe bottom line is blanket call to _Thread.interrupt()_ IMHO is always safe. All it does is resets the interrupt flag that the caller _may_ choose to ignore. NOT doing it simply implies withholding of the information that may or may not be relevant.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154248804/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154416212","html_url":"https://github.com/apache/nifi/pull/115#issuecomment-154416212","issue_url":"https://api.github.com/repos/apache/nifi/issues/115","id":154416212,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDQxNjIxMg==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-06T14:00:07Z","updated_at":"2015-11-06T14:00:07Z","author_association":"CONTRIBUTOR","body":"@olegz : Thanks for the link! I've read the book, but it has been many years, probably 2-3 years out of college. I could probably learn from reading it again, now that I have a much better understanding of Java and concurrency. Reading that article was certainly beneficial.\n\nThat said, I think to @trkurc's point, in some of the locations (such as the bootstrap) it may be okay to swallow and may not need to repeat the interrupt... There may also be places that we should in fact being throwing InterruptedException ourselves.\n\nWhile I do agree that the Exception is not being handled properly, we should probably review a little more closely rather than performing a blanket change to the code.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154416212/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154428329","html_url":"https://github.com/apache/nifi/pull/115#issuecomment-154428329","issue_url":"https://api.github.com/repos/apache/nifi/issues/115","id":154428329,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDQyODMyOQ==","user":{"login":"olegz","id":172397,"node_id":"MDQ6VXNlcjE3MjM5Nw==","avatar_url":"https://avatars.githubusercontent.com/u/172397?v=4","gravatar_id":"","url":"https://api.github.com/users/olegz","html_url":"https://github.com/olegz","followers_url":"https://api.github.com/users/olegz/followers","following_url":"https://api.github.com/users/olegz/following{/other_user}","gists_url":"https://api.github.com/users/olegz/gists{/gist_id}","starred_url":"https://api.github.com/users/olegz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/olegz/subscriptions","organizations_url":"https://api.github.com/users/olegz/orgs","repos_url":"https://api.github.com/users/olegz/repos","events_url":"https://api.github.com/users/olegz/events{/privacy}","received_events_url":"https://api.github.com/users/olegz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-06T14:48:19Z","updated_at":"2015-11-06T14:48:34Z","author_association":"CONTRIBUTOR","body":"I just want to make sure that we are all on the same page; _repeat the interrupt_ in the context of _Thread.interrupt()_ simply implies communication of something that have already happened and is not the same as re-throwing exception. Hence my point about that being safe. \n\nFor cases where one really wants to ignore the interrupt especially where `Thread.sleep(..)` is used (a whole other topic), we can simply use `LockSupport.parkNanos(..)`.  Any interrupt will not turn into exception making user responsible to query the active thread periodically and check if it has been interrupted `Thread.isInterrupted()`.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154428329/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154717438","html_url":"https://github.com/apache/nifi/pull/107#issuecomment-154717438","issue_url":"https://api.github.com/repos/apache/nifi/issues/107","id":154717438,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDcxNzQzOA==","user":{"login":"trkurc","id":3050642,"node_id":"MDQ6VXNlcjMwNTA2NDI=","avatar_url":"https://avatars.githubusercontent.com/u/3050642?v=4","gravatar_id":"","url":"https://api.github.com/users/trkurc","html_url":"https://github.com/trkurc","followers_url":"https://api.github.com/users/trkurc/followers","following_url":"https://api.github.com/users/trkurc/following{/other_user}","gists_url":"https://api.github.com/users/trkurc/gists{/gist_id}","starred_url":"https://api.github.com/users/trkurc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/trkurc/subscriptions","organizations_url":"https://api.github.com/users/trkurc/orgs","repos_url":"https://api.github.com/users/trkurc/repos","events_url":"https://api.github.com/users/trkurc/events{/privacy}","received_events_url":"https://api.github.com/users/trkurc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-07T15:49:07Z","updated_at":"2015-11-07T15:49:07Z","author_association":"CONTRIBUTOR","body":"@vs186031 - We're going to try to get this into 0.4.0 release of NiFi - I can make the changes, or if you have a patch in progress, I'll work off of that\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154717438/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154731244","html_url":"https://github.com/apache/nifi/pull/83#issuecomment-154731244","issue_url":"https://api.github.com/repos/apache/nifi/issues/83","id":154731244,"node_id":"MDEyOklzc3VlQ29tbWVudDE1NDczMTI0NA==","user":{"login":"jbonofre","id":158903,"node_id":"MDQ6VXNlcjE1ODkwMw==","avatar_url":"https://avatars.githubusercontent.com/u/158903?v=4","gravatar_id":"","url":"https://api.github.com/users/jbonofre","html_url":"https://github.com/jbonofre","followers_url":"https://api.github.com/users/jbonofre/followers","following_url":"https://api.github.com/users/jbonofre/following{/other_user}","gists_url":"https://api.github.com/users/jbonofre/gists{/gist_id}","starred_url":"https://api.github.com/users/jbonofre/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jbonofre/subscriptions","organizations_url":"https://api.github.com/users/jbonofre/orgs","repos_url":"https://api.github.com/users/jbonofre/repos","events_url":"https://api.github.com/users/jbonofre/events{/privacy}","received_events_url":"https://api.github.com/users/jbonofre/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2015-11-07T17:58:49Z","updated_at":"2015-11-07T17:58:49Z","author_association":"MEMBER","body":"PR rebased and updated.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/154731244/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]