data/github-comments/apache-NiFi-102-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436313925","html_url":"https://github.com/apache/nifi/pull/3132#issuecomment-436313925","issue_url":"https://api.github.com/repos/apache/nifi/issues/3132","id":436313925,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjMxMzkyNQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-06T16:22:05Z","updated_at":"2018-11-06T16:22:05Z","author_association":"CONTRIBUTOR","body":"Code looks good and have been running this branch this morning and everything seems to work as expected, so going to merge shortly, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436313925/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436407572","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-436407572","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":436407572,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjQwNzU3Mg==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-06T21:03:25Z","updated_at":"2018-11-06T21:03:25Z","author_association":"CONTRIBUTOR","body":"Isn't this like the Jolt capability? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436407572/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436424696","html_url":"https://github.com/apache/nifi/pull/3136#issuecomment-436424696","issue_url":"https://api.github.com/repos/apache/nifi/issues/3136","id":436424696,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjQyNDY5Ng==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-06T22:01:27Z","updated_at":"2018-11-06T22:01:27Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436424696/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436439006","html_url":"https://github.com/apache/nifi/pull/3136#issuecomment-436439006","issue_url":"https://api.github.com/repos/apache/nifi/issues/3136","id":436439006,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjQzOTAwNg==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-06T22:53:17Z","updated_at":"2018-11-06T22:53:17Z","author_association":"CONTRIBUTOR","body":"Looks good, going to merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436439006/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436469404","html_url":"https://github.com/apache/nifi/pull/2287#issuecomment-436469404","issue_url":"https://api.github.com/repos/apache/nifi/issues/2287","id":436469404,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjQ2OTQwNA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T01:21:11Z","updated_at":"2018-11-07T01:21:11Z","author_association":"CONTRIBUTOR","body":"There has been some recent interest in this feature, do you think you'll be able to continue with this? Seems like a good feature to add.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436469404/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436507108","html_url":"https://github.com/apache/nifi/pull/3129#issuecomment-436507108","issue_url":"https://api.github.com/repos/apache/nifi/issues/3129","id":436507108,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjUwNzEwOA==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T05:12:37Z","updated_at":"2018-11-07T05:12:37Z","author_association":"CONTRIBUTOR","body":"https://github.com/jtstorck/proxy-nifi-docker can be used to test this PR.\r\n\r\nThere's an issue in NiFi with the handling of X-Forwarded-Host when Knox is proxying NiFi, which doesn't currently account for the port being present in that header.  I'll update the code to handle this case, and update the PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436507108/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436530293","html_url":"https://github.com/apache/nifi/pull/3137#issuecomment-436530293","issue_url":"https://api.github.com/repos/apache/nifi/issues/3137","id":436530293,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjUzMDI5Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T07:30:50Z","updated_at":"2018-11-07T07:30:50Z","author_association":"CONTRIBUTOR","body":"Can you please add some explanation for why this change is submitted, documentation, and at least one unit test? Thank you. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436530293/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436539736","html_url":"https://github.com/apache/nifi/pull/3110#issuecomment-436539736","issue_url":"https://api.github.com/repos/apache/nifi/issues/3110","id":436539736,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjUzOTczNg==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T08:13:06Z","updated_at":"2018-11-07T08:13:06Z","author_association":"MEMBER","body":"It looks good. +1. Merging. Thanks, @kotarot! ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436539736/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436556527","html_url":"https://github.com/apache/nifi/pull/3110#issuecomment-436556527","issue_url":"https://api.github.com/repos/apache/nifi/issues/3110","id":436556527,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjU1NjUyNw==","user":{"login":"kotarot","id":1787125,"node_id":"MDQ6VXNlcjE3ODcxMjU=","avatar_url":"https://avatars.githubusercontent.com/u/1787125?v=4","gravatar_id":"","url":"https://api.github.com/users/kotarot","html_url":"https://github.com/kotarot","followers_url":"https://api.github.com/users/kotarot/followers","following_url":"https://api.github.com/users/kotarot/following{/other_user}","gists_url":"https://api.github.com/users/kotarot/gists{/gist_id}","starred_url":"https://api.github.com/users/kotarot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kotarot/subscriptions","organizations_url":"https://api.github.com/users/kotarot/orgs","repos_url":"https://api.github.com/users/kotarot/repos","events_url":"https://api.github.com/users/kotarot/events{/privacy}","received_events_url":"https://api.github.com/users/kotarot/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T09:15:12Z","updated_at":"2018-11-07T09:15:12Z","author_association":"MEMBER","body":"@ijokarumawak Thanks for reviewing and merging my PR!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436556527/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436607335","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-436607335","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":436607335,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjYwNzMzNQ==","user":{"login":"stevedlawrence","id":3180601,"node_id":"MDQ6VXNlcjMxODA2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/3180601?v=4","gravatar_id":"","url":"https://api.github.com/users/stevedlawrence","html_url":"https://github.com/stevedlawrence","followers_url":"https://api.github.com/users/stevedlawrence/followers","following_url":"https://api.github.com/users/stevedlawrence/following{/other_user}","gists_url":"https://api.github.com/users/stevedlawrence/gists{/gist_id}","starred_url":"https://api.github.com/users/stevedlawrence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevedlawrence/subscriptions","organizations_url":"https://api.github.com/users/stevedlawrence/orgs","repos_url":"https://api.github.com/users/stevedlawrence/repos","events_url":"https://api.github.com/users/stevedlawrence/events{/privacy}","received_events_url":"https://api.github.com/users/stevedlawrence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T12:28:34Z","updated_at":"2018-11-07T12:28:34Z","author_association":"MEMBER","body":"From my understanding of Jolt, this capability is pretty different.\r\n\r\nJolt reads JSON data, performs various transformations as described by a JOLT specification, and then writes out back to JSON.\r\n\r\nDaffodil/DFDL (Data Format Description Language) on the other hand, reads a wide array of data formats (text, binary, scientific, military, financial, etc.) and parses the data format as described by a DFDL schema (see @DFDLSchemas for some publicly available schemas), and outputs the data to an infoset, which can be projected into XML or JSON for consumption. It is also capable of the reverse, by reading in the XML/JSON infoset and \"unparsing\" it back to the original data format.\r\n\r\nSo while JOLT is a transformation from JSON to JSON, Daffodil/DFDL could be considered a transformation from arbitrary data to XML or JSON, as described by a DFDL schema.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436607335/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436610464","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-436610464","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":436610464,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjYxMDQ2NA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T12:42:01Z","updated_at":"2018-11-07T12:42:01Z","author_association":"CONTRIBUTOR","body":"What I mean is that from a high level, it is a transformational capability, and may be used as an alternative.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436610464/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436610963","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-436610963","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":436610963,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjYxMDk2Mw==","user":{"login":"stevedlawrence","id":3180601,"node_id":"MDQ6VXNlcjMxODA2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/3180601?v=4","gravatar_id":"","url":"https://api.github.com/users/stevedlawrence","html_url":"https://github.com/stevedlawrence","followers_url":"https://api.github.com/users/stevedlawrence/followers","following_url":"https://api.github.com/users/stevedlawrence/following{/other_user}","gists_url":"https://api.github.com/users/stevedlawrence/gists{/gist_id}","starred_url":"https://api.github.com/users/stevedlawrence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevedlawrence/subscriptions","organizations_url":"https://api.github.com/users/stevedlawrence/orgs","repos_url":"https://api.github.com/users/stevedlawrence/repos","events_url":"https://api.github.com/users/stevedlawrence/events{/privacy}","received_events_url":"https://api.github.com/users/stevedlawrence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T12:44:03Z","updated_at":"2018-11-07T12:44:03Z","author_association":"MEMBER","body":"Ah yes, you are correct.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436610963/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436664932","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436664932","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436664932,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjY2NDkzMg==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T15:36:00Z","updated_at":"2018-11-07T15:36:26Z","author_association":"CONTRIBUTOR","body":"@colindean I don't have a good answer yet, hoping I can get some input from other developers.\r\nBut I was thinking about unit tests, and what you could do to help make this code change unit testable.\r\n\r\nWhat if you exposed the number of active and idle connections in the connection pool as properties on the `DBCPConnectionPool`? These are available by calling `getNumActive()` and `getNumIdle()`. Or you could call `listAllObjects()` and get back the full pool on the `dataSource` object.\r\n\r\nWith these numbers it would be possible to test at least the min/max connection settings, and maybe more.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436664932/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436788676","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436788676","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436788676,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjc4ODY3Ng==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T21:45:23Z","updated_at":"2018-11-07T21:45:23Z","author_association":"CONTRIBUTOR","body":"Test failure now seems to be a timeout in another module:\r\n\r\n```\r\n[ERROR] Tests run: 5, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 30.287 s <<< FAILURE! - in org.apache.nifi.processors.standard.TestHandleHttpRequest\r\n[ERROR] testMultipartFormDataRequest(org.apache.nifi.processors.standard.TestHandleHttpRequest)  Time elapsed: 30.012 s  <<< ERROR!\r\norg.junit.runners.model.TestTimedOutException: test timed out after 30000 milliseconds\r\n\tat org.apache.nifi.processors.standard.TestHandleHttpRequest.testMultipartFormDataRequest(TestHandleHttpRequest.java:271)\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436788676/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436801094","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436801094","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436801094,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgwMTA5NA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T22:27:55Z","updated_at":"2018-11-07T22:27:55Z","author_association":"CONTRIBUTOR","body":"@colindean I know Matt responded right after I did before, what are your thoughts on working on enabling unit tests by exposing the idle/active connection counts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436801094/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436809966","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436809966","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436809966,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgwOTk2Ng==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T23:02:46Z","updated_at":"2018-11-07T23:04:33Z","author_association":"CONTRIBUTOR","body":"> What if you exposed the number of active and idle connections in the connection pool as properties on the DBCPConnectionPool? These are available by calling getNumActive() and getNumIdle(). Or you could call listAllObjects() and get back the full pool on the dataSource object.\r\n\r\n> what are your thoughts on working on enabling unit tests by exposing the idle/active connection counts?\r\n\r\nI started down this track but I couldn't actually seem to trigger idle within a reasonable test setup. I can't for the life of me tell what actually makes a connection go idle, only really what removes it _when_ it's idle. Thoughts on how to proceed?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436809966/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436812788","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436812788","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436812788,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgxMjc4OA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T23:14:52Z","updated_at":"2018-11-07T23:16:22Z","author_association":"CONTRIBUTOR","body":"My thought was you could look for the idle count and see if it was 0, 8, etc... based on the config, and not worry about testing the timeouts for now.\r\n\r\n---\r\nJust re-read your post. But I assumed an Idle connection was one that had been returned to the pool?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436812788/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436813348","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436813348","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436813348,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjgxMzM0OA==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-07T23:17:37Z","updated_at":"2018-11-07T23:17:37Z","author_association":"CONTRIBUTOR","body":"Ah, I did that through checking the minIdle and maxIdle properties.\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436813348/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436856130","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-436856130","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":436856130,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjg1NjEzMA==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T02:57:17Z","updated_at":"2018-11-08T02:57:17Z","author_association":"CONTRIBUTOR","body":"> an Idle connection was one that had been returned to the pool?\r\n\r\nThat's what I would think, but I couldn't seem to actually trigger it. \r\n\r\nReading through the API docs some more, I didn't think to try checking the idle connection count _after_ closing a connection. I'll try that tomorrow.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436856130/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436912323","html_url":"https://github.com/apache/nifi/pull/3138#issuecomment-436912323","issue_url":"https://api.github.com/repos/apache/nifi/issues/3138","id":436912323,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkxMjMyMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T08:27:50Z","updated_at":"2018-11-08T08:27:50Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436912323/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436912825","html_url":"https://github.com/apache/nifi/pull/3137#issuecomment-436912825","issue_url":"https://api.github.com/repos/apache/nifi/issues/3137","id":436912825,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkxMjgyNQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T08:29:54Z","updated_at":"2018-11-08T08:29:54Z","author_association":"CONTRIBUTOR","body":"I believe this has been fixed by #3138. If you agree, can you close this PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436912825/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436913719","html_url":"https://github.com/apache/nifi/pull/3155#issuecomment-436913719","issue_url":"https://api.github.com/repos/apache/nifi/issues/3155","id":436913719,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkxMzcxOQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T08:33:07Z","updated_at":"2018-11-08T08:33:07Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436913719/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436914710","html_url":"https://github.com/apache/nifi/pull/3157#issuecomment-436914710","issue_url":"https://api.github.com/repos/apache/nifi/issues/3157","id":436914710,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkxNDcxMA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T08:37:11Z","updated_at":"2018-11-08T08:37:11Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436914710/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436918350","html_url":"https://github.com/apache/nifi/pull/3158#issuecomment-436918350","issue_url":"https://api.github.com/repos/apache/nifi/issues/3158","id":436918350,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkxODM1MA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T08:51:08Z","updated_at":"2018-11-08T08:51:08Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @ijokarumawak ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436918350/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436921882","html_url":"https://github.com/apache/nifi/pull/3128#issuecomment-436921882","issue_url":"https://api.github.com/repos/apache/nifi/issues/3128","id":436921882,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjkyMTg4Mg==","user":{"login":"vadimar","id":1668476,"node_id":"MDQ6VXNlcjE2Njg0NzY=","avatar_url":"https://avatars.githubusercontent.com/u/1668476?v=4","gravatar_id":"","url":"https://api.github.com/users/vadimar","html_url":"https://github.com/vadimar","followers_url":"https://api.github.com/users/vadimar/followers","following_url":"https://api.github.com/users/vadimar/following{/other_user}","gists_url":"https://api.github.com/users/vadimar/gists{/gist_id}","starred_url":"https://api.github.com/users/vadimar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vadimar/subscriptions","organizations_url":"https://api.github.com/users/vadimar/orgs","repos_url":"https://api.github.com/users/vadimar/repos","events_url":"https://api.github.com/users/vadimar/events{/privacy}","received_events_url":"https://api.github.com/users/vadimar/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T09:03:40Z","updated_at":"2018-11-08T09:03:40Z","author_association":"NONE","body":"Hi,\r\nCan you please review the latest commits? I committed the changes that address all the issues raised by reviewers.\r\nThanks ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436921882/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436967316","html_url":"https://github.com/apache/nifi/pull/3159#issuecomment-436967316","issue_url":"https://api.github.com/repos/apache/nifi/issues/3159","id":436967316,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNjk2NzMxNg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T11:44:35Z","updated_at":"2018-11-08T11:44:35Z","author_association":"CONTRIBUTOR","body":"In the end, I only changed the ConsumeKafka processors since it does not make sense in PublishKafka (one would just have to not set any demarcator to get the same result: all messages in the flow files are sent as one single message in Kafka). The main interest of this PR is to increase efficiency when we consume Avro data from Kafka: there is no need to set a demarcator and we do want to have multiples messages in the same flow file. I've used this [template](https://gist.github.com/pvillard31/57e627d206e7965cfb87cc27c09caf44) to test the change and to confirm the behavior: when pulling Avro data from Kafka with \"empty string\" as demarcator to have multiple messages in the same flow file, we are able to process the records in the next processor using a ConvertRecord for instance.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/436967316/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437049005","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-437049005","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":437049005,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzA0OTAwNQ==","user":{"login":"stevedlawrence","id":3180601,"node_id":"MDQ6VXNlcjMxODA2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/3180601?v=4","gravatar_id":"","url":"https://api.github.com/users/stevedlawrence","html_url":"https://github.com/stevedlawrence","followers_url":"https://api.github.com/users/stevedlawrence/followers","following_url":"https://api.github.com/users/stevedlawrence/following{/other_user}","gists_url":"https://api.github.com/users/stevedlawrence/gists{/gist_id}","starred_url":"https://api.github.com/users/stevedlawrence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevedlawrence/subscriptions","organizations_url":"https://api.github.com/users/stevedlawrence/orgs","repos_url":"https://api.github.com/users/stevedlawrence/repos","events_url":"https://api.github.com/users/stevedlawrence/events{/privacy}","received_events_url":"https://api.github.com/users/stevedlawrence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T16:00:49Z","updated_at":"2018-11-08T16:00:49Z","author_association":"MEMBER","body":"Actually, I should probably add a little more clarification.\r\n\r\nIt is correct to say that Daffodil could be considered a transformation capability, but I'm not sure it could really be seen as an alternative to Jolt specifically.\r\n\r\nOne could definitely write a DFDL schema to describe and parse JSON data, similar to what Jolt can do, but the resulting infoset would just be JSON that is probably more generic and less useful that what Jolt would create. Daffodil does not have the same transformational capabilities that Jolt has (e.g. filtering, sorting, reordering). It really just takes a data format that is not natively supported and transforms it to a logically similar representation in a natively supported format (i.e. XML/JSON). If your data is already in something like XML or JSON, it doesn't really make sense to use Daffodil.\r\n\r\nSo for example, you might take PCAP data, like in the above template, and feed it through Daffodill to transform it to JSON. But there might be extraneous data that Daffodil parsed that you don't need or care about. So you might then feed that JSON through Jolt to to transform it to something that has only the fields you care about, or is reordered/renamed to be something more useful to ones usecase.\r\n\r\nSo this isn't something that could be viewed as an alternative to Jolt, but more like something that could be used in conjunction with Jolt to allow one to transform JSON data that wasn't originally JSON.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437049005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437081927","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-437081927","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":437081927,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzA4MTkyNw==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T17:14:22Z","updated_at":"2018-11-08T17:14:22Z","author_association":"CONTRIBUTOR","body":"Thanks for taking the time to explain further.  I see what you mean.  Nifi needs a better way to get across to users when to use what processor in general.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437081927/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437088923","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437088923","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437088923,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzA4ODkyMw==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T17:35:17Z","updated_at":"2018-11-08T17:35:17Z","author_association":"CONTRIBUTOR","body":"Test failure is on the Japanese build.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437088923/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437135382","html_url":"https://github.com/apache/nifi/pull/3160#issuecomment-437135382","issue_url":"https://api.github.com/repos/apache/nifi/issues/3160","id":437135382,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzEzNTM4Mg==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T19:58:36Z","updated_at":"2018-11-08T19:58:36Z","author_association":"CONTRIBUTOR","body":"Performance difference when iterating 10 million times, each time creating a new avro writer and writing a single record, was an improvement from about 58 seconds to about 12 seconds. So approximately 5x improvement in this use case.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437135382/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437184309","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437184309","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437184309,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzE4NDMwOQ==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T22:47:33Z","updated_at":"2018-11-08T22:47:33Z","author_association":"CONTRIBUTOR","body":"I'll squash once travis says  ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437184309/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437189095","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437189095","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437189095,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzE4OTA5NQ==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-08T23:06:07Z","updated_at":"2018-11-08T23:06:07Z","author_association":"CONTRIBUTOR","body":"Squash incoming","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437189095/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437210061","html_url":"https://github.com/apache/nifi/pull/3159#issuecomment-437210061","issue_url":"https://api.github.com/repos/apache/nifi/issues/3159","id":437210061,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzIxMDA2MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T00:48:34Z","updated_at":"2018-11-09T00:48:34Z","author_association":"MEMBER","body":"LGTM +1. I was able to confirm the expected benefit of using an empty demarcator string to combine multiple Avro formatted Kafka messages into a single FlowFile. Thanks @pvillard31!\r\n\r\nFor those who want to use this improvement with older NiFi versions, using EL `${empty}` can mimic the non-empty validation and result the same effect . This assumes there's no variable named `empty`, the EL evaluation result will be an empty string while this is a valid configuration since it's not an empty property value.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437210061/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437219253","html_url":"https://github.com/apache/nifi/pull/3161#issuecomment-437219253","issue_url":"https://api.github.com/repos/apache/nifi/issues/3161","id":437219253,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzIxOTI1Mw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T01:36:08Z","updated_at":"2018-11-09T01:36:08Z","author_association":"MEMBER","body":"@markap14 This PR has been merged to master branch, but still open since there was not 'This closes ...' comment. Do you mind closing this? Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437219253/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437296709","html_url":"https://github.com/apache/nifi/pull/399#issuecomment-437296709","issue_url":"https://api.github.com/repos/apache/nifi/issues/399","id":437296709,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzI5NjcwOQ==","user":{"login":"joaocc","id":2837860,"node_id":"MDQ6VXNlcjI4Mzc4NjA=","avatar_url":"https://avatars.githubusercontent.com/u/2837860?v=4","gravatar_id":"","url":"https://api.github.com/users/joaocc","html_url":"https://github.com/joaocc","followers_url":"https://api.github.com/users/joaocc/followers","following_url":"https://api.github.com/users/joaocc/following{/other_user}","gists_url":"https://api.github.com/users/joaocc/gists{/gist_id}","starred_url":"https://api.github.com/users/joaocc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joaocc/subscriptions","organizations_url":"https://api.github.com/users/joaocc/orgs","repos_url":"https://api.github.com/users/joaocc/repos","events_url":"https://api.github.com/users/joaocc/events{/privacy}","received_events_url":"https://api.github.com/users/joaocc/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T09:09:53Z","updated_at":"2018-11-09T09:09:53Z","author_association":"NONE","body":"@simonellistonball Hi. Was the work on Azure Storage Table dropped? I tried to find it in the current (1.8) version but only Storage Blob seems to be there. Thx","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437296709/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437373401","html_url":"https://github.com/apache/nifi/pull/3160#issuecomment-437373401","issue_url":"https://api.github.com/repos/apache/nifi/issues/3160","id":437373401,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM3MzQwMQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T14:21:19Z","updated_at":"2018-11-09T14:21:19Z","author_association":"CONTRIBUTOR","body":"@ijokarumawak thanks for the review - and all great points! New commit coming momentarily.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437373401/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437377877","html_url":"https://github.com/apache/nifi/pull/3160#issuecomment-437377877","issue_url":"https://api.github.com/repos/apache/nifi/issues/3160","id":437377877,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM3Nzg3Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T14:36:48Z","updated_at":"2018-11-09T14:36:48Z","author_association":"CONTRIBUTOR","body":"New commit pushed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437377877/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437381787","html_url":"https://github.com/apache/nifi/pull/3161#issuecomment-437381787","issue_url":"https://api.github.com/repos/apache/nifi/issues/3161","id":437381787,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM4MTc4Nw==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T14:49:40Z","updated_at":"2018-11-09T14:49:40Z","author_association":"CONTRIBUTOR","body":"Thanks @ijokarumawak ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437381787/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437384382","html_url":"https://github.com/apache/nifi/pull/3111#issuecomment-437384382","issue_url":"https://api.github.com/repos/apache/nifi/issues/3111","id":437384382,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM4NDM4Mg==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T14:57:58Z","updated_at":"2018-11-09T14:57:58Z","author_association":"CONTRIBUTOR","body":"@arkadius thanks for the update! Code review looks good. All unit tests and contrib-check pass. This does touch some super heavily used processors, though, like UpdateAttribute, so I'll want to take my time testing. This could certainly be a great improvement though. Thanks again!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437384382/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437387129","html_url":"https://github.com/apache/nifi/pull/3111#issuecomment-437387129","issue_url":"https://api.github.com/repos/apache/nifi/issues/3111","id":437387129,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM4NzEyOQ==","user":{"login":"arkadius","id":534341,"node_id":"MDQ6VXNlcjUzNDM0MQ==","avatar_url":"https://avatars.githubusercontent.com/u/534341?v=4","gravatar_id":"","url":"https://api.github.com/users/arkadius","html_url":"https://github.com/arkadius","followers_url":"https://api.github.com/users/arkadius/followers","following_url":"https://api.github.com/users/arkadius/following{/other_user}","gists_url":"https://api.github.com/users/arkadius/gists{/gist_id}","starred_url":"https://api.github.com/users/arkadius/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arkadius/subscriptions","organizations_url":"https://api.github.com/users/arkadius/orgs","repos_url":"https://api.github.com/users/arkadius/repos","events_url":"https://api.github.com/users/arkadius/events{/privacy}","received_events_url":"https://api.github.com/users/arkadius/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T15:06:57Z","updated_at":"2018-11-09T15:06:57Z","author_association":"CONTRIBUTOR","body":"@markap14 No problem, looking forward for conclusions from this testing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437387129/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437395272","html_url":"https://github.com/apache/nifi/pull/3100#issuecomment-437395272","issue_url":"https://api.github.com/repos/apache/nifi/issues/3100","id":437395272,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM5NTI3Mg==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T15:31:46Z","updated_at":"2018-11-09T15:31:46Z","author_association":"CONTRIBUTOR","body":"@markap14, I agree that the class would be useful. Can you include a unit test that references it? As long as some piece of the PR legitimately references the class then I'm completely happy keeping it in and merging it, even with the `@Ignore` attribute, now that it's been explained to me.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437395272/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437396878","html_url":"https://github.com/apache/nifi/pull/3156#issuecomment-437396878","issue_url":"https://api.github.com/repos/apache/nifi/issues/3156","id":437396878,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzM5Njg3OA==","user":{"login":"yjhyjhyjh0","id":4414486,"node_id":"MDQ6VXNlcjQ0MTQ0ODY=","avatar_url":"https://avatars.githubusercontent.com/u/4414486?v=4","gravatar_id":"","url":"https://api.github.com/users/yjhyjhyjh0","html_url":"https://github.com/yjhyjhyjh0","followers_url":"https://api.github.com/users/yjhyjhyjh0/followers","following_url":"https://api.github.com/users/yjhyjhyjh0/following{/other_user}","gists_url":"https://api.github.com/users/yjhyjhyjh0/gists{/gist_id}","starred_url":"https://api.github.com/users/yjhyjhyjh0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yjhyjhyjh0/subscriptions","organizations_url":"https://api.github.com/users/yjhyjhyjh0/orgs","repos_url":"https://api.github.com/users/yjhyjhyjh0/repos","events_url":"https://api.github.com/users/yjhyjhyjh0/events{/privacy}","received_events_url":"https://api.github.com/users/yjhyjhyjh0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T15:36:25Z","updated_at":"2018-11-13T13:18:37Z","author_association":"CONTRIBUTOR","body":"Thanks for the suggestion.\r\nUpdate description to be more precise on Pre,Post-Query in ExecuteSQL, ExecuteSQLRecord, SelectHiveQL.\r\nSquash all commits into one.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437396878/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437400570","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437400570","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437400570,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQwMDU3MA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T15:47:47Z","updated_at":"2018-11-09T15:47:47Z","author_association":"CONTRIBUTOR","body":"@colindean I am getting compile errors. I had to add an import, `import org.apache.nifi.components.PropertyValue;`, otherwise your method `extractMillisWithInfinite` would not build.\r\n\r\nThis is building OK for you? Maybe something got lost in the squash?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437400570/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437408333","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437408333","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437408333,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQwODMzMw==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T16:10:01Z","updated_at":"2018-11-09T16:10:01Z","author_association":"CONTRIBUTOR","body":"Very strange it's there in the PR's commit and my local copy and Travis built fine:\r\n\r\nhttps://github.com/apache/nifi/blob/a3868928e278dc6797367f97d1d84eebcf1aad38/nifi-nar-bundles/nifi-standard-services/nifi-dbcp-service-bundle/nifi-dbcp-service/src/main/java/org/apache/nifi/dbcp/DBCPConnectionPool.java#L27","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437408333/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437408473","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437408473","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437408473,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQwODQ3Mw==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T16:10:28Z","updated_at":"2018-11-09T16:10:28Z","author_association":"CONTRIBUTOR","body":"@colindean Disregard. Git was misbehaving.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437408473/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437426260","html_url":"https://github.com/apache/nifi/pull/3100#issuecomment-437426260","issue_url":"https://api.github.com/repos/apache/nifi/issues/3100","id":437426260,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQyNjI2MA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T17:06:15Z","updated_at":"2018-11-09T17:06:15Z","author_association":"CONTRIBUTOR","body":"@patricker done. On a 3-year-old Macbook Pro, looks like the LineDemarcator is able to demarcate 10 MM lines in about 350 millis. Just as a point of reference :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437426260/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437472748","html_url":"https://github.com/apache/nifi/pull/3131#issuecomment-437472748","issue_url":"https://api.github.com/repos/apache/nifi/issues/3131","id":437472748,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQ3Mjc0OA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T19:41:08Z","updated_at":"2018-11-09T19:41:08Z","author_association":"CONTRIBUTOR","body":"@patricker thanks for the PR! I had gone down this path before but I backed out the changes. The changes in this PR will result in obtaining a Write Lock on the queue of every incoming connection for every running processor in the graph. This can become quite expensive for a complex flow that is made up of thousands (or even 10's of thousands) of processors) and result in overall system performance suffering. This is why we are so care in the FlowFile Queue's implementation to ensure that isActiveQueueEmpty() never obtains a lock but instead only references AtomicReference variables.\r\n\r\nWe should be able to do better, though. For example, when we pull a FlowFile from the queue, we check if it's penalized. If so, we throw it back on. Since the queue is ordered, we could do some smart things like looking at the FlowFile expiration date, then keeping track of the fact that we know all FlowFiles are penalized until that time is reached - or until a non-penalized FlowFile is added to the queue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437472748/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437475859","html_url":"https://github.com/apache/nifi/pull/3111#issuecomment-437475859","issue_url":"https://api.github.com/repos/apache/nifi/issues/3111","id":437475859,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQ3NTg1OQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T19:51:12Z","updated_at":"2018-11-09T19:51:12Z","author_association":"CONTRIBUTOR","body":"@arkadius I did a good bit of testing and wasn't able to break anything. Thanks for the improvements! +1, I have merged to master. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437475859/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437481617","html_url":"https://github.com/apache/nifi/pull/3131#issuecomment-437481617","issue_url":"https://api.github.com/repos/apache/nifi/issues/3131","id":437481617,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQ4MTYxNw==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T20:13:14Z","updated_at":"2018-11-09T20:17:05Z","author_association":"CONTRIBUTOR","body":"@markap14 I was worried about the same thing, which is why the `if` statement is structured as it is. First, we do the standard check on `isActiveQueueEmpty`. This happens in the code now as you mentioned, and right now if this passes we create a writelock, `migrateSwapToActive()`, and call the processor.\r\n\r\nAll my change does is add one additional check, but only if `isActiveQueueEmpty` is already passing. So as far as I can tell, I'm locking one extra time for a queue that is already going to get locked, but not locking any queues that would not already get locked. Also, because I'm calling `migrateSwapToActive()` during my check, when the processor does get called the lock for the second run of this method should not last as long as it would otherwise, as there is less work to do. So overall lock time should be affected only minimally. Thoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437481617/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437498707","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437498707","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437498707,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzQ5ODcwNw==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T21:20:33Z","updated_at":"2018-11-09T21:20:33Z","author_association":"CONTRIBUTOR","body":" \r\n\r\n@patricker @mattyb149 How often and for what reasons does NiFi issue patch releases? Looking through the release history, it seems pretty rare and saved for regressions only. More directly, I'd love to get this into an official release sooner than later, in order to avoid the burdens of building NiFi internally or pulling in patched NARs as a part of our build process (we ship NiFi as a part of a product in development, but we're like _days_ from shipping 1.0). I understand if there are rules/guidelines that would prevent this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437498707/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437501073","html_url":"https://github.com/apache/nifi/pull/3100#issuecomment-437501073","issue_url":"https://api.github.com/repos/apache/nifi/issues/3100","id":437501073,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzUwMTA3Mw==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T21:29:50Z","updated_at":"2018-11-09T21:29:50Z","author_association":"CONTRIBUTOR","body":"+1 LGTM Ran all of the unit tests, looks good. Built it and ran it locally, had no issues. I also ran a unit test that never got put in from the ticket that started this whole journey, https://issues.apache.org/jira/browse/NIFI-5689?focusedCommentId=16652020&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16652020, no issues.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437501073/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437513286","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437513286","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437513286,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzUxMzI4Ng==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T22:21:41Z","updated_at":"2018-11-09T22:21:41Z","author_association":"CONTRIBUTOR","body":"@colindean Your correct, patch releases are for very special circumstances. I don't believe you have any option except to build this yourself until 1.9.0 gets released; and since 1.8.0 just came out, that is going to be a bit.\r\n\r\nTo keep things stable, you can checkout the 1.8.0 tag and apply your change as a cherry pick so you don't accidentally include any unexpected changes, but still an internal build.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437513286/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437517588","html_url":"https://github.com/apache/nifi/pull/3133#issuecomment-437517588","issue_url":"https://api.github.com/repos/apache/nifi/issues/3133","id":437517588,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzUxNzU4OA==","user":{"login":"colindean","id":197224,"node_id":"MDQ6VXNlcjE5NzIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/197224?v=4","gravatar_id":"","url":"https://api.github.com/users/colindean","html_url":"https://github.com/colindean","followers_url":"https://api.github.com/users/colindean/followers","following_url":"https://api.github.com/users/colindean/following{/other_user}","gists_url":"https://api.github.com/users/colindean/gists{/gist_id}","starred_url":"https://api.github.com/users/colindean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/colindean/subscriptions","organizations_url":"https://api.github.com/users/colindean/orgs","repos_url":"https://api.github.com/users/colindean/repos","events_url":"https://api.github.com/users/colindean/events{/privacy}","received_events_url":"https://api.github.com/users/colindean/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-09T22:40:12Z","updated_at":"2018-11-09T22:40:12Z","author_association":"CONTRIBUTOR","body":"Thank you for confirming. Looks like my team will have some work to do\nnext week!\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437517588/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437571187","html_url":"https://github.com/apache/nifi/pull/3164#issuecomment-437571187","issue_url":"https://api.github.com/repos/apache/nifi/issues/3164","id":437571187,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzU3MTE4Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-10T09:34:08Z","updated_at":"2018-11-10T09:34:08Z","author_association":"CONTRIBUTOR","body":"+1, merged to master, thanks @bdesert ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437571187/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437612326","html_url":"https://github.com/apache/nifi/pull/2872#issuecomment-437612326","issue_url":"https://api.github.com/repos/apache/nifi/issues/2872","id":437612326,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzYxMjMyNg==","user":{"login":"peter-gergely-horvath","id":15800802,"node_id":"MDQ6VXNlcjE1ODAwODAy","avatar_url":"https://avatars.githubusercontent.com/u/15800802?v=4","gravatar_id":"","url":"https://api.github.com/users/peter-gergely-horvath","html_url":"https://github.com/peter-gergely-horvath","followers_url":"https://api.github.com/users/peter-gergely-horvath/followers","following_url":"https://api.github.com/users/peter-gergely-horvath/following{/other_user}","gists_url":"https://api.github.com/users/peter-gergely-horvath/gists{/gist_id}","starred_url":"https://api.github.com/users/peter-gergely-horvath/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/peter-gergely-horvath/subscriptions","organizations_url":"https://api.github.com/users/peter-gergely-horvath/orgs","repos_url":"https://api.github.com/users/peter-gergely-horvath/repos","events_url":"https://api.github.com/users/peter-gergely-horvath/events{/privacy}","received_events_url":"https://api.github.com/users/peter-gergely-horvath/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-10T19:10:38Z","updated_at":"2018-11-10T19:10:38Z","author_association":"CONTRIBUTOR","body":"Closed an created a new pull request for the same issue from a clean state: https://github.com/apache/nifi/pull/3165","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437612326/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437612663","html_url":"https://github.com/apache/nifi/pull/3165#issuecomment-437612663","issue_url":"https://api.github.com/repos/apache/nifi/issues/3165","id":437612663,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzYxMjY2Mw==","user":{"login":"peter-gergely-horvath","id":15800802,"node_id":"MDQ6VXNlcjE1ODAwODAy","avatar_url":"https://avatars.githubusercontent.com/u/15800802?v=4","gravatar_id":"","url":"https://api.github.com/users/peter-gergely-horvath","html_url":"https://github.com/peter-gergely-horvath","followers_url":"https://api.github.com/users/peter-gergely-horvath/followers","following_url":"https://api.github.com/users/peter-gergely-horvath/following{/other_user}","gists_url":"https://api.github.com/users/peter-gergely-horvath/gists{/gist_id}","starred_url":"https://api.github.com/users/peter-gergely-horvath/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/peter-gergely-horvath/subscriptions","organizations_url":"https://api.github.com/users/peter-gergely-horvath/orgs","repos_url":"https://api.github.com/users/peter-gergely-horvath/repos","events_url":"https://api.github.com/users/peter-gergely-horvath/events{/privacy}","received_events_url":"https://api.github.com/users/peter-gergely-horvath/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-10T19:15:36Z","updated_at":"2018-11-10T19:15:36Z","author_association":"CONTRIBUTOR","body":"Hi @MikeThomsen I have opened this new pull request instead of #2872 according your suggestions. Here we have everything sorted out you mentioned earlier on. Now the build executes the test cases if you specify `run-testharness-tests` and you now have the option to get the flow file version updated to the version of NiFi you are using. :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437612663/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437728908","html_url":"https://github.com/apache/nifi/pull/3160#issuecomment-437728908","issue_url":"https://api.github.com/repos/apache/nifi/issues/3160","id":437728908,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzcyODkwOA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T01:55:48Z","updated_at":"2018-11-12T01:55:48Z","author_association":"MEMBER","body":"@markap14 The updates look good to me. I'm +1 on this PR. However, there are some conflicts with the recent change and I think it's safe for you to resolve the conflict instead of me doing that. Please address conflicts and merge it. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437728908/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437759322","html_url":"https://github.com/apache/nifi/pull/3163#issuecomment-437759322","issue_url":"https://api.github.com/repos/apache/nifi/issues/3163","id":437759322,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzc1OTMyMg==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T05:17:34Z","updated_at":"2018-11-12T05:17:34Z","author_association":"MEMBER","body":"Reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437759322/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437769091","html_url":"https://github.com/apache/nifi/pull/3163#issuecomment-437769091","issue_url":"https://api.github.com/repos/apache/nifi/issues/3163","id":437769091,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzc2OTA5MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T06:18:25Z","updated_at":"2018-11-12T06:18:25Z","author_association":"MEMBER","body":"LGTM, +1, merging. Thanks for fixing this @markap14!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437769091/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437910744","html_url":"https://github.com/apache/nifi/pull/3131#issuecomment-437910744","issue_url":"https://api.github.com/repos/apache/nifi/issues/3131","id":437910744,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkxMDc0NA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T14:55:50Z","updated_at":"2018-11-12T14:55:50Z","author_association":"CONTRIBUTOR","body":"@patricker you're right - it may perform just fine. However, the concern is not that we are holding a lock longer but rather that we are obtaining it twice as often now when there's data queued. The acquisition of the lock itself can be expensive. So all I am suggesting is that we don't want to make such a change without knowing how it's going to affect things. We'd want to gather some performance numbers before and after this changeset is applied.\r\n\r\nSpecifically, I'd want to setup a test suite that calculates things like:\r\nHow long does it take to check if there are FlowFiles queued 10 million times when there are no FlowFiles queued?\r\nHow long does it take to check if there are FlowFiles queued 10 million times when there are FlowFiles queued?\r\nHow do these numbers change when you have 1 thread vs. 2 threads vs. 12 threads vs. 25 threads?\r\n\r\nI'd want to run these tests 10-20 times in a row to ensure that the numbers are steady, and then get these numbers before and after the changeset is applied.\r\nIf the worst-case differs by say 5% then it's probably fine. If the worse case differs by say 50% then it probably makes sense to look for a different solution.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437910744/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437921749","html_url":"https://github.com/apache/nifi/pull/3131#issuecomment-437921749","issue_url":"https://api.github.com/repos/apache/nifi/issues/3131","id":437921749,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkyMTc0OQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T15:26:57Z","updated_at":"2018-11-12T15:26:57Z","author_association":"CONTRIBUTOR","body":"@markap14 Sounds reasonable, I'll work on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437921749/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437925029","html_url":"https://github.com/apache/nifi/pull/3167#issuecomment-437925029","issue_url":"https://api.github.com/repos/apache/nifi/issues/3167","id":437925029,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkyNTAyOQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T15:35:47Z","updated_at":"2018-11-12T15:35:47Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I'm in agreement, but I feel like the spirit of this ticket is still an interesting direction to look at.  How do you prevent QDB or GTF from running against the same table on two nodes or two threads at the same time? Multiple threads sounds reasonable, through some kind of lock in the processor, but across multiple nodes? Would be interesting to come up with a solution.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437925029/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437925088","html_url":"https://github.com/apache/nifi/pull/2901#issuecomment-437925088","issue_url":"https://api.github.com/repos/apache/nifi/issues/2901","id":437925088,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkyNTA4OA==","user":{"login":"markAcomm","id":10416221,"node_id":"MDQ6VXNlcjEwNDE2MjIx","avatar_url":"https://avatars.githubusercontent.com/u/10416221?v=4","gravatar_id":"","url":"https://api.github.com/users/markAcomm","html_url":"https://github.com/markAcomm","followers_url":"https://api.github.com/users/markAcomm/followers","following_url":"https://api.github.com/users/markAcomm/following{/other_user}","gists_url":"https://api.github.com/users/markAcomm/gists{/gist_id}","starred_url":"https://api.github.com/users/markAcomm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markAcomm/subscriptions","organizations_url":"https://api.github.com/users/markAcomm/orgs","repos_url":"https://api.github.com/users/markAcomm/repos","events_url":"https://api.github.com/users/markAcomm/events{/privacy}","received_events_url":"https://api.github.com/users/markAcomm/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T15:35:58Z","updated_at":"2018-11-12T15:35:58Z","author_association":"NONE","body":"@jasonrogena,\r\n\r\nThanks for moving this forward. Good to see this PR is keeping up with 1.8\r\n\r\nI noticed a small bug. In AbstractOAuthControllerService.java the property names look like they have a cut-and-paste error. Look for multiple properties with the line: \r\n.Builder().name(\"JSON_response_access_token_name\")\r\n\r\nAt lines 91, 103 and 114. I am pretty sure those need different names. \r\n\r\nAlso, kudos for adding the scope property as this is pretty critical to using this against Google APIs. I am not sure how all OAuth services work when accepting scope, but in the case of Google, would it be best to use the new StandardValidators.URI_LIST_VALIDATOR ?\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437925088/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437932973","html_url":"https://github.com/apache/nifi/pull/3167#issuecomment-437932973","issue_url":"https://api.github.com/repos/apache/nifi/issues/3167","id":437932973,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkzMjk3Mw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T15:57:33Z","updated_at":"2018-11-12T15:57:33Z","author_association":"CONTRIBUTOR","body":"I did something like that for the Hive 1 version of PutHiveStreaming, the underlying library wasn't thread-safe if you were working on the same table, so I put in a \"table lock\" where multiple threads couldn't act on the same table. With QDT it doesn't take incoming flow files, so the table name is effectively hard-coded. By adding PrimaryNodeOnly we can guarantee that QDT only has one instance (it is already TriggerSerially so can't have multiple threads). For GTF if you use ListDatabaseTables on the primary node only (not sure if we should force that with this annotation or not) then each flow file should have a different table, and using a load-balanced connection (or RPG -> Input Port) then each instance of GTF should be working on a different table. The onus is on the user to set Max Concurrent Tasks for GTF to 1 to prevent multi-threaded execution.\r\n\r\nPerhaps for GTF, instead of forcing PrimaryNodeOnly, we can make it clear in the doc that if there are no incoming connections, it should probably be run on the primary node only. Alternatively, maybe during annotation processing we can enforce that processors annotated with PrimaryNodeOnly automatically have an InputRequirement of INPUT_FORBIDDEN? Otherwise flow files can get stalled if they are in the queue on a node that is not the primary.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437932973/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437935209","html_url":"https://github.com/apache/nifi/pull/2287#issuecomment-437935209","issue_url":"https://api.github.com/repos/apache/nifi/issues/2287","id":437935209,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkzNTIwOQ==","user":{"login":"otherview","id":4471462,"node_id":"MDQ6VXNlcjQ0NzE0NjI=","avatar_url":"https://avatars.githubusercontent.com/u/4471462?v=4","gravatar_id":"","url":"https://api.github.com/users/otherview","html_url":"https://github.com/otherview","followers_url":"https://api.github.com/users/otherview/followers","following_url":"https://api.github.com/users/otherview/following{/other_user}","gists_url":"https://api.github.com/users/otherview/gists{/gist_id}","starred_url":"https://api.github.com/users/otherview/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/otherview/subscriptions","organizations_url":"https://api.github.com/users/otherview/orgs","repos_url":"https://api.github.com/users/otherview/repos","events_url":"https://api.github.com/users/otherview/events{/privacy}","received_events_url":"https://api.github.com/users/otherview/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T16:03:41Z","updated_at":"2018-11-12T16:03:41Z","author_association":"NONE","body":"@mattyb149 Yeah.\r\n\r\nMight take a bit to pick up where I left, but I'm happy to contribute. \r\nI'll set it up in a few days hopefully.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437935209/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437939536","html_url":"https://github.com/apache/nifi/pull/3167#issuecomment-437939536","issue_url":"https://api.github.com/repos/apache/nifi/issues/3167","id":437939536,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzkzOTUzNg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T16:16:01Z","updated_at":"2018-11-12T16:16:01Z","author_association":"CONTRIBUTOR","body":"I'd definitely like (a lot) to see something at framework level to make a processor invalid if it is set on Primary Node Only with an incoming connection.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437939536/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437940950","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-437940950","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":437940950,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzk0MDk1MA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T16:20:04Z","updated_at":"2018-11-12T16:20:04Z","author_association":"CONTRIBUTOR","body":"This is interesting stuff, I need to read more up on DFDL, might make a good schema definition language as an alternative to Avro schemas. Also at first glance it seems the Daffodil infoset is analogous to a NiFi Record for data, and/or a NiFi RecordSchema for its schema. Having an infoset as the underlying data model seems to overlap a bit with how the NiFi Record stuff works, for example we could have a PCAPReader and any writer such as JSONWriter, then the ConvertRecord processor can convert PCAP to JSON. I think someone was working on a PCAP reader, not sure how they handled the global stuff. If Avro schemas are not sufficient to capture this kind of model, then we should definitely look at DFDL as an alternative (we've been considering XSD as a more expressive alternative).\r\n\r\nQuick note about JOLT, the \"normal\" use case is for JSON-to-JSON conversion, but the underlying library does the transformation on a POJO, not JSON. So the usual entry point for JOLT is to give it a JSON string, it converts to a POJO, runs the transformation, and takes the resulting POJO and writes it out as JSON. In NiFi I wrote JoltTransformRecord, which instead of explicit JSON uses the NiFi Record API, so it gets each record (in whichever format) as a NiFi Record, translates it to a POJO, then runs the JOLT transforms, then translates back into a NiFi Record, which is written out in whatever format is specified by the RecordWriter.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437940950/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437948562","html_url":"https://github.com/apache/nifi/pull/1953#issuecomment-437948562","issue_url":"https://api.github.com/repos/apache/nifi/issues/1953","id":437948562,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzk0ODU2Mg==","user":{"login":"bdesert","id":19496093,"node_id":"MDQ6VXNlcjE5NDk2MDkz","avatar_url":"https://avatars.githubusercontent.com/u/19496093?v=4","gravatar_id":"","url":"https://api.github.com/users/bdesert","html_url":"https://github.com/bdesert","followers_url":"https://api.github.com/users/bdesert/followers","following_url":"https://api.github.com/users/bdesert/following{/other_user}","gists_url":"https://api.github.com/users/bdesert/gists{/gist_id}","starred_url":"https://api.github.com/users/bdesert/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bdesert/subscriptions","organizations_url":"https://api.github.com/users/bdesert/orgs","repos_url":"https://api.github.com/users/bdesert/repos","events_url":"https://api.github.com/users/bdesert/events{/privacy}","received_events_url":"https://api.github.com/users/bdesert/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T16:41:34Z","updated_at":"2018-11-12T16:41:34Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437948562/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437976693","html_url":"https://github.com/apache/nifi/pull/3129#issuecomment-437976693","issue_url":"https://api.github.com/repos/apache/nifi/issues/3129","id":437976693,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzk3NjY5Mw==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T18:07:46Z","updated_at":"2018-11-12T18:07:46Z","author_association":"CONTRIBUTOR","body":"@mcgilman @kevdoran @alopresto @thenatog \r\nThe PR is ready for review.  https://github.com/jtstorck/proxy-nifi-docker can be used to test the PR, and there are instructions for starting it up and where the proxies are hosting NiFi.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437976693/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437993945","html_url":"https://github.com/apache/nifi/pull/3129#issuecomment-437993945","issue_url":"https://api.github.com/repos/apache/nifi/issues/3129","id":437993945,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzk5Mzk0NQ==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T19:04:53Z","updated_at":"2018-11-12T19:04:53Z","author_association":"CONTRIBUTOR","body":"Thanks, @jtstorck! Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437993945/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437996846","html_url":"https://github.com/apache/nifi/pull/1953#issuecomment-437996846","issue_url":"https://api.github.com/repos/apache/nifi/issues/1953","id":437996846,"node_id":"MDEyOklzc3VlQ29tbWVudDQzNzk5Njg0Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-12T19:15:10Z","updated_at":"2018-11-12T19:15:10Z","author_association":"CONTRIBUTOR","body":"Hey @bdesert - I just rebased the PR. I'll probably add a warning about adding large XSLTs in a StringLookupService as it'll be in memory.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/437996846/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438269040","html_url":"https://github.com/apache/nifi/pull/3130#issuecomment-438269040","issue_url":"https://api.github.com/repos/apache/nifi/issues/3130","id":438269040,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODI2OTA0MA==","user":{"login":"stevedlawrence","id":3180601,"node_id":"MDQ6VXNlcjMxODA2MDE=","avatar_url":"https://avatars.githubusercontent.com/u/3180601?v=4","gravatar_id":"","url":"https://api.github.com/users/stevedlawrence","html_url":"https://github.com/stevedlawrence","followers_url":"https://api.github.com/users/stevedlawrence/followers","following_url":"https://api.github.com/users/stevedlawrence/following{/other_user}","gists_url":"https://api.github.com/users/stevedlawrence/gists{/gist_id}","starred_url":"https://api.github.com/users/stevedlawrence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevedlawrence/subscriptions","organizations_url":"https://api.github.com/users/stevedlawrence/orgs","repos_url":"https://api.github.com/users/stevedlawrence/repos","events_url":"https://api.github.com/users/stevedlawrence/events{/privacy}","received_events_url":"https://api.github.com/users/stevedlawrence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-13T13:40:12Z","updated_at":"2018-11-13T13:40:12Z","author_association":"MEMBER","body":"After some research and reading the [Avro specification](https://avro.apache.org/docs/1.8.1/spec.html) , I'd agree that the DFDL infoset does seem somewhat similar to a Record.\r\n\r\nDFDL does support all the primitive types (null, boolean, int, long, float, double, bytes, string) and logical types (date, time, decimal), plus a few others (integer, byte, short, signed/unsigned) . But as far as complex types, it only really supports \"records\" and arrays. Below is the list of things in Avro that the DFDL infoset does not support:\r\n\r\n* It sort of supports enums, but only in the sense that it can validate that a primitive type is one of the valid enum values via the xsd:restriction.\r\n* Maps. In DFDL, a map would be implemented as a sequence of key/value pairs, so there wouldn't be any enforcement of unique keys.\r\n* Unions. Each element in the infoset must have an explicit primitive type. Each element can be optional or nulled, but cannot be a union of multiple primitive types. In DFDL, that is handled by an xs:choice of two different elements with different types and some method (often a discriminator) to determine which branch of the choice.\r\n* Namespaces are slightly different, but probably similar enough. DFDL uses XML namespacing.\r\n* Aliases are not supported.\r\n* Sort order. DFDL outputs infoset elements in the order in which they appear in schema.\r\n* The DFDL infoset does not contain the schema. One must keep track of the associated schema outside of the data.\r\n* The isn't really a concept of different serializations like Avro looks to have. Instead, the DFDL schema defines the physical data format via DFDL annotations, which are used to determine how to serialize/deserialize data. Theoretically, one could have different schemas with the same logical format but with with different DFDL annotations to describe physical formats, but that isn't a comment use case we've come across.\r\n\r\nThe Daffodil devs would be happen to discuss the possibility of integrating Daffodil/DFDL as an alternative to Avro. Not sure if any of the above limitations are blockers. The core of Avro and DFDL definitely do seem to have some overlap.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438269040/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438295675","html_url":"https://github.com/apache/nifi/pull/3011#issuecomment-438295675","issue_url":"https://api.github.com/repos/apache/nifi/issues/3011","id":438295675,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODI5NTY3NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-13T14:58:16Z","updated_at":"2018-11-13T14:58:37Z","author_association":"CONTRIBUTOR","body":"Thanks @zenfenan. Could you and/or @mattyb149 take a look at 4975 as well sometime? That's the GridFS support. Would really like to give NiFi the ability to work natively with that.\r\n\r\nIf either of you are being held up by reviews, please ping me.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438295675/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438345641","html_url":"https://github.com/apache/nifi/pull/3075#issuecomment-438345641","issue_url":"https://api.github.com/repos/apache/nifi/issues/3075","id":438345641,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODM0NTY0MQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-13T16:50:51Z","updated_at":"2018-11-13T16:50:51Z","author_association":"CONTRIBUTOR","body":"Reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438345641/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438536493","html_url":"https://github.com/apache/nifi/pull/3169#issuecomment-438536493","issue_url":"https://api.github.com/repos/apache/nifi/issues/3169","id":438536493,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODUzNjQ5Mw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-14T04:49:46Z","updated_at":"2018-11-14T04:49:46Z","author_association":"MEMBER","body":"LGTM +1, merging. Thanks @pvillard31!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438536493/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438585278","html_url":"https://github.com/apache/nifi/pull/1953#issuecomment-438585278","issue_url":"https://api.github.com/repos/apache/nifi/issues/1953","id":438585278,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODU4NTI3OA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-14T08:53:10Z","updated_at":"2018-11-14T08:53:10Z","author_association":"CONTRIBUTOR","body":"Hey @bdesert - thanks a lot for the review, I just pushed a commit that should address your comments.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438585278/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438676111","html_url":"https://github.com/apache/nifi/pull/1953#issuecomment-438676111","issue_url":"https://api.github.com/repos/apache/nifi/issues/1953","id":438676111,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODY3NjExMQ==","user":{"login":"bdesert","id":19496093,"node_id":"MDQ6VXNlcjE5NDk2MDkz","avatar_url":"https://avatars.githubusercontent.com/u/19496093?v=4","gravatar_id":"","url":"https://api.github.com/users/bdesert","html_url":"https://github.com/bdesert","followers_url":"https://api.github.com/users/bdesert/followers","following_url":"https://api.github.com/users/bdesert/following{/other_user}","gists_url":"https://api.github.com/users/bdesert/gists{/gist_id}","starred_url":"https://api.github.com/users/bdesert/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bdesert/subscriptions","organizations_url":"https://api.github.com/users/bdesert/orgs","repos_url":"https://api.github.com/users/bdesert/repos","events_url":"https://api.github.com/users/bdesert/events{/privacy}","received_events_url":"https://api.github.com/users/bdesert/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-14T14:15:47Z","updated_at":"2018-11-14T14:15:47Z","author_association":"CONTRIBUTOR","body":"+1 LGTM. Tested on local env, with XSLT as a file (regression), with lookup service, cache size 0 and >0, all works as expected. Ready for merge. @mattyb149 , please could you please give a final look?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438676111/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438686741","html_url":"https://github.com/apache/nifi/pull/1953#issuecomment-438686741","issue_url":"https://api.github.com/repos/apache/nifi/issues/1953","id":438686741,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODY4Njc0MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-14T14:47:13Z","updated_at":"2018-11-14T14:47:13Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the review @bdesert and the improvement @pvillard31 ! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438686741/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438816302","html_url":"https://github.com/apache/nifi/pull/3131#issuecomment-438816302","issue_url":"https://api.github.com/repos/apache/nifi/issues/3131","id":438816302,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODgxNjMwMg==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-14T20:59:21Z","updated_at":"2018-11-14T20:59:21Z","author_association":"CONTRIBUTOR","body":"@markap14 I built unit tests, but I'm having trouble running them at scale. I temporarily checked back in the original method so I could run side-by-side speed comparisons on the same `Connectable`. But if I exceed about 100k tests my unit tests seem to go out to lunch, even if I increase heap so they don't run out.\r\n\r\nThese are checked in right now to run 1 million iterations, but that has not succeeded for me... This is true of the unmodified method if run by itself also (at least on my poor little computer).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438816302/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438930147","html_url":"https://github.com/apache/nifi/pull/3170#issuecomment-438930147","issue_url":"https://api.github.com/repos/apache/nifi/issues/3170","id":438930147,"node_id":"MDEyOklzc3VlQ29tbWVudDQzODkzMDE0Nw==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T06:15:10Z","updated_at":"2018-11-15T06:15:10Z","author_association":"MEMBER","body":"LGTM +1, merging. Thanks @mattyb149!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/438930147/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439086726","html_url":"https://github.com/apache/nifi/pull/3128#issuecomment-439086726","issue_url":"https://api.github.com/repos/apache/nifi/issues/3128","id":439086726,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTA4NjcyNg==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T15:47:36Z","updated_at":"2018-11-15T15:47:36Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, tested with various batch sizes and ran unit tests. Thanks for this improvment! Merged to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439086726/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439129503","html_url":"https://github.com/apache/nifi/pull/3171#issuecomment-439129503","issue_url":"https://api.github.com/repos/apache/nifi/issues/3171","id":439129503,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTEyOTUwMw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T17:47:00Z","updated_at":"2018-11-15T17:47:00Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439129503/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439141847","html_url":"https://github.com/apache/nifi/pull/3171#issuecomment-439141847","issue_url":"https://api.github.com/repos/apache/nifi/issues/3171","id":439141847,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE0MTg0Nw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T18:26:19Z","updated_at":"2018-11-15T18:26:19Z","author_association":"CONTRIBUTOR","body":"+1 code looks good, verified functionality, will merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439141847/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439146724","html_url":"https://github.com/apache/nifi/pull/3156#issuecomment-439146724","issue_url":"https://api.github.com/repos/apache/nifi/issues/3156","id":439146724,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE0NjcyNA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T18:42:12Z","updated_at":"2018-11-15T18:42:12Z","author_association":"CONTRIBUTOR","body":"Sorry for the delay, been having issues with a bug that just got fixed in NIFI-5822. Will wrap up testing.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439146724/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439171382","html_url":"https://github.com/apache/nifi/pull/3173#issuecomment-439171382","issue_url":"https://api.github.com/repos/apache/nifi/issues/3173","id":439171382,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE3MTM4Mg==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T20:01:28Z","updated_at":"2018-11-15T20:01:28Z","author_association":"CONTRIBUTOR","body":"Code looks good and tests pass, will merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439171382/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439177228","html_url":"https://github.com/apache/nifi/pull/3156#issuecomment-439177228","issue_url":"https://api.github.com/repos/apache/nifi/issues/3156","id":439177228,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE3NzIyOA==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T20:21:55Z","updated_at":"2018-11-15T20:21:55Z","author_association":"CONTRIBUTOR","body":"+1 Looks good. Built and tested. I ran into one issue that I might submit a seperate enhancement for (allowing `;` in the SQL string if they are surrounded by `'` or `\"`).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439177228/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439182095","html_url":"https://github.com/apache/nifi/pull/3075#issuecomment-439182095","issue_url":"https://api.github.com/repos/apache/nifi/issues/3075","id":439182095,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE4MjA5NQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T20:39:10Z","updated_at":"2018-11-15T20:39:10Z","author_association":"CONTRIBUTOR","body":"+1 LGTM. I tested this out with several different scenarios. After our chat on Slack, I squashed this down to a single commit under your name to make things cleaner.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439182095/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439182927","html_url":"https://github.com/apache/nifi/pull/3107#issuecomment-439182927","issue_url":"https://api.github.com/repos/apache/nifi/issues/3107","id":439182927,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTE4MjkyNw==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-15T20:42:09Z","updated_at":"2018-11-15T20:42:09Z","author_association":"CONTRIBUTOR","body":"Hey, @yjhyjhyjh0, can you rebase against master and push a new squashed commit? I think this is ready to merge if we resolve this new code conflict.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439182927/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439259024","html_url":"https://github.com/apache/nifi/pull/3172#issuecomment-439259024","issue_url":"https://api.github.com/repos/apache/nifi/issues/3172","id":439259024,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTI1OTAyNA==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T02:18:09Z","updated_at":"2018-11-16T02:18:09Z","author_association":"MEMBER","body":"LGTM +1, merged to master. Good catch before releasing :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439259024/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439389815","html_url":"https://github.com/apache/nifi/pull/3174#issuecomment-439389815","issue_url":"https://api.github.com/repos/apache/nifi/issues/3174","id":439389815,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTM4OTgxNQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T13:16:52Z","updated_at":"2018-11-16T13:16:52Z","author_association":"CONTRIBUTOR","body":"it built with java 8.  switched to 11.  nifi starts up and appears to be working great.\r\n\r\nI did notice this on startup\r\n\r\nnifi.sh: JAVA_HOME not set; results may vary\r\n\r\nJava home: \r\nNiFi home: /Users/joe/development/nifi.git/nifi-assembly/target/nifi-1.9.0-SNAPSHOT-bin/nifi-1.9.0-SNAPSHOT\r\n\r\nBootstrap Config File: /../development/nifi.git/nifi-assembly/target/nifi-1.9.0-SNAPSHOT-bin/nifi-1.9.0-SNAPSHOT/conf/bootstrap.conf\r\n\r\nWARNING: An illegal reflective access operation has occurred\r\nWARNING: Illegal reflective access by org.apache.nifi.bootstrap.util.OSUtils (file:/../development/nifi.git/nifi-assembly/target/nifi-1.9.0-SNAPSHOT-bin/nifi-1.9.0-SNAPSHOT/lib/bootstrap/nifi-bootstrap-1.9.0-SNAPSHOT.jar) to method java.lang.ProcessImpl.pid()\r\nWARNING: Please consider reporting this to the maintainers of org.apache.nifi.bootstrap.util.OSUtils\r\nWARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations\r\nWARNING: All illegal access operations will be denied in a future release\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439389815/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439443999","html_url":"https://github.com/apache/nifi/pull/3174#issuecomment-439443999","issue_url":"https://api.github.com/repos/apache/nifi/issues/3174","id":439443999,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTQ0Mzk5OQ==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T16:15:14Z","updated_at":"2018-11-16T16:15:14Z","author_association":"CONTRIBUTOR","body":"Thanks for taking a look at the PR, @joewitt.  That warning is due to accessing, via reflection, the `pid` method on the Process API, which was added in Java 9.  The code that does this was added by NIFI-5175, to allow NiFI built on Java 1.8 to run on Java 9.  There's a comment in the code detailing why the use of reflection is necessary.  Please see https://github.com/apache/nifi/blob/master/nifi-bootstrap/src/main/java/org/apache/nifi/bootstrap/util/OSUtils.java#L111.\r\n\r\nThe warning is expected, and when we have a minimum requirement of Java 11, we can refactor OSUtils, or probably remove the class entirely, since the Process API (as of Java 9) provides a platform independent way to get a PID.  I don't think we'll need to have the methods in OSUtils for getting the PID based on which platform on which NiFi is running.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439443999/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439472785","html_url":"https://github.com/apache/nifi/pull/3107#issuecomment-439472785","issue_url":"https://api.github.com/repos/apache/nifi/issues/3107","id":439472785,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTQ3Mjc4NQ==","user":{"login":"yjhyjhyjh0","id":4414486,"node_id":"MDQ6VXNlcjQ0MTQ0ODY=","avatar_url":"https://avatars.githubusercontent.com/u/4414486?v=4","gravatar_id":"","url":"https://api.github.com/users/yjhyjhyjh0","html_url":"https://github.com/yjhyjhyjh0","followers_url":"https://api.github.com/users/yjhyjhyjh0/followers","following_url":"https://api.github.com/users/yjhyjhyjh0/following{/other_user}","gists_url":"https://api.github.com/users/yjhyjhyjh0/gists{/gist_id}","starred_url":"https://api.github.com/users/yjhyjhyjh0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yjhyjhyjh0/subscriptions","organizations_url":"https://api.github.com/users/yjhyjhyjh0/orgs","repos_url":"https://api.github.com/users/yjhyjhyjh0/repos","events_url":"https://api.github.com/users/yjhyjhyjh0/events{/privacy}","received_events_url":"https://api.github.com/users/yjhyjhyjh0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T17:49:33Z","updated_at":"2018-11-16T17:49:33Z","author_association":"CONTRIBUTOR","body":"Thanks for the suggestion.\r\nRebase against master, solve conflicts and squash into single commit.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439472785/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439504660","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439504660","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439504660,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUwNDY2MA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T19:41:06Z","updated_at":"2018-11-16T19:41:06Z","author_association":"CONTRIBUTOR","body":"travis and local builds dont work due to some parent relative path issues.  can you please confirm you're following the pattern that other components follow with regards to pom contents","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439504660/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439506272","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439506272","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439506272,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUwNjI3Mg==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T19:46:39Z","updated_at":"2018-11-16T19:47:10Z","author_association":"NONE","body":"Thanks @joewitt I was comparing the nifi-pulsar-bundle/pom.xml to other bundles in the nifi-nar-bundles, e.g. nifi-redis-bundle/pom.xml, nifi-rethinkdb-bundle/pom.xml, and nifi-parquet-bundle/pom.xml and they all define their parent module as follows:\r\n\r\n    <parent>\r\n        <groupId>org.apache.nifi</groupId>\r\n        <artifactId>nifi-parquet-bundle</artifactId>\r\n        <version>1.8.0-SNAPSHOT</version>\r\n    </parent>\r\n\r\nWhich is what I have as the definition in the nifi-pulsar-bundle/pom.xml file","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439506272/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439514744","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439514744","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439514744,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUxNDc0NA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T20:17:56Z","updated_at":"2018-11-16T20:17:56Z","author_association":"CONTRIBUTOR","body":"the build doesn't work...at least for me or travis.  also not with the new patch.  i've not looked into why yet but we dont use relative paths anywhere that i know of so not sure what the latest change was for/doing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439514744/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439518551","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439518551","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439518551,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUxODU1MQ==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T20:32:38Z","updated_at":"2018-11-16T20:32:38Z","author_association":"NONE","body":"@joewitt So the build doesn't work for you locally?  I am able to build it locally. \r\n\r\n The latest commit was  trying suggestion number 2 from the following wiki page that is given in the build output: \r\nhttps://cwiki.apache.org//confluence/display/MAVEN/ProjectBuildingException\r\n https://cwiki.apache.org/confluence/display/MAVEN/UnresolvableModelException\r\n\r\n\"You intent to use a parent POM from the local filesystem but Maven didn't use that. Please verify that the <relativePath> element in the child is properly set and that the POM at that location has actually the version you want to use.\"  \r\n\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439518551/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439523331","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439523331","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439523331,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUyMzMzMQ==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T20:50:59Z","updated_at":"2018-11-16T20:50:59Z","author_association":"NONE","body":"As a sanity check I did the following on my local MacBook, and was able to build NiFi successfully from my branch:\r\n\r\ncd /tmp\r\ngit clone git@github.com:david-streamlio/nifi.git\r\ncd nifi/\r\ngit checkout NIFI-4914\r\nmvn clean install -DskipTests\r\n\r\n...\r\n[INFO] ------------------------------------------------------------------------\r\n[INFO] BUILD SUCCESS\r\n[INFO] ------------------------------------------------------------------------\r\n[INFO] Total time: 09:48 min\r\n[INFO] Finished at: 2018-11-16T12:45:01-08:00\r\n[INFO] Final Memory: 318M/1815M\r\n[INFO] ------------------------------------------------------------------------\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439523331/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439527028","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439527028","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439527028,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTUyNzAyOA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-16T21:05:27Z","updated_at":"2018-11-16T21:05:27Z","author_association":"CONTRIBUTOR","body":"am building against master - is 1.9.0.  changing it to 1.9.0-SNAPSHOT and ignoring last commit addresses it.  travis fails for a similar reason i'd guess.  Probably makes sense to ditch the merge commits, squash, rebase to latest.  But in any case is building now i think","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439527028/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439625846","html_url":"https://github.com/apache/nifi/pull/3175#issuecomment-439625846","issue_url":"https://api.github.com/repos/apache/nifi/issues/3175","id":439625846,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTYyNTg0Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-17T15:36:40Z","updated_at":"2018-11-17T15:36:40Z","author_association":"CONTRIBUTOR","body":"+1, confirmed the issue and the unit tests, merging to master, thanks @gideonkorir ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439625846/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439638093","html_url":"https://github.com/apache/nifi/pull/2882#issuecomment-439638093","issue_url":"https://api.github.com/repos/apache/nifi/issues/2882","id":439638093,"node_id":"MDEyOklzc3VlQ29tbWVudDQzOTYzODA5Mw==","user":{"login":"david-streamlio","id":35466513,"node_id":"MDQ6VXNlcjM1NDY2NTEz","avatar_url":"https://avatars.githubusercontent.com/u/35466513?v=4","gravatar_id":"","url":"https://api.github.com/users/david-streamlio","html_url":"https://github.com/david-streamlio","followers_url":"https://api.github.com/users/david-streamlio/followers","following_url":"https://api.github.com/users/david-streamlio/following{/other_user}","gists_url":"https://api.github.com/users/david-streamlio/gists{/gist_id}","starred_url":"https://api.github.com/users/david-streamlio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/david-streamlio/subscriptions","organizations_url":"https://api.github.com/users/david-streamlio/orgs","repos_url":"https://api.github.com/users/david-streamlio/repos","events_url":"https://api.github.com/users/david-streamlio/events{/privacy}","received_events_url":"https://api.github.com/users/david-streamlio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-11-17T18:35:20Z","updated_at":"2018-11-17T18:35:20Z","author_association":"NONE","body":"Is there a way to get this into a 1.8.x release rather than the 1.9.x? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/439638093/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]