data/github-comments/apache-NiFi-99-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425938950","html_url":"https://github.com/apache/nifi/pull/3015#issuecomment-425938950","issue_url":"https://api.github.com/repos/apache/nifi/issues/3015","id":425938950,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTkzODk1MA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T14:57:25Z","updated_at":"2018-10-01T14:57:25Z","author_association":"CONTRIBUTOR","body":"Unfortunately I believe you need to enumerate all the transitive dependencies in the L&N. You should have been able to copy that from the Groovy NOTICE, but it does not have its own dependencies listed in there (assuming some of the dependencies have NOTICEs), so we have to do it here. Their LICENSE mentions a couple of dependencies, but I'm not sure it's complete, so you'll have to verify both our L&N include the appropriate entries.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425938950/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425939299","html_url":"https://github.com/apache/nifi/pull/2947#issuecomment-425939299","issue_url":"https://api.github.com/repos/apache/nifi/issues/2947","id":425939299,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTkzOTI5OQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T14:58:26Z","updated_at":"2018-10-01T14:58:26Z","author_association":"CONTRIBUTOR","body":"@jtstorck @ijokarumawak thanks for the time that you guys have put into reviewing this! I just pushed a new commit, which I believe addresses the feedback above. It also updates the dependency on nifi-registry from 0.3.0-SNAPSHOT to 0.3.0.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425939299/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425940393","html_url":"https://github.com/apache/nifi/pull/3042#issuecomment-425940393","issue_url":"https://api.github.com/repos/apache/nifi/issues/3042","id":425940393,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk0MDM5Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T15:01:17Z","updated_at":"2018-10-01T15:01:17Z","author_association":"CONTRIBUTOR","body":"Merged.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425940393/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425941039","html_url":"https://github.com/apache/nifi/pull/3025#issuecomment-425941039","issue_url":"https://api.github.com/repos/apache/nifi/issues/3025","id":425941039,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk0MTAzOQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T15:03:01Z","updated_at":"2018-10-01T15:03:01Z","author_association":"CONTRIBUTOR","body":"Is there a reason we can't have delete/update capabilities in PutCassandraQL and/or PutCassandraRecord? Wondering why the need for a separate processor. If it does need to be separate, maybe UpdateCassandraRecord instead or in addition to?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425941039/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425972380","html_url":"https://github.com/apache/nifi/pull/2936#issuecomment-425972380","issue_url":"https://api.github.com/repos/apache/nifi/issues/2936","id":425972380,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk3MjM4MA==","user":{"login":"lukepfarrar","id":1074319,"node_id":"MDQ6VXNlcjEwNzQzMTk=","avatar_url":"https://avatars.githubusercontent.com/u/1074319?v=4","gravatar_id":"","url":"https://api.github.com/users/lukepfarrar","html_url":"https://github.com/lukepfarrar","followers_url":"https://api.github.com/users/lukepfarrar/followers","following_url":"https://api.github.com/users/lukepfarrar/following{/other_user}","gists_url":"https://api.github.com/users/lukepfarrar/gists{/gist_id}","starred_url":"https://api.github.com/users/lukepfarrar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lukepfarrar/subscriptions","organizations_url":"https://api.github.com/users/lukepfarrar/orgs","repos_url":"https://api.github.com/users/lukepfarrar/repos","events_url":"https://api.github.com/users/lukepfarrar/events{/privacy}","received_events_url":"https://api.github.com/users/lukepfarrar/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T16:27:49Z","updated_at":"2018-10-01T16:27:49Z","author_association":"NONE","body":"Is there a reason why USER supports el but PASSWORD does not?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425972380/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425975803","html_url":"https://github.com/apache/nifi/pull/2936#issuecomment-425975803","issue_url":"https://api.github.com/repos/apache/nifi/issues/2936","id":425975803,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk3NTgwMw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T16:37:47Z","updated_at":"2018-10-01T16:37:47Z","author_association":"CONTRIBUTOR","body":"Hi @lukepfarrar , we have a policy of not evaluating EL in password fields. Here is [an example of that review process](https://github.com/apache/nifi/pull/3020#discussion_r219712821) and the reasoning behind it on another PR. \r\n\r\n> Our policy so far has been that passwords do not support expression language, for a couple reasons:\r\n> 1. How to evaluate if a password `abc${def}` should be interpreted as `abc` + *the value of(`def`)* or the literal string `abc${def}`\r\n> 1. The variable registry is not designed to store sensitive values securely, so if a password is stored here, it can be accessed by an unauthorized user","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425975803/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425981653","html_url":"https://github.com/apache/nifi/pull/2936#issuecomment-425981653","issue_url":"https://api.github.com/repos/apache/nifi/issues/2936","id":425981653,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk4MTY1Mw==","user":{"login":"lukepfarrar","id":1074319,"node_id":"MDQ6VXNlcjEwNzQzMTk=","avatar_url":"https://avatars.githubusercontent.com/u/1074319?v=4","gravatar_id":"","url":"https://api.github.com/users/lukepfarrar","html_url":"https://github.com/lukepfarrar","followers_url":"https://api.github.com/users/lukepfarrar/followers","following_url":"https://api.github.com/users/lukepfarrar/following{/other_user}","gists_url":"https://api.github.com/users/lukepfarrar/gists{/gist_id}","starred_url":"https://api.github.com/users/lukepfarrar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lukepfarrar/subscriptions","organizations_url":"https://api.github.com/users/lukepfarrar/orgs","repos_url":"https://api.github.com/users/lukepfarrar/repos","events_url":"https://api.github.com/users/lukepfarrar/events{/privacy}","received_events_url":"https://api.github.com/users/lukepfarrar/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T16:55:08Z","updated_at":"2018-10-01T16:55:21Z","author_association":"NONE","body":"I wondered if that was the case but it did not seem consistent with the DB pooling, which does/did allow EL in the password, although I notice that the scope has been tightened in recent versions.\r\nThanks :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425981653/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425982767","html_url":"https://github.com/apache/nifi/pull/2936#issuecomment-425982767","issue_url":"https://api.github.com/repos/apache/nifi/issues/2936","id":425982767,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNTk4Mjc2Nw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T16:58:20Z","updated_at":"2018-10-01T16:58:20Z","author_association":"CONTRIBUTOR","body":"There are definitely inconsistencies throughout the project as this wasn't always a firm policy and there are many different contributors to the project. As you noted, we have tried to tighten the reviews and catch this where we can, and hopefully with the completion of [NIFI-5627](https://issues.apache.org/jira/browse/NIFI-5627), we will have a foundation to move forward on enabling EL in passwords for users. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/425982767/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426010243","html_url":"https://github.com/apache/nifi/pull/2861#issuecomment-426010243","issue_url":"https://api.github.com/repos/apache/nifi/issues/2861","id":426010243,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjAxMDI0Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T18:19:39Z","updated_at":"2018-10-01T18:19:39Z","author_association":"CONTRIBUTOR","body":"One of the lookup integration tests is failing. I need to figure out why.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426010243/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426028442","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-426028442","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":426028442,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjAyODQ0Mg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-01T19:14:29Z","updated_at":"2018-10-01T19:14:29Z","author_association":"CONTRIBUTOR","body":"> @MikeThomsen - Regarding your graph output questions - It looks correct but can you please let me know what are the commands/files that were ingested for above output ?\r\n\r\nI'll try to find some time to replay and get back to you on that.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426028442/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426165984","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-426165984","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":426165984,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjE2NTk4NA==","user":{"login":"yoshiata","id":39290058,"node_id":"MDQ6VXNlcjM5MjkwMDU4","avatar_url":"https://avatars.githubusercontent.com/u/39290058?v=4","gravatar_id":"","url":"https://api.github.com/users/yoshiata","html_url":"https://github.com/yoshiata","followers_url":"https://api.github.com/users/yoshiata/followers","following_url":"https://api.github.com/users/yoshiata/following{/other_user}","gists_url":"https://api.github.com/users/yoshiata/gists{/gist_id}","starred_url":"https://api.github.com/users/yoshiata/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yoshiata/subscriptions","organizations_url":"https://api.github.com/users/yoshiata/orgs","repos_url":"https://api.github.com/users/yoshiata/repos","events_url":"https://api.github.com/users/yoshiata/events{/privacy}","received_events_url":"https://api.github.com/users/yoshiata/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T06:43:11Z","updated_at":"2018-10-02T06:43:11Z","author_association":"CONTRIBUTOR","body":"Unit tests added. Please review.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426165984/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426238008","html_url":"https://github.com/apache/nifi/pull/2994#issuecomment-426238008","issue_url":"https://api.github.com/repos/apache/nifi/issues/2994","id":426238008,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjIzODAwOA==","user":{"login":"ekovacs","id":1477846,"node_id":"MDQ6VXNlcjE0Nzc4NDY=","avatar_url":"https://avatars.githubusercontent.com/u/1477846?v=4","gravatar_id":"","url":"https://api.github.com/users/ekovacs","html_url":"https://github.com/ekovacs","followers_url":"https://api.github.com/users/ekovacs/followers","following_url":"https://api.github.com/users/ekovacs/following{/other_user}","gists_url":"https://api.github.com/users/ekovacs/gists{/gist_id}","starred_url":"https://api.github.com/users/ekovacs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ekovacs/subscriptions","organizations_url":"https://api.github.com/users/ekovacs/orgs","repos_url":"https://api.github.com/users/ekovacs/repos","events_url":"https://api.github.com/users/ekovacs/events{/privacy}","received_events_url":"https://api.github.com/users/ekovacs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T11:22:47Z","updated_at":"2018-10-02T11:22:47Z","author_association":"CONTRIBUTOR","body":"@jtstorck @joewitt @mcgilman @YolandaMDavis could you please take a look?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426238008/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426238409","html_url":"https://github.com/apache/nifi/pull/2991#issuecomment-426238409","issue_url":"https://api.github.com/repos/apache/nifi/issues/2991","id":426238409,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjIzODQwOQ==","user":{"login":"ekovacs","id":1477846,"node_id":"MDQ6VXNlcjE0Nzc4NDY=","avatar_url":"https://avatars.githubusercontent.com/u/1477846?v=4","gravatar_id":"","url":"https://api.github.com/users/ekovacs","html_url":"https://github.com/ekovacs","followers_url":"https://api.github.com/users/ekovacs/followers","following_url":"https://api.github.com/users/ekovacs/following{/other_user}","gists_url":"https://api.github.com/users/ekovacs/gists{/gist_id}","starred_url":"https://api.github.com/users/ekovacs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ekovacs/subscriptions","organizations_url":"https://api.github.com/users/ekovacs/orgs","repos_url":"https://api.github.com/users/ekovacs/repos","events_url":"https://api.github.com/users/ekovacs/events{/privacy}","received_events_url":"https://api.github.com/users/ekovacs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T11:24:44Z","updated_at":"2018-10-02T11:24:44Z","author_association":"CONTRIBUTOR","body":"Hi @markap14\r\nI've pushed some changes.\r\nCould you please take a look them?\r\nThanks & Best regards,\r\nEndre","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426238409/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426285885","html_url":"https://github.com/apache/nifi/pull/2970#issuecomment-426285885","issue_url":"https://api.github.com/repos/apache/nifi/issues/2970","id":426285885,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjI4NTg4NQ==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T14:03:32Z","updated_at":"2018-10-02T14:03:32Z","author_association":"CONTRIBUTOR","body":"@kevdoran @achristianson created a follow up PR to avoid an issue with the default empty \"Node Group\" in authorizers.xml: https://github.com/apache/nifi/pull/3043 \r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426285885/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426336159","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426336159","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426336159,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjMzNjE1OQ==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T16:17:06Z","updated_at":"2018-10-02T16:17:06Z","author_association":"CONTRIBUTOR","body":"I didn't think about considering an empty group as not set, but now I can see that initial admin is treated the same, so will update the PR to work like that.\r\n\r\nI used custom because I was thinking non of the available UGPs match that criteria. FileUserGroupProvider needs to be extended and wouldn't add that much benefit (nodes would still need to be added manually), however we may consider it if there are valid use cases.\r\n\r\nHowever you are right with LdapUserGroupProvider and I missed that it loads first time synchronously and starts the background thread right after, my bad and thanks for pointing it out. I referred to configuration time because I wanted to emphasize that the initial user/group loading should be done in the `onConfigured` method, not later.  Of course that is how it's done by the LdapUserGroupProvider already, without that, the initial admin setup wouldn't work reliable.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426336159/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426343374","html_url":"https://github.com/apache/nifi/pull/3028#issuecomment-426343374","issue_url":"https://api.github.com/repos/apache/nifi/issues/3028","id":426343374,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjM0MzM3NA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T16:37:14Z","updated_at":"2018-10-02T16:37:14Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426343374/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426343612","html_url":"https://github.com/apache/nifi/pull/3034#issuecomment-426343612","issue_url":"https://api.github.com/repos/apache/nifi/issues/3034","id":426343612,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjM0MzYxMg==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T16:37:58Z","updated_at":"2018-10-02T16:37:58Z","author_association":"CONTRIBUTOR","body":"reviewing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426343612/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426346110","html_url":"https://github.com/apache/nifi/pull/3040#issuecomment-426346110","issue_url":"https://api.github.com/repos/apache/nifi/issues/3040","id":426346110,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjM0NjExMA==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T16:45:11Z","updated_at":"2018-10-02T16:45:11Z","author_association":"CONTRIBUTOR","body":"@kemixkoo I can understand where the desire for this comes from but I think this is a dangerous approach.  Fundamentally we're saying that we know at startup time there is a classpath issue.  Continuing to startup as if it appears ok despite knowing that and without a more holistic approach leads to a poor user experience.  Instead of this change I think we should focus on adding an extension registry api to the Flow Registry project.  There we can have nars live and NiFi instances can source them at runtime.  Issues with those nars are then well managed/clear and don't affect a live instance.  It also means instances dont require restart to source new versions/etc..","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426346110/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426358416","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426358416","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426358416,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjM1ODQxNg==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T17:20:57Z","updated_at":"2018-10-02T17:20:57Z","author_association":"CONTRIBUTOR","body":"Thanks @pepov! I'll re-review the PR when your changes are in. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426358416/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426419080","html_url":"https://github.com/apache/nifi/pull/2861#issuecomment-426419080","issue_url":"https://api.github.com/repos/apache/nifi/issues/2861","id":426419080,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjQxOTA4MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T20:30:47Z","updated_at":"2018-10-02T20:30:47Z","author_association":"CONTRIBUTOR","body":"@mattyb149 should be good to go now. Found the bug and pushed a fix that worked locally.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426419080/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426419418","html_url":"https://github.com/apache/nifi/pull/3015#issuecomment-426419418","issue_url":"https://api.github.com/repos/apache/nifi/issues/3015","id":426419418,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjQxOTQxOA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T20:31:52Z","updated_at":"2018-10-02T20:31:52Z","author_association":"CONTRIBUTOR","body":"Thanks, that's what I thought, but need a second opinion because we gotta cross our `T`s and dot our `I`s on this stuff. Will fix.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426419418/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426425244","html_url":"https://github.com/apache/nifi/pull/3015#issuecomment-426425244","issue_url":"https://api.github.com/repos/apache/nifi/issues/3015","id":426425244,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjQyNTI0NA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-02T20:50:14Z","updated_at":"2018-10-02T20:50:14Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @joewitt while I'm doing L&N validation on their dependencies, I can also cut out some of the fat by dropping Groovy modules like the CLI one that have no bearing on NiFi scripting. Thoughts?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426425244/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426529792","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426529792","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426529792,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjUyOTc5Mg==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T06:49:34Z","updated_at":"2018-10-03T06:49:34Z","author_association":"CONTRIBUTOR","body":"@kevdoran changes are in","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426529792/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426589910","html_url":"https://github.com/apache/nifi/pull/3011#issuecomment-426589910","issue_url":"https://api.github.com/repos/apache/nifi/issues/3011","id":426589910,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjU4OTkxMA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T10:41:33Z","updated_at":"2018-10-03T10:41:33Z","author_association":"CONTRIBUTOR","body":"@zenfenan any chance we can get a review underway?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426589910/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426605150","html_url":"https://github.com/apache/nifi/pull/3015#issuecomment-426605150","issue_url":"https://api.github.com/repos/apache/nifi/issues/3015","id":426605150,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjYwNTE1MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T11:39:16Z","updated_at":"2018-10-03T11:39:36Z","author_association":"CONTRIBUTOR","body":"@mattyb149 @joewitt Removed the following as compile dependencies because I can't see any valid use for them in our scripting scenarios:\r\n\r\n* groovy-cli*\r\n* groovy-groovydoc\r\n* groovy-groovysh\r\n* groovy-docgenerator\r\n* groovy-swing\r\n* groovy-test\r\n* groovy-test-junit5\r\n* groovy-testng\r\n\r\nThink that's it. We might want to release an unofficial test build of NiFi w/ 2.5.X because I'm not 100% sure there's a full guarantee of compatibility between 2.4 and 2.5","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426605150/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426637929","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426637929","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426637929,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjYzNzkyOQ==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T13:30:45Z","updated_at":"2018-10-03T13:30:45Z","author_association":"CONTRIBUTOR","body":"Thansk @pepov. I had one minor comment regarding logging, but aside from that these changes look good to me","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426637929/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426650962","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426650962","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426650962,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjY1MDk2Mg==","user":{"login":"pepov","id":682440,"node_id":"MDQ6VXNlcjY4MjQ0MA==","avatar_url":"https://avatars.githubusercontent.com/u/682440?v=4","gravatar_id":"","url":"https://api.github.com/users/pepov","html_url":"https://github.com/pepov","followers_url":"https://api.github.com/users/pepov/followers","following_url":"https://api.github.com/users/pepov/following{/other_user}","gists_url":"https://api.github.com/users/pepov/gists{/gist_id}","starred_url":"https://api.github.com/users/pepov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pepov/subscriptions","organizations_url":"https://api.github.com/users/pepov/orgs","repos_url":"https://api.github.com/users/pepov/repos","events_url":"https://api.github.com/users/pepov/events{/privacy}","received_events_url":"https://api.github.com/users/pepov/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T14:07:34Z","updated_at":"2018-10-03T14:07:34Z","author_association":"CONTRIBUTOR","body":"Fixed that and also a checkstyle error that broke the build, hopefully will pass this time, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426650962/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426674867","html_url":"https://github.com/apache/nifi/pull/3043#issuecomment-426674867","issue_url":"https://api.github.com/repos/apache/nifi/issues/3043","id":426674867,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjY3NDg2Nw==","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T15:13:35Z","updated_at":"2018-10-03T15:13:35Z","author_association":"CONTRIBUTOR","body":"+1 thanks! Merged to master...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426674867/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426735581","html_url":"https://github.com/apache/nifi/pull/3028#issuecomment-426735581","issue_url":"https://api.github.com/repos/apache/nifi/issues/3028","id":426735581,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjczNTU4MQ==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-03T17:59:11Z","updated_at":"2018-10-03T17:59:11Z","author_association":"CONTRIBUTOR","body":"@mcgilman let me know off-list that the guava changes I made were too dangerous without more thorough evaluation.  I've removed all guava changes from this PR as those can be taken up separately.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426735581/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426852251","html_url":"https://github.com/apache/nifi/pull/2947#issuecomment-426852251","issue_url":"https://api.github.com/repos/apache/nifi/issues/2947","id":426852251,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjg1MjI1MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T01:06:20Z","updated_at":"2018-10-04T01:06:20Z","author_association":"MEMBER","body":"@markap14 I have done testing this improvements my side. I'm +1 once the StandardFlowSynchronizer mentioned above comment is fixed. Thanks again for this massive improvement, this is going to be really useful!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426852251/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426856648","html_url":"https://github.com/apache/nifi/pull/2546#issuecomment-426856648","issue_url":"https://api.github.com/repos/apache/nifi/issues/2546","id":426856648,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjg1NjY0OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T01:33:53Z","updated_at":"2018-10-04T01:33:53Z","author_association":"CONTRIBUTOR","body":"@zenfenan @mattyb149 any chance we could get a review going for this before 1.8?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426856648/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426856770","html_url":"https://github.com/apache/nifi/pull/3041#issuecomment-426856770","issue_url":"https://api.github.com/repos/apache/nifi/issues/3041","id":426856770,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjg1Njc3MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T01:34:46Z","updated_at":"2018-10-04T01:34:46Z","author_association":"CONTRIBUTOR","body":"Thanks, @bbende I'll look into those.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426856770/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426900539","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-426900539","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":426900539,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNjkwMDUzOQ==","user":{"login":"lsh-0","id":2142748,"node_id":"MDQ6VXNlcjIxNDI3NDg=","avatar_url":"https://avatars.githubusercontent.com/u/2142748?v=4","gravatar_id":"","url":"https://api.github.com/users/lsh-0","html_url":"https://github.com/lsh-0","followers_url":"https://api.github.com/users/lsh-0/followers","following_url":"https://api.github.com/users/lsh-0/following{/other_user}","gists_url":"https://api.github.com/users/lsh-0/gists{/gist_id}","starred_url":"https://api.github.com/users/lsh-0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lsh-0/subscriptions","organizations_url":"https://api.github.com/users/lsh-0/orgs","repos_url":"https://api.github.com/users/lsh-0/repos","events_url":"https://api.github.com/users/lsh-0/events{/privacy}","received_events_url":"https://api.github.com/users/lsh-0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T06:30:26Z","updated_at":"2018-10-04T06:30:26Z","author_association":"NONE","body":"hi guys - I've just introduced NiFi at work, [found and built this](https://github.com/sand0id/nifi-bigquery-bundle), discovered it's many limitations and was about to rewrite it when I found this ticket!\r\n\r\nMay I ask what is currently blocking it? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/426900539/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427013323","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-427013323","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":427013323,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAxMzMyMw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:13:12Z","updated_at":"2018-10-04T13:13:12Z","author_association":"CONTRIBUTOR","body":"> May I ask what is currently blocking it?\r\n\r\n@nologic appears to have not addressed all of the review feedback.\r\n\r\n@joewitt I can rebase and address the author tags. If the tests run, I can merge myself. You want to do that?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427013323/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427020509","html_url":"https://github.com/apache/nifi/pull/3028#issuecomment-427020509","issue_url":"https://api.github.com/repos/apache/nifi/issues/3028","id":427020509,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyMDUwOQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:34:23Z","updated_at":"2018-10-04T13:34:23Z","author_association":"CONTRIBUTOR","body":"Thanks @joewitt! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427020509/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427025395","html_url":"https://github.com/apache/nifi/pull/3045#issuecomment-427025395","issue_url":"https://api.github.com/repos/apache/nifi/issues/3045","id":427025395,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyNTM5NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:47:50Z","updated_at":"2018-10-04T13:47:50Z","author_association":"CONTRIBUTOR","body":"@swatinarvekar if you need support, please subscribe to [one of the mailing lists](http://nifi.apache.org/mailing_lists.html). If this is an attempted code submission, let us know what you're trying to do and we can help you through the process. If not, please close this PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427025395/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427026691","html_url":"https://github.com/apache/nifi/pull/3018#issuecomment-427026691","issue_url":"https://api.github.com/repos/apache/nifi/issues/3018","id":427026691,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyNjY5MQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:51:20Z","updated_at":"2018-10-04T13:51:20Z","author_association":"CONTRIBUTOR","body":"Thanks @alopresto! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427026691/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427027176","html_url":"https://github.com/apache/nifi/pull/3038#issuecomment-427027176","issue_url":"https://api.github.com/repos/apache/nifi/issues/3038","id":427027176,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyNzE3Ng==","user":{"login":"jpds","id":29158971,"node_id":"MDQ6VXNlcjI5MTU4OTcx","avatar_url":"https://avatars.githubusercontent.com/u/29158971?v=4","gravatar_id":"","url":"https://api.github.com/users/jpds","html_url":"https://github.com/jpds","followers_url":"https://api.github.com/users/jpds/followers","following_url":"https://api.github.com/users/jpds/following{/other_user}","gists_url":"https://api.github.com/users/jpds/gists{/gist_id}","starred_url":"https://api.github.com/users/jpds/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jpds/subscriptions","organizations_url":"https://api.github.com/users/jpds/orgs","repos_url":"https://api.github.com/users/jpds/repos","events_url":"https://api.github.com/users/jpds/events{/privacy}","received_events_url":"https://api.github.com/users/jpds/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:52:38Z","updated_at":"2018-10-04T14:03:21Z","author_association":"NONE","body":"@MikeThomsen Yes, I had a look at https://github.com/spotify/docker-maven-plugin when I had added the `dockermaven` image but I couldn't find a way from the documentation to give the plugin the different Dockerfile image (akin to the `-f` flag of `docker build`) (I'm not a Maven expert either).\r\n\r\nAn alternative would be to put the `Dockerfile`s into subdirectories if the above is a limitation in the plugin.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427027176/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427027389","html_url":"https://github.com/apache/nifi/pull/3044#issuecomment-427027389","issue_url":"https://api.github.com/repos/apache/nifi/issues/3044","id":427027389,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyNzM4OQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:53:11Z","updated_at":"2018-10-04T13:53:11Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427027389/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427029533","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-427029533","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":427029533,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAyOTUzMw==","user":{"login":"danieljimenez","id":63831,"node_id":"MDQ6VXNlcjYzODMx","avatar_url":"https://avatars.githubusercontent.com/u/63831?v=4","gravatar_id":"","url":"https://api.github.com/users/danieljimenez","html_url":"https://github.com/danieljimenez","followers_url":"https://api.github.com/users/danieljimenez/followers","following_url":"https://api.github.com/users/danieljimenez/following{/other_user}","gists_url":"https://api.github.com/users/danieljimenez/gists{/gist_id}","starred_url":"https://api.github.com/users/danieljimenez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danieljimenez/subscriptions","organizations_url":"https://api.github.com/users/danieljimenez/orgs","repos_url":"https://api.github.com/users/danieljimenez/repos","events_url":"https://api.github.com/users/danieljimenez/events{/privacy}","received_events_url":"https://api.github.com/users/danieljimenez/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T13:59:10Z","updated_at":"2018-10-04T13:59:10Z","author_association":"CONTRIBUTOR","body":"There are two other PRs that supersede this one.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427029533/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427032350","html_url":"https://github.com/apache/nifi/pull/3025#issuecomment-427032350","issue_url":"https://api.github.com/repos/apache/nifi/issues/3025","id":427032350,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzAzMjM1MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T14:06:54Z","updated_at":"2018-10-04T14:06:54Z","author_association":"CONTRIBUTOR","body":"@zenfenan do you have any opinion on where to put this functionality?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427032350/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427043687","html_url":"https://github.com/apache/nifi/pull/3034#issuecomment-427043687","issue_url":"https://api.github.com/repos/apache/nifi/issues/3034","id":427043687,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA0MzY4Nw==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T14:37:28Z","updated_at":"2018-10-04T14:37:28Z","author_association":"CONTRIBUTOR","body":"I still see this one \r\n\r\n2018-10-04 10:36:50,626 WARN [main] o.e.jetty.annotations.AnnotationParser Unknown asm implementation version, assuming version 393216\r\n\r\nDid you see it?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427043687/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427044232","html_url":"https://github.com/apache/nifi/pull/3044#issuecomment-427044232","issue_url":"https://api.github.com/repos/apache/nifi/issues/3044","id":427044232,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA0NDIzMg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T14:38:54Z","updated_at":"2018-10-04T14:38:54Z","author_association":"CONTRIBUTOR","body":"Thanks @ijokarumawak! This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427044232/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427045191","html_url":"https://github.com/apache/nifi/pull/3034#issuecomment-427045191","issue_url":"https://api.github.com/repos/apache/nifi/issues/3034","id":427045191,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA0NTE5MQ==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T14:41:24Z","updated_at":"2018-10-04T14:41:24Z","author_association":"CONTRIBUTOR","body":"I did see that one, let me figure out what happened with that.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427045191/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427045825","html_url":"https://github.com/apache/nifi/pull/3034#issuecomment-427045825","issue_url":"https://api.github.com/repos/apache/nifi/issues/3034","id":427045825,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA0NTgyNQ==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T14:43:04Z","updated_at":"2018-10-04T14:43:04Z","author_association":"CONTRIBUTOR","body":"https://issues.apache.org/jira/browse/NIFI-5479?focusedCommentId=16607187&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16607187","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427045825/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427070106","html_url":"https://github.com/apache/nifi/pull/3034#issuecomment-427070106","issue_url":"https://api.github.com/repos/apache/nifi/issues/3034","id":427070106,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA3MDEwNg==","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T15:48:50Z","updated_at":"2018-10-04T15:48:50Z","author_association":"CONTRIBUTOR","body":"also in checking the jolt transform processor's advanced ui i get this error now\r\n\r\n2018-10-04 11:46:42,041 WARN [NiFi Web Server-87] o.e.j.s.h.C._nifi_jolt_transform_json_ui_1_8_0_SNAPSHOT unavailable\r\njava.lang.IllegalStateException: InjectionManagerFactory not found.\r\n\tat org.glassfish.jersey.internal.inject.Injections.lambda$lookupInjectionManagerFactory$0(Injections.java:98)\r\n\tat java.util.Optional.orElseThrow(Optional.java:290)\r\n\tat org.glassfish.jersey.internal.inject.Injections.lookupInjectionManagerFactory(Injections.java:98)\r\n\tat org.glassfish.jersey.internal.inject.Injections.createInjectionManager(Injections.java:93)\r\n\tat org.glassfish.jersey.server.ApplicationHandler.<init>(ApplicationHandler.java:282)\r\n\tat org.glassfish.jersey.servlet.WebComponent.<init>(WebComponent.java:335)\r\n\tat org.glassfish.jersey.servlet.ServletContainer.init(ServletContainer.java:178)\r\n\tat org.glassfish.jersey.servlet.ServletContainer.init(ServletContainer.java:370)\r\n\tat javax.servlet.GenericServlet.init(GenericServlet.java:244)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.initServlet(ServletHolder.java:670)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.getServlet(ServletHolder.java:519)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.prepare(ServletHolder.java:803)\r\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:530)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\r\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\r\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\r\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1317)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\r\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\r\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1219)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\r\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\r\n\tat org.eclipse.jetty.server.handler.gzip.GzipHandler.handle(GzipHandler.java:724)\r\n\tat org.eclipse.jetty.server.handler.HandlerList.handle(HandlerList.java:61)\r\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\r\n\tat org.eclipse.jetty.server.Server.handle(Server.java:531)\r\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:352)\r\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\r\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:281)\r\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:102)\r\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\r\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\r\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:762)\r\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:680)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\n2018-10-04 11:46:42,042 WARN [NiFi Web Server-87] org.eclipse.jetty.server.HttpChannel /nifi-jolt-transform-json-ui-1.8.0-SNAPSHOT/api/standard/processor/details\r\njavax.servlet.ServletException: javax.servlet.ServletException: api@17a1a==org.glassfish.jersey.servlet.ServletContainer,jsp=null,order=-1,inst=false\r\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:146)\r\n\tat org.eclipse.jetty.server.handler.gzip.GzipHandler.handle(GzipHandler.java:724)\r\n\tat org.eclipse.jetty.server.handler.HandlerList.handle(HandlerList.java:61)\r\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\r\n\tat org.eclipse.jetty.server.Server.handle(Server.java:531)\r\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:352)\r\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\r\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:281)\r\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:102)\r\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\r\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\r\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\r\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:762)\r\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:680)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\nCaused by: javax.servlet.ServletException: api@17a1a==org.glassfish.jersey.servlet.ServletContainer,jsp=null,order=-1,inst=false\r\n\tat org.eclipse.jetty.servlet.ServletHolder.initServlet(ServletHolder.java:691)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.getServlet(ServletHolder.java:519)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.prepare(ServletHolder.java:803)\r\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:530)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\r\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\r\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\r\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1317)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\r\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\r\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\r\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1219)\r\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\r\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\r\n\t... 17 common frames omitted\r\nCaused by: java.lang.IllegalStateException: InjectionManagerFactory not found.\r\n\tat org.glassfish.jersey.internal.inject.Injections.lambda$lookupInjectionManagerFactory$0(Injections.java:98)\r\n\tat java.util.Optional.orElseThrow(Optional.java:290)\r\n\tat org.glassfish.jersey.internal.inject.Injections.lookupInjectionManagerFactory(Injections.java:98)\r\n\tat org.glassfish.jersey.internal.inject.Injections.createInjectionManager(Injections.java:93)\r\n\tat org.glassfish.jersey.server.ApplicationHandler.<init>(ApplicationHandler.java:282)\r\n\tat org.glassfish.jersey.servlet.WebComponent.<init>(WebComponent.java:335)\r\n\tat org.glassfish.jersey.servlet.ServletContainer.init(ServletContainer.java:178)\r\n\tat org.glassfish.jersey.servlet.ServletContainer.init(ServletContainer.java:370)\r\n\tat javax.servlet.GenericServlet.init(GenericServlet.java:244)\r\n\tat org.eclipse.jetty.servlet.ServletHolder.initServlet(ServletHolder.java:670)\r\n\t... 34 common frames omitted","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427070106/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427093441","html_url":"https://github.com/apache/nifi/pull/2945#issuecomment-427093441","issue_url":"https://api.github.com/repos/apache/nifi/issues/2945","id":427093441,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzA5MzQ0MQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T16:57:32Z","updated_at":"2018-10-04T16:57:32Z","author_association":"CONTRIBUTOR","body":"@pvillard31 @MikeThomsen Think we can get the final review done in time for 1.8.0? Folks have been asking for these processors for a long time :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427093441/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427149565","html_url":"https://github.com/apache/nifi/pull/2947#issuecomment-427149565","issue_url":"https://api.github.com/repos/apache/nifi/issues/2947","id":427149565,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzE0OTU2NQ==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-04T19:58:34Z","updated_at":"2018-10-04T19:58:34Z","author_association":"CONTRIBUTOR","body":"@markap14 Based on @ijokarumawak's +1, and my testing of this PR along with the changes in my PR for node offloading, I'm a +1 as well.  Will merge this ASAP!\r\n\r\nThanks for this awesome contribution!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427149565/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427211633","html_url":"https://github.com/apache/nifi/pull/2420#issuecomment-427211633","issue_url":"https://api.github.com/repos/apache/nifi/issues/2420","id":427211633,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzIxMTYzMw==","user":{"login":"lsh-0","id":2142748,"node_id":"MDQ6VXNlcjIxNDI3NDg=","avatar_url":"https://avatars.githubusercontent.com/u/2142748?v=4","gravatar_id":"","url":"https://api.github.com/users/lsh-0","html_url":"https://github.com/lsh-0","followers_url":"https://api.github.com/users/lsh-0/followers","following_url":"https://api.github.com/users/lsh-0/following{/other_user}","gists_url":"https://api.github.com/users/lsh-0/gists{/gist_id}","starred_url":"https://api.github.com/users/lsh-0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lsh-0/subscriptions","organizations_url":"https://api.github.com/users/lsh-0/orgs","repos_url":"https://api.github.com/users/lsh-0/repos","events_url":"https://api.github.com/users/lsh-0/events{/privacy}","received_events_url":"https://api.github.com/users/lsh-0/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-05T00:35:54Z","updated_at":"2018-10-05T00:35:54Z","author_association":"NONE","body":"I've just taken a look at the other two tickets and it looks like #3019 is the most recent one but is lacking the conversation/ticket history. As an outsider I can see that's three open tickets for one feature with a chain like #2420 -> #2682 -> #3019 .\r\n\r\nI think at the very least this ticket (#2420) can be closed as it's quite definitely superceded.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427211633/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427354371","html_url":"https://github.com/apache/nifi/pull/3046#issuecomment-427354371","issue_url":"https://api.github.com/repos/apache/nifi/issues/3046","id":427354371,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzM1NDM3MQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-05T12:47:11Z","updated_at":"2018-10-05T12:47:11Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427354371/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427391594","html_url":"https://github.com/apache/nifi/pull/2884#issuecomment-427391594","issue_url":"https://api.github.com/repos/apache/nifi/issues/2884","id":427391594,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzM5MTU5NA==","user":{"login":"HorizonNet","id":1908271,"node_id":"MDQ6VXNlcjE5MDgyNzE=","avatar_url":"https://avatars.githubusercontent.com/u/1908271?v=4","gravatar_id":"","url":"https://api.github.com/users/HorizonNet","html_url":"https://github.com/HorizonNet","followers_url":"https://api.github.com/users/HorizonNet/followers","following_url":"https://api.github.com/users/HorizonNet/following{/other_user}","gists_url":"https://api.github.com/users/HorizonNet/gists{/gist_id}","starred_url":"https://api.github.com/users/HorizonNet/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HorizonNet/subscriptions","organizations_url":"https://api.github.com/users/HorizonNet/orgs","repos_url":"https://api.github.com/users/HorizonNet/repos","events_url":"https://api.github.com/users/HorizonNet/events{/privacy}","received_events_url":"https://api.github.com/users/HorizonNet/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-05T14:48:18Z","updated_at":"2018-10-05T14:48:18Z","author_association":"CONTRIBUTOR","body":"@jtstorck If most of the services/components depend on ZooKeeper 3.4.6 then let's stick with that version and close the ticket. Any objections?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427391594/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427443519","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-427443519","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":427443519,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzQ0MzUxOQ==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-05T17:38:44Z","updated_at":"2018-10-05T17:38:44Z","author_association":"NONE","body":"Apache issue: https://issues.apache.org/jira/browse/NIFI-5664","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427443519/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427514190","html_url":"https://github.com/apache/nifi/pull/2956#issuecomment-427514190","issue_url":"https://api.github.com/repos/apache/nifi/issues/2956","id":427514190,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzUxNDE5MA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-05T22:20:40Z","updated_at":"2018-10-05T22:20:40Z","author_association":"CONTRIBUTOR","body":"@mans2singh before we continue, do you mind joining in [this discussion](http://apache-nifi-developer-list.39713.n7.nabble.com/Graph-database-support-w-NiFi-tp18680p19706.html) that I reopened on the mailing list?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427514190/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427548895","html_url":"https://github.com/apache/nifi/pull/3025#issuecomment-427548895","issue_url":"https://api.github.com/repos/apache/nifi/issues/3025","id":427548895,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzU0ODg5NQ==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-06T05:54:22Z","updated_at":"2018-10-06T05:54:22Z","author_association":"CONTRIBUTOR","body":"I think this can go in with `PutCassandraQL`. `PutCassandraRecord` actually performs inserts only.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427548895/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427548923","html_url":"https://github.com/apache/nifi/pull/3011#issuecomment-427548923","issue_url":"https://api.github.com/repos/apache/nifi/issues/3011","id":427548923,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzU0ODkyMw==","user":{"login":"zenfenan","id":23693101,"node_id":"MDQ6VXNlcjIzNjkzMTAx","avatar_url":"https://avatars.githubusercontent.com/u/23693101?v=4","gravatar_id":"","url":"https://api.github.com/users/zenfenan","html_url":"https://github.com/zenfenan","followers_url":"https://api.github.com/users/zenfenan/followers","following_url":"https://api.github.com/users/zenfenan/following{/other_user}","gists_url":"https://api.github.com/users/zenfenan/gists{/gist_id}","starred_url":"https://api.github.com/users/zenfenan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zenfenan/subscriptions","organizations_url":"https://api.github.com/users/zenfenan/orgs","repos_url":"https://api.github.com/users/zenfenan/repos","events_url":"https://api.github.com/users/zenfenan/events{/privacy}","received_events_url":"https://api.github.com/users/zenfenan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-06T05:54:54Z","updated_at":"2018-10-06T05:54:54Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen Will try to do by this weekend.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427548923/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427557472","html_url":"https://github.com/apache/nifi/pull/2945#issuecomment-427557472","issue_url":"https://api.github.com/repos/apache/nifi/issues/2945","id":427557472,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzU1NzQ3Mg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-06T08:46:21Z","updated_at":"2018-10-06T08:46:21Z","author_association":"CONTRIBUTOR","body":"Gave it another try, all LGTM, merging to master, thanks much @mattyb149 ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427557472/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427613330","html_url":"https://github.com/apache/nifi/pull/3024#issuecomment-427613330","issue_url":"https://api.github.com/repos/apache/nifi/issues/3024","id":427613330,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzYxMzMzMA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-06T23:25:33Z","updated_at":"2018-10-06T23:25:33Z","author_association":"CONTRIBUTOR","body":"Verified by sending curl POST commands with a client certificate to upload a template. With the `Origin` header set to a remote domain, the request is blocked with the response \"Invalid CORS request\". \r\n\r\nRan `contrib-check` and all tests pass. +1, merging. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427613330/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427630770","html_url":"https://github.com/apache/nifi/pull/3040#issuecomment-427630770","issue_url":"https://api.github.com/repos/apache/nifi/issues/3040","id":427630770,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzYzMDc3MA==","user":{"login":"kemixkoo","id":32858203,"node_id":"MDQ6VXNlcjMyODU4MjAz","avatar_url":"https://avatars.githubusercontent.com/u/32858203?v=4","gravatar_id":"","url":"https://api.github.com/users/kemixkoo","html_url":"https://github.com/kemixkoo","followers_url":"https://api.github.com/users/kemixkoo/followers","following_url":"https://api.github.com/users/kemixkoo/following{/other_user}","gists_url":"https://api.github.com/users/kemixkoo/gists{/gist_id}","starred_url":"https://api.github.com/users/kemixkoo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kemixkoo/subscriptions","organizations_url":"https://api.github.com/users/kemixkoo/orgs","repos_url":"https://api.github.com/users/kemixkoo/repos","events_url":"https://api.github.com/users/kemixkoo/events{/privacy}","received_events_url":"https://api.github.com/users/kemixkoo/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-07T06:58:09Z","updated_at":"2018-10-07T06:58:09Z","author_association":"CONTRIBUTOR","body":"Yes, I see. If can to manage the extensions dynamically, should be better, but need more refactor, so I just do a simple fix to load instance well.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427630770/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427676352","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-427676352","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":427676352,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzY3NjM1Mg==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-07T18:40:06Z","updated_at":"2018-10-07T18:40:06Z","author_association":"NONE","body":"Great suggestions.  I can incorporate and re-test this week.  Thanks for your feedback!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427676352/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427689083","html_url":"https://github.com/apache/nifi/pull/3031#issuecomment-427689083","issue_url":"https://api.github.com/repos/apache/nifi/issues/3031","id":427689083,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzY4OTA4Mw==","user":{"login":"mosermw","id":10587698,"node_id":"MDQ6VXNlcjEwNTg3Njk4","avatar_url":"https://avatars.githubusercontent.com/u/10587698?v=4","gravatar_id":"","url":"https://api.github.com/users/mosermw","html_url":"https://github.com/mosermw","followers_url":"https://api.github.com/users/mosermw/followers","following_url":"https://api.github.com/users/mosermw/following{/other_user}","gists_url":"https://api.github.com/users/mosermw/gists{/gist_id}","starred_url":"https://api.github.com/users/mosermw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosermw/subscriptions","organizations_url":"https://api.github.com/users/mosermw/orgs","repos_url":"https://api.github.com/users/mosermw/repos","events_url":"https://api.github.com/users/mosermw/events{/privacy}","received_events_url":"https://api.github.com/users/mosermw/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-07T21:35:32Z","updated_at":"2018-10-07T21:35:32Z","author_association":"MEMBER","body":"Reviewed, looks great, +1.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427689083/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427765370","html_url":"https://github.com/apache/nifi/pull/2991#issuecomment-427765370","issue_url":"https://api.github.com/repos/apache/nifi/issues/2991","id":427765370,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzc2NTM3MA==","user":{"login":"ekovacs","id":1477846,"node_id":"MDQ6VXNlcjE0Nzc4NDY=","avatar_url":"https://avatars.githubusercontent.com/u/1477846?v=4","gravatar_id":"","url":"https://api.github.com/users/ekovacs","html_url":"https://github.com/ekovacs","followers_url":"https://api.github.com/users/ekovacs/followers","following_url":"https://api.github.com/users/ekovacs/following{/other_user}","gists_url":"https://api.github.com/users/ekovacs/gists{/gist_id}","starred_url":"https://api.github.com/users/ekovacs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ekovacs/subscriptions","organizations_url":"https://api.github.com/users/ekovacs/orgs","repos_url":"https://api.github.com/users/ekovacs/repos","events_url":"https://api.github.com/users/ekovacs/events{/privacy}","received_events_url":"https://api.github.com/users/ekovacs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-08T09:05:21Z","updated_at":"2018-10-08T09:05:21Z","author_association":"CONTRIBUTOR","body":"thank you @ijokarumawak for your thorough review. pushed the requested changes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427765370/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427796279","html_url":"https://github.com/apache/nifi/pull/2994#issuecomment-427796279","issue_url":"https://api.github.com/repos/apache/nifi/issues/2994","id":427796279,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzc5NjI3OQ==","user":{"login":"ekovacs","id":1477846,"node_id":"MDQ6VXNlcjE0Nzc4NDY=","avatar_url":"https://avatars.githubusercontent.com/u/1477846?v=4","gravatar_id":"","url":"https://api.github.com/users/ekovacs","html_url":"https://github.com/ekovacs","followers_url":"https://api.github.com/users/ekovacs/followers","following_url":"https://api.github.com/users/ekovacs/following{/other_user}","gists_url":"https://api.github.com/users/ekovacs/gists{/gist_id}","starred_url":"https://api.github.com/users/ekovacs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ekovacs/subscriptions","organizations_url":"https://api.github.com/users/ekovacs/orgs","repos_url":"https://api.github.com/users/ekovacs/repos","events_url":"https://api.github.com/users/ekovacs/events{/privacy}","received_events_url":"https://api.github.com/users/ekovacs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-08T11:13:15Z","updated_at":"2018-10-08T11:13:15Z","author_association":"CONTRIBUTOR","body":"bringing in adjustments from sibling pull request (NIFI-3469) suggested by @ijokarumawak ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427796279/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427835814","html_url":"https://github.com/apache/nifi/pull/3040#issuecomment-427835814","issue_url":"https://api.github.com/repos/apache/nifi/issues/3040","id":427835814,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzgzNTgxNA==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-08T13:36:36Z","updated_at":"2018-10-08T13:37:04Z","author_association":"CONTRIBUTOR","body":"I agree with the points made by @joewitt , although this PR did make me compare what we are doing for processors vs. controller services...\r\n \r\nI noticed that for processors the try/catch wraps the Class.forName AND the newInstance() call, and then creates a ghost component if an exception is thrown, where as controller services only catch exceptions from Class.forName and anything outside of that would not create a ghost component.\r\n\r\nTechnically exceptions from Class.forName would be the ones that indicate the class for the component is not present, and exceptions from newInstance() would indicate an exception thrown from the constructor.\r\n\r\nSo I'm not sure which is more correct, or if anything should be changed, but I did notice the difference in behavior, and some of the changes in this PR seem to be for making the controller service behavior more similar to processors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427835814/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427888889","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-427888889","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":427888889,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzg4ODg4OQ==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-08T15:59:27Z","updated_at":"2018-10-08T15:59:27Z","author_association":"NONE","body":"I rebased onto master, FYI.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427888889/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427915244","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-427915244","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":427915244,"node_id":"MDEyOklzc3VlQ29tbWVudDQyNzkxNTI0NA==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-08T17:24:26Z","updated_at":"2018-10-08T17:24:26Z","author_association":"NONE","body":"Now that the checks have passed, I believe this PR is G2G as far as comments so far are concerned.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/427915244/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428040876","html_url":"https://github.com/apache/nifi/pull/3010#issuecomment-428040876","issue_url":"https://api.github.com/repos/apache/nifi/issues/3010","id":428040876,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODA0MDg3Ng==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T02:42:04Z","updated_at":"2018-10-09T02:42:04Z","author_association":"MEMBER","body":"@jtstorck I've reviewed this PR and offloading scenarios, too. Successfully offloaded multiple nodes at the same time, and confirmed I can offload nodes from UI or NiFi CLI. Thanks for this improvement, I'm +1!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428040876/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428070165","html_url":"https://github.com/apache/nifi/pull/3046#issuecomment-428070165","issue_url":"https://api.github.com/repos/apache/nifi/issues/3046","id":428070165,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODA3MDE2NQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T05:59:08Z","updated_at":"2018-10-09T05:59:08Z","author_association":"MEMBER","body":"@mcgilman Thank you for reviewing! Incorporated the comments.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428070165/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428070795","html_url":"https://github.com/apache/nifi/pull/3048#issuecomment-428070795","issue_url":"https://api.github.com/repos/apache/nifi/issues/3048","id":428070795,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODA3MDc5NQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T06:02:41Z","updated_at":"2018-10-09T06:02:41Z","author_association":"MEMBER","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428070795/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428160287","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-428160287","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":428160287,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE2MDI4Nw==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T11:41:42Z","updated_at":"2018-10-09T11:41:42Z","author_association":"CONTRIBUTOR","body":"This looks great to me, I thought there was a specific use case for this, if so, it might be good to have a unit or integration text that showed that case.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428160287/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428169191","html_url":"https://github.com/apache/nifi/pull/3048#issuecomment-428169191","issue_url":"https://api.github.com/repos/apache/nifi/issues/3048","id":428169191,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE2OTE5MQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T12:15:42Z","updated_at":"2018-10-09T12:15:42Z","author_association":"MEMBER","body":"LGTM +1 merging. Thank you @markap14 for fixing this!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428169191/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428182420","html_url":"https://github.com/apache/nifi/pull/3052#issuecomment-428182420","issue_url":"https://api.github.com/repos/apache/nifi/issues/3052","id":428182420,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE4MjQyMA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T13:00:49Z","updated_at":"2018-10-09T13:00:49Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428182420/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428182687","html_url":"https://github.com/apache/nifi/pull/3021#issuecomment-428182687","issue_url":"https://api.github.com/repos/apache/nifi/issues/3021","id":428182687,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE4MjY4Nw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T13:01:37Z","updated_at":"2018-10-09T13:01:37Z","author_association":"CONTRIBUTOR","body":"Sorry for missing the mention... Will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428182687/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428188269","html_url":"https://github.com/apache/nifi/pull/2974#issuecomment-428188269","issue_url":"https://api.github.com/repos/apache/nifi/issues/2974","id":428188269,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE4ODI2OQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T13:18:54Z","updated_at":"2018-10-09T13:18:54Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran full build with unit tests and tried many different scenarios with record processors, attributes, etc. Thanks for the improvements! Merging to master","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428188269/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428198658","html_url":"https://github.com/apache/nifi/pull/3025#issuecomment-428198658","issue_url":"https://api.github.com/repos/apache/nifi/issues/3025","id":428198658,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE5ODY1OA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T13:47:56Z","updated_at":"2018-10-09T13:47:56Z","author_association":"CONTRIBUTOR","body":"Can PutCassandraRecord also be improved to allow inserts, updates, deletes? I'm thinking PutCassandraRecord could be like PutDatabaseRecord. Doesn't PutCassandraQL already support updates since the user provides the CQL to execute?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428198658/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428199386","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-428199386","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":428199386,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODE5OTM4Ng==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T13:50:03Z","updated_at":"2018-10-09T13:50:03Z","author_association":"CONTRIBUTOR","body":"Do we need a separate processor for this, or can we just add GTID support to the existing one (perhaps with a property such as \"Include GTID\" or whatever, defaulting to false but if set to true, executes the GTID-related code)?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428199386/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428211710","html_url":"https://github.com/apache/nifi/pull/2966#issuecomment-428211710","issue_url":"https://api.github.com/repos/apache/nifi/issues/2966","id":428211710,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODIxMTcxMA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T14:22:03Z","updated_at":"2018-10-09T14:22:03Z","author_association":"CONTRIBUTOR","body":"I'm a little leery of automatically normalizing the names. In [NIFI-4612](https://issues.apache.org/jira/browse/NIFI-4612) we added the ability to disable name validation for the AvroSchemaRegistry, so there could be Avro-illegal field names but they'd be preserved. I think that came up for things like PutDatabaseRecord where the field names needed to be preserved but were not Avro-valid. If we automatically normalize them, there might be unintended (and undesired) consequence to things like PutParquet and PutDatabaseRecord. \r\n\r\nPerhaps instead of (or in addition to) normalization, we provide the option to \"disable schema validation\". This isn't technically Avro-specific, but would be used while we are so coupled to Avro schemas in the meantime?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428211710/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428220404","html_url":"https://github.com/apache/nifi/pull/3051#issuecomment-428220404","issue_url":"https://api.github.com/repos/apache/nifi/issues/3051","id":428220404,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODIyMDQwNA==","user":{"login":"aglotero","id":7876125,"node_id":"MDQ6VXNlcjc4NzYxMjU=","avatar_url":"https://avatars.githubusercontent.com/u/7876125?v=4","gravatar_id":"","url":"https://api.github.com/users/aglotero","html_url":"https://github.com/aglotero","followers_url":"https://api.github.com/users/aglotero/followers","following_url":"https://api.github.com/users/aglotero/following{/other_user}","gists_url":"https://api.github.com/users/aglotero/gists{/gist_id}","starred_url":"https://api.github.com/users/aglotero/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aglotero/subscriptions","organizations_url":"https://api.github.com/users/aglotero/orgs","repos_url":"https://api.github.com/users/aglotero/repos","events_url":"https://api.github.com/users/aglotero/events{/privacy}","received_events_url":"https://api.github.com/users/aglotero/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T14:43:46Z","updated_at":"2018-10-09T14:43:46Z","author_association":"CONTRIBUTOR","body":"Thanks for the comments @mattyb149!\r\nYour understanding is correct regarding the intent of this change, I'll take a look on QueryDatabaseTable to understand how to add an \"Output Batch Size\" parameter on QueryCassandra processor.\r\nRegards,\r\nAndr","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428220404/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428227513","html_url":"https://github.com/apache/nifi/pull/3021#issuecomment-428227513","issue_url":"https://api.github.com/repos/apache/nifi/issues/3021","id":428227513,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODIyNzUxMw==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T15:01:11Z","updated_at":"2018-10-09T15:01:11Z","author_association":"CONTRIBUTOR","body":"@pvillard31 Thanks for the PR! I can see what is happening here and I think a slightly different solution is required. With the introduction of NIFI-5208 we should be watching the cluster status actively so we can track the disconnected state. Because this state can change, I think we need to reconsider the columns we show when the listing is opened (not when the UI is bootstrapped). We actually have the same issue showing component state. I am going to open up another PR with this alternate solution. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428227513/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428260093","html_url":"https://github.com/apache/nifi/pull/3049#issuecomment-428260093","issue_url":"https://api.github.com/repos/apache/nifi/issues/3049","id":428260093,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODI2MDA5Mw==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T16:28:46Z","updated_at":"2018-10-09T16:28:46Z","author_association":"CONTRIBUTOR","body":"I'll try to review tonight. Been pretty sick. Thanks for the updates @snagacarl ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428260093/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428267931","html_url":"https://github.com/apache/nifi/pull/3021#issuecomment-428267931","issue_url":"https://api.github.com/repos/apache/nifi/issues/3021","id":428267931,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODI2NzkzMQ==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T16:52:41Z","updated_at":"2018-10-09T16:52:41Z","author_association":"CONTRIBUTOR","body":"Provided an alternate solution here: https://github.com/apache/nifi/pull/3055","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428267931/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":1,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428295552","html_url":"https://github.com/apache/nifi/pull/3052#issuecomment-428295552","issue_url":"https://api.github.com/repos/apache/nifi/issues/3052","id":428295552,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODI5NTU1Mg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T18:15:49Z","updated_at":"2018-10-09T18:15:49Z","author_association":"CONTRIBUTOR","body":"Thanks @joewitt. This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428295552/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428296746","html_url":"https://github.com/apache/nifi/pull/3054#issuecomment-428296746","issue_url":"https://api.github.com/repos/apache/nifi/issues/3054","id":428296746,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODI5Njc0Ng==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T18:19:18Z","updated_at":"2018-10-09T18:19:18Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428296746/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428319320","html_url":"https://github.com/apache/nifi/pull/3054#issuecomment-428319320","issue_url":"https://api.github.com/repos/apache/nifi/issues/3054","id":428319320,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODMxOTMyMA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T19:25:27Z","updated_at":"2018-10-09T19:25:27Z","author_association":"CONTRIBUTOR","body":"Thanks @markap14. This has been merged to master.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428319320/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428340696","html_url":"https://github.com/apache/nifi/pull/3055#issuecomment-428340696","issue_url":"https://api.github.com/repos/apache/nifi/issues/3055","id":428340696,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODM0MDY5Ng==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T20:32:14Z","updated_at":"2018-10-09T20:32:14Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428340696/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428353054","html_url":"https://github.com/apache/nifi/pull/3055#issuecomment-428353054","issue_url":"https://api.github.com/repos/apache/nifi/issues/3055","id":428353054,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODM1MzA1NA==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T21:09:01Z","updated_at":"2018-10-09T21:11:22Z","author_association":"CONTRIBUTOR","body":"+1\r\nJust tested this PR after cherry-picking the commit into a branch off of the offloading PR (PR 3010), and it looks good on the queue listing and in provenance; the node on which the files are queued is displayed.  Opening the provenance UI from a queue listing for a specific flowfile, and opening the provenance UI from the hamburger menu also shows the node.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428353054/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428365005","html_url":"https://github.com/apache/nifi/pull/3021#issuecomment-428365005","issue_url":"https://api.github.com/repos/apache/nifi/issues/3021","id":428365005,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODM2NTAwNQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-09T21:49:35Z","updated_at":"2018-10-09T21:49:35Z","author_association":"CONTRIBUTOR","body":"Thanks much @mcgilman !","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428365005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428405719","html_url":"https://github.com/apache/nifi/pull/3046#issuecomment-428405719","issue_url":"https://api.github.com/repos/apache/nifi/issues/3046","id":428405719,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQwNTcxOQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T01:21:39Z","updated_at":"2018-10-10T01:21:39Z","author_association":"MEMBER","body":"@mcgilman Thanks for finding the combo option text issue. I hadn't tested the dialog from summary. Fixed the issue by moving the options to nf-connection-detail.js so that nf-connection-configuration.js can also use the same option array.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428405719/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428414267","html_url":"https://github.com/apache/nifi/pull/2884#issuecomment-428414267","issue_url":"https://api.github.com/repos/apache/nifi/issues/2884","id":428414267,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQxNDI2Nw==","user":{"login":"jtstorck","id":19271493,"node_id":"MDQ6VXNlcjE5MjcxNDkz","avatar_url":"https://avatars.githubusercontent.com/u/19271493?v=4","gravatar_id":"","url":"https://api.github.com/users/jtstorck","html_url":"https://github.com/jtstorck","followers_url":"https://api.github.com/users/jtstorck/followers","following_url":"https://api.github.com/users/jtstorck/following{/other_user}","gists_url":"https://api.github.com/users/jtstorck/gists{/gist_id}","starred_url":"https://api.github.com/users/jtstorck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtstorck/subscriptions","organizations_url":"https://api.github.com/users/jtstorck/orgs","repos_url":"https://api.github.com/users/jtstorck/repos","events_url":"https://api.github.com/users/jtstorck/events{/privacy}","received_events_url":"https://api.github.com/users/jtstorck/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T02:13:44Z","updated_at":"2018-10-10T02:13:44Z","author_association":"CONTRIBUTOR","body":"@HorizonNet No objections.  Feel free to close the PR.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428414267/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428447058","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-428447058","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":428447058,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQ0NzA1OA==","user":{"login":"yoshiata","id":39290058,"node_id":"MDQ6VXNlcjM5MjkwMDU4","avatar_url":"https://avatars.githubusercontent.com/u/39290058?v=4","gravatar_id":"","url":"https://api.github.com/users/yoshiata","html_url":"https://github.com/yoshiata","followers_url":"https://api.github.com/users/yoshiata/followers","following_url":"https://api.github.com/users/yoshiata/following{/other_user}","gists_url":"https://api.github.com/users/yoshiata/gists{/gist_id}","starred_url":"https://api.github.com/users/yoshiata/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yoshiata/subscriptions","organizations_url":"https://api.github.com/users/yoshiata/orgs","repos_url":"https://api.github.com/users/yoshiata/repos","events_url":"https://api.github.com/users/yoshiata/events{/privacy}","received_events_url":"https://api.github.com/users/yoshiata/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T05:55:27Z","updated_at":"2018-10-10T05:55:27Z","author_association":"CONTRIBUTOR","body":"We need no separate processor.\r\nI added a saparate processor because I was concerned that adding code to existing processors would make complicated.\r\nI will change to add code to existing processors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428447058/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428467819","html_url":"https://github.com/apache/nifi/pull/3055#issuecomment-428467819","issue_url":"https://api.github.com/repos/apache/nifi/issues/3055","id":428467819,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQ2NzgxOQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T07:31:27Z","updated_at":"2018-10-10T07:31:27Z","author_association":"CONTRIBUTOR","body":"LGTM, built the PR and tested the change, working as expected, merging to master. Thanks @mcgilman ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428467819/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428469407","html_url":"https://github.com/apache/nifi/pull/3059#issuecomment-428469407","issue_url":"https://api.github.com/repos/apache/nifi/issues/3059","id":428469407,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQ2OTQwNw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T07:36:59Z","updated_at":"2018-10-10T07:36:59Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @kotarot ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428469407/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428470900","html_url":"https://github.com/apache/nifi/pull/3058#issuecomment-428470900","issue_url":"https://api.github.com/repos/apache/nifi/issues/3058","id":428470900,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODQ3MDkwMA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T07:42:28Z","updated_at":"2018-10-10T07:42:28Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @kotarot ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428470900/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428554412","html_url":"https://github.com/apache/nifi/pull/3057#issuecomment-428554412","issue_url":"https://api.github.com/repos/apache/nifi/issues/3057","id":428554412,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODU1NDQxMg==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T12:35:34Z","updated_at":"2018-10-10T12:35:34Z","author_association":"NONE","body":"Hi, I have been verifying the pull request and I came across this error for one of my Avro messages,\r\nI am currently working to figure out which part of the message caused this.\r\n\r\n```\r\n2018-10-10 14:14:42,489 ERROR [Timer-Driven Process Thread-6] org.apache.nifi.processors.orc.PutORC PutORC[id=0430e7ab-99f1-3e25-c491-935245567fa3] Failed to write due to java.lang.ClassCa\r\nstException: org.apache.hadoop.hive.serde2.typeinfo.PrimitiveTypeInfo cannot be cast to org.apache.hadoop.hive.serde2.typeinfo.ListTypeInfo: java.lang.ClassCastException: org.apache.hadoop\r\n.hive.serde2.typeinfo.PrimitiveTypeInfo cannot be cast to org.apache.hadoop.hive.serde2.typeinfo.ListTypeInfo\r\njava.lang.ClassCastException: org.apache.hadoop.hive.serde2.typeinfo.PrimitiveTypeInfo cannot be cast to org.apache.hadoop.hive.serde2.typeinfo.ListTypeInfo\r\n        at org.apache.hadoop.hive.ql.io.orc.NiFiOrcUtils.convertToORCObject(NiFiOrcUtils.java:127)\r\n        at org.apache.hadoop.hive.ql.io.orc.NiFiOrcUtils.convertToORCObject(NiFiOrcUtils.java:177)\r\n        at org.apache.hadoop.hive.ql.io.orc.NiFiOrcUtils.lambda$convertToORCObject$0(NiFiOrcUtils.java:129)\r\n        at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193)\r\n        at java.util.Spliterators$ArraySpliterator.forEachRemaining(Spliterators.java:948)\r\n        at java.util.stream.AbstractPipeline.copyInto(AbstractPipeline.java:481)\r\n        at java.util.stream.AbstractPipeline.wrapAndCopyInto(AbstractPipeline.java:471)\r\n        at java.util.stream.ReduceOps$ReduceOp.evaluateSequential(ReduceOps.java:708)\r\n        at java.util.stream.AbstractPipeline.evaluate(AbstractPipeline.java:234)\r\n        at java.util.stream.ReferencePipeline.collect(ReferencePipeline.java:499)\r\n        at org.apache.hadoop.hive.ql.io.orc.NiFiOrcUtils.convertToORCObject(NiFiOrcUtils.java:130)\r\n        at org.apache.nifi.processors.orc.record.ORCHDFSRecordWriter.write(ORCHDFSRecordWriter.java:73)\r\n        at org.apache.nifi.processors.orc.record.ORCHDFSRecordWriter.write(ORCHDFSRecordWriter.java:94)\r\n        at org.apache.nifi.processors.hadoop.AbstractPutHDFSRecord.lambda$null$0(AbstractPutHDFSRecord.java:324)\r\n        at org.apache.nifi.controller.repository.StandardProcessSession.read(StandardProcessSession.java:2235)\r\n        at org.apache.nifi.controller.repository.StandardProcessSession.read(StandardProcessSession.java:2203)\r\n        at org.apache.nifi.processors.hadoop.AbstractPutHDFSRecord.lambda$onTrigger$1(AbstractPutHDFSRecord.java:305)\r\n        at java.security.AccessController.doPrivileged(Native Method)\r\n        at javax.security.auth.Subject.doAs(Subject.java:360)\r\n        at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1662)\r\n        at org.apache.nifi.processors.hadoop.AbstractPutHDFSRecord.onTrigger(AbstractPutHDFSRecord.java:272)\r\n        at org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n        at org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1165)\r\n        at org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:203)\r\n        at org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:117)\r\n        at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n        at java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n        at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n        at java.lang.Thread.run(Thread.java:748)\r\n\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428554412/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428565728","html_url":"https://github.com/apache/nifi/pull/3046#issuecomment-428565728","issue_url":"https://api.github.com/repos/apache/nifi/issues/3046","id":428565728,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODU2NTcyOA==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T13:12:13Z","updated_at":"2018-10-10T13:12:13Z","author_association":"CONTRIBUTOR","body":"Thanks for the update. We do not want to reference another module directly via `nf.`. This would only be working currently because we have not enabled a module loader yet. However, the codebase currently supports one. This can be seen at the top of any of the JS files. If a module loader was turned on, this would fail because the `nf.` namespace would no longer be in global scope.\r\n\r\nIf you want to reference something in another module, we'll need to import it. Alternatively, you could import it in a module that is already imported in both. In the policy case, the combo options are in `nfCommon` and a utility function was added to access them.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428565728/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428566002","html_url":"https://github.com/apache/nifi/pull/3037#issuecomment-428566002","issue_url":"https://api.github.com/repos/apache/nifi/issues/3037","id":428566002,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODU2NjAwMg==","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T13:12:59Z","updated_at":"2018-10-10T13:12:59Z","author_association":"CONTRIBUTOR","body":"Will review...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428566002/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428604225","html_url":"https://github.com/apache/nifi/pull/3057#issuecomment-428604225","issue_url":"https://api.github.com/repos/apache/nifi/issues/3057","id":428604225,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODYwNDIyNQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T14:54:36Z","updated_at":"2018-10-10T14:54:36Z","author_association":"CONTRIBUTOR","body":"Can you share the schema of the data, and possibly a JSON export of your Avro file? I couldn't reproduce this with an array of ints, and @bbende ran successfully with an array of records.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428604225/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428674408","html_url":"https://github.com/apache/nifi/pull/3057#issuecomment-428674408","issue_url":"https://api.github.com/repos/apache/nifi/issues/3057","id":428674408,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODY3NDQwOA==","user":{"login":"ghost","id":10137,"node_id":"MDQ6VXNlcjEwMTM3","avatar_url":"https://avatars.githubusercontent.com/u/10137?v=4","gravatar_id":"","url":"https://api.github.com/users/ghost","html_url":"https://github.com/ghost","followers_url":"https://api.github.com/users/ghost/followers","following_url":"https://api.github.com/users/ghost/following{/other_user}","gists_url":"https://api.github.com/users/ghost/gists{/gist_id}","starred_url":"https://api.github.com/users/ghost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghost/subscriptions","organizations_url":"https://api.github.com/users/ghost/orgs","repos_url":"https://api.github.com/users/ghost/repos","events_url":"https://api.github.com/users/ghost/events{/privacy}","received_events_url":"https://api.github.com/users/ghost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-10T18:10:17Z","updated_at":"2018-10-10T18:10:17Z","author_association":"NONE","body":"Sorry for the late answer got bogged down.\r\n\r\nAvro:\r\n```\r\n{\r\n  \"name\": \"IOlist\",\r\n  \"namespace\": \"analytics.models.its\",\r\n  \"type\": \"record\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"OItems\",\r\n      \"type\": [\r\n        \"null\",\r\n        {\r\n          \"type\": \"array\",\r\n          \"items\": {\r\n            \"name\": \"ISC\",\r\n            \"namespace\": \"analytics.models.its.iolist.oitems\",\r\n            \"type\": \"record\",\r\n            \"fields\": [\r\n              {\r\n                \"name\": \"Od\",\r\n                \"type\": [\r\n                  \"null\",\r\n                  \"long\"\r\n                ]\r\n              },\r\n              {\r\n                \"name\": \"HS\",\r\n                \"type\": [\r\n                  \"null\",\r\n                  \"bytes\"\r\n                ]\r\n              },\r\n              {\r\n                \"name\": \"AS\",\r\n                \"type\": [\r\n                  \"null\",\r\n                  \"bytes\"\r\n                ]\r\n              },\r\n              {\r\n                \"name\": \"NS\",\r\n                \"type\": [\r\n                  \"null\",\r\n                  \"string\"\r\n                ]\r\n              }\r\n            ]\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}\r\n```\r\n\r\nJSON\r\n```\r\n{\r\n  \"OItems\" : {\r\n    \"array\" : [ {\r\n      \"Od\" : {\r\n        \"long\" : 99999\r\n      },\r\n      \"HS\" : {\r\n        \"bytes\" : \"/w==\"\r\n      },\r\n      \"AS\" : {\r\n        \"bytes\" : \"AA==\"\r\n      },\r\n      \"NS\" : {\r\n        \"string\" : \"0\"\r\n      }\r\n    } ]\r\n  }\r\n}\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428674408/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428795066","html_url":"https://github.com/apache/nifi/pull/3046#issuecomment-428795066","issue_url":"https://api.github.com/repos/apache/nifi/issues/3046","id":428795066,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODc5NTA2Ng==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-11T02:17:14Z","updated_at":"2018-10-11T02:17:14Z","author_association":"MEMBER","body":"@mcgilman I understand that. I moved the combo options to `nfCommon`. Hope this PR looks good now. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428795066/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428807039","html_url":"https://github.com/apache/nifi/pull/3037#issuecomment-428807039","issue_url":"https://api.github.com/repos/apache/nifi/issues/3037","id":428807039,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODgwNzAzOQ==","user":{"login":"ijokarumawak","id":1107620,"node_id":"MDQ6VXNlcjExMDc2MjA=","avatar_url":"https://avatars.githubusercontent.com/u/1107620?v=4","gravatar_id":"","url":"https://api.github.com/users/ijokarumawak","html_url":"https://github.com/ijokarumawak","followers_url":"https://api.github.com/users/ijokarumawak/followers","following_url":"https://api.github.com/users/ijokarumawak/following{/other_user}","gists_url":"https://api.github.com/users/ijokarumawak/gists{/gist_id}","starred_url":"https://api.github.com/users/ijokarumawak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ijokarumawak/subscriptions","organizations_url":"https://api.github.com/users/ijokarumawak/orgs","repos_url":"https://api.github.com/users/ijokarumawak/repos","events_url":"https://api.github.com/users/ijokarumawak/events{/privacy}","received_events_url":"https://api.github.com/users/ijokarumawak/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-11T03:22:31Z","updated_at":"2018-10-11T03:22:31Z","author_association":"MEMBER","body":"@mcgilman I've also tried different JNA versions to see if the issue has been solved at the library. The latest 5.0.0 produced following test failure. I haven't researched on this but it may be caused by some breaking-change:\r\n\r\n```\r\n[ERROR] org.apache.nifi.processors.windows.event.log.jna.ErrorLookupTest  Time elapsed: 0.154 s  <<< ERROR!\r\njava.lang.UnsatisfiedLinkError: Unable to load library 'kernel32': Native library (darwin/libkernel32.dylib) not found in resource path ([file:/Users/koji/dev/nifi/nifi-nar-bundles/nifi-windows-event-log-bundle/nifi-windows-event-log-processors/target/surefire/surefirebooter3705181589607153497.jar])\r\n```\r\n\r\nThe latest 4.x version 4.5.2 worked fine.\r\nAlthough, just updating JNA version didn't addressed the issue, there has been number of bug-fixes, so I updated the JNA version from 4.2.2 to 4.5.2.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428807039/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428891968","html_url":"https://github.com/apache/nifi/pull/3061#issuecomment-428891968","issue_url":"https://api.github.com/repos/apache/nifi/issues/3061","id":428891968,"node_id":"MDEyOklzc3VlQ29tbWVudDQyODg5MTk2OA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2018-10-11T09:45:58Z","updated_at":"2018-10-11T09:45:58Z","author_association":"CONTRIBUTOR","body":"+1, merging to master, thanks @kotarot ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/428891968/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]