data/github-comments/apache-NiFi-184-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1359998180","html_url":"https://github.com/apache/nifi/pull/6685#issuecomment-1359998180","issue_url":"https://api.github.com/repos/apache/nifi/issues/6685","id":1359998180,"node_id":"IC_kwDOAanjsM5RD-zk","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-20T18:53:20Z","updated_at":"2022-12-20T18:53:20Z","author_association":"CONTRIBUTOR","body":"@joewitt I think that could be done.  i.e. a unit test for this in SnippetUtilsTest ( https://github.com/apache/nifi/blob/main/nifi-nar-bundles/nifi-framework-bundle/nifi-framework/nifi-web/nifi-web-api/src/test/java/org/apache/nifi/web/util/SnippetUtilsTest.java )\r\n\r\nalthough as @markobean noted, this kind of gets into the more overarching question of testing in general for copying nifi components and if we want to address that.  \r\n\r\n(i.e. I am a little concerned this could lead to scope creep. I happened to come across this when testing/voting for apache nifi 1.18.0 RC4, so I wanted to close the loop with this, but this discussion is revealing that testing copying in general is an area that needs to be developed that I am hoping not to be led into at the moment :))\r\n\r\nSo to answer the question, yes, a unit test can be done for this, but we need to be OK with the general lack of copying related unit/integration tests that may now be more readily noticeable by having this one added.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1359998180/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360012142","html_url":"https://github.com/apache/nifi/pull/6685#issuecomment-1360012142","issue_url":"https://api.github.com/repos/apache/nifi/issues/6685","id":1360012142,"node_id":"IC_kwDOAanjsM5RECNu","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-20T18:58:30Z","updated_at":"2022-12-20T18:58:30Z","author_association":"CONTRIBUTOR","body":"sorry about that Mark - i have been thinking ever since I saw that note before you were.  My mistake.\r\n\r\nI think if tests existed you should be able to add to them.  Creating tests where there are none and then having to deal with the existing untested bits is a bit much yeah.  I'm fine with this as is but I do think someone more familiar with this portion of the code should review/merge.  Mark's review from a functional point of view should make this super fast for someone more familiar.  If not...I'll merge it and call it good soon.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360012142/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360045744","html_url":"https://github.com/apache/nifi/pull/6784#issuecomment-1360045744","issue_url":"https://api.github.com/repos/apache/nifi/issues/6784","id":1360045744,"node_id":"IC_kwDOAanjsM5REKaw","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-20T19:18:45Z","updated_at":"2022-12-20T19:18:45Z","author_association":"CONTRIBUTOR","body":"LGTM, thanks for the contribution ;)\r\n+1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360045744/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360691610","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1360691610","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1360691610,"node_id":"IC_kwDOAanjsM5RGoGa","user":{"login":"lizhizhou","id":1780018,"node_id":"MDQ6VXNlcjE3ODAwMTg=","avatar_url":"https://avatars.githubusercontent.com/u/1780018?v=4","gravatar_id":"","url":"https://api.github.com/users/lizhizhou","html_url":"https://github.com/lizhizhou","followers_url":"https://api.github.com/users/lizhizhou/followers","following_url":"https://api.github.com/users/lizhizhou/following{/other_user}","gists_url":"https://api.github.com/users/lizhizhou/gists{/gist_id}","starred_url":"https://api.github.com/users/lizhizhou/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lizhizhou/subscriptions","organizations_url":"https://api.github.com/users/lizhizhou/orgs","repos_url":"https://api.github.com/users/lizhizhou/repos","events_url":"https://api.github.com/users/lizhizhou/events{/privacy}","received_events_url":"https://api.github.com/users/lizhizhou/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T02:09:30Z","updated_at":"2022-12-21T02:09:30Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Thanks for the review and all comments are resolved.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1360691610/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361455007","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361455007","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361455007,"node_id":"IC_kwDOAanjsM5RJief","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T15:07:52Z","updated_at":"2022-12-21T15:07:52Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I made the changes you requested. I am not sure though what to do as two of the ci builds timed out. Please advise. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361455007/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361474995","html_url":"https://github.com/apache/nifi/pull/6800#issuecomment-1361474995","issue_url":"https://api.github.com/repos/apache/nifi/issues/6800","id":1361474995,"node_id":"IC_kwDOAanjsM5RJnWz","user":{"login":"mcgilman","id":123395,"node_id":"MDQ6VXNlcjEyMzM5NQ==","avatar_url":"https://avatars.githubusercontent.com/u/123395?v=4","gravatar_id":"","url":"https://api.github.com/users/mcgilman","html_url":"https://github.com/mcgilman","followers_url":"https://api.github.com/users/mcgilman/followers","following_url":"https://api.github.com/users/mcgilman/following{/other_user}","gists_url":"https://api.github.com/users/mcgilman/gists{/gist_id}","starred_url":"https://api.github.com/users/mcgilman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mcgilman/subscriptions","organizations_url":"https://api.github.com/users/mcgilman/orgs","repos_url":"https://api.github.com/users/mcgilman/repos","events_url":"https://api.github.com/users/mcgilman/events{/privacy}","received_events_url":"https://api.github.com/users/mcgilman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T15:21:47Z","updated_at":"2022-12-21T15:21:47Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361474995/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361586482","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361586482","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361586482,"node_id":"IC_kwDOAanjsM5RKCky","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T16:09:13Z","updated_at":"2022-12-21T16:09:54Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Thanks for the review and restarting those builds.  I just learnt something about the TestRunner that we could access logging that occurred during running a processor. Do you think I should add assertions to the unit tests I added that confirms there was logging when ever a compile time or runtime error occurs when transforming XML?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361586482/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361599105","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361599105","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361599105,"node_id":"IC_kwDOAanjsM5RKFqB","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T16:13:24Z","updated_at":"2022-12-21T16:13:24Z","author_association":"CONTRIBUTOR","body":"> Do you think I should add assertions to the unit tests I added that confirms there was logging when ever a compile time or runtime error occurs when transforming XML?\r\n\r\nIf you are inclined to add a check for a log at a given level, that would be a helpful addition. It is not necessary to check the content of the message, but check for a warning or error log as appropriate could be useful.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361599105/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361602295","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361602295","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361602295,"node_id":"IC_kwDOAanjsM5RKGb3","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T16:14:41Z","updated_at":"2022-12-21T16:14:41Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Ok great! I will see if I can add that.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361602295/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361636187","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361636187","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361636187,"node_id":"IC_kwDOAanjsM5RKOtb","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T16:36:17Z","updated_at":"2022-12-21T16:36:17Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Do you mean just asserting  for example getErrorMessages on the MockComponentLog is not empty? I thought it also may be helpful to have the contents of the message similar to in the ticket\r\n\r\n> Error on line 17 column 5 SXXP0003: Error reported by XML parser: The element type \"xsl:tomplate\" must be terminated by the matching end-tag \"</xsl:tomplate>\".\r\n\r\nin order to demonstrate the issue was fixed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361636187/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361645012","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361645012","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361645012,"node_id":"IC_kwDOAanjsM5RKQ3U","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T16:39:01Z","updated_at":"2022-12-21T16:39:01Z","author_association":"CONTRIBUTOR","body":"> @exceptionfactory Do you mean just asserting for example getErrorMessages on the MockComponentLog is not empty? I thought it also may be helpful to have the contents of the message similar to in the ticket\r\n> \r\n> > Error on line 17 column 5 SXXP0003: Error reported by XML parser: The element type \"xsl:tomplate\" must be terminated by the matching end-tag \"</xsl:tomplate>\".\r\n> \r\n> in order to demonstrate the issue was fixed.\r\n\r\nAsserting an exact message makes the unit test more brittle when it comes to library changes. In this particular case, asserting that the message contains the word `tomplate` seems like a good approach.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361645012/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361674649","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1361674649","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1361674649,"node_id":"IC_kwDOAanjsM5RKYGZ","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T17:02:05Z","updated_at":"2022-12-21T17:02:05Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I added the assertions. Please let me know if that is enough or if there should be more. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1361674649/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1362034962","html_url":"https://github.com/apache/nifi/pull/6798#issuecomment-1362034962","issue_url":"https://api.github.com/repos/apache/nifi/issues/6798","id":1362034962,"node_id":"IC_kwDOAanjsM5RLwES","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-21T20:08:38Z","updated_at":"2022-12-21T20:08:38Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I believe I took care of all of your requests.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1362034962/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363125181","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1363125181","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1363125181,"node_id":"IC_kwDOAanjsM5RP6O9","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-22T17:19:37Z","updated_at":"2022-12-22T17:19:37Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Wondering if this could be revisited. It is functionality my team could use. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363125181/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363395679","html_url":"https://github.com/apache/nifi/pull/6687#issuecomment-1363395679","issue_url":"https://api.github.com/repos/apache/nifi/issues/6687","id":1363395679,"node_id":"IC_kwDOAanjsM5RQ8Rf","user":{"login":"ChrisSamo632","id":12159006,"node_id":"MDQ6VXNlcjEyMTU5MDA2","avatar_url":"https://avatars.githubusercontent.com/u/12159006?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisSamo632","html_url":"https://github.com/ChrisSamo632","followers_url":"https://api.github.com/users/ChrisSamo632/followers","following_url":"https://api.github.com/users/ChrisSamo632/following{/other_user}","gists_url":"https://api.github.com/users/ChrisSamo632/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisSamo632/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisSamo632/subscriptions","organizations_url":"https://api.github.com/users/ChrisSamo632/orgs","repos_url":"https://api.github.com/users/ChrisSamo632/repos","events_url":"https://api.github.com/users/ChrisSamo632/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisSamo632/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-22T22:13:50Z","updated_at":"2022-12-22T22:13:50Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory refactored to use `DescribedValue` enums for the new and other existing properties in these processors - led to me uncovering the fact that I'd mistakenly not added the new result formatting properties to the Paginated processors, which has now been corrected","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363395679/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363411973","html_url":"https://github.com/apache/nifi/pull/6480#issuecomment-1363411973","issue_url":"https://api.github.com/repos/apache/nifi/issues/6480","id":1363411973,"node_id":"IC_kwDOAanjsM5RRAQF","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-22T22:41:25Z","updated_at":"2022-12-22T22:41:25Z","author_association":"CONTRIBUTOR","body":"Ah looks like I missed the property name update and your other changes look good too. thanks much!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363411973/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363956081","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1363956081","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1363956081,"node_id":"IC_kwDOAanjsM5RTFFx","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T13:31:57Z","updated_at":"2022-12-23T13:45:28Z","author_association":"CONTRIBUTOR","body":"> Thanks for working on this new feature @dan-s1. Although most of the implementation makes sense, it raises some questions about treating blanks strings as nulls. Although the `java.net.URI` has a number of constructors, it seems like this may provide more options than necessary. There is some value in simplicity, versus exposing all the possible options, which could also avoid potential confusion related to handling blank strings as nulls.\r\n> \r\n> The discussion on NIFI-10754 originated out of issues with the `urlEncode` function. If the implementation were to be scoped down to just something like `uriEncodePath`, for instance, would that provide the desired functionality?\r\n\r\n@exceptionfactory  If I understand you correctly that means there would have to be potentially at least 3 method calls when constructing a URI, one to urlEncodePath to encode the path, one to urlEncode to encode the parameters and one to concatenate all the strings necessary for creating the URI . I was actually intending to simplify that process of URI construction with one call which would take care of the encoding for both the path and the parameters and building the URI.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1363956081/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364109162","html_url":"https://github.com/apache/nifi/pull/6802#issuecomment-1364109162","issue_url":"https://api.github.com/repos/apache/nifi/issues/6802","id":1364109162,"node_id":"IC_kwDOAanjsM5RTqdq","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T16:46:47Z","updated_at":"2022-12-23T16:46:47Z","author_association":"CONTRIBUTOR","body":"> Why do we need to update nifi-resources.pom?\r\n\r\nThanks for the feedback @Lehel44. The updates to `pom.xml` in `nifi-resources` sets the default value for the `nifi.properties` configuration included in the standard distribution. This follows the convention of other default property values, and also allows custom builds to set different default values using Maven properties.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364109162/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364127208","html_url":"https://github.com/apache/nifi/pull/6805#issuecomment-1364127208","issue_url":"https://api.github.com/repos/apache/nifi/issues/6805","id":1364127208,"node_id":"IC_kwDOAanjsM5RTu3o","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T17:17:34Z","updated_at":"2022-12-23T17:17:34Z","author_association":"CONTRIBUTOR","body":"Thanks for the feedback and suggestions @Lehel44, I updated the wording in several places and included links to OWASP and Spring Security reference pages.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364127208/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364167903","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1364167903","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1364167903,"node_id":"IC_kwDOAanjsM5RT4zf","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T18:22:03Z","updated_at":"2022-12-23T18:22:03Z","author_association":"CONTRIBUTOR","body":"Thanks for clarifying the intent @dan-s1, constructing the complete URI in a single function makes sense.\r\n\r\nWith that background, do you need all of the possible constructor options? It might be simpler to support just one or two options, as opposed to all of the convenience constructors.\r\n\r\nTo the other question, is there a possibility that an empty string should be allowed as an argument instead of treated as `null`? That kind of implicit conversion to `null` seems like it could create confusion, and might actually be a reason to provide a different set of supported arguments so that particular values can be `null` when passed to the `URI` constructors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364167903/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364180293","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1364180293","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1364180293,"node_id":"IC_kwDOAanjsM5RT71F","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T18:46:54Z","updated_at":"2022-12-23T18:48:06Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory \r\n> Thanks for clarifying the intent @dan-s1, constructing the complete URI in a single function makes sense.\r\n> \r\n> With that background, do you need all of the possible constructor options? It might be simpler to support just one or two options, as opposed to all of the convenience constructors.\r\n> \r\nThat is a hard call because I am not sure what different people need.\r\n\r\n> To the other question, is there a possibility that an empty string should be allowed as an argument instead of treated as `null`? That kind of implicit conversion to `null` seems like it could create confusion, and might actually be a reason to provide a different set of supported arguments so that particular values can be `null` when passed to the `URI` constructors.\r\n\r\nPer the URI javadocs\r\n> a component of the new URI may be left undefined by passing null for the corresponding parameter.\r\n\r\nI did not see a way of explicitly passing null except if a blank string was passed. Please let me know otherwise if null can be passed.\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364180293/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364267630","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1364267630","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1364267630,"node_id":"IC_kwDOAanjsM5RURJu","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T19:31:30Z","updated_at":"2022-12-23T19:31:30Z","author_association":"CONTRIBUTOR","body":"Thanks for the reply @dan-s1.\r\n\r\nAs you observed, the Expression Language parser does not support a literal `null` as a function argument. It would take a bit more work, but it seems worth evaluating what it would take to support a literal `null` argument for `getUri`. It seems like it could be scoped to this function.\r\n\r\nFor `getUri` itself, there does not seem to be much value in the three-argument non-hierarchical option for `mailto` and similar links. This could be added later, but I think it makes more sense to focus on the hierarchical URI constructors unless you have a specific use case in mind for non-hierarchical URIs.\r\n\r\nFor hierarchical URIs, the four and five argument constructors appear to fall into the convenience category. For simplicity of the initial implementation, what do you think of limiting the implementation to the seven argument constructor? Although it is the most verbose, it provides the clearest implementation for documentation and usage.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364267630/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364270877","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1364270877","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1364270877,"node_id":"IC_kwDOAanjsM5RUR8d","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T19:40:31Z","updated_at":"2022-12-23T19:40:48Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I am fine with only implementing the seven argument constructor. What did you have in mind for implementing a literal null as a function argument? I only question if it is more clearer than specifying to users to use an empty string which we can convert to null on the back end.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364270877/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364408883","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1364408883","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1364408883,"node_id":"IC_kwDOAanjsM5RUzoz","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-23T23:30:44Z","updated_at":"2022-12-23T23:35:36Z","author_association":"CONTRIBUTOR","body":"> What did you have in mind for implementing a literal null as a function argument? I only question if it is more clearer than specifying to users to use an empty string which we can convert to null on the back end.\r\n\r\nI was thinking that `null` would be handled as a literal along the following lines:\r\n\r\n```\r\n${getUri('https', null, 'nifi.apache.org', 8443, '/docs.html', null, null)}\r\n```\r\n\r\nAn empty string could be passed to any of the string arguments, but allowing a `null` would avoid the need to convert the arguments and clarify expected behavior.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364408883/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364593106","html_url":"https://github.com/apache/nifi/pull/6802#issuecomment-1364593106","issue_url":"https://api.github.com/repos/apache/nifi/issues/6802","id":1364593106,"node_id":"IC_kwDOAanjsM5RVgnS","user":{"login":"Lehel44","id":7498857,"node_id":"MDQ6VXNlcjc0OTg4NTc=","avatar_url":"https://avatars.githubusercontent.com/u/7498857?v=4","gravatar_id":"","url":"https://api.github.com/users/Lehel44","html_url":"https://github.com/Lehel44","followers_url":"https://api.github.com/users/Lehel44/followers","following_url":"https://api.github.com/users/Lehel44/following{/other_user}","gists_url":"https://api.github.com/users/Lehel44/gists{/gist_id}","starred_url":"https://api.github.com/users/Lehel44/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Lehel44/subscriptions","organizations_url":"https://api.github.com/users/Lehel44/orgs","repos_url":"https://api.github.com/users/Lehel44/repos","events_url":"https://api.github.com/users/Lehel44/events{/privacy}","received_events_url":"https://api.github.com/users/Lehel44/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-24T23:00:54Z","updated_at":"2022-12-24T23:00:54Z","author_association":"CONTRIBUTOR","body":"Thank you. LGTM+1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1364593106/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1366789116","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1366789116","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1366789116,"node_id":"IC_kwDOAanjsM5Rd4v8","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-28T16:53:32Z","updated_at":"2022-12-28T16:53:32Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I added the null literal as you requested and modified the documentation to reflect this. Please let me know if my changes are what you were intending. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1366789116/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":1,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367174310","html_url":"https://github.com/apache/nifi/pull/5745#issuecomment-1367174310","issue_url":"https://api.github.com/repos/apache/nifi/issues/5745","id":1367174310,"node_id":"IC_kwDOAanjsM5RfWym","user":{"login":"jynolen","id":1485801,"node_id":"MDQ6VXNlcjE0ODU4MDE=","avatar_url":"https://avatars.githubusercontent.com/u/1485801?v=4","gravatar_id":"","url":"https://api.github.com/users/jynolen","html_url":"https://github.com/jynolen","followers_url":"https://api.github.com/users/jynolen/followers","following_url":"https://api.github.com/users/jynolen/following{/other_user}","gists_url":"https://api.github.com/users/jynolen/gists{/gist_id}","starred_url":"https://api.github.com/users/jynolen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jynolen/subscriptions","organizations_url":"https://api.github.com/users/jynolen/orgs","repos_url":"https://api.github.com/users/jynolen/repos","events_url":"https://api.github.com/users/jynolen/events{/privacy}","received_events_url":"https://api.github.com/users/jynolen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-29T09:09:42Z","updated_at":"2022-12-29T09:09:42Z","author_association":"NONE","body":"Not closed","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367174310/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367243167","html_url":"https://github.com/apache/nifi/pull/6628#issuecomment-1367243167","issue_url":"https://api.github.com/repos/apache/nifi/issues/6628","id":1367243167,"node_id":"IC_kwDOAanjsM5Rfnmf","user":{"login":"ChrisSamo632","id":12159006,"node_id":"MDQ6VXNlcjEyMTU5MDA2","avatar_url":"https://avatars.githubusercontent.com/u/12159006?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisSamo632","html_url":"https://github.com/ChrisSamo632","followers_url":"https://api.github.com/users/ChrisSamo632/followers","following_url":"https://api.github.com/users/ChrisSamo632/following{/other_user}","gists_url":"https://api.github.com/users/ChrisSamo632/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisSamo632/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisSamo632/subscriptions","organizations_url":"https://api.github.com/users/ChrisSamo632/orgs","repos_url":"https://api.github.com/users/ChrisSamo632/repos","events_url":"https://api.github.com/users/ChrisSamo632/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisSamo632/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-29T11:07:18Z","updated_at":"2022-12-29T11:07:18Z","author_association":"CONTRIBUTOR","body":"> My vision for that processor...\r\n\r\n@MikeThomsen FYI I raised [NIFI-11016](https://issues.apache.org/jira/browse/NIFI-11016) to cover your future update to the `UpdateByQueryElasticsearch` processor if you wanted to do that in future","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367243167/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367708341","html_url":"https://github.com/apache/nifi/pull/6812#issuecomment-1367708341","issue_url":"https://api.github.com/repos/apache/nifi/issues/6812","id":1367708341,"node_id":"IC_kwDOAanjsM5RhZK1","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T03:50:55Z","updated_at":"2022-12-30T03:50:55Z","author_association":"CONTRIBUTOR","body":"OK, I won't notify you again about this release, but will get in touch when a new version is available. If you'd rather skip all updates until the next major or minor version, let me know by commenting `@dependabot ignore this major version` or `@dependabot ignore this minor version`.\n\nIf you change your mind, just re-open this PR and I'll resolve any conflicts on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367708341/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367926251","html_url":"https://github.com/apache/nifi/pull/6783#issuecomment-1367926251","issue_url":"https://api.github.com/repos/apache/nifi/issues/6783","id":1367926251,"node_id":"IC_kwDOAanjsM5RiOXr","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T13:43:27Z","updated_at":"2022-12-30T18:25:01Z","author_association":"CONTRIBUTOR","body":"@mark-bathori Thank you for noticing this issue and fixing it\r\n\r\nInstructions to reproduce were clear.   Issue was seen before code fix and code fix resolves the issue.\r\nIssue was more pronounced when using default PS Old Gen, when errors/bulletins kept on coming for a while.\r\n\r\nI noted some minor points, but this is really nice.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1367926251/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368036088","html_url":"https://github.com/apache/nifi/pull/6053#issuecomment-1368036088","issue_url":"https://api.github.com/repos/apache/nifi/issues/6053","id":1368036088,"node_id":"IC_kwDOAanjsM5RipL4","user":{"login":"janis-ax","id":35470742,"node_id":"MDQ6VXNlcjM1NDcwNzQy","avatar_url":"https://avatars.githubusercontent.com/u/35470742?v=4","gravatar_id":"","url":"https://api.github.com/users/janis-ax","html_url":"https://github.com/janis-ax","followers_url":"https://api.github.com/users/janis-ax/followers","following_url":"https://api.github.com/users/janis-ax/following{/other_user}","gists_url":"https://api.github.com/users/janis-ax/gists{/gist_id}","starred_url":"https://api.github.com/users/janis-ax/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/janis-ax/subscriptions","organizations_url":"https://api.github.com/users/janis-ax/orgs","repos_url":"https://api.github.com/users/janis-ax/repos","events_url":"https://api.github.com/users/janis-ax/events{/privacy}","received_events_url":"https://api.github.com/users/janis-ax/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T18:05:50Z","updated_at":"2022-12-30T18:05:50Z","author_association":"NONE","body":"Hey @MaheshKungaria if it's urgent for you: I build the processor, so you can try it out by putting the nar file into your lib folder. \r\n\r\n[nifi-cdc-postgresql-nar-1.20.0-SNAPSHOT.nar.zip](https://github.com/apache/nifi/files/10325786/nifi-cdc-postgresql-nar-1.20.0-SNAPSHOT.nar.zip)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368036088/reactions","total_count":2,"+1":2,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368052164","html_url":"https://github.com/apache/nifi/pull/6053#issuecomment-1368052164","issue_url":"https://api.github.com/repos/apache/nifi/issues/6053","id":1368052164,"node_id":"IC_kwDOAanjsM5RitHE","user":{"login":"davyam","id":32827630,"node_id":"MDQ6VXNlcjMyODI3NjMw","avatar_url":"https://avatars.githubusercontent.com/u/32827630?v=4","gravatar_id":"","url":"https://api.github.com/users/davyam","html_url":"https://github.com/davyam","followers_url":"https://api.github.com/users/davyam/followers","following_url":"https://api.github.com/users/davyam/following{/other_user}","gists_url":"https://api.github.com/users/davyam/gists{/gist_id}","starred_url":"https://api.github.com/users/davyam/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/davyam/subscriptions","organizations_url":"https://api.github.com/users/davyam/orgs","repos_url":"https://api.github.com/users/davyam/repos","events_url":"https://api.github.com/users/davyam/events{/privacy}","received_events_url":"https://api.github.com/users/davyam/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T18:58:05Z","updated_at":"2022-12-30T18:58:05Z","author_association":"NONE","body":"Hey guys, \r\n\r\nwe are a little late, I know, other personal activities get in the way, but I'm still working on the improvements.\r\n\r\nASAP we will have the CapctureChangePostgreSQL processor in NiFi.\r\n\r\nBest regards","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368052164/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368106343","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1368106343","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1368106343,"node_id":"IC_kwDOAanjsM5Ri6Vn","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T22:11:52Z","updated_at":"2022-12-30T22:11:52Z","author_association":"CONTRIBUTOR","body":"@lizhizhou I pushed a minor update to correct build errors related to removed CompressionType values, and also adjusted the unit test class name to match standard conventions. I will continue reviewing other changes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368106343/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368107974","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1368107974","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1368107974,"node_id":"IC_kwDOAanjsM5Ri6vG","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2022-12-30T22:19:10Z","updated_at":"2022-12-30T22:19:10Z","author_association":"CONTRIBUTOR","body":"It looks like the current build is failing due to differing parent POM versions. Recommend rebasing against the current main branch, which would be a good time to squash commits and remove merge commits from the history.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1368107974/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1369138557","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1369138557","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1369138557,"node_id":"IC_kwDOAanjsM5Rm2V9","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-02T18:31:00Z","updated_at":"2023-01-02T18:31:00Z","author_association":"CONTRIBUTOR","body":"@lizhizhou It looks like the latest updates included many historical commits, please rebase and force-push to correct the branch history.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1369138557/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370017990","html_url":"https://github.com/apache/nifi/pull/6685#issuecomment-1370017990","issue_url":"https://api.github.com/repos/apache/nifi/issues/6685","id":1370017990,"node_id":"IC_kwDOAanjsM5RqNDG","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T17:09:56Z","updated_at":"2023-01-03T17:09:56Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the review Mark! I too verified the expected behavior. Thanks for the fix! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370017990/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370027397","html_url":"https://github.com/apache/nifi/pull/6819#issuecomment-1370027397","issue_url":"https://api.github.com/repos/apache/nifi/issues/6819","id":1370027397,"node_id":"IC_kwDOAanjsM5RqPWF","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T17:17:40Z","updated_at":"2023-01-03T17:17:40Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, checked the release notes for any possible compatibility issues and found none. Will merge when Github Actions completes. Thanks for the upgrade!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370027397/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":1,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370103926","html_url":"https://github.com/apache/nifi/pull/6685#issuecomment-1370103926","issue_url":"https://api.github.com/repos/apache/nifi/issues/6685","id":1370103926,"node_id":"IC_kwDOAanjsM5RqiB2","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T18:40:50Z","updated_at":"2023-01-03T18:40:50Z","author_association":"CONTRIBUTOR","body":"Thank you very much @mattyb149 and @markobean for looking at this! ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370103926/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370134527","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1370134527","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1370134527,"node_id":"IC_kwDOAanjsM5Rqpf_","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T19:15:34Z","updated_at":"2023-01-03T19:17:50Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I noticed on my latest changes, the build ci-workflow / Ubuntu Zulu JDK 11 HI failed but it failed on a unit test unrelated to my changes. The unit test which failed is `org.apache.nifi.processors.standard.TestHashContent`\r\nAlso the ci-workflow / Ubuntu Zulu JDK 17 EN timed out. Please advise.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370134527/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370170118","html_url":"https://github.com/apache/nifi/pull/6821#issuecomment-1370170118","issue_url":"https://api.github.com/repos/apache/nifi/issues/6821","id":1370170118,"node_id":"IC_kwDOAanjsM5RqyMG","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T19:58:18Z","updated_at":"2023-01-03T19:58:18Z","author_association":"CONTRIBUTOR","body":"The [DecryptContent Flow](https://issues.apache.org/jira/secure/attachment/13054291/DecryptContent_Flow.json) attached to [NIFI-11022](https://issues.apache.org/jira/browse/NIFI-11022) includes multiple Process Group configurations with `EncryptContent` and the new `DecryptContent` Processors.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370170118/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370171923","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1370171923","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1370171923,"node_id":"IC_kwDOAanjsM5RqyoT","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T20:00:32Z","updated_at":"2023-01-03T20:00:32Z","author_association":"CONTRIBUTOR","body":"The latest PR build appears to be working as expected, it sounds like the other issues were unrelated intermittent failures.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370171923/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370182827","html_url":"https://github.com/apache/nifi/pull/6813#issuecomment-1370182827","issue_url":"https://api.github.com/repos/apache/nifi/issues/6813","id":1370182827,"node_id":"IC_kwDOAanjsM5Rq1Sr","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-03T20:13:25Z","updated_at":"2023-01-03T20:13:25Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I was able to refactor most of the lenient code to avoid the `org.mockito.exceptions.misusing.UnnecessaryStubbingException`\r\nThere is one class though which was too complex\r\n`org.apache.nifi.web.controller.ControllerSearchServiceTest` as it has 17 tests and it seems each test has different cause for `org.mockito.exceptions.misusing.UnnecessaryStubbingException`. So I will leave it as is.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1370182827/reactions","total_count":2,"+1":2,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1371264005","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1371264005","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1371264005,"node_id":"IC_kwDOAanjsM5Ru9QF","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-04T18:16:17Z","updated_at":"2023-01-04T18:16:17Z","author_association":"CONTRIBUTOR","body":"Thanks for adding the `Time Field` property @lizhizhou.\r\n\r\nTo simplify the final stages of the review, can you squash all changes into a single commit? The current list of 27 commits still includes references to other pull requests, so this is a good opportunity to squash all changes as this nears completion.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1371264005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372116818","html_url":"https://github.com/apache/nifi/pull/6822#issuecomment-1372116818","issue_url":"https://api.github.com/repos/apache/nifi/issues/6822","id":1372116818,"node_id":"IC_kwDOAanjsM5RyNdS","user":{"login":"mr1716","id":9115680,"node_id":"MDQ6VXNlcjkxMTU2ODA=","avatar_url":"https://avatars.githubusercontent.com/u/9115680?v=4","gravatar_id":"","url":"https://api.github.com/users/mr1716","html_url":"https://github.com/mr1716","followers_url":"https://api.github.com/users/mr1716/followers","following_url":"https://api.github.com/users/mr1716/following{/other_user}","gists_url":"https://api.github.com/users/mr1716/gists{/gist_id}","starred_url":"https://api.github.com/users/mr1716/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mr1716/subscriptions","organizations_url":"https://api.github.com/users/mr1716/orgs","repos_url":"https://api.github.com/users/mr1716/repos","events_url":"https://api.github.com/users/mr1716/events{/privacy}","received_events_url":"https://api.github.com/users/mr1716/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-05T11:47:28Z","updated_at":"2023-01-05T11:47:28Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory thanks. Will close this PR then","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372116818/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372398279","html_url":"https://github.com/apache/nifi/pull/6689#issuecomment-1372398279","issue_url":"https://api.github.com/repos/apache/nifi/issues/6689","id":1372398279,"node_id":"IC_kwDOAanjsM5RzSLH","user":{"login":"dan-s1","id":8440116,"node_id":"MDQ6VXNlcjg0NDAxMTY=","avatar_url":"https://avatars.githubusercontent.com/u/8440116?v=4","gravatar_id":"","url":"https://api.github.com/users/dan-s1","html_url":"https://github.com/dan-s1","followers_url":"https://api.github.com/users/dan-s1/followers","following_url":"https://api.github.com/users/dan-s1/following{/other_user}","gists_url":"https://api.github.com/users/dan-s1/gists{/gist_id}","starred_url":"https://api.github.com/users/dan-s1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dan-s1/subscriptions","organizations_url":"https://api.github.com/users/dan-s1/orgs","repos_url":"https://api.github.com/users/dan-s1/repos","events_url":"https://api.github.com/users/dan-s1/events{/privacy}","received_events_url":"https://api.github.com/users/dan-s1/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-05T15:54:02Z","updated_at":"2023-01-05T15:54:02Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory Is there anything else that needs to be done for this PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372398279/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372856078","html_url":"https://github.com/apache/nifi/pull/6779#issuecomment-1372856078","issue_url":"https://api.github.com/repos/apache/nifi/issues/6779","id":1372856078,"node_id":"IC_kwDOAanjsM5R1B8O","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-05T22:15:17Z","updated_at":"2023-01-05T22:15:17Z","author_association":"CONTRIBUTOR","body":"Thanks for the latest updated @exceptionfactory . Ran into another issue when testing, unfortunately.\r\nI have a statefulset that had 3 replicas. `nifi-1` was both the primary node and the coordinator.\r\nI then scaled the statefulset to 0.\r\nThis didn't expire the lease though.:\r\n```\r\nmpayne@cs-654103601966-default:~$ k get leases\r\nNAME                  HOLDER             AGE\r\ncluster-coordinator   nifi-1.nifi:4423   63m\r\nprimary-node          nifi-1.nifi:4423   62m\r\n```\r\n\r\nEven after I waited over an hour the lease remains there. If I look at it:\r\n```\r\nmpayne@cs-654103601966-default:~$ k get lease cluster-coordinator -o yaml\r\napiVersion: coordination.k8s.io/v1\r\nkind: Lease\r\nmetadata:\r\n  creationTimestamp: \"2023-01-05T21:06:29Z\"\r\n  name: cluster-coordinator\r\n  namespace: nifi\r\n  resourceVersion: \"252479\"\r\n  uid: 7e5d05d1-3b20-426d-8822-5cff92eb183f\r\nspec:\r\n  acquireTime: \"2023-01-05T22:03:17.355642Z\"\r\n  holderIdentity: nifi-1.nifi:4423\r\n  leaseDurationSeconds: 15\r\n  leaseTransitions: 2\r\n  renewTime: \"2023-01-05T22:04:13.480562Z\"\r\n\r\nmpayne@cs-654103601966-default:~$ date\r\nThu 05 Jan 2023 10:11:34 PM UTC\r\n```\r\n\r\nWe can see here that date is well past the renewTime. (10:11:34 PM = 22:11:34 PM vs 22:04:13 as the renew time).\r\nSo the least appears to remain, and the new node, `nifi-0` cannot proceed:\r\n\r\n```\r\n2023-01-05 22:09:37,513 INFO [main] o.a.n.c.p.AbstractNodeProtocolSender Cluster Coordinator is located at nifi-1.nifi:4423. Will send Cluster Connection Request to this address\r\n2023-01-05 22:09:37,535 WARN [main] o.a.nifi.controller.StandardFlowService Failed to connect to cluster due to: org.apache.nifi.cluster.protocol.ProtocolException: Failed to create socket to nifi-1.nifi:4423 due to: java.net.UnknownHostException: nifi-1.nifi\r\n2023-01-05 22:09:42,550 INFO [main] o.a.n.c.c.n.LeaderElectionNodeProtocolSender Determined that Cluster Coordinator is located at nifi-1.nifi:4423; will use this address for sending heartbeat messages\r\n2023-01-05 22:09:42,550 INFO [main] o.a.n.c.p.AbstractNodeProtocolSender Cluster Coordinator is located at nifi-1.nifi:4423. Will send Cluster Connection Request to this address\r\n2023-01-05 22:09:42,550 WARN [main] o.a.nifi.controller.StandardFlowService Failed to connect to cluster due to: org.apache.nifi.cluster.protocol.ProtocolException: Failed to create socket to nifi-1.nifi:4423 due to: java.net.UnknownHostException: nifi-1.nifi\r\n```\r\n\r\nAs soon as I delete the lease (`k delete lease cluster-coordinator`) all works as expected.\r\nBut we obviously can't have users manually deleting the lease all the time.\r\nNot sure if this is the intended behavior, and we should be ignoring the lease if the renewTime has expired? Or is it because we don't actually participate in the leader election on startup since there appears to already be an elected leader?\r\nEither way, we need to make sure that we can properly handle this condition, where the lease points to a node that is no longer part of the cluster","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1372856078/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373154084","html_url":"https://github.com/apache/nifi/pull/6779#issuecomment-1373154084","issue_url":"https://api.github.com/repos/apache/nifi/issues/6779","id":1373154084,"node_id":"IC_kwDOAanjsM5R2Ksk","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-06T05:11:42Z","updated_at":"2023-01-06T05:11:42Z","author_association":"CONTRIBUTOR","body":"Good find on the expired Lease handling @markap14, thanks for the additional testing.\r\n\r\nThe implementation of `StandardLeaderElectionCommandProvider.findLeader()` was always returning the last Lease Holder Identity, regardless of whether the Lease had expired. This broke the contract of `LeaderElectionManager.getLeader()` which callers expected to return a `null` when there is no leader for the role requested. I updated `findLeader()` to return `Optional<String>`, and check the expiration of the Lease so that `findLeader` returns `Optional.empty()` when the Lease has expired. The expiration is determined based on `renewTime` plus `leaseDurationSeconds`, following the definition of those fields in the [Kubernetes LeaseSpec](https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/lease-v1/#LeaseSpec).\r\n\r\nTo make the implementation contract clearer, I also changed the return of `LeaderElectionManager.getLeader()` from `String` to `Optional<String>`. Although the method documentation noted that `null` indicates no leader is elected, changing the return to use `Optional` clarifies that detail without requiring too many adjustments. This seemed like a good time to make the change as part of promoting `LeaderElectionManager` to an extension component interface.\r\n\r\nFollowing those changes, shutting down all nodes, then starting up a single node that was not previously the Cluster Coordinator or Primary Node worked as expected. The single node was able to become the leader for those roles.\r\n\r\nIt is worth noting that the Lease objects continue to live in the Kubernetes namespace even if all nodes have been shutdown for an extended period. The `renewTime` indicates the last update, and the corrected logic will now update existing values as needed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373154084/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373204339","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1373204339","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1373204339,"node_id":"IC_kwDOAanjsM5R2W9z","user":{"login":"lizhizhou","id":1780018,"node_id":"MDQ6VXNlcjE3ODAwMTg=","avatar_url":"https://avatars.githubusercontent.com/u/1780018?v=4","gravatar_id":"","url":"https://api.github.com/users/lizhizhou","html_url":"https://github.com/lizhizhou","followers_url":"https://api.github.com/users/lizhizhou/followers","following_url":"https://api.github.com/users/lizhizhou/following{/other_user}","gists_url":"https://api.github.com/users/lizhizhou/gists{/gist_id}","starred_url":"https://api.github.com/users/lizhizhou/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lizhizhou/subscriptions","organizations_url":"https://api.github.com/users/lizhizhou/orgs","repos_url":"https://api.github.com/users/lizhizhou/repos","events_url":"https://api.github.com/users/lizhizhou/events{/privacy}","received_events_url":"https://api.github.com/users/lizhizhou/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-06T06:41:03Z","updated_at":"2023-01-06T06:41:03Z","author_association":"CONTRIBUTOR","body":"> Thanks for adding the `Time Field` property @lizhizhou.\r\n> \r\n> To simplify the final stages of the review, can you squash all changes into a single commit? The current list of 27 commits still includes references to other pull requests, so this is a good opportunity to squash all changes as this nears completion.\r\n\r\nAll changes have been merge to single commit now.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373204339/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":1,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373918612","html_url":"https://github.com/apache/nifi/pull/6823#issuecomment-1373918612","issue_url":"https://api.github.com/repos/apache/nifi/issues/6823","id":1373918612,"node_id":"IC_kwDOAanjsM5R5FWU","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-06T17:23:32Z","updated_at":"2023-01-06T17:23:32Z","author_association":"CONTRIBUTOR","body":"Thanks for the detailed and helpful feedback @dan-s1! I pushed changes to include using the `TempDir` annotation, and also adjusted the `TestConnectionStatusAnalytics` class to remove the unnecessary casting in multiple places.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1373918612/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1374136810","html_url":"https://github.com/apache/nifi/pull/6828#issuecomment-1374136810","issue_url":"https://api.github.com/repos/apache/nifi/issues/6828","id":1374136810,"node_id":"IC_kwDOAanjsM5R56nq","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-06T21:11:13Z","updated_at":"2023-01-06T21:11:13Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the improvement! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1374136810/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375209455","html_url":"https://github.com/apache/nifi/pull/6779#issuecomment-1375209455","issue_url":"https://api.github.com/repos/apache/nifi/issues/6779","id":1375209455,"node_id":"IC_kwDOAanjsM5R-Afv","user":{"login":"mh013370","id":86672176,"node_id":"MDQ6VXNlcjg2NjcyMTc2","avatar_url":"https://avatars.githubusercontent.com/u/86672176?v=4","gravatar_id":"","url":"https://api.github.com/users/mh013370","html_url":"https://github.com/mh013370","followers_url":"https://api.github.com/users/mh013370/followers","following_url":"https://api.github.com/users/mh013370/following{/other_user}","gists_url":"https://api.github.com/users/mh013370/gists{/gist_id}","starred_url":"https://api.github.com/users/mh013370/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mh013370/subscriptions","organizations_url":"https://api.github.com/users/mh013370/orgs","repos_url":"https://api.github.com/users/mh013370/repos","events_url":"https://api.github.com/users/mh013370/events{/privacy}","received_events_url":"https://api.github.com/users/mh013370/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T07:35:06Z","updated_at":"2023-01-09T07:35:28Z","author_association":"CONTRIBUTOR","body":"It looks like a `ConfigMap` is created for each component that requires state management. Do you have any concern about the size of state (in bytes) that may be written to any one `ConfigMap`?\r\n\r\nThe [maximum size of a ConfigMap is 1MiB](https://kubernetes.io/docs/concepts/configuration/configmap/#:~:text=The%20data%20stored%20in%20a,separate%20database%20or%20file%20service.). Do you anticipate any compatibility issues where a use case would work with Zookeeper but would not work with ConfigMaps?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375209455/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375553261","html_url":"https://github.com/apache/nifi/pull/6581#issuecomment-1375553261","issue_url":"https://api.github.com/repos/apache/nifi/issues/6581","id":1375553261,"node_id":"IC_kwDOAanjsM5R_Ubt","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T12:26:45Z","updated_at":"2023-01-09T12:26:45Z","author_association":"CONTRIBUTOR","body":"@mattyb149 would it be possible to also update the additionalDetails page to show/describe the new table?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375553261/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375670809","html_url":"https://github.com/apache/nifi/pull/6779#issuecomment-1375670809","issue_url":"https://api.github.com/repos/apache/nifi/issues/6779","id":1375670809,"node_id":"IC_kwDOAanjsM5R_xIZ","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T14:04:28Z","updated_at":"2023-01-09T14:04:28Z","author_association":"CONTRIBUTOR","body":"> It looks like a `ConfigMap` is created for each component that requires state management. Do you have any concern about the size of state (in bytes) that may be written to any one `ConfigMap`?\r\n> \r\n> The [maximum size of a ConfigMap is 1MiB](https://kubernetes.io/docs/concepts/configuration/configmap/#:~:text=The%20data%20stored%20in%20a,separate%20database%20or%20file%20service.). Do you anticipate any compatibility issues where a use case would work with Zookeeper but would not work with ConfigMaps?\r\n\r\nThanks for the feedback @michael81877. The standard ZooKeeper node storage is also [limited to 1 MB](https://zookeeper.apache.org/doc/r3.8.0/apidocs/zookeeper-server/org/apache/zookeeper/ZooKeeper.html#create-java.lang.String-byte:A-java.util.List-org.apache.zookeeper.CreateMode-), so the standard size limits of a Kubernetes ConfigMap align well with current behavior.\r\n\r\nWith that background and similar size limitations, I do not expect any compatibility issues based on size limitations. It is possible that other behavioral nuances could surface as a result of these alternative State Management and Leader Election implementations.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375670809/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375740577","html_url":"https://github.com/apache/nifi/pull/6831#issuecomment-1375740577","issue_url":"https://api.github.com/repos/apache/nifi/issues/6831","id":1375740577,"node_id":"IC_kwDOAanjsM5SACKh","user":{"login":"krisztina-zsihovszki","id":76993418,"node_id":"MDQ6VXNlcjc2OTkzNDE4","avatar_url":"https://avatars.githubusercontent.com/u/76993418?v=4","gravatar_id":"","url":"https://api.github.com/users/krisztina-zsihovszki","html_url":"https://github.com/krisztina-zsihovszki","followers_url":"https://api.github.com/users/krisztina-zsihovszki/followers","following_url":"https://api.github.com/users/krisztina-zsihovszki/following{/other_user}","gists_url":"https://api.github.com/users/krisztina-zsihovszki/gists{/gist_id}","starred_url":"https://api.github.com/users/krisztina-zsihovszki/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/krisztina-zsihovszki/subscriptions","organizations_url":"https://api.github.com/users/krisztina-zsihovszki/orgs","repos_url":"https://api.github.com/users/krisztina-zsihovszki/repos","events_url":"https://api.github.com/users/krisztina-zsihovszki/events{/privacy}","received_events_url":"https://api.github.com/users/krisztina-zsihovszki/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T14:52:49Z","updated_at":"2023-01-09T14:52:49Z","author_association":"CONTRIBUTOR","body":"recheck","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375740577/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375949842","html_url":"https://github.com/apache/nifi/pull/6581#issuecomment-1375949842","issue_url":"https://api.github.com/repos/apache/nifi/issues/6581","id":1375949842,"node_id":"IC_kwDOAanjsM5SA1QS","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T16:59:00Z","updated_at":"2023-01-09T16:59:00Z","author_association":"CONTRIBUTOR","body":"Shoot I meant to do that but apparently forgot. I opened https://issues.apache.org/jira/browse/NIFI-11033 to cover the doc","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1375949842/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1376050217","html_url":"https://github.com/apache/nifi/pull/6823#issuecomment-1376050217","issue_url":"https://api.github.com/repos/apache/nifi/issues/6823","id":1376050217,"node_id":"IC_kwDOAanjsM5SBNwp","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-09T18:15:29Z","updated_at":"2023-01-09T18:15:29Z","author_association":"CONTRIBUTOR","body":"Reviewing as well, thanks @dan-s1 for the thorough review!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1376050217/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1377709038","html_url":"https://github.com/apache/nifi/pull/6829#issuecomment-1377709038","issue_url":"https://api.github.com/repos/apache/nifi/issues/6829","id":1377709038,"node_id":"IC_kwDOAanjsM5SHivu","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-10T18:56:23Z","updated_at":"2023-01-10T18:56:23Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, thanks for the improvement! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1377709038/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378541589","html_url":"https://github.com/apache/nifi/pull/6560#issuecomment-1378541589","issue_url":"https://api.github.com/repos/apache/nifi/issues/6560","id":1378541589,"node_id":"IC_kwDOAanjsM5SKuAV","user":{"login":"mh013370","id":86672176,"node_id":"MDQ6VXNlcjg2NjcyMTc2","avatar_url":"https://avatars.githubusercontent.com/u/86672176?v=4","gravatar_id":"","url":"https://api.github.com/users/mh013370","html_url":"https://github.com/mh013370","followers_url":"https://api.github.com/users/mh013370/followers","following_url":"https://api.github.com/users/mh013370/following{/other_user}","gists_url":"https://api.github.com/users/mh013370/gists{/gist_id}","starred_url":"https://api.github.com/users/mh013370/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mh013370/subscriptions","organizations_url":"https://api.github.com/users/mh013370/orgs","repos_url":"https://api.github.com/users/mh013370/repos","events_url":"https://api.github.com/users/mh013370/events{/privacy}","received_events_url":"https://api.github.com/users/mh013370/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T10:31:44Z","updated_at":"2023-01-11T10:31:44Z","author_association":"CONTRIBUTOR","body":"Are there any other changes needed for this PR? Is it possible to get it merged?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378541589/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378787556","html_url":"https://github.com/apache/nifi/pull/6829#issuecomment-1378787556","issue_url":"https://api.github.com/repos/apache/nifi/issues/6829","id":1378787556,"node_id":"IC_kwDOAanjsM5SLqDk","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T13:54:39Z","updated_at":"2023-01-11T13:54:39Z","author_association":"CONTRIBUTOR","body":"Thank you @mattyb149 !","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378787556/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378897043","html_url":"https://github.com/apache/nifi/pull/6724#issuecomment-1378897043","issue_url":"https://api.github.com/repos/apache/nifi/issues/6724","id":1378897043,"node_id":"IC_kwDOAanjsM5SMEyT","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T15:05:03Z","updated_at":"2023-01-11T15:05:03Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1378897043/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379237396","html_url":"https://github.com/apache/nifi/pull/6724#issuecomment-1379237396","issue_url":"https://api.github.com/repos/apache/nifi/issues/6724","id":1379237396,"node_id":"IC_kwDOAanjsM5SNX4U","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T17:28:43Z","updated_at":"2023-01-11T17:28:43Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, verified the expected behavior and noted the performance improvements. Thanks! merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379237396/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379380476","html_url":"https://github.com/apache/nifi/pull/6768#issuecomment-1379380476","issue_url":"https://api.github.com/repos/apache/nifi/issues/6768","id":1379380476,"node_id":"IC_kwDOAanjsM5SN6z8","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T19:28:57Z","updated_at":"2023-01-11T19:28:57Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, verified the icons show up and display the comment as a tooltip for both controller services and reporting tasks. Thanks for the improvement! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379380476/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379417107","html_url":"https://github.com/apache/nifi/pull/6770#issuecomment-1379417107","issue_url":"https://api.github.com/repos/apache/nifi/issues/6770","id":1379417107,"node_id":"IC_kwDOAanjsM5SODwT","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T20:04:21Z","updated_at":"2023-01-11T20:04:21Z","author_association":"CONTRIBUTOR","body":"+1 LGTM but would like to get @markap14 's thoughts on this, I assume there was a reason why we didn't have an EL validator for non-stateful mode. Having said that, if an existing UpdateAttribute becomes invalid when upgrading to a NiFi that has this PR, then it appears bound to fail anyway, so marking the processor as invalid seems legit.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379417107/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379479990","html_url":"https://github.com/apache/nifi/pull/6712#issuecomment-1379479990","issue_url":"https://api.github.com/repos/apache/nifi/issues/6712","id":1379479990,"node_id":"IC_kwDOAanjsM5SOTG2","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-11T21:02:30Z","updated_at":"2023-01-11T21:02:30Z","author_association":"CONTRIBUTOR","body":"@ChrisSamo632 Updated.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379479990/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379671249","html_url":"https://github.com/apache/nifi/pull/6768#issuecomment-1379671249","issue_url":"https://api.github.com/repos/apache/nifi/issues/6768","id":1379671249,"node_id":"IC_kwDOAanjsM5SPBzR","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T00:55:17Z","updated_at":"2023-01-12T00:55:17Z","author_association":"CONTRIBUTOR","body":"Thank you (again :) ) @mattyb149  ! ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1379671249/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380612266","html_url":"https://github.com/apache/nifi/pull/6834#issuecomment-1380612266","issue_url":"https://api.github.com/repos/apache/nifi/issues/6834","id":1380612266,"node_id":"IC_kwDOAanjsM5SSniq","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T16:00:15Z","updated_at":"2023-01-12T16:00:15Z","author_association":"CONTRIBUTOR","body":"@mattyb149 I started NiFi on this branch and didn't see any of the metrics you added exposed on the metrics endpoint. Do these only get generated in clustered mode? ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380612266/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380779992","html_url":"https://github.com/apache/nifi/pull/6538#issuecomment-1380779992","issue_url":"https://api.github.com/repos/apache/nifi/issues/6538","id":1380779992,"node_id":"IC_kwDOAanjsM5STQfY","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T17:47:26Z","updated_at":"2023-01-12T17:47:26Z","author_association":"CONTRIBUTOR","body":"Thanks for working on this @p-kimberley, closing for now based on comments about waiting for a review of current handling of parent record nodes. Feel free to reopen when that is addressed, or when you have evaluated additional changes to unit tests.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380779992/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380875595","html_url":"https://github.com/apache/nifi/pull/6712#issuecomment-1380875595","issue_url":"https://api.github.com/repos/apache/nifi/issues/6712","id":1380875595,"node_id":"IC_kwDOAanjsM5STn1L","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T19:03:35Z","updated_at":"2023-01-12T19:03:35Z","author_association":"CONTRIBUTOR","body":"Going to close this and start over.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380875595/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380917797","html_url":"https://github.com/apache/nifi/pull/6840#issuecomment-1380917797","issue_url":"https://api.github.com/repos/apache/nifi/issues/6840","id":1380917797,"node_id":"IC_kwDOAanjsM5STyIl","user":{"login":"mr1716","id":9115680,"node_id":"MDQ6VXNlcjkxMTU2ODA=","avatar_url":"https://avatars.githubusercontent.com/u/9115680?v=4","gravatar_id":"","url":"https://api.github.com/users/mr1716","html_url":"https://github.com/mr1716","followers_url":"https://api.github.com/users/mr1716/followers","following_url":"https://api.github.com/users/mr1716/following{/other_user}","gists_url":"https://api.github.com/users/mr1716/gists{/gist_id}","starred_url":"https://api.github.com/users/mr1716/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mr1716/subscriptions","organizations_url":"https://api.github.com/users/mr1716/orgs","repos_url":"https://api.github.com/users/mr1716/repos","events_url":"https://api.github.com/users/mr1716/events{/privacy}","received_events_url":"https://api.github.com/users/mr1716/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T19:42:06Z","updated_at":"2023-01-12T19:42:06Z","author_association":"CONTRIBUTOR","body":"This ran and was successful the first time when it ran in my private repo.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1380917797/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381043090","html_url":"https://github.com/apache/nifi/pull/6827#issuecomment-1381043090","issue_url":"https://api.github.com/repos/apache/nifi/issues/6827","id":1381043090,"node_id":"IC_kwDOAanjsM5SUQuS","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T22:03:14Z","updated_at":"2023-01-12T22:03:14Z","author_association":"CONTRIBUTOR","body":"Upgrading html-webpack-plugin requires upgrading to Webpack 5, which requires more substantive changes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381043090/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381043147","html_url":"https://github.com/apache/nifi/pull/6827#issuecomment-1381043147","issue_url":"https://api.github.com/repos/apache/nifi/issues/6827","id":1381043147,"node_id":"IC_kwDOAanjsM5SUQvL","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2023-01-12T22:03:19Z","updated_at":"2023-01-12T22:03:19Z","author_association":"CONTRIBUTOR","body":"OK, I won't notify you again about this release, but will get in touch when a new version is available.\n\nIf you change your mind, just re-open this PR and I'll resolve any conflicts on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381043147/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381211467","html_url":"https://github.com/apache/nifi/pull/6416#issuecomment-1381211467","issue_url":"https://api.github.com/repos/apache/nifi/issues/6416","id":1381211467,"node_id":"IC_kwDOAanjsM5SU51L","user":{"login":"lizhizhou","id":1780018,"node_id":"MDQ6VXNlcjE3ODAwMTg=","avatar_url":"https://avatars.githubusercontent.com/u/1780018?v=4","gravatar_id":"","url":"https://api.github.com/users/lizhizhou","html_url":"https://github.com/lizhizhou","followers_url":"https://api.github.com/users/lizhizhou/followers","following_url":"https://api.github.com/users/lizhizhou/following{/other_user}","gists_url":"https://api.github.com/users/lizhizhou/gists{/gist_id}","starred_url":"https://api.github.com/users/lizhizhou/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lizhizhou/subscriptions","organizations_url":"https://api.github.com/users/lizhizhou/orgs","repos_url":"https://api.github.com/users/lizhizhou/repos","events_url":"https://api.github.com/users/lizhizhou/events{/privacy}","received_events_url":"https://api.github.com/users/lizhizhou/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-13T01:53:58Z","updated_at":"2023-01-13T01:53:58Z","author_association":"CONTRIBUTOR","body":"@exceptionfactory I add the Apache IoTDB Query in https://github.com/apache/nifi/pull/6844. Please help to review the code. Thanks a lot.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1381211467/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382068327","html_url":"https://github.com/apache/nifi/pull/6770#issuecomment-1382068327","issue_url":"https://api.github.com/repos/apache/nifi/issues/6770","id":1382068327,"node_id":"IC_kwDOAanjsM5SYLBn","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-13T16:10:50Z","updated_at":"2023-01-13T16:10:50Z","author_association":"CONTRIBUTOR","body":"Thank you very much @mattyb149 for looking at this!\r\n\r\nYou raise a very good point about why we don't have an EL validator for non-stateful mode.\r\n\r\nThis issue started when stateful was added [NIFI-1582](https://issues.apache.org/jira/browse/NIFI-1582), as part of a large \r\n[commit](https://github.com/apache/nifi/commit/e36b37692c528b2e9774f9f49737eb2d1a05960f#diff-7f99fec326074ddcb38d63156204fbcff6693bf7dc5eedd60c6a477af00d608b)\r\n\r\nThere is a discussion that touches on it [here](https://github.com/apache/nifi/pull/319#discussion_r59995999)\r\nbut it is unclear why this functionality was removed for stateless.\r\n\r\nMy best guess is this was an oversight that slipped in due to the many other things happening in that commit.\r\n\r\nI just tested it before and after the fix and in both cases the flowfiles will accumulate on input queue and age off (if age off is set).\r\n\r\nAlso, if flow containing UpdateAttribute with malformed EL is in registry, it can be put under version control before the fix and nifi can be updated with fix and/or a new instance of flow can be pulled to nifi (after the fix) without issues (i.e. there will be a green checkbox on the process group in both these cases).\r\n\r\nSo the sanity checks pass as far as existing users seeing new behavior that could cause them concern so we should be good, but hopefully @markap14 can take a quick look to see if something is being overlooked here.\r\n\r\nIn any event, thank you once again @mattyb149.   I greatly appreciate you taking the time to look at this!\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382068327/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382191556","html_url":"https://github.com/apache/nifi/pull/6651#issuecomment-1382191556","issue_url":"https://api.github.com/repos/apache/nifi/issues/6651","id":1382191556,"node_id":"IC_kwDOAanjsM5SYpHE","user":{"login":"kevdoran","id":5102332,"node_id":"MDQ6VXNlcjUxMDIzMzI=","avatar_url":"https://avatars.githubusercontent.com/u/5102332?v=4","gravatar_id":"","url":"https://api.github.com/users/kevdoran","html_url":"https://github.com/kevdoran","followers_url":"https://api.github.com/users/kevdoran/followers","following_url":"https://api.github.com/users/kevdoran/following{/other_user}","gists_url":"https://api.github.com/users/kevdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/kevdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevdoran/subscriptions","organizations_url":"https://api.github.com/users/kevdoran/orgs","repos_url":"https://api.github.com/users/kevdoran/repos","events_url":"https://api.github.com/users/kevdoran/events{/privacy}","received_events_url":"https://api.github.com/users/kevdoran/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-13T17:51:55Z","updated_at":"2023-01-13T17:51:55Z","author_association":"CONTRIBUTOR","body":"Thanks for the contribution @arun-prakash-fokus and thanks for reviewing @exceptionfactory. Definitely a nice improvement.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382191556/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382709897","html_url":"https://github.com/apache/nifi/pull/6797#issuecomment-1382709897","issue_url":"https://api.github.com/repos/apache/nifi/issues/6797","id":1382709897,"node_id":"IC_kwDOAanjsM5SanqJ","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-14T10:34:39Z","updated_at":"2023-01-14T10:34:39Z","author_association":"CONTRIBUTOR","body":"Thanks @ChrisSamo632 for the feedback, this is a fair point. I adjusted the PR to have an ``include-all`` profile.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382709897/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382869924","html_url":"https://github.com/apache/nifi/pull/6845#issuecomment-1382869924","issue_url":"https://api.github.com/repos/apache/nifi/issues/6845","id":1382869924,"node_id":"IC_kwDOAanjsM5SbOuk","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-14T17:50:12Z","updated_at":"2023-01-14T17:50:12Z","author_association":"CONTRIBUTOR","body":"Was able to use this successfully. Just as a note for someone willing to test it with Gmail:\r\n````\r\nSMTP hostname: smtp.gmail.com\r\nSMTP Port: 465\r\n+ setting SMPT username to my gmail address\r\n````\r\nI'm a +1 from a user perspective. Will let someone else have a look at the code.\r\nLeft a minor typo comment and suggestion on the docs.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382869924/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382890994","html_url":"https://github.com/apache/nifi/pull/6797#issuecomment-1382890994","issue_url":"https://api.github.com/repos/apache/nifi/issues/6797","id":1382890994,"node_id":"IC_kwDOAanjsM5SbT3y","user":{"login":"ChrisSamo632","id":12159006,"node_id":"MDQ6VXNlcjEyMTU5MDA2","avatar_url":"https://avatars.githubusercontent.com/u/12159006?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisSamo632","html_url":"https://github.com/ChrisSamo632","followers_url":"https://api.github.com/users/ChrisSamo632/followers","following_url":"https://api.github.com/users/ChrisSamo632/following{/other_user}","gists_url":"https://api.github.com/users/ChrisSamo632/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisSamo632/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisSamo632/subscriptions","organizations_url":"https://api.github.com/users/ChrisSamo632/orgs","repos_url":"https://api.github.com/users/ChrisSamo632/repos","events_url":"https://api.github.com/users/ChrisSamo632/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisSamo632/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-14T19:07:26Z","updated_at":"2023-01-14T19:07:26Z","author_association":"CONTRIBUTOR","body":"> Thanks @ChrisSamo632 for the feedback, this is a fair point. I adjusted the PR to have an `include-all` profile.\r\n\r\nThanks @pvillard31, a `mvn` build with `-P include-all` did indeed seem to include the extra modules  \r\n\r\nJust the documentation update that I think would be worthwhile to add","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382890994/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382912833","html_url":"https://github.com/apache/nifi/pull/6708#issuecomment-1382912833","issue_url":"https://api.github.com/repos/apache/nifi/issues/6708","id":1382912833,"node_id":"IC_kwDOAanjsM5SbZNB","user":{"login":"ChrisSamo632","id":12159006,"node_id":"MDQ6VXNlcjEyMTU5MDA2","avatar_url":"https://avatars.githubusercontent.com/u/12159006?v=4","gravatar_id":"","url":"https://api.github.com/users/ChrisSamo632","html_url":"https://github.com/ChrisSamo632","followers_url":"https://api.github.com/users/ChrisSamo632/followers","following_url":"https://api.github.com/users/ChrisSamo632/following{/other_user}","gists_url":"https://api.github.com/users/ChrisSamo632/gists{/gist_id}","starred_url":"https://api.github.com/users/ChrisSamo632/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ChrisSamo632/subscriptions","organizations_url":"https://api.github.com/users/ChrisSamo632/orgs","repos_url":"https://api.github.com/users/ChrisSamo632/repos","events_url":"https://api.github.com/users/ChrisSamo632/events{/privacy}","received_events_url":"https://api.github.com/users/ChrisSamo632/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-14T20:45:59Z","updated_at":"2023-01-14T22:29:44Z","author_association":"CONTRIBUTOR","body":"@MikeThomsen I rebased on `main` latest and added a new `TestUpdateRecord` unit test (`testSetNestedRecordWithUnescapeJsonCall`) based on the example you provided and it seems to work without issue. Can you take a look and see whether the test is setup any differently to what you were trying?\r\n\r\nIf you still get an error, can you elaborate with the meagre and/or stacktrace?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1382912833/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1383687714","html_url":"https://github.com/apache/nifi/pull/6832#issuecomment-1383687714","issue_url":"https://api.github.com/repos/apache/nifi/issues/6832","id":1383687714,"node_id":"IC_kwDOAanjsM5SeWYi","user":{"login":"nandorsoma","id":11146937,"node_id":"MDQ6VXNlcjExMTQ2OTM3","avatar_url":"https://avatars.githubusercontent.com/u/11146937?v=4","gravatar_id":"","url":"https://api.github.com/users/nandorsoma","html_url":"https://github.com/nandorsoma","followers_url":"https://api.github.com/users/nandorsoma/followers","following_url":"https://api.github.com/users/nandorsoma/following{/other_user}","gists_url":"https://api.github.com/users/nandorsoma/gists{/gist_id}","starred_url":"https://api.github.com/users/nandorsoma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nandorsoma/subscriptions","organizations_url":"https://api.github.com/users/nandorsoma/orgs","repos_url":"https://api.github.com/users/nandorsoma/repos","events_url":"https://api.github.com/users/nandorsoma/events{/privacy}","received_events_url":"https://api.github.com/users/nandorsoma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-16T08:55:49Z","updated_at":"2023-01-16T08:55:49Z","author_association":"CONTRIBUTOR","body":"Will review","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1383687714/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1383971711","html_url":"https://github.com/apache/nifi/pull/6850#issuecomment-1383971711","issue_url":"https://api.github.com/repos/apache/nifi/issues/6850","id":1383971711,"node_id":"IC_kwDOAanjsM5Sfbt_","user":{"login":"nandorsoma","id":11146937,"node_id":"MDQ6VXNlcjExMTQ2OTM3","avatar_url":"https://avatars.githubusercontent.com/u/11146937?v=4","gravatar_id":"","url":"https://api.github.com/users/nandorsoma","html_url":"https://github.com/nandorsoma","followers_url":"https://api.github.com/users/nandorsoma/followers","following_url":"https://api.github.com/users/nandorsoma/following{/other_user}","gists_url":"https://api.github.com/users/nandorsoma/gists{/gist_id}","starred_url":"https://api.github.com/users/nandorsoma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nandorsoma/subscriptions","organizations_url":"https://api.github.com/users/nandorsoma/orgs","repos_url":"https://api.github.com/users/nandorsoma/repos","events_url":"https://api.github.com/users/nandorsoma/events{/privacy}","received_events_url":"https://api.github.com/users/nandorsoma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-16T12:18:26Z","updated_at":"2023-01-16T12:18:26Z","author_association":"CONTRIBUTOR","body":"Will review!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1383971711/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1384223327","html_url":"https://github.com/apache/nifi/pull/6850#issuecomment-1384223327","issue_url":"https://api.github.com/repos/apache/nifi/issues/6850","id":1384223327,"node_id":"IC_kwDOAanjsM5SgZJf","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-16T15:35:49Z","updated_at":"2023-01-16T15:35:49Z","author_association":"CONTRIBUTOR","body":"@nandorsoma Thanks for your review!\r\n\r\nMerging to main...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1384223327/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385433629","html_url":"https://github.com/apache/nifi/pull/6834#issuecomment-1385433629","issue_url":"https://api.github.com/repos/apache/nifi/issues/6834","id":1385433629,"node_id":"IC_kwDOAanjsM5SlAod","user":{"login":"taz1988","id":227213,"node_id":"MDQ6VXNlcjIyNzIxMw==","avatar_url":"https://avatars.githubusercontent.com/u/227213?v=4","gravatar_id":"","url":"https://api.github.com/users/taz1988","html_url":"https://github.com/taz1988","followers_url":"https://api.github.com/users/taz1988/followers","following_url":"https://api.github.com/users/taz1988/following{/other_user}","gists_url":"https://api.github.com/users/taz1988/gists{/gist_id}","starred_url":"https://api.github.com/users/taz1988/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/taz1988/subscriptions","organizations_url":"https://api.github.com/users/taz1988/orgs","repos_url":"https://api.github.com/users/taz1988/repos","events_url":"https://api.github.com/users/taz1988/events{/privacy}","received_events_url":"https://api.github.com/users/taz1988/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T13:35:30Z","updated_at":"2023-01-17T13:35:30Z","author_association":"CONTRIBUTOR","body":"+1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385433629/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385510457","html_url":"https://github.com/apache/nifi/pull/6846#issuecomment-1385510457","issue_url":"https://api.github.com/repos/apache/nifi/issues/6846","id":1385510457,"node_id":"IC_kwDOAanjsM5SlTY5","user":{"login":"nandorsoma","id":11146937,"node_id":"MDQ6VXNlcjExMTQ2OTM3","avatar_url":"https://avatars.githubusercontent.com/u/11146937?v=4","gravatar_id":"","url":"https://api.github.com/users/nandorsoma","html_url":"https://github.com/nandorsoma","followers_url":"https://api.github.com/users/nandorsoma/followers","following_url":"https://api.github.com/users/nandorsoma/following{/other_user}","gists_url":"https://api.github.com/users/nandorsoma/gists{/gist_id}","starred_url":"https://api.github.com/users/nandorsoma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nandorsoma/subscriptions","organizations_url":"https://api.github.com/users/nandorsoma/orgs","repos_url":"https://api.github.com/users/nandorsoma/repos","events_url":"https://api.github.com/users/nandorsoma/events{/privacy}","received_events_url":"https://api.github.com/users/nandorsoma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T14:27:26Z","updated_at":"2023-01-17T14:27:26Z","author_association":"CONTRIBUTOR","body":"Thank you for the review @turcsanyip and @exceptionfactory! I've changed the code based on your advice.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385510457/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385980954","html_url":"https://github.com/apache/nifi/pull/6764#issuecomment-1385980954","issue_url":"https://api.github.com/repos/apache/nifi/issues/6764","id":1385980954,"node_id":"IC_kwDOAanjsM5SnGQa","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T20:01:37Z","updated_at":"2023-01-17T20:01:37Z","author_association":"CONTRIBUTOR","body":"OK, I won't notify you again about this release, but will get in touch when a new version is available.\n\nIf you change your mind, just re-open this PR and I'll resolve any conflicts on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385980954/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385982132","html_url":"https://github.com/apache/nifi/pull/6789#issuecomment-1385982132","issue_url":"https://api.github.com/repos/apache/nifi/issues/6789","id":1385982132,"node_id":"IC_kwDOAanjsM5SnGi0","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T20:02:36Z","updated_at":"2023-01-17T20:02:36Z","author_association":"CONTRIBUTOR","body":"OK, I won't notify you again about this release, but will get in touch when a new version is available. If you'd rather skip all updates until the next major or minor version, let me know by commenting `@dependabot ignore this major version` or `@dependabot ignore this minor version`.\n\nIf you change your mind, just re-open this PR and I'll resolve any conflicts on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385982132/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385982308","html_url":"https://github.com/apache/nifi/pull/6789#issuecomment-1385982308","issue_url":"https://api.github.com/repos/apache/nifi/issues/6789","id":1385982308,"node_id":"IC_kwDOAanjsM5SnGlk","user":{"login":"exceptionfactory","id":20425862,"node_id":"MDQ6VXNlcjIwNDI1ODYy","avatar_url":"https://avatars.githubusercontent.com/u/20425862?v=4","gravatar_id":"","url":"https://api.github.com/users/exceptionfactory","html_url":"https://github.com/exceptionfactory","followers_url":"https://api.github.com/users/exceptionfactory/followers","following_url":"https://api.github.com/users/exceptionfactory/following{/other_user}","gists_url":"https://api.github.com/users/exceptionfactory/gists{/gist_id}","starred_url":"https://api.github.com/users/exceptionfactory/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/exceptionfactory/subscriptions","organizations_url":"https://api.github.com/users/exceptionfactory/orgs","repos_url":"https://api.github.com/users/exceptionfactory/repos","events_url":"https://api.github.com/users/exceptionfactory/events{/privacy}","received_events_url":"https://api.github.com/users/exceptionfactory/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T20:02:45Z","updated_at":"2023-01-17T20:02:45Z","author_association":"CONTRIBUTOR","body":"Resolved in #6764 ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1385982308/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386147166","html_url":"https://github.com/apache/nifi/pull/6771#issuecomment-1386147166","issue_url":"https://api.github.com/repos/apache/nifi/issues/6771","id":1386147166,"node_id":"IC_kwDOAanjsM5Snu1e","user":{"login":"dependabot[bot]","id":49699333,"node_id":"MDM6Qm90NDk2OTkzMzM=","avatar_url":"https://avatars.githubusercontent.com/in/29110?v=4","gravatar_id":"","url":"https://api.github.com/users/dependabot%5Bbot%5D","html_url":"https://github.com/apps/dependabot","followers_url":"https://api.github.com/users/dependabot%5Bbot%5D/followers","following_url":"https://api.github.com/users/dependabot%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/dependabot%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/dependabot%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dependabot%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/dependabot%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/dependabot%5Bbot%5D/repos","events_url":"https://api.github.com/users/dependabot%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/dependabot%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T22:08:30Z","updated_at":"2023-01-17T22:08:30Z","author_association":"CONTRIBUTOR","body":"OK, I won't notify you again about this release, but will get in touch when a new version is available. If you'd rather skip all updates until the next major or minor version, let me know by commenting `@dependabot ignore this major version` or `@dependabot ignore this minor version`.\n\nIf you change your mind, just re-open this PR and I'll resolve any conflicts on it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386147166/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386244599","html_url":"https://github.com/apache/nifi/pull/6831#issuecomment-1386244599","issue_url":"https://api.github.com/repos/apache/nifi/issues/6831","id":1386244599,"node_id":"IC_kwDOAanjsM5SoGn3","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-17T23:40:42Z","updated_at":"2023-01-17T23:40:42Z","author_association":"CONTRIBUTOR","body":"Thanks @krisztina-zsihovszki I think this change makes sense. Also ensured that I was able to perform a full build and run all system tests, and all checks out. +1 will merge to main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386244599/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386586052","html_url":"https://github.com/apache/nifi/pull/6053#issuecomment-1386586052","issue_url":"https://api.github.com/repos/apache/nifi/issues/6053","id":1386586052,"node_id":"IC_kwDOAanjsM5SpZ_E","user":{"login":"shilpaprotiviti","id":122963015,"node_id":"U_kgDOB1RERw","avatar_url":"https://avatars.githubusercontent.com/u/122963015?v=4","gravatar_id":"","url":"https://api.github.com/users/shilpaprotiviti","html_url":"https://github.com/shilpaprotiviti","followers_url":"https://api.github.com/users/shilpaprotiviti/followers","following_url":"https://api.github.com/users/shilpaprotiviti/following{/other_user}","gists_url":"https://api.github.com/users/shilpaprotiviti/gists{/gist_id}","starred_url":"https://api.github.com/users/shilpaprotiviti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shilpaprotiviti/subscriptions","organizations_url":"https://api.github.com/users/shilpaprotiviti/orgs","repos_url":"https://api.github.com/users/shilpaprotiviti/repos","events_url":"https://api.github.com/users/shilpaprotiviti/events{/privacy}","received_events_url":"https://api.github.com/users/shilpaprotiviti/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T07:07:50Z","updated_at":"2023-01-18T07:08:20Z","author_association":"NONE","body":"Hi @davyam: We need Nifi CapctureChangePostgreSQL processor for one of our requirements. I have gone by above comments, I understand you are busy in other activities as well. But can you please share any tentative date by when we can get a stable processor of CapctureChangePostgreSQL","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386586052/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386896503","html_url":"https://github.com/apache/nifi/pull/6854#issuecomment-1386896503","issue_url":"https://api.github.com/repos/apache/nifi/issues/6854","id":1386896503,"node_id":"IC_kwDOAanjsM5Sqlx3","user":{"login":"ferencerdei","id":89379649,"node_id":"MDQ6VXNlcjg5Mzc5NjQ5","avatar_url":"https://avatars.githubusercontent.com/u/89379649?v=4","gravatar_id":"","url":"https://api.github.com/users/ferencerdei","html_url":"https://github.com/ferencerdei","followers_url":"https://api.github.com/users/ferencerdei/followers","following_url":"https://api.github.com/users/ferencerdei/following{/other_user}","gists_url":"https://api.github.com/users/ferencerdei/gists{/gist_id}","starred_url":"https://api.github.com/users/ferencerdei/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ferencerdei/subscriptions","organizations_url":"https://api.github.com/users/ferencerdei/orgs","repos_url":"https://api.github.com/users/ferencerdei/repos","events_url":"https://api.github.com/users/ferencerdei/events{/privacy}","received_events_url":"https://api.github.com/users/ferencerdei/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T11:22:29Z","updated_at":"2023-01-18T11:22:29Z","author_association":"CONTRIBUTOR","body":"looks good +1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1386896503/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387046807","html_url":"https://github.com/apache/nifi/pull/6851#issuecomment-1387046807","issue_url":"https://api.github.com/repos/apache/nifi/issues/6851","id":1387046807,"node_id":"IC_kwDOAanjsM5SrKeX","user":{"login":"mark-bathori","id":57758037,"node_id":"MDQ6VXNlcjU3NzU4MDM3","avatar_url":"https://avatars.githubusercontent.com/u/57758037?v=4","gravatar_id":"","url":"https://api.github.com/users/mark-bathori","html_url":"https://github.com/mark-bathori","followers_url":"https://api.github.com/users/mark-bathori/followers","following_url":"https://api.github.com/users/mark-bathori/following{/other_user}","gists_url":"https://api.github.com/users/mark-bathori/gists{/gist_id}","starred_url":"https://api.github.com/users/mark-bathori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mark-bathori/subscriptions","organizations_url":"https://api.github.com/users/mark-bathori/orgs","repos_url":"https://api.github.com/users/mark-bathori/repos","events_url":"https://api.github.com/users/mark-bathori/events{/privacy}","received_events_url":"https://api.github.com/users/mark-bathori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T13:08:13Z","updated_at":"2023-01-18T13:08:13Z","author_association":"CONTRIBUTOR","body":"@mr1716 Thank you for the iceberg version upgrade change. I did some manual testing with the iceberg processor and everything seems to be working properly.\r\nLGTM +1","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387046807/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387109383","html_url":"https://github.com/apache/nifi/pull/6846#issuecomment-1387109383","issue_url":"https://api.github.com/repos/apache/nifi/issues/6846","id":1387109383,"node_id":"IC_kwDOAanjsM5SrZwH","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T13:53:17Z","updated_at":"2023-01-18T13:53:17Z","author_association":"CONTRIBUTOR","body":"@nandorsoma There seems to be regression in the kerberos login.\r\nI get the error below when trying to connect to a kerberized kafka using SASL_SSL + GSSAPI. I built the processors without the new include-kafka-aws profile. The same flow works with the version on the current main branch.\r\n\r\n```\r\n2023-01-18 14:28:17,992 WARN [Timer-Driven Process Thread-9] o.a.n.controller.tasks.ConnectableTask Processing halted: uncaught exception in Component [PublishKafka_2_6[id=c49ff5ca-0185-1000-d5c3-1f042d05afeb]]\r\norg.apache.kafka.common.KafkaException: Failed to construct kafka producer\r\n\tat org.apache.kafka.clients.producer.KafkaProducer.<init>(KafkaProducer.java:441)\r\n\tat org.apache.kafka.clients.producer.KafkaProducer.<init>(KafkaProducer.java:273)\r\n\tat org.apache.nifi.processors.kafka.pubsub.PublisherPool.createLease(PublisherPool.java:88)\r\n\tat org.apache.nifi.processors.kafka.pubsub.PublisherPool.obtainPublisher(PublisherPool.java:78)\r\n\tat org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6.onTrigger(PublishKafka_2_6.java:444)\r\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1356)\r\n\tat org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:246)\r\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:102)\r\n\tat org.apache.nifi.engine.FlowEngine$2.run(FlowEngine.java:110)\r\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\nCaused by: java.lang.IllegalArgumentException: Value not specified for key 'required' in JAAS config\r\n\tat org.apache.kafka.common.security.JaasConfig.parseAppConfigurationEntry(JaasConfig.java:116)\r\n\tat org.apache.kafka.common.security.JaasConfig.<init>(JaasConfig.java:63)\r\n\tat org.apache.kafka.common.security.JaasContext.load(JaasContext.java:90)\r\n\tat org.apache.kafka.common.security.JaasContext.loadClientContext(JaasContext.java:84)\r\n\tat org.apache.kafka.common.network.ChannelBuilders.create(ChannelBuilders.java:134)\r\n\tat org.apache.kafka.common.network.ChannelBuilders.clientChannelBuilder(ChannelBuilders.java:73)\r\n\tat org.apache.kafka.clients.ClientUtils.createChannelBuilder(ClientUtils.java:105)\r\n\tat org.apache.kafka.clients.producer.KafkaProducer.newSender(KafkaProducer.java:449)\r\n\tat org.apache.kafka.clients.producer.KafkaProducer.<init>(KafkaProducer.java:430)\r\n\t... 16 common frames omitted\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387109383/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387391828","html_url":"https://github.com/apache/nifi/pull/6855#issuecomment-1387391828","issue_url":"https://api.github.com/repos/apache/nifi/issues/6855","id":1387391828,"node_id":"IC_kwDOAanjsM5SsetU","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T16:58:45Z","updated_at":"2023-01-18T16:58:45Z","author_association":"CONTRIBUTOR","body":"@krisztina-zsihovszki Thanks for these enhancements around PutDropbox!\r\nThe code looks good to me. Will run the ITs and some flows.\r\nThe removal of the upload cancellation could be applied for `FetchDropbox` as well. Could you please add that in this PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387391828/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387728368","html_url":"https://github.com/apache/nifi/pull/6858#issuecomment-1387728368","issue_url":"https://api.github.com/repos/apache/nifi/issues/6858","id":1387728368,"node_id":"IC_kwDOAanjsM5Stw3w","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-18T20:20:46Z","updated_at":"2023-01-18T20:20:46Z","author_association":"CONTRIBUTOR","body":"I have confirmed in the original env that started this issue that the build now works.  I also verified on local osx.  Let's see how the github actions execute.  Otherwise this looks good and thanks for this workaround to avoid the os dependent color handling.  It seems we dont really need that for our uses anyway.  If good with Github Actions i'll merge.  Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1387728368/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":1,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397060296","html_url":"https://github.com/apache/nifi/pull/6846#issuecomment-1397060296","issue_url":"https://api.github.com/repos/apache/nifi/issues/6846","id":1397060296,"node_id":"IC_kwDOAanjsM5TRXLI","user":{"login":"nandorsoma","id":11146937,"node_id":"MDQ6VXNlcjExMTQ2OTM3","avatar_url":"https://avatars.githubusercontent.com/u/11146937?v=4","gravatar_id":"","url":"https://api.github.com/users/nandorsoma","html_url":"https://github.com/nandorsoma","followers_url":"https://api.github.com/users/nandorsoma/followers","following_url":"https://api.github.com/users/nandorsoma/following{/other_user}","gists_url":"https://api.github.com/users/nandorsoma/gists{/gist_id}","starred_url":"https://api.github.com/users/nandorsoma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nandorsoma/subscriptions","organizations_url":"https://api.github.com/users/nandorsoma/orgs","repos_url":"https://api.github.com/users/nandorsoma/repos","events_url":"https://api.github.com/users/nandorsoma/events{/privacy}","received_events_url":"https://api.github.com/users/nandorsoma/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T14:25:21Z","updated_at":"2023-01-19T14:25:21Z","author_association":"CONTRIBUTOR","body":"Thanks for noticing it @turcsanyip! I've changed the code, tested it with the 3 different Kerberos config methods.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397060296/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397074044","html_url":"https://github.com/apache/nifi/pull/6847#issuecomment-1397074044","issue_url":"https://api.github.com/repos/apache/nifi/issues/6847","id":1397074044,"node_id":"IC_kwDOAanjsM5TRah8","user":{"login":"djeanprost","id":2271557,"node_id":"MDQ6VXNlcjIyNzE1NTc=","avatar_url":"https://avatars.githubusercontent.com/u/2271557?v=4","gravatar_id":"","url":"https://api.github.com/users/djeanprost","html_url":"https://github.com/djeanprost","followers_url":"https://api.github.com/users/djeanprost/followers","following_url":"https://api.github.com/users/djeanprost/following{/other_user}","gists_url":"https://api.github.com/users/djeanprost/gists{/gist_id}","starred_url":"https://api.github.com/users/djeanprost/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/djeanprost/subscriptions","organizations_url":"https://api.github.com/users/djeanprost/orgs","repos_url":"https://api.github.com/users/djeanprost/repos","events_url":"https://api.github.com/users/djeanprost/events{/privacy}","received_events_url":"https://api.github.com/users/djeanprost/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T14:35:15Z","updated_at":"2023-01-19T14:35:15Z","author_association":"CONTRIBUTOR","body":"hello,\r\n\r\nis this PR miss something to be accepted, or is it just a question of time for someone to have a look at it ?\r\nThanks ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397074044/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397157447","html_url":"https://github.com/apache/nifi/pull/6762#issuecomment-1397157447","issue_url":"https://api.github.com/repos/apache/nifi/issues/6762","id":1397157447,"node_id":"IC_kwDOAanjsM5TRu5H","user":{"login":"tpalfy","id":53442425,"node_id":"MDQ6VXNlcjUzNDQyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/53442425?v=4","gravatar_id":"","url":"https://api.github.com/users/tpalfy","html_url":"https://github.com/tpalfy","followers_url":"https://api.github.com/users/tpalfy/followers","following_url":"https://api.github.com/users/tpalfy/following{/other_user}","gists_url":"https://api.github.com/users/tpalfy/gists{/gist_id}","starred_url":"https://api.github.com/users/tpalfy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tpalfy/subscriptions","organizations_url":"https://api.github.com/users/tpalfy/orgs","repos_url":"https://api.github.com/users/tpalfy/repos","events_url":"https://api.github.com/users/tpalfy/events{/privacy}","received_events_url":"https://api.github.com/users/tpalfy/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T15:29:28Z","updated_at":"2023-01-19T15:29:28Z","author_association":"CONTRIBUTOR","body":"LGTM\r\nThank you for your work @KalmanJantner !\r\nMerged into main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397157447/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397265977","html_url":"https://github.com/apache/nifi/pull/6794#issuecomment-1397265977","issue_url":"https://api.github.com/repos/apache/nifi/issues/6794","id":1397265977,"node_id":"IC_kwDOAanjsM5TSJY5","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T16:32:49Z","updated_at":"2023-01-19T16:32:49Z","author_association":"CONTRIBUTOR","body":"Hi - I've been playing with this and it works as expected (except that SOQL is super hard to understand...). One improvement I'd like to see is that the processor should accept input relationships (optional - a bit like ExecuteSQL) and the custom SOQL query should be able to reference flow file attributes. This would give me the option to potentially chain multiple instances together in a flow definition.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397265977/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397446624","html_url":"https://github.com/apache/nifi/pull/6770#issuecomment-1397446624","issue_url":"https://api.github.com/repos/apache/nifi/issues/6770","id":1397446624,"node_id":"IC_kwDOAanjsM5TS1fg","user":{"login":"NissimShiman","id":57680836,"node_id":"MDQ6VXNlcjU3NjgwODM2","avatar_url":"https://avatars.githubusercontent.com/u/57680836?v=4","gravatar_id":"","url":"https://api.github.com/users/NissimShiman","html_url":"https://github.com/NissimShiman","followers_url":"https://api.github.com/users/NissimShiman/followers","following_url":"https://api.github.com/users/NissimShiman/following{/other_user}","gists_url":"https://api.github.com/users/NissimShiman/gists{/gist_id}","starred_url":"https://api.github.com/users/NissimShiman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NissimShiman/subscriptions","organizations_url":"https://api.github.com/users/NissimShiman/orgs","repos_url":"https://api.github.com/users/NissimShiman/repos","events_url":"https://api.github.com/users/NissimShiman/events{/privacy}","received_events_url":"https://api.github.com/users/NissimShiman/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T18:46:49Z","updated_at":"2023-01-19T18:46:49Z","author_association":"CONTRIBUTOR","body":"@markap14 Could you look at this and comment about whether there would be an issue if UpdateAttribute processor had an EL validator for non-stateful mode.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397446624/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397536783","html_url":"https://github.com/apache/nifi/pull/6867#issuecomment-1397536783","issue_url":"https://api.github.com/repos/apache/nifi/issues/6867","id":1397536783,"node_id":"IC_kwDOAanjsM5TTLgP","user":{"login":"joewitt","id":3057465,"node_id":"MDQ6VXNlcjMwNTc0NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3057465?v=4","gravatar_id":"","url":"https://api.github.com/users/joewitt","html_url":"https://github.com/joewitt","followers_url":"https://api.github.com/users/joewitt/followers","following_url":"https://api.github.com/users/joewitt/following{/other_user}","gists_url":"https://api.github.com/users/joewitt/gists{/gist_id}","starred_url":"https://api.github.com/users/joewitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joewitt/subscriptions","organizations_url":"https://api.github.com/users/joewitt/orgs","repos_url":"https://api.github.com/users/joewitt/repos","events_url":"https://api.github.com/users/joewitt/events{/privacy}","received_events_url":"https://api.github.com/users/joewitt/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2023-01-19T20:09:25Z","updated_at":"2023-01-19T20:09:25Z","author_association":"CONTRIBUTOR","body":"very cool. So \" so disabling the initialization using a System property resolves startup issues\" - with this our logging and such for the registry still works we just bypass springs initialization problem?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/1397536783/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]