data/github-comments/apache-NiFi-138-comments.json
[{"url":"https://api.github.com/repos/apache/nifi/issues/comments/691727673","html_url":"https://github.com/apache/nifi/pull/4464#issuecomment-691727673","issue_url":"https://api.github.com/repos/apache/nifi/issues/4464","id":691727673,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MTcyNzY3Mw==","user":{"login":"doodzio","id":19290544,"node_id":"MDQ6VXNlcjE5MjkwNTQ0","avatar_url":"https://avatars.githubusercontent.com/u/19290544?v=4","gravatar_id":"","url":"https://api.github.com/users/doodzio","html_url":"https://github.com/doodzio","followers_url":"https://api.github.com/users/doodzio/followers","following_url":"https://api.github.com/users/doodzio/following{/other_user}","gists_url":"https://api.github.com/users/doodzio/gists{/gist_id}","starred_url":"https://api.github.com/users/doodzio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/doodzio/subscriptions","organizations_url":"https://api.github.com/users/doodzio/orgs","repos_url":"https://api.github.com/users/doodzio/repos","events_url":"https://api.github.com/users/doodzio/events{/privacy}","received_events_url":"https://api.github.com/users/doodzio/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-13T21:25:20Z","updated_at":"2020-09-13T21:25:20Z","author_association":"CONTRIBUTOR","body":"@turcsanyip Thx. I tootaly overlooked those steeps, I did it today.\r\n\r\nAdding `exchange` seems ok, I am not sure that we should append something that already is definied by user.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/691727673/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/691778493","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-691778493","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":691778493,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MTc3ODQ5Mw==","user":{"login":"yoshiata","id":39290058,"node_id":"MDQ6VXNlcjM5MjkwMDU4","avatar_url":"https://avatars.githubusercontent.com/u/39290058?v=4","gravatar_id":"","url":"https://api.github.com/users/yoshiata","html_url":"https://github.com/yoshiata","followers_url":"https://api.github.com/users/yoshiata/followers","following_url":"https://api.github.com/users/yoshiata/following{/other_user}","gists_url":"https://api.github.com/users/yoshiata/gists{/gist_id}","starred_url":"https://api.github.com/users/yoshiata/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yoshiata/subscriptions","organizations_url":"https://api.github.com/users/yoshiata/orgs","repos_url":"https://api.github.com/users/yoshiata/repos","events_url":"https://api.github.com/users/yoshiata/events{/privacy}","received_events_url":"https://api.github.com/users/yoshiata/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T02:41:17Z","updated_at":"2020-09-14T02:41:17Z","author_association":"CONTRIBUTOR","body":"@wangwentao @pvillard31 Thank you for your comment. I have rebased against the main branch and squash into single commit.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/691778493/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692072985","html_url":"https://github.com/apache/nifi/pull/4522#issuecomment-692072985","issue_url":"https://api.github.com/repos/apache/nifi/issues/4522","id":692072985,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjA3Mjk4NQ==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T14:02:03Z","updated_at":"2020-09-14T14:02:03Z","author_association":"CONTRIBUTOR","body":"@mattyb149 thanks will review shortly","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692072985/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692076532","html_url":"https://github.com/apache/nifi/pull/2231#issuecomment-692076532","issue_url":"https://api.github.com/repos/apache/nifi/issues/2231","id":692076532,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjA3NjUzMg==","user":{"login":"ravitejatvs","id":62201885,"node_id":"MDQ6VXNlcjYyMjAxODg1","avatar_url":"https://avatars.githubusercontent.com/u/62201885?v=4","gravatar_id":"","url":"https://api.github.com/users/ravitejatvs","html_url":"https://github.com/ravitejatvs","followers_url":"https://api.github.com/users/ravitejatvs/followers","following_url":"https://api.github.com/users/ravitejatvs/following{/other_user}","gists_url":"https://api.github.com/users/ravitejatvs/gists{/gist_id}","starred_url":"https://api.github.com/users/ravitejatvs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ravitejatvs/subscriptions","organizations_url":"https://api.github.com/users/ravitejatvs/orgs","repos_url":"https://api.github.com/users/ravitejatvs/repos","events_url":"https://api.github.com/users/ravitejatvs/events{/privacy}","received_events_url":"https://api.github.com/users/ravitejatvs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T14:08:06Z","updated_at":"2020-09-14T14:08:06Z","author_association":"NONE","body":"> Looks like there are multiple issues. One was introduced by me quite a while ago, with how we split/trim table names. More recently one was introduced by NIFI-7369 which added some special decimal parsing, but which does not work for NULL decimal values in some cases... Still troubleshooting.\r\n\r\nAwesome.. Please do let me know in case you need some help with the testing","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692076532/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692114329","html_url":"https://github.com/apache/nifi/pull/4524#issuecomment-692114329","issue_url":"https://api.github.com/repos/apache/nifi/issues/4524","id":692114329,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjExNDMyOQ==","user":{"login":"scottyaslan","id":6797571,"node_id":"MDQ6VXNlcjY3OTc1NzE=","avatar_url":"https://avatars.githubusercontent.com/u/6797571?v=4","gravatar_id":"","url":"https://api.github.com/users/scottyaslan","html_url":"https://github.com/scottyaslan","followers_url":"https://api.github.com/users/scottyaslan/followers","following_url":"https://api.github.com/users/scottyaslan/following{/other_user}","gists_url":"https://api.github.com/users/scottyaslan/gists{/gist_id}","starred_url":"https://api.github.com/users/scottyaslan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/scottyaslan/subscriptions","organizations_url":"https://api.github.com/users/scottyaslan/orgs","repos_url":"https://api.github.com/users/scottyaslan/repos","events_url":"https://api.github.com/users/scottyaslan/events{/privacy}","received_events_url":"https://api.github.com/users/scottyaslan/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T14:59:01Z","updated_at":"2020-09-14T14:59:01Z","author_association":"CONTRIBUTOR","body":"@sardell thanks for this contribution! This has been merged to master... although I forgot to squash your commits :(","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692114329/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692136255","html_url":"https://github.com/apache/nifi/pull/4464#issuecomment-692136255","issue_url":"https://api.github.com/repos/apache/nifi/issues/4464","id":692136255,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjEzNjI1NQ==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T15:32:06Z","updated_at":"2020-09-14T15:34:57Z","author_association":"CONTRIBUTOR","body":"`ConsumeKafka` and `ConsumeJMS` add the destination as an attribute (`kafka.topic` / `jms_destination`).\r\nIt is true though, that the destination property can come from variable registry in case of those processors so it is more dynamic.\r\nIn general, it is easier to use this info in the downstream flow if it is available on the FlowFile.\r\nAnyway, I'm not insisted on it. We can add it later if it is needed by a real use case.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692136255/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692193891","html_url":"https://github.com/apache/nifi/pull/4526#issuecomment-692193891","issue_url":"https://api.github.com/repos/apache/nifi/issues/4526","id":692193891,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjE5Mzg5MQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-14T17:14:24Z","updated_at":"2020-09-14T17:14:24Z","author_association":"CONTRIBUTOR","body":"Merged to main branch, thanks @sdairs ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692193891/reactions","total_count":1,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":1,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692513815","html_url":"https://github.com/apache/nifi/pull/4528#issuecomment-692513815","issue_url":"https://api.github.com/repos/apache/nifi/issues/4528","id":692513815,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjUxMzgxNQ==","user":{"login":"simonbence","id":61191107,"node_id":"MDQ6VXNlcjYxMTkxMTA3","avatar_url":"https://avatars.githubusercontent.com/u/61191107?v=4","gravatar_id":"","url":"https://api.github.com/users/simonbence","html_url":"https://github.com/simonbence","followers_url":"https://api.github.com/users/simonbence/followers","following_url":"https://api.github.com/users/simonbence/following{/other_user}","gists_url":"https://api.github.com/users/simonbence/gists{/gist_id}","starred_url":"https://api.github.com/users/simonbence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simonbence/subscriptions","organizations_url":"https://api.github.com/users/simonbence/orgs","repos_url":"https://api.github.com/users/simonbence/repos","events_url":"https://api.github.com/users/simonbence/events{/privacy}","received_events_url":"https://api.github.com/users/simonbence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T07:08:09Z","updated_at":"2020-09-15T07:08:09Z","author_association":"CONTRIBUTOR","body":"Hi @KuKuDeCheng !\r\n\r\nI think, the Jira issue id must be mistaken as https://issues.apache.org/jira/browse/NIFI-7801 is about extending Splunk support :)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692513815/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692521618","html_url":"https://github.com/apache/nifi/pull/4528#issuecomment-692521618","issue_url":"https://api.github.com/repos/apache/nifi/issues/4528","id":692521618,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjUyMTYxOA==","user":{"login":"zhangchengk","id":21312425,"node_id":"MDQ6VXNlcjIxMzEyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/21312425?v=4","gravatar_id":"","url":"https://api.github.com/users/zhangchengk","html_url":"https://github.com/zhangchengk","followers_url":"https://api.github.com/users/zhangchengk/followers","following_url":"https://api.github.com/users/zhangchengk/following{/other_user}","gists_url":"https://api.github.com/users/zhangchengk/gists{/gist_id}","starred_url":"https://api.github.com/users/zhangchengk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/zhangchengk/subscriptions","organizations_url":"https://api.github.com/users/zhangchengk/orgs","repos_url":"https://api.github.com/users/zhangchengk/repos","events_url":"https://api.github.com/users/zhangchengk/events{/privacy}","received_events_url":"https://api.github.com/users/zhangchengk/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T07:24:17Z","updated_at":"2020-09-15T07:24:17Z","author_association":"NONE","body":"> Hi @KuKuDeCheng !\r\n> \r\n> I think, the Jira issue id must be mistaken as https://issues.apache.org/jira/browse/NIFI-7801 is about extending Splunk support :)\r\n\r\nThanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692521618/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692685202","html_url":"https://github.com/apache/nifi/pull/4529#issuecomment-692685202","issue_url":"https://api.github.com/repos/apache/nifi/issues/4529","id":692685202,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjY4NTIwMg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T12:34:56Z","updated_at":"2020-09-15T12:34:56Z","author_association":"CONTRIBUTOR","body":"From a content point of view, it LGTM but since the JIRA was assigned to @alopresto, requesting his review to make sure we cover everything or if follow up JIRAs are required.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692685202/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692882435","html_url":"https://github.com/apache/nifi/pull/4531#issuecomment-692882435","issue_url":"https://api.github.com/repos/apache/nifi/issues/4531","id":692882435,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Mjg4MjQzNQ==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T18:04:30Z","updated_at":"2020-09-15T18:04:30Z","author_association":"CONTRIBUTOR","body":"This looks good, I think using `Optional<T>` for the getPrometheusServer return and other places in here would be a cleaner approach.\r\n\r\n+1 fwiw","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692882435/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692900395","html_url":"https://github.com/apache/nifi/pull/2231#issuecomment-692900395","issue_url":"https://api.github.com/repos/apache/nifi/issues/2231","id":692900395,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjkwMDM5NQ==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T18:39:22Z","updated_at":"2020-09-15T18:39:22Z","author_association":"CONTRIBUTOR","body":"@ravitejatvs I just pushed a fix for one of the errors.  The other error I ran across is actually not part of this code, and I'm submitting a separate PR, plus I don't think it's impacting you.  Simple error I introduced when trying to fix table name parsing earlier this year.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692900395/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692901586","html_url":"https://github.com/apache/nifi/pull/4531#issuecomment-692901586","issue_url":"https://api.github.com/repos/apache/nifi/issues/4531","id":692901586,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MjkwMTU4Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T18:41:35Z","updated_at":"2020-09-15T18:41:35Z","author_association":"CONTRIBUTOR","body":"I was about to merge this one but I might have observed something we don't want when stopping NiFi. Trying to confirm. Please hold on before merging.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692901586/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692941363","html_url":"https://github.com/apache/nifi/pull/4533#issuecomment-692941363","issue_url":"https://api.github.com/repos/apache/nifi/issues/4533","id":692941363,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Mjk0MTM2Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T19:49:09Z","updated_at":"2020-09-15T19:49:09Z","author_association":"CONTRIBUTOR","body":"Did a full build on Java 11 with contrib-check and all tests passing. \r\n\r\n```\r\n# Verified nifi-standard-services-1.13.0-nar does not contain nifi-security-utils-1.13.0-SNAPSHOT.jar but _does_ include nifi-security-utils-api-1.13.0-SNAPSHOT.jar\r\n\r\n ..13.0-SNAPSHOT   NIFI-7804 ●✚  jar tvf lib/nifi-standard-services-api-nar-1.13.0-SNAPSHOT.nar | \\grep --color=auto --exclude-dir=.bzr --exclude-dir=CVS --exclude-dir=.git --exclude-dir=.hg --exclude-dir=.svn --exclude-dir=.idea --exclude-dir=.tox \".jar\"\r\n 14265 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-hbase-client-service-api-1.13.0-SNAPSHOT.jar\r\n 10571 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-dbcp-service-api-1.13.0-SNAPSHOT.jar\r\n 12431 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-proxy-configuration-api-1.13.0-SNAPSHOT.jar\r\n 10186 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-ssl-context-service-api-1.13.0-SNAPSHOT.jar\r\n255502 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/jaxb-core-2.3.0.jar\r\n  7889 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-load-distribution-service-api-1.13.0-SNAPSHOT.jar\r\n  8666 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-schema-registry-service-api-1.13.0-SNAPSHOT.jar\r\n  7462 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-http-context-map-api-1.13.0-SNAPSHOT.jar\r\n  9378 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-record-serialization-service-api-1.13.0-SNAPSHOT.jar\r\n963660 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/jaxb-impl-2.3.0.jar\r\n125632 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/jaxb-api-2.3.0.jar\r\n 12925 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-security-utils-api-1.13.0-SNAPSHOT.jar\r\n  9148 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-lookup-service-api-1.13.0-SNAPSHOT.jar\r\n 84302 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-record-1.13.0-SNAPSHOT.jar\r\n  7495 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-kerberos-credentials-service-api-1.13.0-SNAPSHOT.jar\r\n 14048 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-distributed-cache-client-service-api-1.13.0-SNAPSHOT.jar\r\n 12067 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-rules-engine-service-api-1.13.0-SNAPSHOT.jar\r\n178884 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-utils-1.13.0-SNAPSHOT.jar\r\n  9945 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-oauth2-provider-api-1.13.0-SNAPSHOT.jar\r\n  8795 Tue Sep 15 11:21:18 PDT 2020 META-INF/bundled-dependencies/nifi-record-sink-api-1.13.0-SNAPSHOT.jar\r\n```\r\n\r\nCompiled the 1.9.2 `nifi-standard-nar` and copied into the `lib/` and ran a flow with both `InvokeHTTP` processors (pointing to the same `StandardSSLContextService`). No errors. \r\n\r\n[flow_20200915-124119_NIFI-7804-ssl-v2.xml.gz](https://github.com/apache/nifi/files/5227347/flow_20200915-124119_NIFI-7804-ssl-v2.xml.gz)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692941363/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692944706","html_url":"https://github.com/apache/nifi/pull/4529#issuecomment-692944706","issue_url":"https://api.github.com/repos/apache/nifi/issues/4529","id":692944706,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Mjk0NDcwNg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T19:55:35Z","updated_at":"2020-09-15T19:55:35Z","author_association":"CONTRIBUTOR","body":"Unfortunately with some competing priorities, I don't have time to look at this now. Assuming the docs don't make things _more_ confusing, something is better than nothing in my mind. Thanks for contributing this. Pierre, please proceed without me. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692944706/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692946322","html_url":"https://github.com/apache/nifi/pull/4532#issuecomment-692946322","issue_url":"https://api.github.com/repos/apache/nifi/issues/4532","id":692946322,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Mjk0NjMyMg==","user":{"login":"patricker","id":1015990,"node_id":"MDQ6VXNlcjEwMTU5OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1015990?v=4","gravatar_id":"","url":"https://api.github.com/users/patricker","html_url":"https://github.com/patricker","followers_url":"https://api.github.com/users/patricker/followers","following_url":"https://api.github.com/users/patricker/following{/other_user}","gists_url":"https://api.github.com/users/patricker/gists{/gist_id}","starred_url":"https://api.github.com/users/patricker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patricker/subscriptions","organizations_url":"https://api.github.com/users/patricker/orgs","repos_url":"https://api.github.com/users/patricker/repos","events_url":"https://api.github.com/users/patricker/events{/privacy}","received_events_url":"https://api.github.com/users/patricker/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-15T19:58:48Z","updated_at":"2020-09-15T19:58:48Z","author_association":"CONTRIBUTOR","body":"@tpalfy @markap14 @simonbence \r\nSmall bug fix for https://github.com/apache/nifi/pull/4223. If you have a minute to look it over I'd appreciate it.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/692946322/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693190735","html_url":"https://github.com/apache/nifi/pull/2231#issuecomment-693190735","issue_url":"https://api.github.com/repos/apache/nifi/issues/2231","id":693190735,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MzE5MDczNQ==","user":{"login":"ravitejatvs","id":62201885,"node_id":"MDQ6VXNlcjYyMjAxODg1","avatar_url":"https://avatars.githubusercontent.com/u/62201885?v=4","gravatar_id":"","url":"https://api.github.com/users/ravitejatvs","html_url":"https://github.com/ravitejatvs","followers_url":"https://api.github.com/users/ravitejatvs/followers","following_url":"https://api.github.com/users/ravitejatvs/following{/other_user}","gists_url":"https://api.github.com/users/ravitejatvs/gists{/gist_id}","starred_url":"https://api.github.com/users/ravitejatvs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ravitejatvs/subscriptions","organizations_url":"https://api.github.com/users/ravitejatvs/orgs","repos_url":"https://api.github.com/users/ravitejatvs/repos","events_url":"https://api.github.com/users/ravitejatvs/events{/privacy}","received_events_url":"https://api.github.com/users/ravitejatvs/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-16T05:59:15Z","updated_at":"2020-09-16T05:59:45Z","author_association":"NONE","body":"> @ravitejatvs I just pushed a fix for one of the errors. The other error I ran across is actually not part of this code, and I'm submitting a separate PR, plus I don't think it's impacting you. Simple error I introduced when trying to fix table name parsing earlier this year.\r\n\r\nsure @patricker. we'll build the branch and check. Thank you very much for such a quick turn around\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693190735/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693463822","html_url":"https://github.com/apache/nifi/pull/4532#issuecomment-693463822","issue_url":"https://api.github.com/repos/apache/nifi/issues/4532","id":693463822,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MzQ2MzgyMg==","user":{"login":"simonbence","id":61191107,"node_id":"MDQ6VXNlcjYxMTkxMTA3","avatar_url":"https://avatars.githubusercontent.com/u/61191107?v=4","gravatar_id":"","url":"https://api.github.com/users/simonbence","html_url":"https://github.com/simonbence","followers_url":"https://api.github.com/users/simonbence/followers","following_url":"https://api.github.com/users/simonbence/following{/other_user}","gists_url":"https://api.github.com/users/simonbence/gists{/gist_id}","starred_url":"https://api.github.com/users/simonbence/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simonbence/subscriptions","organizations_url":"https://api.github.com/users/simonbence/orgs","repos_url":"https://api.github.com/users/simonbence/repos","events_url":"https://api.github.com/users/simonbence/events{/privacy}","received_events_url":"https://api.github.com/users/simonbence/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-16T14:59:24Z","updated_at":"2020-09-16T14:59:24Z","author_association":"CONTRIBUTOR","body":"Good catch, LGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693463822/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693503784","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-693503784","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":693503784,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MzUwMzc4NA==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-16T16:01:36Z","updated_at":"2020-09-16T16:01:36Z","author_association":"CONTRIBUTOR","body":"Reviewing this one, testing it out now. Also checking out https://github.com/apache/nifi/pull/4216, not sure what the differences are there.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693503784/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693520289","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-693520289","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":693520289,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MzUyMDI4OQ==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-16T16:30:34Z","updated_at":"2020-09-16T16:30:34Z","author_association":"MEMBER","body":"#4216 was intended to handle the embedded ZK path and is about forcing TLS for both the embedded server and the client whenever the embedded server is used.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693520289/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693545256","html_url":"https://github.com/apache/nifi/pull/4533#issuecomment-693545256","issue_url":"https://api.github.com/repos/apache/nifi/issues/4533","id":693545256,"node_id":"MDEyOklzc3VlQ29tbWVudDY5MzU0NTI1Ng==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-16T17:17:40Z","updated_at":"2020-09-16T17:17:40Z","author_association":"CONTRIBUTOR","body":"Had a very weird situation with my IDE where a single line of the fix was not committed (silently), and so what I had locally didn't match what was pushed. Made the change outside of the IDE; as soon as the GHA are done, we should be good to merge. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/693545256/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694144675","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-694144675","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":694144675,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDE0NDY3NQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T10:30:36Z","updated_at":"2020-09-17T10:30:36Z","author_association":"CONTRIBUTOR","body":"Code looks good to me, tested a flow to confirm that the existing behavior is not changed after this change, I merged the change to the main branch. I know this PR has been opened for a long time, thanks @yoshiata for your contribution!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694144675/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694146447","html_url":"https://github.com/apache/nifi/pull/4481#issuecomment-694146447","issue_url":"https://api.github.com/repos/apache/nifi/issues/4481","id":694146447,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDE0NjQ0Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T10:34:42Z","updated_at":"2020-09-17T10:34:42Z","author_association":"CONTRIBUTOR","body":"Looked at the changes to support FTPS, it looks good to me. Merging to the main branch, thanks @pgyori and thanks @simonbence for the extensive review.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694146447/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694154325","html_url":"https://github.com/apache/nifi/pull/4529#issuecomment-694154325","issue_url":"https://api.github.com/repos/apache/nifi/issues/4529","id":694154325,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDE1NDMyNQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T10:52:49Z","updated_at":"2020-09-17T10:52:49Z","author_association":"CONTRIBUTOR","body":"Merged to main, not closing the JIRA as the versioning consideration has not been included and might be important in the context of a development cluster where someone would be trying changes in a custom NAR without changing the name of it (and this would not be auto-loaded as a new version of the NAR).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694154325/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694361579","html_url":"https://github.com/apache/nifi/pull/4533#issuecomment-694361579","issue_url":"https://api.github.com/repos/apache/nifi/issues/4533","id":694361579,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDM2MTU3OQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T16:49:16Z","updated_at":"2020-09-17T16:49:16Z","author_association":"CONTRIBUTOR","body":"+1 ran full build of this, verified dependency locations, verified running older 1.8.0 NARs, and verified PropertiesFileLookupService works, going to squash and merge","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694361579/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694387302","html_url":"https://github.com/apache/nifi/pull/4519#issuecomment-694387302","issue_url":"https://api.github.com/repos/apache/nifi/issues/4519","id":694387302,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDM4NzMwMg==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T17:33:32Z","updated_at":"2020-09-17T17:33:32Z","author_association":"CONTRIBUTOR","body":"+1 changes look good, going to merge, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694387302/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694502663","html_url":"https://github.com/apache/nifi/pull/4536#issuecomment-694502663","issue_url":"https://api.github.com/repos/apache/nifi/issues/4536","id":694502663,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDUwMjY2Mw==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T21:12:40Z","updated_at":"2020-09-17T21:12:40Z","author_association":"CONTRIBUTOR","body":"I commented on the Jira -- have we investigated why some characters are actually encoded with the `%2F` replacement while spaces are converted to `+`?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694502663/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694558311","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-694558311","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":694558311,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDU1ODMxMQ==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-17T23:44:33Z","updated_at":"2020-09-17T23:44:33Z","author_association":"CONTRIBUTOR","body":"Tested the cluster leader election over TLS, looks good. I see there's nothing in this PR for state management over TLS. Is there any PRs open that you know of which cover TLS + state management or is that something I should create a ticket for and work on?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694558311/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694563705","html_url":"https://github.com/apache/nifi/pull/2997#issuecomment-694563705","issue_url":"https://api.github.com/repos/apache/nifi/issues/2997","id":694563705,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDU2MzcwNQ==","user":{"login":"yoshiata","id":39290058,"node_id":"MDQ6VXNlcjM5MjkwMDU4","avatar_url":"https://avatars.githubusercontent.com/u/39290058?v=4","gravatar_id":"","url":"https://api.github.com/users/yoshiata","html_url":"https://github.com/yoshiata","followers_url":"https://api.github.com/users/yoshiata/followers","following_url":"https://api.github.com/users/yoshiata/following{/other_user}","gists_url":"https://api.github.com/users/yoshiata/gists{/gist_id}","starred_url":"https://api.github.com/users/yoshiata/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yoshiata/subscriptions","organizations_url":"https://api.github.com/users/yoshiata/orgs","repos_url":"https://api.github.com/users/yoshiata/repos","events_url":"https://api.github.com/users/yoshiata/events{/privacy}","received_events_url":"https://api.github.com/users/yoshiata/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T00:00:57Z","updated_at":"2020-09-18T00:00:57Z","author_association":"CONTRIBUTOR","body":"Thank you for reviewing and merging!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694563705/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694677298","html_url":"https://github.com/apache/nifi/pull/4536#issuecomment-694677298","issue_url":"https://api.github.com/repos/apache/nifi/issues/4536","id":694677298,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDY3NzI5OA==","user":{"login":"naddym","id":10363056,"node_id":"MDQ6VXNlcjEwMzYzMDU2","avatar_url":"https://avatars.githubusercontent.com/u/10363056?v=4","gravatar_id":"","url":"https://api.github.com/users/naddym","html_url":"https://github.com/naddym","followers_url":"https://api.github.com/users/naddym/followers","following_url":"https://api.github.com/users/naddym/following{/other_user}","gists_url":"https://api.github.com/users/naddym/gists{/gist_id}","starred_url":"https://api.github.com/users/naddym/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/naddym/subscriptions","organizations_url":"https://api.github.com/users/naddym/orgs","repos_url":"https://api.github.com/users/naddym/repos","events_url":"https://api.github.com/users/naddym/events{/privacy}","received_events_url":"https://api.github.com/users/naddym/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T06:14:27Z","updated_at":"2020-09-18T06:14:27Z","author_association":"CONTRIBUTOR","body":"Yes @alopresto , The urlEncode() and urlDecode() EL functions uses `URLEncoder.encode()` and `URLDecoder.decode()` methods internally to evaluate the encoding/decodings. The guide shows correct example mapping for urlDecode() but however it reflected incorrect example for urlEncode() function. I'm not sure why but as per the [javadoc](https://docs.oracle.com/javase/8/docs/api/java/net/URLEncoder.html) for these classes, it says following\r\n\r\n1. The space character `\" \" is converted into a plus sign \"+\"`.\r\n2. All other characters are unsafe and are first converted into one or more bytes using some encoding scheme. `Then each byte is represented by the 3-character string \"%xy\", where xy is the two-digit hexadecimal representation of the byte`. The recommended encoding scheme to use is UTF-8. However, for compatibility reasons, if an encoding is not specified, then the default encoding of the platform is used.\r\n\r\nFurther, urlDecode() example in the EL guide was correct despite I have changed it too in order to reflect consistency with urlEncode() example.  ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694677298/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694893797","html_url":"https://github.com/apache/nifi/pull/4531#issuecomment-694893797","issue_url":"https://api.github.com/repos/apache/nifi/issues/4531","id":694893797,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDg5Mzc5Nw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T14:14:26Z","updated_at":"2020-09-18T14:14:26Z","author_association":"CONTRIBUTOR","body":"Merged to main, thanks @mattyb149. Probably worth being included in 1.12.1 @joewitt.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694893797/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694966410","html_url":"https://github.com/apache/nifi/pull/4537#issuecomment-694966410","issue_url":"https://api.github.com/repos/apache/nifi/issues/4537","id":694966410,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDk2NjQxMA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T16:33:26Z","updated_at":"2020-09-18T16:33:26Z","author_association":"CONTRIBUTOR","body":"Thanks for the PR @frankgh. It definitely looks like you've done a good bit of work diving in here to understand the flow of all of this logic. But I think the existing implementation is correct - we should not be looking at the default value of the given PropertyDescriptor, but rather making sure the service itself exposes the properties that it's trying to access.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694966410/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694981735","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-694981735","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":694981735,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NDk4MTczNQ==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T17:07:29Z","updated_at":"2020-09-18T17:07:29Z","author_association":"MEMBER","body":"@thenatog No, I don't think anyone has worked on the state management/I don't have any code for that in progress either, so yeah, I think it'd make sense for you to do if you want.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/694981735/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695016708","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-695016708","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":695016708,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTAxNjcwOA==","user":{"login":"thenatog","id":38888042,"node_id":"MDQ6VXNlcjM4ODg4MDQy","avatar_url":"https://avatars.githubusercontent.com/u/38888042?v=4","gravatar_id":"","url":"https://api.github.com/users/thenatog","html_url":"https://github.com/thenatog","followers_url":"https://api.github.com/users/thenatog/followers","following_url":"https://api.github.com/users/thenatog/following{/other_user}","gists_url":"https://api.github.com/users/thenatog/gists{/gist_id}","starred_url":"https://api.github.com/users/thenatog/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thenatog/subscriptions","organizations_url":"https://api.github.com/users/thenatog/orgs","repos_url":"https://api.github.com/users/thenatog/repos","events_url":"https://api.github.com/users/thenatog/events{/privacy}","received_events_url":"https://api.github.com/users/thenatog/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T18:20:37Z","updated_at":"2020-09-18T18:21:13Z","author_association":"CONTRIBUTOR","body":"Right now for this PR I'm thinking we need some consolidation across the TLS + Zookeeper work. It seems like the embedded zookeeper + external zookeeper configuration isn't handled in the most cohesive way, which is fair because they've been developed separately, but it may result in unexpected behavior for users. \r\n\r\nI'd like to get my PR for state management up before we merge this one so that all external-zookeeper interactions are secured, instead of only the cluster election. We may need to break out the SecureClientZooKeeperFactory class into a separate class and put it somewhere so it can be used by both election and state management. \r\n\r\nIt also looks like there needs to be more work on the embedded side to fix a few issues Joey raised in his review - I can look at adding some commits there next week.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695016708/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695034540","html_url":"https://github.com/apache/nifi/pull/4537#issuecomment-695034540","issue_url":"https://api.github.com/repos/apache/nifi/issues/4537","id":695034540,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTAzNDU0MA==","user":{"login":"denalex","id":7130388,"node_id":"MDQ6VXNlcjcxMzAzODg=","avatar_url":"https://avatars.githubusercontent.com/u/7130388?v=4","gravatar_id":"","url":"https://api.github.com/users/denalex","html_url":"https://github.com/denalex","followers_url":"https://api.github.com/users/denalex/followers","following_url":"https://api.github.com/users/denalex/following{/other_user}","gists_url":"https://api.github.com/users/denalex/gists{/gist_id}","starred_url":"https://api.github.com/users/denalex/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/denalex/subscriptions","organizations_url":"https://api.github.com/users/denalex/orgs","repos_url":"https://api.github.com/users/denalex/repos","events_url":"https://api.github.com/users/denalex/events{/privacy}","received_events_url":"https://api.github.com/users/denalex/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T19:00:16Z","updated_at":"2020-09-18T19:00:16Z","author_association":"NONE","body":"@markap14 -- if you believe the provided patch is not optimal, then the fix indeed will need to happen in `ParquetReader` service component. We are not NiFi contributors (at least not yet :-) so will appreciate someone being assigned to fix the JIRA. Right now reading Parquet files is completely broken due to this issue, as the property cannot even be dynamically assigned:\r\n![Screen Shot 2020-09-18 at 10 28 11 AM](https://user-images.githubusercontent.com/7130388/93635012-643f9f80-f9a6-11ea-946c-7befa1f5d0c2.png)\r\n![Screen Shot 2020-09-18 at 10 28 38 AM](https://user-images.githubusercontent.com/7130388/93635025-699cea00-f9a6-11ea-8766-64b3a5ad2c54.png)\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695034540/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695048582","html_url":"https://github.com/apache/nifi/pull/4250#issuecomment-695048582","issue_url":"https://api.github.com/repos/apache/nifi/issues/4250","id":695048582,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTA0ODU4Mg==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-18T19:34:06Z","updated_at":"2020-09-18T19:34:06Z","author_association":"MEMBER","body":"@thenatog I think for `SecureClientZooKeeperFactory` to be usable in the state provider, it'd need a small refactor to use Curator, which actually looks more straightforward than I thought. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695048582/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695194561","html_url":"https://github.com/apache/nifi/pull/4537#issuecomment-695194561","issue_url":"https://api.github.com/repos/apache/nifi/issues/4537","id":695194561,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTE5NDU2MQ==","user":{"login":"frankgh","id":6936241,"node_id":"MDQ6VXNlcjY5MzYyNDE=","avatar_url":"https://avatars.githubusercontent.com/u/6936241?v=4","gravatar_id":"","url":"https://api.github.com/users/frankgh","html_url":"https://github.com/frankgh","followers_url":"https://api.github.com/users/frankgh/followers","following_url":"https://api.github.com/users/frankgh/following{/other_user}","gists_url":"https://api.github.com/users/frankgh/gists{/gist_id}","starred_url":"https://api.github.com/users/frankgh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frankgh/subscriptions","organizations_url":"https://api.github.com/users/frankgh/orgs","repos_url":"https://api.github.com/users/frankgh/repos","events_url":"https://api.github.com/users/frankgh/events{/privacy}","received_events_url":"https://api.github.com/users/frankgh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-19T10:11:40Z","updated_at":"2020-09-19T10:11:40Z","author_association":"NONE","body":"@markap14 maybe the issue is that for the parquet reader, the compression codec is not required to read parquet files, so the fix should be along the lines of fixing the ParquetReader initialization (making compression codec optional). I agree with @denalex that maybe someone else can look into this issue, as we are not too familiar with the codebase. Thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695194561/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695206316","html_url":"https://github.com/apache/nifi/pull/4537#issuecomment-695206316","issue_url":"https://api.github.com/repos/apache/nifi/issues/4537","id":695206316,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTIwNjMxNg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-19T12:17:42Z","updated_at":"2020-09-19T12:17:42Z","author_association":"CONTRIBUTOR","body":"I reproduced the issue, going to submit a fix for this.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695206316/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695206839","html_url":"https://github.com/apache/nifi/pull/4537#issuecomment-695206839","issue_url":"https://api.github.com/repos/apache/nifi/issues/4537","id":695206839,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NTIwNjgzOQ==","user":{"login":"frankgh","id":6936241,"node_id":"MDQ6VXNlcjY5MzYyNDE=","avatar_url":"https://avatars.githubusercontent.com/u/6936241?v=4","gravatar_id":"","url":"https://api.github.com/users/frankgh","html_url":"https://github.com/frankgh","followers_url":"https://api.github.com/users/frankgh/followers","following_url":"https://api.github.com/users/frankgh/following{/other_user}","gists_url":"https://api.github.com/users/frankgh/gists{/gist_id}","starred_url":"https://api.github.com/users/frankgh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frankgh/subscriptions","organizations_url":"https://api.github.com/users/frankgh/orgs","repos_url":"https://api.github.com/users/frankgh/repos","events_url":"https://api.github.com/users/frankgh/events{/privacy}","received_events_url":"https://api.github.com/users/frankgh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-19T12:23:31Z","updated_at":"2020-09-19T12:23:31Z","author_association":"NONE","body":"Thanks, @pvillard31! I will be closing this PR in favor of your fix.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/695206839/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696306763","html_url":"https://github.com/apache/nifi/pull/3188#issuecomment-696306763","issue_url":"https://api.github.com/repos/apache/nifi/issues/3188","id":696306763,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NjMwNjc2Mw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-21T18:57:50Z","updated_at":"2020-09-21T18:57:50Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran contrib-check and tried various lookups for readers and writers. Thanks for this new feature! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696306763/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696463326","html_url":"https://github.com/apache/nifi/pull/4476#issuecomment-696463326","issue_url":"https://api.github.com/repos/apache/nifi/issues/4476","id":696463326,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NjQ2MzMyNg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-22T01:20:54Z","updated_at":"2020-09-22T01:20:54Z","author_association":"CONTRIBUTOR","body":"I returned to this today; I am not done reviewing the code itself, but I rebased it against `main` and resolved the merge conflicts. The current branch is at https://github.com/apache/nifi/commit/50e967f80ed3cd6e9cb4840d39e573926c3ed880. It can be pulled in to this PR. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696463326/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696822380","html_url":"https://github.com/apache/nifi/pull/4543#issuecomment-696822380","issue_url":"https://api.github.com/repos/apache/nifi/issues/4543","id":696822380,"node_id":"MDEyOklzc3VlQ29tbWVudDY5NjgyMjM4MA==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-22T16:10:47Z","updated_at":"2020-09-22T16:10:47Z","author_association":"CONTRIBUTOR","body":"Reviewing...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696822380/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696946674","html_url":"https://github.com/apache/nifi/pull/4544#issuecomment-696946674","issue_url":"https://api.github.com/repos/apache/nifi/issues/4544","id":696946674,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Njk0NjY3NA==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-22T19:58:19Z","updated_at":"2020-09-22T19:58:19Z","author_association":"CONTRIBUTOR","body":"Thanks @pvillard31 , looks good to me. +1 merged to main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696946674/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696988472","html_url":"https://github.com/apache/nifi/pull/4476#issuecomment-696988472","issue_url":"https://api.github.com/repos/apache/nifi/issues/4476","id":696988472,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Njk4ODQ3Mg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-22T21:20:13Z","updated_at":"2020-09-22T21:20:13Z","author_association":"CONTRIBUTOR","body":"Closing to open new PR with rebased code. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/696988472/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/697955004","html_url":"https://github.com/apache/nifi/pull/4522#issuecomment-697955004","issue_url":"https://api.github.com/repos/apache/nifi/issues/4522","id":697955004,"node_id":"MDEyOklzc3VlQ29tbWVudDY5Nzk1NTAwNA==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-23T20:28:26Z","updated_at":"2020-09-23T20:28:26Z","author_association":"CONTRIBUTOR","body":"Decided to go a different way with it since Prometheus Counters didn't seem to do what we wanted in our current design. Instead I added code to keep track of the totals internally and set them as a Gauge instead.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/697955004/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698026426","html_url":"https://github.com/apache/nifi/pull/4548#issuecomment-698026426","issue_url":"https://api.github.com/repos/apache/nifi/issues/4548","id":698026426,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODAyNjQyNg==","user":{"login":"alopresto","id":798465,"node_id":"MDQ6VXNlcjc5ODQ2NQ==","avatar_url":"https://avatars.githubusercontent.com/u/798465?v=4","gravatar_id":"","url":"https://api.github.com/users/alopresto","html_url":"https://github.com/alopresto","followers_url":"https://api.github.com/users/alopresto/followers","following_url":"https://api.github.com/users/alopresto/following{/other_user}","gists_url":"https://api.github.com/users/alopresto/gists{/gist_id}","starred_url":"https://api.github.com/users/alopresto/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alopresto/subscriptions","organizations_url":"https://api.github.com/users/alopresto/orgs","repos_url":"https://api.github.com/users/alopresto/repos","events_url":"https://api.github.com/users/alopresto/events{/privacy}","received_events_url":"https://api.github.com/users/alopresto/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-23T23:37:38Z","updated_at":"2020-09-23T23:37:38Z","author_association":"CONTRIBUTOR","body":"Thanks, this is definitely helpful. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698026426/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698278676","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698278676","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698278676,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI3ODY3Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:14:04Z","updated_at":"2020-09-24T11:14:04Z","author_association":"CONTRIBUTOR","body":"Hi @themanifold - thanks for this contribution. Can you please create a JIRA describing the issue/improvement (https://issues.apache.org/jira/browse/NIFI)? And then update the title of this PR to prefix it with the JIRA reference? This helps us keeping track of everything. Thank you.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698278676/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698278992","html_url":"https://github.com/apache/nifi/pull/4547#issuecomment-698278992","issue_url":"https://api.github.com/repos/apache/nifi/issues/4547","id":698278992,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI3ODk5Mg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:14:49Z","updated_at":"2020-09-24T11:14:49Z","author_association":"CONTRIBUTOR","body":"Hi @ofirmgr - thanks for this contribution. Can you please create a JIRA describing the issue/improvement (https://issues.apache.org/jira/browse/NIFI)? And then update the title of this PR to prefix it with the JIRA reference? This helps us keeping track of everything. Thank you.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698278992/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698281598","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698281598","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698281598,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI4MTU5OA==","user":{"login":"themanifold","id":5174034,"node_id":"MDQ6VXNlcjUxNzQwMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/5174034?v=4","gravatar_id":"","url":"https://api.github.com/users/themanifold","html_url":"https://github.com/themanifold","followers_url":"https://api.github.com/users/themanifold/followers","following_url":"https://api.github.com/users/themanifold/following{/other_user}","gists_url":"https://api.github.com/users/themanifold/gists{/gist_id}","starred_url":"https://api.github.com/users/themanifold/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/themanifold/subscriptions","organizations_url":"https://api.github.com/users/themanifold/orgs","repos_url":"https://api.github.com/users/themanifold/repos","events_url":"https://api.github.com/users/themanifold/events{/privacy}","received_events_url":"https://api.github.com/users/themanifold/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:20:47Z","updated_at":"2020-09-24T11:20:47Z","author_association":"NONE","body":"> Hi @themanifold - thanks for this contribution. Can you please create a JIRA describing the issue/improvement (https://issues.apache.org/jira/browse/NIFI)? And then update the title of this PR to prefix it with the JIRA reference? This helps us keeping track of everything. Thank you.\r\n\r\nDone: https://issues.apache.org/jira/browse/NIFI-7845","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698281598/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698287186","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698287186","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698287186,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI4NzE4Ng==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:33:37Z","updated_at":"2020-09-24T11:33:37Z","author_association":"CONTRIBUTOR","body":"Thanks @themanifold. Hey @turcsanyip - I know you worked on this recently, you might want to have a look?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698287186/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698293602","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698293602","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698293602,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI5MzYwMg==","user":{"login":"themanifold","id":5174034,"node_id":"MDQ6VXNlcjUxNzQwMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/5174034?v=4","gravatar_id":"","url":"https://api.github.com/users/themanifold","html_url":"https://github.com/themanifold","followers_url":"https://api.github.com/users/themanifold/followers","following_url":"https://api.github.com/users/themanifold/following{/other_user}","gists_url":"https://api.github.com/users/themanifold/gists{/gist_id}","starred_url":"https://api.github.com/users/themanifold/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/themanifold/subscriptions","organizations_url":"https://api.github.com/users/themanifold/orgs","repos_url":"https://api.github.com/users/themanifold/repos","events_url":"https://api.github.com/users/themanifold/events{/privacy}","received_events_url":"https://api.github.com/users/themanifold/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:48:26Z","updated_at":"2020-09-24T11:48:26Z","author_association":"NONE","body":"With reference to the ci-workflow tests, I don't actually see any valid errors unless I'm missing something...","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698293602/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698297058","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698297058","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698297058,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODI5NzA1OA==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T11:56:21Z","updated_at":"2020-09-24T11:56:21Z","author_association":"CONTRIBUTOR","body":"This is the error in the build:\r\n```\r\nError:  COMPILATION ERROR : \r\nError:  /home/runner/work/nifi/nifi/nifi-nar-bundles/nifi-amqp-bundle/nifi-amqp-processors/src/main/java/org/apache/nifi/amqp/processors/PublishAMQP.java:[258,8] error: cannot find symbol\r\n  symbol:   variable amqpPropValueLen\r\n```\r\nI checked it locally too and `amqpPropValueLen` does not seem to be declared.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698297058/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698302966","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698302966","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698302966,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODMwMjk2Ng==","user":{"login":"themanifold","id":5174034,"node_id":"MDQ6VXNlcjUxNzQwMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/5174034?v=4","gravatar_id":"","url":"https://api.github.com/users/themanifold","html_url":"https://github.com/themanifold","followers_url":"https://api.github.com/users/themanifold/followers","following_url":"https://api.github.com/users/themanifold/following{/other_user}","gists_url":"https://api.github.com/users/themanifold/gists{/gist_id}","starred_url":"https://api.github.com/users/themanifold/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/themanifold/subscriptions","organizations_url":"https://api.github.com/users/themanifold/orgs","repos_url":"https://api.github.com/users/themanifold/repos","events_url":"https://api.github.com/users/themanifold/events{/privacy}","received_events_url":"https://api.github.com/users/themanifold/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T12:09:28Z","updated_at":"2020-09-24T12:09:28Z","author_association":"NONE","body":"> This is the error in the build:\r\n> \r\n> ```\r\n> Error:  COMPILATION ERROR : \r\n> Error:  /home/runner/work/nifi/nifi/nifi-nar-bundles/nifi-amqp-bundle/nifi-amqp-processors/src/main/java/org/apache/nifi/amqp/processors/PublishAMQP.java:[258,8] error: cannot find symbol\r\n>   symbol:   variable amqpPropValueLen\r\n> ```\r\n> \r\n> I checked it locally too and `amqpPropValueLen` does not seem to be declared.\r\n\r\nMy bad. I've never written any Java before and I didn't check this on my own machine as I'm hoping this is just a quick fix.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698302966/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698350196","html_url":"https://github.com/apache/nifi/pull/4534#issuecomment-698350196","issue_url":"https://api.github.com/repos/apache/nifi/issues/4534","id":698350196,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODM1MDE5Ng==","user":{"login":"pgyori","id":63872658,"node_id":"MDQ6VXNlcjYzODcyNjU4","avatar_url":"https://avatars.githubusercontent.com/u/63872658?v=4","gravatar_id":"","url":"https://api.github.com/users/pgyori","html_url":"https://github.com/pgyori","followers_url":"https://api.github.com/users/pgyori/followers","following_url":"https://api.github.com/users/pgyori/following{/other_user}","gists_url":"https://api.github.com/users/pgyori/gists{/gist_id}","starred_url":"https://api.github.com/users/pgyori/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pgyori/subscriptions","organizations_url":"https://api.github.com/users/pgyori/orgs","repos_url":"https://api.github.com/users/pgyori/repos","events_url":"https://api.github.com/users/pgyori/events{/privacy}","received_events_url":"https://api.github.com/users/pgyori/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T13:38:59Z","updated_at":"2020-09-24T13:38:59Z","author_association":"CONTRIBUTOR","body":"> Instead of defining a different message for each case, can we leverage `context.getProperty(MERGE_FORMAT).getValue()` for the log statement? See suggestions. Feel free to ignore if not relevant.\r\n\r\nThat's right, thank you @pvillard31 ! Committed the changes.\r\nI added quotes around the merge format, so that when something like:\r\n_Failed to remove merged FlowFile from the session after merge failure during \"FlowFile Stream, v3\" merge._\r\ngets written in the log, it is clearer that the expression \"FlowFile Stream, v3\" is the name of the merge format.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698350196/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698418092","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698418092","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698418092,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODQxODA5Mg==","user":{"login":"themanifold","id":5174034,"node_id":"MDQ6VXNlcjUxNzQwMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/5174034?v=4","gravatar_id":"","url":"https://api.github.com/users/themanifold","html_url":"https://github.com/themanifold","followers_url":"https://api.github.com/users/themanifold/followers","following_url":"https://api.github.com/users/themanifold/following{/other_user}","gists_url":"https://api.github.com/users/themanifold/gists{/gist_id}","starred_url":"https://api.github.com/users/themanifold/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/themanifold/subscriptions","organizations_url":"https://api.github.com/users/themanifold/orgs","repos_url":"https://api.github.com/users/themanifold/repos","events_url":"https://api.github.com/users/themanifold/events{/privacy}","received_events_url":"https://api.github.com/users/themanifold/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T15:28:09Z","updated_at":"2020-09-24T15:28:26Z","author_association":"NONE","body":"I suspect that the cancellation is just unlucky - given the french version passed but the english one failed. I don't know how to re-run it - can't find a button for it @pvillard31","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698418092/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698459059","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-698459059","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":698459059,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODQ1OTA1OQ==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T16:42:21Z","updated_at":"2020-09-24T16:42:21Z","author_association":"CONTRIBUTOR","body":"That's fine, no worries 3 builds out of four passed, so we're good on this side. Just need someone to review your code. I'm not very familiar with this part so I'd prefer another pair of eyes. My only recommendation would be to update an existing unit test or create a new one to confirm the change (unit test or integration test).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698459059/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698506510","html_url":"https://github.com/apache/nifi/pull/4221#issuecomment-698506510","issue_url":"https://api.github.com/repos/apache/nifi/issues/4221","id":698506510,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODUwNjUxMA==","user":{"login":"anaylor","id":61026014,"node_id":"MDQ6VXNlcjYxMDI2MDE0","avatar_url":"https://avatars.githubusercontent.com/u/61026014?v=4","gravatar_id":"","url":"https://api.github.com/users/anaylor","html_url":"https://github.com/anaylor","followers_url":"https://api.github.com/users/anaylor/followers","following_url":"https://api.github.com/users/anaylor/following{/other_user}","gists_url":"https://api.github.com/users/anaylor/gists{/gist_id}","starred_url":"https://api.github.com/users/anaylor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anaylor/subscriptions","organizations_url":"https://api.github.com/users/anaylor/orgs","repos_url":"https://api.github.com/users/anaylor/repos","events_url":"https://api.github.com/users/anaylor/events{/privacy}","received_events_url":"https://api.github.com/users/anaylor/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T18:16:42Z","updated_at":"2020-09-24T18:16:42Z","author_association":"NONE","body":"@taftster I developed the front end for this ticket, if you can push this I could through my changes in. Or smash it on here, your call","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698506510/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698508363","html_url":"https://github.com/apache/nifi/pull/4130#issuecomment-698508363","issue_url":"https://api.github.com/repos/apache/nifi/issues/4130","id":698508363,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODUwODM2Mw==","user":{"login":"anaylor","id":61026014,"node_id":"MDQ6VXNlcjYxMDI2MDE0","avatar_url":"https://avatars.githubusercontent.com/u/61026014?v=4","gravatar_id":"","url":"https://api.github.com/users/anaylor","html_url":"https://github.com/anaylor","followers_url":"https://api.github.com/users/anaylor/followers","following_url":"https://api.github.com/users/anaylor/following{/other_user}","gists_url":"https://api.github.com/users/anaylor/gists{/gist_id}","starred_url":"https://api.github.com/users/anaylor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anaylor/subscriptions","organizations_url":"https://api.github.com/users/anaylor/orgs","repos_url":"https://api.github.com/users/anaylor/repos","events_url":"https://api.github.com/users/anaylor/events{/privacy}","received_events_url":"https://api.github.com/users/anaylor/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T18:20:15Z","updated_at":"2020-09-24T18:20:15Z","author_association":"NONE","body":"@mcgilman I know its been a while but could you take another look or advise? \r\n\r\nThanks","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698508363/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698508388","html_url":"https://github.com/apache/nifi/pull/4550#issuecomment-698508388","issue_url":"https://api.github.com/repos/apache/nifi/issues/4550","id":698508388,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODUwODM4OA==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T18:20:18Z","updated_at":"2020-09-24T18:20:18Z","author_association":"CONTRIBUTOR","body":"Testing with different `RecordSetWriter`s, configurations and schemas.\r\nIt seems the `ParquetRecordSetWriter` still has the issue.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698508388/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698532068","html_url":"https://github.com/apache/nifi/pull/4550#issuecomment-698532068","issue_url":"https://api.github.com/repos/apache/nifi/issues/4550","id":698532068,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODUzMjA2OA==","user":{"login":"tpalfy","id":53442425,"node_id":"MDQ6VXNlcjUzNDQyNDI1","avatar_url":"https://avatars.githubusercontent.com/u/53442425?v=4","gravatar_id":"","url":"https://api.github.com/users/tpalfy","html_url":"https://github.com/tpalfy","followers_url":"https://api.github.com/users/tpalfy/followers","following_url":"https://api.github.com/users/tpalfy/following{/other_user}","gists_url":"https://api.github.com/users/tpalfy/gists{/gist_id}","starred_url":"https://api.github.com/users/tpalfy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tpalfy/subscriptions","organizations_url":"https://api.github.com/users/tpalfy/orgs","repos_url":"https://api.github.com/users/tpalfy/repos","events_url":"https://api.github.com/users/tpalfy/events{/privacy}","received_events_url":"https://api.github.com/users/tpalfy/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T19:05:47Z","updated_at":"2020-09-24T19:05:47Z","author_association":"CONTRIBUTOR","body":"> It seems the `ParquetRecordSetWriter` still has the issue.\r\n\r\nIt seems Parquet doesn't support recursive schema.\r\n\r\nThey have an open Jira and even a pull request, but the last meaningful updates on those are 2 years old:\r\nhttps://issues.apache.org/jira/browse/PARQUET-129\r\nhttps://github.com/apache/parquet-mr/pull/445\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698532068/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698534129","html_url":"https://github.com/apache/nifi/pull/4550#issuecomment-698534129","issue_url":"https://api.github.com/repos/apache/nifi/issues/4550","id":698534129,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODUzNDEyOQ==","user":{"login":"adenes","id":1275646,"node_id":"MDQ6VXNlcjEyNzU2NDY=","avatar_url":"https://avatars.githubusercontent.com/u/1275646?v=4","gravatar_id":"","url":"https://api.github.com/users/adenes","html_url":"https://github.com/adenes","followers_url":"https://api.github.com/users/adenes/followers","following_url":"https://api.github.com/users/adenes/following{/other_user}","gists_url":"https://api.github.com/users/adenes/gists{/gist_id}","starred_url":"https://api.github.com/users/adenes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adenes/subscriptions","organizations_url":"https://api.github.com/users/adenes/orgs","repos_url":"https://api.github.com/users/adenes/repos","events_url":"https://api.github.com/users/adenes/events{/privacy}","received_events_url":"https://api.github.com/users/adenes/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T19:10:02Z","updated_at":"2020-09-24T19:10:02Z","author_association":"CONTRIBUTOR","body":"Thanks for the reply @turcsanyip, it seems it's in the Parquet library, as @tpalfy pointed out and the stacktrace supports this:\r\n```\r\n2020-09-24 21:04:05,504 ERROR [Timer-Driven Process Thread-1] o.a.n.processors.standard.ConvertRecord ConvertRecord[id\r\n=bee7ac17-0174-1000-6ace-013d1b0a0b80] ConvertRecord[id=bee7ac17-0174-1000-6ace-013d1b0a0b80] failed to process sessio\r\nn due to java.lang.StackOverflowError; Processor Administratively Yielded for 1 sec: java.lang.StackOverflowError\r\njava.lang.StackOverflowError: null\r\n        at org.apache.parquet.schema.Types$BasePrimitiveBuilder.<init>(Types.java:329)\r\n        at org.apache.parquet.schema.Types$BasePrimitiveBuilder.<init>(Types.java:309)\r\n        at org.apache.parquet.schema.Types$PrimitiveBuilder.<init>(Types.java:518)\r\n        at org.apache.parquet.schema.Types$PrimitiveBuilder.<init>(Types.java:511)\r\n        at org.apache.parquet.schema.Types.primitive(Types.java:1314)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:150)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertUnion(AvroSchemaConverter.java:214)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:171)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:130)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:227)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertFields(AvroSchemaConverter.java:124)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:152)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertUnion(AvroSchemaConverter.java:214)\r\n        at org.apache.parquet.avro.AvroSchemaConverter.convertField(AvroSchemaConverter.java:171)\r\n        ...\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698534129/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698570188","html_url":"https://github.com/apache/nifi/pull/4550#issuecomment-698570188","issue_url":"https://api.github.com/repos/apache/nifi/issues/4550","id":698570188,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODU3MDE4OA==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-24T20:25:14Z","updated_at":"2020-09-24T20:25:14Z","author_association":"CONTRIBUTOR","body":"@tpalfy, @adenes Thanks for the clarification regarding Parquet.\r\n\r\nI tested the following cases and it works properly:\r\n- Avro and Json readers with explicit schema and schema inference\r\n- Avro, Json, XML, CSV and FreeFormText writers with explicit schema and schema inheritance\r\n- schemas: simple recursion, recursion in array, indirect recursion\r\n- processors: ConvertRecord, UpdateRecord\r\n\r\nFound only one use case where still getting StackOverflow: both the reader and writer schemas defined explicitly, the schemas use the same field names but have different schema names.\r\nAs it is quite an unusual setup, I believe we can ignore it.\r\n\r\n+1 LGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698570188/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698674405","html_url":"https://github.com/apache/nifi/pull/4221#issuecomment-698674405","issue_url":"https://api.github.com/repos/apache/nifi/issues/4221","id":698674405,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODY3NDQwNQ==","user":{"login":"taftster","id":7379639,"node_id":"MDQ6VXNlcjczNzk2Mzk=","avatar_url":"https://avatars.githubusercontent.com/u/7379639?v=4","gravatar_id":"","url":"https://api.github.com/users/taftster","html_url":"https://github.com/taftster","followers_url":"https://api.github.com/users/taftster/followers","following_url":"https://api.github.com/users/taftster/following{/other_user}","gists_url":"https://api.github.com/users/taftster/gists{/gist_id}","starred_url":"https://api.github.com/users/taftster/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/taftster/subscriptions","organizations_url":"https://api.github.com/users/taftster/orgs","repos_url":"https://api.github.com/users/taftster/repos","events_url":"https://api.github.com/users/taftster/events{/privacy}","received_events_url":"https://api.github.com/users/taftster/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-25T01:44:38Z","updated_at":"2020-09-25T01:44:38Z","author_association":"NONE","body":"@anaylor I still owe everyone the refactor that is to deprecate the existing method, not remove it.  I just have had to keep putting it off. /sigh\r\n\r\nThat being said ... if you can:\r\n1.  Smash your changes onto this branch - that would be awesome.  I'll take them for sure.\r\n2. Do you want to also refactor to deprecate the api method?  (e.g. per @jfrazee 's comment)\r\n\r\nI don't need credit for this or anything, so if you just want to adopt and own, it's all yours.  I'm super exited to see a nice element for this instead of a stupid link.\r\n\r\nWill wait to hear from you.  Thanks for your contribution!!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698674405/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698894620","html_url":"https://github.com/apache/nifi/pull/4545#issuecomment-698894620","issue_url":"https://api.github.com/repos/apache/nifi/issues/4545","id":698894620,"node_id":"MDEyOklzc3VlQ29tbWVudDY5ODg5NDYyMA==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-25T12:14:14Z","updated_at":"2020-09-25T12:14:29Z","author_association":"CONTRIBUTOR","body":"Tested against a cluster where Ozone 1.0.0 was installed with Kerberos enabled.\r\n\r\n- Added core-site, and ozone-site XML files as configuration files\r\n- Ensured that the [proper properties](https://hadoop.apache.org/ozone/docs/1.0.0/interface/o3fs.html) are indicated in core-site.xml\r\n````\r\n<property>\r\n  <name>fs.AbstractFileSystem.o3fs.impl</name>\r\n  <value>org.apache.hadoop.fs.ozone.OzFs</value>\r\n</property>\r\n<property>\r\n  <name>fs.defaultFS</name>\r\n  <value>o3fs://bucket.volume</value>\r\n</property>\r\n````\r\n\r\nIt's important to note that for the ``FetchHDFS`` processor, it's important to specify the fully qualified path and not just the relative path to the bucket. In other words, ``ListHDFS`` will list a file with path equal to ``/`` and name equal to ``foo.txt``, if leaving the default property for ``FetchHDFS``, you might get this error:\r\n\r\n````\r\n2020-09-25 11:16:24,155 WARN org.apache.nifi.controller.tasks.ConnectableTask: Administratively Yielding FetchHDFS[id=c04a869b-0174-1000-0000-00003e0aa21b] due to uncaught Exception: java.lang.StringIndexOutOfBoundsException: String index out of range: -1\r\njava.lang.StringIndexOutOfBoundsException: String index out of range: -1\r\n\tat java.lang.String.substring(String.java:1931)\r\n\tat org.apache.hadoop.fs.ozone.BasicOzoneFileSystem.pathToKey(BasicOzoneFileSystem.java:748)\r\n\tat org.apache.hadoop.fs.ozone.BasicOzoneFileSystem.open(BasicOzoneFileSystem.java:212)\r\n\tat org.apache.nifi.processors.hadoop.FetchHDFS$1.run(FetchHDFS.java:161)\r\n\tat java.security.AccessController.doPrivileged(Native Method)\r\n\tat javax.security.auth.Subject.doAs(Subject.java:360)\r\n\tat org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1710)\r\n\tat org.apache.nifi.processors.hadoop.FetchHDFS.onTrigger(FetchHDFS.java:140)\r\n\tat org.apache.nifi.processor.AbstractProcessor.onTrigger(AbstractProcessor.java:27)\r\n\tat org.apache.nifi.controller.StandardProcessorNode.onTrigger(StandardProcessorNode.java:1176)\r\n\tat org.apache.nifi.controller.tasks.ConnectableTask.invoke(ConnectableTask.java:213)\r\n\tat org.apache.nifi.controller.scheduling.TimerDrivenSchedulingAgent$1.run(TimerDrivenSchedulingAgent.java:117)\r\n\tat org.apache.nifi.engine.FlowEngine$2.run(FlowEngine.java:110)\r\n\tat java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)\r\n\tat java.util.concurrent.FutureTask.runAndReset(FutureTask.java:308)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$301(ScheduledThreadPoolExecutor.java:180)\r\n\tat java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:294)\r\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\r\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\r\n\tat java.lang.Thread.run(Thread.java:748)\r\n````\r\n\r\nYou'll need to change the property in the ``FetchHDFS`` processor to use ``o3fs://bucket.volume/${path}/${name}`` instead of the default ``${path}/${name}``.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/698894620/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/699729252","html_url":"https://github.com/apache/nifi/pull/4549#issuecomment-699729252","issue_url":"https://api.github.com/repos/apache/nifi/issues/4549","id":699729252,"node_id":"MDEyOklzc3VlQ29tbWVudDY5OTcyOTI1Mg==","user":{"login":"granthenke","id":1928566,"node_id":"MDQ6VXNlcjE5Mjg1NjY=","avatar_url":"https://avatars.githubusercontent.com/u/1928566?v=4","gravatar_id":"","url":"https://api.github.com/users/granthenke","html_url":"https://github.com/granthenke","followers_url":"https://api.github.com/users/granthenke/followers","following_url":"https://api.github.com/users/granthenke/following{/other_user}","gists_url":"https://api.github.com/users/granthenke/gists{/gist_id}","starred_url":"https://api.github.com/users/granthenke/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/granthenke/subscriptions","organizations_url":"https://api.github.com/users/granthenke/orgs","repos_url":"https://api.github.com/users/granthenke/repos","events_url":"https://api.github.com/users/granthenke/events{/privacy}","received_events_url":"https://api.github.com/users/granthenke/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-28T02:02:47Z","updated_at":"2020-09-28T02:02:47Z","author_association":"MEMBER","body":"👍 LGTM","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/699729252/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700135915","html_url":"https://github.com/apache/nifi/pull/4522#issuecomment-700135915","issue_url":"https://api.github.com/repos/apache/nifi/issues/4522","id":700135915,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDEzNTkxNQ==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-28T16:15:19Z","updated_at":"2020-09-28T16:15:19Z","author_association":"CONTRIBUTOR","body":"@mattyb149 thanks for the updates, reviewing now","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700135915/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700186106","html_url":"https://github.com/apache/nifi/pull/4550#issuecomment-700186106","issue_url":"https://api.github.com/repos/apache/nifi/issues/4550","id":700186106,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDE4NjEwNg==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-28T17:49:19Z","updated_at":"2020-09-28T17:49:19Z","author_association":"CONTRIBUTOR","body":"@adenes Thanks for the fix.\r\n@simonbence, @tpalfy Thanks for the reviews.\r\n\r\nMerging to main.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700186106/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700250454","html_url":"https://github.com/apache/nifi/pull/4512#issuecomment-700250454","issue_url":"https://api.github.com/repos/apache/nifi/issues/4512","id":700250454,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDI1MDQ1NA==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-28T20:00:28Z","updated_at":"2020-09-28T20:00:28Z","author_association":"CONTRIBUTOR","body":"This is an awesome feature! I'm loving the simplification of the record reader properties :)\r\n\r\nI came across one issue while testing this which looks like a UI issue. I took the test processor from this PR that is named `DependsOnProperties` and I put it in a NAR and deployed it to my NiFi. I added an instance of it to the canvas and it was correctly invalid, but when I tried to open the configuration to change the properties I got this error in the browser console:\r\n\r\n```\r\njquery.propertytable.js?1.13.0-SNAPSHOT:1 Uncaught TypeError: Cannot read property 'includes' of undefined\r\n    at Object.<anonymous> (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at Function.each (jquery.min.js:2)\r\n    at Function.b.each (jquery.each.js:1)\r\n    at Object.<anonymous> (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at Function.each (jquery.min.js:2)\r\n    at Function.b.each (jquery.each.js:1)\r\n    at jquery.propertytable.js?1.13.0-SNAPSHOT:1\r\n    at Function.each (jquery.min.js:2)\r\n    at Function.b.each (jquery.each.js:1)\r\n    at D (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at HTMLDivElement.<anonymous> (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at Function.each (jquery.min.js:2)\r\n    at Function.b.each (jquery.each.js:1)\r\n    at S.fn.init.each (jquery.min.js:2)\r\n    at S.fn.init.loadProperties (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at S.fn.init.t.fn.propertytable (jquery.propertytable.js?1.13.0-SNAPSHOT:1)\r\n    at Array.<anonymous> (nf-canvas-all.js?1.13.0-SNAPSHOT:25)\r\n    at c (jquery.min.js:2)\r\n    at Object.fireWith [as resolveWith] (jquery.min.js:2)\r\n    at Object.<anonymous> (jquery.min.js:2)\r\n    at c (jquery.min.js:2)\r\n    at Object.fireWith [as resolveWith] (jquery.min.js:2)\r\n    at l (jquery.min.js:2)\r\n    at XMLHttpRequest.<anonymous> (jquery.min.js:2)\r\n```","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700250454/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700337799","html_url":"https://github.com/apache/nifi/pull/4367#issuecomment-700337799","issue_url":"https://api.github.com/repos/apache/nifi/issues/4367","id":700337799,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDMzNzc5OQ==","user":{"login":"sjyang18","id":41694933,"node_id":"MDQ6VXNlcjQxNjk0OTMz","avatar_url":"https://avatars.githubusercontent.com/u/41694933?v=4","gravatar_id":"","url":"https://api.github.com/users/sjyang18","html_url":"https://github.com/sjyang18","followers_url":"https://api.github.com/users/sjyang18/followers","following_url":"https://api.github.com/users/sjyang18/following{/other_user}","gists_url":"https://api.github.com/users/sjyang18/gists{/gist_id}","starred_url":"https://api.github.com/users/sjyang18/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sjyang18/subscriptions","organizations_url":"https://api.github.com/users/sjyang18/orgs","repos_url":"https://api.github.com/users/sjyang18/repos","events_url":"https://api.github.com/users/sjyang18/events{/privacy}","received_events_url":"https://api.github.com/users/sjyang18/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-28T23:35:02Z","updated_at":"2020-09-28T23:35:23Z","author_association":"CONTRIBUTOR","body":"I haver rebased to main and push to see if build failure will be fixed.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700337799/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700496947","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-700496947","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":700496947,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDQ5Njk0Nw==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T07:08:37Z","updated_at":"2020-09-29T07:09:52Z","author_association":"CONTRIBUTOR","body":"@themanifold Could you please clarify your use case and the problem you would like to solve in more detail?\r\n\r\nIf I understand correctly, `ConsumeAMQP` can emit the following `amqp$headers` attribute values (as strings):\r\n- `{a=1}` if there is 1 key=value pair in the message headers\r\n- `{a=1,b=2}` if there are 2 key=value pairs in the headers of the received message\r\n- `{}` if the headers of the received message is empty\r\n\r\nAnd you would like `PublishAMQP` to be able to parse these strings properly. Eg. in case of `{a=1,b=2}`, remove the curly braces and add 2 headers (`a=1` and `b=2`), and in case of `{}`, no headers need to be added.\r\n\r\nSo your flow is `ConsumeAMQP` (from a queue) => process data => `PublishAMQP` (to another queue with keeping the same headers). Is my understanding correct?\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700496947/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700503064","html_url":"https://github.com/apache/nifi/pull/4552#issuecomment-700503064","issue_url":"https://api.github.com/repos/apache/nifi/issues/4552","id":700503064,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDUwMzA2NA==","user":{"login":"themanifold","id":5174034,"node_id":"MDQ6VXNlcjUxNzQwMzQ=","avatar_url":"https://avatars.githubusercontent.com/u/5174034?v=4","gravatar_id":"","url":"https://api.github.com/users/themanifold","html_url":"https://github.com/themanifold","followers_url":"https://api.github.com/users/themanifold/followers","following_url":"https://api.github.com/users/themanifold/following{/other_user}","gists_url":"https://api.github.com/users/themanifold/gists{/gist_id}","starred_url":"https://api.github.com/users/themanifold/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/themanifold/subscriptions","organizations_url":"https://api.github.com/users/themanifold/orgs","repos_url":"https://api.github.com/users/themanifold/repos","events_url":"https://api.github.com/users/themanifold/events{/privacy}","received_events_url":"https://api.github.com/users/themanifold/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T07:21:31Z","updated_at":"2020-09-29T07:21:31Z","author_association":"NONE","body":"> @themanifold Could you please clarify your use case and the problem you would like to solve in more detail?\r\n> \r\n> If I understand correctly, `ConsumeAMQP` can emit the following `amqp$headers` attribute values (as strings):\r\n> \r\n>     * `{a=1}` if there is 1 key=value pair in the message headers\r\n> \r\n>     * `{a=1,b=2}` if there are 2 key=value pairs in the headers of the received message\r\n> \r\n>     * `{}` if the headers of the received message is empty\r\n> \r\n> \r\n> And you would like `PublishAMQP` to be able to parse these strings properly. Eg. in case of `{a=1,b=2}`, remove the curly braces and add 2 headers (`a=1` and `b=2`), and in case of `{}`, no headers need to be added.\r\n> \r\n> So your flow is `ConsumeAMQP` (from a queue) => process data => `PublishAMQP` (to another queue with keeping the same headers). Is my understanding correct?\r\n\r\nEverything here is correct apart from the flow. My initial attempt in NiFi didn't actually do any data processing. I did: `ConsumeAMQP` (from a queue) => `PublishAMQP` (exchange). If you try this in NiFi, you'll find that the `PublishAMQP` can't cope with `{}` (if your incoming message has no headers). Additionally, you'll see that `ConsumeAMQP` actually can't cope with curly braces full stop and will end up making some invalid headers - specifically the first key and the last key will have `{` and `}` appended and prepended, respectively. When I say that it can't cope, I mean that throws up a warning that will obscure any real errors.\r\n\r\nMy work around right now is to actually delete the empty header using the `update attribute` processor.\r\n\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700503064/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700689011","html_url":"https://github.com/apache/nifi/pull/4545#issuecomment-700689011","issue_url":"https://api.github.com/repos/apache/nifi/issues/4545","id":700689011,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDY4OTAxMQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T13:05:45Z","updated_at":"2020-09-29T13:05:45Z","author_association":"CONTRIBUTOR","body":"Looks good, will merge, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700689011/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700690499","html_url":"https://github.com/apache/nifi/pull/4538#issuecomment-700690499","issue_url":"https://api.github.com/repos/apache/nifi/issues/4538","id":700690499,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDY5MDQ5OQ==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T13:08:21Z","updated_at":"2020-09-29T13:08:21Z","author_association":"CONTRIBUTOR","body":"Looks good, will merge, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700690499/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700694413","html_url":"https://github.com/apache/nifi/pull/4541#issuecomment-700694413","issue_url":"https://api.github.com/repos/apache/nifi/issues/4541","id":700694413,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDY5NDQxMw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T13:15:03Z","updated_at":"2020-09-29T13:15:03Z","author_association":"CONTRIBUTOR","body":"Looks good, will merge, thanks!","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700694413/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700713413","html_url":"https://github.com/apache/nifi/pull/4559#issuecomment-700713413","issue_url":"https://api.github.com/repos/apache/nifi/issues/4559","id":700713413,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDcxMzQxMw==","user":{"login":"bbende","id":605416,"node_id":"MDQ6VXNlcjYwNTQxNg==","avatar_url":"https://avatars.githubusercontent.com/u/605416?v=4","gravatar_id":"","url":"https://api.github.com/users/bbende","html_url":"https://github.com/bbende","followers_url":"https://api.github.com/users/bbende/followers","following_url":"https://api.github.com/users/bbende/following{/other_user}","gists_url":"https://api.github.com/users/bbende/gists{/gist_id}","starred_url":"https://api.github.com/users/bbende/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bbende/subscriptions","organizations_url":"https://api.github.com/users/bbende/orgs","repos_url":"https://api.github.com/users/bbende/repos","events_url":"https://api.github.com/users/bbende/events{/privacy}","received_events_url":"https://api.github.com/users/bbende/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T13:44:21Z","updated_at":"2020-09-29T13:44:21Z","author_association":"CONTRIBUTOR","body":"@frankgh we don't need to submit this to the support branch, the way it works is that if the community decides to do another 1.12.x maintenance release (1.12.1 is already made and released yesterday), then the RM would go through all the tickets that landed in main (1.13.0-SNAPSHOT), and cherry-pick any bug fixes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700713413/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700720378","html_url":"https://github.com/apache/nifi/pull/4559#issuecomment-700720378","issue_url":"https://api.github.com/repos/apache/nifi/issues/4559","id":700720378,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDcyMDM3OA==","user":{"login":"frankgh","id":6936241,"node_id":"MDQ6VXNlcjY5MzYyNDE=","avatar_url":"https://avatars.githubusercontent.com/u/6936241?v=4","gravatar_id":"","url":"https://api.github.com/users/frankgh","html_url":"https://github.com/frankgh","followers_url":"https://api.github.com/users/frankgh/followers","following_url":"https://api.github.com/users/frankgh/following{/other_user}","gists_url":"https://api.github.com/users/frankgh/gists{/gist_id}","starred_url":"https://api.github.com/users/frankgh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frankgh/subscriptions","organizations_url":"https://api.github.com/users/frankgh/orgs","repos_url":"https://api.github.com/users/frankgh/repos","events_url":"https://api.github.com/users/frankgh/events{/privacy}","received_events_url":"https://api.github.com/users/frankgh/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T13:54:28Z","updated_at":"2020-09-29T13:54:28Z","author_association":"NONE","body":"@bbende thanks for letting me know, will close this now in that case","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700720378/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973299","html_url":"https://github.com/apache/nifi/pull/4513#issuecomment-700973299","issue_url":"https://api.github.com/repos/apache/nifi/issues/4513","id":700973299,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDk3MzI5OQ==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T20:39:02Z","updated_at":"2020-09-29T20:39:02Z","author_association":"CONTRIBUTOR","body":"touch","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973299/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973513","html_url":"https://github.com/apache/nifi/pull/4384#issuecomment-700973513","issue_url":"https://api.github.com/repos/apache/nifi/issues/4384","id":700973513,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDk3MzUxMw==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T20:39:28Z","updated_at":"2020-09-29T20:39:28Z","author_association":"CONTRIBUTOR","body":"touch","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973513/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973644","html_url":"https://github.com/apache/nifi/pull/4262#issuecomment-700973644","issue_url":"https://api.github.com/repos/apache/nifi/issues/4262","id":700973644,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMDk3MzY0NA==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-29T20:39:46Z","updated_at":"2020-09-29T20:39:46Z","author_association":"CONTRIBUTOR","body":"touch","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/700973644/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701255032","html_url":"https://github.com/apache/nifi/pull/4384#issuecomment-701255032","issue_url":"https://api.github.com/repos/apache/nifi/issues/4384","id":701255032,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTI1NTAzMg==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T08:49:15Z","updated_at":"2020-09-30T08:49:15Z","author_association":"CONTRIBUTOR","body":"Hey @ottobackwards - I just went through this PR and it LGTM. Given that the processor becomes a little bit more \"complex\", I think it'd make a lot of sense to have an ``additionalDetails.html`` page for this processor with examples and explanations on how this processor works based on all the properties and the different combinations. Do you mind taking a look at this as part of this PR?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701255032/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701270023","html_url":"https://github.com/apache/nifi/pull/4556#issuecomment-701270023","issue_url":"https://api.github.com/repos/apache/nifi/issues/4556","id":701270023,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTI3MDAyMw==","user":{"login":"pvillard31","id":11541012,"node_id":"MDQ6VXNlcjExNTQxMDEy","avatar_url":"https://avatars.githubusercontent.com/u/11541012?v=4","gravatar_id":"","url":"https://api.github.com/users/pvillard31","html_url":"https://github.com/pvillard31","followers_url":"https://api.github.com/users/pvillard31/followers","following_url":"https://api.github.com/users/pvillard31/following{/other_user}","gists_url":"https://api.github.com/users/pvillard31/gists{/gist_id}","starred_url":"https://api.github.com/users/pvillard31/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pvillard31/subscriptions","organizations_url":"https://api.github.com/users/pvillard31/orgs","repos_url":"https://api.github.com/users/pvillard31/repos","events_url":"https://api.github.com/users/pvillard31/events{/privacy}","received_events_url":"https://api.github.com/users/pvillard31/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T09:17:42Z","updated_at":"2020-09-30T09:17:42Z","author_association":"CONTRIBUTOR","body":"Merged to main, thanks @turcsanyip and everyone who reviewed.\r\n@MuazmaZ - let us know if you have a feedback recommending to take another approach here.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701270023/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701315803","html_url":"https://github.com/apache/nifi/pull/4384#issuecomment-701315803","issue_url":"https://api.github.com/repos/apache/nifi/issues/4384","id":701315803,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTMxNTgwMw==","user":{"login":"ottobackwards","id":1111551,"node_id":"MDQ6VXNlcjExMTE1NTE=","avatar_url":"https://avatars.githubusercontent.com/u/1111551?v=4","gravatar_id":"","url":"https://api.github.com/users/ottobackwards","html_url":"https://github.com/ottobackwards","followers_url":"https://api.github.com/users/ottobackwards/followers","following_url":"https://api.github.com/users/ottobackwards/following{/other_user}","gists_url":"https://api.github.com/users/ottobackwards/gists{/gist_id}","starred_url":"https://api.github.com/users/ottobackwards/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ottobackwards/subscriptions","organizations_url":"https://api.github.com/users/ottobackwards/orgs","repos_url":"https://api.github.com/users/ottobackwards/repos","events_url":"https://api.github.com/users/ottobackwards/events{/privacy}","received_events_url":"https://api.github.com/users/ottobackwards/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T10:53:31Z","updated_at":"2020-09-30T10:53:31Z","author_association":"CONTRIBUTOR","body":"That sounds reasonable.  I'll do that","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701315803/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701453900","html_url":"https://github.com/apache/nifi/pull/4513#issuecomment-701453900","issue_url":"https://api.github.com/repos/apache/nifi/issues/4513","id":701453900,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTQ1MzkwMA==","user":{"login":"grego33","id":1373266,"node_id":"MDQ6VXNlcjEzNzMyNjY=","avatar_url":"https://avatars.githubusercontent.com/u/1373266?v=4","gravatar_id":"","url":"https://api.github.com/users/grego33","html_url":"https://github.com/grego33","followers_url":"https://api.github.com/users/grego33/followers","following_url":"https://api.github.com/users/grego33/following{/other_user}","gists_url":"https://api.github.com/users/grego33/gists{/gist_id}","starred_url":"https://api.github.com/users/grego33/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/grego33/subscriptions","organizations_url":"https://api.github.com/users/grego33/orgs","repos_url":"https://api.github.com/users/grego33/repos","events_url":"https://api.github.com/users/grego33/events{/privacy}","received_events_url":"https://api.github.com/users/grego33/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T15:10:39Z","updated_at":"2020-09-30T15:10:39Z","author_association":"NONE","body":"I've not built and tested this but the code looks good.  Very clear.  I can see how simply specifying a comma-separated list of form names will result in http.param.XXX FlowFile attributes.  This will be nice as it will even allow simplification of some flows to eliminate UpdateAttribute processors whose job is just to trim out unwanted attributes.\r\n\r\nI'm happy to build/test as well.  I should be able to do that this week.  But wanted to give *some* response since I just realized you've been waiting for me for quite a while.  Apologies about that - I didn't notice until your \"touch\" comment.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701453900/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701474245","html_url":"https://github.com/apache/nifi/pull/4562#issuecomment-701474245","issue_url":"https://api.github.com/repos/apache/nifi/issues/4562","id":701474245,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTQ3NDI0NQ==","user":{"login":"markap14","id":184268,"node_id":"MDQ6VXNlcjE4NDI2OA==","avatar_url":"https://avatars.githubusercontent.com/u/184268?v=4","gravatar_id":"","url":"https://api.github.com/users/markap14","html_url":"https://github.com/markap14","followers_url":"https://api.github.com/users/markap14/followers","following_url":"https://api.github.com/users/markap14/following{/other_user}","gists_url":"https://api.github.com/users/markap14/gists{/gist_id}","starred_url":"https://api.github.com/users/markap14/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/markap14/subscriptions","organizations_url":"https://api.github.com/users/markap14/orgs","repos_url":"https://api.github.com/users/markap14/repos","events_url":"https://api.github.com/users/markap14/events{/privacy}","received_events_url":"https://api.github.com/users/markap14/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T15:42:49Z","updated_at":"2020-09-30T15:42:49Z","author_association":"CONTRIBUTOR","body":"Thanks @mattyb149 +1 merged to main\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701474245/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706371","html_url":"https://github.com/apache/nifi/pull/4460#issuecomment-701706371","issue_url":"https://api.github.com/repos/apache/nifi/issues/4460","id":701706371,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTcwNjM3MQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T23:55:33Z","updated_at":"2020-09-30T23:55:33Z","author_association":"CONTRIBUTOR","body":"@jfrazee @joewitt updated with the `ARG` so it's parameterized, with a default to JDK 8. Let me know what you think.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706371/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706721","html_url":"https://github.com/apache/nifi/pull/4547#issuecomment-701706721","issue_url":"https://api.github.com/repos/apache/nifi/issues/4547","id":701706721,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTcwNjcyMQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T23:56:53Z","updated_at":"2020-09-30T23:56:53Z","author_association":"CONTRIBUTOR","body":"@pvillard31 do you want me to do that?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706721/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706810","html_url":"https://github.com/apache/nifi/pull/4564#issuecomment-701706810","issue_url":"https://api.github.com/repos/apache/nifi/issues/4564","id":701706810,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTcwNjgxMA==","user":{"login":"YolandaMDavis","id":1371858,"node_id":"MDQ6VXNlcjEzNzE4NTg=","avatar_url":"https://avatars.githubusercontent.com/u/1371858?v=4","gravatar_id":"","url":"https://api.github.com/users/YolandaMDavis","html_url":"https://github.com/YolandaMDavis","followers_url":"https://api.github.com/users/YolandaMDavis/followers","following_url":"https://api.github.com/users/YolandaMDavis/following{/other_user}","gists_url":"https://api.github.com/users/YolandaMDavis/gists{/gist_id}","starred_url":"https://api.github.com/users/YolandaMDavis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/YolandaMDavis/subscriptions","organizations_url":"https://api.github.com/users/YolandaMDavis/orgs","repos_url":"https://api.github.com/users/YolandaMDavis/repos","events_url":"https://api.github.com/users/YolandaMDavis/events{/privacy}","received_events_url":"https://api.github.com/users/YolandaMDavis/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-09-30T23:57:08Z","updated_at":"2020-09-30T23:57:08Z","author_association":"CONTRIBUTOR","body":"@markap14 I've tested this fix using the prometheus metrics endpoint and was able to see expected values appear for bytes for nifi_amount_bytes_sent and nifi_amount_bytes_received using GetTwitter and PutFile processors.  Previously these values were appearing as 0.  Also validated that fetch events were rolled into received metrics (using InvokedHttp processor). FlowFile metrics for received and sent are also showing as expected.\r\n\r\nLGTM +1\r\n\r\nWill merge shortly","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701706810/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701710302","html_url":"https://github.com/apache/nifi/pull/4204#issuecomment-701710302","issue_url":"https://api.github.com/repos/apache/nifi/issues/4204","id":701710302,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMTcxMDMwMg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T00:09:31Z","updated_at":"2020-10-01T00:09:31Z","author_association":"CONTRIBUTOR","body":"@levilentz can you take a look at this and get back to me on what improvements you made need to be incorporated?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/701710302/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702121443","html_url":"https://github.com/apache/nifi/pull/4560#issuecomment-702121443","issue_url":"https://api.github.com/repos/apache/nifi/issues/4560","id":702121443,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjEyMTQ0Mw==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T13:06:37Z","updated_at":"2020-10-01T13:06:37Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran tests and verified results were as expected. Thanks for the improvement! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702121443/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702137249","html_url":"https://github.com/apache/nifi/pull/4560#issuecomment-702137249","issue_url":"https://api.github.com/repos/apache/nifi/issues/4560","id":702137249,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjEzNzI0OQ==","user":{"login":"naddym","id":10363056,"node_id":"MDQ6VXNlcjEwMzYzMDU2","avatar_url":"https://avatars.githubusercontent.com/u/10363056?v=4","gravatar_id":"","url":"https://api.github.com/users/naddym","html_url":"https://github.com/naddym","followers_url":"https://api.github.com/users/naddym/followers","following_url":"https://api.github.com/users/naddym/following{/other_user}","gists_url":"https://api.github.com/users/naddym/gists{/gist_id}","starred_url":"https://api.github.com/users/naddym/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/naddym/subscriptions","organizations_url":"https://api.github.com/users/naddym/orgs","repos_url":"https://api.github.com/users/naddym/repos","events_url":"https://api.github.com/users/naddym/events{/privacy}","received_events_url":"https://api.github.com/users/naddym/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T13:32:00Z","updated_at":"2020-10-01T13:32:00Z","author_association":"CONTRIBUTOR","body":"Thanks @mattyb149 ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702137249/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702176664","html_url":"https://github.com/apache/nifi/pull/4510#issuecomment-702176664","issue_url":"https://api.github.com/repos/apache/nifi/issues/4510","id":702176664,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjE3NjY2NA==","user":{"login":"turcsanyip","id":35004384,"node_id":"MDQ6VXNlcjM1MDA0Mzg0","avatar_url":"https://avatars.githubusercontent.com/u/35004384?v=4","gravatar_id":"","url":"https://api.github.com/users/turcsanyip","html_url":"https://github.com/turcsanyip","followers_url":"https://api.github.com/users/turcsanyip/followers","following_url":"https://api.github.com/users/turcsanyip/following{/other_user}","gists_url":"https://api.github.com/users/turcsanyip/gists{/gist_id}","starred_url":"https://api.github.com/users/turcsanyip/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turcsanyip/subscriptions","organizations_url":"https://api.github.com/users/turcsanyip/orgs","repos_url":"https://api.github.com/users/turcsanyip/repos","events_url":"https://api.github.com/users/turcsanyip/events{/privacy}","received_events_url":"https://api.github.com/users/turcsanyip/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T14:31:40Z","updated_at":"2020-10-01T14:31:40Z","author_association":"CONTRIBUTOR","body":"Licensing info is missing from the nar modules. `LICENSE` / `NOTICE` files need to be added with entries to the referenced libraries (eg. `hazelcast`).","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702176664/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702209932","html_url":"https://github.com/apache/nifi/pull/4221#issuecomment-702209932","issue_url":"https://api.github.com/repos/apache/nifi/issues/4221","id":702209932,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjIwOTkzMg==","user":{"login":"anaylor","id":61026014,"node_id":"MDQ6VXNlcjYxMDI2MDE0","avatar_url":"https://avatars.githubusercontent.com/u/61026014?v=4","gravatar_id":"","url":"https://api.github.com/users/anaylor","html_url":"https://github.com/anaylor","followers_url":"https://api.github.com/users/anaylor/followers","following_url":"https://api.github.com/users/anaylor/following{/other_user}","gists_url":"https://api.github.com/users/anaylor/gists{/gist_id}","starred_url":"https://api.github.com/users/anaylor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anaylor/subscriptions","organizations_url":"https://api.github.com/users/anaylor/orgs","repos_url":"https://api.github.com/users/anaylor/repos","events_url":"https://api.github.com/users/anaylor/events{/privacy}","received_events_url":"https://api.github.com/users/anaylor/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T15:21:07Z","updated_at":"2020-10-01T15:21:07Z","author_association":"NONE","body":"Hey @taftster I was planning on pulling in your changes to my existing branch but it would probably make more sense just to smash my changes onto here instead of opening a new PR. Its still just a link for now but intend on making it look nice. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702209932/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702239736","html_url":"https://github.com/apache/nifi/pull/4221#issuecomment-702239736","issue_url":"https://api.github.com/repos/apache/nifi/issues/4221","id":702239736,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjIzOTczNg==","user":{"login":"taftster","id":7379639,"node_id":"MDQ6VXNlcjczNzk2Mzk=","avatar_url":"https://avatars.githubusercontent.com/u/7379639?v=4","gravatar_id":"","url":"https://api.github.com/users/taftster","html_url":"https://github.com/taftster","followers_url":"https://api.github.com/users/taftster/followers","following_url":"https://api.github.com/users/taftster/following{/other_user}","gists_url":"https://api.github.com/users/taftster/gists{/gist_id}","starred_url":"https://api.github.com/users/taftster/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/taftster/subscriptions","organizations_url":"https://api.github.com/users/taftster/orgs","repos_url":"https://api.github.com/users/taftster/repos","events_url":"https://api.github.com/users/taftster/events{/privacy}","received_events_url":"https://api.github.com/users/taftster/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T16:08:43Z","updated_at":"2020-10-01T16:08:43Z","author_association":"NONE","body":"OK @anaylor - I'll follow your lead.  If you come up with a better design, then I can grab your commits and add them here.  Or you can grab my commits and we'll merge your branch.  Either way, whatever is easiest.\r\n\r\nAnd if you end up taking on the comment above (to deprecate the original api method, not remove it), that would be great too.  But if you don't get to that, I will do it.\r\n\r\nIn short, I will follow your lead here.  Just let me know how to support.\r\n","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702239736/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702386711","html_url":"https://github.com/apache/nifi/pull/4460#issuecomment-702386711","issue_url":"https://api.github.com/repos/apache/nifi/issues/4460","id":702386711,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjM4NjcxMQ==","user":{"login":"jfrazee","id":47344,"node_id":"MDQ6VXNlcjQ3MzQ0","avatar_url":"https://avatars.githubusercontent.com/u/47344?v=4","gravatar_id":"","url":"https://api.github.com/users/jfrazee","html_url":"https://github.com/jfrazee","followers_url":"https://api.github.com/users/jfrazee/followers","following_url":"https://api.github.com/users/jfrazee/following{/other_user}","gists_url":"https://api.github.com/users/jfrazee/gists{/gist_id}","starred_url":"https://api.github.com/users/jfrazee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jfrazee/subscriptions","organizations_url":"https://api.github.com/users/jfrazee/orgs","repos_url":"https://api.github.com/users/jfrazee/repos","events_url":"https://api.github.com/users/jfrazee/events{/privacy}","received_events_url":"https://api.github.com/users/jfrazee/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T20:43:48Z","updated_at":"2020-10-01T20:43:48Z","author_association":"MEMBER","body":"@MikeThomsen I'm going to nit on something. This being called `JAVA_VERSION` would make me think it'd be something like 11 or 1.8 or one of the many openjdk tags and not the base image name.\r\n\r\nThat brings up another question. What's the tradeoff between having the base image be completely specified vs. just a tag for the openjdk image?\r\n\r\nMy thinking is:\r\n\r\n1. If it  was just the tag for openjdk it's more likely the image will be as expected (since most but not all of the openjdk tags are Debian based).\r\n2. Whereas allowing the entire base image to be changed would let people use the released source to build images of their own, let's say hardened or approved images, with the drawback of it not working if they provide a non-Debian based image. (That said, it's very light on Debian assumptions, so there might be even some room for some easy changes to make it work with other distros later.)\r\n\r\nI think (2) is reasonable motivation.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702386711/reactions","total_count":2,"+1":2,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702411269","html_url":"https://github.com/apache/nifi/pull/4446#issuecomment-702411269","issue_url":"https://api.github.com/repos/apache/nifi/issues/4446","id":702411269,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjQxMTI2OQ==","user":{"login":"mattyb149","id":2124747,"node_id":"MDQ6VXNlcjIxMjQ3NDc=","avatar_url":"https://avatars.githubusercontent.com/u/2124747?v=4","gravatar_id":"","url":"https://api.github.com/users/mattyb149","html_url":"https://github.com/mattyb149","followers_url":"https://api.github.com/users/mattyb149/followers","following_url":"https://api.github.com/users/mattyb149/following{/other_user}","gists_url":"https://api.github.com/users/mattyb149/gists{/gist_id}","starred_url":"https://api.github.com/users/mattyb149/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mattyb149/subscriptions","organizations_url":"https://api.github.com/users/mattyb149/orgs","repos_url":"https://api.github.com/users/mattyb149/repos","events_url":"https://api.github.com/users/mattyb149/events{/privacy}","received_events_url":"https://api.github.com/users/mattyb149/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-01T21:36:22Z","updated_at":"2020-10-01T21:36:22Z","author_association":"CONTRIBUTOR","body":"+1 LGTM, ran contrib-check and verified expected behavior on FTP servers with and without UTF8 support. Thanks for the improvement! Merging to main","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702411269/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702476413","html_url":"https://github.com/apache/nifi/pull/4204#issuecomment-702476413","issue_url":"https://api.github.com/repos/apache/nifi/issues/4204","id":702476413,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMjQ3NjQxMw==","user":{"login":"levilentz","id":22281331,"node_id":"MDQ6VXNlcjIyMjgxMzMx","avatar_url":"https://avatars.githubusercontent.com/u/22281331?v=4","gravatar_id":"","url":"https://api.github.com/users/levilentz","html_url":"https://github.com/levilentz","followers_url":"https://api.github.com/users/levilentz/followers","following_url":"https://api.github.com/users/levilentz/following{/other_user}","gists_url":"https://api.github.com/users/levilentz/gists{/gist_id}","starred_url":"https://api.github.com/users/levilentz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/levilentz/subscriptions","organizations_url":"https://api.github.com/users/levilentz/orgs","repos_url":"https://api.github.com/users/levilentz/repos","events_url":"https://api.github.com/users/levilentz/events{/privacy}","received_events_url":"https://api.github.com/users/levilentz/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-02T01:15:31Z","updated_at":"2020-10-02T01:15:31Z","author_association":"CONTRIBUTOR","body":"> @levilentz can you take a look at this and get back to me on what improvements you made need to be incorporated?\r\n\r\n@MikeThomsen, the main changes that I have are the following: \r\n\r\n1. Allow for custom Jar specification \r\n2. Allow for custom Class import \r\n3. Allow for specification of Yaml connection string or file\r\n4. Logic to allow for more complex object returns from the groovy script (right now it only plays well with simple-ish objects) \r\n\r\n1, 2, and 3 are really important for connecting to services such as Janusgraph that are \"gremlin-compliant\" but are more efficient when you use their encoders/decoders. 4 is a nice to have and might be outside the scope of this Ticket. \r\n\r\nLet me know what you think and if you want me to add that code into this branch. \r\n\r\nThanks for all your work on this! This will be a really nice addition to the graph bundle. ","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/702476413/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703215005","html_url":"https://github.com/apache/nifi/pull/4547#issuecomment-703215005","issue_url":"https://api.github.com/repos/apache/nifi/issues/4547","id":703215005,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMzIxNTAwNQ==","user":{"login":"ofirmgr","id":9841636,"node_id":"MDQ6VXNlcjk4NDE2MzY=","avatar_url":"https://avatars.githubusercontent.com/u/9841636?v=4","gravatar_id":"","url":"https://api.github.com/users/ofirmgr","html_url":"https://github.com/ofirmgr","followers_url":"https://api.github.com/users/ofirmgr/followers","following_url":"https://api.github.com/users/ofirmgr/following{/other_user}","gists_url":"https://api.github.com/users/ofirmgr/gists{/gist_id}","starred_url":"https://api.github.com/users/ofirmgr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ofirmgr/subscriptions","organizations_url":"https://api.github.com/users/ofirmgr/orgs","repos_url":"https://api.github.com/users/ofirmgr/repos","events_url":"https://api.github.com/users/ofirmgr/events{/privacy}","received_events_url":"https://api.github.com/users/ofirmgr/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-04T07:24:18Z","updated_at":"2020-10-04T07:24:28Z","author_association":"CONTRIBUTOR","body":"sorry for the delay. I just created jira issue and updated the title","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703215005/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703281222","html_url":"https://github.com/apache/nifi/pull/4567#issuecomment-703281222","issue_url":"https://api.github.com/repos/apache/nifi/issues/4567","id":703281222,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMzI4MTIyMg==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-04T16:34:57Z","updated_at":"2020-10-04T16:34:57Z","author_association":"CONTRIBUTOR","body":"@pvillard31 this is a shortcut that doesn't require you to mess with EL, so you can group the update with a few more record path statements in `UpdateRecord`.\r\n\r\n(Jira appears to be done at the moment, so answering you here)","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703281222/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703288148","html_url":"https://github.com/apache/nifi/pull/4569#issuecomment-703288148","issue_url":"https://api.github.com/repos/apache/nifi/issues/4569","id":703288148,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMzI4ODE0OA==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-04T17:28:06Z","updated_at":"2020-10-04T17:28:06Z","author_association":"CONTRIBUTOR","body":"@joewitt Added a small ASL-licensed dependency. Where should the L&N notice go?","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703288148/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703293195","html_url":"https://github.com/apache/nifi/pull/4570#issuecomment-703293195","issue_url":"https://api.github.com/repos/apache/nifi/issues/4570","id":703293195,"node_id":"MDEyOklzc3VlQ29tbWVudDcwMzI5MzE5NQ==","user":{"login":"MikeThomsen","id":108184,"node_id":"MDQ6VXNlcjEwODE4NA==","avatar_url":"https://avatars.githubusercontent.com/u/108184?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeThomsen","html_url":"https://github.com/MikeThomsen","followers_url":"https://api.github.com/users/MikeThomsen/followers","following_url":"https://api.github.com/users/MikeThomsen/following{/other_user}","gists_url":"https://api.github.com/users/MikeThomsen/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeThomsen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeThomsen/subscriptions","organizations_url":"https://api.github.com/users/MikeThomsen/orgs","repos_url":"https://api.github.com/users/MikeThomsen/repos","events_url":"https://api.github.com/users/MikeThomsen/events{/privacy}","received_events_url":"https://api.github.com/users/MikeThomsen/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2020-10-04T18:06:58Z","updated_at":"2020-10-04T18:06:58Z","author_association":"CONTRIBUTOR","body":"@joewitt added a small ASL-licensed dependency. Not sure where it should go for L&N purposes.","reactions":{"url":"https://api.github.com/repos/apache/nifi/issues/comments/703293195/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}]